[2022-01-17 11:21] StevenLeiZhang commented on #3108
After debugging, here is my investigation:

If user specify need namespace vela-system in addon's metadata as below
[code]

When vela enables this addon, it renders Application of addon, and one namespace Component is attached to Application

[code]

"vela-system" namespace is patched some labels as below:

[code]

So, this addon could be enabled normally, but when user disable this addon, both th

[2022-01-17 12:01] #3098 closed

[2022-01-17 12:02] #3108 closed

[2022-01-18 01:28] wxuedong commented on #3088
argo-rollout 组件实现定义

[2022-01-18 01:32] wxuedong commented on #3088
特征skywalking 实现定义

[code]

[2022-01-18 02:52] #3029 closed

[2022-01-18 03:00] Alpacius commented on #3105
Solved in release 1.2.1. Issue closed.

[2022-01-18 03:00] #3105 closed

[2022-01-18 05:40] #2991 closed

[2022-01-18 06:13] Somefive commented on #3088
Currently the minimum Kubernetes version we officially support is 1.18. Not sure if the k8s version 1.16 affects anything.
Besides, we recommend you to try the latest KubeVela version like 1.2.0+.

As for you case, would you mind to try to create an application with the skywalking trait instead of adding it after application created? You can check if there is problems with the skywalking trait or

[2022-01-18 10:59] #3093 closed

[2022-01-18 13:47] StevenLeiZhang opened #3121 "vela-core v1.2.1 can not be installed with images stored in private docker registry"
**Describe the bug**
vela-core v1.2.1 can not be installed with the images  stored in private docker registry
"imagePullSecrets" is declared in Values.yaml, but not used in some helm template yaml

**To Reproduce**

Steps to reproduce the behavior:
1. push vela official images to private docker registry
2. create ns manually
`kubectl create ns vela-system `
2. create secret used to pull image with

[2022-01-19 02:07] kinsolee opened #3123 "[BUG] existing resource with same render-hash of desired resource was patched again"
**Describe the bug**

If the render-resource's hash doesn't change, the existing resource should not be applied.

**To Reproduce**
Let's say we have an application with a scaler:

[code]

Then we have an deploy with `labels.oam.dev/render-hash=8729dd851d006643`

[code]

Now we manually scale deployment it to zero.

[code]

Then we restart the workflow:
[code]
Note that the render-hash remains the

[2022-01-19 02:28] caiwenhao opened #3127 "[Bug] Helm Chart 方式交付部署某些chart失败"
[code]

Normal  error  18s  helm-controller  reconciliation failed: Helm install failed: rendered manifests contain a resource that already exists. Unable to continue with install: PodSecurityPolicy "grafana" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; annotation validation error: key "meta.helm.sh/release-namespace" must equal "default": cur

[2022-01-19 03:48] FogDong commented on #3085
roll out problem /cc @wangyikewxgm

[2022-01-19 04:59] #3121 closed

[2022-01-19 05:07] wonderflow opened #3130 "vela CLI installation script not work for arm arch os"
**Describe the bug**

The script https://kubevela.io/script/install.sh not work in mac m1 chip.

**To Reproduce**

1. on mac m1
2. run `curl -fsSl https://kubevela.io/script/install.sh | bash -s 1.2.1`

**Expected behavior**

Install succeed.

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

Hope the script can be fixed

[2022-01-19 05:24] Somefive commented on #3123
This is a designed and expected behavior of StateKeep. The aim of StateKeep is to prevent configuration drift just like you described. If you do not want update the resource when render-hash is not changed, please use the [apply-once](https://github.com/oam-dev/kubevela/blob/master/docs/examples/app-with-policy/apply-once-policy/apply-once.md) policy.

[2022-01-19 08:00] kinsolee commented on #3123
I get it! What if I want to use apply-once policy as the default enabled policy without modifying all existing applications?

[2022-01-19 08:12] Somefive commented on #3123
Unfortunately, we do not provide a global setting for all applications for now. If you use KubeVela v1.2.0+, I'm afraid the current solution is to write a script and patch this apply-once policy to all applications.

Considering the development history of this feature, the mainstream idea of the Kubernetes Operator is to reconciling towards a desired claimed state. Therefore, using techniques like

[2022-01-19 09:42] kinsolee commented on #3123
Up until now, I think `StateKeep` feature is hard to control for our team.

Since kubevela performs `threeWayMergePatch` apply strategy, resource fields not covered by application traits will not be "StateKeep". For instance, if an application without `scalar` trait generates a 1-replica `deployment` and we scale its replicas to 0, kubevela won't scale it back to 1 replicas. But when we use `scala

[2022-01-20 01:54] wonderflow commented on #3123
You shouldn't use the `StateKeep` if your resources is controlled beyond kubevela. We introduce to use `applyOnce` policy. https://github.com/oam-dev/kubevela/blob/master/docs/examples/app-with-policy/apply-once-policy/apply-once.md

[2022-01-20 02:48] kinsolee commented on #3123
Thanks for your replies. We will tackle this issue using `applyOnce` policy as you mentioned.

[2022-01-20 02:48] #3123 closed

[2022-01-20 04:03] Somefive commented on #3130
Fixed in https://github.com/oam-dev/kubevela.io/pull/457.

[2022-01-20 04:03] #3130 closed

[2022-01-21 06:22] wonderflow commented on #2373
It's implemented as trigger in velaux https://kubevela.io/docs/how-to/dashboard/trigger/overview

[2022-01-21 06:22] #2373 closed

[2022-01-21 06:23] wonderflow commented on #1737
Now they're completely aligned in v1.2.0 https://github.com/oam-dev/kubevela/releases/tag/v1.2.1

[2022-01-21 06:23] #1737 closed

[2022-01-21 08:16] basuotian opened #3139 "[Feature] support rolling update when turning rollout traits into scaler"
**Is your feature request related to a problem? Please describe.**

when i update application from scaler traits to rollout traits, the old workload is running until the new workload is ready;
but when i update from rollout traits to scaler traits, the old workload will be deleting immediately

**Describe the solution you'd like**

support rolling update when update application from rollout traits

[2022-01-21 11:22] zzxwill opened #3141 "Print more useful information for addon local development"
**Describe the bug**

[code]

I tried to install a local addon `addons/terraform-tencent`, but I don't know what I have missed per the error message.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-01-22 05:45] zeed-w-beez opened #3144 "vela addon list error: resource name may not be empty"
**Describe the bug**
vela addon list get an error
[code]

**To Reproduce**
[code]

**KubeVela Version**
[code]

**Additional context**
[code]

[2022-01-23 02:27] wonderflow commented on #3144
Do you have connection to the url `https://addons.kubevela.net` in your Environment？

[2022-01-24 02:26] basuotian opened #3150 "can not scale application in rollout traits"
**Describe the bug**

Using rollout traits in scale-down case follow the offical doc:
[code]
As we don't fill `rolloutBatches` field, rollout-controller will fill it with the diff between current replicas and targetSize;
but in the next scale (like 5 ->  1), the rollout-controller will report an error because the batches mismatch to targetSize

**To Reproduce**

**Expected behavior**

support mult

[2022-01-24 06:38] wonderflow commented on #3085
I'm going to close this issue as the title described problem as been fixed in #3128

Please create a new one for the rollout issue, thanks.

[2022-01-24 06:38] #3085 closed

[2022-01-24 06:46] wonderflow commented on #2641
We have introduced a `--force` argument in `delete` command, you can use that for deleting, thanks!

[code]

[2022-01-24 06:46] #2641 closed

[2022-01-24 06:48] wonderflow commented on #2015
It's implemented now

[2022-01-24 06:48] #2015 closed

[2022-01-24 08:17] zzxwill commented on #2609
@hongchaodeng Thanks. And it's implemented per your design.

[2022-01-24 08:17] #2609 closed

[2022-01-25 03:23] zeed-w-beez commented on #3144
I am behind a company proxy but looks like network access is fine.

[code]

[2022-01-25 03:41] zeed-w-beez commented on #3144
some logs from vela-core:1.2.1
[code]

[2022-01-25 04:18] ranger-huang opened #3157 "[Feature] return http response status in pkg/builtin/http/http.go HTTPCmd.Run"
**Describe the solution you'd like**

希望利用 pkg/stdlib/op.cue中 的 #HTTPGet #HTTPPost 等http操作符，实现 业务服务的健康检查 的workflowStep Definition.

发现在 [./pkg/builtin/http/http.go#L130](https://github.com/oam-dev/kubevela/blob/2da60419fcf84b62149c61018cb91ba469520a63/pkg/builtin/http/http.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5B

[2022-01-25 05:19] wonderflow commented on #3157
good idea, would you like to contribute this feature?

[2022-01-25 06:13] hb-chen opened #3160 "When there is no default workflow run "deploy" get error `ErrWorkflowNotExist`"
When there is no default workflow run "deploy" get error `ErrWorkflowNotExist: "application workflow is not exist"`. I don't know why, because I didn't know the default Workflow concept at first.

Perhaps it is clearer to return `ErrWorkflowNoDefault: "application default workflow is not exist"`.
Or make "deploy" unavailable in the front end with a "No Default Workflow"  tips.

https://github.com/

[2022-01-25 11:50] zzxwill opened #3166 "When terraform addon isn't enabled, the status of application keeps being unhealthy"
**Describe the bug**

When Terraform addon isn't enabled (Terraform controller Pod doesn't exist), the status of application keeps being unhealthy. And no more detailed information is shown in `vela status`

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-01-26 02:49] zzxwill commented on #2595
This feature is lost and we should implement it based on the new architecture of Addon.

[2022-01-26 06:43] dengqian opened #3168 "[Bug] TraitDefinition updating triggers Application and Pod updating"
**Describe the bug**
Version: v1.2.1
Bug describe :
I updated a TraitDefinition which will change pod template, after updating the TraitDefinition, all my Application using this trait triggered reconcile and all my pod updated.

my application yaml:

[code]

[2022-01-26 06:49] tossmilestone commented on #3168
I think I could help to fix it

[2022-01-26 08:11] tossmilestone commented on #3168
@Somefive Is this a behavior by design?

[2022-01-26 13:33] nemo-xue commented on #3144
I have the same issue. It is my first time installing vela and enabling an addon.
I'm following steps at https://kubevela.io/docs/install
vela version: 1.2.2

[2022-01-28 08:23] Somefive commented on #2637
Supported in vela 1.2.

[2022-01-28 08:23] #2637 closed

[2022-01-28 09:01] Somefive opened #3177 "[Feature] Multi-Cluster Information Report Plugin"
### What we need

With the advancement of [ClusterGateway](https://github.com/oam-dev/cluster-gateway), we should support providing more cluster information, such as the health status, available cpu cores, whether it is a GPU cluster, the stability of connections with KubeVela control plane, and so on. Generally, the cluster information could be highly extensible.

### Benefits of having it

With

[2022-01-28 09:35] Somefive opened #3178 "[Feature] VelaQL for Observability"
### What we need

VelaQL in KubeVela is powerful and currently is widely used in the implementation of api-server interfaces for VelaUX. It is easy for user to write a single line VelaQL sentence to query the pods behind an application or even collecting logs inside. Now user can only leverage this capability through KubeVela api-server. If we can integrate it into observability system, it would b

[2022-01-29 01:52] zzxwill opened #3179 "Terraform typed ComponentDefinition generation issues"
**Describe the bug**

- [ ] When a variable's type isn't specified, set it to `string`

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-01-29 02:21] barnettZQG opened #3180 "The gateway trait overwrites the service created by exposing the service port."
**Describe the bug**
The service should be determined by whether the port is exposed, the gateway trait only generates the Ingress.

**To Reproduce**
1. exposing service port for the webservice component.
2. add gateway trait.

**KubeVela Version**
1.2.2

[2022-01-29 10:23] zzxwill opened #3182 "When the dependencies of a local addon are not enabled, an error occurred"
**Describe the bug**

When the dependencies of a local addon are not enabled, an error occurred.

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-01-29 10:25] zzxwill opened #3183 "When a local addon's path is not right, the error message does not correctly indicate the issue"
**Describe the bug**

When a local addon's path is not right, the error message does not correctly indicate the issue

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-02-01 10:46] gedw99 commented on #1400
@wonderflow
Its now fixed as of a few days ago and released.

worth giving it a try...

[2022-02-01 13:32] JooKS-me commented on #2604
Hi, this issue looks like it has been resolved, is that so?

[2022-02-04 21:50] jguionnet opened #3186 "kubevela panic: runtime error: invalid memory address when installing"
**Describe the bug**

kubevela panic: runtime error: invalid memory address

kubevela-vela-core-574b6fbd7c-sc6bv kubevela I0204 21:35:20.954613       1 capability.go:599] "Successfully update Capability Schema in ConfigMap" configMap="vela-system/component-schema-aws-subnet-v1"
kubevela-vela-core-574b6fbd7c-sc6bv kubevela panic: runtime error: invalid memory address or nil pointer dereference
kube

[2022-02-05 07:30] JooKS-me opened #3188 "Observability addon install failed"
**Describe the bug**

Observability addon install failed.

It say: Fetch repository successfully, Delivery helm release in progress, message: install retries exhausted, Helm install failed: timed out waiting for the condition Last Helm logs: creating 15 resource(s) beginning wait for 15 resources with timeout of 10m0s Service does not have load balancer ingress IP address: vela-system/grafana

- h

[2022-02-05 12:59] JooKS-me commented on #3188
I found the reseaon :)
Because I running on kind cluster, and it's not support `LoadBalancer` type service, and in the addon repo, it's the fixed LoadBalancer (https://github.com/oam-dev/catalog/blob/8dc0f1c9392cc4720b04362f8798286ffeec6388/experimental/addons/observability/resources/grafana.cue#L13) .
And then I modify `LoadBalancer` to `ClusterIP`, it became successful~

Thus, should we make the

[2022-02-06 09:53] huoyongpeng opened #3190 "[Feature] Applications synchronization between cli and velaux"
**Is your feature request related to a problem? Please describe.**

At the moment, vela cli can manage applications created by velaux, but not the other way around.

**Describe the solution you'd like**

 Applications created by cli should be visible in velaux.

**Describe alternatives you've considered**

Both cli and velaux should operate through apiserver.  Apiserver pod should bundle with vela

[2022-02-07 02:44] tangwz commented on #3010
Should I add this plugin in https://github.com/oam-dev/catalog? @FogDong

[2022-02-07 07:31] zzxwill opened #3191 "Failed to generate OpenAPI schema for aws-subnet"
**Describe the bug**

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

Kubernetes 1.20 and Kubevela : 1.2.2

**Cluster information**

**Additional context**

[2022-02-07 08:52] JooKS-me commented on #3177
@Somefive @wonderflow Hi, I am a junior in NEU, I'm interested in this issue and want to get mentored in LXF Mentorship, so I have submitted an application in the LXF system. I have made observability related contributions to some open source projects, such as Apache ShardingSphere, ShenYu. After a few days of study, I have a lot of understanding and thinking about KubeVela, and I hope to contribu

[2022-02-07 09:20] rtrive commented on #2319
I'm using vela-core 1.2.2 but this problem is still here for me. The error that I get is `couldn't get resource list for cluster.core.oam.dev/v1alpha1: the server is currently unable to handle the request`

[2022-02-07 23:48] iamrajiv commented on #2442
Hi @zzxwill, I want to contribute to this project for GSoC 2022, can you guide me on how can I get started with this project?

[2022-02-08 01:36] #2810 closed

[2022-02-08 02:08] zzxwill commented on #2442
@iamrajiv Great. Could you please send me an email at zzxwill@gmail.com with your self-introduction? Thanks.

[2022-02-08 02:16] #3191 closed

[2022-02-08 02:27] wonderflow commented on #3186
Can you help provide more logs? It should have some code line

[2022-02-08 02:32] zzxwill commented on #3186
@jguionnet Did you see any logs like those in https://github.com/oam-dev/kubevela/issues/3191? Can you try `kubectl delete componentdefinition aws-subnet -n vela-system` and see whether it works?

[2022-02-08 03:38] TonyBian opened #3195 "[Feature]helm 部署的组件，repoType 为 git 时，支持指定 values.yaml 文件来覆盖默认配置"
需求描述：

helm 部署的组件，当 repoType 为 git 时：
1. 支持指定 values.yaml 文件来覆盖默认配置
2. policies[].properties.envs[].selector.components 指定的组件符合条件时，patch 支持指定 values.yaml 文件来覆盖默认配置

[2022-02-08 05:23] miyoosan opened #3198 "[Feature]为gitops添加友好强大的debug能力"
**Is your feature request related to a problem? Please describe.**
当前gitops模式下，debug 非常困难，出了问题只有少量错误提示，难以排查解决，往往只能求助maintainer，这不太合理

**Describe the solution you'd like**
通过CLI可以查看出错堆栈，或者更上层的有用错误信息，方便确定出错原因。

**Describe alternatives you've considered**

**Additional context**

[2022-02-08 05:27] wonderflow opened #3199 "Get component type in trait definition"
### Discussed in https://github.com/oam-dev/kubevela/discussions/3172

<div type='discussions-op-text'>

<sup>Originally posted by **hprotzek** January 28, 2022</sup>
Is there a way to get in a trait definition, the type of component to which the trait belongs? e.g. for Keda ScaledObject I need to know which kind I need to scale.
[code]

Using a parameter feels awkward and duplicated.</div>

[2022-02-08 06:28] FogDong commented on #3198
/assign

[2022-02-08 06:47] wonderflow commented on #3183
yes, it should point out the directory not found, e.g.:

[code]

[2022-02-08 06:51] wonderflow commented on #3188
Yes, in fact the default type should be `ClusterIP`

[2022-02-08 08:26] #3199 closed

[2022-02-08 09:03] workman-Lu opened #3203 "New Traits UI problem"
**Describe the bug**

there was a UI Problem when i New the Traits.

**To Reproduce**

http://$url/applications/$project/config

**Screenshots**

![image](https://user-images.githubusercontent.com/23043492/152952092-415e3760-67f1-4dc1-93b7-0f594a6b6c81.png)

**KubeVela Version**
kubevela v1.2.2

**Cluster information**

K8S v1.21.0

**Additional context**

applications->baseconfig->properties->new

[2022-02-08 09:34] FogDong opened #3205 "[Feature] Improve the capabilities of KubeVela GitOps to make it a standalone Addon"
**Is your feature request related to a problem? Please describe.**

Right now the capability of KubeVela GitOps is integrated into `fluxcd` addon, but `fluxcd` is just one implementation of GitOps.

We should separate GitOps to a standalone addon and make it easy to debug.

For more infomation of KubeVela GitOps, please refer to [Using GitOps + KubeVela for Application Continuous Delivery](https:/

[2022-02-08 09:50] phantomnat opened #3206 "[Feature] Support custom CUE providers"
**Is your feature request related to a problem? Please describe.**

I do have a requirement to implement internal logics in Kube Vela and execute that via workflow.
After scan through the codes, I think it would be great if we can provide a way to load custom CUE providers since a lot of workflow steps were implemented in Golang.

**Describe the solution you'd like**

Have a way to load a custom p

[2022-02-08 10:03] dengqian commented on #3168
I update the definition of this trait:
[code]
The new version will add labels in "appLabels" to pod, the old version just ignored parameter "appLabels", after updating this traitdefinition, old application who has parameter "appLabels" triggered pod updating

[2022-02-09 02:37] barnettZQG commented on #3203
The issues about the velaux move to https://github.com/oam-dev/velaux/issues/346

[2022-02-09 02:37] #3203 closed

[2022-02-09 03:25] Somefive commented on #3168
Currently, KubeVela does not have a designed mechanism that will **trigger** application update when TraitDefinition changes.

However, there is the StateKeep mechanism that will bring application state to desired state from time to time (which is 5min by default in v1.2). Therefore, if you edit the TraitDefinition, the desired state of those applications will change and they will be updated when

[2022-02-09 07:46] tossmilestone commented on #3168
@Somefive Can we keep the trait to use the old definition version even we update the appliation?

[2022-02-09 07:51] Somefive commented on #3168
@tossmilestone We are working on a patch to do so. This should be used as the default behavior. Thanks for the advice.

[2022-02-09 11:17] #3188 closed

[2022-02-09 11:49] JooKS-me commented on #3183
Hi, I think we should be clear about this question:
`./sfsfjsdlfjsdlfjsdlfjsd` is a path, but `sfsfjsdlfjsdlfjsdlfjsd` is a local path or not?

If the latter cannot be a local path, we only need to additionally check whether the `/` symbol is included.

However, if `sfsfjsdlfjsdlfjsdlfjsd` may be a local path or `./sfsfjsdlfjsdlfjsdlfjsd` is an addon in the repository, I think we should add a para

[2022-02-09 11:55] wonderflow commented on #3183
We follow the helm ux, so we should not add more flags here. We can simply regard `sfsfjsdlfjsdlfjsdlfjsd` as an addon in registry, only `./sfsfjsdlfjsdlfjsdlfjsd` or `sfsfjsdlfjsdlfjsdlfjsd/` is a local chart.

[2022-02-09 12:01] JooKS-me commented on #3183
Got it! Can I try to fix this issue?

[2022-02-09 12:44] saltbo opened #3219 "Error "bad certificate" for any addon when use the cert-manager"
**Describe the bug**
2022/02/09 12:38:24 http: TLS handshake error from 100.64.230.7:36528: remote error: tls: bad certificate

**To Reproduce**
[code]

[code]

guide from https://kubevela.io/docs/platform-engineers/advanced-install

then enable any addon
[code]

view the `kubevela-vela-core` logs

**Expected behavior**
no error

**Screenshots**
<img width="792" alt="image" src="https://user-image

[2022-02-09 21:06] iamrajiv commented on #2442
@zzxwill Great! I sent the mail.

[2022-02-10 02:58] lshmouse opened #3220 "Failed to install vela-core in user-defined namesapce: kubevela using helm"
**Describe the bug**

Failed to install vela-core in user-defined namesapce: kubevela using helm.

Is vela-core only be installed in namespaces "vela-system"?

**To Reproduce**

1, helm upgrade -i --create-namespace kubevela kubevela/vela-core --namespace kubevela

[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**

helm chart: vela-core-1.2.2

**Cluster information**

**Addition

[2022-02-10 03:06] barnettZQG commented on #3220
@lshmouse Installing to custom namespaces is currently not recommended.

[2022-02-10 03:40] #3168 closed

[2022-02-10 03:54] barnettZQG commented on #3220
https://github.com/oam-dev/kubevela/pull/3163 This PR may be fixed this issue.

[2022-02-10 04:07] wonderflow commented on #3220
You can try the new release v1.2.3 that includes the #3163

[2022-02-10 05:51] geffzhang commented on #3144
I'm having the same issue. It is my first time installing vela and enabling an addon.
I followed steps at https://kubevela.io/docs/install
vela version: 1.2.2
system: windows

[2022-02-10 05:53] Vrukshali-26 commented on #2442
Hi @zzxwill , I want to contribute to this project for GSoC 2022, I have sent you the mail regarding this.

[2022-02-10 06:23] saltbo commented on #2436
https://github.com/Homebrew/homebrew-core/pull/87046

I found this PR, completion setup blocks be removed?  how to implement completion?  @chenrui333

[2022-02-10 07:34] zzxwill commented on #2442
@iamrajiv Can you review this PR https://github.com/oam-dev/catalog/pull/245 and try whether it works in GCP? I noticed you have much experiences in GCP.

[2022-02-10 09:22] zzxwill opened #3224 "Terraform outputs from some ComponentDefinitions are not generated"
**Describe the bug**

When using `vela def doc-gen` to [generate documentation for a Terraform cloud resource](http://kubevela.net/docs/platform-engineers/components/component-terraform#generate-documentation), the outputs for Terraform configuration should be generated as below:

![image](https://user-images.githubusercontent.com/2805315/153376472-2fa5f3a4-13bb-4485-9650-2bfa7feaccb7.png)
http://

[2022-02-11 03:48] rainwolf01 opened #3226 "use cli vela install upgrade kubevela from 1.2.2 to 1.2.3 error"
**Describe the bug**
I want to upgrade kubevela core from 1.2.2 to 1.2.3, but get an error
[code]

**To Reproduce**
[code]

**Expected behavior**
upgrade 1.2.3 success~

**Screenshots**

**KubeVela Version**
[code]

**Cluster information**
[code]

[2022-02-11 11:31] wangyikewxgm opened #3229 "[Feature] Use ArgoCD to delivery helm type component"
**Is your feature request related to a problem? Please describe.**

Currently based `fluxcd` addon have many problems

1. such as too many crds and controllers, which due to fluxcd addon install failed too often.
2. applied resources have been recorded in `helmRelease`'s status.
3. hasn't support oci-registry helm repo

So I proposal make an argocd addon to let user choose use argo or flux to solv

[2022-02-14 02:08] wangcanfengxs opened #3233 "Duplicative route in Application webservice"
Code in https://github.com/oam-dev/kubevela/blob/master/pkg/apiserver/rest/webservice/application.go#L97.
There are two `updateApplication` routes.

[code]

[2022-02-14 02:33] #3226 closed

[2022-02-14 03:54] barnettZQG opened #3238 "Failed to connect cluster from cloud, but secret is created"
**Describe the bug**

Failed to connect cluster from the cloud in Velux, but `vela cluster list` show:
[code]

**To Reproduce**
The user does not have permission, so the cluster connect fail.

**Screenshots**
![image](https://user-images.githubusercontent.com/18493394/153797331-24e2e523-16f5-4708-906b-f4fcf54cefa0.png)

**KubeVela Version**
1.2.3

[2022-02-14 05:03] #3233 closed

[2022-02-14 09:20] shikingram opened #3245 "vela deleted deployment"
When I updated the application resource of vela, I found that the deployment resource `dp-1w2rxcemtydgn` was deleted by vela-core. This problem happened occasionally. I can't reproduce it by the same method. Can you tell me under what conditions vela will delete the deployment? so I can continue to troubleshoot.

The following is the api call log：
[code]

Below is the log of vela-core:

[code]

**

[2022-02-14 09:57] wonderflow commented on #3245
Would you mind to upgrade KubeVela version to v1.2.0+ ? A formal version is better than release candidate.

Please also provide some application yaml about this case.

[2022-02-14 10:05] Somefive commented on #3245
Resource will be deleted
1. when the deployment is not used by the latest version, and the latest application version has already turned into **running** phase.
2. or when the application is deleted.
3. or there is a step in workflow manually delete it
According to your scenario, I think it probably belongs to the first condition.

[2022-02-14 10:17] shikingram commented on #3245
@wonderflow

application yaml:
[code]

[2022-02-14 10:33] shikingram commented on #3245
@Somefive

thanks for reply, The revision of the application is unchanged. We found that it can store up to ten versions. When an error occurs, a new version is not created. After we modify the labels to restore the application, a new version is created.

[2022-02-14 10:44] Somefive commented on #3245
@shikingram You can run `kubectl get rt -w` to watch the underlying ResourceTracker and see how versions are changed. Could you give more details on `an error occurs`? Is it a rendering error? Or a resource dispatch error? Different types of error can lead to different outcomes.

[2022-02-14 10:54] Nicola115 opened #3251 "[Feature] Generate documentation for ComponentDefinition By local yaml files"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Vela now supports generating documentation for ComponentDefinition from the running application in vela-system namespace. For example, using following command to generate docs for alibaba-eip.  `vela def doc-gen alibaba-eip -n vela-system`

Can vela supports generating documentation for C

[2022-02-14 11:45] shikingram commented on #3245
Sorry I didn't make it clear, this error refers to the deployment being deleted

[2022-02-14 13:25] dengqian opened #3252 "[Bug] TraitDefinition updating triggers Application and Pod updating"
**Describe the bug**
last issue: https://github.com/oam-dev/kubevela/issues/3168  was not completedly solved,  I update my vela-core version to v1.2.3, and update trait definition the same way in https://github.com/oam-dev/kubevela/issues/3168 , and pods updated about ten minute after updating the trait definition. My application was like below,
[code]
the diff before and after the updating of tra

[2022-02-15 04:51] nashtsai opened #3253 "Helm charts missing README.md"
**Describe the bug**
Helm charts (charts/vela-core & charts/oam-runtime) missing README.md file, however, the released package seems to include github repo's README.md, there is an underlying problem that repo's README.md is using local referenced contents (check below) which caused display problem when showing chart's README

[code]

[2022-02-15 08:09] chwetion commented on #3219
Does your environment ever have kubevela installed without cert-manager, It may be that the admission secret generated by the last installation job was not cleaned up. You can try delete the secret first.

Could you provider more message use `kubectl describe secret -n vela-system kubevela-vela-core-admission`

[2022-02-15 08:20] saltbo commented on #3219
I had uninstall and delete all first.

I give up for the time being. If anyone else has the same problem, provider more message use kubectl describe secret -n vela-system kubevela-vela-core-admission

[2022-02-15 11:55] zzxwill opened #3261 "Nominate @wangwang as a Review member"
@wangwang is a contributor from [Youzan](https://www.youzan.com/) which is running KubeVela in its production system.

He has been actively contributing to KubeVela cloud resources and three of his pull requests have been merged.

- https://github.com/oam-dev/terraform-controller/pull/199
- https://github.com/oam-dev/terraform-controller/pull/197
- https://github.com/oam-dev/terraform-controller/p

[2022-02-15 12:26] wangyikewxgm opened #3262 "[Feature] addon cli support generate a basic skeleton"
**Is your feature request related to a problem? Please describe.**

vela addon should  help developer to make an addon more easily. I proposal add a command like  `vela addon init ./` will generate such as  `template.yaml ` `readme.md` files  in a dir.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-02-15 14:32] nashtsai opened #3263 "[BUG] Helm install doesn't support namespace other than vela-system"
**Describe the bug**
Helm install doesn't support namespace other than vela-system. It's observed following hardcoded `vela-system` value:

- under `/templates/`, `namespace: vala-system`
- `crds/core.oam.dev_applications.yaml`  file's elements: `.spec.conversion.webhook.clientConfig.service.namespace` and `.metadata.annotations.cert-manager.io/inject-ca-from`

**Expected behavior**
Chart able to

[2022-02-15 17:25] laotoutou opened #3264 "You need to enable JavaScript to run the velaux."
`vela addon enable velaux serviceType=NodePort repo=acr.kubevela.net`

and server return

so what happen?

[2022-02-16 01:44] barnettZQG commented on #3264
@laotoutou Are you disabled JavaScript in your brower?

[2022-02-16 02:44] laotoutou commented on #3264
No, Javascript is enabled.

[2022-02-16 02:46] barnettZQG commented on #3264
@laotoutou What is your browser type and version?

[2022-02-16 02:47] wonderflow commented on #3263
I have tested and succeed, please try following lines:

[code]

[2022-02-16 03:02] laotoutou commented on #3264
I stop firewalld （systemctl stop firewalld）on centos7，and then is ok.

[2022-02-16 03:06] #3264 closed

[2022-02-16 03:06] laotoutou commented on #3264
thank you~

[2022-02-16 04:36] nashtsai opened #3266 "[BUG] Helm test error"
**Describe the bug**
Helm test with following error log:

[code]

Suspected the tests are out dated using old `kubevela-vela-core` SA instead of `vela-core-vela-core` SA.

[code]

**To Reproduce**
`helm test <release>`

**KubeVela Version**
v1.2.3

**Cluster information**
v1.20.4

[2022-02-16 04:40] nashtsai commented on #3263
I've done another test, as keeping `crds/core.oam.dev_applications.yaml` file's `.spec.conversion` and `.metadata.annotations.cert-manager.io/inject-ca-from` elements and Helm installation were completed, and these 2 elements got overwritten correctly with correct NS name. Since these context will be patched, I would suggest removal of `.spec.conversion` and `.metadata.annotations.cert-manager.io/

[2022-02-16 04:40] nashtsai commented on #3263
I've done another test, as keeping `crds/core.oam.dev_applications.yaml` file's `.spec.conversion` and `.metadata.annotations.cert-manager.io/inject-ca-from` elements and Helm installation were completed, and these 2 elements got overwritten correctly with correct NS name. Since these context will be correct context will be patched, I would suggest removal of `.spec.conversion` and `.metadata.anno

[2022-02-16 06:20] #3183 closed

[2022-02-16 06:55] dengqian commented on #3070
但是对于一些代码的更新和操作，创建或更新application的时候没有报错，后续报错，客户端认为执行成功了，仍然比较违背这个语义

[2022-02-16 06:56] dengqian commented on #3070
是否可以做成一个可选功能，比如只有一个component的场景，至少保证可以apply成功再返回

[2022-02-16 07:02] zzxwill opened #3270 "When enabling Terraform baidu, users should be reminded to do face authentication"
**Describe the bug**

[code]

The doc about addon terraform-baidu should make a reminder of the need to do face authentication.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-02-16 07:09] barnettZQG commented on #3070
你说的返回是指什么返回？ API 调用的返回？

[2022-02-16 07:15] zzxwill opened #3271 "Enabling terraform-aws hit issues"
**Describe the bug**

An issue from Slack:

I have installed the kubevela-1.2.3 version(fresh installation, not upgrade), and I see the following issues I mentioned earlier.  Can you please take a look?
1) terraform-aws addon failing with the following error: (have updated vela cli version, Version: v1.2.3 GitRevision: git-fbef61d GolangVersion: go1.17.6)

[code]

I tried a couple of times, one or

[2022-02-16 07:16] zzxwill commented on #3271
I did not hit the issue in Kubernetes v1.20.11. My KubeVela version is the same as yours.

[code]

[2022-02-16 07:20] wangyikewxgm commented on #3271
What's the version youre vela cli ?

[2022-02-16 07:28] wonderflow commented on #3266
in which way did you install the helm ? I have tested and it runs well.

[2022-02-16 07:48] wonderflow commented on #3263
Yes, it's a good idea.

The project related is here: https://github.com/oam-dev/kube-webhook-certgen/blob/master/pkg/k8s/k8s.go#L124-L126

We should automatically inject values if these lines are empty.

[2022-02-16 07:53] wonderflow opened #3273 "[Feature] install configured built-in addon automatically after vela-core addon is enabled"
**Is your feature request related to a problem? Please describe.**

Now users need to enable addon manuelly after vela-core installed successfully, we need a way to configure the helm chart values and the configured addons can be installed automatically.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-02-16 08:56] StevenLeiZhang opened #3274 "vela status api can not return customized arguments of addon"
**Describe the bug**
"vela addon enable" command allows user input customized arguments as below:
[code]
but apiserver's vela status api can not return customized arguments of addon

**To Reproduce**

Steps to reproduce the behavior:
1.install kubevela v1.2.3
2.enable velaux with customized arguments
`vela addon enable velaux serviceType=NodePort repo=acr.kubevela.net`
3.open the webpage of velaux

[2022-02-16 09:30] shelimingming opened #3276 "WorkflowStepDefinition can not use “context.appName，context.appRevision...”"
**Describe the bug**
WorkflowStepDefinition can not use “context.appName，context.appRevision...”

**Expected behavior**
can use Context Variable in WorkflowStepDefinition

**Screenshots**
![image](https://user-images.githubusercontent.com/7992458/154235385-5daa118f-ed94-4c4a-ad1e-d80334818d7e.png)

<img width="1192" alt="image" src="https://user-images.githubusercontent.com/7992458/154235292-35182

[2022-02-16 11:23] #3274 closed

[2022-02-16 11:45] zzxwill commented on #3271
No cli. https://cloud-native.slack.com/archives/C01BLQ3HTJA/p1644994323212209?thread_ts=1643823128.606429&cid=C01BLQ3HTJA

[2022-02-16 13:52] nashtsai commented on #3266
cmd being:

`helm -n <NS> test <RELEASE-NAME>`

I did another run, and got a different failed result though:

[code]

[2022-02-17 03:58] FogDong opened #3279 "[Bug] The order of status displayed by vela ls is not correct"
**Describe the bug**

 The order of status displayed by vela ls is not correct.

**To Reproduce**

Have one application with more than three components.

Use vela ls:
[code]

It shows that the status of demo-training is `Available`, and jupyter is `Job Succeeded`.

Use vela status to show detatils:

[code]

It shows that the status of serving is`Available`, and the training is `Job Succeeded`.

**

[2022-02-17 08:14] tossmilestone opened #3281 "The json schema of trait `labels` is invalid"
**Describe the bug**

The generated json schema of trait `labels` is invalid:
[code]

So we cannot render the UI form from the schema.

**To Reproduce**

It's the built-in trait `labels`.

**Expected behavior**

The json schema should be represented as an object with key, value of string type.

**Screenshots**

**KubeVela Version**
1.2.0

**Cluster information**

**Additional context**

[2022-02-17 08:33] m448510639 opened #3282 "在velaux中添加cluster时的异常处理问题"
**Describe the bug**

在velaux中添加cluster发生异常时，前端页面没有把异常直接弹出异常提示，而是显示添加成功，不利于用户直接发现错误

**To Reproduce**

**Expected behavior**

期望在发生异常时，直接在前端可以提示异常信息

**Screenshots**

<img width="959" alt="lQLPDhsod8cszzfNAzDNB36w4FaPl6vRTnACEvnMkYCpAA_1918_816" src="https://user-images.githubusercontent.com/35212647/154436332-2093478a-af52-4a80-b306-1b31bc1c27b0.png">

**KubeVela Version**

1.2.3

**Cluster infor

[2022-02-17 08:49] #3281 closed

[2022-02-17 08:50] tossmilestone commented on #3281
Sorry, the schema is right, ignore the issue.

[2022-02-17 09:06] m448510639 opened #3283 "在velaux界面添加集群时，当cluster.server为代理域名时的异常"
**Describe the bug**

 在velaux界面添加集群的时候异常  "failed to join cluster: failed to create vela namespace in cluster asdasdasdas: failed to check vela-system : an error on the server (\"Internal Server Error: \\\"/apis/cluster.core.oam.dev/v1alpha1/clustergateways/asdasdasdas/proxy/api/v1/namespaces/vela-system\\\": failed creating cluster proxy client config asdasdasdas: address cls-m2j1v5w3.ccs.tencen

[2022-02-17 18:41] mayankkumar2 commented on #3279
@FogDong what is the expected order? Is it Job Succeded > Available?

[2022-02-18 02:10] wonderflow commented on #2728
@mayankkumar2 You can have a try, thanks

[2022-02-18 02:29] barnettZQG commented on #2958
Fixed by https://github.com/oam-dev/kubevela/pull/3275

[2022-02-18 02:30] #2364 closed

[2022-02-18 02:31] #2363 closed

[2022-02-18 03:01] FogDong commented on #3279
The expected order is:

[code]

In my definition, the jupyter does not have custom status, and the training's status is `Job Succeeded`, the serving's status is `Available`.

[2022-02-18 03:05] dongwenjuan opened #3287 "Can't deploy app for multi-clusters using OCM"
**Describe the bug**
Can't deploy app for multi-clusters using OCM

**To Reproduce**

Steps to reproduce the behavior:
1. use `vela cluster join ha3.kubeconfig --name cluster3 --engine ocm --in-cluster-boostrap=false ` to add managescluster

2. query managed cluster
`# vela cluster list`
CLUSTER         TYPE                            ENDPOINT
cluster3        OCM ManagedServiceAccount       -

`#

[2022-02-18 07:44] hprotzek opened #3296 "[BUG] Vela 1.2.3 fails to create pods in StatefulSet"
Running the example https://kubevela.io/docs/platform-engineers/cue/advanced with the StatefulSet end up in a StatefulSet without pods.

Same example worked in kubevela 1.1.x

We are running in gke 1.22.6

[2022-02-18 08:30] wonderflow commented on #3296
Thanks for reporting. It could be uncompatible with k8s 1.22+， we haven't tested that. Will check soon.

[2022-02-18 09:30] yuchang01 opened #3300 "trait env and storage cannot be used at the same time, using one of them ok"
**Describe the bug**

[code]

**To Reproduce**

[code]

[code]

**Expected behavior**

no error

**Screenshots**

**KubeVela Version**

[code]

**Cluster information**

[code]

**Additional context**

[2022-02-19 04:56] StevenLeiZhang commented on #3279
Hi @FogDong  , I tried to investigate and fix this. Please review my PR.

[2022-02-20 07:25] mayankkumar2 commented on #2728
@wonderflow I think this issue doesn't exist since https://github.com/oam-dev/kubevela/blob/master/references/cli/install.go uses https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.9.5/pkg/client/config#GetConfig which automatically gets the config from .kube/config if KUBECONFIG variable is not set.

[2022-02-21 02:26] wonderflow commented on #2728
@mayankkumar2 Thanks for investigation, let's closing this issue!

[2022-02-21 02:26] #2728 closed

[2022-02-21 03:16] Somefive commented on #3287
Currently, the combination of OCM and KubeVela might have some potential problems. The capability provided in KubeVela now relies on integrating OCM manually which makes it relatively hard to directly use OCM in KubeVela. We intend to fix this problem soon (possibly in 1.3). Could you introduce your scenario of using OCM in detail so that we can better fit you use case?

[2022-02-21 06:13] dongwenjuan commented on #3287
We don't have special scenarios, just want to deploy app in multi-clusters. The build-in multi-cluster function doesn't have the scheduler policy to config, so we try to use OCM for research.

[2022-02-21 08:00] Somefive commented on #3283
This problem is mainly caused by the DNS lookup on Kubernetes Pod. A temporary solution is to add hosts to Deployment of VelaUX and KubeVela api-server. https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/
KubeVela might optimize this problem in the future but currently not scheduled. Thanks for the reporting.

[2022-02-21 08:02] Somefive commented on #3287
@dongwenjuan We are planning to have a scheduler policy recently. Could you give more details on your demands for the scheduler? Like placing pods of a deployment across child clusters?

[2022-02-21 09:07] dongwenjuan commented on #3287
Hi Somefive，
    Just like other multi-clusters tools as KubeFed or Karmada scheduler policy: ReplicaScheduling、clusterAffinity、clusterTolerations、spreadConstraints、 resourceSelectors and so on.

[2022-02-21 09:13] Somefive commented on #3287
I see. ClusterAffinitiy & ResourceSelectors are WIP. ReplicaScheduling is planning and will be developed after the previous two. ClusterTolerations and SpreadContraints are in the proposing stage.

[2022-02-21 09:23] dongwenjuan commented on #3287
OK，got it. Thanks for your reply. Looking forword to see these functions online~

[2022-02-22 07:48] #3238 closed

[2022-02-22 08:23] wonderflow opened #3308 "webpage will crash with addon complicated args"
Hi @wangyikewxgm , I tried this new feature, but hit one issue.
1. input list arguments for 'vela addon enable'
[code]
2.The list is stored in Secret
 `"imagePullSecrets": "[myreg]",`

3.curl api-server
`curl 127.0.0.1:8000/api/v1/addons/velaux/status`
this api can not parse imagePullSecrets to List. It is string in
[code]

4.if you open velaux addon's details page on VelaUX webpage
The webpage wi

[2022-02-23 01:51] shikingram opened #3311 "[BUG]The application did not return the abnormal status in time"
**Describe the bug**
The application did not return the abnormal status in time

**To Reproduce**
The following are the operation steps：
[code]

**Expected behavior**
Hope that the status will feedback abnormally in time

**KubeVela Version**
oamdev/vela-core:v1.2.1

**Cluster information**
1.17

[2022-02-23 06:50] #3279 closed

[2022-02-23 11:50] FogDong commented on #3311
For Deployment, it has `Ready`, `up-to-date`, `available` to show its status:
[code]

Maybe we can add `up-to-date` in `webservice` status instead of change its `ready` logic.

[2022-02-24 06:22] zzxwill opened #3327 "Failed to deploy aws s3 application"
**Describe the bug**

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-02-24 15:02] rtrive commented on #3287
@Somefive what do you mean "relatively hard to directly use OCM in KubeVela"? Does it mean that is not possible at all or are there other ways to make it work?
My use case it to put deployment on child clusters

[2022-02-25 01:45] StevenLeiZhang commented on #3308
I have verified this issue, it is fixed by v1.2.4

[2022-02-25 01:45] zhulaoliu commented on #1662
Orgnization/Company: 木木森有限责任公司
Location: BeiJing, China
Contact: 1006616387@qq.com
Purpose/Scenario: Planning to use OAM model

[2022-02-25 01:50] StevenLeiZhang commented on #3245
Hi @shikingram
I noticed " type: t-deploy",  is this your customized component? If yes, I think you need check its CRD controller's log.
CR is managed by its controller, not vela-core.

[2022-02-25 02:03] shikingram commented on #3245
Thank you for your suggestion, I haven't encountered it so far, if I encounter it again I will check the CRD log

[2022-02-25 04:16] barnettZQG opened #3328 "An offline cluster cannot be deleted"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:
1. Join a new cluster.
2. Create an application and deploy it to this cluster.
3. Cluster arrears or other reasons go offline.
4. The application can not be deleted, because the cluster is offline.
5. The cluster can not be detached, because there are some applications.
6. The deadlock...

**KubeVela Version**

1.2.X

[2022-02-25 05:22] wonderflow commented on #3308
@StevenLeiZhang Thanks Steven!

[2022-02-25 05:22] #3308 closed

[2022-02-25 05:40] Somefive commented on #3328
This is currently a feature. Offline clusters could return back later. Therefore we could use `vela delete --force` command to solve this problem. There should be a more detailed mechanism to handle the garbage collection of resources in ResourceTracker, for example skip part of them.

[2022-02-25 05:43] Somefive commented on #3287
Putting deployment on child clusters in KubeVela do not necessarily need OCM installed, if you child clusters are connectable from the hub cluster. See https://kubevela.io/docs/next/case-studies/multi-cluster.

If you mean you only have connections from child clusters to hub cluster but do not have the reverse way, you need to install OCM addon. See https://github.com/wonderflow/ocm-kubevela-demo

[2022-02-25 05:54] wonderflow commented on #3328
the application can be deleted by `vela delete --force`

[2022-02-25 06:27] barnettZQG commented on #3328
We need to support this feature in VelaUX.

[2022-02-25 06:28] barnettZQG commented on #3328
@Somefive Another way to do this is to remove the offline cluster from the application configuration and publish it again.

[2022-02-25 06:31] Somefive commented on #3328
Not agree to that. `vela delete --force` is a dangerous action and is not recommended. Users need to really know what they are doing and the side effect for running this command, like resource leak. For VelaUX users, they usually cannot ensure that, then this super button can easily destroy the resource management.

Instead, I think on VelaUX, we should provide a comprehensive view for all the man

[2022-02-25 06:33] Somefive commented on #3328
The offline cluster could be used by lots of applications, and this action could potentially cause a huge number of application restarts. This behavior is also dangerous and could lead to unpredicted performance issues. We should consider the solution carefully.

[2022-02-25 06:38] Somefive commented on #3328
In general, I agree this problem is crucial. In CLI, we previously work on `vela delete --force` to give a solution, which I believe, is not a final elegant solution. The best potential solution currently I come up with is the fine-grained resource control on top of ResourceTracker, which needs some time to implement but is not a high priority target by now. If other light elegant solution is prop

[2022-02-25 07:17] StevenLeiZhang commented on #3300
This is caused by race conflict.
Both "env" and "storage" try to "patch" 'containers.env'.
Please refer to  https://github.com/cue-lang/cue/issues/129, I think it is raised by CUELang core.

[2022-02-25 08:11] zzxwill opened #3330 "Nominate @evanli18 as a Review member"
@evanli18 is a contributor from [Didi](https://www.didiglobal.com) that uses Kubevela to manage apps in a cloud-native way and terraform-controller to manage resources.

He has been actively contributing to KubeVela cloud resources and three of his pull requests have been merged.

https://github.com/oam-dev/terraform-controller/pull/215
https://github.com/oam-dev/terraform-controller/pull/232
http

[2022-02-25 08:45] wonderflow commented on #3330
LGTM

[2022-02-25 09:12] #3327 closed

[2022-02-25 14:16] rtrive commented on #3287
I'm trying to experiment with the example that you send me (thanks a lot) but unfortunately, the error that I got is [this](https://github.com/wonderflow/ocm-kubevela-demo/issues/1).
I would like to use OCM since it's more secure IMHO to use it in a multicluster environment.

[2022-02-26 03:27] Vrukshali-26 commented on #3224
Can I work on this issue? @zzxwill

[2022-02-27 03:03] zzxwill commented on #3224
@Vrukshali-26 Yes, please.

[2022-02-27 16:33] lengpucheng opened #3334 "Get fail when kube-vela of latest as dependency of project in gomod"
### Discussed in https://github.com/oam-dev/kubevela/discussions/3333

<div type='discussions-op-text'>

<sup>Originally posted by **lengpucheng** February 28, 2022</sup>
when latest (such as v1.2.4) as dependency in project ,  use go download get  all dependency of project can fail ，the info is :
[code]
we try different machine and network still fail,but get old version is succes
![2](https://use

[2022-02-28 01:49] StevenLeiZhang commented on #3334
Would you please try another "goproxy"? Please refer to the document https://goproxy.cn/,  this webpage shows the usage. It works well for me .

[2022-02-28 02:10] lengpucheng commented on #3334
We have tried, currently we are using goproxy to proxy the local private repository and another remote proxy at the same time, the original proxy cannot get the dependency using gorpoxy.cn and goproxy.io or aliyun

[2022-02-28 02:18] wonderflow commented on #3334
What's your scenario? Maybe, you can try using this repo as dependency https://github.com/oam-dev/kubevela-core-api

[2022-02-28 02:30] #3276 closed

[2022-02-28 02:47] lengpucheng commented on #3334
thanks! we add mod replace of kubevela or use kubevela-core-api to solve

[2022-02-28 02:47] #3334 closed

[2022-02-28 02:50] yangsoon commented on #3334
If you want to use kubevela as a third-party package, you need to view the go.mod file in the kubevela project and copy the `replace` part to the `replace` of your project.

plz, refer to https://go.dev/ref/mod#go-mod-file-replace :

[code]

Then re-executing `go mod download` will solve your problem.

However, we recommend directly referencing https://github.com/oam-dev/kubevela-core-api to use k

[2022-02-28 03:28] lengpucheng commented on #1662
Orgnization/Company: [fiberhome](https://www.fiberhome.com/)
Location: Wuhan, China
Contact: [wangjie1513@fiberhome.com](mailto:wangjie1513@fiberhome.com)
Purpose/Scenario:  Use the OAM model as a dependency for secondary development in kubeoperator to improve cluster functions for internal cloud platform deployment management systems

[2022-02-28 05:13] wonderflow commented on #2608
Add a link about resourceTrackingMethod : https://argo-cd.readthedocs.io/en/stable/user-guide/resource_tracking/
This is a workaround currently.

[2022-02-28 06:27] zzxwill opened #3336 "[Feature] Extend UCloud as a Terraform addon"
UCloud has been supported as a Provider in [Terraform Controller](https://github.com/oam-dev/terraform-controller), please convert it to a Terraform addon `terraform-ucloud` in KubeVela per [the guide](https://kubevela.io/docs/platform-engineers/addon/terraform).

[2022-02-28 06:29] zzxwill opened #3337 "[Feature] Extend VMware vSphere as a Terraform addon"
VMware vSphere has been supported as a Provider in [Terraform Controller](https://github.com/oam-dev/terraform-controller), please convert it to a Terraform addon terraform-vsphere in KubeVela per [the guide](https://kubevela.io/docs/platform-engineers/addon/terraform).

[2022-02-28 07:11] workman-Lu opened #3338 "[Feature] 希望可以提供便捷的APIserver 用例和文档"
目前已有文档
https://github.com/oam-dev/kubevela/blob/master/design/vela-core/restful-interface.md

  首先，VelaUX是一个很好的前端实现思路。但是它和一系列低代码一样，束缚了我们对应用管理的思维和其他系统整合的能力。

  VelaCore是一个很好的控制器。所以我们考虑接入apiserver打通devops流程而不使用velaUX作为前端，目前的简易的restful文档带来比较大的学习成本，我认为这可能跟大家都是终端用户，以体验为主有关系。作为一个平台引擎，希望能提供稳定，兼容，开放的api interface。这会带来更大的价值。

  目前只对前端操作后端特定资源有大致了解，不敢确认直接使用API添加资源是否会有依赖关系和多个api操作合并的情况。目前这方面的文档的缺失，使vela管理开发需

[2022-02-28 07:28] barnettZQG commented on #3338
@workman-Lu
https://github.com/oam-dev/kubevela/blob/master/docs/apidoc/swagger.json 这里是目前 Vela API 的 swagger 文档，目前 API 具有一定的业务含义，比如包含了现在底层 CRD 中还不存在的概念：环境、部署、组件分离管理等。如果你只需要操作核心对象Application，你可以直接通过 Kube-api 集成即可。如果你需要类似 VelaUX 中定义的业务概念，你可以对接 Vela API。

对于 VelaUX ，目前它还处于非常早期的阶段。我们从设计上尽可能实现它的前端呈现开放性，例如目前实现的输入参数的完全动态化。后期会逐步实现的数据可视化开放性。 关于 “束缚了我们对应用管理的思维和其他系统整合的能力” 这个点可否提供更多的说明信息？

[2022-02-28 08:34] nashtsai commented on #3266
The error was discovered by calling helm Go SDK install action, v3.7.2, following are code fragments:

[code]

[2022-02-28 08:35] wonderflow commented on #3266
please help investigate @wangyikewxgm

[2022-02-28 09:35] hprotzek commented on #3296
@wonderflow Any update on this? We are happy to help, if you need any more debug infos?

[2022-02-28 11:27] wonderflow commented on #3296
ping @chivalryq  is investigating on it.

[2022-02-28 11:27] chivalryq commented on #3296
/assign

[2022-02-28 11:51] evanli18 commented on #1662
Orgnization/Company: DIDI
Location: Beijing, China
Contact: evan.li97@outlook.com
Purpose/Scenario: Using Kubevela to manage apps in a cloud-native way and terraform-controller to manage resources.

[2022-03-01 03:59] workman-Lu commented on #3338
velaUX是面向终端用户的，这意味着中大型团队使用会面临着一些复杂的需求问题。如果ux完善之后我们看起来它像是paas的解决方案，但是打通到saas依然存在信息孤岛的问题。这意味着我们从使用之初就考虑apiserver直接调用，但是目前使用上velacore的完成能力需要依赖app env env-bind workflow。例如我无法不绑定workflow发布到我想发布的地址。或者通过OAM applications 直接渲染出发布资源（iaas资源绝对安全考虑）。这些原子的能力。类似workflow这类更多是为了解决前端发布的后端集成方案。目前是耦合在velacore这个发布里面，这增加了维护成本和系统间信息沟通成本。

[2022-03-01 04:01] workman-Lu commented on #3338
因为对于应用来说，app traits 是必须的 triger是可选的，workflow也是非必要的一部分。
应用生命周期管理和发布系统应该是分开的两个领域

[2022-03-01 06:14] chivalryq commented on #3296
@hprotzek Hi

Would you like to provide some debug info like logs from vela-core? I have try this example in K8s 1.22 and it create pods properly.

[2022-03-01 08:24] wxuedong opened #3342 "Component creation failed without custom resources"
version:
Version: 1.1.6
GitRevision: git-844f479f
GolangVersion: go1.17.2

yaml:
[code]

error message:

Error: failed to update existing definition in kubernetes: admission webhook "mutating.core.oam-dev.v1beta1.componentdefinitions" denied the request: no matches for kind "Rollout" in version "argoproj.io/v1alpha1"

This resource is not customized in the management cluster ，but the target cluste

[2022-03-01 08:34] wxuedong opened #3343 "The workload is not defined when the component is created and the final expectation is inconsistent"
version:
Version: 1.1.6
GitRevision: git-844f479f
GolangVersion: go1.17.2

Yaml：
[code]

`attributes: workload: definition`  field information is not declared ，the final result is `deployments.apps`

<img width="601" alt="image" src="https://user-images.githubusercontent.com/15843627/156133530-f74029ce-80a4-45f9-bec8-e3570db510b2.png">

I think this setting other default values is not in line with

[2022-03-01 08:34] chivalryq commented on #3342
Just a reminder, it's three "`" in markdown to wrap a long code.

You can edit the issue for a better looking.

[2022-03-01 08:39] chivalryq commented on #3342
If one CRD doesn't exist in managed cluster, the CR creation (by vela-core) will fail.

Consider turn ArgoRollout as an addon whose CRD can be dispatched in managed cluster then.

ping @wangyikewxgm

[2022-03-01 08:44] wxuedong commented on #3342
This CR may be submitted to the target cluster.

As long as the target cluster has it, there is no problem.

In this case, it is normal for the control cluster to have no CR, and it should not fail.

[2022-03-01 08:45] wxuedong commented on #3342
This CR may be submitted to the target cluster.

As long as the target cluster has it, there is no problem.

In this case, it is normal for the control cluster to have no CR, and it should not fail.

[2022-03-01 08:58] chivalryq commented on #3342
Got you. You won't use Argo in Control plane and didn't install it.

That's a case we didn't consider before. Thanks for reporting. You can track this issue for more progress.

[2022-03-01 08:59] BinaryHB0916 commented on #3330
+1

[2022-03-01 09:05] chivalryq commented on #3342
There's a workaround for this case. You can use this defintion instead.

[code]

The difference is use "autodetects.core.oam.dev" in the workload field. Now this field is only for validate and this will work for most case.

[2022-03-01 09:06] wangyikewxgm commented on #3266
By reading  source code of helm. I found out the install action won't execute the test-hook, So I doubt your code has called test action  without waiting the KubeVela get ready. Please check this.

[2022-03-01 09:50] evanli18 commented on #3330
🥳

Thanks!

[2022-03-01 10:39] StevenLeiZhang opened #3344 "position of parameter is always changing on addon's details page."
**Describe the bug**
The

**To Reproduce**
1. install velaux
2. goto "Addons"
3. click one addon such as "terraform-aws" to view its details
4. api "http://velaux/api/v1/addons/terraform-aws" returns order of configuration parameters in 'uiSchema.(configuration parameters).Sort'
5. if the addon is not installed yet, or the configuration parameter is not specified sort value in "UI Schema ",  "sort

[2022-03-01 12:29] wxuedong commented on #3342
This can be solved  .

If you define a lot of components, there will be a lot of "autodetects.core.oam.dev" , which cannot intuitively reflect the workload.

[2022-03-01 13:12] wangyikewxgm commented on #3266
The error is user specified the helm release name with vela-core not kubevela by default

[2022-03-01 14:19] #3342 closed

[2022-03-01 15:33] nemo-xue commented on #3144
Hi, the windows version vela seem to have an issue.
After I change to use vela in Linux, I'm able to add addons.  Cheers!

[2022-03-02 03:34] wcollin opened #3347 "can't install VelaUX"
**Describe the bug**
when install VelaUX， waiting for addon-velaux application ready

**To Reproduce**
Steps to reproduce the behavior:
1. vela install
2. vela addon enable velaux serviceType=NodePort repo=acr.kubevela.net
3. kubectl describe applications addon-velaux -n vela-system
4. see status error：failed to create resourceKeeper: failed to load resourcetrackers: resourcetracker addon-velaux-c

[2022-03-02 03:37] chivalryq commented on #3347
/assign

[2022-03-02 04:05] chivalryq commented on #3347
This may not have to do with 1.22 compatibility. I have try launch vela-core and velaUX addon in my 1.22 Kubernetes and it works fine.

[code]

[2022-03-02 05:17] #3311 closed

[2022-03-02 07:17] chivalryq commented on #3347
After talking offline, we figure out the reason caused break. Cleaning up the left ResourceTracker it works fine.
Closing

[2022-03-02 07:17] #3347 closed

[2022-03-02 08:47] cezhang opened #3352 "[Feature]Addon yaml files discovery logic improvement"
**Is your feature request related to a problem? Please describe.**

With developing a addon on my Macbook with IDE, I very often came across an error "Error: render addon application fail: yaml: control characters are not allowed". It's  actually not the problem about  yaml file, but it display a very misleading message.
I track down the code and found
[code]
in addon.go file.

I think the default

[2022-03-02 09:04] wangyikewxgm commented on #3352
Thanks for reporting! I think  a small fix can solve this problem. Would you mind make a pr to fix this bug?  : )@cezhang

[2022-03-02 12:46] #3344 closed

[2022-03-02 13:26] cezhang commented on #3352
Sure @wangyikewxgm

[2022-03-02 14:38] nashtsai opened #3353 "Helm re-install (delete then install) causing a number of errors"
**Describe the bug**
Helm re-install (delete then install) causing following error:

## Pre-conditions:
- Helm installed vela-core with same NS and systemDefinitionNamespace

1.  After re-install  the namespace got deleted:
[code]

**To Reproduce**

[code]

**Expected behavior**

- Helm Chart's README.md provides proper uninstall procedures
- Would be nice if uninstallation procedures can be done

[2022-03-02 21:35] hprotzek commented on #3296
Hi @chivalryq thanks for checking this. We also did re-test today and the example works. (not sure what I did test last time, was maybe already too late :-)

But our stateless component still doesn't work with 1.2.4 which works perfectly fine under 1.1.x. Could you have a look at the component definition, maybe we have something in there that is not correct and only break in 1.2?
[code]

[2022-03-03 03:49] evanli18 opened #3355 "Application 进行更新后 terrafrom component 无法通过 data-passing 拿到正确数据"
**Describe the bug**
当我尝试对一个执行完成的 Application 进行资源调整是，发现 dependsOn 的组件没有获取到新的数据

**To Reproduce**

我的 comp
[code]

Application

[code]

首先使用 name: "vela" 执行，得到 configmap 如下：

[code]

但是当我尝试更新 name: "vela!--" 时，configmap 并没有更新

**Expected behavior**

我期望 configmap 中的数据可以进行联动更新

**KubeVela Version**

version: v1.2.4

[2022-03-03 06:43] #3144 closed

[2022-03-03 07:30] StevenLeiZhang commented on #3353
seems your previous uninstallation was not finished.

[2022-03-03 08:10] hprotzek commented on #3296
Found the silly problem :-) It was our selector:

[code]

Changing this to

[code]

and the statefulset works again.

Was there a change in 1.2 that can explain that behaviour?

[2022-03-03 08:11] chivalryq commented on #3296
I check the stateful lifecycle and log in controller manager. Generally this is caused by conflict of controllerRevision object.

In KubeVela 1.2 we change the code when creating controllerRevision that manage the revision of component. Now it will add a new label "app=xxx" when creating controllerRevision. This is a conflict with controller-manager's logic. Controller-manager will recognize our c

[2022-03-03 08:16] hprotzek commented on #3296
@chivalryq thanks for your help, appreciated.

[2022-03-03 08:16] #3296 closed

[2022-03-03 08:17] chivalryq commented on #3296
@hprotzek Your solution also works! Good for you!

Basically we tackling the same problem in different ways

[2022-03-03 08:33] zzxwill commented on #3355
@FogDong Please help take a look at this issue.

[2022-03-03 08:36] yangsoon opened #3361 "[Feature] Built-in VelaQL query capability to Vela-Cli"
**Is your feature request related to a problem? Please describe.**

### BackGround

VelaQL(Vela Query Language) is a resource query language for KubeVela, used to query application-level resource status. more details refer to [doc](https://kubevela.io/docs/platform-engineers/system-operation/velaql).

The purpose of VelaQL is to help developer better query status of resources created by Applicatio

[2022-03-03 08:41] FogDong commented on #3355
感谢提出！这个看起来不是 dependsOn 的问题，而是 Application 的输入输出没有更新？

[2022-03-03 08:42] evanli18 commented on #3355
几次测试后发现，拿到的是 前一次 的数据

[2022-03-03 08:55] zzxwill commented on #3355
那有可能 https://github.com/oam-dev/terraform-controller/issues/237

@evanli18 不过最终会拿到新的数据。

[2022-03-03 10:15] leason00 opened #3363 "The resource has been created on the cloud, but the state is abnormal : Hit an issue to generate outputs: json: cannot unmarshal number into Go struct field Property.outputs.value of type string"
**Describe the bug**
[code]
The resource has been created on the cloud, but the state is abnormal
errmsg :
Hit an issue to generate outputs: json: cannot unmarshal number into Go struct field Property.outputs.value of type string

**To Reproduce**

ComponentDefinition

[code]
Application
[code]

**Additional context**
[code]

[2022-03-03 14:13] abserari commented on #609
It seems so good, so it would be support in v1.2?

[2022-03-04 01:39] zhiyuone opened #3366 "[Feature] use apiserver aggregation for VelaUX apiserver authn and authz"
**Is your feature request related to a problem? Please describe.**

1. Currently VelaUX is exposed to everyone, we need a permission management.
2. VelaUX and VelaCLI create resource are not visible to each other.
3. Most cloud native projects use rbac for permission management, and it is difficult for independent databases to cooperate with other projects.

**Describe the solution you'd like**

U

[2022-03-04 01:42] wonderflow commented on #3363
ping @captainroy-hy

[2022-03-04 01:54] wxuedong opened #3367 "Using the same method for CUE Patch component properties has inconsistent structure"
**Describe the bug**

define a component  workload is Argo Rollout ,and then define a trait

[code]

[code]

Create an app

[code]
Patch data：

Yaml：
<img width="833" alt="image" src="https://user-images.githubusercontent.com/15843627/156682877-c65989b4-9794-44d9-9ba3-432acd29c9e2.png">

Json
<img width="647" alt="image" src="https://user-images.githubusercontent.com/15843627/156683133-139c4c2b-cf

[2022-03-04 02:09] leason00 commented on #3363
找打原因了
![image](https://user-images.githubusercontent.com/24790556/156685582-54bb26ab-feb9-4c88-9a83-c8a904eee4cc.png)

 这个对象接收terraform的outputs只能是string类型

真实返回的
"outputs": {
    "INSTANCE_ID": {
      "value": "cdb-1u2b5m3m",
      "type": "string"
    },
    "INTERNET_PORT": {
      "value": 58881,
      "type": "number"
    },
    "INTRANET_IP": {
      "value": "10.66.112.226",
      "type": "

[2022-03-04 02:43] wonderflow commented on #3363
@leason00 would you like to send a PR to fix it?

[2022-03-04 03:12] chivalryq commented on #3367
I wrote a simple example for you case:
[code]

[code]

It's about if clause will always wrap every item with `{}`.

[2022-03-04 03:22] reckless-huang opened #3369 "make def-install error"
**Describe the bug**
follow https://github.com/oam-dev/kubevela/blob/master/contribute/developer-guide.md prepare local debug,
make def-install  error

**To Reproduce**
Steps to reproduce the behavior:
1.git clone git@github.com:oam-dev/kubevela.git
2. make
3. make manager
4. make core-install
5. make def-install
6. make core-run

**Expected behavior**

**Screenshots**
![image](https://user-images

[2022-03-04 04:21] chivalryq commented on #3367
I find a way to solve this.
[code]

[code]

Have a good time with cue and KubeVela.

[2022-03-04 04:25] chivalryq commented on #3367
Or simply
[code]

[2022-03-04 06:04] chivalryq commented on #3367
Closing

[2022-03-04 06:04] #3367 closed

[2022-03-04 06:14] wxuedong commented on #3367
@chivalryq   Thank you very much this way can be solved .

[2022-03-04 07:41] huanggze opened #3370 "failed to have the workload/trait unstructured: reference not found"
**Describe the bug**

I have a custom trait definition as below. When using the trait in app, I got the error `reference not found`.

[code]

Error message:

`failed to have the workload/trait unstructured: spec.services.ip: reference "s" not found`

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

[code]

**Cluster information**

**Additional context**

It s

[2022-03-04 08:08] zhulaoliu opened #3371 "upgrade velaux1.2.4 has a little issue"
![image](https://user-images.githubusercontent.com/54096513/156723324-095d5b97-b5b4-4044-99cd-b3e89cbdf0d9.png)
![image](https://user-images.githubusercontent.com/54096513/156723370-125fdc23-de56-44c8-af90-c468bedb5780.png)
![image](https://user-images.githubusercontent.com/54096513/156723369-29db4549-395d-426e-84d0-89c94eed6817.png)
我想将原本的运维特征“scaler“ 修改成“rollout”  但貌似报错了 提示trait is not exit
随后我选

[2022-03-04 08:12] zhulaoliu commented on #3371
![image](https://user-images.githubusercontent.com/54096513/156724685-2a878c43-989b-418a-91a1-f3e13bae7749.png)
 随后我尝试了灰度升级（点击了deploy） 但版本没有看到变化  是我的操作方式不对？
![image](https://user-images.githubusercontent.com/54096513/156724886-6a0cc81e-815f-4cf7-bd10-61bc9649fa78.png)

[2022-03-04 08:44] zhiyuone opened #3372 "go swagger generate client occur error by use swagger.json"
**Describe the bug**

i want use go-swagger generate vela-apiserver client. but get below errors

[code]

seem swagger file does not meet the standard.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-03-04 08:53] barnettZQG commented on #3371
@zhulaoliu

1. trait 的类型不能进行变更，UI上没有限制是一个缺陷，该缺陷会在最新版本中修复。
2. 设置 Rollout 以后，需要组件的配置有变更才会产生新的版本号。

[2022-03-04 08:59] zhulaoliu commented on #3371
恩恩  目前灰度升级的问题我还没想明白 是我的操作方式不对吗

[2022-03-04 09:05] barnettZQG commented on #3371
@zhulaoliu

你可以尝试比如修改一下镜像名称、环境变量等，然后再进行一次部署。就会发现实例名称上的版本号有变化。另外就是控制灰度的批次。Rollout 配置参数中可设置多个批次，然后可以指定 BatchPartition 控制发布的目标批次。 比如设置为0 则代表发完第一批即停止。

[2022-03-04 09:16] leason00 commented on #3363
I will

[2022-03-04 09:18] zhulaoliu commented on #3371
@[barnettZQG](https://github.com/barnettZQG)  这里我将第一个批次升级成功了   当我想升级全部批次时（将BatchPartition 0去掉）它貌似报错了
![image](https://user-images.githubusercontent.com/54096513/156735124-ba393cc7-0692-4fdf-8bee-3b94286525be.png)

[2022-03-04 09:38] barnettZQG commented on #3371
@zhulaoliu 这里看起来是有些问题，建议先设置为明确的数字，比如你这里有2个批次，全部发布就填写 1。

[2022-03-04 09:41] barnettZQG commented on #3371
[code]

[2022-03-04 09:44] zhulaoliu commented on #3371
@[barnettZQG](https://github.com/barnettZQG)  好的 期待vela继续迭代

[2022-03-07 02:31] reckless-huang commented on #3369
成功解决问题，十分感谢

[2022-03-07 02:31] #3369 closed

[2022-03-07 02:31] zzxwill commented on #3355
@FogDong 跟 @evanli18 聊了一下，输出会有延迟，但是最终会更新 output.status.apply.outputs，不过在更新过程中，需要有机制保障取到的是最新的结果。

[2022-03-07 02:35] evanli18 commented on #3355
是否可以通过在 status 中加上 AppRev （version），因为 spec 和 status 是两个系统，这样就可以确保拿到最新的状态信息

[2022-03-07 06:18] zzxwill opened #3384 "Variable `region` in an Application is eaten by Terraform Controller execution job"
**Describe the bug**

so...I am running into an interesting problem. I applied the component for emr as below:

[code]

[2:49](https://cloud-native.slack.com/archives/D034HFTAGKW/p1646333369121969)
but somehow when I apply the application, eventhough I provide region  as a property to the yaml, it doesnt seem to find it when the tf applies. I feel somehow we are loosing region  in the marshalling

[2022-03-07 07:01] zzxwill commented on #3384
This happened when `region` is literally a variable to a Terraform resource/module like https://github.com/cloudposse/terraform-aws-emr-cluster/blob/master/main.tf#L537. This variable conflicts with the global property Region for all Terraform typed components https://github.com/oam-dev/terraform-controller/blob/master/api/v1beta1/configuration_types.go#L69.

As I seldom heard the feedback of usin

[2022-03-07 08:26] GuiltyCreator opened #3390 "Addon ComponentDefinition Error"
my addon componentdefinition:
[code]

Addon enabled Successfully
I can see it when I use command "vela addon ls"

then

my deployment.yaml:
[code]

when I use command "vela dry-run -f deploy.yaml" ,an error occurs

[code]

I do not understand
Can anybody help me?

[2022-03-07 08:50] FogDong commented on #3390
The output in `component definition` will be rendered and applied, you can change `output: redis: {...}` to `output: {...}`.

[2022-03-07 08:56] GuiltyCreator commented on #3390
thx . It works

[2022-03-07 08:56] #3390 closed

[2022-03-07 09:22] StevenLeiZhang opened #3392 "can not pass arguments to array by "inputs""
**Describe the bug**
Inputs is made of from and parameterKey. Input uses from to reference output, parameterKey is a expression that assigns the value of the input to the corresponding field.

but Inputs can not pass arguments to array object.
for example, my Application as below, User can not use Inputs to set  "bar" of env .

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Ku

[2022-03-07 10:12] trestea commented on #1662
Orgnization/Company: 智慧芽
Location: SuZhou, China
Contact: (tianchaunting@patsnap.com)
Purpose/Scenario: Deploying middle using Vela

[2022-03-07 11:46] anoop2811 commented on #3384
Sounds good to me

[2022-03-07 13:29] zzxwill commented on #3384
The `defaultRegion` is set in a Provider:)
https://github.com/oam-dev/terraform-controller/blob/master/api/v1beta1/provider_types.go#L32

[2022-03-08 02:45] Somefive opened #3394 "ApplyComponents do not support DependsOn"
**Describe the bug**

DependsOn is not working in ApplyComponents which let `deploy` unable to handle dependencies.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-03-08 02:52] Somefive opened #3395 "[Feature] Extend persistent resource selector"
**Is your feature request related to a problem? Please describe.**

Current persistent resource only support resources managed by traits, we should extend the selector to component name and resource type.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-03-08 06:08] wonderflow commented on #609
@yaron2 @ab @artursouza  Sorry for the delay, we're looking for some good user story. All I can think of right now is to simplify the installation step of dapr. That's not make any different with just using `helm install`. We hope to find some more values.

Do you have any better idea? Or do the users from dapr community have some scenarios that with KubeVela can make something better？ I think we

[2022-03-08 07:03] Somefive opened #3397 "[Feature] vela cluster support label command"
**Is your feature request related to a problem? Please describe.**

We need `vela cluster label cluster-a label_key=label_value` to help user manage cluster labels.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-03-08 07:14] #3363 closed

[2022-03-08 07:43] wonderflow commented on #3363
@leason00 thanks

[2022-03-08 07:48] #3372 closed

[2022-03-08 07:58] zzxwill commented on #3384
I have created API v1beta2 to not affect the old API in https://github.com/oam-dev/terraform-controller/pull/265.

[2022-03-08 08:21] wangyikewxgm commented on #3263
@nashtsai  I have tested with KubeVela 1.2.4 helm chart and cannot regenerate this error. Let's closed this issue and fell free reopen if this bug still exist.

[2022-03-08 08:22] #3263 closed

[2022-03-08 08:23] reckless-huang opened #3400 "[Feature]apply app可以响应资源属性的删除修改"
**Is your feature request related to a problem? Please describe.**

当我试图取消一个deploy的健康检查时，vela无法在apply操作上响应这个请求，必须删除app重新应用

**Describe the solution you'd like**

可以使用apply直接应用资源属性的删除

**Describe alternatives you've considered**

应该时patch策略的问题，为某些字段使用独特的patch策略？

**Additional context**
无

[2022-03-08 08:50] reckless-huang opened #3401 "模板中无法引用k8s元数据"
**Describe the bug**
![image](https://user-images.githubusercontent.com/53162954/157200835-ae7ed1f3-6604-42f4-b16b-84e72012c5a3.png)
![image](https://user-images.githubusercontent.com/53162954/157200968-7d9ea4f8-206c-44b3-932a-995e5ef71485.png)

我需要在模板中引用podname，这在正常的yaml清单中是可以使用的，但时vela不能正确渲染

**To Reproduce**
![image](https://user-images.githubusercontent.com/53162954/157201076-ae2146f5-e7f7-405

[2022-03-08 09:06] wonderflow commented on #3253
fixed by https://github.com/oam-dev/kubevela/pull/3331

[2022-03-08 09:06] #3253 closed

[2022-03-08 09:10] FogDong commented on #3401
这一块暂时没有支持，但是修改起来比较简单，有兴趣的话欢迎贡献一下。源码在这：https://github.com/oam-dev/kubevela/blob/master/vela-templates/definitions/internal/component/webservice.cue#L406

[2022-03-08 09:37] reckless-huang commented on #3401
的确是小小的修改一下就可以了，这个内容可以提交么
`				// +usage=use environment variables to expose information about itself to Containers running in the Pod
				fieldRef?: {
					//Version of the schema the FieldPath is written in terms of, defaults to "v1".
					apiVersion?: *"v1" | string
					// Path of the field to select in the specified API version.
					fieldPath: string
				}`
这个内容可以提交么

[2022-03-08 11:57] wangyikewxgm commented on #3353
The root cause is not disabling the fluxcd addon  before delete this KubeVela. Maybe your fluxcd addon is enabled by default when install helm chart, I will find a proper way to purge all addons before uninstall the addon.

[2022-03-09 02:39] wangyikewxgm commented on #3371
The reason is velaux pass a empty string when a int type when remove the batchPartition field. We should fix this in velaux

[2022-03-09 02:54] wangyikewxgm commented on #3353
But i'm not sure whether it's correct delete the fluxcd addon when uninstall the helm chart. Because the user maybe sill use the addon.

[2022-03-09 03:38] geffzhang commented on #609
Have you had a plan to support it recently, and with this feature, I really want to use kubevela power

[2022-03-09 07:28] yaron2 commented on #609
I think it could be great to add an eventing system into KubeVela that's backed by Dapr. Since you already have the concept of an Application, you could abstract the operational concerns of using needing to setup Dapr pub/sub and automatically inject sidecars with the proper configuration in place. It could be a pub/sub trait that enables this functionality.

[2022-03-09 08:15] wonderflow commented on #609
Thanks, it's good idea!

[2022-03-09 09:28] wonderflow commented on #609
@yaron2  BTW, do you have some demo from dapr about the pub-sub story? Maybe someone from KubeVela community will be interested about it and contribute.

In my view, this feature including three parts:

1. add a dapr addon https://kubevela.io/docs/platform-engineers/addon/intro  this will including the dapr Controller（helm chart） along with the eventing system server
2. write traitdefinition for t

[2022-03-09 11:08] nashtsai commented on #3353
as per "Expected behavior" suggestions, need to provide uninstallation procedures that work with `helm uninstall`?

[2022-03-10 03:19] clcc2019 opened #3410 "velaux error"
2022/03/10 03:15:58 [emerg] 1#1: host not found in upstream "apiserver.vela-system:8000" in /etc/nginx/nginx.conf:32
nginx: [emerg] host not found in upstream "apiserver.vela-system:8000" in /etc/nginx/nginx.conf:32
<img width="1190" alt="image" src="https://user-images.githubusercontent.com/46099295/157581924-64a4759e-5643-4360-84ce-fbf0d9da8c18.png">

[code]

k8s v1.20.15

[2022-03-10 03:20] clcc2019 commented on #3410
<img width="1501" alt="image" src="https://user-images.githubusercontent.com/46099295/157582021-f205fdf5-adeb-4a85-8aff-22a77fb0ef0f.png">

[2022-03-10 05:48] clcc2019 opened #3412 "kubevela-vela-core is not ready"
<img width="1498" alt="image" src="https://user-images.githubusercontent.com/46099295/157597828-fbfb07c6-0be8-4534-9a29-3c1313168979.png">

<img width="1509" alt="image" src="https://user-images.githubusercontent.com/46099295/157597702-74edf099-79fb-47cd-8ae2-615480eebe58.png">

[2022-03-10 06:18] #3370 closed

[2022-03-10 08:06] zzxwill opened #3414 "The configmap which stores openapi schema for cloud resources are not created."
Half of Configmaps for Alibaba Cloud resources are generated.

[code]

[code]

[2022-03-10 08:09] zzxwill commented on #3414
It failed due to network issues. We can save it in two ways.
1. Accelerate the process of generating ConfigMaps in ComponentDefinition controller by fetching git repo from gitee.
2. Make the size of terraform modues samller.

[2022-03-10 08:32] StevenLeiZhang commented on #3410
It looks that your server can not access addons.kubevela.net. Would you please ping or dig this domain?

[2022-03-10 09:32] raymoriss commented on #3353
request id: 97f561df-0217-400b-b188-3d8a9d4d3c00
correlation id: f05a56db-60cb-4514-87dc-8432781febd2
timestamp: 2022-03-10t09:30:25z
message: aadsts500200: user account 'enfantskids50@gmail.com' is a personal microsoft account. personal microsoft accounts are not supported for this application unless explicitly invited to an organization. try signing out and signing back in with an organizational

[2022-03-10 09:45] wangyikewxgm opened #3415 "[Feature] Disable an addon need check any applications is using this addon"
**Is your feature request related to a problem? Please describe.**

If some applications is still using  this addon, user cannot disable it.

**Describe the solution you'd like**

check all application whether use the x-defs defined in addon.

**Describe alternatives you've considered**

**Additional context**

[2022-03-10 11:51] wonderflow opened #3416 "[Feature] add vela status --endpoint into the tips for vela up"
Currently, the `vela up` command will show up the helper message like below:

[code]

1. We should remove the `Service status` line as it's deprecated.
2. We should add `vela status <app-name> --endpoint` as it's very useful.

So the expected output should be like this:

[code]

We need to refine the output in vela CLI.

[2022-03-10 12:25] #3330 closed

[2022-03-10 12:45] h7kanna opened #3418 "Terraform AWS addon not working with error 'provider not found'"
**Describe the bug**

AWS resources failing to deploy in the UI, error shown is 'provider not found'
Debugging the terraform controller logs indicate that provider 'default/default' is being searched instead of 'default/aws'.

**To Reproduce**

1.  kind create cluster --image=kindest/node:v1.21.10
2. kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/pro

[2022-03-11 01:09] fourierr commented on #3300
This issue https://github.com/cue-lang/cue/issues/129 only show the error msg is not clear,

[2022-03-11 01:10] fourierr commented on #3300
There are someone fix this issue?

[2022-03-11 01:18] wonderflow commented on #3300
@fourierr  Would you like to fix that?

[2022-03-11 02:11] fourierr commented on #3300
I will try to fix it

[2022-03-11 02:25] zzxwill commented on #3418
Thanks for reporting this issue. Please set `AWS_DEFAULT_REGION` when you do step 7.
To fix it, please do:
1) vela addon disable terraform-aws
2) reenable terraform-aws.

[2022-03-11 02:52] h7kanna commented on #3418
Ya, I tried that as well. I didn't work.

[2022-03-11 02:54] h7kanna commented on #3418
<img width="751" alt="Screen Shot 2022-03-10 at 8 53 48 PM" src="https://user-images.githubusercontent.com/2949492/157793211-a92613e0-9774-4242-afd0-65ed9159fa77.png">

[2022-03-11 03:25] chwetion commented on #609
I am interested in this feature, I can try to implement it.

[2022-03-11 03:31] clcc2019 opened #3421 "Helm 组件不支持阿里云容器镜像仓库的charts吗？"
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/46099295/157796710-5a57a6db-3220-4ebd-8684-efaac38d77d2.png">
<img width="395" alt="image" src="https://user-images.githubusercontent.com/46099295/157796818-503ca0d8-9ab6-44f9-9d95-d42e83b82587.png">

[2022-03-11 03:42] FogDong commented on #3421
这个应该是私有镜像，需要秘钥凭证 /cc @wangyikewxgm

[2022-03-11 03:52] clcc2019 commented on #3421
有secretRef呢

[2022-03-11 04:08] wonderflow commented on #609
Great, you can request more details here if there's any need. Thanks and looking forward to your contributions!

[2022-03-11 05:43] wangyikewxgm commented on #3421
@clcc2019 现在暂时还不支持 OCI 的 repo

[2022-03-11 06:46] #3353 closed

[2022-03-11 13:43] zzxwill commented on #3418
@h7kanna Sorry for this. I tried on my side, it worked. Can you show me the ComponentDefinition of the component in application `test-app-default`? It's composed by yourself? Or you used one provided by KubeVela?

[2022-03-11 15:39] h7kanna commented on #3418
I am creating in the UI, aws-s3 resource

[2022-03-12 08:27] zzxwill opened #3431 "An application with outputs and inputs could not be resumed when the workflow suspended."
**Describe the bug**

**To Reproduce**

1. Apply application

[code]

2. Wait for it to fail and try to resume the workflow

[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-03-13 10:05] andream7 commented on #3416
I want to try this issue, can assign it to me？

[2022-03-13 11:36] yangsoon commented on #3416
sure, welcome to contribute code

[2022-03-13 11:38] devholic opened #3432 "[Feature] Reconcile Application with scoped permissions"
**Is your feature request related to a problem? Please describe.**

Currently, all `Application` resources are reconciled by the Roles bound to the controller service account. This behavior gives us the power to manage resources across multiple namespaces.

However, this behavior can be problematic in the soft-multitenancy environment (e.g. Namespaces as a Service or shared cluster across teams in

[2022-03-14 01:39] #3416 closed

[2022-03-14 02:08] wonderflow commented on #3432
Thanks @devholic , it‘s a big feature and really needed in the community.

I have some suggestions:

1. users can specify the accountName in the application, what if one user use another account that not belongs to him? I think the accountName should be injected by the admission webhook according [the UID from admissionReview](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admi

[2022-03-14 02:20] wonderflow commented on #2371
Thanks @anoop2811

Here're some more candidates in our view, they will become addons of KubeVela:

* https://github.com/aquasecurity/trivy
* https://github.com/open-policy-agent/opa

[2022-03-14 04:15] anoop2811 commented on #2371
Thats great! If you are looking for k8s policy enforcer, with opa you probably want to use opa's sister project: https://github.com/open-policy-agent/gatekeeper (i am still biased to jsPolicy because of its ease with typescript :) )
Trivy on the other hand is a container security tool, I am curious how do you plan to use it in the OAM model? I am pretty sure, there is a way to do it, but I feel it

[2022-03-14 05:10] wonderflow commented on #2371
yes, if we use OPA, we will use gatekeep for Integration.

The trivy can be integrated into the workflow steps of kubevela. So the deployment process can add a step to check for security.

[2022-03-14 06:22] devholic commented on #3432
Thanks for the comment @wonderflow 🙂

I think it makes sense to assume that the user who can create `Application` also can create resources in the same namespace, so I think it is okay to let users specify all `ServiceAccount` in the same namespace.

Also, `ServiceAccount` gives more flexibility than the UID injection, when the application is managed by multiple users. For example, if the user wit

[2022-03-14 06:57] wonderflow commented on #3432
Sure.

Do you think it's better if the seviceaccount is specified in the annotation?

[2022-03-14 07:19] devholic commented on #3432
For the Application, I think defining ServiceAccount to either spec or annotation makes sense, but I prefer the spec because it's typed.
For components (resources) created by the Application, I think it's okay to specify the ServiceAccount name in the annotation for debuggability.

[2022-03-14 07:26] wonderflow commented on #3432
@devholic As puting the serviceAccount into the spec will make the OAM model change, it's better to discuss and think more. We can make it as an annotation first so we can have this feature. And once this feature widely used, we can migrate it into spec. Would it be better for now?

The annotation name can be:  `app.oam.dev/serviceAccountName` .

\cc @Somefive @barnettZQG  any suggestions?

[2022-03-14 07:36] devholic commented on #3432
Sure! 🙂

Seems other labels or annotations uses dash-case, `app.oam.dev/service-account-name` is better. I'll change PR to use annotation instead of spec 🙏

[2022-03-14 07:40] wonderflow commented on #3432
yes, `app.oam.dev/service-account-name` also fine for me

[2022-03-14 09:09] wonderflow commented on #3336
supported in https://github.com/oam-dev/catalog/pull/285

[2022-03-14 09:09] #3336 closed

[2022-03-14 09:12] wonderflow commented on #3338
Please check if this docs match your needs https://kubevela.stoplight.io/docs/kubevela/b3A6NDI5NzQxMzM-detail-definition

[2022-03-14 09:14] Somefive commented on #3400
@reckless-huang 你可以尝试使用 https://github.com/oam-dev/kubevela/pull/3406 新的 Json-Patch 或者 Json-merge-patch 的 Trait 来解决这个问题。目前在 master 分支上，预计会在最近的 1.3 的版本中发布。

[2022-03-14 09:14] #3400 closed

[2022-03-15 03:22] devholic opened #3440 "[Feature] Support ServiceAccount integration in Multi-Cluster application delivery"
**Is your feature request related to a problem? Please describe.**

Users can use ServiceAccount integration from https://github.com/oam-dev/kubevela/pull/3434. However, this feature cannot be used in multi-cluster application delivery due to security reasons (https://github.com/oam-dev/kubevela/pull/3434#pullrequestreview-908391824).

Even so, it is worth supporting ServiceAccount integration in

[2022-03-15 03:30] clcc2019 opened #3441 "[Feature] 一个app中多个helm组件安装顺序问题"
![image](https://user-images.githubusercontent.com/46099295/158300240-7d0e9b31-4c65-4fc2-90ed-1caca43fd607.png)

![image](https://user-images.githubusercontent.com/46099295/158300264-12544161-b19a-4c3e-99d5-253e4a478885.png)

工作流使用apply-application类型会安装顺序一个安装，apply-application-in-parallel一起安装，在使用apply-application-in-parallel时dependsOn就没用了

[2022-03-15 03:55] #3432 closed

[2022-03-15 13:31] ArenaSu commented on #1662
Orgnization/Company: Asiainfo.com
Location: Nanjing, China
Contact: [www.asiainfo.com](url)
Purpose/Scenario: Using Kubevela to deploy applications in multi-clusters on PaaS and AIPaaS platform.

[2022-03-16 01:04] h7kanna commented on #3418
This works if the application is created using vela cli

[2022-03-16 02:14] devholic commented on #3440
-

[2022-03-16 04:26] steinliber opened #3455 "velaux 和 cli 数据是不同步的吗"
使用 vela 创建了 application，使用 vela ls，显示健康且看服务是已经起来了，如下
![image](https://user-images.githubusercontent.com/13215800/158516635-813cec4d-b1b5-4de2-9c63-35c79a129b95.png)
但是网页上并没有该应用，如下
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/13215800/158516688-2f6eb870-4bf7-44bc-98b7-ff3f59af5f0b.png">
是因为两边是不同步的吗

[2022-03-16 04:40] wonderflow commented on #3455
It's going to be fixed by #3428

[2022-03-16 04:40] #3455 closed

[2022-03-16 04:40] wonderflow commented on #3455
closing as it's duplicated

[2022-03-16 06:49] evanli18 commented on #3355
原因分析：
1. 当第一次创建Application时，因为 terrafrom component此时没有状态所以无影响；
2. 当更新已有Application时，apply patch 后会立刻检查组件状态，如果terrafrom controller没有及时更新状态此时拿到的是前一次（这里可以通过判断 Spec.Generation 与 Status.ObservedGeneration 是否相同来判断自身版本）；
3. 此时完成 ObservedGeneration 判断在某些情况下依然无效（informer cache），当 apply patch 后立刻取判断组件状态此时获取的组件是还没有经过 informer 更新的，所以应该重新发起一次 Reconcile；

[2022-03-16 12:30] #3355 closed

[2022-03-17 06:19] wonderflow opened #3459 "Expose optimize configuration in helm chart"
### Discussed in https://github.com/oam-dev/kubevela/discussions/3448

<div type='discussions-op-text'>

<sup>Originally posted by **stigtermichiel** March 15, 2022</sup>
As referenced in this issue: https://github.com/oam-dev/kubevela/issues/3296, it was recommended to set `--optimize-disable-component-revision`.

We deploy vela-core with helm and saw that this flag is not exposed in the chart. I

[2022-03-17 06:24] wonderflow commented on #3441
是的，在指定 workflow step 时，Component级别的 dependsOn 无效。

[2022-03-17 06:25] zq200618 opened #3460 "[Feature] Workflow need support new step type to batch apply a lot of components parallelly or in order"
**Request description**
For example, I have 6 components in a OAM application，the first and second one need apply before the last four components and wait user to confirm after it apply success.  If I use the workflow to apply it, the workflow have so much 7 steps, and the workflow will be much more complex when the components increase in future. As a requirements, I need workflow is as this:
![lQ

[2022-03-17 07:30] fourierr commented on #3460
+1

[2022-03-17 10:40] zxbyoyoyo opened #3463 "context.labels、context.annotations not take effect when defining the component"
**Describe the bug**

When the component template is defined, the labels or annotations in the Application cannot be obtained through context.labeles or context.annotations

**To Reproduce**

1. vela def apply webservice.cue
[code]
2. apply test app
[code]
3. kubectl get pod -o yaml

**Expected behavior**
the generated pod has labels and annotations for the app

**Screenshots**

**KubeVela Version

[2022-03-17 12:10] wonderflow commented on #3463
Yes, we can add support for `context.appLables` and `context.appAnnotations`

[2022-03-17 12:10] wonderflow commented on #3459
/assign @stigtermichiel

[2022-03-17 12:43] fourierr opened #3464 "Nominate myself @fourierr(maxiangbo) as a Review member"
@fourierr(maxiangbo)
I am a contributor from China Merchants Bank and uses Kubevela to promote construction of private cloud. I has been actively contributing to KubeVela Core and three of his pull requests have been merged.
[oam-dev/kubevela/pull/3393](https://github.com/oam-dev/kubevela/pull/3393)
[oam-dev/kubevela/pull/3452](https://github.com/oam-dev/kubevela/pull/3452)
[oam-dev/kubevela/pull/

[2022-03-17 12:49] barnettZQG commented on #3460
@zq200618 @fourierr  #3223 In this PR, provide a new workflow step type `deploy`, that can batch deploy all components or a part of the components selected across by override policy.

You can set multiple steps of the `deploy` type.

[2022-03-18 01:55] #3190 closed

[2022-03-18 02:09] yaron2 commented on #609
This is a good video: https://www.youtube.com/watch?v=PwA6UbeneE4.

Other than that, I suggest to read this overview article: https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-overview/.

[2022-03-18 02:57] anoop2811 commented on #1662
Orgnization/Company: Guidewire
Location: San Mateo, USA
Purpose/Scenario: Ability to extend kubernetes to be an ideal PaaS abstracting cloud provider and also the application centricity of deployment through workflow
Features wanted: Support multiple cluster(environment), extended  workflow options for secure supply chain.

[2022-03-18 12:52] wonderflow commented on #3464
LGTM

[2022-03-18 14:15] fourierr commented on #3412
Please ensure the  deployment kubevela-cluster-gateway is running, and APIService ClusterGateway is installed in the cluster with `kubectl get clustergateway -A`

[2022-03-18 23:09] Mostafa-wael commented on #3205
How can I apply for this idea for GSOC? is there any communication channel with the mentors?

[2022-03-19 01:55] fourierr commented on #2449
the Expected behavior is that mysql-cluster be deleted firstly and waiting done, mysql-controller is deleted secondly?

[2022-03-19 10:43] Mostafa-wael commented on #3205
I want to contribute to this project in GSOC22, how can I communicate with the mentors?

[2022-03-20 13:17] fzy-Line opened #3472 "vela show webservice does not show exposeType"
In kubevela 1.2.4, the `vela show webservice` command does not show the exposeType parameter.

[2022-03-20 13:52] fourierr commented on #3472
the exposeType parameter default to ClusterIP, other options include NodePort/LoadBalancer/ExternalName

[2022-03-21 02:08] clcc2019 opened #3474 "[Feature] job health check"
Support job resource health detection

[2022-03-21 02:38] #3415 closed

[2022-03-21 03:29] zhulaoliu opened #3477 "调用kubevela新建target接口时bug"
新建target时json传错了导致target没有绑定到cluster/namespace  删除时报错
![1647832560314_41CA49E1-418E-4457-9D60-A340BEEA6A67](https://user-images.githubusercontent.com/54096513/159201546-3125ebbb-a36e-42e2-bbc8-9497bbf76432.png)
通过删除configmap得以解决
![image](https://user-images.githubusercontent.com/54096513/159201670-e764881f-937a-4743-b5e9-5b5450e2df61.png)
![image](https://user-images.githubusercontent.com/54096513

[2022-03-21 04:01] #3464 closed

[2022-03-21 04:02] #3463 closed

[2022-03-21 06:14] zhulaoliu opened #3480 "ux envs相关接口分页问题 没返total总数 （cluster、target是有的）"
![image](https://user-images.githubusercontent.com/54096513/159212754-83dd02a3-c4ae-4cef-aa95-f41aaeb04e8d.png)
{
 "envs": [
  {
   "name": "xsaxsa",
   "alias": "xsaxsa",
   "description": "xsaxsa",
   "project": {
    "name": "default",
    "alias": "Default"
   },
   "namespace": "xsaxsa",
   "targets": [
    {
     "name": "xsaxsa",
     "alias": "xasx"
    }
   ],
   "createTime": "2022-03-21

[2022-03-21 06:50] JooKS-me opened #3481 "Nominate myself @JooKS-me as a Review member"
I'm a mentee from LFX Mentorship, and doing the issue `Enhance multi-cluster observability`.
I has been actively contributing to KubeVela and some of his pull requests have been merged:

[oam-dev/kubevela](https://github.com/oam-dev/kubevela/pulls?q=is%3Apr+author%3AJooKS-me+is%3Aclosed)
[oam-dev/catalog](https://github.com/oam-dev/catalog/pulls?q=is%3Apr+is%3Aclosed+author%3AJooKS-me)
[oam-dev/ku

[2022-03-21 07:17] barnettZQG commented on #3481
@JooKS-me Thanks for your contribution, Can you contribute to the project on an ongoing basis?

[2022-03-21 07:26] JooKS-me commented on #3481
Of course, I think this is a promising project, and I will continue to contribute :)

[2022-03-21 07:26] wonderflow commented on #3481
LGTM, thanks for the great work! Hope to see more contributions in the future.

[2022-03-21 07:39] wonderflow commented on #3474
@yangsoon is working on that

[2022-03-21 08:20] wonderflow commented on #3397
fixed by #3413

[2022-03-21 08:20] #3397 closed

[2022-03-21 08:24] wonderflow commented on #3401
@reckless-huang 这个可以在你们自己的 CUE 模板里修改哈，官方的 webservice 不太适合加这个，打破了抽象。在app 这一层没有 podname 的概念。

[2022-03-21 08:37] reckless-huang commented on #3401
好的

[2022-03-21 08:37] #3401 closed

[2022-03-21 08:40] wxuedong opened #3483 "CUE multiple list merge failed"
vela version
    Version: 1.1.6
    GitRevision: git-844f479f
    GolangVersion: go1.17.2

define a component  parameter:
[code]
I want to merge two list  together，error executing the following code

[code]
error message :

`Error: failed to parse CUE: multiple comprehensions per list not yet supported (and 1 more errors)`

The same method is ok in the official CUE Playground of Cuelang

<img widt

[2022-03-21 09:36] zxbyoyoyo commented on #3483
cuelang v0.2.2 does not support this, you can wait the pr to be merged #3478

[2022-03-21 09:37] wonderflow opened #3484 "vela dry-run CLI didn't report for the application format error"
The application format is wrong, but vela dry-run CLI didn't report for that, I think this is an issue:

[code]

The right format should be:

[code]

As a fact, if we try to apply the application yaml to K8s, it will report error:

[code]

So I think maybe we can rely on something that dry-in for Application CR in K8s serverside for this check.

_Originally posted by @wonderflow in https://github.

[2022-03-21 11:11] clcc2019 opened #3486 "[traits] volumes error"
![image](https://user-images.githubusercontent.com/46099295/159249508-8a1aeb1b-33b4-4f8f-b147-3b86e4dfd917.png)

![image](https://user-images.githubusercontent.com/46099295/159249567-4efb3e4b-18e4-4eaf-bb5d-8fb9c61d372a.png)

[2022-03-21 11:28] #3477 closed

[2022-03-21 11:28] #3480 closed

[2022-03-22 02:11] wonderflow commented on #3273
now, we have addon mechanism, so the installation should be `vela addon enable` and already implemented in v1.2.0+

closing

[2022-03-22 02:11] #3273 closed

[2022-03-22 03:49] ranger-huang opened #3489 "Application 添加 spec.policies: [] 更新后，会删除所有应用组件的工作负载"
**Describe the bug**

第一种情况
在首次 create 无spec.policies字段的 Application，组件 workload(如 Deployment/HelmRelease 等 ）按预期运行健康；

接着编辑 添加`spec.policies: []` 再次提交更新，Application 状态维持 `status.latestRevision.name: webapp-v1`, `status.workflow.appRevision: webapp-v1:e3b4736b7436ca17` ，

组件workload ( Deployment/HelmRelease ) 被 ***全部删除掉*** 。

第二种情况，同样出现类似问题。
首次 create 带有 spec.policies字段的Application，组件workload按预期运行；

[2022-03-22 04:29] fourierr commented on #3481
LGTM

[2022-03-22 08:22] fzy-Line opened #3494 "The storage trait of configMap type does not support number value"
When the data value of a ConfigMap  is a number, the ConfigMap will not be created. For example, I use the vela up command to deploy the follow application, but the test1 configMap is not be created.

[code]

The I try to use the `vela dry-run` to generate the k8s resources manifests.

[code]
Finally, I use the `kubectl apply` command to deploy this configMap, I got this error

[code]

The officia

[2022-03-22 08:39] #3484 closed

[2022-03-22 08:50] fourierr commented on #3494
This is cm's constrains, each key must consist of alphanumeric characters.

[2022-03-22 09:14] chivalryq commented on #3472
Investigating this problem.

[2022-03-22 09:32] clcc2019 opened #3496 "[Feature] ingress supports configuring tls"
ingress supports configuring tls

[2022-03-22 12:17] wonderflow commented on #3460
I propose the solution can be like this:

[code]

The substeps are also an official field in the parent step named `steps`.

[2022-03-22 12:55] leejanee commented on #3460
Yeap, this proposal is great.
@zq200618 I add some background information:

[2022-03-22 14:00] fourierr commented on #3460
This solution is great and very satisfied for the scenario 

[2022-03-23 03:55] Somefive commented on #3460
I think if `subSteps` is designed at the same level with `properties`, then we do not need workflow step `type` and `properties` in this special step. `type`/`properties` should be exclusive with `subSteps`.

[code]

Otherwise, we should put `subSteps` in properties to keep consistency, like
[code]

[2022-03-23 04:02] wonderflow commented on #3460
yes +1 for the new spec, this will be more clear:

[code]

The subSteps and steps should be  exclusive fields with each other.

[2022-03-23 08:27] chivalryq commented on #3472
This field is tagged by `// +ignore`. This cause it invisible in `vela show`. You can check it by

[code]

If you wanna see it again. use `vela def edit webservic` to remove this tag in CUE.

Closing. Feel free to reopen it if you have more questions.

[2022-03-23 08:27] #3472 closed

[2022-03-23 08:59] Somefive commented on #3460
FYI, compared to add subSteps to KubeVela workflow, an alternative solution is to develop a `multi-deploy` workflow step which is more light-weight but not so powerful as the subSteps design.
[code]
or
[code]

In this solution, the key is to write a `multi-deploy.cue` WorkflowStepDefinition like `deploy.cue`. There's no need to modify controller code, except that controller need to recognize the p

[2022-03-23 09:16] #3431 closed

[2022-03-23 09:32] fourierr opened #3499 "[Feature] A new ComponentDefinition cron-task"
**Request description**
KubeVela already has the ComponentDefinition task, consequently there is a need for cron-task ComponentDefinition  that was based on CronJob.bacth/v1

[2022-03-23 10:17] StevenLeiZhang opened #3500 "api-server fail to start, when multi-cluster is disabled"
**Describe the bug**
api-server fail to start, when multi-cluster is disabled

**To Reproduce**
1. helm install vele-core, and disable multi-cluster
[code]

2. enable addon velaux
[code]
3. check the status of api-server's pod
it raises error and exit
[code]

cluster-gateway service is not exist, so api-server can not contact it.

**Expected behavior**
1. api-server works well when multi-cluster i

[2022-03-23 10:45] jefree-cat commented on #2934
typical  scenario for the application composed of  micro-services arch.  suggest considering the issue solved align with multi-svc best practices.

[2022-03-23 12:35] fourierr commented on #3499
/assign

[2022-03-23 12:46] #3500 closed

[2022-03-24 03:34] wonderflow commented on #3460
@zq200618 why closing this issue? I think this is meaningful.

[2022-03-24 03:36] wonderflow commented on #3460
@zq200618 if this proposal is adopted, hope you can also contribute to the upstream, this is good scenario.

[2022-03-24 05:06] zq200618 commented on #3460
Sorry. i reopen it now. close is a fault operation

[2022-03-24 06:42] zq200618 commented on #3460
Combine everyone points，I suggestion it is as bellow
[code]
Name and type is mandatory for all workflow step, properties and subSteps is optional according to the step type.
For example:
Suspend step type don't have properties and subSteps
Deploy step type only have properties
Step-group step type only have subSteps

We can just support each subStep running in parallel now
I hope the step and sub-

[2022-03-24 07:33] wonderflow commented on #3460
@zq200618 will the `multi-deploy` more suitable and easy to implement for your case?

[2022-03-24 08:26] wonderflow commented on #2449
@fourierr yes, the reversal order of the creation.

[2022-03-24 13:25] zq200618 commented on #3460
@wonderflow  Because we need to get each components deploy process information, so maybe multi-deploy may not match my case.
If use substep solution, a component will be set to a substep,  then I could get component deploy process information according to the substep status as you suggestion two days ago :
[code]
Meanwhile, substep solution is not so much powerful,  We could review it then make de

[2022-03-25 03:12] miyoosan opened #3504 "[Feature Request] support delayed workflow step, such as delay 30s then go through to the next"
希望workflow里能提供延时任务的功能，比如延时30秒，才进入下一步

**Is your feature request related to a problem? Please describe.**

我有个应用，收到通知部署成功后，这个应用要等30秒才真正由新版本提供服务。能否在部署步骤里，加延时功能？
![image](https://user-images.githubusercontent.com/25057968/160047008-b1b0dafb-33f0-4523-9b21-57fca30e1122.png)

---

Here's an app, after triggered from the notification, this app should wait for some time (such as 30s) to deploy the new ve

[2022-03-25 03:20] FogDong commented on #3504
我们可以考虑扩展 Workflow 的 Suspend 内置步骤，在里面加上 Duration 延时。如果有这个延时，则修改 Workflow 的 Backoff Time。

[2022-03-25 03:21] miyoosan commented on #3440
![image](https://user-images.githubusercontent.com/25057968/160047720-6669b865-9c23-4a23-ac12-4f9706797d85.png)
Well, you can use ServiceAccountToken. I use it to controle my gke cluster. It works well
`$ vela cluster list
CLUSTER                 TYPE                    ENDPOINT
cluster-ali-prod        X509Certificate         https://xxx:6443
gcp                     ServiceAccountToken     https:/

[2022-03-25 03:24] miyoosan commented on #3440
@devholic You can find the way to create ServiceAccountToken in this article. Hope it would help you.[link](https://goteleport.com/blog/kubectl-gke/)

[2022-03-25 03:38] devholic commented on #3440
@miyoosan
The `ServiceAccount` in this issue is the Kubernetes ServiceAccount, which is [bound to the Application](https://kubevela.io/docs/next/end-user/service-account-integration), is different with the Cloud Provider's ServiceAccount 🤔

I'm not sure, but if It is possible to import single cluster with various accounts (which has scoped permission on the target cluster), it might solve this iss

[2022-03-25 03:43] zhiyuone opened #3505 "[Feature] full kubernetes native rbac support"
**Is your feature request related to a problem? Please describe.**

![20220325145328](https://user-images.githubusercontent.com/9315872/160074968-0c5844b7-f92a-4e9e-8c08-348fc15fdb41.jpg)
uesr no permisson to create deployment, but can create deployment through application.
In some scense,  it is not suitable. And in apiserver auditing log, it's hard to trace.

Desired result: core uses my account

[2022-03-25 03:49] zhiyuone commented on #3440
Is it possible to assume that the managed clusters all have the same sa, and we only need a multi-cluster sa synchronization components?

[2022-03-25 03:55] zhiyuone commented on #3505
If this proposal can be accepted, i can work for this.

[2022-03-25 04:02] wonderflow commented on #3505
@zhiyuone Thanks for the proposal. Can you describe some more details about the workflow? Please gvie some example yamls, that can be helpful to understand.

[2022-03-25 04:03] miyoosan commented on #3440
Yes, it is just the Kubernetes ServiceAccount. Maybe you should read the article once. Or, lookin into this [shell script,](https://github.com/gravitational/teleport/blob/master/examples/k8s-auth/get-kubeconfig.sh) to find the similary method.

I paste the script bellow:
[code]

[2022-03-25 04:13] Somefive commented on #3505
So I think the solution is to add a optional mutating webhook for application which will recognize ServiceAccountName in requests and inject it into application annotation.

Currently I prefer to limit the injected annotation to "app.oam.dev/service-account-name" instead of adding more annotations. If you are interested in implementing it, let's work on this annotation first.

[2022-03-25 04:32] devholic commented on #3440
@miyoosan

Sorry, I misunderstood. As you mentioned, it is possible to join a cluster with the specific ServiceAccount.

However, we still need an access-control strategy for the `Cluster` resource, because it's not a namespaced resource as I commented above. (As far as I know, every Application resource can use `Cluster` without restrictions, unless using custom validating webhook - Kyverno)

Als

[2022-03-25 05:21] wonderflow commented on #3205
You can communicate with mentors in #kubevela-dev channel of CNCF slack https://slack.cncf.io/ . The id of mentor is @FogDong

[2022-03-25 06:17] FogDong commented on #3460
If the substeps' mode is DAG, then we need to have `dependsOn` and `intput/output` for substeps. That will make things more complicated.

[2022-03-25 06:28] Somefive commented on #3440
@devholic @miyoosan

Right, our KubeVela Team has also been discussing the multi-cluster ServiceAccount issue with the OCM members and other multi-cluster technique developers for a while.

Previously, we were not planning to do the multi-cluster ServiceAccount since its priority is low. So for the minority users who want to control the access to the managed clusters we recommend them to use the S

[2022-03-25 06:28] miyoosan commented on #3440
I agree with you.

[2022-03-25 06:32] Somefive commented on #3481
LGTM

[2022-03-25 06:34] wonderflow commented on #3481
@JooKS-me You can send a PR for that

[2022-03-25 07:17] FogDong commented on #3205
Welcome!

You can apply for this after the contributor apply begins, please refer to: https://developers.google.com/open-source/gsoc/timeline .
We can also discuss it in slack first if you want.

[2022-03-25 07:27] JooKS-me commented on #3481
OK, thanks so much.

[2022-03-25 07:43] zhiyuone commented on #3505
yes, I have updated the description

[2022-03-25 07:50] zhiyuone commented on #3505
@Somefive
For usernames in kubernetes, username includes user's name and service account name. app.oam.dev/service-account-name is somewhat ambiguous when applied to user's name, I think it is more suitable to be put in the spec.
Users impersonate  are divided into usernames and groups, I think at least one username annotation and one group annotation are needed.

[2022-03-25 08:07] huanggze opened #3510 "Cannot use `dependsOn` in `components` when `deploy2env` exists"
**Describe the bug**

Cannot use `dependsOn` in `components` when `deploy2env` exists

**To Reproduce**

I am following the How-to Guides [Cloud Resources - Provision a Database and Import a SQL File for initialization](https://kubevela.io/docs/end-user/components/cloud-services/provision-and-initiate-database#!), and intentionally add `dependsOn` within the `web` component like below:

[code]

Th

[2022-03-25 08:20] huanggze commented on #3510
Seems duplicate with #3441

[2022-03-25 08:21] #3474 closed

[2022-03-25 08:24] andream7 commented on #3361
#3511

[2022-03-25 08:59] wonderflow commented on #3505
Great , I think this proposal works for me. This is also what the community needed. Thanks @zhiyuone , please go head!

[2022-03-25 09:39] wonderflow commented on #3343
You can fix this issue by adding the field `attributes: workload: definition`

[code]

Yes, it's also possble to infer from the data in `template.output.apiVersion` and `template.output.kind `.

Welcome to contribute this fix if you'd like to. Thanks.

[2022-03-25 10:04] #3481 closed

[2022-03-25 10:39] Somefive commented on #3395
#3424 extends the selector to support component type. Further rules can be added such as filtering by resource kind / component name / resource name. Let's make it a "first good issue".

[2022-03-25 10:40] Somefive commented on #3510
The reason for not supporting `dependsOn` is #3394.

[2022-03-25 14:33] huanggze commented on #3510
Thanks for your reply. but I wonder if there is a way to apply components in order?

[2022-03-25 18:07] devholic opened #3516 "[Feature] Show detailed error message on WorkflowStepDefinition failure"
**Is your feature request related to a problem? Please describe.**

Some WorkflowStepDefinition (specifically, definitions containing Kubernetes API related operations - e.g. [read-object](https://github.com/oam-dev/kubevela/blob/d1f56743cce61028a4757b07f60075810a73ed72/vela-templates/definitions/internal/workflowstep/read-object.cue)) fill error to the value instead of returning it. ([ref](https:

[2022-03-25 18:45] devholic commented on #3505
I think this proposal sounds great to me 🙂

However, I have a concern about the Application editing scenario:

Let's assume that there are two users in the `vela` namespace.

- User `A` has admin role in the namespace
- User `B` can edit specific resources only (`Application`, `Deployment`)

If the user `A` creates an `Application`, then user `B` tries to edit this application, application might b

[2022-03-26 02:43] wonderflow commented on #3505
Hi @devholic  , good catch. But how will it works when we follow this advice in your case?

Do you mean we still use service account by creating/editing application, and the User `A` and `B` use the same service account in this case? We check if user `B` has the permission to the service account in the webhook, am I right?

[2022-03-26 02:44] wonderflow commented on #3516
great

[2022-03-26 03:26] zhiyuone commented on #3505
@devholic Thanks for the suggestion
I've been thinking about whether impersonating users is reasonable for vela for a long time. If we look at vela as a application controller, there is no problem with using a service account.
our current scenario is more inclined to use vela as a template generator, similar to advanced helm, but this may deviate from the original intention of vela?

Sometimes thi

[2022-03-26 03:41] Somefive commented on #3505
I'm not sure if we need to add user/group concept into application now. /cc @wonderflow
The ServiceAccount part is the basic natural identity mechanism in Kubernetes. IMO, application should directly use the service account but now do any further permission check in the controller right now. The User/Group part could be a third-part implementation on top of the ServiceAccount as different corporat

[2022-03-26 03:44] Somefive commented on #3510
Yes. You can use `apply-component` in WorkflowStep to manually controller the order for components to deploy. If combined with env-binding, the default order is the order of components declared in the application spec.

[2022-03-26 04:02] devholic commented on #3505
@wonderflow

Yes, but it might be cumbersome to manage as @zhiyuone pointed out 😢

[2022-03-26 05:48] wonderflow commented on #3505
@zhiyuone I think this won't prevent us from implementing it. As @Somefive said, this mechanism works in admission webhook and it will have feature flag that users can choose to turn it on/off. By default, it should be turned off.

[2022-03-26 05:50] wonderflow commented on #3505
@devholic we're also practicing something similar to your proposal in velaux ( #3493  ).

[2022-03-26 09:31] huanggze commented on #3510
Thanks for clarification!

[2022-03-26 09:34] Somefive commented on #3510
Let's make this issue open until we support this feature.

[2022-03-26 10:30] huanggze opened #3518 "notification email doesn't work"
**Describe the bug**

The workflowstep of notification.email doesn't work. Application hang.

**To Reproduce**

I'm pretty sure my email setting is correct. But no email sent out. Checking with the message from `vela status` (see snapshots), I am guessing something is wrong [here](https://github.com/oam-dev/kubevela/blob/v1.2.5/vela-templates/definitions/internal/workflowstep/notification.cue#L298

[2022-03-27 10:21] barnettZQG opened #3521 "[Chore] optimize the CI config"
![image](https://user-images.githubusercontent.com/18493394/160276963-7f6d0dc3-043e-4c2c-beb8-c987f6330422.png)

As shown in the figure above, The apiserver's unit test does not rely on the docker image, so it should be executed before the image building and loading step to speed up error feedback.

[2022-03-27 23:15] josephlim75 commented on #3072
Found the answer for the `volume` spec.  It turns out that I am missing the `cmName` attribute/property
[code]

[2022-03-27 23:16] #3072 closed

[2022-03-28 02:08] Vrukshali-26 commented on #3224
Hey @zzxwill Can I get some resources to understand the entire Kubevela Architecture?

[2022-03-28 06:11] fourierr commented on #3510
If i use `apply-component` , how can i assign namespace to component?

[2022-03-28 08:14] #3518 closed

[2022-03-28 08:45] fourierr commented on #2449
To fix this issue that GC not sequential will have many code changes,  so i think we should have a discussion to talk about it.
I propose the solution and it is not very graceful perhaps:
we have a linked list struct in memory ,and each component match a Node, compName is component's Name.
`
type Node struct {
   compName string,
   Next []*Node
}
`
Step1. in Init Stage, range all component ,if co

[2022-03-28 09:15] FogDong commented on #2449
Why can't we use `status.workflow.steps` for GC directly?

Right now In `status.workflows.steps`, we'll have all running and finished steps. For those workflow steps that is not starting, it won't be shown in status.
But the status of the steps is now sequential, we do not record `DependsOn` or `Inputs/Outputs` in it, still I think it's enough to handle GC.

[2022-03-28 09:23] FogDong commented on #2449
We're now using `resourceTracker` for GC, sorry for the misleading, we should add sequence in `resourceTrackers`'s managedResources like:

[code]

[2022-03-28 09:50] jefree-cat opened #3527 "[Feature]"
**Is your feature request related to a problem? Please describe.**
Use Case: frontend workload + related trait
In micro-service scenario, typical  application toplogy is 3 components architecture(frontend + backend(webservice) + database). for application developer,  frontend(etc: react) workload has some unique traits distinguish from webservice(spring-boot). For example,
1. Observability is uniq

[2022-03-28 09:50] jefree-cat commented on #3527
@wonderflow, please review it. thx.

[2022-03-28 11:58] fourierr commented on #3499
I propose the solution cron-task can be like this:
[code]
ping  @wonderflow @yangsoon

[2022-03-28 13:02] fourierr commented on #2449
I understand that if i want to delete one item of managedResources, should check the item's dependsOn firstly, am I?

[2022-03-29 02:11] barnettZQG commented on #3527
@jefree-cat As you said, It differs from backend stateless services only in traits. so, maybe you could define some trait definitions, but you can also use the webservice component definition.

[2022-03-29 02:19] barnettZQG opened #3535 "[Feature] ignore the namespace resource when executing the application GC"
**Is your feature request related to a problem? Please describe.**

There is a case, we enable the flux addon to an ACK cluster, which will create a namespace by component. when we want to disable this addon, it can not be GC successful as there is a can not be deleted namespace, in this namespace, ACK creates some other resources. such as `containernetworkfilesystem.storage.alibabacloud.com`.

I

[2022-03-29 02:23] zzxwill opened #3536 "[Feature] Sort variables and outputs for a cloud resource specification"
The properties and outputs should be in alphabetical order, which will help users to look for the usages.

Or all specifications will be modified even one or a few cloud resources is modified like https://github.com/oam-dev/kubevela.io/pull/553/files.

[2022-03-29 03:59] drozzy opened #3538 "Error: no port found in app or arguments"
Following the install instructions here:
https://kubevela.io/docs/install

When I get to this part:
`vela port-forward addon-velaux -n vela-system`

I get this error if I select the indicated in the docs menu item:
[code]

[2022-03-29 04:07] chivalryq commented on #3535
Maybe check this? app with gc policy. Keep namespace component away from GC.
https://github.com/oam-dev/kubevela/blob/master/docs/examples/app-with-policy/gc-policy/persist-resources.md

[2022-03-29 04:12] Somefive commented on #3535
Support selecting resources by component name in #3539.

[2022-03-29 04:12] Somefive commented on #3395
#3539 extends the selector to support component name.

[2022-03-29 05:31] barnettZQG commented on #3535
@Somefive @chivalryq  By specifying a policy that's one way to do it, but if one component has multiple resources and includes a namespace, this approach seems to be inappropriate.

On the other hand, I'm wondering should it be something that the user should perceive?

[2022-03-29 07:59] Nicola115 commented on #3536
I've write a tool for sorting providerName and resourceName in the cloud-resources-list.md: https://github.com/Nicola115/try-kubevela-tools/blob/master/sort-form-doc/main.go

But I'm not sure if that's what you want. And if so, where to add the sorting tool in kubevela repo?

[2022-03-29 10:43] barnettZQG commented on #3538
@drozzy are you installed by the command `vela addon enable velaux`?

[2022-03-29 12:07] #3371 closed

[2022-03-29 13:49] Somefive commented on #3535
If you want to do so, we can extend the selector by resource type and resource name. But this means users need to interact with resources directly instead of upper abstract model layer, such as traits and components.

IMO, we should. Why namespace should be a resource that is not expected be recycled by default? Adding implicit special rules are hacks and there is no obvious evidence that this is

[2022-03-30 02:26] barnettZQG opened #3551 "[Chore] install vela CLI from oss"
**Is your feature request related to a problem? Please describe.**

Currently, we install the vela CLI from the GitHub release, it is frequently failing due to network. we have an OSS that is a global Internet speedup, use it to improve the user experience.

**Describe the solution you'd like**

1. change the release script to publish the binary to OSS.
2. change the install script and download CL

[2022-03-30 02:29] fourierr opened #3552 "[Feature]A vela command line is wanted for converting container app to kubevela app"
## Request description

In the process of enterprise practice, there are large mount container apps needed to convert kubevela apps.Therefore,
we need a feature for converting container app to kubevela app easily and conveniently.

## Solutions

### Step 1. There is a vela command line as follows

[code]

In this case, the first deployment `deploy_a` in `ns_a.cluster_a` and second deployment `depl

[2022-03-30 02:32] drozzy commented on #3538
Yes, I followed the install procedure exactly. Not sure what went wrong.

[2022-03-30 02:38] zq200618 commented on #3460
we can discuss these scenario internally

[2022-03-30 03:49] barnettZQG commented on #3538
[code]

[2022-03-30 04:06] Somefive commented on #3552
So the scenario is like
1. There are deployments already running in clusters.
2. You want to add an application on top of them to help manage them like upgrade or recycle.

The idea is good. The proposed command `vela convert` is a bit confusing. It might be better to use some other more elegant name. /cc @wonderflow

Besides, the 6 steps could be split into different parts. For example, step 1~3

[2022-03-30 05:27] #3499 closed

[2022-03-30 06:04] wonderflow commented on #3552
@fourierr what is the purpose of adopting the deployment? Will the user or third-party system manage the deployment directly after this convert?

There can be different Implementation for different purposes, there're two possible scenarios:

1. adopt the deployment as KubeVela application and after that using application to manage the whole lifecycle.
2. adopt the deployment but still allow deploy

[2022-03-30 06:59] fourierr commented on #3552
In most case, the container app was deployed in two or three cluster for high availability, so we want to adopt two deployment in different cluster(have same spec just cluster is different) to one component.

[2022-03-31 02:09] oeular opened #3559 "[Feat] rollout trait can be controllered in hubcluster"
# Goal
    - CRs related vela can be managed in HubCluster
    - No CRs are needed to be in ManagedClusters，so that they can be easy and clean for future maintaining and upgrading
# Solution
  -  trait CRs installled, deployed and managed in hubcluster
  -  trait Controller running in hubcluster

[2022-03-31 02:49] oeular commented on #3559
# Advantage：
   - Keep managedclusters to be tiny and enough original for future upgrading and maintaining
   - Managing vela and related CRDs，CRs and Controllers can be unified in hubcluster
   - Extending managedclusters for app deloyment can be more smooth
   - Most importantly，other similar CRs will be used，so this problem is common for them

[2022-03-31 03:26] fourierr commented on #3559
This feature enables that trait's CRs can be deployed on hubcluster conviently and CR was reconciled on hubcluster directly

[2022-03-31 06:13] barnettZQG commented on #3559
@oeular thanks for your proposal, you need a rollout controller working on multiple managed clusters. it needs to watch resource events from multiple managed clusters. please let us know your thoughts about the following:

1. The vela rollout cannot work in this case, are you providing a new implementation?
2. There are some rollout implementations in the community, ArgoRollout、KruiseRollout, and

[2022-03-31 06:18] Somefive opened #3561 "[Feature] Application CustomStatus"
**Is your feature request related to a problem? Please describe.**

In some cases, users might want to use customized application status to aggregate information inside the application. We should provide some ways for user to do this extension.

[code]
[code]
[code]

The pod-view.cue should be store in ConfigMap or some CRDs like `QueryView`. Then a controller like HealthScopeController will take

[2022-03-31 06:50] wonderflow commented on #3559
@oeular Can you provide some design about the Implementation ? AFAIK, this won't be easy, it's not supported by the framework now.

[2022-03-31 07:04] zmberg commented on #3559
We can draw an analogy between:
1. vela application vs deployment
2. vela application vs rollout

The vela application has a full amount of data (including deployment and rollout configuration) in the control cluster, which is distributed by the vela to the subclusters and consumed by the respective controllers (rollout, deployment), after which the status data is synchronized by the vela back to

[2022-03-31 08:38] wangyikewxgm commented on #3559
This the rollout trait work in hubCluster it should understand all multi-cluster info defined in application, and handle rollout all workloads in all managedClusters. This will break our framework that only app-controller can touch the managedClusters.

[2022-03-31 10:57] wonderflow commented on #2934
hi @andy-ruc it's supported in https://github.com/oam-dev/kubevela/releases/tag/v1.3.0-beta.2 please have a try

[2022-03-31 10:57] #2934 closed

[2022-03-31 11:15] wangyikewxgm commented on #2912
Have been fixed by #3497 . If you specify any cluster will install on all managedClusters

[2022-03-31 11:15] #2912 closed

[2022-03-31 11:41] oeular commented on #3559
@zmberg thanks for your solution, kruise rollout is a nice choice, we will consider  in some days. But now we  mostly want to  choose k8s deployment for implementing our rollout trait. So kruise rollout solution can be applied to k8s deployment.

[2022-03-31 11:43] oeular commented on #3559
@wonderflow  OK，we will try to give a proposal soon

[2022-03-31 11:45] chivalryq commented on #31
@zzxwill done this with a complete configuration manage system. 🎉
The main PRs is https://github.com/oam-dev/kubevela/pull/3430

[2022-03-31 11:45] #31 closed

[2022-03-31 11:49] barnettZQG opened #3566 "[Feature] Install the CRD before install the addon."
**Is your feature request related to a problem? Please describe.**

About the CRD of the addon, we have two obstacles:

1. There is a definition that depends on one CRD. it will create failure if CRD is not installed.

such as:
[code]
When we install the flux addon, it will fail. because the CRD is not installed success before creating this component definition.
[code]

2. For an addon that is dep

[2022-03-31 11:51] oeular commented on #3559
@wangyikewxgm  only app-controller can touch the mngedclusters，it means ONLY app-controller can track k8s objects? Other controller ONLY control its CRs (not buitl-in k8s objects) in mngedclusters or hubcluster？

[2022-03-31 17:41] wonderflow commented on #2338
it's already supported by using `vela install` in v1.2

[2022-03-31 17:41] #2338 closed

[2022-03-31 17:44] #1770 closed

[2022-04-01 02:18] zmberg commented on #3559
Kruise Rollout can be applied to k8s deployment workload now. refer: https://github.com/openkruise/rollouts/blob/master/docs/tutorials/basic_usage.md

[2022-04-01 05:19] oeular commented on #3559
@zmberg  Thanks. The key point, all CRDs and CRs of kruise rollout  can be managed in HubCluster ? Or there is any solution for this.

[2022-04-01 05:27] ZhongsJie opened #3573 "[Feature]Add definition revision to support reasonable definition iteration"
**Is your feature request related to a problem? Please describe.**

At present, if the native definition of kubevela needs to be modified, such as `{} -> []`, the users who use the former version will be affected. Similar modifications to the definition will introduce break change.

In the long-term, to ensure compatibility, redefining a field to meet special scenarios may result in complex struct

[2022-04-01 06:23] barnettZQG opened #3575 "upgraded the addon success, but install version is not be changed"
**Describe the bug**

Upgrade the VelaUX addon from 1.3.0-beta.2 to 1.3.0, the pod is already upgraded to 1.3.0, but the install version is not changed.
[code]

**KubeVela Version**

1.3.0

[2022-04-01 08:59] #3575 closed

[2022-04-01 11:16] guobingithub opened #3577 "[Feature] vela api support multi components when create an application"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-04-02 03:39] tangoliu commented on #3559
@barnettZQG @zmberg  Can resources be deployed to HubCluster or ManagedClusters through cluster gateway adaptation.

[2022-04-02 05:43] reckless-huang opened #3578 "velaux对trait的前端支持不完整"
**Describe the bug**

我尝试在velaux中为应用新增一个运维特征，但是好像不是所有的trait都有参数支持
![image](https://user-images.githubusercontent.com/53162954/161368302-840ffe9a-7106-4e13-a315-274efe0fdb7e.png)
![image](https://user-images.githubusercontent.com/53162954/161368307-a68c03f8-f7e0-44bd-bced-b3d3dc422788.png)

**To Reproduce**

新增组件----》新增运维特征

**KubeVela Version**

![image](https://user-images.githubusercontent.com/5

[2022-04-02 09:22] FogDong opened #3583 "[Feature] Replace Dex logo with KubeVela logo"
**Is your feature request related to a problem? Please describe.**

In KubeVela 1.3, we can use dex for login like below:
![image](https://user-images.githubusercontent.com/15977536/161376631-231eabae-2382-4e04-8af2-ce1f0da102aa.png)

It's better if we can replace dex logo with KubeVela logo. In order to do this, we need to change the source code in [dex](https://github.com/dexidp/dex).

**Describ

[2022-04-03 01:56] drozzy commented on #3538
Thanks

[2022-04-03 01:56] #3538 closed

[2022-04-03 10:11] clcc2019 opened #3585 "v1.3.0 no addon info"
![image](https://user-images.githubusercontent.com/46099295/161422500-2207f8a8-1c8c-41e5-ac5f-50d8bc21c431.png)

[2022-04-03 14:01] wonderflow commented on #3585
Have you upgrade the vela-core to v1.3.0? It seems the server lost the configuration of addon, you can apply this configmap and try again:

[code]

[2022-04-03 14:30] wonderflow commented on #3583
link to kubevela logo:
* https://github.com/oam-dev/kubevela.io/blob/main/static/img/logo.svg
* https://github.com/oam-dev/kubevela.io/blob/main/static/img/logo.jpg

[2022-04-03 14:33] wonderflow commented on #3566
As for this issue, we can make the CRD installation seprated from other resources.

1. CRD should always installed in the control plane(hub cluster) whenever the addon is installed in runtime or controlplane only.
2. When upgrade addons, the helm didn't support upgrade CRD well. Seprated CRD can make us support upgrade better.

[2022-04-05 20:34] s4rd1nh4 opened #3588 "Nominate myself @s4rd1nh4 as a Review member"
I has been actively contributing to KubeVela Core and three of his pull requests have been merged.
https://github.com/oam-dev/kubevela/pull/3408
https://github.com/oam-dev/kubevela/pull/3403
https://github.com/oam-dev/kubevela.io/pull/566
https://github.com/oam-dev/kubevela.io/pull/477
https://github.com/oam-dev/samples/pull/76
I has met the requirement for the Review role of KubeVela membership.

[2022-04-06 02:21] wonderflow commented on #3588
👍  great! Thanks! Hope to see more contributions!

[2022-04-06 02:34] zzxwill commented on #3224
@Vrukshali-26 Yes, you can look through the resources https://kubevela.io/docs/getting-started/architecture.

[2022-04-06 03:11] wonderflow commented on #3577
I think it's supported now in [v1.3.0](https://github.com/oam-dev/kubevela/releases/tag/v1.3.0), please have a try!

I'm going to close it, feel free to re-open if you still have any issues on it.

[2022-04-06 03:12] #3577 closed

[2022-04-06 03:32] FogDong commented on #3573
Thanks for the proposal!

So, all of our definitions now should be set to `v1 groupVersion`.
And I think for every definition, we need to set a `stable` or `core` version, and for those applications without versions specified, we use a `stable version`.

For example, there is an application without a definition version:

[code]

If the stable version of `webservice` is `v1`, then we use `webservic

[2022-04-06 04:59] rutvik24 commented on #2442
Hi @zzxwill, I want to contribute in this project gsoc 2022, can you guide me how can i start this.

[2022-04-06 05:57] zzxwill opened #3589 "Failed to add terraform-aws provider. Error: must specify a value for AWS_SESSION_TOKEN"
**Describe the bug**

Failed to add terraform-aws provider.

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

1.3.0

**Cluster information**

**Additional context**

[2022-04-06 06:50] zzxwill commented on #2442
Thanks for your interest. You can start with the issues:)

[2022-04-06 09:31] oiar commented on #1851
How is the progress, we have the same needs.

[2022-04-06 10:17] oeular commented on #1851
@wonderflow  Can we define an absolutely complete webservice CR (cuel template for deployment)? And service, ingress, configmap and secret are the same.

[2022-04-06 13:25] wonderflow commented on #1851
I don't fully understand. What do you mean by "absolutely complete webservice CR"? What's the difference between the current webservice and the new one?

[2022-04-07 03:09] ArenaSu opened #3592 "self-defined patch trait can not modify k8s-object component ouputs"
**Is your feature request related to a problem? Please describe.**

I can not modify k8s-object component ouputs via self-defined patch trait, by default trait can only modify component output config.

Envision this scenario:  In order to retain all abilities of k8s object for PaaS/AI-PaaS/BigDataPaaS/EdgePaaS/etc, we use k8s-object
componet. And we add Deployment/Job/Statefulset, service, ingress

[2022-04-07 03:15] ArenaSu commented on #3504
/assign

[2022-04-07 05:41] #3589 closed

[2022-04-07 07:49] ArenaSu opened #3596 "application can not be deleted when apiVersion of component object is wrong"
**Describe the bug**

**To Reproduce**

1、 app.yaml below

2、exec cmd: kubectl apply -f app.yaml

3、kubectl describe app vela-nginx-app message

**Expected behavior**

Application should be deleted when apiVersion of component object is wrong

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-04-07 08:55] stonejianbu opened #3597 "update the project name of the delivery target failure"
**Describe the bug**

We can modify the project name of the delivery target at the front end and commit, but it doesn't work.
![image](https://user-images.githubusercontent.com/42639779/162160035-52fc81d0-f222-48f1-acdf-a991e8827f2b.png)
![image](https://user-images.githubusercontent.com/42639779/162157048-73c96e76-998f-48a7-a0f8-b262254c70b2.png)
https://github.com/oam-dev/kubevela/blob/b1823084a

[2022-04-07 12:43] wonderflow commented on #2319
ping @Somefive

[2022-04-07 14:10] oeular opened #3599 "[Feature] "vela addon enable" can enforce to skip all the check items"

[2022-04-07 14:39] oeular opened #3600 "[Feature] All addon enable can choose NS to deploy by vela-cli parematers"
e.g vela addon enable -n my-ns ./catalog/addons/velaux
e.g vela addon enable --namespace my-ns ./catalog/addons/velaux

[2022-04-07 16:19] rtrive commented on #2319
apologise @wonderflow but I made a mistake. This issue is related to `multicluster disabled`, instead I have `multicluster enabled`. Do you prefer that I'll open a new issue?

[2022-04-08 02:03] ArenaSu commented on #3504
我的方案见下:

1. suspendTaskRunner里添加WorkflowStep或者Properties字段
2. WorkflowStep Properties里设置delay的时间等扩展参数配置
3. suspendTaskRunner执行Run的时候发现delay的参数后，还是会执行suspend操作，但是这个WorkflowStepStatus里的Phase设置成WorkflowStepPhaseRunning
4. 在application reconcile主函数里switch workflowState时发现是WorkflowStateSuspended状态会添加一个func判断是不是处于delay suspend step里，如果是，就在ctrl.Result里设置RequeueAfter为delay剩下的时间

My solution below:

1. add

[2022-04-08 02:31] BinaryHB0916 commented on #3588
+1，Thanks for your efforts and let's explore more.

[2022-04-08 02:33] FogDong commented on #3588
👍Cool! Welcome to the community:)

[2022-04-08 02:38] wangyikewxgm commented on #3588
👍   Thanks for the contributions.

[2022-04-08 02:38] FogDong commented on #3504
The solution is generally LGTM, we can discuss more details in the PR.

[2022-04-08 02:55] ArenaSu opened #3601 "kubevela install error using latest intall.sh"
**Describe the bug**

Install message below:

**To Reproduce**

1. download https://kubevela.io/script/install.sh
2. bash install.sh

**Expected behavior**

Install success without error.

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-04-08 05:21] #3588 closed

[2022-04-08 07:07] Somefive commented on #1851
This issue is not very easy to implement. Anyone who want to look into it can refer to

[2022-04-08 08:12] cezhang commented on #1425
I'd like to help with this issue.
About adopt Dapr, does it plan to support new trait using addon like the way support helm using fluxcd addon?

[2022-04-08 08:27] reckless-huang opened #3606 "Problem of converting batch applications"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/53162954/162392660-2c23600d-5a93-44a3-9c94-9c6fd0cd94cf.png)
如图我想使用velacore通过api调用完成这类转换过程，但是velacore提供的create函数和我直接写一份yaml提交并无区别，大多数的参数都是map[string]interface{},我需要先使用vela def get configmap查看对应trait的cue定义
![image](https://user-images.githubusercontent.com/53162954/162392881-08e1b90

[2022-04-08 08:58] oiar commented on #1851
/assign

[2022-04-08 10:21] ZhongsJie96 commented on #3573
IMO, this is a relatively good implementation for the definition version. The conversion between versions can be achieved by adding conversion logic to the new version template, the corresponding conversion processing is performed by comparing the version number when the user modifies the version. However, this implementation will increase the complexity of the template, and it is necessary to con

[2022-04-08 11:35] oeular opened #3610 "[Feature] Flink Workload"
Use Case: flink(operator) workload for processing the big data

To improve the usability of big data processing framework, and its extendibility, so as its other business traits

[2022-04-08 11:42] oeular commented on #1851
@Somefive  Thank you. We will dig into it, and we are planning to discuss the design next.

[2022-04-08 12:59] ewassef commented on #1851
What about supporting a merge on existing outputs? For example, if a previous trait created an ingress and a latter trait wants to add to that (for certs or for annotations for example), could the syntax be something like this

[code]

Which would error if the `&` symbol wasn't there but would merge the output otherwise. This can also act as a check for if that output already exists and would erro

[2022-04-09 03:47] wonderflow commented on #1425
Yes, we have some experimental addons about observability, you can add dapr like that:

1. https://github.com/oam-dev/catalog/tree/master/experimental/addons/observability
2. https://github.com/oam-dev/catalog/tree/master/experimental/addons/observability-assets

\cc @wangyikewxgm

[2022-04-09 03:48] wonderflow commented on #3610
great, this can be a flink addon.

[2022-04-09 07:52] kethavathsivanaik commented on #3599
I want to work on this issue @wonderflow can you help me!

[2022-04-09 16:37] daixijun opened #3611 "版本升级时helm渲染失败"
**Describe the bug**

**To Reproduce**
[code]

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/3611220/162582990-1bff0c43-0393-479a-ad49-6956a9d32541.png)

**KubeVela Version**

[code]

**Cluster information**
[code]
**Additional context**

[2022-04-10 09:03] fourierr commented on #3610
great work

[2022-04-10 12:14] zq200618 opened #3612 "[Feature] New solutions to work on OAM application level canary rollout"
**Request description**
Currently, Vela support rollout trait to support component advanced update strategy such as planning canary update. But there is no complete solutions to work on OAM application level advanced rollout function. It should support bellow cases:
1.Part of components need to update concurrently in one application rollout, which the components may have directly or indirectly cal

[2022-04-10 13:00] Echo-Van opened #3613 "初始化生成的用户密码可能不符合velaux的表单校验的要求"
问题描述：用户管理接口初始化时生成的密码随机字符串可能会生成全是字母/数字的字符串，而velaux前端的表单的校验要求输入的字符串至少一个数字和字母。

密码字符串生成函数如下：
[code]

velaux的登录表单中密码的校验规则为“密码必须包含至少一个数字和字母，长度在8-16位之间”，匹配如下：
[code]

另外，Login按钮的中文应该是登录而不是登陆。

[2022-04-10 13:01] fzy-Line opened #3614 "初始化生成的用户密码可能不符合velaux的表单校验的要求"
问题描述：用户管理接口初始化时生成的密码随机字符串可能会生成全是字母/数字的字符串，而velaux前端的表单的校验要求输入的字符串至少一个数字和字母。

密码字符串生成函数如下：
[code]

velaux的登录表单中密码的校验规则为“密码必须包含至少一个数字和字母，长度在8-16位之间”，匹配如下：
[code]

另外，Login按钮的中文应该是登录而不是登陆。

[2022-04-10 13:01] #3614 closed

[2022-04-10 13:02] #3494 closed

[2022-04-10 14:14] jefree-cat opened #3615 "[Feature] VMService for Hybrid runtime Multi-cloud Application"
**Is your feature request related to a problem? Please describe.**
Hybrid Application workload is needed.

**Describe the solution you'd like**
will provide a core framework to integrate VMService workload to Vela as uniform control plane
1. vmservice definition
2. vmservice addon
3. openapi schema as abstract and default implementation for vmservice lifecycle
- vm runtime resource create: provisi

[2022-04-10 14:44] Ghostbaby commented on #3606
目前我们的做法是使用 proto 定义 cue 模版的 parameter ，可以分别生成 go struct 和 cue struct。

[2022-04-11 01:49] reckless-huang commented on #3606
这个方便提供一个示例么

[2022-04-11 01:50] #3611 closed

[2022-04-11 02:48] barnettZQG commented on #3613
#3545 This PR tries to fix this issue.

[2022-04-11 02:54] yangsoon commented on #3573
In fact, kubevela has implemented basic definition revision features, you can specify to create a specific version of the definition and specify it in the Application through the `@` .

https://kubevela.io/docs/platform-engineers/x-def-version
https://github.com/oam-dev/kubevela/pull/2044

[2022-04-11 03:20] wangyikewxgm opened #3618 "[Feature] Support basic-auth or reuse chartmuseum as addon registry"
**Is your feature request related to a problem? Please describe.**

Origin from https://github.com/oam-dev/kubevela/pull/3595#discussion_r845755238

We have support many types addon registry such as git. OSS and helm repo. Helm repo can be used as a versioned registry.
We should support private helm repo  which setup with basic-auth(need set http username and password)

**Describe the solution you

[2022-04-11 05:30] wonderflow commented on #3599
@kethavathsivanaik great. ping @wangyikewxgm ,please give some guides here.

[2022-04-11 05:39] wonderflow commented on #3606
Great, can you also provide some example into vela?

[2022-04-11 05:42] wonderflow commented on #3559
How does this policy work in this case?

[2022-04-11 06:28] wonderflow commented on #3573
Yes, just like @yangsoon said, we already have a version mechanism for x-definition.

I think just add a mutating webhook can make the things better.

![image](https://user-images.githubusercontent.com/2173670/162677641-8b439ede-6d29-4af5-9293-77e49c1040d6.png)

[2022-04-11 06:29] wangyikewxgm commented on #3599
@kethavathsivanaik the main logic is here. IMO you can parse the force flag in `installer` and skip this func

[2022-04-11 07:00] barnettZQG commented on #3615
The vSphere supports the VMService default?

[2022-04-11 08:33] barnettZQG opened #3621 "[Feature] support custom the permission"
**Is your feature request related to a problem? Please describe.**
There is a Permission database model.  https://github.com/oam-dev/kubevela/blob/master/pkg/apiserver/model/user.go#L137

Currently, we only create some default permissions, users can create custom permissions by API and UI.

**Describe the solution you'd like**

* Create custom platform scope permission.
  POST: /api/v1/permissions

[2022-04-11 09:03] oeular opened #3622 "[Feature] Support workload or trait CRs deploy to the specified cluster"
# some workload or trait CRs intend to deploy in HubCluster, for
- make the managed cluster clean and pure as possible as we can, for future upgrade and maintainance
- make the related vela resources easy to control, upgrade and maintainance

[2022-04-11 09:57] xueliangyang-oeuler opened #3624 "[Feature] Support the core resources version control and convert"
# All CRs  in vela apiversions control and convertion
- include application, component, policy, workflow and workflowstep etc.
- solve the multi-versions problem for the core resource types

[2022-04-11 15:37] oiar commented on #1851
Is it the following scenario that I described? There are patch operations of multiple traits in my patch, but not all of them will be patched into my target resource. Instead, according to the specified rules, the patch of these traits will be added to the target resource only when the conditions are met.

And I wonder that the scenario when to use the second solution. Could you give some examples

[2022-04-12 03:12] oiar opened #3628 "Added user binding Admin permission in velaUX, unable to view application list and environment list"
**Describe the bug**
Added user binding Admin permission in velaUX, unable to view application list and environment list

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**
v1.3.0

**Cluster information**

**Additional context**

[2022-04-12 10:33] StevenLeiZhang opened #3635 "vela-core does not report error, when component depends on invalid component"
**Describe the bug**
vela-core does not report error, when component depends on invalid component

**To Reproduce**
1. apply one application, Please note that "express-server-3" depends on one invalid component "express-server-0"
[code]

2. check application status
[code]

[code]

3. there is not error message reported in both "kubectl describe" and vela-core' log

**Expected behavior**
1. vela-co

[2022-04-12 11:39] FogDong commented on #3599
Hi Siva @kethavathsivanaik

Right now if we set version check in addon like:

[code]

Vela CLI will check the version, if the check fails, the addon can not be enabled.

This feature is added in this PR: oam-dev/kubevela#3304

But sometimes these check may need to be skipped, so we need `vela addon enable <addon-name> --force` to skip the version check. You can refer to these codes: https://github

[2022-04-12 21:25] meetguogengli commented on #3205
Hey Fog, I'm Guogeng Li or you can call me Carson directly. I'm currently a first-year grad student at UCSD with a strong interest in KubeVela and hope to contribute to the community!
For this year's GSOC, I would like to contribute to this issue https://github.com/oam-dev/kubevela/issues/3205.
The "Add GitOps addon for KubeVela" task is one of the projects I want to apply for.
Can you please help

[2022-04-13 02:30] FogDong commented on #3205
@meetguogengli Sure! We can discuss it in Salck :)

[2022-04-13 06:07] fourierr commented on #3622
Later, we will write the concrete proposal in the comments

[2022-04-13 11:39] #3613 closed

[2022-04-14 02:52] zzxwill commented on #3536
@Nicola115 Good job! Thanks.

[2022-04-14 09:06] barnettZQG opened #3653 "The app with from-inner-system source-of-truth is synced to VelaUX database."
**Describe the bug**

The app spec:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/18493394/163352172-1711110b-e4ed-430f-af42-9fb40ee29b9d.png)

**KubeVela Version**
1.3.0

**Additional context**

This app is for integrations.

[2022-04-14 11:32] #3653 closed

[2022-04-14 15:09] wonderflow commented on #3573
ref https://github.com/oam-dev/kubevela/issues/2620

[2022-04-14 15:09] wonderflow commented on #2620
ref #3573

[2022-04-14 15:29] barnettZQG opened #3663 "can not successfully create a docker registry integration configuration"
**Describe the bug**

Create a docker registry integration configuration, only set registry URL, the configuration status is not ready.

**Screenshots**
![image](https://user-images.githubusercontent.com/18493394/163422568-4c264b09-bd50-4c74-9038-a35eb513d69c.png)
**KubeVela Version**
1.3.1

**Additional context**

[2022-04-14 15:37] barnettZQG opened #3664 "can not query the instance list for synced applications"
**Describe the bug**

Can not query the instance list for synced applications, but the applications created in the VelaUX are normal.

**Screenshots**

![image](https://user-images.githubusercontent.com/18493394/163424730-366e0ad6-b6a6-48e9-ad63-95a5d51ad231.png)

![image](https://user-images.githubusercontent.com/18493394/163507160-0ba972f4-220b-439a-9092-627bf875838d.png)

**KubeVela Version**

[2022-04-15 02:00] barnettZQG opened #3666 "[Feature] add the mysql database driver for api server"
**Is your feature request related to a problem? Please describe.**

There are KubeAPI and MongoDB database drivers, some users want to use Mysql.

**Describe the solution you'd like**

https://github.com/oam-dev/kubevela/blob/master/pkg/apiserver/datastore/datastore.go#L142

Here define a database interface, you only need to implement it for Mysql.

**Additional context**

Exist database models ha

[2022-04-15 02:26] barnettZQG opened #3667 "The old version RT can not be deleted after the application deployed."
**Describe the bug**
[code]

**Screenshots**

**KubeVela Version**

1.3.1

**Cluster information**

There are two clusters, local and ask-beijing.

**Additional context**

upgrade the fluxCD addon.
[code]

[2022-04-15 02:46] flagfunker opened #3669 "[Feature]kubevela apiserver policy definition support"
**Is your feature request related to a problem? Please describe.**

kubevela apiserver webserver code description tow  api about policy_definitions. when create application , I want add a policy parameter,but apiserver not support get about policy definitions.

**Describe the solution you'd like**

first through kubeClient get policy Unstructured,then conversion the policy Unstructured to CUE valu

[2022-04-15 03:03] zzxwill opened #3671 "[Feature] Add some tags to a bound of cloud resources"
For the terraform modules, is there a way to extend the component definition yaml to say require certain fields like some tags we want every resource that is created to have as a parameter and not just depend on the tf?

[2022-04-15 03:03] zzxwill commented on #3671
Does the tag is like https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html?

[2022-04-15 03:08] zzxwill opened #3672 "[Feature] Import Terraform state for the existing components"
When a cloud resource, like AWS Aurora, was deployed by Terraform CLI, and we can get the Terraform state.
To migrate to KubeVela and manage the cloud resource, WITHOUT redeploying it, there should be a way to import Terraform state.

[2022-04-15 03:10] zzxwill commented on #3672
This should be a sub-feature of https://github.com/oam-dev/terraform-controller/issues/239.

[2022-04-15 03:11] zzxwill opened #3673 "[Feature] KubeVela coud resources features and issues tracker"
- [ ] https://github.com/oam-dev/terraform-controller/issues/292
- [ ] https://github.com/oam-dev/kubevela/issues/3671
- [ ] https://github.com/oam-dev/kubevela/issues/3672

[2022-04-15 03:19] zzxwill opened #3676 "[Feature] Support force deletion of a Terraform typed application"
Sometimes when the error is in the tf or in wrong parameters we give, the only way to delete the resources is to remove finalizers and do it for each one of the kubevela resources like configuration, jobs etc. Perhaps having a -f  flag to force delete would be very helpful

[2022-04-15 03:20] zzxwill opened #3677 "[Feature] Terraform controller with AWS role instead of the AWS credentials"
Currently only AWS credentials is supported, AWS role is also frequently used.

[2022-04-15 03:24] zzxwill opened #3679 "[Feature] better upgrade experience for lengthy CMs and CRDs"
Lengthy config maps & CRDs causing issues during the upgrades (kubectl apply is not working, we have to delete and recreate the resource).

Comments from @wonderflow:
I know the annotation will record the whole yaml when deployed by vela. It can be reduced. For other issues, we should check it case by case.

[2022-04-15 03:27] zzxwill opened #3680 "Configur │ │ ation.terraform.core.oam.dev xxx not found"
we see a weird situation. We have an application that includes creating an aws RDS terraform component as part of the workflow using apply-component . We see that the terraform job apply is passing and the configuration is in available state, however the application component step is in a failed state with the message as follows:

`
│       Message:             step apply: run step(provider=oam,do

[2022-04-15 03:49] anoop2811 commented on #2371
Just adding the url for jspolicy: https://www.jspolicy.com/

[2022-04-15 05:54] barnettZQG opened #3682 "[Feature] add the print provider function for cue engine"
**Is your feature request related to a problem? Please describe.**

When we coding the cue script, want to know the params values for debugging. the cue script is used on VelaQL, addon, workflow, and other features in the KubeVela.

**Describe the solution you'd like**

[code]
I hope the resources will print in the runtime log.

[2022-04-15 06:06] barnettZQG commented on #3669
@flagfunker What is your VelaUX version?

If your version is greater than 1.3.0, you can use the API `/api/v1/definitions?type=policy` to query all policies, but query the definition detail API does not support policy type.

Wellcome you contribute it, it only needs to change here https://github.com/oam-dev/kubevela/blob/master/pkg/apiserver/rest/usecase/definition.go#L193

[2022-04-15 06:12] barnettZQG commented on #3601
@ArenaSu I think this is a network error, are there any more updates about this Issue?

[2022-04-15 06:13] barnettZQG commented on #3585
@clcc2019 Are there any more updates?

[2022-04-15 06:16] barnettZQG commented on #3601
Maybe issue #3551 become more urgent.

[2022-04-15 06:19] barnettZQG commented on #3535
I'll leave that thought for the moment.

[2022-04-15 06:19] #3535 closed

[2022-04-15 06:34] barnettZQG opened #3683 "The policy controller does not generate the OpenAPI schema"
**Describe the bug**

The policy controller does not generate the OpenAPI schema. By the way, all built-in policy does not have cue definition, so we should add cue definition to generate API schema.

**KubeVela Version**

1.3.1

Relevance #3669

[2022-04-15 06:38] #3664 closed

[2022-04-15 08:38] kethavathsivanaik opened #3686 "[Feature] Install KubeVela on cluster with kubeconfig file"
**Is your feature request related to a problem? Please describe.**
vela CLI can only install the KubeVela on default cluster which is present in Kubernetes configuration file **~/.kube/config**

**Describe the solution you'd like**
`--kubeconfig` Flag to provide custom Kubernetes configuration file in vela install
`vela install  --kubeconfig   kubeconfig-file`

[2022-04-15 08:42] barnettZQG commented on #3683
Generate the OpenAPI schema for the policy, reference code: https://github.com/oam-dev/kubevela/blob/master/pkg/controller/utils/capability.go#L502

[2022-04-15 08:43] barnettZQG commented on #3686
@kethavathsivanaik you can set the environment.
[code]

[2022-04-15 09:48] #3459 closed

[2022-04-15 10:14] oeular opened #3688 "[Feature] Support the different type resource in order to deploy in cluster"
In application, there will render different type resource, such as deployment, configmap, secret, service, ingress, then they are deployed in parallel under one policy，BUT we expect these resources can deploy in one specified order for some reason, such as ["configmap","deployment","service","ingress"]

[2022-04-15 10:45] oeular commented on #3688
In some scenarios:
- if configmap exists, deployment generates pod earlier than configmap, pod may restart out of user's expect when applications are deloyed
- in some business scenarios, business traffic can come into the pod when pod in ready
- better to control the deploy processing in resource type level

[2022-04-15 10:46] oeular commented on #3688
In some scenarios:
- if configmap exists, deployment generates pod earlier than configmap, pod may restart out of user's expect when applications are deloyed
- in some business scenarios, business traffic can come into the pod when pod in ready
- better to control the deploy processing in resource type level

[2022-04-15 11:04] ZhongsJie96 commented on #3688
This is similar to providing the ability to describe dependencies within the component.

[2022-04-15 13:24] StevenLeiZhang commented on #3688
Is this what you need? https://kubevela.net/docs/v1.2/end-user/workflow/component-dependency-parameter

Maybe you could specify all your Components and use "dependsOn" to control their order.

[2022-04-15 13:33] StevenLeiZhang commented on #3663
Are you trying to create one "kubernetes.io/dockerconfigjson" secret? I think this error may be reported by K8s, because this secret workload format is wrong.

[2022-04-15 13:42] StevenLeiZhang commented on #3666
As I know, lots of users request Harbor to support Mysql, but proposal  is not accepted. I don't know the reason.
Is there any restriction to use mysql for open source project?

[2022-04-15 14:59] oeular commented on #3688
@StevenLeiZhang
 Not exact.
 I expect all resources related one component to deploy in order. For example, When one component typed webservice , and with on storage trait and one route trait are deployed, they are  in such order——firstly resources related storage trait to deploy, then component to deploy, lastly route trait to deploy.

[2022-04-16 00:45] quintonm commented on #3671
The basic idea is that we have required tags for K8s resources (including the application) and AWS resources. Some tags are only applied in K8s or AWS but many of them overlap (with different tag names potentially). We are looking for a way to validate that these tags have been applied and fail the application deployment if they have not.

[2022-04-16 00:49] quintonm commented on #3676
This could also happen with crossplane components as well.

[2022-04-16 01:51] StevenLeiZhang commented on #3688
Ok, I get your point. I think this feature requests one more powerful "pipeline" to control apply procedure.

[2022-04-16 01:53] StevenLeiZhang commented on #3601
it is cause by network connection issue. just retry.

[2022-04-16 07:20] StevenLeiZhang opened #3690 "vela-cli does not print cluster name, if application installed in default cluster"
**Describe the bug**

**To Reproduce**

1. follow official online doc to install kubevela and velaux
[code]

2. check  Applicaiton's status

[code]

3. check addon's status

[code]

4. both post message of "vela addon enable" and output of "vela status" do not print cluster name.

**Expected behavior**
1. 'vela addon enable' and  'vela status' can print cluster name, as what `vela addon status` di

[2022-04-17 13:31] zzxwill commented on #3663
@StevenLeiZhang Yes. For a public docker registry, I will just set the url in the data of the secret.

[2022-04-18 02:22] barnettZQG commented on #3688
If users must be heeded with all k8s resources, it is not our goal. so, we could design a user invisible mechanism to resolve potential problems

[2022-04-18 03:22] chivalryq commented on #3606
I wrote a demo, but this haven't been widely tested. Please check https://github.com/chivalryq/def-generator

We can make it a sub-command in `vela def`

[2022-04-18 03:28] zzxwill commented on #3606
Great! This tool will help a lot for the core team when resembling complicated workflows and policies, and for the community.

[2022-04-18 03:51] zzxwill opened #3692 "[Feature] Upgrade CRDs of an add-on"
**Is your feature request related to a problem? Please describe.**

KubeVela add-on `terraform` has upgraded from v1beta1 to v1beta2. The CRDs of terraform aren't upgraded by upgrading it using `vela addon upgrade terraform`.

**Describe the solution you'd like**

Provide an option to upgrade the CRDs like

[code]

By using the flag `--upgrade-crds`, vela cli will retrieve all CRDs from the chart

[2022-04-18 03:59] zzxwill commented on #3692
Related to https://github.com/oam-dev/kubevela/issues/3566.

[2022-04-18 05:51] wangyikewxgm commented on #3692
In fact, if you just want update crd when upgrade helm chart you just can move the CRD from dir `crds` to dir `templates`. In this way helm will treat them as norm resources.

[2022-04-18 06:40] zzxwill commented on #3671
@quintonm Could you please please provide one to two examples of how you would like a normal and a Terraform application to be tagged?

[2022-04-18 09:11] barnettZQG commented on #3597
@stonejianbu Can you provide more info about this feature? change the project of the target is a dangerous action.

[2022-04-18 09:41] oeular opened #3698 "wrong resource apiVersion blocks the resourcetracker gc"
Here is my case:
when deploy the ingress (networking.k8s.io/v1beta1) on cluster, but the cluster cannot support the apiVersion.
Events:
 Warning  FailedGC  10m (x24 over 66m)  Application  failed to sweep resourcetrackers to be deleted: failed to get resource networking.k8s.io/v1beta1/Ingress//vela-system/kubevela-io: no matches for kind "Ingress" in version "networking.k8s.io/v1beta1"

kubectl ge

[2022-04-18 09:47] barnettZQG commented on #3698
For this case, we should ignore this error during GC.

[2022-04-19 02:35] barnettZQG commented on #1381
@sunny0826 This issue context has changed and I will close this issue.

[2022-04-19 02:35] #1381 closed

[2022-04-19 03:52] FogDong opened #3704 "[Feature] Support login with DingTalk in apiserver"
**Is your feature request related to a problem? Please describe.**

Now KubeVela supports login through local or SSO with Dex, for the users in China, we want to log in with DingTalk or other common tools.

**Describe the solution you'd like**

We can implement login with DingTalk in: https://github.com/oam-dev/kubevela/blob/master/pkg/apiserver/rest/usecase/authentication.go#L163

**Describe alte

[2022-04-19 07:53] zhiyuone opened #3707 "[Feature] apisevier trigger webhook supports different images in different environments"
**Is your feature request related to a problem? Please describe.**

In one application, maybe different environment need difference images, such as:
[code]

**Describe the solution you'd like**

I think we need a webhook(apiserver trigger) to update this.

**Describe alternatives you've considered**

**Additional context**

[2022-04-19 08:03] barnettZQG commented on #3707
@zhiyuone Are you using the VelaUX? The trigger in VelaUX is supported to define the workflow name and one workflow corresponds to an environment.

[2022-04-19 08:15] MimicTester1307 commented on #3205
Hi, @FogDong I am quite interested in working on this project, and have applied to it. Looking forward to contributing to this project and KubeVela in general!

[2022-04-19 08:19] barnettZQG commented on #2365
The storage trait already provides the same ability

[2022-04-19 08:19] #2365 closed

[2022-04-19 08:52] zhiyuone commented on #3707
Oh I see, now each environment creates an application

[2022-04-19 08:54] #3707 closed

[2022-04-19 20:40] s4rd1nh4 commented on #3663
I think for public docker it is not necessary to create secret or use imagePullSecrets. The kubelet already has access to this.

[2022-04-19 22:12] raymoriss opened #3709 "[Feature]"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-04-20 02:15] barnettZQG commented on #3663
@s4rd1nh4 It's right, but there is a context, the secret is generated by a docker registry configuration.
Ref: https://github.com/oam-dev/kubevela/blob/master/vela-templates/definitions/internal/component/config-image-registry.cue#L37

If there is a public Docker registry, it can not generate the secret.

[2022-04-20 02:15] barnettZQG commented on #3709
Invalid issue.

[2022-04-20 02:15] #3709 closed

[2022-04-20 05:37] #3635 closed

[2022-04-20 08:41] fourierr commented on #3688
There is a key should be declared, is the order of one component's resource be strict?  Example.

[2022-04-20 08:50] fourierr commented on #3688
There is stll one point that needs further declared. The secret or cm's scenarios is well known, but if the componnet's resource is a Custom Resource with status we should clarify such a point:
Is the CR must ready for the next step in the "order pipeline"?

[2022-04-20 08:56] fourierr commented on #3666
great feature, and we need it necessarily

[2022-04-20 10:09] wonderflow commented on #3606
@chivalryq I will keep this issue open as we can really use the API as  SDK in this case.

[2022-04-20 14:30] dhiguero opened #3716 "Unable to create application due to component name collision"
**Describe the bug**

When trying to deploy two applications, if one of them share the same component name, the system returns an obscure error.

**To Reproduce**

Deploy two applications, for example using the `first-vela-app` one from the example without the trait.

<details>
<summary>Application 1</summary>

[code]

</details>

<details>
<summary>Application 2</summary>

[code]

</details>

[co

[2022-04-21 01:12] clarechu opened #3717 "cue: file does not exist"
**Describe the bug**

In Windows 10， When running vela-core

[code]

![image](https://user-images.githubusercontent.com/28973013/164352021-3f85c2e0-b9c0-4b49-8a92-caeb85778014.png)

**To Reproduce**

[code]

**Expected behavior**

deployment resources can be created under the default namespace

**KubeVela Version**

kubevela master branch

**Cluster information**

[code]

[2022-04-21 06:38] wonderflow commented on #3717
fixed by #3718

Thanks for your contributions！

[2022-04-21 06:38] #3717 closed

[2022-04-21 14:12] fourierr commented on #3716
For this case, we should have the ability that both applications should be deployed independently of which is the name of the component in the application

[2022-04-22 03:40] #3504 closed

[2022-04-22 03:49] wonderflow commented on #3716
component should have unique name globally in one K8s namespace, it is by design. But yes, the error should be more descriptive! Thanks for reporting!

[2022-04-22 05:14] #3682 closed

[2022-04-22 07:53] #3683 closed

[2022-04-22 08:34] #2449 closed

[2022-04-22 08:43] cezhang opened #3734 "vela addon enable XX does not behave consistent with or without policy"
**Describe the bug**

Hi, I am the contributor of Argocd addon, and I am working on helm support of argocd addon. Here I experience inconsistent behavior when I develop the new application.

----------

**What I want is to apply all **yaml** resources(these yaml files does not specify namespace) to a specified namespace **"argocd"**, and **only** deploy to **runtime clusters****
[code]

So first I

[2022-04-22 08:54] wonderflow commented on #3734
@cezhang It seems in your case, the addon framework shouldn't add policies, right?

[2022-04-22 10:57] cezhang commented on #3734
@wonderflow yes, no policy needed. I suggest the easy way to fulfill this request is to respect the custom workflow defined in the template.yaml, merge the custom one and the pre-defined ones.

[2022-04-23 13:42] oeular commented on #3610
@wonderflow  PR is coming, https://github.com/oam-dev/catalog/pull/332#issue-1213276527

[2022-04-24 01:16] #3690 closed

[2022-04-24 01:21] wonderflow commented on #3734
What if the custom one and pre-define ones have conflicted?

[2022-04-24 01:25] fengkang01 commented on #1662
Orgnization/Company: digital china
Location: WuHan, China
Contact: (fengkangb@digitalchina.com)
Purpose/Scenario: use vela in deploying

[2022-04-24 02:37] wangyikewxgm commented on #3734
We  have implement some features by leverage set `policy` and `workflow` in the  application in render phase. This will cause to override the pre-define policy or workflow.  The easiest way to solve  this problem is adding a mechanism like `resourceTargetNamespace`  in metadata, when reader an application set this ns to topology policy. But I think this maybe not a proper way, IMO set the namespac

[2022-04-24 04:31] wonderflow commented on #3734
Yes, actually we should generate the topology policy in the addon template instead of generate policy inside controller code. When metadata.yaml is defined, just generate it at initialization.

[2022-04-24 08:05] zhiyuone commented on #3505
done by  https://github.com/oam-dev/kubevela/pull/3713

[2022-04-24 08:05] #3505 closed

[2022-04-24 14:29] FelixStarship opened #3745 "vela对helm的支持依赖fluxcd或argocd，对用户来说太重了，vela本身可以集成helm controller嘛"
vela对helm的支持依赖fluxcd或argocd，对用户来说太重了，vela本身可以集成helm controller嘛

[2022-04-24 14:35] FelixStarship commented on #3745
类似k3s集成的https://github.com/k3s-io/helm-controller

[2022-04-25 05:58] #3663 closed

[2022-04-25 06:05] quintonm commented on #3671
@zzxwill Here is an example application for crossplane (terraform would require the same AWS tags).

[code]

AWS Tags
[code]

As you can see, there is some overlap between the k8s labels and AWS tags. Crosslane allows me to validate anything that I map to the managed resource (like the atmos.guidewire.com/dept label).  This provides a way for me to enforce adding the labels that overlap with AWS t

[2022-04-25 06:09] StevenLeiZhang commented on #3745
应该不会的。个人认为跟vela的设计理念不符合。vela目前的理念是 微内核+插件扩展，按照这个理念的话，helm应该是通过插件机制来支持的。

[2022-04-25 11:43] barnettZQG opened #3751 "change the replicas via the scaler trait lead to all pod recreated"
**Describe the bug**

As stated in the title.

**To Reproduce**

1.  create an application with scaler trait.
2. change the replicas and apply the configuration.
3. watch the pod change.

**Expected behavior**

Only create new pods or delete extra pods.

**Screenshots**

![image](https://user-images.githubusercontent.com/18493394/165081714-810f5f14-d999-46f5-bda1-afc05ce2ea1d.png)

**KubeVela Vers

[2022-04-25 11:59] zjq123456 opened #3752 "fail to get latest app revision nginx-v1: ApplicationRevision.core.oam.dev "nginx-v1" not found"
**Describe the bug**
Serious problems in the production environment.
Update application.core.oam.dev, but status is error. Fail to get latest app revision nginx-v1: ApplicationRevision.core.oam.dev "nginx-v1" not found.
Don't know where to delete this CR.

**To Reproduce**
Production environment configuration, difficult to reproduce.

**Expected behavior**
Everything is all right

**Screenshots**

[2022-04-25 12:26] zjq123456 commented on #3752
Another application encountered in the development environment

kubevela 1.14
kubernetes 1.18.8

Question:
![image](https://user-images.githubusercontent.com/14069938/165088375-dba49a94-ee51-49f9-b298-b2b1d00b0e76.png)
application status info:
![image](https://user-images.githubusercontent.com/14069938/165088541-66b5e570-8f13-4b71-94e7-2f8ea5ca01c6.png)

I'm scared. Why is that

[2022-04-25 23:00] quintonm commented on #3671
Ideally, I would like to capture all of the values needed for tagging using parameters instead of having the user add the labels directly to the application. That thin layer of abstraction would allow us to make some changes to the names of the labels and possibly add new labels without requiring any changes for users. I haven't found a way to add labels to the application inside of a component.

[2022-04-26 03:31] fourierr opened #3754 "[Feature] Support trait with custom resource be dispatched to hubcluster"
**Is your feature request related to a problem? Please describe.**

By default, traits cr are dispatched to managed clusters along with component, and we want the ability for traits to be dispatch to hubcluster.

**Describe the solution you'd like**

Firstly, add a new field `hubClusterDispatchOnlyEnabled` in the trait-definition and applicationrevision to identify whether the trait is delivered t

[2022-04-26 03:32] fourierr commented on #3754
/assign

[2022-04-26 04:15] wonderflow commented on #3754
The general idea LGTM, but the field name in `hubClusterDispatchOnlyEnabled` should be better.

I propose the name to be  `controlPlaneOnly` :

[code]

Any better suggestion? @Somefive

[2022-04-26 06:00] zjq123456 commented on #3752
I got it. Business issues

[2022-04-26 06:00] #3752 closed

[2022-04-26 06:19] barnettZQG opened #3755 "panic error when up the application"
**Describe the bug**

[code]

**KubeVela Version**

CLI Version: v1.4.0-alpha.2
Core Version: 1.3.2
GitRevision: git-2d28fb3
GolangVersion: go1.17.8

[2022-04-26 09:43] Somefive commented on #3754
`controlPlaneOnly` looks good to me. `hubClusterDispatchOnlyEnabled ` is a bit long but also clear.
The purpose is okay to me but I'm afraid I the implementation solution could lead to some potential problems.

1. What will happen if one trait resource is initially intended to be dispatched into cluster-a and cluster-b but then both are redirected to the local cluster? Will there any conflicts? Or

[2022-04-26 10:25] fourierr commented on #3754
Reply to 1.
Whether a trait is dispatched to the hub cluster is defined by the developer of the trait, not by the person using the trait.
If a trait wants to be dispatched to the hub cluster, at the same time want to be dispatched to the managed cluster, I think there are only two traits with different controlPlaneOnly values.
Therefore, there is no situation in which a trait is initially deployed

[2022-04-26 10:25] fourierr commented on #3754
- Reply to 1.
Whether a trait is dispatched to the hub cluster is defined by the developer of the trait, not by the person using the trait.
If a trait wants to be dispatched to the hub cluster, at the same time want to be dispatched to the managed cluster, I think there are only two traits with different controlPlaneOnly values.
Therefore, there is no situation in which a trait is initially deploy

[2022-04-26 10:26] fourierr commented on #3754
- Reply to 1.
Whether a trait is dispatched to the hub cluster is defined by the developer of the trait, not by the person using the trait.
If a trait wants to be dispatched to the hub cluster, at the same time want to be dispatched to the managed cluster, I think there are only two traits with different controlPlaneOnly values.
Therefore, there is no situation in which a trait is initially deploy

[2022-04-26 12:27] Somefive commented on #3755
Solved in #3759

[2022-04-26 12:30] Somefive commented on #3754
After an offline discussion with @fourierr , I generally accept the idea proposed here. Slight modification to the implementation is recommended. One of the key point here is that when dispatching one component in multiple clusters, the hub-located trait resource is actually shared. This is a pretty interesting feature.

[2022-04-26 12:39] oeular commented on #3754
Great work.

[2022-04-26 12:40] oeular commented on #3754
@fourierr  Great work.

[2022-04-26 13:21] oeular commented on #3688
@barnettZQG  The goal of this case is invisible for users, but  to orchestrate the resource deploying procedure on platform's side.

[2022-04-26 13:23] oeular commented on #3688
@fourierr  The desired is according to the expect status to run the next step.

[2022-04-26 13:24] barnettZQG commented on #3745
这种方式我比较认同。

[2022-04-26 13:27] StevenLeiZhang commented on #3618
as metioned in https://github.com/oam-dev/kubevela/pull/3595#discussion_r845814620

Is https://addons.kubevela.net    one  chartmuseum? I download velaux addon and try to upload to my Harbor.

[code]

Helm cli reject it

[2022-04-27 02:52] #3551 closed

[2022-04-27 03:50] barnettZQG commented on #3601
@ArenaSu we have already published the new install script, install vela from OSS. so, I will close this Issue.

[2022-04-27 03:50] #3601 closed

[2022-04-27 03:52] barnettZQG commented on #3686
@kethavathsivanaik There is no more feedback, I will close this issue, thanks!

[2022-04-27 03:52] #3686 closed

[2022-04-27 06:16] tossmilestone opened #3765 "Health status is not updated if the trait status is changed"
**Describe the bug**

We developed a trait definition `generic-patch` to patch a rendered object with `json patch`， using `customStatus` and `healthPolicy` to check the health status of the trait. The trait will create a `PatchTrait` cr, and the controller will apply the patch to the target object in the `PatchTrait`.

The service status in the application won't be updated if the `PatchTrait` cr h

[2022-04-27 06:17] #3751 closed

[2022-04-27 06:33] wonderflow commented on #3745
ping @wangyikewxgm , we should add one more dependency type "definition", so the helm based addons won't depend on fluxcd, instead, they depend on the component-definition named "helm". After that, we can have addons such as "fluxcd", "argocd" or "helm-controller" in this issue.

[2022-04-27 08:28] wangyikewxgm commented on #3745
@FelixStarship  看了一下这个项目 https://github.com/k3s-io/helm-controller， 其实你完全可以把这个制作成一个 Addon 集成进 kubevela，只需要定义一个 helm 的 component definition ，在定义app 使用这个类型的 component ，就可以免除依赖fluxcd或者argocd的addon。至于解除其他的 addon 对于 fluxcd 的依赖，我们可以在 addon 的 dependency 机制里，引入依赖某个definition的选项。

[2022-04-27 08:49] wonderflow commented on #3618
yes, we should make it compatible.

[2022-04-27 09:44] StevenLeiZhang commented on #3618
@wangyikewxgm  @wonderflow

solution:
1. untar "velaux-v1.3.0.tgz"
2. add one Chart.yaml file as below
[code]
3. repackage
[code]
it will create one new "velaux-v1.3.0.tgz"
4.push
[code]

It works now!! The new "velaux-v1.3.0.tgz" is uploaded to Harbor successfully.

Investigation:
Please refer to https://github.com/helm/helm/blob/49819b4ef782e80b0c7f78c30bd76b51ebb56dc8/pkg/chart/loader/load.go#L

[2022-04-27 11:51] barnettZQG opened #3769 "The endpoints is repeated in the case of the app is deployed to multiple clusters"
**Describe the bug**

[code]

The service type is Loadbanlacer.

**KubeVela Version**

1.3.2

**Cluster information**

v1.22.3-aliyun.1

[2022-04-27 12:52] ewassef commented on #1851
I would like to challenge the `priority/nice-to-have' label. This is necessary if we want to eliminate the dependency on things like HELM and to make traits more manageable and extensible.
In the authors example, we cannot setup Istio using kubevela without creating a significantly large and complex trait with several if statements. I have experienced the same problem with our dapr.io trait where

[2022-04-27 13:12] BartvdBerkHU opened #3771 "Can't join a EKS cluster to kubevela due to AWS generated kubecontext name"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**KubeVela Version**

**Cluster information**

[2022-04-28 01:39] zzxwill commented on #3676
@quintonm Will it be okay with you if some of the cloud resources got orpahaed?

[2022-04-28 03:04] tossmilestone commented on #3765
@StevenLeiZhang, I modified the template as you said, but the status of the trait is not added to the service status anymore.

[2022-04-28 03:44] zhiyuone commented on #3707
https://github.com/oam-dev/kubevela/blob/master/pkg/apiserver/rest/usecase/webhook.go#L204

the webhook similar change whole compoent but nothing do with the environment, it's we expect?
@barnettZQG

[2022-04-28 05:13] quintonm commented on #3676
Yes, that would be okay. We would have the same issue by removing the finalizers.

[2022-04-28 05:44] #3754 closed

[2022-04-28 07:07] tossmilestone commented on #3765
I think the cause is that the updated `PatchTrait` cr is patched by kubevela with the last status remaining, and after the workflow is running the controller of `PatchTrait` updated the correct status of the `PatchTrait` cr. So kubevela has no chance to sync the trait status with the `PatchTrait` cr until the workflow is restarted again.

[2022-04-28 08:32] #3755 closed

[2022-04-28 08:42] wonderflow commented on #3618
Yes, and I think this file should be automatically generated from metadata.yaml in addon.

[2022-04-28 08:45] wonderflow commented on #1851
@ewassef  Yes, agree that lots of users have request this feature in the community. Let‘s add it into schedule.

[2022-04-28 08:47] wonderflow commented on #1851
@oiar  Hi, are you still working on this issue? I think it's been a while since your last update.

[2022-04-28 08:51] wonderflow commented on #3622
does this issue resolved in https://github.com/oam-dev/kubevela/pull/3774

[2022-04-28 08:52] wonderflow commented on #3610
https://github.com/kubevela/catalog/pull/337 supported

[2022-04-28 08:52] #3610 closed

[2022-04-28 08:53] #3622 closed

[2022-04-28 09:04] StevenLeiZhang opened #3780 "log message wraps wrong arguments"
**Describe the bug**
log message wraps wrong arguments

**To Reproduce**

Steps to reproduce the behavior:
1. view logs of vela-apiserver
2. it prints log as below
[code]

**Expected behavior**

1. print right log message with keywords

[code]

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-04-28 09:09] xunfeng1980 opened #3782 "Found 1 errors. [(download index file from https://addons.kubevela.net failure Get "https://addons.kubevela.net/index.yaml": x509: certificate is not valid for any names, but wanted to match addons.kubevela.net)]"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/8380489/165718650-d01f8d0b-361c-4a50-a26b-1ab794354fca.png)

**KubeVela Version**

1.3.2

**Cluster information**

- Kubernetes Version [1.22.3]

**Additional context**

[2022-04-28 09:16] barnettZQG commented on #3782
@xunfeng1980 could you check your network, such as:
[code]

[2022-04-28 09:26] tossmilestone opened #3783 "[Feature] Support applying subresource in cue template"
**Is your feature request related to a problem? Please describe.**

Currently the cue template in X-Definition only support applying the resource without the subresource, but in k8s there are subresources which we can update with subresource update request.

The scenario is as below:

We want to init the status of the cr of the rendered resource, to avoid the status is not correct when the resourc

[2022-04-28 13:35] lujiajing1126 commented on #2852
As hinted by the official implementation, this can be done by using `+` operator.

https://github.com/oam-dev/kubevela/blob/master/vela-templates/definitions/internal/trait/env.cue#L44-L59

I've tested with the following code snippet,

[code]

[2022-04-29 01:55] StevenLeiZhang commented on #3782
Can your k8s access public internet?

[2022-04-29 03:38] StevenLeiZhang opened #3790 "Useless "\n" is printed in log message"
**Describe the bug**
Useless "\n" is printed in log message

**To Reproduce**
1. follow official doc to install kubevela
2. to view init password
[code]
3. log prints
[code]

4.one useless "\n" followed the password "ijjsw4a2dx". It makes user confused.

**Expected behavior**

1. Do not print "\n"

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-04-29 04:38] xunfeng1980 commented on #3782
多谢，找到问题了，公司解析的问题，把所有域名都解析到内网去了，导致证书不对，多谢。

[2022-04-29 04:38] #3782 closed

[2022-04-29 05:26] #3780 closed

[2022-04-29 07:44] #3790 closed

[2022-04-29 08:17] StevenLeiZhang commented on #3745
In my opinion, this is one issue about encapsulation granularity.  If we choose less granularity , it will lead to lots of tiny addons.
So my proposal is that add parameter for FluxCD addon to enable/disable its components by user. If user only need helm, he could only enable Helm-controller.

[2022-04-29 08:21] charlie0129 commented on #3583
Any advice on where the edited source code of dex will go?

[2022-04-29 09:45] barnettZQG opened #3795 "The new addon can not shown in the Addons page"
**Describe the bug**

The new addon can not be shown on the Addons page, this is a cache bug.

pkg/addon/cache.go#L89

**To Reproduce**

1. create a new addon in the addon registry.
2. View the addon page.

**KubeVela Version**

1.3.2

[2022-04-29 12:57] fourierr commented on #3688
This proposal aims to solve the dependencies between comp and trait, trait and trait within a component

[2022-04-29 13:35] fourierr commented on #3559
This feat is handled by https://github.com/kubevela/kubevela/pull/3774

[2022-04-29 13:35] StevenLeiZhang commented on #3795
https://github.com/kubevela/kubevela/blob/99bb76a3fd2cf5467aa900e8ff4aa21e8d004440/pkg/addon/cache.go#L68
It seems that need wait 10 minutes for update

[2022-04-29 13:37] #3559 closed

[2022-04-30 00:21] cezhang commented on #3745
I agree on your point of encapsulation granularity. Yes, the addon usually ships more functionality than what we needed while enabling the addon. But to some extend, this can not be avoided. As I  know, the fluxcd and argocd addon already  bring minimal burden for support helm. You can not easily ignore the "gitops" feature(pullInterval)  for example, when enable fluxcd to support helm, beacause t

[2022-04-30 02:25] wonderflow opened #3797 "[Feature] Add short name for application CRD"
**Is your feature request related to a problem? Please describe.**

the core CRD (`applications.core.oam.dev`) of KubeVela has a short name  `app` or `application`, it will conflict with most of other open source projects, e.g. argocd.

**Describe the solution you'd like**

add a new short name for it, we can call it `velaapp`

we just need to add a short name here: https://github.com/kubevela/kub

[2022-04-30 02:28] rgaoistheone opened #3798 "No config schema generated after applying cue definitions"
**Describe the bug**

So what I'm trying to do is define a simple component , but after I applying the definition without errors . I went to UX console trying to create a app from my "component" ,it throws errors like " definition not have shema".
And there is no configmap generated for this component shema .

**To Reproduce**
Steps to reproduce the behavior:
1. The YAML files of Component/Trait I

[2022-04-30 02:32] wonderflow commented on #3679
We should remove the following annotation for some resources such as configmap or CRDs

[code]

This label is added at https://github.com/kubevela/kubevela/blob/master/pkg/utils/apply/apply.go#L174

We can add some filter for the target object.

[2022-04-30 03:17] fourierr commented on #3797
It seems easy and i will do it.

[2022-04-30 08:32] barnettZQG commented on #3798
/cc @FogDong

[2022-04-30 12:58] FogDong commented on #3798
You have commented `livenessProbe` and `readinessProbe` but still use them in:

[code]

[2022-05-01 01:59] wonderflow commented on #3798
you  can refer to `vela dry-run` command to test your custom definition. https://kubevela.io/docs/platform-engineers/cue/advanced#dry-run

[2022-05-01 02:08] wonderflow commented on #3771
Thanks for reporting this, kubevela should support Kubernetes config for major cloud distributions. \cc @Somefive

[2022-05-01 02:10] wonderflow commented on #3769
What's your expected behavior? This should be normal as you deployed duplicated in these clusters.

[2022-05-01 02:59] barnettZQG commented on #3769
I hid the IP address, the IP should be different but currently, it is same in two clusters .

[2022-05-01 07:11] wonderflow commented on #3585
I'm closing this issue as there's no more info, feel free to reopen it if you still occur this issue in v1.3.3

[2022-05-01 07:11] #3585 closed

[2022-05-01 07:17] cloorc opened #3799 "'view query failed' on 1.3.1-8e8cd84 (same issue on updated version v1.3.3)"
**Describe the bug**
1. Both container log/instances pod log will show the error: view query failed

**To Reproduce**
1. Install v1.3.1 on an existing Kubernetes cluster(1.20.2)
2. Enable velaux 1.3.1
3. Add a new application (wormhole, based on our private image)
4. Deploy to dev environment(namespace: develop)

**Expected behavior**
Can view the log about the specific Pod or Container.

**Screen

[2022-05-01 07:18] wonderflow commented on #3510
It's supported in https://github.com/kubevela/kubevela/pull/3750 , you can use `deploy` workflowstep for this. I'm closing this.

[2022-05-01 07:18] #3510 closed

[2022-05-01 07:19] wonderflow commented on #3486
Seems it's a bug, could tell about your kubevela version? Would you mind to use the v1.3.3 to have a try?

[2022-05-01 07:21] wonderflow commented on #3441
I think the deploy workflow step (https://github.com/kubevela/kubevela/pull/3750 ) has fixed this, please have a try.

\cc  @Somefive   This is a good scenario.

[2022-05-01 07:22] wonderflow commented on #3440
refer to https://github.com/kubevela/kubevela/pull/3713

Now multi-cluster service account validation has been supported, the rest thing is to add some CLI commands to support create service account in multi-clusters.

[2022-05-01 07:24] wonderflow commented on #3421
ping @wangyikewxgm , have we supported this feature?

[2022-05-01 07:25] wonderflow commented on #3394
supported in https://github.com/kubevela/kubevela/pull/3750

[2022-05-01 07:25] #3394 closed

[2022-05-01 07:26] #3352 closed

[2022-05-01 07:29] wonderflow commented on #3618
refer to https://github.com/kubevela/kubevela/issues/3262 as the left thing.

[2022-05-01 07:32] wonderflow commented on #3287
Hi @rtrive  We have fixed this demo, would you like to have a try with the doc: https://github.com/kubevela/samples/tree/master/12.Open_Cluster_Management_Demo

[2022-05-01 07:35] wonderflow commented on #3229
Currently, argocd addon has been supported: https://github.com/kubevela/catalog/tree/master/experimental/addons/argocd

The helm component definition has the same spec with fluxcd.

The only thing we need to resolve is the dependency in addon that we should support dependsOn definition instead of specified another addon name.

[2022-05-01 07:37] wonderflow commented on #3220
closing, feel free to reopen it if you still encounter the same issue in the new version.

[2022-05-01 07:37] #3220 closed

[2022-05-01 07:40] wonderflow commented on #3186
closing as we have release v1.3.x, please have a try. feel free to reopen this issue if there's still any problem.

[2022-05-01 07:40] #3186 closed

[2022-05-01 08:38] wonderflow commented on #3127
What's  this issue related with kubevela?

[2022-05-01 08:38] wonderflow commented on #3097
does this issue resolved? ping @wangyikewxgm

[2022-05-01 08:41] wonderflow commented on #3014
@FogDong Have this issue supported now?

[2022-05-01 08:44] wonderflow commented on #2965
Closing as v1.2 has already released, please have a try, feel free to re-open if this issue still exists.

[2022-05-01 08:44] #2965 closed

[2022-05-01 08:45] wonderflow commented on #2906
supported from v1.3

[2022-05-01 08:45] #2906 closed

[2022-05-01 08:45] wonderflow commented on #2861
dup with #3496

[2022-05-01 08:45] #2861 closed

[2022-05-01 08:47] wonderflow commented on #2852
Thanks! I think this should be the right answer.

Closing, @siredmar feel free to re-open it if the issue still exists.

[2022-05-01 08:47] #2852 closed

[2022-05-01 08:50] wonderflow commented on #2882
Thanks, supported now in fluxcd addon https://github.com/kubevela/catalog/blob/master/addons/fluxcd/resources/deployment/source-controller.yaml#L31

[2022-05-01 08:50] #2882 closed

[2022-05-01 08:53] wonderflow commented on #2802
this has come true https://github.com/kubevela/velad

Thanks @chivalryq @hongchaodeng

[2022-05-01 08:53] #2802 closed

[2022-05-01 08:54] wonderflow commented on #2682
It's supported now, you can view it from:

* vela status
* velaux with dashboard

Please give it a try in v1.3

[2022-05-01 08:54] #2682 closed

[2022-05-01 08:54] wonderflow commented on #2606
closing, it's fixed in v1.2 release

[2022-05-01 08:54] #2606 closed

[2022-05-01 08:56] wonderflow commented on #2584
please refer to https://kubevela.io/blog/2022/04/01/offline-deployment-practice for more details, it's Implemented now

[2022-05-01 08:56] #2584 closed

[2022-05-01 08:56] #2538 closed

[2022-05-01 08:57] wonderflow commented on #2538
this url is changed to list from aliyun OSS

[2022-05-01 08:57] #2406 closed

[2022-05-01 09:00] wonderflow commented on #2319
@rtrive yes, let's create a new issue for this. I think we need some more background information about your issue.

[2022-05-01 09:00] #2319 closed

[2022-05-01 09:00] #2211 closed

[2022-05-01 09:02] wonderflow commented on #2092
@Somefive  what's this issue now?

[2022-05-01 09:04] #897 closed

[2022-05-01 09:05] wonderflow commented on #1056
supported now, the whole project is using klog.

[2022-05-01 09:05] #1056 closed

[2022-05-01 09:07] wonderflow commented on #1416
implemented in velaux https://github.com/kubevela/velaux

[2022-05-01 09:07] #1416 closed

[2022-05-01 09:09] wonderflow commented on #1941
I think you can try OCM for this: https://github.com/kubevela/samples/tree/master/12.Open_Cluster_Management_Demo

OCM use a PULL model for resource deployment, only control plane(hub) cluster is needed for public access.

[2022-05-01 09:09] #1941 closed

[2022-05-01 09:10] barnettZQG commented on #3799
@cloorc Can you view the logs on the Logs page?

[2022-05-01 09:10] wonderflow commented on #1940
It's done in https://github.com/kubevela/community . Thanks @BinaryHB0916

[2022-05-01 09:10] #1940 closed

[2022-05-01 09:11] wonderflow commented on #1960
closing as we have addon now: https://github.com/kubevela/catalog

[2022-05-01 09:11] #1960 closed

[2022-05-02 02:59] hairongGao commented on #3798
Sorry I didn't make the case clear , I mean with those " probe configs" commented out , schemas can be  successfully generated. But if I take those probe configs back , they will fail.

[2022-05-02 03:01] hairongGao commented on #3798
I know the drills , this definition can be rendered successfully via CLI. Just there's no shema genrated which makes me unable to use UX to create app.

[2022-05-02 03:09] cloorc commented on #3799
@barnettZQG Yes, please check this:

<img width="1536" alt="image" src="https://user-images.githubusercontent.com/13597105/166179720-fa1e0fdf-e69a-4dc4-96c5-2b174a1e3405.png">

[2022-05-02 03:18] hairongGao opened #3802 "[Feature]Some feature requests regarding LDAP SSO"
**Is your feature request related to a problem? Please describe.**
For UX,

1. Add test connection, test authentication button when creating LDAP provider so that users don't need to move back and force because wrong configs which can't even connect or auth.
2. Provide below options configs area, AFAIK now we only support use_ssl and start_tls come with same option. This can be confused since many

[2022-05-02 10:52] barnettZQG commented on #3799
@cloorc thanks! This is a strange issue.

[2022-05-02 16:53] JarHMJ opened #3803 "[Feature] Should VelaUX admin initial password be stored in the configmap"
**Is your feature request related to a problem? Please describe.**

For some reason, the apiserver has been deleted and restarted, so the VelaUX admin initial password  cannot be found in the log.

**Describe the solution you'd like**

We should  store VelaUX admin initial password  in the configmap named "velaux-admin-password".

**Describe alternatives you've considered**

**Additional context**

[2022-05-02 16:55] JarHMJ commented on #3803
cc @barnettZQG @wonderflow @leejanee

[2022-05-02 17:04] JarHMJ commented on #3797
@wonderflow hi，I want to do this job.

[2022-05-03 13:45] BartvdBerkHU commented on #3771
As stated in the kubevela docs I should have used the --name option when joining a cluster.

The error I recieve now is:

`Error: failed to ensure vela-system namespace installed in cluster testeks: failed to check if namespace vela-system exists: namespaces "vela-system" is forbidden: User "system:anonymous" cannot get resource "namespaces" in API group "" in the namespace "vela-system"`