[2020-12-19 01:32] hongchaodeng commented on #544
Hi @captainroy-hy
I'm working on a new architecture design on this right now. We have also implemented part of it internally. Once I've finished the design I will publish it and then get you involved in the work.

[2020-12-19 02:36] captainroy-hy commented on #544
@hongchaodeng  Yes, got it! Thanks for informing me that.

[2020-12-20 03:47] webup opened #794 "Fail to run `vela install`"
**Describe the bug**

After running `vela install`, we got following errors:

[code]

**To Reproduce**

**Expected behavior**

`vela install` could success.

**Screenshots**

**Cluster information**

[code]

**Additional context**

Here is current helm version info:

[code]

[2020-12-20 06:26] resouer opened #795 "[Feature] Integration with developing time"
**Is your feature request related to a problem? Please describe.**

Developing micro services is also challenging.

**Describe the solution you'd like**

Have a integration with Tilt: https://github.com/tilt-dev/tilt

**Describe alternatives you've considered**

**Additional context**

[2020-12-21 02:23] captainroy-hy commented on #794
@webup `vela install` will try to install a helm chart, as shown [here](https://github.com/oam-dev/kubevela/blob/fbe93dc847b8127bc06f9e26c2882190363844ac/charts/vela-core/templates/webhook.yaml#L6), a MutatingWebhookConfiguration is included in the chart.  According to your error log, there already existing a MutatingWebhookConfiguration named "mutating-webhook-configuration" installed in your clu

[2020-12-21 02:35] captainroy-hy commented on #794
@wonderflow Since "mutating-webhook-configuration" and "validating-webhook-configuration" are pretty frequently-used names, to avoid conflicts during installing helm chart, maybe we can use kubevela-specific names, e.g., "mutating.webhook.kb.io", "validating.webhook.kb.io".

[2020-12-21 06:38] wonderflow commented on #794
@captainroy-hy  yes, please naming it `kubevela-mutating-webhook-configuration`, add a `kubevela-` prefix for both.  Would you like to fix?

[2020-12-21 06:52] captainroy-hy commented on #794
Sure, let me fix it.

[2020-12-21 09:16] wonderflow commented on #793
Hi, @LeoLiuYan  Thanks for your advice. I have created https://github.com/oam-dev/kubevela-core-api for this use case.

Feel free to reopen this issue if there's still any probelm.

[2020-12-21 09:16] #793 closed

[2020-12-21 09:19] #734 closed

[2020-12-21 12:34] zzxwill opened #796 "cannot apply trait "core.oam.dev/v1alpha2" "ManualScalerTrait" "": cannot get object: resource name may not be empty"
**Describe the bug**

ApplicationConfiguration hit an issue as below.

[code]

**To Reproduce**

1. apply these manifests
[code]

2. run `kubectl describe applicationconfiguration.core.oam.dev/example-appconfig`

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2020-12-21 13:15] #783 closed

[2020-12-21 13:38] webup commented on #794
Got u, thx~

[2020-12-21 14:32] wonderflow commented on #796
fixed by #797

[2020-12-21 14:32] #796 closed

[2020-12-22 11:48] wonderflow opened #804 "[Feature] apply-only-once will recreate if workload deleted"
We should add a new flag `apply-only-once-force` to make sure even underlying workload deleted, there will no apply affect and recreate.

And record the information in AC status.

[2020-12-22 18:10] hongchaodeng commented on #693
Hi @sunny0826 ,

I would fully support you to become a maintainer. But your contribution so far has not reached a certain level to have impact on any specific component. Comparatively, when @captainroy-hy was [promoted maintainer](https://github.com/crossplane/oam-kubernetes-runtime/issues/219), he has contributed a couple of features and bug fixes to impact the project.

I would like to make the

[2020-12-23 05:32] #553 closed

[2020-12-23 06:07] huolunl opened #806 "[Feature] route trait"
Can you support a service with multiple domains, when I use route traits

[2020-12-23 06:41] wonderflow commented on #794
@zzxwill  please help add it to FAQ, thanks !

[2020-12-23 06:47] wonderflow commented on #806
Can you clarify your use case?

[2020-12-23 07:01] huolunl commented on #806
`name: nginx
services:
  nginx:
    type: webservice
    image: nginx:1.8
    port: 80
    route:
      domain: www.nginx.com`

There's an example where I can visit my nginx  through www.nginx.com, Now I'd like to add an extra domain to my nginx as well, route trait don't support it now

[2020-12-23 07:17] wonderflow commented on #806
In your case, the nginx is not an App, it's API-Gateway. This should use api-gateway as a capability instead of an app. We will consider support api-gateway in the near future.

[2020-12-23 07:25] huolunl commented on #806
I just accidentally wrote a nginx。 Actually I need an app with multiple domain

[2020-12-23 08:40] wonderflow commented on #806
@huolunl Why do your  app need two domain?

[2020-12-23 11:27] LeoLiuYan commented on #340
/assign

[2020-12-24 00:52] webup commented on #794
Btw, we've found the conflict was introduced by KubeSphere DevOps system, since we need that system we are looking forward to the above mentioned patch, thanks.

[2020-12-24 00:56] captainroy-hy commented on #794
@webup Yep, the change is already merged along with #781

[2020-12-24 05:54] hongchaodeng commented on #740
@zzxwill

I don't think we should rename traits to operations since it is based on OAM model. Let's keep using traits.

[2020-12-24 07:00] zzxwill commented on #740
Agreed. @hongchaodeng  And @sunny0826 will follow your advice. Thanks.

[2020-12-24 07:09] zzxwill commented on #794
@webup Would you like to contribution this case to FAQ https://github.com/oam-dev/kubevela/blob/master/docs/en/developers/references/devex/faq.md?

[2020-12-24 15:46] LeoLiuYan opened #813 "[Question] omponent when use appfile to create application"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-12-24 15:46] #813 closed

[2020-12-25 02:15] LeoLiuYan opened #814 "[Question] Component rendered when use appfile to create application"
**Is your feature request related to a problem? Please describe.**

1.  When we use appfile to create a application, the component of application will rendered which mean `spec.parameters` is nil, and then oam runtime create a workload for the component, the workload object's `spec`  is the same as component object's `spec.workload` .  Should component object keep parameters which derived from cue

[2020-12-25 10:09] zzxwill opened #826 "Error message of trait without `spec.extension.template` adheres with normal message when executing "vela workloads""
If a trait without `spec.extension.template`, the error message `: no template found, you will unable to use this trait capability` will adhere to the normal message as below.
[code]

[2020-12-25 10:12] zzxwill opened #827 "The table column `DESCRIPTION` is so short that all descriptions are collapsed."
The table column `DESCRIPTION` is so short that all descriptions are collapsed.

[code]

I would suggest to extend the width of the column.

[2020-12-25 22:53] resouer commented on #814
@LeoLiuYan The intention is using cue template parameters to deprecate Component parameters. We will try to avoid implementing same feature in two places. This will also leave Component + ApplicationConfiguration as pure carrier and orchestrator (i.e. apply order and data input/output) for k8s resources.

I thought the labels are already propagated. /cc @wonderflow

[2020-12-26 19:32] resouer opened #829 "Application CRD should have basic schema"
**Describe the bug**

The current Application CRD is a raw extension type, this seems not correct to me.

Application CRD is designed as the application definition and a "framework" to assemble capability abstractions into an app. Think about how you will define its schema if you are reinventing Component + ApplicationConfiguration. /cc @wonderflow . It's basically a embedded version of Comp + App

[2020-12-27 03:01] wonderflow commented on #814
For 1, like @resouer said, we're trying to deprecate parameters defined in Component. There's no mean using parameter in component when we already have values by creating a component instance.  We're also building [`Application` CRD Object](https://github.com/oam-dev/kubevela/blob/master/apis/core.oam.dev/v1alpha2/application_types.go#L53) which will be the serverside object of appfile(partially w

[2020-12-27 03:03] wonderflow commented on #829
Yes, I will refactor the current structure before taking it in real usage by using it in `vela up`.

[2020-12-27 03:06] #826 closed

[2020-12-28 03:14] #814 closed

[2020-12-28 03:41] zzxwill commented on #794
Added this case in FAQ https://github.com/oam-dev/kubevela/pull/831.

[2020-12-29 01:39] #827 closed

[2020-12-29 07:25] zzxwill opened #839 "cannot apply trait "core.oam.dev/v1alpha2" "ManualScalerTrait" "": cannot get object: resource name may not be empty"
**Describe the bug**

If TraitDefinition doesn't exist, deploying an ApplicationConfiguration with the trait will hit the issue as below.

[code]

**To Reproduce**

1. apply these manifests
[code]

2. run `kubectl describe applicationconfiguration.core.oam.dev/example-appconfig`

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2020-12-29 09:11] #829 closed

[2020-12-29 13:20] wonderflow commented on #693
closing as @sunny0826  has already be one of the reviewer.

[2020-12-29 13:20] #693 closed

[2020-12-29 16:14] zzxwill opened #840 "Trait ManualScalerTrait could not scale ContainerizedWorkload in release v0.2.2 and master"
**Describe the bug**

Trait `ManualScalerTrait` could not scale ContainerizedWorkload.

**To Reproduce**

1. Apply these manifests.
[code]

2. Check the status of ApplicationConfiguration and the replicas of workloads

[code]

Error message in kubevela pod.
[code]

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2020-12-30 03:42] LeoLiuYan commented on #793
Could `kubevela-core-api` repo also include `kubevela/apis/types` package which define the `Capability` object?

[2020-12-30 03:42] LeoLiuYan commented on #793
@wonderflow

[2020-12-30 03:43] LeoLiuYan commented on #793
/reopen

[2020-12-30 03:45] wonderflow commented on #793
@LeoLiuYan already included

[2020-12-30 04:00] LeoLiuYan commented on #793
Oh... I missing it.

Thanks.

[2020-12-30 06:01] sunny0826 opened #845 "[BUG]`vela env` no check kubeconfig context"
**Describe the bug**

When the kubeconfig context is switched, `vela env` does not check whether the current context is the one in which the env was created.

**To Reproduce**

- `vela install`
- switch kubeconfig context
[code]

**Expected behavior**

An error should be thrown: `The cluster is not installed with vela, please execute vela instll`

**Screenshots**

**Cluster information**

**Additi

[2020-12-30 07:03] captainroy-hy opened #848 "[Feature] Refactor and enhance resource applicator"
**Is your feature request related to a problem? Please describe.**

Since these two points ([1](https://github.com/crossplane/crossplane-runtime/blob/479dbc8a456086622ce1afab66aad11ba6c8f78d/pkg/resource/api.go#L138), [2](https://github.com/crossplane/crossplane-runtime/blob/479dbc8a456086622ce1afab66aad11ba6c8f78d/pkg/resource/api.go#L151)) in crossplane-runtime, it's necessary to refacotr the ap

[2020-12-30 07:35] wonderflow commented on #589
closing as I can't repoduce either. @szihai  please try the new version and feel free to reopen if it still exists.

[2020-12-30 07:35] #589 closed

[2020-12-30 07:36] wonderflow commented on #427
closing, thanks again @sunny0826

[2020-12-30 07:36] #427 closed

[2020-12-30 07:57] Incubator4th opened #849 "[Feature] IngressClass support for route"
Environment: RKE 1.19.2 with traefik v2.2 as ingress controller

Well,in the process of referring to the installation guide, some problems were encountered.

Which is the same issue with #632

After a series of problem diagnosis,I found that the route trait create ingress with annotations `kubernetes.io/ingress.class=nginx`,but I used traefik, this is why this service is pending and route got time

[2020-12-30 08:31] wonderflow commented on #698
Let's do a terraform demo like this:
[code]

Finally, myweb will print ossbucket address.

[2020-12-30 08:43] wonderflow commented on #849
Thanks for your advice. I totally agree the `ingressclass` could be an option(with default value 'nginx'), would you like to send a PR for it? @Incubator4th

[2020-12-30 09:56] TomorJM commented on #721
/assign

[2020-12-30 09:59] zzxwill commented on #721
@TomorJM Thanks for taking up this feature. Would you please shall your proposal?

[2020-12-30 12:40] Incubator4th commented on #849
Thanks for appreciation.It's interest to modify by myself.

Before doing that,in my understanding, add parameter ingressclass requires modify crd define yaml , main controller and trais crd value. It would has a chain change.And I would like to try it.

By the way,on the one hand this project kubevela aims to let  developers to understand kubernetes less.
But on the other hand, inevitably,some ser

[2020-12-30 14:23] wonderflow commented on #849
Hi, @Incubator4th  really good thoughts! Thanks.

Yes, so we use WorkloadDefinition/TraitDefinition along with cuelang template to help reduce the complexity.

Yes. This requires the platform to have enough extensibility. With the help of kubevela, you can easily change the Workload/TraitDefinition of define a new one to meet the requirement.

If you are saying KubeVela, you can view [our roadmap]

[2020-12-31 06:05] TomorJM opened #851 "[BUG]`vela ls` command triggers build flow"
**Describe the bug**
Run official website demo project, execute "vela ls" command, and trigger the build process

**To Reproduce**
- dir path: kubevela/docs/examples/testapp
- modify the vela.yaml
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/11410549/103396907-be88f880-4b70-11eb-89cc-9ca274a91057.png)
![image](https://user-images.githubusercontent.com/11410549/1033969

[2020-12-31 08:29] Incubator4th commented on #849
@wonderflow I agree with point  `the ingress and k8s service can't meet our full requirements`.One controversial function is path rewrite,which is not a standard function in ingress controller.In vela file,it called `rewriteTarget`.

In fact,different ingress controller have different implementations.But it doesn't have a standard configuration as ingressclass.
Which configuration in nginx use spe

[2021-01-04 07:23] zzxwill opened #862 "[Feature] generate Secret/ConfigMap from vela config"
Normally we set container env from ConfigMap or Secret as below.

[code]

Sometimes, we might want to use vela config data, as it's very convenient to store key-value data in config by vela core or vela cli. For example, if a workload generate database connection information and store it in config as below.

[code]

It would be useful if there is an option to generate Secret/ConfigMap based on the

[2021-01-04 12:41] zzxwill commented on #698
Based on the design by @wonderflow , I made a quick PoC https://github.com/oam-dev/kubevela/pull/863.

On UX of platform builder and application developer, please refer to https://github.com/zzxwill/catalog/tree/terraform/applications/terraform.

[2021-01-04 21:39] hongchaodeng commented on #862
What's the use case for that?

[2021-01-05 01:25] resouer opened #864 "[Feature] Helm chart as capability module"
**Is your feature request related to a problem? Please describe.**

#### Consider using Helm Chart as Component (by referring a chart as WorkloadDefinition module)

As helm chart already provide both templating and parametering, and many platform builders know how to make helm chart (correct me if I'm wrong).
Furthermore, the chart also provides json schema, so many things work today (e.g. doc-gen

[2021-01-05 02:29] zzxwill commented on #862
For example, https://github.com/zzxwill/catalog/tree/terraform/applications/terraform.

[2021-01-05 02:37] #794 closed

[2021-01-05 02:47] zzxwill commented on #777
I moved the special part of rollout `Conflicts With` and `how-rollout-works` to the design section https://github.com/oam-dev/kubevela/blob/master/design/vela-core/rollout.md.

[2021-01-05 06:43] captainroy-hy opened #865 "[Feature] improve the way AppConfig handle workloads changed by others"
A workload is rendered and created in AppConfig controller. After the workload is created in the cluster, AppConfig controller will reconcile it periodically to make it matching the desired state.

Besides AppConfig controller, there are other two kinds of controllers, workload controllers and trait controllers, with interest in workloads. They are both possible to change the state of workloads in

[2021-01-05 09:37] Incubator4th opened #866 "[Feature]Generate Kubernetes resource yaml from vela cli with appfile"
During trying to use vela with CI/CD pipeline.We found that vela file might not be friendly to customize.Although just do something like add label or annotations,replace image tag,which is easy for kustomize.

I know these are different,and vela is not a tool for CICD.With communication in gitter,I got that appfile have equivalent Applications CRD.

One thing is that,should cli tool have command t

[2021-01-05 09:39] Incubator4th commented on #632
@kingsir2011 maybe you didn't install nginx ingress and untill now,route will auto use nginx as ingress.I report this in #849 and try to fix it

[2021-01-05 16:39] resouer commented on #777
@zzxwill It's not correct to me, all those information are not design doc, especially the conflictsWith section. They are part of user facing doc.

Doc gen should come from the whole definition object. For example, including description, conflictsWith, appliesTo etc. The how-to section could be a link to a separate file under same dir.

Please revise this issue or handle them manually for now.

[2021-01-05 17:44] resouer commented on #866
@Incubator4th Hi, check out `vela export` command ^^

Note that it is still WIP to make appfile rendered into `Application`: https://github.com/oam-dev/kubevela/pull/846, so for now, `vela export` will only export `Component` + `AppConfig` objects instead.

[2021-01-05 20:37] resouer opened #867 "[Feature] Bypass C/AC orchestrator when dependency & dataInput/output is not required"
**Is your feature request related to a problem? Please describe.**
Today we blindly render `Application` into C/AC and rely on AC controller to render k8s raw resources, it introduced a extra jump.

This is fine in short term, while in long term, we should evaluate bypassing the C/AC orchestrator when dependency & dataInput/output is not claimed in `Application` (which tends to be the majority cas

[2021-01-06 03:58] #680 closed

[2021-01-06 06:00] captainroy-hy commented on #865
Currently, if controllers except AppConfig controller changed the configuration of a workload, it depends on whether the changed fields are touched by workload renderer.
If touched, AppConfig controller will revert it.
If not touched, AppConfig controller has no effect on it.  Furthermore, even if AppConfig spec is changed later, AppConfig controller cannot revert previous changes either. But user

[2021-01-07 01:18] resouer opened #870 "[Feature] Better organization of definition templates with multiple templates support for one trait"
**Is your feature request related to a problem? Please describe.**

As the title said, for now although every template/definition in KubeVela is pluggable, it's organization and installation process is still kinda coupled with KubeVela itself. That makes the contributor feels they are all "built-in" features and hesitate on making change to them, which is not the intention.

As a related issue, th

[2021-01-07 01:30] resouer commented on #870
/cc @oam-dev/vela-maintainers thoughts?

[2021-01-07 03:32] wonderflow commented on #806
We can add K8s nginx as a trait, and set conflictWith field with route trait. So you will be able to use multiple domain route by raw ingress.

[2021-01-07 06:20] Incubator4th commented on #866
@resouer well,I have seen and I tried `vela export`,it works as reported.But I wonder why not use `Application` object rather and `Component` + `AppConfig` objects,cause of one object is easy to mange.

Or it haven't been implemented yet,is there a plan to export `Applicaiton` resource,and even make appfile and Applicaiton related?

Well,I noticed that in function `Reconcile` of  Applicaiton Contr

[2021-01-07 06:35] resouer commented on #866
@Incubator4th Sorry, just didn't fully get your point. The PR #846 I linked in previous comment is exactly rendering Appfile to Application CRD (as its title said).

[2021-01-07 06:41] Incubator4th commented on #866
@resouer I've seen,but it seem not ready yet. And would `vela export` export `Application` ? Cause of manage one object is easier.

[2021-01-07 06:55] resouer commented on #866
@Incubator4th Yes, the intention of PR #846  is exactly as what you mentioned (use Application CRD to replace C/AC as the app descriptor).

Btw, welcome send a PR to update `$vela export` command after #846 is merged ^^

[2021-01-07 07:00] Incubator4th commented on #866
@resouer whatever,I wish I can help after I totally read about that part of PR #846

[2021-01-07 09:39] wonderflow opened #872 "rename pkg/application to pkg/velaapp along with the application struct for vela"
To avoid confusion.

[2021-01-07 23:22] ryanzhang-oss commented on #865
I wonder when does a trait need to "remove" a field from the workload? This seems to be a rather rare case.

[2021-01-07 23:24] ryanzhang-oss commented on #865
On a different note, it seems there should be some way for the component/workloadDefinition to indicate what fields can be changed and what fields are immutable. The render should maintain those immutable ones in the reconciliation loop and leave the other fields alone.

[2021-01-08 04:20] wonderflow opened #873 "Proposal: Data passing mechanism for Application"
# Background

When two services need to pass data from one to another in application, we need a solution for application.

In oam-runtime layer(AppConfig+Component), we already implemented [data input/output mechanism](https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/resource-dependency.md).

In this proposal, we try to figure out a way to support data passing in Application

[2021-01-08 09:49] wonderflow commented on #770
For application level data passing, I have come up with a new proposal in #873

[2021-01-10 03:39] hongchaodeng commented on #862
Providing a link won't explain anything. Please explain in words with more details of the use case

[2021-01-10 03:45] zzxwill commented on #862
@hongchaodeng config could only be used in cue context, ie, in WorkloadDefinition and TraitDefinition, but app developers' focus in Appfile, and normally they will use env to consume data from config. So I wonder whether it's necessary to generate a secret from vela config?

是不是需要提供一个选项，进一步把 config 生成 secret/cm，这样 env 可以从 secret/cm 获取数据？

[2021-01-10 03:56] resouer commented on #862
Please ref to https://docs.docker.com/engine/swarm/secrets/#use-secrets-in-compose about how to define secret/config in appfile and fix this by following PR. We follow exactly same pattern.

[2021-01-10 03:56] hongchaodeng commented on #873
The idea sounds awesome. But the proposal lacks many details that need to be explained:

First, the background section doesn't explain the motivation with enough details. Here are some of the questions to be answered:

- What are the user scenarios that could not be solved by current Vela implementation and will be solved in this proposal?
- Why solve it in Vela instead of relying on external tool

[2021-01-10 03:59] hongchaodeng commented on #862
What are the user workflow? Are they consuming k8s secrets in their app? Like using volume from secret or env from secret?

[2021-01-11 09:54] wonderflow opened #876 "reconcile error while use K8s Service as trait"
It report errors:

[code]

Reproduce yaml:

[code]

The controller keep reconcile and update the object. While the underlying K8s service spec has been changed:

The fields `clusterIP` and `type` were automatically added. So it complains if the kubevela controller want to change it.

[code]

[2021-01-11 13:31] wonderflow opened #877 "[Feature] Refactor vela cli to interact with Application instead of AppConfig and Component"
Now we have successfully built `Application` Object which has done most appfile logic in controller. Our CLI should work with the Application object instead of AppConfig and Component.

## Commands should be refactored

- [x]     init   	Create scaffold for an application
- [x]     delete APP_NAME                           	Delete an application  @zzxwill
- [x]     exec [flags] APP_NAME -- COMMAND

[2021-01-11 13:53] captainroy-hy commented on #865
trait rarely needs to remove a field but is possible to add a field. e.g., VolumeMount trait has to add Volumes field to the workload.

[2021-01-12 04:08] wonderflow commented on #865
I think the trait controller can use finalizer mechanism, if it was removed, the finalizer should clean the fields added to workload.

[2021-01-13 07:44] captainroy-hy commented on #877
/assign
- [ ]  exec [flags] APP_NAME -- COMMAND [args...] Execute command in a container
- [ ]  logs Tail logs for application
- [ ]  port-forward APP_NAME Forward local ports to services in an application

[2021-01-13 08:28] hongchaodeng opened #883 "Have an automatic way to sync KubeVela with oam-runtime repo"
Currently the Vela repo has OAM Runtime which is forked from https://github.com/crossplane/oam-kubernetes-runtime and not synced with it automatically.

As we are having more OAM runtime features and bug fixes, like https://github.com/crossplane/oam-kubernetes-runtime/issues/272 and https://github.com/crossplane/oam-kubernetes-runtime/pull/317/, we need to either implement twice or  have diverged

[2021-01-13 17:33] yaron2 commented on #609
Hi, Dapr maintainer here. I'm excited to see Dapr integrated as a trait in Kubevela, let me know how we can help.

[2021-01-13 19:58] resouer commented on #609
@yaron2 Thanks! We also feel excited about it. Assigning this task to @hongchaodeng who has already been working on this design internally.

[2021-01-13 22:02] resouer commented on #866
@Incubator4th Note that PR #846 has been merged and the `Application` object is now online. Feel free to give it a try and let us know the feedback.

/cc @wonderflow to check if this issue is fully fixed by now.

[2021-01-14 03:35] TomorJM commented on #721
The route trait runs well
![image](https://user-images.githubusercontent.com/11410549/104541244-33256200-565c-11eb-8753-0d91cf1a6ef8.png)

Actually all of the built-in trait can all be displayed normally

[2021-01-14 04:03] TomorJM opened #884 "[Feature]`vela traits` should show "*" when trait can be applied to all workloads"
![image](https://user-images.githubusercontent.com/11410549/104543186-f65b6a00-565f-11eb-8540-734ab7e33436.png)
[kubewatch](https://github.com/oam-dev/catalog/blob/master/registry/kubewatch.yaml) trait can be applied to any workloads. But the command `vela traits` information doesn't show it.I suggest completing this information.

[2021-01-14 06:28] zzxwill commented on #721
@TomorJM Thanks for the verification.

[2021-01-14 06:28] #721 closed

[2021-01-14 07:07] TomorJM opened #885 "[Feature] `vela status app` display trait status information with customized style"
The current Vela Status app command can output information such as applying traits, but there are the following problems
1. Built-in traits display normally because of their clear semantics and functionality
![image](https://user-images.githubusercontent.com/11410549/104555688-3d098e00-5679-11eb-8ce2-89ff04487c75.png)

2. The status of traits extended by CRD shows problems. CRD has a high degree o

[2021-01-14 07:08] TomorJM commented on #885
@wonderflow @zzxwill

[2021-01-14 07:15] TomorJM commented on #877
/assign

- [ ] status APP_NAME Show status of an application, including workloads and traits

[2021-01-14 09:22] #777 closed

[2021-01-14 09:29] TomorJM commented on #884
@wonderflow @zzxwill What do you think of this proposal?

[2021-01-14 17:49] resouer commented on #876
Let's revisit when reconcile on update is needed in the context of `Application` object is now online. IMO, only fields defined in Application (i.e. parameters in Definition) needs to be enforced by OAM controller.

[2021-01-14 21:46] #399 closed

[2021-01-15 02:16] wonderflow commented on #884
@TomorJM  Sure, good idea!

[2021-01-15 02:23] zzxwill commented on #884
Thanks for proposing this feature. It's exactly what we talked the last problem of #731 yesterday.

[2021-01-15 02:40] wonderflow commented on #885
@TomorJM For built-in traits, we must give clear status. For custom traits, we can define some rules in TraitDefinition to let the user to define what status should be show in the status.

Let me use a K8s service trait as an example:

[code]

We add a field `customStatus` in trait definition. Then the vela cli can read the template and render it by puting the trait Object as `context.trait`.

[2021-01-15 03:09] wonderflow commented on #866
I think it has been done, you could try `vela export` by using the master branch. @Incubator4th

[2021-01-15 06:42] TomorJM commented on #885
Yes and right.
It should be like this with design for semantic extensibility. And how this feature is going? Is it assigned to anyone?

[2021-01-15 22:33] #492 closed

[2021-01-16 02:02] LeoLiuYan commented on #877
/assign

*[] ls List services of all applications
*[] show APP_NAME Show details of an application

[2021-01-16 02:04] LeoLiuYan commented on #877
/assign

* [ ]  ls List services of all applications
* [ ]  show APP_NAME Show details of an application

[2021-01-16 12:29] kang007 opened #893 "[Feature]How to create multiple resource objects with trait"
How to create multiple resource objects with trait, Thanks.

Workload Defintion:
--------
[code]

Service Trait Definition:
--------
[code]

Route Trait Definition:
--------
[code]
Expected a trait can produce multiple services.

[2021-01-18 08:11] wonderflow commented on #893
Add some details after offline discussion with @jamila07

1. There is an Operator that handles three CRD，Gateway、Service and Route. The Gateway CR will create Gateway for App, the Service CR will register to K8s which gateway proxy will be used, the Route CR will configure  Gateway port and the proxy lists.
2. KubeVela can help create gateway as workload, create multiple servces and route as trait

[2021-01-18 14:15] baxiaoshi opened #895 "Vela APIServer environment design"
Hi @linfan

_Originally posted by @hongchaodeng in https://github.com/oam-dev/kubevela/issues/881#issuecomment-759286667_

[2021-01-18 14:16] baxiaoshi commented on #895
I have a few questions about this design：
1.In the design, an application can only be long to one environment. I can't understand why it is designed in this way. In a company, an application is usually deployed in multiple environments
2.The current data storage is not all stored in MySQL. When will it be implemented
3.How to describe how to place multiple applications in multiple clusters in work

[2021-01-18 16:21] hongchaodeng commented on #895
For roadmap please see https://github.com/oam-dev/kubevela/pull/891

[2021-01-18 16:22] hongchaodeng commented on #895
Could you provide an example?
In current design, environments are actually used to isolate applications and their dependencies. For example, staging and production.

What's the question?

This is supported in the design. I will provide more details to cover it in the doc.

[2021-01-18 22:43] baxiaoshi commented on #895
1.An application has three environments: test, staging and production. The application needs to be deployed in these three environments, and the resources of each environment are isolated
2.I didn't find much time to implement the design in roadmap

[2021-01-18 22:43] baxiaoshi commented on #895
1.An application has three environments: test, stage and produc. The application needs to be deployed in these three environments, and the resources of each environment are isolated
2.I didn't find much time to implement the design in roadmap

[2021-01-18 22:59] baxiaoshi commented on #895
![image](https://user-images.githubusercontent.com/11749031/104969440-5e74cc00-5a23-11eb-85bd-b26c1e62c34c.png)

Why is the definition not designed to be global, so that it only needs to be defined once and then published to different clusters

[2021-01-18 23:08] baxiaoshi commented on #895
In my current company, an environment has multiple clusters, users can choose to deploy in a single cluster or multiple clusters. In one environment, I expect the API design

[code]

[2021-01-19 01:52] #866 closed

[2021-01-19 01:53] #849 closed

[2021-01-19 04:22] wonderflow opened #896 "besides hosting the doc on Github page, users should be able to check the doc by vela CLI at ease"
Additionally, besides hosting the doc on Github page, users should be able to check the doc by vela CLI at ease.

For example, `$ vela show metrics` should return the reference doc for metrics trait to me.

_Originally posted by @resouer in https://github.com/oam-dev/kubevela/issues/492#issuecomment-734010425_

[2021-01-19 04:23] wonderflow commented on #896
- `vela refererence metrics`
- `vela show metrics`
- `vela detail metrics`

All works for me

[2021-01-19 04:59] wonderflow opened #897 "[Feature] follow CII Best Practices"
After try kubevela in CII Best Practices Badge Program(https://bestpractices.coreinfrastructure.org/en). I found our project needs to improve.

https://bestpractices.coreinfrastructure.org/en/projects/4602  [![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/4602/badge)](https://bestpractices.coreinfrastructure.org/projects/4602)

CII github advice: https://github.com/core

[2021-01-19 06:22] wonderflow commented on #883
I don't think there's any easy way to sync, I hope we implement new feature in kubevela only and keep the bugfix synced manually

[2021-01-20 02:45] zzxwill opened #899 "Saving parameter reference information of a Workload Type or Trait in ConfigMap"
[Comments](https://github.com/oam-dev/kubevela/pull/886#issuecomment-761237621) from @hongchaodeng

另外，存储阶段应该是「能力安装」，也就是用户 `kubectl apply -f workloadDefinition.yaml/traitDefinition.yaml` 时。
[Comments](https://github.com/oam-dev/kubevela/discussions/880#discussioncomment-277552) from @resouer

[2021-01-20 05:33] hongchaodeng commented on #895
I'm getting a little bit lost in your comments.. So feel free to use Chinese if you want to :)

Let me summarize your points to see if I understand it correctly:

- Definition should be top level API so that one definition could be published to different clusters. This is like having a Definition template.
- An application could be deployed to multiple clusters. Good news! This is exactly the scop

[2021-01-20 12:20] wonderflow opened #903 "[Feature] Support multiple resources outputs in cue template for workloadDefinition"
Now our TraitDefinition can support output multiple K8s resources by define `outputs` in TraitDefinition. But we don't support this way in workloadDefinition. The main reason is we convert the resource in workloaddefinition into Component which can only hold only one K8s object.

We can support this feature after  #867

[2021-01-20 12:29] wonderflow opened #904 "lack of documentation of Application object"
Need to add documentation to explain how to use the Application Object and how it works.

[code]

[2021-01-20 12:38] wonderflow opened #905 "lack of documentation about how to use advanced CUE template feature"
By using application object, we have already supported some advanced features. But we don't have any documentation except [this example](https://github.com/oam-dev/kubevela/tree/master/config/samples/application).

# Patch trait

- [x] trait can be a patch of workload, for example replica trait. #921
- [x] trait can use strategy patch merge with workload, for example sidecar trait. #921

# Multipl

[2021-01-20 12:50] wonderflow opened #906 "vela don't support push image to private Registry"
`vela up` will build image and push to registry defined in the build section. But when the regisrty is a private one, we don't have any way to bypass the password or token.

[code]

[2021-01-20 13:19] wonderflow opened #907 "traitdefinition without definitionRef field should work"
Currently, we have already supported patch trait which will not really create resource.

It means the patch trait don't rely on definitionRef to refer to a CRD name or anything.

Currently, we just make the field spec.definitionRef of TraitDefinition optional, but it's really a required field if the trait is not a patch trait. We don't have any test or logic that can make sure this won't broke if

[2021-01-20 13:29] wonderflow opened #908 "the user of vela doesn't know what is contour or nginx ingress. So there won't be a 'type' field in trait spec."
Note that the user of vela doesn't know what is contour or nginx ingress. So there won't be a 'type' field in trait spec.

Instead, the provider of ingress is a platform admin's concern that should be decided by:

1. trait definition, and be configurable by vela install config
2. or, auto discover by whether contour or nginx ingress is available (default provider should be defined in this case)

1

[2021-01-20 13:30] wonderflow commented on #908
We have made 1 as a quick fix, but we are lacking of way to fix as 2

[2021-01-20 13:32] #896 closed

[2021-01-20 13:32] wonderflow commented on #896
It was done as `vela show metrics`

[2021-01-20 13:34] wonderflow commented on #839
fixed

[2021-01-20 13:34] #839 closed

[2021-01-20 13:37] #707 closed

[2021-01-20 13:37] #705 closed

[2021-01-20 13:38] #704 closed

[2021-01-20 15:17] kinsolee commented on #903
We are running kubevela based on Openshift platform. And we want to create a `WorkloadDefinition` which consists of `[DeploymentConfig](https://docs.openshift.com/container-platform/4.6/applications/deployments/what-deployments-are.html)` and `Service` resource. This feature will easily tackle this problem, or we have to create a TraitDefinition exclusively for Service resource, which violate `OAM

[2021-01-20 19:53] hongchaodeng commented on #906
We are gonna change the build tool to use buildkit go library. See #416 .

According to buildkit's doc:

To follow this convention, we will let user set up and manage the credentials via docker/buildkit cli.

For this issue, I think we should write a doc and return better error message.

[2021-01-21 01:28] captainroy-hy commented on #876
Having a test in my local integrated env, #857 can fix this issue. No error occurs during reconciling appconfig.

[2021-01-21 02:29] zzxwill opened #913 "[Feature] Application creation OpenAPI based on new Application object"
Based on [Application](https://kubevela.io/#/en/concepts?id=application) object, implement OpenAPI to create an application.

Follow KubeVela Restful API specification https://kubevela.io/en/developers/references/restful-api/index.html

[2021-01-21 02:29] zzxwill commented on #913
@leejanee is interested in it.

[2021-01-21 02:35] zzxwill commented on #676
Closing it as It's duplicate to https://github.com/oam-dev/kubevela/issues/740

[2021-01-21 02:35] #676 closed

[2021-01-21 02:38] wonderflow opened #914 "[Feature] health check logic should refactor from app-controller into healthscope controller"
Now we have implemented health check policy by using cue in https://github.com/oam-dev/kubevela/pull/861.

But the code is coupled in Application controller, the main logic is  a periodically check for health. But the Application Controller should not have this dependency, it should not add a cron-logic for health check, this should be done in health scope controller.

[2021-01-21 02:50] wonderflow commented on #906
Users use appfile for CI/CD pipeline, they may not have a  `$DOCKER_CONFIG/config.json`. We should provide a secret or environment mechanism.

[2021-01-21 03:47] kinsolee commented on #867
Consider this situation,  we have two applications both consist of `backend` service.

We first `vela up` first one.
[code]
When we `vela up` the second one,
[code]
The controller will logs below:
[code]
It blocks the same service name between two applications.

Can bypassing C/AC solve this problem?

[2021-01-21 03:59] wonderflow commented on #867
@kinsolee  yes, if we bypass the k8s resource, we should name `backend` of `app-test1` to `app-test1-backend`

[2021-01-21 04:08] wonderflow opened #915 "sync add data passing mechanism from oam-kubernetes-runtime(#317)"
https://github.com/crossplane/oam-kubernetes-runtime/pull/317 @hoopoe61

[2021-01-21 06:17] kinsolee commented on #867
The name of application should be added to the template context parameters so that we can differ the workload/trait in definitions by the app name.

[2021-01-21 06:39] hongchaodeng commented on #873
Here's an update notes based on discussion between @wonderflow and me:

1. Currently, the user scenario is that we need to support data passing in representation layer (appfile/application) so that we can further decouple inputs/outputs and reuse them across services.

1. It is gonna be implemented in Vela because we don't want to add external tooling dependencies to users (e.g. Tekton pipelines).

[2021-01-21 07:32] wonderflow commented on #867
@kinsolee  yes, we could add it, just like the component name.

[code]

[2021-01-21 08:05] wonderflow opened #918 "[Feature] support namespace scope WorkloadDefinition/TraitDefinition CRD"
**Is your feature request related to a problem? Please describe.**

Currently, workloadDefinition and traitDefinition are all cluster scope, but it seems block some our features:

* Use Case 1: For some security reason, we can't easily create or update cluster-scope object, a cluster scope object will widely affect the system which can be dangerous. On the other hand, user extended capability shou

[2021-01-21 08:20] captainroy-hy opened #919 "AppConfig ValidatingWebhook fails for TraitDefinition not found"
### Problem:
It should allow deploy an AppConfig without TraitDefinition through [offering a dummy traitDefinition](https://github.com/oam-dev/kubevela/blob/b6edd4bc7e21dc568d886bd4c176456d286a9f07/pkg/controller/core.oam.dev/v1alpha2/applicationconfiguration/render.go#L232). But the current validating webhook [doesn't try to ](https://github.com/oam-dev/kubevela/blob/b6edd4bc7e21dc568d886bd4c1764

[2021-01-21 10:42] #848 closed

[2021-01-21 11:20] wonderflow commented on #893
Hi @kang007  you can see the example here https://github.com/oam-dev/kubevela/blob/61e83c1c894b742aa1656298892b948b026aba13/docs/en/platform-engineers/advanced-cue.md#generate-multiple-resources-by-using-for-loop

[2021-01-21 16:24] hongchaodeng commented on #895
Here is the update base on offline discussion
- An application could be deployed to multiple environments and thus multiple clusters. I will update the design doc to reflect this.
- A definition is enabled via installing a package. So the global template will be stored and retrieved via catalog. I'm working on a detailed design on this. Might update on existing design doc or put up a new one.

[2021-01-21 18:32] resouer commented on #893
I am fully aware what this issue is asking for but the use case/example is confusing.

Shouldn't the `Gateway` a application scope? Gateway in general is not per workload or per revision, it has an independent lifecycle.

Also, `Service` should be part of the component IMO.

[2021-01-21 19:10] hongchaodeng commented on #903
@kinsolee
I agree. WorkloadDefinition is just an encapsulation of all the nitty-gritty behind what makes the workload runs for developers. Whether just Deployment or Deployment + Service are the details that would be hidden by the parameters exposed to users.

[2021-01-21 20:38] resouer commented on #908
For 1, since we now have catalog design: https://github.com/oam-dev/kubevela/blob/master/design/vela-core/APIServer-Catalog.md, it also makes sense to maintain multiple set of definitions in catalog. Platform team will make the decision by choosing which set to apply to cluster (environment).

[2021-01-21 23:30] ryanzhang-oss commented on #873
I wonder which part of the vela is responsible to understand this part? is `depends_on` a built-in function? If so, which component of the vela needs to understand that?

[2021-01-22 01:20] resouer opened #922 "[Feature] Detailed Documentation Structure for KubeVela 1.0"
For 1.0 release, I'd propose a new sidebar (doc) structure like this:

- Overview
  - [Introduction](/en/introduction.md)
  - [Getting Started](/en/quick-start.md)
  - [Concepts and Glossaries](/en/concepts.md)
- Platform Team Guide
  - [Overview](/en/platform-engineers/overview.md) *# overview*
  - Progressive Rollout
    - [ ] [AppDeployment CRD]() *# AppDeployment (with Traffic?)*
  - Applicati

[2021-01-22 02:21] zzxwill commented on #895
/cc @leejanee

[2021-01-22 03:33] wonderflow commented on #873
After I discussed with @resouer , we need to re-visit the real use case. Maybe we should not implement Application level datainput/output but only in WorkloadDefinition.

And I discuss with @封崇 , he told me the real case is data binding, just like bind a secret into the a deployment. But we need to check the secret is exist before binding and we should bind it before the deployment is really deplo

[2021-01-22 04:28] resouer commented on #638
I will reopen this issue since Istio support is still not released yet.

The missing parts including:
1. Istio labels
2. A Traffic CRD to carry VirtualService, DestinationRules configurations
3. An application level Service (could be an ApplictionScope) which is required for Istio to work (this is anti-pattern but yes it's how Istio is designed)
4. A ApplicationScope to model Gateway of Istio.

[2021-01-22 08:06] wonderflow opened #925 "[Feature] support vela dry-run command for platform builder for debugging"
**Is your feature request related to a problem? Please describe.**

Writing definition files with cue template is not easy, platform builders usually need to debug and check their definition files. But we don't have any easy way.

**Describe the solution you'd like**

We should provide a debug way, the first thing come up in my mind is to provide a command like:

[code]

It will render out the K8s

[2021-01-22 08:10] zzxwill commented on #305
Fixed in #711.

[2021-01-22 08:10] #305 closed

[2021-01-22 08:12] zzxwill commented on #462
Vela doesn't support the command now.

[2021-01-22 08:12] #462 closed

[2021-01-22 08:13] zzxwill commented on #464
Fixed after autoscale is merged as a built-in trait as its definition is applied when vela-core is installed.

[2021-01-22 08:13] #464 closed

[2021-01-22 08:15] #265 closed

[2021-01-22 09:51] hprotzek opened #928 "[Feature] cert-manager install optional"
**Is your feature request related to a problem? Please describe.**
Trying to install kubevela into our existing gke dev cluster, which already has the cert-manager installed, results in an error.

[code]

**Describe the solution you'd like**
Make the cert-manager optional in the helm chart.

[2021-01-22 10:02] kang007 commented on #893
OK， Thanks.

[2021-01-22 10:07] #893 closed

[2021-01-22 10:08] kang007 commented on #893
This is the case now. We are not using Istio. It is a set of Envoy-based Operators developed by us. We will deploy the gateway through the Gateway CR. Service is the service that the gateway needs to proxy, and Route is the routing strategy set for the gateway.

[2021-01-22 10:42] zzxwill opened #929 "Modification to comand `vela show WORKLOAD_TYPE or TRAIT`"
The following modifications are suggested to be made on command `vela show`. /cc @wonderflow

## Using Browser
`vela show WORKLOAD_TYPE/TRAIT`  --> `vela show WORKLOAD_TYPE/TRAIT --web`

## Using Terminal
`vela show WORKLOAD_TYPE/TRAIT --no-website`  --> `vela show WORKLOAD_TYPE/TRAIT`

[2021-01-22 23:15] hongchaodeng commented on #864
I think this is the problem that the [Catalog and Package design](https://github.com/oam-dev/kubevela/blob/master/design/vela-core/APIServer-Catalog.md) resolves.

One difference is that, instead of putting the modules in the Definition yaml, the design creates another abstraction called Catalog to manage them. In this way, we can decouple the Capability Definition and Package, because they are st

[2021-01-22 23:15] hongchaodeng commented on #895
@baxiaoshi Based on our discussion I have update the design in https://github.com/oam-dev/kubevela/pull/926

[2021-01-23 04:28] #925 closed

[2021-01-23 04:28] allenhaozi commented on #873
refer to this design [bindings](https://docs.dapr.io/developing-applications/building-blocks/bindings/bindings-overview/), whether has some enlightenment ?

`In this proposal, we try to figure out a way to support data passing in Application Object layer.`
can cover with more, more complex scenes.

[2021-01-25 02:08] resouer commented on #928
I am fully supporting this.

As a plus, I think we should make default installation of KubeVela does not include any 3rd party dependency, and only support basic traits (ingress, hpa, simple rollout etc.) since now we are pretty good on modeling any built-in capabilities.

And as the next step, user can choose to install different capabilities step by step.

/cc @hongchaodeng @wonderflow

[2021-01-25 02:14] wonderflow commented on #928
kubevela webhook depends on cert-manager, do you mean we should disable webhook by default? @resouer

[2021-01-25 02:18] resouer commented on #928
@wonderflow webhook should be there, but we should allow user install cert-manager by himself.

[2021-01-25 02:22] LeoLiuYan commented on #928
Maybe `KubeVela` can generate certs by itself, just like `Kruise` do?

[2021-01-25 03:35] wonderflow commented on #864
If we close the issue when we have only merge a design proposal, do we need to raise a new issue to implement the design?

[2021-01-25 04:13] resouer commented on #864
It's automatically closed by keyword. Reopen.

[2021-01-25 04:25] zzxwill commented on #749
https://github.com/oam-dev/kubevela/pull/742 is merged. Will it also apply to WorkloadDefinition?

[2021-01-25 04:29] captainroy-hy commented on #749
related WIP issue #907

[2021-01-25 06:22] zzxwill commented on #749
Got it. Besides TraitDefintion, will it also allpy to WorkloadDefinition?

[2021-01-25 06:59] wonderflow commented on #876
temporarily fixed by #857

[2021-01-25 06:59] #876 closed

[2021-01-25 07:02] wonderflow commented on #688
Moving to discussion.

[2021-01-25 07:02] #688 closed

[2021-01-25 07:40] wonderflow opened #932 "Umbrella issue for KubeVela 1.0"
We're going to release [KubeVela v1.0 Preview Version](https://github.com/oam-dev/kubevela/milestone/3) in mid or end of March.

In this release, we're going to give our user especially platform builders a stable user interface(UI) and user experience(UX). A stable UI/UX can help the community grow faster and better. Also, we will show more community integration capability.

Here are the issues I'

[2021-01-25 08:33] wonderflow commented on #749
It's duplicated with #907  I'll close it and let's discuss more in that issue.

[2021-01-25 08:33] #749 closed

[2021-01-25 09:30] wonderflow commented on #430
supported now, just use:

[code]

The yaml should be Application CRD object.

[2021-01-25 09:30] #430 closed

[2021-01-25 09:35] wonderflow commented on #278
vela apiser 可以做一个create后切换

[2021-01-25 09:36] wonderflow commented on #298
The Application CRD has been implemented

[2021-01-25 09:36] #298 closed

[2021-01-25 09:40] wonderflow commented on #400
https://kubevela.io/#/en/developers/config-enviroments

[2021-01-25 09:40] #400 closed

[2021-01-25 09:42] wonderflow commented on #413
closing this one, let's focus on #416

[2021-01-25 09:42] #413 closed

[2021-01-25 09:44] wonderflow commented on #419
closing as we will focus on appfile and not support the complex cli usage

[2021-01-25 09:44] #419 closed

[2021-01-25 09:45] wonderflow commented on #460
I have added trait order in the Application Object, any platform that rely on trait order can integrate with Application Object.

[2021-01-25 09:45] #460 closed

[2021-01-25 09:46] wonderflow commented on #479
we're not supporting this command now

[2021-01-25 09:46] #479 closed

[2021-01-25 09:49] wonderflow commented on #503
The `config` is now a keyword of kubevela and the usage is not like that defined in this issue. @hongchaodeng But I love this idea, would you have a new updated design?

[2021-01-25 09:54] wonderflow commented on #806
This issue can be resolved now, you can define a customized ingress trait by using cue @huolunl

please read the doc:

https://kubevela.io/#/en/platform-engineers/advanced-cue?id=trait-generate-multiple-resources

[2021-01-25 09:54] #806 closed

[2021-01-25 09:59] wonderflow commented on #718
Yes, it could be:

[code]

[2021-01-25 10:10] zzxwill commented on #192
We won't create applications from workload any more.

[2021-01-25 10:10] #192 closed

[2021-01-25 10:13] zzxwill commented on #217
Sub-feature of #740

[2021-01-25 10:15] zzxwill commented on #263
This is a sub-feature of https://github.com/oam-dev/kubevela/issues/740

[2021-01-25 11:22] wonderflow commented on #928
I have supported cert-manager as optional, by default we will install it.  I suggest we raise a new issue for this.

[2021-01-25 12:01] hprotzek commented on #928
Can all dependencies, be optional? Because while testing kubevela in our existing gke cluster, also the already existing `kube-prometheus-stack` got broken due duplicate installed webhooks from the prometheus operator.

So maybe https://github.com/oam-dev/kubevela/pull/934 can be extended to make the other helm chart dependencies from  `velaConfig` also optional?

[2021-01-25 19:20] resouer commented on #928
@hprotzek All 3rd-party dependencies are configurable via a `ConfigMap`, have you tried to follow the `"Customize Your Installation"` section in [this gude](https://kubevela.io/#/en/install?id=_3-initialize-kubevela)?

i.e.
[code]

[2021-01-25 21:07] resouer commented on #932
The general roadmap LGTM. A side note for what will be released from user (platform builder) perspective:

![image](https://user-images.githubusercontent.com/1701782/105765872-e409e780-5f0d-11eb-83a4-84fc5c036875.png)

The standard contract is important for building interoperability between `Application` and operation.

[2021-01-25 22:20] #895 closed

[2021-01-26 02:26] #872 closed

[2021-01-26 07:49] wonderflow opened #939 "make default installation of KubeVela does not include any 3rd party dependency"
we should make default installation of KubeVela does not include any 3rd party dependency, and only support basic traits (ingress, hpa, simple rollout etc.) since now we are pretty good on modeling any built-in capabilities.

And as the next step, user can choose to install different capabilities step by step.

/cc @hongchaodeng @wonderflow

_Originally posted by @resouer in https://github.com/oam

[2021-01-26 07:52] wonderflow commented on #939
This job should work step by step:

- [ ] promethus: remove the default metrics trait, refactor the document to tell how to add it as an Capability.
- [ ] flagger: remove the default Rollout trait, refactor the document to tell how to add it as an Capability.
- [ ] keda: remove the default scaler trait, refactor the document to tell how to add it as an Capability.

[2021-01-26 07:53] wonderflow commented on #928
we have supported vela install with helm args and make cert-manager optional in #934
 closing this one, I have made a new one for the following work #939

[2021-01-26 07:53] #928 closed

[2021-01-26 09:09] zhangb191 opened #941 "vela up -f https://raw.githubusercontent.com/oam-dev/kubevela/master/docs/examples/vela.yaml"
Parsing vela appfile ...
Error: Get "https://raw.githubusercontent.com/oam-dev/kubevela/master/docs/examples/vela.yaml": dial tcp 0.0.0.0:443: connect: connection refused

[2021-01-26 09:12] wonderflow commented on #941
can you try

[code]

Make sure you're not blocked by GFW

[2021-01-26 09:44] wonderflow opened #942 "deprecate vela install to use helm install for vela controller installation"
- [x] 1. setup alibaba cloud OSS bucket
- [x] 2. sync and upload chart to OSS bucket for every release
- [x] 3. update docs to `helm install` from the oss bucket (do we need a domain for that?)
- [ ] 4. deprecate `vela install`

[2021-01-26 10:29] hprotzek commented on #942
I like that, as the `vela install` is nice to test and play with vela, but to install into a running cluster, using just plain helm is much more trustworthy. I killed our dev cluster yesterday by running `vela install` because of the dependencies I wasn't aware of, which wouldn't happen for a normal helm chart, that can be easily checked.

[2021-01-26 11:01] jriguera commented on #942
Also -in my opinion-  in a production setup, from the point of view of the end users (developers), does not make sense to provide a cli which is used to deploy apps and potentially break/modify a running platform. vela cli is perfect if it focus on end users needs, platform operators need to know a bit more about the internals of the platforms and be able to debug (with kubectl) or install new tra

[2021-01-26 14:18] legendtkl commented on #942
With `helm install` we can utilize more power from the helm eco-system, and this is no doubt a  very good point.

Also, we need to be aware that once we introduce this, we are some kind of bound to `helm`. At this stage, this seems to be not a big problem.

I am new here. Correct me if I misunderstood this.

[2021-01-26 14:35] wonderflow commented on #942
@jriguera @hprotzek  @legendtkl  Very much appreciate for your comments, that's very useful, and it also make me believe that deprecate vela install will be a good choice.

Using helm install instead of `vela install` will not let us bound to `helm`, it will be platform builder's choice , helm chart is only a package format, the platform builder can even clone the repo and build from source by the

[2021-01-27 00:33] just-do1 commented on #929
/assign

[2021-01-27 00:59] zhangb191 commented on #941
curl: (7) Failed to connect to raw.githubusercontent.com port 443: Connection refused

[2021-01-27 02:54] legendtkl commented on #942
@wonderflow, make sense, thanks for the reply.

[2021-01-27 06:07] resouer commented on #939
@wonderflow, just to clarify, for the existing end user docs, I think we only need to leave them there and mark them as `Extension Capabilities`, and ref https://kubevela.io/#/en/developers/cap-center about how to install the capability.

We can clarify the needed 3rd-party dependency in the capability center/catalog and let user install them by themselves.

[2021-01-27 07:56] TomorJM commented on #885
/assgin

[2021-01-27 11:57] #830 closed

[2021-01-27 11:57] #884 closed

[2021-01-27 12:07] wonderflow commented on #942
I have finished 1 and 2 steps. The rest steps will be done after we have a new release.

[2021-01-27 12:08] wonderflow commented on #941
I can't reproduce it, closing, feel free to reopen if it's still happening.

[2021-01-27 12:08] #941 closed

[2021-01-27 12:13] wonderflow commented on #877
@LeoLiuYan  Hi, are you still working on this? We have made `vela show ` command to print how traits and workloads schema is, so don't do this command any more, thanks!

[2021-01-27 14:00] LeoLiuYan commented on #877
Got it. Yes, I am still working on this.

[2021-01-28 01:48] zhangb191 opened #949 "minikube addons enable ingress"
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2021-01-28 02:29] #939 closed

[2021-01-28 04:57] wonderflow opened #950 "Add staticcheck into github actions"
https://github.com/dominikh/go-tools

[code]

I test it locally and find some issues:

[code]

The issue should fix these issues and the check add it into github action just like the lint check:

https://github.com/oam-dev/kubevela/blob/master/.github/workflows/go.yml#L117

[2021-01-28 06:00] wonderflow commented on #929
fixed by #948

[2021-01-28 06:00] #929 closed

[2021-01-28 06:01] #913 closed

[2021-01-28 06:06] wonderflow opened #951 "More fields(appName, appRevision) needed for template context"
The name of application should be added to the template context parameters so that we can differ the workload/trait in definitions by the app name.

_Originally posted by @kinsolee in https://github.com/oam-dev/kubevela/issues/867#issuecomment-764408641_

Besides the appName we should add app revision too. So after that, the context will have:

context.name => appfile service name(a.k.a. component

[2021-01-28 07:26] wonderflow commented on #949
It seems to be the minikube issue？

[2021-01-28 09:12] wonderflow commented on #907
https://github.com/oam-dev/kubevela/pull/954/checks?check_run_id=1782388898 this CI fails because of don't have Reference Name

[2021-01-28 11:49] wonderflow opened #957 "create a kubevela demo using GoogleCloudPlatform/microservices-demo"
https://github.com/GoogleCloudPlatform/microservices-demo

What can we do with the demo?

### Basic Usage

1. Create WorkloadDefinition and TraitDefinition, especially our patch trait capability to reduce the complex of the K8s yaml
2. Install these workloadDefinition/traitDefinition to show our extensiblity, once registered for immediate use.
3. Build an app including all these micro services, us

[2021-01-28 12:13] TomorJM commented on #851
The above bug phenomenon can not be repeated in my current native environment. I have tried to use three versions of CLI, but it is invalid

- Release v0.3.0
- The binary executable generated by the latest master code
-Tag 0.2.0 code generates binary executor

Now temporarily close this issue, and then observe whether it will reappear later

[2021-01-28 12:13] #851 closed

[2021-01-28 12:30] wonderflow commented on #885
The implementation of this issue should focus on `vela status` command.

The workflow should like below:

1. user run `vela status myapp`
2. cli client get `Application Object`(myapp)
3. if no customStatus defined, run as the current logic.
4. if customStatus defined, get the trait CR and evaluate with the customStatus

[code]

[2021-01-28 15:18] joscha-alisch opened #959 "[Feature] Add base parameters to context"
When creating a trait, it seems we currently need to define base parameters again, because they don't seem to be in the context. Take this example

[code]

In `myTrait` we need to redefine port, in order to use it in the trait to create a service resource. Please correct me if I'm wrong and it is to be found somewhere.

It would be good, if those base parameters would be available. Maybe in `conte

[2021-01-28 17:51] resouer commented on #959
@joscha-alisch Hey! The current design is we recommend to package Service and Deployment in the same template module of a WorkloadDefinition, i.e. a Web Service = Deployment + Service.

The related PR is WIP here: https://github.com/oam-dev/kubevela/pull/937/files#diff-9afacce3fa2a274c3add4aebf38abfdc7cd7fc8d25d2e63ab8a6fcf7601f70e8

[2021-01-28 23:37] tangx opened #961 "[Feature] Add Arm64 binary release support"
Could you add release `arm64` arch binary file ？

thank you

[2021-01-29 01:53] Cweiping commented on #942
Nice. At the same time, the suggestions are uploaded to the [helm hub](https://hub.helm.sh/).

[2021-01-29 02:13] Cweiping commented on #751
1. Add [storage common interface](https://github.com/oam-dev/kubevela/blob/master/pkg/appfile/storage.go)
2. Support storage type configuration, use the environment variable of `STORAGE_DRIVER` and `--storage-driver` flags to modify the storage type and use `Local` by default. [Reference code](https://github.com/oam-dev/kubevela/tree/master/pkg/appfile/driver).Example: `Local` or `ConfigMap`

[2021-01-29 02:14] wonderflow opened #964 "delete health scope when app was deleted"
Currently, we will create a default health scope for every app created by vela cli. But we don't delete it in `vela delete` command, so there will be lots of no used health scope CR instance, we need to clean them.

1. check the health scope after `vela delete ` command.
2. when there's no working app in the health scope, delete it.

[2021-01-29 03:18] #718 closed

[2021-01-29 03:31] wonderflow opened #966 "Capability without Reference name can not be installed from cap center"
Capability without Reference name can not be installed from cap center , I found it in the CI failure.

[code]

we can reproduce it from add a capability in cap-center. https://github.com/oam-dev/catalog/tree/master/registry

[2021-01-29 03:36] wonderflow commented on #966
fixed by #965

[2021-01-29 03:36] #966 closed

[2021-01-29 04:07] wonderflow commented on #961
sure, was `linux/arm64` enough?

[2021-01-29 04:19] resouer opened #968 "[Feature] Following Istio labels in abstraction rendering"
Since we want to support Istio based traffic management in [AppDeployment](https://github.com/oam-dev/kubevela/pull/963), we need to follow the Istio practice in abstraction engine. In detail, Istio use `app: foo` as the label for app name and `version: x` for app revision, it means:

For a given web service component named `helloworld`, besides the per-revision `Service` and `Deployment`, vela al

[2021-01-29 04:25] wonderflow commented on #961
please help to try, don't care about the version, I randomly tag it, it follows the master branch now. https://github.com/wonderflow/kubevela/releases/tag/v0.1.16

[2021-01-29 04:39] #903 closed

[2021-01-29 05:30] wonderflow opened #969 "vela init should only create scarfold and don't run directly"
Currently, `vela init` will deploy the app, we should let the deploy action be done by `vela up`.

So just create the scaffold appfile.yaml, and let the user know they can add traits and finally run `vela up` to deploy application.

[2021-01-29 05:48] #644 closed

[2021-01-29 06:01] TomorJM commented on #964
/assign

[2021-01-29 06:03] wonderflow opened #970 "keep reconciling when application deployed but don't force override user's change"
Now we don't keep reconciling when application was deployed. The AC and Component will. And it will use clientside 3-way-merge patch to update the resource.

There's a case that we should consider:

When user want to change a field temporarily, for some emergency fix, the AC or application controller should detect this change a report an error instead of override it.

[2021-01-29 07:01] wonderflow commented on #865
We have merged 3-way-merge patch now, this is not correct any more.

[2021-01-29 07:02] wonderflow commented on #865
I mark this issue as `wontfix`, the appconfig controller should not change the fields managed by others.

[2021-01-29 07:22] wonderflow commented on #795
Yes, the idea is interesting, we can easily contribute vela as a tilt-extension. But it's hard to show what's the value of kubevela if users are already using tilt.

vela and tilt are very similar in deveper interface. If user uses tiltfile, they won't want to learn appfile. If we give up appfile and directly use tiltfile, It's hard to show using vela is better than using K8s. The complexity of K8

[2021-01-29 07:23] wonderflow commented on #795
Let's hold until we have more Capability such as rolling update with traffic management.

[2021-01-29 07:29] wonderflow commented on #870
Good idea! The blocker doesn't exist cause we are going to change cluster scoped Traitdefinition/WorkloadDefinition into namspace scoped  #918 .

[2021-01-29 07:34] joscha-alisch commented on #959
Ah thanks for that @resouer , that looks like the better approach :+1:

[2021-01-29 07:34] #959 closed

[2021-01-29 07:47] wonderflow commented on #840
You should apply the WorkloadDefinition for containerizedworkload.

[code]

[2021-01-29 08:04] wonderflow commented on #576
close we are deprecating the comand `vela install`

[2021-01-29 08:04] #576 closed

[2021-01-29 08:05] #672 closed

[2021-01-29 08:05] wonderflow commented on #672
it's added

[2021-01-29 08:07] wonderflow commented on #588
will we still have this issue? And how will we use raw cue file in K8s?

[2021-01-29 08:08] #552 closed

[2021-01-29 08:09] #537 closed

[2021-01-29 08:12] wonderflow commented on #468
it was done now

[2021-01-29 08:12] #468 closed

[2021-01-29 08:13] wonderflow commented on #358
@Cweiping  can you help fix this issue?

[2021-01-29 08:24] Cweiping commented on #358
OK.
/assign

[2021-01-29 08:28] #840 closed

[2021-01-29 08:43] wonderflow commented on #358
@Cweiping I'm sorry, we should fix #176 instead of this one. Closing it, do not delete namespace when delete a env is by design.

[2021-01-29 08:43] #358 closed

[2021-01-29 08:44] wonderflow commented on #176
@Cweiping  please create a CRD ( apiVersion=core.oam.dev/v1apha2  kind=Env) to implement our current env.

[2021-01-29 09:15] Cweiping commented on #176
OK.
/assign

[2021-01-29 10:15] wonderflow commented on #950
#958

[2021-01-29 10:15] #950 closed

[2021-01-29 19:29] ryanzhang-oss commented on #950
We need to add that to the make file too so users can check that locally

[2021-01-29 23:03] resouer commented on #970
Note that https://kubernetes.io/docs/reference/using-api/server-side-apply/ could be helpful for this issue, but it's not stable yet and require very latest k8s version.

[2021-01-30 01:39] wonderflow commented on #950
@ryanzhang-oss  It's added:

[code]

[2021-01-30 08:06] hongchaodeng commented on #588
@wonderflow
- This issue still exists. First and foremost, if we want users to write the definition file, it is by no means a correct and safe solution.
- However, if users don't write definition files, but this is just the way we store the data in k8s CR, then it is totally fine. I think this is the direction that the catalog package format heads towards. For example, the template and other schem

[2021-01-30 08:11] wonderflow commented on #588
I like this idea, cool!

[2021-02-01 02:31] zzxwill commented on #176
@hongchaodeng Are we planning to implement it by database in the API Server design?

[2021-02-01 02:42] wonderflow opened #976 "Upgrade template out from extension of Definition Spec"
Before：

[code]

After:

[code]

[2021-02-01 03:06] wonderflow opened #977 "add kubevela helm repo to artifacthub.io"
Now, we have our hub https://kubevelacharts.oss-cn-hangzhou.aliyuncs.com/core [registered](https://artifacthub.io/packages/helm/kubevela/vela-core) with repo ID (omitted) into https://artifacthub.io/ .

But it's not enough, we need:

1. add readme to that hub repo.
2. verify to be labeled as Verified Publisher .

3. add helm badge into readme `[![Artifact HUB](https://img.shields.io/endpoint?url=h

[2021-02-01 03:23] wonderflow opened #978 "mark `vela install` as deprecated"
the `cobra` has a deprecate flag, we should add a message to say:

And refactor all related message to use `helm install` instead:

![image](https://user-images.githubusercontent.com/2173670/106411302-e7f2b800-647f-11eb-95a2-8b70f9fd9440.png)

part of #942

[2021-02-01 03:28] wonderflow opened #979 "fix wrong chart name from `oam-kubernetes-runtime` to `kubevela`"
1. https://github.com/oam-dev/kubevela/blob/0e987a08b65c2ae51581872263b388c0762f90df/pkg/commands/system.go#L97
2. https://github.com/oam-dev/kubevela/blob/0e987a08b65c2ae51581872263b388c0762f90df/pkg/commands/system.go#L285

[2021-02-01 04:26] jchalex opened #980 "demo Error: applicationconfigurations.core.oam.dev "first-vela-app" not found"
$ vela status first-vela-app
About:

  Name:      	first-vela-app
  Namespace: 	default
  Created at:	2021-02-01 12:10:23.56777251 +0800 HKT
  Updated at:	2021-02-01 12:10:23.567772602 +0800 HKT

Services:

Error: applicationconfigurations.core.oam.dev "first-vela-app" not found

other info:
$ vela ls
SERVICE       	APP           	TYPE      	TRAITS 	STATUS 	CREATED-TIME
testsvc       	first-vela-a

[2021-02-01 04:42] wonderflow commented on #980
It seems your vela-core was not running? Make sure you have cert-manager

[2021-02-01 06:00] wonderflow commented on #980
https://github.com/oam-dev/kubevela/pull/981 I found we build the chart with wrong image tag, and we have created a new release to fix it, please help try the new one. https://github.com/oam-dev/kubevela/releases/tag/v0.3.2

[2021-02-01 06:38] jchalex commented on #980
same error

$ vela version
Version: refs/tags/v0.3.2
GitRevision: git-18f184d
GolangVersion: go1.14.14

$ vela up -f https://raw.githubusercontent.com/oam-dev/kubevela/master/docs/examples/vela.yaml
Parsing vela appfile ...
Load Template ...

Rendering configs for service (testsvc)...
Writing deploy config to (.vela/deploy.yaml)

Applying application ...
Checking if app has been deployed...
App ex

[2021-02-01 06:52] wonderflow commented on #980
@jchalex  can you print log of the pod? do you install cert-manager?

[2021-02-01 07:00] jchalex commented on #980
$ kubectl get pods --namespace vela-system
NAME                                  READY   STATUS    RESTARTS   AGE
kubevela-vela-core-6785bc9c79-rtsnx   0/1     Running   0          46s

$ kubectl get pods --namespace cert-manager
NAME                                      READY   STATUS    RESTARTS   AGE
cert-manager-5597cff495-sh8d7             1/1     Running   0          10m
cert-manager-cainjec

[2021-02-01 07:13] jchalex commented on #980
Now is ok, but just vela status so many times.

$ vela status first-vela-app
About:

  Name:      	first-vela-app
  Namespace: 	default
  Created at:	2021-02-01 14:59:54.320069323 +0800 HKT
  Updated at:	2021-02-01 14:59:54.320069434 +0800 HKT

Services:

  - Name: testsvc
    Type: webservice
    HEALTHY Ready:1/1
    Traits:
      - ✅ ingress: domain=testsvc.example.com
		http=map[/:8000]

[2021-02-01 07:13] #980 closed

[2021-02-01 09:05] zzxwill opened #984 ""vela show" does't generate complete cli reference for trait "env""
Applying TraitDefinition `env` https://github.com/oam-dev/catalog/blob/master/registry/podenv.yaml, run `vela show env` and it didn't generate list type env parameter.

![image](https://user-images.githubusercontent.com/2805315/106436964-b5f94a00-64af-11eb-93eb-205e8a630551.png)

/cc @wonderflow

[2021-02-01 09:42] wonderflow commented on #980
@jchalex  yes, we're fixing `vela status`

[2021-02-01 12:12] 96RadhikaJadhav commented on #979
@wonderflow Can I work on the issue?

[2021-02-02 01:56] wonderflow commented on #979
@96RadhikaJadhav  sure, assigned

[2021-02-02 02:37] wonderflow commented on #877
@LeoLiuYan @captainroy-hy Hi，any progress on this issue？

[2021-02-02 02:50] wonderflow commented on #299
This is the application deployment we are working on: https://github.com/oam-dev/kubevela/blob/master/design/vela-core/rollout-design.md

[2021-02-02 06:37] wangkai1994 commented on #978
/assign

[2021-02-02 07:37] #977 closed

[2021-02-02 07:52] hongchaodeng opened #987 "Roadmap of Rewriting The Vela Control Plane"
# Background

We are trying to rewrite the APIServer based on [the new design](https://github.com/oam-dev/kubevela/blob/master/design/vela-core/APIServer-Catalog.md).

Why rewrite?
1. Currently part of the data is stored in local storage (e.g. env, staged apps, etc.). We should store them in a more persistent storage like a database. What about storing them as Custom Resources (CR)? First, CR migh

[2021-02-02 07:54] hongchaodeng commented on #987
cc @wonderflow @resouer @zzxwill @majian159 @sunny0826

[2021-02-02 08:19] Cweiping commented on #176
I think about two ways to achieve it.

1. use an Env object:
[code]
2. use envList:
[code]
I prefer to use 2, which is easier to expand. What do you think?

[2021-02-02 08:23] joscha-alisch opened #988 "Multiple outputs in workload definition lead to "TraitDefinition AuxiliaryWorkload not found""
**Describe the bug**
When creating a workload definition with multiple outputs as supported by #937 and uploading an app with that workload type, the kubevela controller fails creating that app with the error message
[code]

**To Reproduce**
1. Create a workload definition with multiple outputs, for example:
[code]
`kubectl apply -f multiple.yaml`

2. Create an app that references this workload:
[

[2021-02-02 08:43] captainroy-hy commented on #988
Hi @joscha-alisch it's related to issue #919. I'm going to fix it.
Webhook should not fail if the traitdefinition is not found.

[2021-02-02 08:47] captainroy-hy commented on #988
Currently, a possible workaround is disabling the webhook, you can follow [this doc ](https://github.com/oam-dev/kubevela/blob/master/docs/en/install.md#2-install-kubevela-controller)to setup vela without webhook enabled.

[2021-02-02 08:50] joscha-alisch commented on #988
Thanks @captainroy-hy, we moved the service into a trait definition which is also fine as a workaround for now.

[2021-02-02 08:55] Cweiping commented on #987
According to [its](https://github.com/oam-dev/kubevela/issues/751#issuecomment-741544904) plan, it will support multiple types of storage, including `Local` and `MySQL`. According to this architecture, I think storage should also have subprojects and a general Grpc interface.

Then, what type of DB source do we support? `MySQL` or `mongodb`.

[2021-02-02 08:58] wangkai1994 commented on #978
@wonderflow done

[2021-02-02 09:42] #979 closed

[2021-02-02 09:45] wonderflow commented on #176
@Cweiping yes,the second is better, you could try to implement it.

[2021-02-02 09:47] wonderflow commented on #176
BTW, the Env CRD MUST be clusterscope resource

[2021-02-02 09:50] wonderflow commented on #918
This issue is also related with #176

After Env become a CRD, the env may contain a namespace and the workloadDefinition/traitDefinition list.

The system level workload/trait is actually in a system ENV that can be used by default.

[2021-02-02 09:53] wonderflow commented on #870
Now we are making env as a CRD #176 #160

After that, we should implement  #918 and let the env explain which Capability the user can use.

[2021-02-02 09:54] wonderflow commented on #160
closing this, let's focus on #176

Env can be easily used as scope after we implemented it as CRD

[2021-02-02 09:54] #160 closed

[2021-02-02 09:57] wonderflow commented on #978
@wonderflow You should fix all these places included in my screenshot

[2021-02-02 10:38] wangkai1994 commented on #978
@wonderflow Thanks , should replace `bin/vela install` to `helm install -n vela-system kubevela charts/vela-core
` in README.md ? OR do nothing in README.md

[2021-02-02 10:41] wonderflow commented on #978
@wangkai1994  don't change the readme file in demo, thanks

[2021-02-02 10:57] wangkai1994 commented on #978
ok,done

[2021-02-02 11:18] LeoLiuYan commented on #987
Should `cli` and `ui` all talk to `grpc gateway`?

[2021-02-02 16:34] hongchaodeng commented on #987
@Cweiping https://github.com/oam-dev/kubevela/issues/751 is more about changing the storage interface on the client side. The DB referred to here are for the server side.

We will implement mongodb backend first.
But there is a generic interface and contributions of other storage backends are welcome

[2021-02-02 16:36] hongchaodeng commented on #987
@LeoLiuYan
grpc gateway is for exposing RESTful services. If CLI talk to grpc gateway it will only complicate things.

velacp will be released in vela 1.0 . We will merge it back to this repo once the new design is implemented.

[2021-02-02 23:24] wonderflow opened #992 "kubevela controller should always go the control loop"
We always go the control loop, in detail:
1. C/AC are **immutable** objects, i.e. they cannot be modified  by human (should ensure this in admission). So vela should at least reconcile delete events of these immutable objects (in case they were deleted accidently).
2. C/AC controller will track and reconcile underlying resources are up-to-date by control loop, unless the admin chose to disable thi

[2021-02-03 01:58] #919 closed

[2021-02-03 01:58] #988 closed

[2021-02-03 01:58] captainroy-hy commented on #988
fixed in #991

[2021-02-03 02:57] zzxwill opened #993 "Legacy chart CRD could not be applied to old Kubernetes clusters, like 1.15.12"
[code]

[2021-02-03 03:56] jchalex opened #996 "vela svc not found"
https://kubevela.io/#/en/developers/port-forward

![image](https://user-images.githubusercontent.com/11224001/106695904-8a44a400-6616-11eb-8b91-7124a37aca9f.png)

but

![image](https://user-images.githubusercontent.com/11224001/106696061-d7c11100-6616-11eb-8ae3-34913ad28207.png)

[2021-02-03 04:22] wonderflow commented on #996
thanks for reporting, will fix it. You can use `vela ls` instead of `vela svc ls`.

[2021-02-03 06:27] #528 closed

[2021-02-03 06:47] wonderflow opened #997 "add `vela workloads` to sync Capability from cluster in installation guide"
https://kubevela.io/#/en/install

![image](https://user-images.githubusercontent.com/2173670/106708967-b4a25b80-662e-11eb-9b2f-82cecc926a85.png)

[2021-02-03 06:53] wonderflow commented on #907
@captainroy-hy  please help check do we miss anything in this issue? Can we close it now?

[2021-02-03 07:07] jchalex commented on #996
ok, thanks

[2021-02-03 07:45] captainroy-hy opened #998 "trait capability without definitionRef cannot be synced locally"
**Describe the bug**

`vela cap cent sync <center>` cannot sync trait capabilities that have no `definitionRef` into local.

**To Reproduce**

- remove local cap center(`https://github.com/oam-dev/catalog/tree/master/registry`) if added before
- add cap center again `vela cap center config catalog https://github.com/oam-dev/catalog/tree/master/registry`
- sync cap `vela cap center sync catalog`
-

[2021-02-03 08:14] #978 closed

[2021-02-03 08:21] #942 closed

[2021-02-03 11:47] #998 closed

[2021-02-03 17:03] 96RadhikaJadhav commented on #997
@wonderflow Can I work on the issue?

[2021-02-04 00:50] wonderflow commented on #997
@96RadhikaJadhav  sure, please also print the output of that command in the doc, thanks!

[2021-02-04 03:42] shikanon opened #1010 "Can't up Appfile for my workload"
**Describe the bug**

I write a `workloaddefinitions` like this:
[code]
and My Appfile is this:
[code]

I am up Appfile, it is Error.

I check this application for command:
[code]

this `test-mpserver-application.yaml` is:
[code]

I try to run the cue to check this template, and it is work:
[code]

run and output:
[code]

**Cluster information**

[code]

[code]

**Additional context**

[2021-02-04 04:38] captainroy-hy commented on #1010
In workload definition cue template, at least one "output" is required. It seems your workload def has only "outputs". [This example doc ](https://github.com/oam-dev/kubevela/blob/dc8358f910ab13fa95955589ba5d59d396d80f32/docs/examples/advanced-cue/webserver.yaml#L12)may help.

But it's surely a problem that cmd doesn't give helpful info when cmd failed.

[2021-02-04 05:16] wonderflow opened #1011 "appConfig can not be deleted by controller if health scope is not found"
**Is your feature request related to a problem? Please describe.**

[code]

[code]

**Describe the solution you'd like**

If finilizer is there but health scope is not found, we should delete the finalizer and let the appConfig be deleted.

[2021-02-04 05:17] 96RadhikaJadhav commented on #997
@wonderflow  Please check if this is fine or need to add anything else?

![image](https://user-images.githubusercontent.com/56536997/106848094-42855180-66d6-11eb-9c6e-d6149943187f.png)

[2021-02-04 06:07] wonderflow commented on #997
@96RadhikaJadhav Can you print the output of the command `vela workloads`?

[2021-02-04 06:08] shikanon commented on #1010
thx, It is okay for this fix. But why the `trait` can use "outputs" instead of "output", like [advanced-cue](https://github.com/oam-dev/kubevela/blob/master/docs/en/platform-engineers/advanced-cue.md), this different styles of design can be confusing

[2021-02-04 06:15] #993 closed

[2021-02-04 08:24] captainroy-hy commented on #1010
as it's already discussed, just close it now. Pls feel free to reopen it if necessary.

[2021-02-04 08:24] #1010 closed

[2021-02-04 12:22] #885 closed

[2021-02-04 14:55] joscha-alisch commented on #988
Thanks @captainroy-hy , we can confirm that this works now :+1:

[2021-02-04 15:33] wonderflow commented on #845
we will not fix this issue, instead, `vela env` should update the Env CRD instead of local data. #999

ping @Cweiping

[2021-02-05 00:09] wonderflow commented on #984
The type of  env  is a map, I doubt there's some bug that basic format was not displayed.

[2021-02-05 00:35] wonderflow opened #1018 "[Feature] Add revision mechanism for Application"
**Is your feature request related to a problem? Please describe.**

`Application CRD` is a mutable object that represents an app, when users try upgrade their app, they change the `Application Object`, the missing part is the revision which record the snapshot of every change.

Without a revision, we can hardly do rolling update.

**Describe the solution you'd like**

In our architecture, the Appl

[2021-02-05 00:43] wonderflow commented on #951
more detail design https://github.com/oam-dev/kubevela/issues/1018

[2021-02-05 00:48] ryanzhang-oss commented on #1018
Good start, I have a few questions

1. There is a "name" in the component in the application. How does that work with the name in the workloadDefinition?
2. Does this mechanism also work with trait?  There is also a "name" field in the traits part of a "component" in an application. How does that work?

[2021-02-05 01:06] resouer opened #1019 "[Feature] Missing parts in catalog design"
We have a neat catalog design in https://github.com/oam-dev/kubevela/blob/master/design/vela-core/APIServer-Catalog.md (https://github.com/oam-dev/kubevela/pull/881) and the experimental implementation is on going.

At the meantime, there are several issues not covered yet in the existing doc per discussed with @hongchaodeng , specifically:

1. How to install the system modules on target cluster?

[2021-02-05 04:14] shikanon opened #1022 "creat workload with outputs raise error: TraitDefinition.core.oam.dev "AuxiliaryWorkload" not found"
**Describe the bug**

I create a workload have `outputs`, when I use `vela system dry-run` to exports applications, and kubectl apply it, It raise up error of TraitDefinition.core.oam.dev "AuxiliaryWorkload" not found.

**To Reproduce**

I have a workloads like this:
[code]

about `outputs` usage like [workload multi output example](https://github.com/oam-dev/kubevela/blob/dc8358f910ab13fa95955589

[2021-02-05 04:17] shikanon commented on #1022
请问有 outputs 在 workload 里面的 applicationconfiguration 的example吗，我用vela system dry-run 会生成一个 AuxiliaryWorkload 的type类型，apply之后会报错"Error from server (cannot get trait definition in component "test-newwebserver": TraitDefinition.core.oam.dev "AuxiliaryWorkload" not found)"

[2021-02-05 04:17] wonderflow commented on #1018
For 1, let's assume:

- the name in the component in the application is `myweb`
- the name of application is `myapp`
- the revision is `v1`

then in the context, it will be:

* context.name = myweb
* context.appName = myapp
* context.revision = v1

context is component oreinted.

For 2, yes, this also works for trait. The `name` field in the traits part of a "component"  is the type of the trait.

[2021-02-05 04:19] wonderflow commented on #1022
dup with #988

[2021-02-05 05:30] #1022 closed

[2021-02-05 07:01] wonderflow commented on #949
closing as it does not seems to be an issue of kubevela

[2021-02-05 07:01] #949 closed

[2021-02-05 08:55] wonderflow opened #1023 "only outputs allowed in trait template"
**Is your feature request related to a problem? Please describe.**

Now we have supported output in CUE template for both workload and trait definition. While the output and outputs in trait definition can be the same, it's confusing.

For example, in this case, the `output` will create a `Service` object, while the `outputs` will create a `Ingress`. They are almost the same, but with different `k

[2021-02-05 09:06] shikanon opened #1025 "[Feature] about trait load parameter of workload"
**Is your feature request related to a problem? Please describe.**

I write a server workload `mpserver` which has a field of `port` ,and write a trait of istio virtualservices which also need to set `port` from the workload.

A workload example like this:
[code]
In this workload, we have a parameter of the `port` field.
In traits, I am also need to need a same ports:
[code]

if make like this, th

[2021-02-05 09:14] wonderflow opened #1026 "[Feature] support simple data passing from workload to trait"
**Is your feature request related to a problem? Please describe.**

When a workload created by cue template, some of the parameters can be re-used in trait, we should not define it multiple times.

Below is an example, that the trait will rely on the workload output and outputs to fill themself.

1. the main workload object(Deployment) in this example will render into the `context.output` before r

[2021-02-05 09:18] wonderflow commented on #1025
I have also write a proposal, I think it's more general and can cover this issue , please refer to #1026

[2021-02-05 10:25] shikanon commented on #1026
good, expect!

[2021-02-05 10:27] shikanon commented on #1026
@wonderflow
But when I want parameter , how i get it? use `context.parameter ` ?

[2021-02-05 10:31] shikanon commented on #1025
@wonderflow this issue #1026 only provide output from workload to trait, but the `parameter` cannot load from workload

[2021-02-05 10:42] LeoLiuYan commented on #1026
@shikanon
Use `paramter.*` when in WorkloadDefinition's outputs,  should use `context.outputs.*` or `context.output.*`  in TraitDefinition.

[2021-02-05 10:48] wonderflow commented on #1026
@LeoLiuYan Yes, that's it in the current design.

@shikanon  context.parameter  is too confusing, both trait and workload have parameters

[2021-02-05 10:50] wonderflow commented on #1025
The parameter will be rendered into the workload output.

[2021-02-05 10:56] shikanon commented on #1026
Why not to use `context.workload.<xx>` ? And workload is only one running entry, and don't worry about multi workload.

[2021-02-05 12:19] #166 closed

[2021-02-05 12:44] #1025 closed

[2021-02-06 12:49] WangYikewyk opened #1028 "vela cap install error message is wrong"
When use “cap install” install an capability that doesn't exist , the error message is wrong

![image](https://user-images.githubusercontent.com/77846369/107118548-aa958c80-68bc-11eb-9b80-b63bac20a299.png)

[2021-02-06 13:41] WangYikewyk opened #1029 ""vela traits" will make installed traits become “uninstalled”"
I‘m not sure whether this is a bug.  After run "vela traits" my  installed capabilities become “uninstalled”
vela version:0.3.2
kubernetes cluster version:1.19.1
![image](https://user-images.githubusercontent.com/77846369/107119506-fea36f80-68c2-11eb-8c5e-d4bc860ed720.png)
It's seem to be "vela traits" refresh local trait info, and make source info lost.
Before:
![image](https://user-images.github

[2021-02-07 01:18] wonderflow commented on #1028
Yes, the command was changed and we forgot to fix this line https://github.com/oam-dev/kubevela/blob/master/pkg/serverlib/capability.go#L194

[2021-02-07 01:22] wonderflow commented on #1029
Yes, I think it's a bug that we didn't record the reource in the definition Object in the K8s cluster, so when `vela traits` synced from cluster, it will update local capability which will cover the local config and the `source` field missed.

Maybe a quick fix is to record the source info into the extension field of definition and sync into K8s cluster.

[2021-02-07 03:49] WangYikewyk commented on #1029
Noted. By doing this could solve this problem indeed. But I found that the cap center is a local concept,It's means that every member's repo name maybe different. I thought it's not  perfect idea to  syncing the source info into workload/trait definition CR.

[2021-02-07 04:07] WangYikewyk commented on #1029
I will fix this bug by adding source field in trait definition CR.Maybe in the future can we design something like "cap center CRD" to solve this problem? : )

[2021-02-07 04:18] wonderflow commented on #1029
@WangYikewyk Yes, my suggestion is a quick fix, not long term, and it just use the extension field.

[2021-02-07 05:42] wonderflow opened #1030 "[code refactor] move cli/apiserver/dashboard related code from `pkg/` into `referrence/` folder"
**Is your feature request related to a problem? Please describe.**

We're going to [release 1.0](https://github.com/oam-dev/kubevela/issues/932) soon. KubeVela 1.0 will mainly focus on platform builder, and core features are all platform builder centric, you can refer to  https://github.com/oam-dev/kubevela/issues/922 for high level concept. At that time, these core features will be in GA status.

[2021-02-07 06:07] wonderflow commented on #804
fixed by #838

[2021-02-07 06:07] #804 closed

[2021-02-07 06:48] wangkai1994 commented on #1028
/assign
i can try to fix it while familiaring with vela

[2021-02-07 09:30] #1028 closed

[2021-02-07 09:50] wonderflow opened #1035 "prometheus and certmanager crd should be removed"
kubevela chart will install cert-manager CRD by default, which is redundant.

We still conflict with the cluster which has the existing cert-manager CRD installed.

This PR #1005 has tried some solution, we should continue solving it.

There are some possible solutions:

1. add `installCertmanager` flag around CRD, if disabled, don't install it.
2. maintain a new cert-manager chart , and remove th

[2021-02-07 11:27] WangYikewyk commented on #189
Fixed already.reopen if still exist.

[2021-02-07 11:27] #189 closed

[2021-02-07 11:31] #1029 closed

[2021-02-08 01:58] #915 closed

[2021-02-08 06:05] WangYikewyk commented on #984
The problem happen in https://github.com/oam-dev/kubevela/blob/da523678977f630465b16d502231cf092345aee8/pkg/plugins/references.go#L300.
This is a general bug for  map struct ,eg(map[string]string , map[int]string....),this kind of struct doesn't have any field, so the "arguments.Len()" = 0.I thought we can add a func handle this situation.

[2021-02-08 07:33] CLXi opened #1038 "Add format check for Definition"
**Is your feature request related to a problem? Please describe.**

When I submitted a wrong Definition file to k8s, I found that vela does not verify the syntax of the file and whether the type parameters are correct.

**Describe the solution you'd like**

Vela needs to ensure that the basic syntax of the Definition submitted by the user is correct, and verify the type of input parameters.
Finall

[2021-02-08 07:35] zzxwill opened #1039 "[Feature][Dashboard] Application creation"
- create application creation UI
  definition get API --> OpenAPI schema --> workload type/trait form (design: https://docs.google.com/document/d/1zFIfYtrL_Ce3-35o3HpIuqSPj61QQeg_t71gpfi7ZX0)

- submit form to create applications with services and traits.

[2021-02-08 08:58] sunny0826 opened #1043 "[Dashboard]update kubevela logo"
Upload `logo.svg` to OSS and update the [`dashboard/config/defaultSettings.ts`](https://github.com/oam-dev/kubevela/blob/da523678977f630465b16d502231cf092345aee8/dashboard/config/defaultSettings.ts#L18) file

[2021-02-08 14:33] #984 closed

[2021-02-08 14:39] #907 closed

[2021-02-08 14:42] wonderflow commented on #905
fixed by #1027

[2021-02-08 14:42] #905 closed

[2021-02-09 09:16] LeoLiuYan opened #1048 "[Feature] Add ApplicationTemplate for multi-cluster deployment"
**Is your feature request related to a problem? Please describe.**
When we use vela to deploy application in multi environments, like `QA`,`PRE`,`PROD`, there is no GVK to describe it.

**Describe the solution you'd like**
The `ApplicationTemplateDefinition` and `ApplicationTemplate` design below.

1.  ApplicationTemplateDefinition

    The `ApplicationTemplateDefinition` to generate `ApplicationT

[2021-02-09 14:11] #134 closed

[2021-02-09 17:53] hongchaodeng commented on #1048
AFAICT, this is about having  application CR templates and have different CR configurations in different environments, right?

If so, first of all, we probably should NOT describe it as a CRD for the following reasons:
- The multi-environment application management is being handled in [velacp](https://github.com/oam-dev/velacp). This scope should be covered there. If so it is RESTful API that woul

[2021-02-09 19:18] resouer commented on #1019
4. How to set values for the system modules? An example is:
[code]

[2021-02-09 19:26] resouer commented on #1019
5. What happens if the platform team make change to system modules in catalog? How vela control plane sync the change to target clusters? Should we enable GitOps?

[2021-02-09 20:02] resouer commented on #1048
@hongchaodeng In this issue, we will focus on designing the model of `ApplicationTemplate` instead of implementation detail (i.e. CRD controller or not). Any spec is essentially plain JSON data so it should not be a concern at all.

Also, the current scope of `velacp` is heavily focusing on system modules distribution with many issues to address (https://github.com/oam-dev/kubevela/issues/1019) fo

[2021-02-09 20:28] resouer commented on #1048
@LeoLiuYan Thank you for bringing this up!

I think the direction is more like a template to generate `Application`, think about last mile patch for Helm chart `.values` but works on server side.

It's very easy to templating a given `Application`, for example:
[code]

The issue here is where should the per environment/cluster values (i.e. `clusterName`) come from? In ArgoCD there's concept named

[2021-02-10 00:05] ryanzhang-oss commented on #1023
what would a "context.outputs.xxx" refer to when there are multiple xxx in different workloadDefinition/traitDefinitions?

[2021-02-10 00:21] ryanzhang-oss commented on #1018
reconcile logic can not detect this type of changes for two reasons
1. it is level triggered instead of edge triggered
2. the definition can change behind the back of the application CR.

[2021-02-10 01:09] ryanzhang-oss commented on #1018
Also, the current implementation uses comp.name as the generated component name and the component name in the AC. This needs to change

[2021-02-10 01:43] captainroy-hy commented on #865
Agreed!  Closed since current appconfig already works as expected.

[2021-02-10 01:43] #865 closed

[2021-02-10 02:49] LeoLiuYan commented on #1048
@hongchaodeng

You are right, `velacp` could cover solutions of the following issues:

1.  `ApplicationTemplate` management
2.  Render `ApplicationTemplate` to generate `Application` object of server side
3.  Deploy `Application` to difference environments and difference clusters

But, think those cases:

1.  Users want to build their own `Controller Plane` but use `velacp`
2.  Users have a `deplo

[2021-02-10 03:45] LeoLiuYan commented on #1048
@resouer

`ApplicationTemplate` also should have versions.

To make it clear, use a picture to describe:
![image](https://user-images.githubusercontent.com/5344039/107461504-1ade2f80-6b95-11eb-8ba9-39f332da769b.png)

For example, in `ApplicationTemplate` version1 only have one component called `instance`,
then we deploy it to cluster `qa-cluster1` of `QA environment`, and  `prod-cluster1`,`prod-cl

[2021-02-10 07:40] ryanzhang-oss commented on #1048
This process sounds very much like an application "revision" management process instead of a "template".  It seems that you are looking for a way to deploy a certain "version" of an application. I am not sure if you are trying to achieve more than that in your issue.

[2021-02-10 09:03] WangYikewyk commented on #918
Several questions for the steps:
1.For step 2, It seems to be vela cli and api-server also need to know which namespace is admin specified system-namespace? So can we use a k8s configMap to store the info?
2.Also for step 2,I don't understand how do we support DEFINITION_NAMESPACE env, because I can't find it in our code. maybe you mean second platform use this env to solve this supporting namespa

[2021-02-10 20:31] resouer commented on #976
I think we take out `parameters` in the future as well.

[2021-02-10 21:22] vnzongzna opened #1053 "Failed to create application with "vela up""
**Describe the bug**

When creating the application with `vela up` command to create an application it fails while `kubectl apply -f`creates the application & run it successfully
**To Reproduce**

[code]
**Expected behavior**

Successfully create & run the application

**Screenshots**

[code]
**Cluster information**

[code]
**Additional context**

[code]

[2021-02-11 01:20] #1011 closed

[2021-02-11 01:23] wonderflow commented on #1023
@ryanzhang-oss in this case, the xxx should be unique, do you have better suggestion

[2021-02-11 02:30] Cweiping commented on #845
/assign

[2021-02-11 03:13] resouer opened #1054 "[Feature] Quick Start for App CRD"
Since now we've have App CRD online, we should replace the existing Quick Start guide with App CRD. The existing one will be moved to End User docs.

And all End User docs will finally be replaced by new vela control plane doc.

[2021-02-11 03:51] resouer commented on #1048
@ryanzhang-oss I offline talked with LeoLiuYan, he is definitely talking about application template, but he also has an extra requirement that the template could be partially different for different environments, so it's app template + kustomization. That's why he introduced a `definition` for template, it's basically a template for template.

[2021-02-12 11:17] vnzongzna commented on #997
@wonderflow can you assign this issue to me?

[2021-02-14 01:45] wonderflow commented on #976
@resouer  helm , terraform and json-schema can have  new field with template, for example:

[code]

[2021-02-14 06:18] resouer commented on #976
@wonderflow it doesn't make sense to me ... what is the type of template field then?

Also, cue, helm chart, terraform etc are modules rather than templates. It's a good timing to fix this name.

[2021-02-16 08:12] hprotzek opened #1056 "[Feature] json logs support"
We are running kubela in GKE and using stackdriver. Currently the logs are are mix from plain strings and json objects. e.g.
[code]
In case of errors its very hard to find these in the log stream, as the actual log message didn't get parsed properly. Same goes for ELK without any special logstash filter logic.

If kubevela would use a logging library that support json formatted log output, e.g [lo

[2021-02-16 08:17] ryanzhang-oss commented on #1056
I am exploring using the klog/v2 which will print out structured loggings.  We will move the entire project towards that if it proves to be useful after ingesting by ELK type of logging system.

I wonder if you can explain a bit what "json logs" really means?

[2021-02-16 08:53] hprotzek commented on #1056
Right now we have logs like this:
[code]

this log message as json log format would something look like this:
[code]

With this json log formated message stackdriver or also ELK can just parse the json message and create index fields of all json keys without additional config. We use logrus in other projects and there you can just switch the log formatter from text to json. So using text for local

[2021-02-16 09:05] hprotzek opened #1057 "[Feature] Improve debugging"
RIght now the debug objects are just printed out like this:
[code]

During the development of our traits it was really hard, to find the cause of errors. I guess it would help, to properly render these objects and decode the raw extension?

https://github.com/kubernetes/apimachinery/issues/102

[2021-02-16 17:11] resouer commented on #864
Draft design idea (impl is based on Helm operator from Flux):

[code]

[code]

[2021-02-16 19:33] ryanzhang-oss commented on #1056
Hi, Holger,

Here are the steps we are thinking of doing

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md

I wonder if that works for you guys?  Does stackdriver or ELK take only Json format?

[2021-02-17 03:54] ryanzhang-oss commented on #964
any update here?

[2021-02-17 03:57] ryanzhang-oss opened #1059 "Replace Vela up in the github CI"
**Describe the bug**

`vela up` is being deprecated but we are still using it to setup e2e test in CI.

**To Reproduce**

**Expected behavior**
Use `helm install` instead as recommended in our documents.

**Additional context**
Currently, the e2e/setup test suite is empty and we somehow relies on it in the e2e test setup to make sure the setup is correct.  We need to add some setup tests.

[2021-02-17 04:11] ryanzhang-oss opened #1060 "Define the correct controller readiness and healthy response"
**Describe the bug**
Currently, we are using the same ping method to establish the health and readiness of our controller which is not the ideal way for any production workload.  Besides, the `Ping` method seems to always return true.

We need to follow the best practice of the established k8s operational guide to implement or use the healthy/readiness handler properly

**To Reproduce**
[code]

**

[2021-02-17 05:51] resouer opened #1061 "[Feature] Evaluate renaming WorkloadDefinition to ComponentDefinition"
**Is your feature request related to a problem? Please describe.**

This was brought up by Oracle folks that `WorkloadDefinition` is not accurate to describe what it is doing, we actually agree  and also had similar discussion internally before (sorry, naming is so hard).

Since KubeVela is heading to 1.0, it worth to discuss and evaluate if we want to rename existing `WorkloadDefinition` to `Comp

[2021-02-17 08:20] hprotzek commented on #1056
Hi @ryanzhang-oss yes the proposed changes for structured logging would solve our problem, as then the json output is possible.

https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging#json-output-format

[2021-02-17 09:49] hprotzek opened #1062 "Trait with strategic merge patch fails"
Using this trait:
[code]

with this manifest:

[code]

fails with this error:

`
	2021-02-17T09:46:55.433Z	ERROR	Application	[Handle GenerateApplicationConfiguration]	{"application": "vela-e2e-test-e2e-sninit-container-trait-a7eed96ea475/holgers-test", "error": "evaluate template trait=init-container app=init-container-test: invalid patch trait init-container into workload: compile patch file: spe

[2021-02-17 11:39] stigtermichiel opened #1063 "vela traits --sync does not sync traitdefinitions from the cluster to .vela locally"
**Describe the bug**

`vela traits --sync` does not sync traitdefinitions from the cluster to .vela locally.

**Expected behavior**
Traits that are defined in the targeted cluster should be synced to the .vela/capabilities/traits folder. This does not happen.

**Cluster information**
Describe your kubernetes cluster information.
- Kubernetes Version 1.19.7-GKE.800

[2021-02-17 14:44] stigtermichiel commented on #1063
Ah we've found that we needed to do `-r` to force a sync. What is the `-s` useful for?

[2021-02-17 22:55] resouer opened #1064 "[Feature] Template modules should also be revisioned"
**Is your feature request related to a problem? Please describe.**

We need the full snapshot of the whole application as well as the template it's using.

One option is we revision the definition objects, while this would be problematic since we will have to use `-v1` as part of the definition name.

**Describe the solution you'd like**

One possible solution is:

1. Store template modules (e.g.

[2021-02-18 06:32] zzxwill commented on #1062
Thanks for reporting this issue.

The error could be quickly fixed by adding parameter `command` in the appfile as below.

[code]

Or you can also try installing the application by `Application` CRD https://kubevela.io/#/en/cue/trait?id=add-init-container.

But parameter `command` is defined as optional, your Appfile should work. I am looking into this problem.

[2021-02-18 06:34] zzxwill commented on #1062
@hprotzek Please also provide the output of `kubectl version`.

[2021-02-18 07:35] zzxwill commented on #1059
@ryanzhang-oss Ryan, do you mean replacing `vela install`?

[2021-02-18 07:48] zzxwill commented on #1053
@vnzongzna Thanks for report the issue with detailed information. It's by design. `vela up -f` only accepts [Appfile](https://kubevela.io/#/en/developers/learn-appfile).

But we can
- improve the unclear output of `vela up`

[code]

- discuss whether `vela up` should support deploying Application yaml resource
I have to admit that I also tried to submit an Application manifest to Kubernetes cluste

[2021-02-18 08:19] zzxwill opened #1069 "[Dashboard] Display selected workload type or trait should show in the dropdown"
In the application creation page, selected workload type or trait should show in the dropdown, like `task`.

![image](https://user-images.githubusercontent.com/2805315/108326257-00dfc500-7205-11eb-94a1-7845cede8eda.png)

[2021-02-18 08:25] zzxwill opened #1070 "[Dashboard] "新增" in workload type settings should be in English"
In the application creation page,
- select workload type or trait should show from the dropdown, like task
- A button "新增" will display, it should be in English

![image](https://user-images.githubusercontent.com/2805315/108326811-a5620700-7205-11eb-868f-7fd927c8d206.png)

We used [from-render](https://github.com/alibaba/form-render) to rendering the form. The button is auto-generated by the form-

[2021-02-18 08:36] zzxwill commented on #1043
We have logos image here https://github.com/oam-dev/kubevela/tree/master/docs/resources. Let's try to store the logo in somewhere under dashboard.

![image](https://user-images.githubusercontent.com/2805315/108328350-75b3fe80-7207-11eb-894a-bb7a7d4ef1eb.png)

[2021-02-18 09:01] #1043 closed

[2021-02-18 09:31] WangYikewyk commented on #918
I thought about some details about solution.
1.Add a launch parameter named "system-definition-namespace" for vela core to specify which namespace is system level.
2.User still use "DEFINITION_NAMESPACE"

[2021-02-18 11:36] WangYikewyk commented on #918
IMO, the priority of namespace search order should be **DEFINITION_NAMESPACE** env > user-level > system-level.If vela-core-controller specify os env  **DEFINITION_NAMESPACE**, we should search definition from this namespace(for compatibility reason),If not found we will search from user-level namespace(application's namespace).If still cannot found search it from system-level namespace.

[2021-02-18 16:41] vnzongzna commented on #1053
Support to submit an Application manifest to Kubernetes cluster with `vela up` sounds more appealing to me since all other aspect are also covered with `vela` cli

[2021-02-18 19:39] ryanzhang-oss commented on #1053
vela CLI is mostly a client-side tool. Application Yaml is a k8s concept that we actually want to hide. In your case, it seems that you can directly use `kubectl apply`

[2021-02-18 19:57] resouer commented on #1064
The remaining issue is what happens if a new template revision introduced, should we updated the existing running apps? (I tend to say no for now ...)

[2021-02-19 01:58] #997 closed

[2021-02-19 02:06] #1062 closed

[2021-02-19 02:15] wonderflow commented on #1053
@vnzongzna  Hi, thanks for reporting, this is not a bug.

As the above comments said, the `application yaml` should be used with `kubectl` as serverside usage while the `vela up` can only work with appfile.

[2021-02-19 02:18] wonderflow commented on #1059
This will be fixed in #1005

[2021-02-19 02:21] wonderflow commented on #1060
Can you explain more about how to define our controller/operator is healthy or readiness?

[2021-02-19 02:23] wonderflow commented on #1063
Yes, it seems it's a bug and the `--sync` was not needed.

[2021-02-19 02:40] wonderflow commented on #1061
From my view, I will vote for `WorkloadDefinition`, because `Component` can be a concept contain both workload and traits.

[2021-02-19 02:43] wonderflow commented on #1057
Sorry for this debug info, we should fix it soon.

[2021-02-19 03:04] LeoLiuYan commented on #1048
Is it possible that the following  `template + kustomization` could solve the problem which is different environments has different templates?

[code]

There are some preconditions:
1.  `ApplicationTemplate Controller` should  parse `environments.overlays` to generate  [Kustomization Kind](https://toolkit.fluxcd.io/components/kustomize/kustomization/), and then `Kustomize Controller` will create `

[2021-02-19 03:43] wonderflow commented on #976
[code]

[2021-02-19 03:47] wonderflow commented on #1061
https://github.com/oam-dev/kubevela/issues/976#issuecomment-781794802

[2021-02-19 04:09] wonderflow commented on #899
Create a Definition controller, generate the `parameter reference information`(doc info)  and  `json schema`(Dashboard UI) in a configmap. VelaCP will integrate with the configmap.

[2021-02-19 05:29] wonderflow commented on #864
Yes, I think we could get start with this thing. The definition and the usage could be like your draft design.

The [model layer information](https://kubevela.io/#/en/application?id=conventions-and-quotstandard-contractquot) could be labels that manually added by the chart builder, just like: https://docs.fluxcd.io/en/stable/references/helm-operator-integration/#annotations

[2021-02-19 05:31] wonderflow commented on #864
We can make this happen in v1.0

[2021-02-19 06:53] ryanzhang-oss opened #1074 "Forbid names in the template/CR when use applications to render resources"
Currently, there are many places that a user can insert the resource names. For example, they can fill in the `metadata.name` in the cue template. They can also put the name in any embedded CR in the component or trait. This is not very desirable, especially in the rollout case since we need to locate the workload from outside of the applicationConfiguration controller which is the only place that

[2021-02-19 06:54] ryanzhang-oss commented on #1018
https://github.com/oam-dev/kubevela/issues/1074

[2021-02-19 07:00] just-do1 commented on #1063
By reading the source code, I found the following logical

[code]

![vela traits --sync](https://user-images.githubusercontent.com/20176249/108468712-1e269900-72c2-11eb-8a08-d212e3d770cf.png)

`--sync` means whether the traits information will be synchronized ； `refreshInterval = 5 * time.Minute`

`-r`  represents forced synchronization and does not need to wait for the synchronization cycle to ar

[2021-02-19 07:08] resouer commented on #976
@wonderflow, I am in favor of having `ComponentDefinition`. But we also need to make sure users (i.e. component providers) author `ComponentDefinition` only, otherwise two objects to define one component is too verbose to me.

Hence, we need to **generate** `WorkloadDefinition` from `ComponentDefinition`. Considering workload template also need revisioning (see: https://github.com/oam-dev/kubevela

[2021-02-19 07:09] resouer commented on #1064
Proposed another design in context of `ComponentDefinition`: https://github.com/oam-dev/kubevela/issues/976#issuecomment-781879622

[2021-02-19 07:10] just-do1 commented on #1063
Do you mean to remove the logic of `--sync` and sync directly from the cluster each time with parameter `-r`?

[2021-02-19 09:05] wonderflow commented on #976
I love this idea

[2021-02-19 09:13] wonderflow commented on #1063
@just-do1  Hi, may I assign this issue to you?

Yes, by default the `--sync` is true, we can just remove this parameter and leave it as the default behavior

[2021-02-19 09:17] just-do1 commented on #1063
Ok, I'll finish it as soon as possible

[2021-02-19 09:17] wonderflow commented on #1074
We should also support user specified revision name , for example:

[code]

[2021-02-19 09:40] stigtermichiel commented on #1063
This is the same for `vela workloads` by the way.

[2021-02-19 09:42] wonderflow commented on #1063
yes, ping @just-do1  please fix together，thanks

[2021-02-19 09:48] wonderflow commented on #1038
Yes, this is in our plan, we need to add a webhook to check definition format

[2021-02-19 19:47] ryanzhang-oss commented on #1074
what does the "revision-name" field mean?

[2021-02-19 20:10] vnzongzna commented on #1060
Instead of `ping` can we use GET method for Health Check at constant intervals?

[2021-02-19 20:16] ryanzhang-oss commented on #1060
A good start but as I mentioned, we need to be more conservative when we do health check as it will get the pod evicted.

[2021-02-19 20:21] vnzongzna commented on #1060
In that case would using `exec` METHOD helps?
[code]

[2021-02-19 20:40] vnzongzna commented on #1053
Most of the documentation contains references of application yaml as the desired manifest that user must give & that must have got me confused & use it for `vela up`.

[2021-02-19 23:56] just-do1 commented on #1063
ok

[2021-02-20 00:16] resouer commented on #1048
@LeoLiuYan Your sample yamls are theoretically correct ^^ i.e. you basically need to define your per environment diff as kustomize patch.

While as you have noticed, kustomize works best with git/folder layout. It looks ugly in a CR.

I created a multi-environment app delivery sample with kustomize + git layout which looks much better. The layout is like this:
[code]

Please check the full sample

[2021-02-20 02:49] shikanon opened #1079 "The same type services in the appfiles is Invalid"
**Describe the bug**

I have a app contains multiple entities, and when we set they in the same type, it will be only one by generated.

**To Reproduce**

install `mpserver` workloaddefinitions in this link:
https://github.com/shikanon/vela-example/blob/main/mpserver/workloaddefinition.yaml

create the appfile:
[code]

up the App:
[code]

and we find it only `mpserver-deploy-kafka` is created and

[2021-02-20 02:57] shikanon commented on #1079
This issue is solved.
The `kubectl get applications` only display App name, and it name is the same and the services name, when I use `kubectl get applicationconfigurations mpserver-deploy-kafka -oyaml` , it have two workload:

[code]

[2021-02-20 02:58] #1079 closed

[2021-02-20 05:17] wonderflow opened #1080 "[Feature] remove controllers in standard.oam.dev to catalog"
**Is your feature request related to a problem? Please describe.**

We have four controllers in standard.oam.dev, that are not enabled by default now, we should move it out from vela-core.

1. autoscaler
2. metrics
3. podspecworkload
4. routes

**Describe the solution you'd like**
1. Move to catalog https://github.com/oam-dev/catalog
2. let them become 4 charts
3. create a chart repository for cat

[2021-02-20 08:09] #1063 closed

[2021-02-21 05:30] resouer commented on #976
@wonderflow I updated the design a bit, because I think in implementation we should ensure the latest workload def always have a fixed name (e.g. deployments.apps), this is the key for workload type discovery.

[2021-02-21 06:29] resouer commented on #176
@Cweiping @wonderflow Any reason we do not model cluster in `Environment`? We can simply start from importing a kubeconfig in `ConfigMap`, and let application controller apply the application to that cluster if `environment` field is present.

[code]

[code]
You can check ArgoCD [cluster example](https://itnext.io/argocd-setup-external-clusters-by-name-d3d58a53acb0), or reuse this part from ArgoCD

[2021-02-21 06:41] resouer commented on #1048
First of all, you need to allow `Application` to claim its target `Environment`:

[code]
Please also check `Environment CRD`: https://github.com/oam-dev/kubevela/issues/176

**How to?**

First, use OAM definition to templating it and register as a component in control plane cluster.
[code]

Second, now you can use OAM `Application` to define a multi-cluster application like below:

[code]

In this

[2021-02-21 18:39] resouer opened #1086 "[Feature] KubeVela control plane mode"
**Is your feature request related to a problem? Please describe.**

Recently, based on the discussion around multi-cluster and GitOps (ref https://github.com/oam-dev/kubevela/issues/1048), there's a strong community request for using KubeVela both in control plane (handling env, cluster, multi-env deployment etc) and runtime clusters (modeling app, performing day 2 operation etc).

**Describe the

[2021-02-22 05:16] wonderflow commented on #1086
Yes, I totally agree with this idea, and the env section in Application(control plane mode) should be named to `binding`

[code]

[2021-02-22 07:33] wonderflow commented on #904
fixed by https://github.com/oam-dev/kubevela/blob/master/docs/en/application.md

[2021-02-22 07:33] #904 closed

[2021-02-22 07:37] wonderflow commented on #951
Now we have name and appName in the context and the revision was implemented. The missing part is the `appRevision`, just put it into the context. I think it could be a good first issue

[2021-02-22 07:38] wonderflow commented on #1023
@leejanee  is working on it

[2021-02-22 07:42] #969 closed

[2021-02-22 07:44] wonderflow commented on #908
Yes, I'll close this issue, it's related with #870

[2021-02-22 07:44] #908 closed

[2021-02-22 07:46] wonderflow commented on #770
fixed by #1013

[2021-02-22 07:46] #770 closed

[2021-02-22 07:49] wonderflow commented on #391
Now the server side object Application has been implemented, please refer to  https://github.com/oam-dev/kubevela/blob/master/docs/en/application.md for this feature

[2021-02-22 07:49] #391 closed

[2021-02-22 07:52] wonderflow commented on #316
According to our plan, we will not work further on it

[2021-02-22 07:52] #316 closed

[2021-02-22 07:57] wonderflow commented on #899
related issue #1038

[2021-02-23 00:11] resouer commented on #1086
Some other thoughts:

1. We use `Application` CRD as the envelop to carry app from control plane cluster to runtime clusters, so this CRD must carry destination information and control plane should handle it.
2. The main difference of `Application` CRD vs. Helm chart etc is it can carry cloud resources and other non-k8s resources (powered by component model, and enable you to do (3) and (4).
3. We

[2021-02-23 00:15] resouer commented on #904
@wonderflow Note that there are some `TBD` left for you in the existing doc ^^, please fix them.

[2021-02-23 05:03] #1030 closed

[2021-02-23 05:36] #1026 closed

[2021-02-23 08:56] wonderflow opened #1093 "check outputs:resource should be unique in application webhook"
The trait can use `context.outputs.<xx>`  to do simple data passing.

This rely on the trait resource name is unique, or the former outputs resource data will be covered by the latter one.

We should add [a webhook validate rule](https://github.com/oam-dev/kubevela/tree/master/pkg/webhook/core.oam.dev/v1alpha2/application) to check for it.

https://github.com/oam-dev/kubevela/pull/1087/files#diff-

[2021-02-23 11:40] #1057 closed

[2021-02-23 16:16] resouer commented on #864
Please kindly consider real world examples like https://github.com/stefanprodan/podinfo/tree/master/charts/podinfo/templates. i.e. there are cert, hpa ingress packaged in this component. We should not have restrictions unless user decide to use Rollout capability.

[2021-02-24 04:01] zzxwill commented on #899
# Design of storing definition reference in ConfigMap

# How to store in ConfigMap
### Naming
`def-${uppercase(DefinitionaName)}`

For example, the ConfigMap name to store information for WorkloadDefinition `webservice` is `def-webservice`.

### Namespace
Same as the namespace of VelaCore, like `vela-system`.

### Data
Two types of data to store.
- OpenAPI v2 JSON schema
  for API Server
- Referen

[2021-02-24 04:35] wonderflow commented on #899
For the naming, I think we can just name it `schema-<definitionName>`, there's no need for uppercase.

For the implementation, maybe a controller is better than webhook.

[2021-02-24 11:39] #1023 closed

[2021-02-25 00:20] resouer opened #1100 "[Feature] Consider built-in components w/o template module - so we can reference a workload as template"
**Is your feature request related to a problem? Please describe.**

This is a way that `Rollout` can work with raw workload instance, it will be helpful to demos and onboarding users.

**Describe the solution you'd like**

[code]

Then it will begin to rollout with immutable instances!

**What happened**

Because we have several built-in `ComponentDefinition`, let's say:

[code]

And, we also have

[2021-02-25 08:14] wonderflow opened #1105 "application fail to render with error revision already exist"
**Describe the bug**

When create an app by using:

[code]

It fails in the master branch.

[code]

And the erorr

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2021-02-25 09:27] wonderflow commented on #976
will align with https://github.com/oam-dev/spec/issues/443

[2021-02-25 12:00] LeoLiuYan commented on #1048
@resouer

I think `ApplicationGroup` is better.

But if we define a new kind, should it like this is better? Consider that if we deploy multi clusters of an app in `QA Environment`. The multi clusters are refers to app not to k8s.

[code]

[2021-02-26 08:28] wonderflow opened #1110 "[Feature] support cross namespace trait resource"
**Is your feature request related to a problem? Please describe.**

Now Application object only create resource within the same namespace. But for some special trait like promethus servicemonitor, it requires a specified namespace(`monitoring`). KubeVela must create the servicemonitor object in the `monitoring` namespace to let it work.

KubeVela should support create object in specified namespace

[2021-02-27 19:54] hongchaodeng commented on #1086
Here are some of the updates that I have been discussing offline with a couple of folks.
Let me share the latest update and summarize the plan here.

Updates:
- We have decided that velacp will implement the four major concepts, i.e. Applications, Environments, Clusters, Catalogs, as CRDs and controllers.
- The UI remain the same, the GRPC server will still serve the APIs, but the major logic will

[2021-03-01 02:04] LeoLiuYan commented on #1086
@hongchaodeng

For me, there are some questions:
1.   What's the `Cluster CRD` for？ `Environment CRD` already has clusters info.
2.  What's the  meaning of `application template`?  A new CRD?
3.  In the `patch` field, how can I remove some traits or components from `base env`?
4.  How to set parameters in `application template`?

Looking forward to your reply, thank you.

[2021-03-01 02:43] hongchaodeng commented on #1086
Hi @LeoLiuYan
Let me answer your questions in order:

1. Cluster CRD describes one cluster. Environment CRD is a deployment environment with consistent settings (e.g. clusters, packages, capabilities). Environment will reference to multiple clusters but not contain any specific cluster information. Think of them as two tables.
2. Yes. A new CRD. Template is something that was not instantiated and

[2021-03-01 02:46] hongchaodeng commented on #1086
@LeoLiuYan For delete patch, here is a reference: https://github.com/kubernetes-sigs/kustomize/pull/1396

[2021-03-01 06:42] kinnylee opened #1113 "There is an error in the document: Defining Workload Types | Composition"
**Describe the bug**
There is an error in the document：https://kubevela.io/#/en/cue/workload-type?id=composition
It should be WorkloadDefinition.spec.extension.template, not WorkloadDefinition.spec.template?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kubevela.io/#/en/cue/workload-type?id=composition
2. save WorkloadDefinition named webserver to workloaddefinition-webserver

[2021-03-01 08:29] wonderflow commented on #867
According to our current design, AC has become the revision of Application, so we won't ByPass C/AC in the future. Closing.

[2021-03-01 08:29] #867 closed

[2021-03-01 08:30] wonderflow commented on #731
We already have one in our docs

[2021-03-01 08:30] #731 closed

[2021-03-01 08:34] wonderflow commented on #662
According to our new design, cue will be one of the template schematic, so we can define new schematic if we want to add new IaC resources.

For example, we should use hcl for terraform integration

closing

[2021-03-01 08:34] #662 closed

[2021-03-01 08:35] wonderflow commented on #656
It's implemented now, closing

[2021-03-01 08:35] #656 closed

[2021-03-01 08:35] wonderflow commented on #656
https://github.com/oam-dev/kubevela/pull/1087

[2021-03-01 08:37] wonderflow commented on #340
now we use `helm install` instead of vela install

[2021-03-01 08:37] #340 closed

[2021-03-01 08:39] kinnylee opened #1116 "webserver workloaddefinition not work"
**Describe the bug**
kubevela engine can not render application to applicationconfiguration when appfile has a webserver workload.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://kubevela.io/#/en/cue/workload-type?id=composition'
2. Save the WorkloadDefinition with type webserver to file workload-definition-webserver.yaml
[code]
3. Run `kubectl apply -f workload-definition-web

[2021-03-01 08:39] #264 closed

[2021-03-01 08:40] #263 closed

[2021-03-01 08:41] wonderflow commented on #149
I think it's duplicate with #864, let's discuss more there.

[2021-03-01 08:41] #149 closed

[2021-03-01 13:47] yangsoon commented on #1113
This problem should be caused by the low version of vela. Please try again after recompiling a new **vela** executable file under the latest master branch.

[2021-03-01 13:48] yangsoon commented on #1116
This problem should be caused by the low version of vela. Please try again after recompiling a new vela executable file under the latest master branch.

[2021-03-01 14:16] yangsoon commented on #1113
Please try to use helm reinstall KubeVela Controller, while please use
`helm install --create-namespace -n vela-system kubevela kubevela/vela-core --version 0.4.0-rc-master`
command

[2021-03-02 01:35] just-do1 commented on #1116
According to your description, v0.3.3 performs normally

[code]

[2021-03-02 02:25] just-do1 commented on #1116
In vela v0.3.2, The error is that.
[code]

In v0.3.2

https://github.com/oam-dev/kubevela/blob/18f184d57c6261515033a509ae76a4f70752fd56/pkg/controller/core.oam.dev/v1alpha2/application/apply.go#L60-L74

In the latest master

https://github.com/oam-dev/kubevela/blob/a8337921bc13d9efee8fbfa28c27af5045203f95/pkg/controller/core.oam.dev/v1alpha2/application/apply.go#L71-L117

[2021-03-02 03:27] just-do1 commented on #1116
In Vela v0.3.2, I saw the error is:

[code]

I found this  in vela v0.3.2:

https://github.com/oam-dev/kubevela/blob/18f184d57c6261515033a509ae76a4f70752fd56/pkg/webhook/core.oam.dev/v1alpha2/applicationconfiguration/validating_handler.go#L70-L140

But in the latest master, the function `ValidateTraitObjectFn` is remove.

This bug is because of this?

[2021-03-03 02:22] ghostbody opened #1122 "How to model a native istio application using OAM (kubevela) ?"
RT

Suppose we have a istio application. How can I turn istio's Gateway, VirtualService, DestinationRule, ServiceEntry and etc into a OAM Application Model using kubevela?

For example, we need to model the "demo app" of istio named "bookinfo" using kubevela, how can I get it work?

https://istio.io/latest/docs/examples/bookinfo/

- Is istio Gateway a trait or a component?
- Is VirtualService a tr

[2021-03-03 02:44] hongchaodeng commented on #1122
Hi @ghostbody

Thanks for your interest in raising such excellent question. Let me help you clarify it.

First of all, KubeVela can natively include all kinds of Kubernetes capabilities/resources into the platform per se. So it should be no problem to model Istio into KubeVela theoretically.

To take the bookinfo app for example, I think there is only one Component, which is the Deployment, and th

[2021-03-03 03:32] wonderflow opened #1123 "[Feature] TraitDefinition should tell if it will restart the workload pod"
**Is your feature request related to a problem? Please describe.**

Now when we deploy/upgrade an Application, only change some fields of trait , we don't know whether the underlying pod will restart or not, we should let the TraitDefinition tell.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-03 05:12] wonderflow opened #1124 "[Feature] Add a new AppRevision to replace AC in Application controller"
**Is your feature request related to a problem? Please describe.**

Mostly to be compatiable with the running OAM v1alpha1 AC controller, so they won't conflict with each other and can both run in the same cluster.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-03 05:35] wonderflow commented on #1035
fixed by #1005

[2021-03-03 05:35] #1035 closed

[2021-03-03 06:04] ghostbody commented on #1122
Thanks for your advice. But to be more specifically, as for the bookinfo app, it's a microservices app which is consists  of 4 microservices:

- productpage. The productpage microservice calls the details and reviews microservices to populate the page.
- details. The details microservice contains book information.
- reviews. The reviews microservice contains book reviews. It also calls the ratings

[2021-03-03 06:07] wonderflow commented on #961
It seems currently the gox don't support build arm64 https://github.com/mitchellh/gox/issues/92 and our release pipeline broken: https://github.com/oam-dev/kubevela/runs/2019563379?check_suite_focus=true

[2021-03-03 06:08] wonderflow opened #1125 "arm64 build failed and block our release pipeline"
https://github.com/oam-dev/kubevela/runs/2019563379?check_suite_focus=true

We should remove it temporarily

https://github.com/mitchellh/gox/issues/92

We need to revert this  PR https://github.com/oam-dev/kubevela/pull/967

[2021-03-03 07:21] kinnylee commented on #1116
thanks！I upgrade KubeVela Controller to v0.3.3,  performs normally。
There is, in addition, CUE syntax errors can cause rendering Application to ApplicationConfiguration failures， can find problems by looking at the vela-core pod logs.

[2021-03-03 07:46] resouer commented on #1122
@ghostbody Please check the [bookinfo example](https://github.com/oam-dev/catalog/tree/master/applications/istio/bookinfo) which is based on OAM spec v0.2.1 release. You can see how `VirtualService` is defined as Trait and `Gateway` defined as [ApplicationScope](https://github.com/oam-dev/spec/blob/v0.2.1/5.application_scopes.md) etc.

But, above sample does NOT work in KubeVela (at least for now)

[2021-03-03 08:45] chace20 commented on #1122
@resouer Thank you for you answer. Still something to be discuss.

Is Trait only support operation on single component? If [Trait](https://github.com/oam-dev/spec/blob/master/6.traits.md) represents "application operation", operator may not only take action on single component, but operating **multi-components configuration** even  **application level configuration**. In current OAM [Application](

[2021-03-03 08:52] kinsolee opened #1127 "[Dashboard] Page errors if the url not hit the root path"
**Describe the bug**

If we type in a non-root path, the page will throw an json error:

![image](https://user-images.githubusercontent.com/5144108/109777743-0266af80-7c3f-11eb-9d2e-c46104fae38a.png)

I think it's caused by api-server, server should carry all routes except "/api" to dashboard

[2021-03-03 10:10] wonderflow opened #1128 "A story of Provision and Consume more Cloud Resources"
# Background

KubeVela can compose an appliction with cloud resource and K8s workload, currently the cloud resources supported in kubevela story is a bit less. KubeVela need cloud resources have a K8s controller to provision and it is now provided by crossplane alibaba-provider which only support `mongodb`.

According to the community feedback, we need to support more cloud resources working with

[2021-03-03 11:02] kinsolee opened #1129 "[Dashboard] Application can't be deleted"
**Describe the bug**
Cannot delete the application listed on the page. Seems like there is a bug in api-server, mismatching the `app name` and `app with version name`

**To Reproduce**
![image](https://user-images.githubusercontent.com/5144108/109796219-d6edc000-7c52-11eb-98b3-58ba5113cfd4.png)

**Expected behavior**
Delete the application correctly.

[2021-03-03 11:32] captainroy-hy opened #1130 "launch kubevela failed for CRD not found"
Since `ServiceMonitor.monitoring.coreos.com` is already removed from kubevela chart, when launch kubevela,  controller-manager crashed for metrics controller depends on watching `servicemonitors`.
[code]

Shall we add the CRD back to the chart?

[2021-03-03 11:44] wonderflow commented on #1130
It will be fixed by #1080 , we can remove this controller in first priority. Ping @WangYikewyk

[2021-03-03 12:58] ghostbody commented on #1122
@chace20 I have the same confusion as you.

[2021-03-03 13:00] ghostbody commented on #1122
@resouer The hlem chart idea is a decent one, I am going to have a try.

[2021-03-03 15:34] LeoLiuYan commented on #1128
Hi, @wonderflow

In my point of view, to implement a terraform controller there be some tough problems to solve:

1. A controller is reconciling `desire status` and `final status`, but a terraform controller use  kubernetes job to avoid block the reconcile process. So how could terraform controller known the status of cloud resource? For example, if a `RDS` is down, how could the terraform control

[2021-03-03 17:14] hongchaodeng commented on #1129
We are rewriting the dashboard and all control plane stuff in [velacp](https://github.com/oam-dev/velacp) project.
That has supported deletion of applications as well.
We are still in the middle of migrating stuff in between. Would let you know once it is done

[2021-03-03 17:17] hongchaodeng commented on #1123
I think this is more like a description field at the beginning. So we probably could add a field like this:

[code]

In the future, we can have more complex policy to indicate whether we allow such traits to apply during production runtime.

[2021-03-03 18:17] resouer commented on #1122
@chace20 @ghostbody As clarified in OAM spec, traits attach operational behavior to **component**, not application. And for application level behavior, the `Application Scope` is the correct concept.

Yes, considering most use case of `Application Scope` is more like `Application Level Trait`, we are seriously discussing having a new concept, see https://github.com/oam-dev/spec/issues/247.

In Kub

[2021-03-04 00:49] ryanzhang-oss commented on #1128
We need to be careful about deleting resources, they can be shared between applications or even users (90% of the time)

[2021-03-04 00:51] ryanzhang-oss commented on #1128
I wonder why is the Crossplane's provider mechanism not friendly for other cloud providesr?

[2021-03-04 00:53] ryanzhang-oss commented on #1128
I think the Terraform controller will have to reconcile (by creating a job) periodically to check the state of the resources and store it in a configMap or a custom CR.

[2021-03-04 01:25] ryanzhang-oss commented on #1128
I am not sure why the consuming workloadDefinition needs to declare the schema of the secret instead of the resource provider.  Isn't it the provider's responsibility to announce the secrete schema?

[2021-03-04 01:48] kinsolee commented on #1129
Nice to hear that, I will keep looking at the latest features. Will velacp be a temporary project mainly targeting at migrating, or a long-going project paralleled with kubevela?

[2021-03-04 03:08] wonderflow commented on #1128
Yes, it is. But the consumer also need to declare the schema that they can consume.

[2021-03-04 03:10] #1125 closed

[2021-03-04 03:45] LeoLiuYan commented on #1128
You lost the word `Alibaba-provider`.  I mean just extend Crossplane's Alibaba-provider is not meet the needs of other cloud providers to create resources.

[2021-03-04 03:55] #976 closed

[2021-03-04 04:00] wonderflow commented on #1116
Thanks @kinnylee @just-do1  closing

[2021-03-04 04:00] #1116 closed

[2021-03-04 04:01] wonderflow commented on #1130
For anyone has the same issue, a quick fix is to install the CRD here: https://github.com/oam-dev/kubevela/blob/master/pkg/controller/standard.oam.dev/v1alpha1/testdata/crds/servicemonitors.yaml

[2021-03-04 04:10] wonderflow commented on #1123
Yes, I think a flag is enough, for extensibility, what about a string type for this flag?

[code]

By default, it's unknown.

[2021-03-04 11:19] wonderflow opened #1140 "delete image after e2e test"
we are using a custom runner for e2e test, the disk space is easily to be full, please delete the image after the e2e test finished. It's better if we can also delete the image even the CI failed

[2021-03-05 04:56] #1140 closed

[2021-03-05 04:57] hongchaodeng opened #1144 "[Feature] ApplicationDeployment CRD to support application level rollout, traffic, and multi-cluster strategies"
# Background

Currently Vela supports Application CRD which templates the low level resources and exposes high level parameters to users. But that's not enough. It requires a couple of standard techniques to deploy an application in production:

1. **Rolling upgrade** (aka rollout): To continuously deploy apps requires to rollout in a safe manner which usually involves step by step rollout batches

[2021-03-05 05:13] resouer commented on #1144
Consider `clusterStrategies` -> `placementStrategies`

[2021-03-05 05:54] shikanon opened #1145 "vela-core cannot start when use istio sidecar inject"
**Describe the bug**

I want to install vela into namespace which pod will be inject istio-sidecar. I find pod cann't running. I found this port name of `healthz` is full the istio port and not 9440.

the `vela-core` deployment from helm chart is:
[code]

when use `isitoctl kube-inject -f deployment.yaml` it will be:
[code]

We can see the `vela-core` container port of livenessProbe and readnessPr

[2021-03-05 06:31] shikanon commented on #1145
the pod log:
[code]

[2021-03-05 06:38] wonderflow commented on #1145
It seems you're using an old image with the new chart values. Please try the latest image

[2021-03-05 06:47] shikanon commented on #1145
the issue is My images is no match the charts! it is closed

[2021-03-05 06:47] #1145 closed

[2021-03-05 07:14] #918 closed

[2021-03-06 00:32] ryanzhang-oss opened #1147 "Get rid of the integration test dir"
**Describe the bug**
We currently maintain two types of e2e tests and the test/integration directory contains only one test that relies on some obsolete/proprietary test framework.

We actually put in a CI hack so that the integration test can run. We need to migrate the integration test to test/e2e-test dir and suite.

The extra one-test-only coverage absolutely doesn't worth the maintenance effo

[2021-03-06 01:11] resouer commented on #1144
The `service` seems to be `publish` or `gateway`? I assume it's an app level APIGateway.

For placement, it could be evolved with cluster level rollout strategy in the future, [for example this one](https://github.com/maruina/argocd-progressive-rollout-controller).

[2021-03-06 09:21] Cweiping commented on #665
I test `npm i docsify-cli -g` locally, and it seems to work.

[2021-03-06 12:45] Cweiping opened #1149 "Clean up official website document command and output style"
When using the official website document to experience` kubevela`, due to the nonstandard writing of some commands, users can't copy and paste to run and verify the output results.

Error examples:
[code]

Correct output:
[code]
[code]

We will be able to copy the run directly.

/good-firist-issue
/documentation

[2021-03-06 14:54] hongchaodeng commented on #1144
@resouer

It's per app config for service routing. For example, in Istio we could use it to infer part of the DestinationRule fields.
It is not gateway anyway which is a global concept.

Sure. I will keep that in `Considerations` too.

[2021-03-06 18:16] hongchaodeng commented on #1144
@resouer

I also take a look into the the multi-stage rollout in [this example](https://github.com/maruina/argocd-progressive-rollout-controller). I think the problem with this style of rollout in spec is that it will automatically rollout to everywhere eventually. The better way to handle it is to have a UI to let users interactively choose and push the trigger of rollout.

[2021-03-07 08:02] #996 closed

[2021-03-08 03:17] #1149 closed

[2021-03-08 03:50] wonderflow commented on #665
Thanks, closing

[2021-03-08 03:50] #665 closed

[2021-03-08 09:21] wonderflow opened #1154 "rename appDeploy to appRollout for docs"
https://github.com/oam-dev/kubevela/tree/master/docs/examples/rollout

related #1146

[2021-03-08 09:56] wonderflow opened #1155 "[Feature] revision for doc site"
**Is your feature request related to a problem? Please describe.**

Now when a PR was merged, the doc site(kubevela.io) was updated, that was hard for maintian. We need to keep a revision for our doc site until next release.

**Describe the solution you'd like**

Just like crossplane does:

The URL shows which revision the doc site points to: https://crossplane.io/docs/v1.1/

![image](https://user

[2021-03-08 12:11] jriguera opened #1157 "[Feature] `vela env init` should only create namespace if not existing"
**Is your feature request related to a problem? Please describe.**

We want to manage user using RBAC, each user would have access to a pre-created namespace (but they do not have access to create new ones), when we use `vela env init --namespace TEAM  TEAM`, vela cli fails with:

[code]

**Describe the solution you'd like**
Kubevela should check if the namespace is already existing and if so try

[2021-03-08 14:22] Cweiping commented on #1093
/assign

[2021-03-09 02:36] wonderflow commented on #1157
Yes, thanks for reporting

[2021-03-09 09:26] zzxwill opened #1163 "release v0.3.4 doesn't generate darwin package"
https://github.com/oam-dev/kubevela/releases/tag/v0.3.4

![image](https://user-images.githubusercontent.com/2805315/110448862-8ff14600-80fc-11eb-9a67-8977bfa3931c.png)

[2021-03-09 10:58] jriguera opened #1164 "Kubevela client CI/CD integration and distributed developers workflow"
**Describe the bug**

We are a bit confused about what the intended workflow is for developers/applications teams working with Kubevela.

We expect `vela ls` to show all the applications of an environment (kubernetes namespace) that a developer is part of. This way developers can get the same view of their applications and their states.  Currently `vela ls` only shows apps which have been deployed

[2021-03-09 11:13] wonderflow commented on #1163
yes,cherry-pick https://github.com/oam-dev/kubevela/pull/1134 into release-0.3 can fix it

related issue: #1125

[2021-03-09 12:18] legendtkl commented on #1163
Hi, @wonderflow , I would like to take this one, can you assign it to me?

[2021-03-09 12:23] wonderflow commented on #1163
Sure,thanks!

[2021-03-09 12:37] captainroy-hy opened #1167 "changing application results in multiple appConfig"
**Describe the bug**

With the latest master branch.
Each time modify an existing Application will trigger to create a new appConfig. And multiple appConfig exist simultaneously.

**To Reproduce**
Apply below app.
[code]
Make any modifications and apply again. Repeat. Check the appConfig

[code]
ping @wonderflow @ryanzhang-oss

[2021-03-09 12:52] wonderflow commented on #1167
Yes, by default, if we're not using appRollout, there should be one appconfig running only. ping @ryanzhang-oss

[2021-03-09 23:23] ryanzhang-oss commented on #1144
Synced with @hongchaodeng offline and here is some high-level clarifications

1. This issue is mostly about user-facing API design, not the implementation
2. The applicationDepolyment object is here for users to declare their end goals with multiple versions of an application.
3. There will be a translation from the multi-version appDeploy to multiple two version appRollouts as the path way to ach

[2021-03-10 02:44] #899 closed

[2021-03-10 03:12] wonderflow commented on #1144
Can you add a example about how multiple cluster deploy strategy was used?

[2021-03-10 03:56] Cweiping commented on #1164
When v1.0.0 is released, your problems will be solved. use `Application` and `Environment` CRD  to manage user-defined applications.
More Details: https://github.com/oam-dev/kubevela/issues/932

[2021-03-10 06:03] resouer commented on #1144
@ryanzhang-oss Not sure how Flagger handle this? Is it asking user to choose between Istio traffic shifting vs. HPA adjusting instances? I am also a bit concerned that we configure them at same time.

@wonderflow @hongchaodeng Some issues unclear to me:

1. What's the relationship with [Environment-Based Config Patch](https://github.com/oam-dev/velacp/blob/main/docs/env_based_patch.md)?
2. What's

[2021-03-10 07:15] #1054 closed

[2021-03-10 08:47] #951 closed

[2021-03-10 08:49] wonderflow commented on #1163
@legendtkl Hi, are you going to send a PR recently? We're going to release 0.3.5 in two days.

[2021-03-10 14:31] hongchaodeng commented on #1144
AFAIK Flagger cannot handle this. We need a more advanced strategy to smoothly rollout and shift traffic.

Not related.

Not really a tradeoff. They don't conflict here. User needs to specify the service trait and the service config in revision too. The service config in revision is used to infer the Routing configuration, e.g. Istio's VirtualService, which includes host name, TLS config, etc. The

[2021-03-10 14:56] legendtkl commented on #1163
Hi, @wonderflow , sorry for the late reply.
This is my first PR and I try to fix my local env, it stuck in the step: "staticcheck ./..." when running 'make'.

Anyway, for not blocking the release, I have cherry-pick the commit mentioned in the comments and submit the PR https://github.com/oam-dev/kubevela/pull/1169.

Thanks.

[2021-03-10 18:28] hongchaodeng commented on #1144
@wonderflow I have updated placement to reflect per-revision multi-cluster strategies. It will allow one revision to live on two clusters to survive disasters.

[2021-03-10 19:41] resouer commented on #1164
Though for the CLI part, I believe `$ vela ls --environment` should return all the apps in this environment, regardless of the user who creates it. /cc @wonderflow to confirm, it seems to be a bug.

We are migrating CLI/dashboard/Appfile to work with vela control plane objects so right now CLI issue is not P0 task. But for v1.0.0, I think we should still ensure the essential features are available

[2021-03-10 20:38] resouer opened #1170 "[Feature] Considering renaming existing environment concept in vela CLI as workspace"
**Is your feature request related to a problem? Please describe.**

Since we are building environment CRD and vela control plane. I think we can rename existing vela CLI's environment (namespace) to "workspace", so we won't mess it with control plane and will keep this concept alongside with environment in DevEx layer.

**Describe the solution you'd like**

**Describe alternatives you've considere

[2021-03-11 02:26] wonderflow commented on #1163
@legendtkl Welcome, thanks for your contribution.

[2021-03-11 02:26] #1163 closed

[2021-03-11 02:52] wonderflow opened #1171 "the current docs is lacking a guide to test/dry-run CUE templates."
the current https://kubevela.io/#/en/cue/basic is lacking a guide to test/dry-run CUE templates.

_Originally posted by @resouer in https://github.com/oam-dev/kubevela/issues/1103#issuecomment-796333289_

[2021-03-11 06:21] legendtkl commented on #1163
:D

[2021-03-11 07:28] shikanon opened #1173 "When use helm install vela in local occurred Error: failed calling webhook "validating.core.oam.dev.v1alpha2.traitdefinitions""
**Describe the bug**

when I use helm install vela in local charts, it occurred error like this:
[code]

**To Reproduce**

1. use helm to install this charts like this:
[code]

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/7250620/110750984-3a44a700-827e-11eb-98e6-031df23ed525.png)

**Cluster information**

version of kubevela is v0.3.5

kubernetes vers

[2021-03-11 07:56] shikanon commented on #1173
the issue is resolved. The problem is my CRD which installed not clean when I install with master branch.
delete crd all oam and reinstall it :
[code]

[2021-03-11 07:56] #1173 closed

[2021-03-11 07:56] #1154 closed

[2021-03-11 07:59] ryanzhang-oss commented on #1167
fixed by
https://github.com/oam-dev/kubevela/pull/1166

[2021-03-11 07:59] #1167 closed

[2021-03-11 08:11] wonderflow commented on #957
fixed by https://github.com/oam-dev/samples/pull/54

[2021-03-11 08:11] #957 closed

[2021-03-11 08:36] #1074 closed

[2021-03-11 08:37] ryanzhang-oss commented on #1018
#1166

[2021-03-11 08:37] #1018 closed

[2021-03-11 09:05] wonderflow commented on #1164
Currently I have supported `vela ls --namespace=xxx` to list applications from cluster in #1174

[2021-03-11 09:11] wonderflow commented on #719
closing, feel free to open if it still exists

[2021-03-11 09:11] #719 closed

[2021-03-11 09:12] #632 closed

[2021-03-11 09:12] #626 closed

[2021-03-11 09:12] #575 closed

[2021-03-11 09:13] #278 closed

[2021-03-11 09:13] #207 closed

[2021-03-11 09:13] jriguera commented on #1164
Nice!, thank you, but I have a small question, given the environment is already in the context, why do not make it by default?  without the need of `xxxx` in the  `--namespace` flag. I haven't check the code, but we are happy to submit a PR if you want.

[2021-03-11 09:16] wonderflow commented on #1164
Yes , the default behavior is to read the namespace in local env meta, it's already contained in #1174

[2021-03-11 09:17] jriguera commented on #1164
Thanks, I am going to compile it and give a try. Thanks again!

[2021-03-11 10:30] shikanon opened #1177 "[Feature] request to change base image of vela-core for debug convenience"
**Is your feature request related to a problem? Please describe.**

The vela-core images to use `ENTRYPOINT `, we can not access to the container. When the vela-core have some problem, I cannot troubleshoot problems quickly.

For exmaple, when I install kubevela and meet the problem and I cannot not find problem easy:
[code]

**Describe the solution you'd like**

Change  `CMD` of Dockerfile instea

[2021-03-11 11:30] lxd5866 commented on #932
How is the terraform integration work going on now?

[2021-03-11 12:28] xiqiu618 opened #1178 "[Feature] workloadDefinition Health check supports external CRD processing status results"
**Is your feature request related to a problem? Please describe.**
Health check supports the implementation of obtaining fields from the fields in output for verification. However, complex logic judgment is often not only performed in one CRD, but also can be implemented by multiple operators. Therefore, we hope to expand this capability

**Describe the solution you'd like**
Take an example of a h

[2021-03-11 14:27] jriguera commented on #1164
I have compiled the PR and it works, but there is still an issue with the commands `vela status`, `vela exec`, `vela logs` ... which they report `Error: application "test-app" not found`.

Given the fact you are working on the new Vela control Plane, which would define a new API, I am wondering if it makes sense continue fixing the current client. To my understanding, the new velacp would require

[2021-03-12 02:40] wonderflow commented on #932
@zzxwill  is working on that, we're planning to create a new controller for terraform. https://github.com/oam-dev/kubevela/issues/1128

[2021-03-12 03:56] wangkai1994 commented on #1070
/assign me

[2021-03-12 04:37] wonderflow commented on #1164
@jriguera Yes, we will finally using velacp, but currently we may not possible to include velacp in kubevela-v1.0

[2021-03-12 04:43] wonderflow commented on #1164
BTW, I'm still working on that PR, thanks for reporting.

[2021-03-12 05:38] wonderflow commented on #1061
align with https://github.com/oam-dev/spec/issues/443

[2021-03-12 05:58] shikanon commented on #1177
@wonderflow can we provide other base images like alpine instead of "Distroless". when occur problem we cannot entry the container to network and service.

[2021-03-12 06:07] wonderflow commented on #1157
@mosesyou Hi, are you working on that? I can fix along with #1174

[2021-03-12 06:10] wonderflow commented on #1123
1. add field into traitdefinition
2. display in cli
3. add docs

\cc @yangsoon

[2021-03-12 06:57] #1080 closed

[2021-03-12 06:58] #1130 closed

[2021-03-12 07:22] wangkai1994 commented on #1070
![image](https://user-images.githubusercontent.com/9304834/110906278-b3a7cc80-8346-11eb-9ae7-652aa3e0576c.png)

It's look like from-render's bug.

/unassign

[2021-03-12 07:23] jriguera commented on #1164
Thank you!

[2021-03-12 07:57] wonderflow commented on #1177
I think this need to be discussed. WDYT?  ping @hongchaodeng @ryanzhang-oss

[2021-03-12 08:06] wonderflow commented on #1177
It seems we can use `ubuntu:latest` as our base image, its size is very small now.

https://hub.docker.com/_/ubuntu?tab=tags&page=1&ordering=last_updated

[2021-03-12 08:15] S-mango opened #1184 "master: Failed to upgrade using helm"
ErrorInfo: UPGRADE FAILED: failed to create resource: TraitDefinition.core.oam.dev "ingress" is invalid: spec.definitionRef: Required value

**Modification method**:
Need to add this “spec.definitionRef” in the file
(oam-dev/kubevela/charts/vela-core/templates/defwithtemplate/ingress.yaml)

[2021-03-12 08:19] wonderflow commented on #1184
Yes, the CRD has been updated, the `spec.definitionRef` was not required in the new version

[2021-03-12 08:36] shikanon commented on #1177
yes, the command of ubuntu is more popular than alpine which is only 2MB. But if consider the balance of  image size and propularity, is alpine better choice?

vela-core image build size is ~25MB
ubuntu image size is ~25MB
alpine image size is ~2.5MB

vela-core image:
https://hub.docker.com/r/oamdev/vela-core/tags?page=1&ordering=last_updated
ubuntu image:
https://hub.docker.com/_/ubuntu?tab=tags&

[2021-03-12 08:42] #877 closed

[2021-03-12 08:42] #964 closed

[2021-03-12 08:42] #1164 closed

[2021-03-12 08:45] wonderflow commented on #1164
@jriguera I think this issue has been fixed, please have a  try with the master branch. Thanks!

[2021-03-12 08:46] wonderflow commented on #1164
@jriguera  I think this issue was fixed, please have a try with the master branch, thanks!

[2021-03-12 08:54] wonderflow commented on #1171
refer:
1. https://wonderflow.info/posts/2020-12-15-cuelang-template/

[2021-03-12 09:56] mosesyou commented on #1157
Sry, because something delayed doing this. Have you completed it? If not I will fix it in a while.

[2021-03-12 10:20] wonderflow commented on #1157
@mosesyou not yet, please go ahead

[2021-03-13 03:32] captainroy-hy opened #1188 "requeue mechanism when error occurs in reconciliation"
AppConfig controller uses its own mechanism to re-queue obj during reconciliation. Once an error occurs, an error condition will be added into `appconfig.status`. And status changing will trigger requeue then reconcile again.
But in the situation where reconcile proceed very fast, the same error occurs, and the new error condition is created.
Since the duration time is very small, the timestamp(la

[2021-03-15 02:16] 1542254356 opened #1194 "document link is 404"
A link  is 404

location:
https://github.com/oam-dev/kubevela/blob/master/CONTRIBUTING.md#user-content-prerequisites:~:text=design

![image](https://user-images.githubusercontent.com/25589700/111094533-71fd6880-8576-11eb-9eb1-353713280969.png)

Destination address 404 not found
https://github.com/oam-dev/kubevela/blob/master/docs/en/design.md

[2021-03-15 04:05] 0902horn commented on #1128
apiVersion: core.oam.dev/v1alpha2
kind: Application
metadata:
  name: data-consumer
spec:
  components:
    - name: myweb
      type: webserver
      settings:
        image: "nginx"
        mysecret:
          secretName: "mydb-outputs"
          keyMapping:
          - username: user
            password: password

It is a great idea to inject credentials into workloads by leveraging k8s secrets

[2021-03-15 04:24] #1177 closed

[2021-03-15 06:12] wonderflow commented on #1064
We will use ComponentDefinition as an immutable object in KubeVela 1.0, so we won't add revision mechanism for template for now.

[2021-03-15 06:14] wonderflow commented on #1184
@S-mango Hi, you can delete the TraitDefinition CRD and re-install helm chart. Closing, feel free to re-open it if there's still any question on it.

[2021-03-15 06:14] #1184 closed

[2021-03-15 06:18] wonderflow commented on #1110
Please also support it for worklaod resource

[2021-03-15 06:20] wonderflow commented on #961
Hope someone good at compling for Arm64 can help.

[2021-03-15 07:03] Ghostbaby opened #1195 "[Feature]support import third-party package for WorkloadDefinition"
**Describe the bug**
If a third-party package is imported into the cue template, the program will report an error:
[code]

**To Reproduce**
[code]
**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2021-03-15 07:27] wonderflow commented on #1195
[code]

[2021-03-15 07:50] shikanon commented on #1195
Solution 2 is fine, I find cue tutorial have many docs about this:
https://github.com/cuelang/cue/tree/master/doc/tutorial/kubernetes

[2021-03-15 07:58] #1157 closed

[2021-03-15 08:40] captainroy-hy opened #1196 "old revision workload is not gc when changing Patch trait"
**Describe the bug**

Latest master branch.
With below application and patch trait, after deploying the application, if I change the patch trait, e.g., remove it from app or change any properties of it, it will create a new revision workload. But the old one is not deleted.

[code]
Each time repeat changing the trait config, it will create a new revision workload.
[code]
But there's always only on

[2021-03-15 10:18] #864 closed

[2021-03-15 11:22] leejanee commented on #1195
Use K8s native API and CRD definition  as a built-in cue model of kubevela

[code]

[2021-03-15 11:49] LeoLiuYan commented on #1144
I was confused with this ApplicationDeployment in some issues:

1.  `Traffic Control` is not pluggable which mean some users could not use ApplicationDeployment if they not use Istio or Ingress.
In OAM,  `Traffic Control` should be a trait, right?  Is it better that  the `trafficRules`  be a trait that users could extend it?
2.  When do a application rollout, we will adjust the traffic weight when

[2021-03-15 14:29] LeoLiuYan opened #1199 "[Feature] Best practices for middleware products using in Vela"
**Is your feature request related to a problem? Please describe.**

As the title said,   what's the best practices for middleware products like `es`, `mq`, `kafka` and so on when we used in vela?
Should we delivery those middleware products as a component or another application?  As we know,  middleware products general shared by multiple stateless application.

**Describe the solution you'd like*

[2021-03-16 02:01] sunny0826 commented on #1155
/WIP

[2021-03-16 02:22] shikanon commented on #1199
I think the middleware or db can be used as a general traits statement by other components, they can come from cloud or self-build.

[2021-03-16 02:33] mosesyou commented on #1199
In another situation, we hope it can create a new middleware for the application. And we can define that how to create a new middleware.

[2021-03-16 03:34] hongchaodeng opened #1200 "Application Revision path: Create new component name similar to what happens to AppConfig"
Currently, if `app.oam.dev/rollout-template` is set, it will create new AppConfig and bump the revision in name. But the component name isn't updated and uses componentRevisionName instead.

This is very inconvenient for AppDeployment to clone components to other clusters. We should change it to create new component similar to what happens to AppConfig.

[2021-03-16 03:39] hongchaodeng commented on #1200
Note:

just need to change revisionName here to componentName:

[code]

[2021-03-16 03:42] ryanzhang-oss commented on #1200
This is because we have a component revision mechanism.  I am not sure if we need to replace that logic in the application controller.

[2021-03-16 04:26] wonderflow commented on #1155
@sunny0826  Cool

[2021-03-16 05:53] wonderflow commented on #1200
I suggest we use revisionName to prevent unexpected change on component.

[2021-03-16 07:44] shikanon commented on #1199
If you want to create a new application, you can think of it as part of micro-services, this like app A to depends on app B. The middleware mean it is a public services which is in charge of the infrastructure team.

[2021-03-16 09:24] wonderflow commented on #1128
After discussed with @0902horn  offline, I have understand that we wants a way to do secret schema convert when the secret provider and consumer has the different schema.

So we can write a secret/configmap converter trait(with a CRD controller) to do the converting/mapping.

The converter trait will work for this case as long as the following rules exist:

1. secret provided by the cloud resource

[2021-03-16 09:29] wonderflow commented on #1064
In the future, we can support both case.

The mutable definition is also useful, the intersting use case is:

User won't want to know the implementation of trait, so they don't want to know the version of trait.

When the underlying trait was upgraded, **it should not affect the user's workload**, but next time, when the application updated, the user can carry the change of definition when it's mu

[2021-03-16 09:47] wonderflow commented on #1199
We suggest the middleware products which will be shared by different applications be deployed in a standalone application.

[2021-03-16 11:26] rapkey opened #1206 "Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(TraitDefinition.spec): unknown field "schematic" in dev.oam.core.v1alpha2.TraitDefinition.spec"
Got the error bellow while install kubevela by helm.

Error msg:
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(TraitDefinition.spec): unknown field "schematic" in dev.oam.core.v1alpha2.TraitDefinition.spec

OS:macOS 10.15.6

Docker:
Client: Docker Engine - Community
 Cloud integration: 1.0.9
 Version:           20.10.5

[2021-03-16 11:35] captainroy-hy commented on #1206
It seems CRDs in your cluster are not the latest version. You can try below cmd
[code]

[2021-03-16 12:42] hongchaodeng commented on #1200
After syncing with @wonderflow , here's our discussion:

- The reason why revision name is not working anymore is because when cloning to other clusters, we need to wait the components to apply first and get the revisions to fill the AC again. This would make the revisionName varying in each clusters. Moreover, the AppDeployment controller will also change the replicas of the Workload, and increme

[2021-03-16 13:25] shikanon opened #1207 "[Feature]`vela` command provide debug tools which render from Application to Application Configuration"
**Is your feature request related to a problem? Please describe.**

Application is render from app file. But the `applicationconfigurations` and `components`  which render from `Application` is inconvenient to debug.
For example, when I define a workload and trait, and I apply `application` not working, I cannot get information when I lost the trait. I also think What happen? I can't know anything

[2021-03-16 14:08] LeoLiuYan commented on #1199
The middleware products delivery as a  standalone application may be fine.

Some ideas come out of #1128:

1. The middleware application should have multiple output. Think that app1 and app2 share same rds, and they have different username and password.

[code]

2. The stateless application may include a component which type is `middlewareClaim`.

[code]

[2021-03-17 01:45] rapkey commented on #1206
@captainroy-hy Thanks for your answer.But doesn't work.

Otherwise, CRDs should be create while install by helm?

[2021-03-17 01:48] captainroy-hy commented on #1206
Helm cannot handle CRDs very well. Helm only creates CRDs when it's installed the first time. After that, Helm will skip updating CRDs.  According to your log, your cluster has old version CRDs.

[2021-03-17 02:31] captainroy-hy commented on #1147
I would like to help with this issue.

[2021-03-17 02:59] rapkey commented on #1206
@captainroy-hy

I try to delete all the CRDs like *.oam.dev by `k get crds|awk '/.*.core.oam.dev/{print $1}'`, then hangs at applicationconfigurations.core.oam.dev. Cos there is CR of applicationconfigurations.core.oam.dev named "website", still hangs while delete the CR.

**kubectl get applicationconfigurations website -o json**
[code]

[2021-03-17 03:16] captainroy-hy commented on #1206
You can just leave "applicationconfigurations.core.oam.dev" there and install vela through helm again. I believe you have already removed the legacy CRDs related to your problem. Once installation succeeds, new CRDs are ready to go.

BTW, if you can feel free to delete many CRDs from your cluster, maybe you can just set up a new cluster from scratch... Deleting CRDs is pretty risky.

[2021-03-17 03:26] rapkey commented on #1206
@captainroy-hy You mean set up a new k8s cluster? but what if it's recur in producton env?

[2021-03-17 03:38] captainroy-hy commented on #1206
I mean set up new one just for your local test env.  Of course, we can't do that in prod env.
Upgrading CRD in prod env is another topic. You have to make sure handle all CR correctly.
For example, your appconfig is not deleted because of its finalized, "scope.finalizer.core.oam.dev", and this finalizer should be removed by kubevela controller. But I think you have uninstalled kubevela controller

[2021-03-17 04:43] rapkey commented on #1206
@captainroy-hy Get it, thanks a lot.

[2021-03-17 05:05] wonderflow commented on #1207
We already have `vela system dry-drun` do you mean extend it?

[2021-03-17 06:49] rapkey commented on #1206
@captainroy-hy I reset the docker&k8s to factory defaults on my macbookpro. Reinstall kubevela by helm, get the following msg.
[code]

But workloads and traits don't work well.
[code]

[2021-03-17 06:59] captainroy-hy commented on #1206
Your `vela` binary version? Have a try with latest version `vela` cmd.
workload capabilities except `containerizedworkloads.core.oam.dev` should work well.

[2021-03-17 07:19] rapkey commented on #1206
@captainroy-hy
Update from v0.3.3 to v0.3.6, it works. Thank you!

[2021-03-17 07:19] #1206 closed

[2021-03-17 07:34] shikanon commented on #1207
Yes, It is useful to me. But I not see it in the document, I think it can be added.

[2021-03-17 09:21] LeoLiuYan commented on #1086
High availability of k8s cluster should consider in Control Plane, may support multiple k8s cluster in Control Plane?  If the k8s cluster down, then Control Plane will cannot provider service for APIServer.

[2021-03-17 13:21] hongchaodeng commented on #1144
@LeoLiuYan Some of my thoughts:
1. Yes we should support pluggable traffic control implementations. Initially we will implement based on Istio which is  standard in open source community.
2. This could be implemented as a rollout strategy. We will support more advanced rollout strategies like this in the future to  only adjust traffic when the new version is healthy.
3. Disregard it. I have change

[2021-03-17 13:33] hongchaodeng commented on #1200
Closing this in favor to #1210

[2021-03-17 13:33] #1200 closed

[2021-03-17 16:43] jriguera commented on #1164
It works! Thank you!

[2021-03-18 00:25] #1147 closed

[2021-03-18 05:11] wonderflow opened #1219 "add skip condition on e2e-rollout CI"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/2173670/111576483-8b5b1a80-87eb-11eb-9831-504590dca5ba.png)

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-18 05:18] wonderflow commented on #1207
@shikanon  Yes ， we're planning to add it in #1191 I think we could discuss more about it in this issue, currently it's really not easy to write a CUE template.

[2021-03-18 05:51] wonderflow opened #1220 "error link of kubevela blog https://kubevela.io/#/blog"
**Is your feature request related to a problem? Please describe.**

https://kubevela.io/#/blog => https://kubevela.io/#/blog/en/

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-18 05:56] shikanon opened #1221 "The link in the blog Readme is 404"
**Describe the bug**

The readme in the link is invalid. this two link:
![image](https://user-images.githubusercontent.com/7250620/111579797-9ca72580-87f1-11eb-913e-41af84b44e40.png)

**To Reproduce**

1. open link https://github.com/oam-dev/kubevela/tree/master/docs/blog/zh
2. click link under the paper
3. see 404 error

**Expected behavior**

**Screenshots**

**Cluster information**

**Additiona

[2021-03-18 06:16] captainroy-hy opened #1222 "generate OpenAPI schema for helm chart values"
**Is your feature request related to a problem? Please describe.**

Currently, we have [Helm schematic workloads](https://github.com/oam-dev/kubevela/blob/master/docs/en/helm/basic.md), which allows to vela install a Helm release into the cluster.

An application containing a Helm-based workload will use `.spec.settings` to override default Chart values. That's similar to how [parameter](https://k

[2021-03-18 07:22] #1219 closed

[2021-03-18 07:50] zzxwill opened #1227 "failed to install vela core"
**Describe the bug**

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Cluster information**

[code]

**Additional context**

[2021-03-18 07:52] zzxwill commented on #1227
/cc @lowkeyrd

[2021-03-18 09:39] #1129 closed

[2021-03-19 04:17] wonderflow opened #1235 "request for retainKeys patchStrategy in CUE based patch trait"
**Is your feature request related to a problem? Please describe.**

We have supported `//+patchKey=<name>` for strategy patch. Besides this feature, we also need a way to delete fields in strategy patch.

In K8s strategic merge patch, there's a way called `retainkeys` strategy. We also need to support that.

https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch

[2021-03-19 06:04] sunny0826 commented on #1221
This directory holds the official blog module source files, read them at https://kubevela.io/#/blog/zh/, this is not a bug.

[2021-03-19 10:55] wonderflow commented on #1124
fixed by https://github.com/oam-dev/kubevela/pull/1236 , the object finnaly named AppContext

[2021-03-19 10:55] #1124 closed

[2021-03-19 10:56] #1061 closed

[2021-03-19 19:38] kushthedude commented on #1059
hi @ryanzhang-oss , is this issue still valid?

[2021-03-19 23:22] hongchaodeng opened #1243 "AppRevision should generate names of AC/components with revision suffix"
Currently the data generated in AppRevision has the following problems:

- AC doesn't have name.
- In AC it should use componentName instead of revision name.
- The label `app.oam.dev/component` in workload should be set to the component revision name.

The above are needed to support https://github.com/oam-dev/kubevela/issues/1144

[code]

[2021-03-20 18:02] hongchaodeng commented on #1243
After discussing with @ryanzhang-oss, we decided to keep the original code path as is.

The appDeployment controller will parse the AppRevision to generate its own revisioned-name for components.
One item to implement is to add annotation `app.oam.dev/revision-only` to not create components and AC in app controller.

[2021-03-20 18:02] #1243 closed

[2021-03-21 00:21] hongchaodeng opened #1253 "context.AppRevision is not propagated correctnly"
The AppRevision should be propagated to the `context.AppRevision`: https://github.com/oam-dev/kubevela/blob/379e1432221b00baa433ddf595cdcbc369f1d393/pkg/dsl/process/handle.go#L24

Nonetheless, currently when app controller reconciles, it calls GenerateAppFile() where the RevisionName is not set: https://github.com/oam-dev/kubevela/blob/379e1432221b00baa433ddf595cdcbc369f1d393/pkg/appfile/parser.go

[2021-03-21 00:31] hongchaodeng opened #1254 "Application Controller should not "Update" an AppRevision"
Currently the app controller could **UPDATE** an AppRevision: https://github.com/oam-dev/kubevela/blob/379e1432221b00baa433ddf595cdcbc369f1d393/pkg/controller/core.oam.dev/v1alpha2/application/apply.go#L110-L118

This doesn't make any sense. An AppRevision is an immutable thing. It should not be updated. A potential problem with this code is that in second time reconcile some of the labels could b

[2021-03-21 01:00] hongchaodeng opened #1255 "In AppRevision components have no name"
Currently in AppRevision the components have no name like below:

[code]

The problem is that there is no way to correlate the  components and ACComponents.

[2021-03-21 07:54] ryanzhang-oss commented on #1254
it is to update the label/annotation. Yes, the labels/annotation can change within a revision. The rationale behind it is that we won't have two revisions that only differ in labels/annotation so they are meaningfully different.
I am guessing that you want to create one revision for each cluster (with just label difference)? I am not sure if that's what revision is for.

[2021-03-21 13:17] hongchaodeng commented on #1254
I'm not sure what you mean here. That's not what the problem I'm describing above.

The problem is that in second time the context.AppRevision (e.g. v2) will be bumped up while the actual AppRevision name is still the old one (e.g. v1)

[2021-03-21 19:11] hongchaodeng commented on #1255
This is due to applying another k8s object in an object.
[code]

We should change to type `runtime.RawExtension`.

[2021-03-21 19:22] hongchaodeng commented on #1254
Discussed with @ryanzhang-oss offline. We will not rely on context.AppRevision.
Instead, AppDeploy controller will pass in revision label to AC to wrap labels around pods.

[2021-03-21 19:22] #1254 closed

[2021-03-22 03:29] #1255 closed

[2021-03-22 08:31] rapkey opened #1262 "WARN: handle workload template `containerizedworkloads.core.oam.dev` failed: template not exist in definition, you will unable to use this workload capability"
Always show the following msg while run `vela workloads`.
`WARN: handle workload template `containerizedworkloads.core.oam.dev` failed: template not exist in definition, you will unable to use this workload capability`

How can I konw which workload cause this warning?

[2021-03-22 09:14] sunny0826 commented on #1155
@wonderflow @resouer As of now, the process has been initially tested and the new process is based on the GItHub Action automation setup documentation. Users only need to edit the `.md` and `sidebar.js` files in `/docs` under the [kubevela](https://github.com/oam-dev/kubevela) repo, and the push will trigger GItHub Action to automatically update the website content.

Example Project：https://pod-le

[2021-03-22 16:16] #1222 closed

[2021-03-23 00:57] hongchaodeng commented on #1144
The feature has been implemented and undergoing review in PR #1193 .
An example walkthrough is available here: https://github.com/hongchaodeng/kubevela/tree/appdeploy/docs/examples/appdeployment
Any feedback is welcome!

[2021-03-23 03:02] wonderflow opened #1265 "[Feature] add schematic.kube section to align with spec 0.2.2"
[code]

https://github.com/oam-dev/spec/issues/443

[2021-03-23 03:13] captainroy-hy commented on #1265
I would like to help with this issue.

[2021-03-23 03:18] wonderflow commented on #1262
It's because this workload `containerizedworkloads.core.oam.dev` doesn't contain a `schematic` template, others will work normally. You can delete it if youre not using it.

[code]

[2021-03-23 03:20] wonderflow commented on #1155
Cool, please go ahead!

[2021-03-23 03:26] hongchaodeng commented on #1144
Discussed current implementation issues in AppDeployment with @ryanzhang-oss @wonderflow .

Here's the recap:
- AppDeployment controller would be changed to skip AppConfig/Comps and directly render k8s resource from AppRevision.
- Currently app controller renders workloads first before getting to know the final application revision. We need to fix it to decide the app revision first and then rende

[2021-03-23 04:09] zzxwill opened #1266 "[Feature] Provide a way to disable revisioning for a component"
**Is your feature request related to a problem? Please describe.**

If a component is a Crossplane managed resource, creating a new revision might not work as it might fail when the Observe reconciling find a managed resource is already there and not controlled by the current controller.

For example, more than one Crossplane RDSInstance revision will be created and the newer one will fail.

[code

[2021-03-23 10:24] wonderflow commented on #733
Now we have  [`vela system dry-run`](https://github.com/oam-dev/kubevela/tree/master/docs/examples/dry-run) which will render K8s resource.  And we have [AppRevision](https://github.com/oam-dev/kubevela/blob/master/apis/core.oam.dev/v1alpha2/applicationrevision_types.go) records all the revision information(including Application and Definition snapshot).

The live diff could be implemented now.

[

[2021-03-23 10:38] rapkey commented on #1262
@wonderflow But I never create this workload. Where it from?

[2021-03-24 02:21] wonderflow opened #1274 "Revisit the doc site and merge the docs"
1. This doc is confusing with https://github.com/oam-dev/kubevela/blob/e17b3a43841829f14488aa586a24c7fd5d5b5ff8/docs/en/cue/basic.md It will be cleaner if we can move all `CUE basic` (including CUE CLI) narratives to `basic.md` and leave this doc as a guide for creating a definition objects.
 2. And then please revisit what's the relationship between this doc with `Define Component` doc, they two

[2021-03-24 02:28] wonderflow commented on #1262
It's a default workload installed by the Vela chart.

[2021-03-24 03:08] #1171 closed

[2021-03-24 05:23] resouer opened #1278 "[Feature] Add extensions guides back when vela is ready"
**Is your feature request related to a problem? Please describe.**

In PR #1270 , I temporarily deleted these docs because they are not built-in capabilities anymore: https://github.com/oam-dev/kubevela/pull/1270/files#diff-30a5a76180d46829fe7d37ea60f40850d75858723ed7914ae3ea476a65d9c145L37

But we should add them back as tutorials of add existing community capabilities to KubeVela, especially for

[2021-03-24 05:38] resouer commented on #1262
@wonderflow with v0.3.0 spec (kubevela v1.0), we need to decouple component and workload types, `vela workloads` should not complain. It seems we need a `vela components` command.

[2021-03-24 07:02] wonderflow commented on #1278
Yes, we've already supported , just add a tutorial document will fix this issue.

[2021-03-24 07:03] wonderflow commented on #1262
@resouer  Yes, agree, it's in my plan, will finish it in these two days.

[2021-03-24 07:45] rapkey opened #1283 "Get error while using traits"
Get following msg, bug the `ports` fields is provided correctly.
`cannot apply components: cannot apply trait \"v1\" \"Service\" \"mysql\": cannot create object: Service \"mysql\" is invalid: spec.ports: Required value`

[code]

[2021-03-24 07:47] #1283 closed

[2021-03-24 07:48] rapkey commented on #1283
The ports fields show under the spec.

[2021-03-24 07:50] rapkey commented on #1262
The default workload raise warning？

[2021-03-25 00:34] ryanzhang-oss opened #1288 "traitDefinition controller can't generate the schema"
**Describe the bug**
"E0325 00:28:45.137211       1 traitdefinition_controller.go:76] "cannot store capability in ConfigMap" err="cannot generate OpenAPI v3 JSON schema for capability manualscalertraits-extended.core.oam.dev: capability manualscalertraits-extended.core.oam.dev doesn't contain section `parmeter`"

**To Reproduce**
Helm install vela

[2021-03-25 01:29] rapkey commented on #1262
@wonderflow
Thanks for your help.But why the default workload raise warning？

[2021-03-25 01:36] sunny0826 commented on #1155
preview url: https://kubevela.guoxudong.io

[2021-03-25 02:57] wonderflow opened #1291 "[Feature] support volume into webservice/worker component definition and add traits for different volume implementation"
1. Make it the parameter of the built-in WebService and Worker ComponentDefinition.
2. Write a tutorial about how to add volume into Definition.

[2021-03-25 10:32] zzxwill opened #1295 "Bump crossplane/crossplane-runtime from alpha version to official version"
**Is your feature request related to a problem? Please describe.**

In version v0.13.0, the API of crossplane/crossplane-runtimehas has reached its official version `v1`. Considering bump api `github.com/crossplane/crossplane-runtime/apis/core/v1alpha1` v0.10.0 to `github.com/crossplane/crossplane-runtime/apis/common/v1` v0.13.0.

**Describe the solution you'd like**

**Describe alternatives you'v

[2021-03-25 21:33] resouer commented on #1262
@rapkey Please check this comment: https://github.com/oam-dev/kubevela/issues/1262#issuecomment-805515069, this is a bug in vela cli.

[2021-03-25 23:04] #1278 closed

[2021-03-26 00:41] resouer opened #1305 "[Feature] Package oam-k8s-runtime and support OAM spec v0.2.x"
**Is your feature request related to a problem? Please describe.**

We need to ensure KubeVela supports OAM spec v0.2.x release as well. Users can decide which OAM spec version release they want to use during installation (and default latest).

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-26 03:08] rapkey commented on #1262
@resouer Get. Thanks a lot.

[2021-03-26 03:45] wonderflow commented on #1262
Closing as it should be fixed in the master branch.

[2021-03-26 03:45] #1262 closed

[2021-03-26 03:50] wonderflow commented on #1207
New docs were added,please read and have a try, thanks. https://kubevela.io/#/en/cue/component?id=a-full-workflow-of-how-to-debug-and-test-cue-definitions

[2021-03-26 03:50] #1207 closed

[2021-03-26 05:21] sunny0826 opened #1308 "[Website] The `docs` dir needs to be revamped"
The development of the new version of the official website has been completed.
preview url: https://preview.kubevela.io

The current documentation directory needs some modification, see:  https://docs.google.com/document/d/1PDG4P4CGhXjiSmaJkqDA-r9yGUwAYEZW4kErnlAoGJE/edit?usp=sharing

[2021-03-26 06:26] wangyikewxgm opened #1311 "Why application CRD description field have line break when it's too long"
As title said,  but other CRDs don't. This broke my CI pipeline

https://github.com/oam-dev/kubevela/blob/20a31d4554466206fe939dae141eee379fe45a7f/charts/vela-core/crds/core.oam.dev_applications.yaml#L60

[2021-03-26 06:37] captainroy-hy commented on #1311
Maybe you can try upgrading your kustomize bin to v3.8.2. Legacy version kustomize has the problem you said.

[2021-03-26 07:00] cnbailian opened #1313 "improve cue error message for jsonschema decode error"
**Describe the bug**
pod log:
[code]

**Cluster information**
[code]

[2021-03-26 07:39] yangsoon opened #1314 "Can't create deployment in Kind-cluster(k8s-version:1.20.2)"
**Describe the bug**

kubevela(1.0.0) in Kind-cluster(k8s v1.20) can't create deployments.

**To Reproduce**
env:
1. MacOs: version: 10.15.5 (19F101)
2. Kind: version: v0.10.0 go1.15.7 darwin/amd64
3. k8s: version: v1.20.2

When run demo in [https://kubevela.io/#/en/quick-start-appfile](https://kubevela.io/#/en/quick-start-appfile),the log did not print any errors.  Corresponding resources Applica

[2021-03-26 11:34] #1311 closed

[2021-03-26 12:16] zzxwill commented on #1227
Change image pull policy to `Always` doesn't work. But changing the image name to a different one will fix it.

[2021-03-26 14:20] wonderflow commented on #1227
let's close as @lowkeyrd told me the 1.0.0-rc2 works

[2021-03-26 14:20] #1227 closed

[2021-03-26 14:20] #1196 closed

[2021-03-26 15:02] #1265 closed

[2021-03-27 04:12] #1253 closed

[2021-03-27 05:29] #1194 closed

[2021-03-27 07:19] #1110 closed

[2021-03-28 10:24] #1155 closed

[2021-03-28 10:25] #922 closed

[2021-03-28 10:25] #932 closed

[2021-03-28 10:26] #1308 closed

[2021-03-28 10:26] #1274 closed

[2021-03-28 10:26] #1221 closed

[2021-03-28 10:27] #1220 closed

[2021-03-29 02:24] hongchaodeng opened #1337 "Add AppDeployment/AppRollout doc to the website"
The docs are here:

AppDeploy: https://github.com/oam-dev/kubevela/blob/master/docs/examples/appdeployment/README.md
AppRollout: https://github.com/oam-dev/kubevela/blob/master/docs/en/rollout/rollout.md

Need to refine it based on mdx and update the TOC.

[2021-03-29 02:26] wonderflow commented on #1337
![image](https://user-images.githubusercontent.com/2173670/112779308-02f53900-9079-11eb-8358-43cc642e5b71.png)

I suggest the hierarchy could be like this.

The docs should be in： https://github.com/oam-dev/kubevela/tree/master/docs/en
The TOC file: https://github.com/oam-dev/kubevela/blob/master/docs/sidebars.js

[2021-03-29 03:10] wangyikewxgm opened #1339 "Resolve limitation of cross namespace resources"
Now, our  implementation of support cross namespace resources have a limitation.If user update definition by changing the `metadata.namespace` field. KubeVela will create new resources in the new namespace but not delete old resources.
We should design a GC mechanism in application controller to handle this corner case

[2021-03-29 03:33] cnbailian commented on #1313
I found the cause, because cue-jsonschema does not support the openapi enum syntax.

wrong crd resource:
[code]
source: https://github.com/kubesphere/ks-installer/blob/master/roles/common/files/ks-crds/storage.kubesphere.io_provisionercapabilities.yaml

If the cue package can’t fix the problem, can we provide better error message?

[2021-03-29 04:25] wonderflow commented on #1313
Thanks for the report, we're investigating on it . \cc @leejanee @yangsoon

[2021-03-29 06:17] zzxwill opened #1343 "Check kustomize's existence and version before asking to remove it"
**Describe the bug**

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2021-03-29 07:52] cnbailian commented on #1313
If there are related discussion, can i join in?

[2021-03-29 08:30] wonderflow commented on #1266
This is fixed by #1315

[2021-03-29 08:30] #1266 closed

[2021-03-29 08:47] mhoad commented on #609
@hongchaodeng is this something that you are looking to include as a part of the 1.0 release? I see it on the Alpha release roadmap project but not tagged in the 1.0 release milestone I wasn't sure which one I should be referencing.

[2021-03-29 09:41] wonderflow commented on #1337
We have copy the tuturial https://kubevela.io/docs/rollout/appdeploy please refine it.

[2021-03-29 10:09] zzxwill opened #1350 "[Feature] support part of components to reconcile even the whole application hit reconciling issue"
**Is your feature request related to a problem? Please describe.**

For example, I have two components, `express-server` will try to consume the output secret `db-conn` generated by RDS instance of component `sample-db`.

[code]

If in some situations, `express-server` wants to directly use the value of secret `db-conn` of item like `endpoint`.  Then component `sample-db` has to run first, create

[2021-03-29 10:18] zzxwill opened #1351 "[Feature] add workload type for components in Application .status"
**Is your feature request related to a problem? Please describe.**

When I'd like to check whether all components of an application are provisioned, I normally use `kubectl get components`.

[code]
Then I can quickly check Crossplane managed resource `RDSInstance` and `Bucket` in a convenient way.

[code]

As application is the main entry object, so its status should also contain the workload kind

[2021-03-29 13:58] zzxwill commented on #862
Closing this issue as it's included in #1128

[2021-03-29 13:58] #862 closed

[2021-03-29 14:24] zzxwill commented on #698
Log the design of server-side Terraform controller as discussed with @wonderflow two weeks ago.

![image](https://user-images.githubusercontent.com/2805315/112848546-c65a2980-90da-11eb-882c-09675ed3029c.png)

## Notes:
- Every Terraform worker (job) won't work for specific Terraform configuration. After it's assigned to run a configuration, it's created, run `terraform init/apply`, expose the stat

[2021-03-29 16:56] #1314 closed

[2021-03-29 22:43] hongchaodeng commented on #1337
AppDeployment doc PR: https://github.com/oam-dev/kubevela/pull/1355

[2021-03-29 23:23] #1337 closed

[2021-03-29 23:30] wonderflow opened #1357 "Support traffic management in Application rollout with workflow"
We should have Traffic Management feature for [app rollout](https://kubevela.io/docs/rollout/rollout) like flagger. #299

[2021-03-29 23:30] wonderflow commented on #299
We have implemented the Rollout https://kubevela.io/docs/rollout/rollout  Traffic Management will be supported in the next release. I'll close this one and write a new issue #1357 .

[2021-03-29 23:30] #299 closed

[2021-03-29 23:33] wonderflow commented on #1128
We have supported design in this issue: https://kubevela.io/docs/platform-engineers/cloud-services .

As there're still many discussions here, I'll keep the issue open and leave it to the next milestone.

[2021-03-29 23:35] wonderflow commented on #609
@mhoad  We'll support that in v1.1

[2021-03-29 23:44] wonderflow commented on #733
live diff for helm https://github.com/databus23/helm-diff

[2021-03-29 23:51] wonderflow opened #1358 "add mysql operator as KubeVela Custom Workload tutorial in hands on club"
[Mysql Operator](https://github.com/presslabs/mysql-operator) can be easily integrated with KubeVela, let's add it as one of the tutorials in hands on club

[2021-03-30 02:17] hongchaodeng commented on #609
Hi @mhoad , we are planning to add it in v1.1

[2021-03-30 06:29] wonderflow commented on #1314
https://github.com/kubernetes/kubernetes/pull/92743

[2021-03-30 07:24] yangsoon opened #1360 "[Feature] Add the process and specifications for translating docs into Chinese"
Now there is a great demand to translate documents into Chinese, needs a process and specification for translating documents.

[2021-03-30 07:46] rapkey opened #1361 "Got error when I installed kubevela in k8s."
Docker build by the Dockerfile in this repo(master branch).
run with a deployment
[code]
Then get error with `kubectl logs podname`
[code]

[2021-03-30 08:20] wonderflow commented on #1361
It seems there lacks some of the CRDs, please apply these CRDs https://github.com/oam-dev/kubevela/tree/master/charts/vela-core/crds

[2021-03-30 08:34] rapkey commented on #1361
@wonderflow Thanks for your help. It works.But new error arise.
[code]
How can I set the certificate? Is there any spec for this?

[2021-03-30 08:43] rapkey commented on #1361
@wonderflow This error seems caused by re-apply the crds in https://github.com/oam-dev/kubevela/tree/master/charts/vela-core/crds.

[2021-03-30 08:55] wonderflow commented on #1361
Yes, the new CRDs have a new version and contains the convert webhook. You'd better install the helm chart (https://kubevela.io/docs/install/ ), so the webhook will automatically installed. After that, you could delete the deployment contains vela-core only and run your own.

[2021-03-30 09:05] heifire opened #1363 "vela cli show function is error"
**Describe the bug**
shell: vela show webservice
This command will raise panic as follow Screenshots . But " vela show ingress"  was worked well.

**Screenshots**
![image](https://user-images.githubusercontent.com/6202799/112962868-6a92ad80-9179-11eb-9fd3-b3e43d556b06.png)

**Cluster information**

kubernetes v1.18.8

**Additional context**

1. vela-core-1.0.0
2. vela cli
    Version: refs/tags/v1

[2021-03-30 09:42] zzxwill opened #1365 "[Feature] pod failure message should report to Application object level"
**Is your feature request related to a problem? Please describe.**

To help debug a failure of Application provisioned by a colleague, I didn't find any error message in the application chain application --> applicationrevision --> applicationcontext --> component --> cloneset (workload). All the way down to pod, we found the issue finally.

[code]

It will cost so much time to debug a failure.

#

[2021-03-30 09:44] rapkey commented on #1361
@wonderflow ok.

As t'he

[2021-03-30 11:21] rapkey commented on #1361
@wonderflow I uninstall the kubevela by `helm uninstall -n vela-system kubevela` and remove the crds
[code]
Then reinstall by `helm install --create-namespace -n vela-system --set admissionWebhooks.certManager.enabled=true kubevela kubevela/vela-core`

Get the same error `Error from server: conversion webhook for core.oam.dev/v1alpha2, Kind=Application failed: Post "https://vela-core-webhook.vela-

[2021-03-30 13:36] #1363 closed

[2021-03-30 13:39] wonderflow commented on #1361
Did you have cert-manager in your cluster? `--set admissionWebhooks.certManager.enabled=true` relies on an cert-manager to be exist.

[2021-03-31 00:09] wonderflow opened #1367 "[Feature] Use pure github action commans for website sync"
Currently the docs website automatically sync by a outer action: https://github.com/oam-dev/kubevela/blob/master/.github/workflows/release-docs.yaml#L15

In fact, this job could be done by the script just as the docs check action https://github.com/oam-dev/kubevela/blob/master/.github/workflows/check-docs.yml#L19

[2021-03-31 00:17] wonderflow opened #1368 "[Feature] add additional print column and short Name for CRD"
Now, our CRD has very limit information if we just list them.

## Application

[code]

In fact we should add additional print column , for example:

[code]

Add short name `apps`

[code]

## AppRevision

1. short name: `revisions`, `apprev`
2. additional columns should contain info: `NAME`(revision name), `APP`(application name), `HASH`, `AGE`

## AppRollout

1. short name: `approllout`, `rollout`

[2021-03-31 00:35] wonderflow commented on #1365
I hope this feature could help? https://kubevela.io/docs/cue/status The platform builder could define healthPolicy and status for error message.

[2021-03-31 01:55] rapkey commented on #1361
@wonderflow yes.
[code]

[2021-03-31 01:57] rapkey commented on #1361
@wonderflow It worked well before reinstall the kubevela.

[2021-03-31 02:08] rapkey commented on #1361
@wonderflow It seems that the clean up spec in

[2021-03-31 02:12] wonderflow commented on #1361
According to the error message, it seems the webhook service was not working, does the kubevela core pod running properly?

Thanks for reminding, what else resources are left?

[2021-03-31 02:17] sunny0826 opened #1369 "helm chart ComponentDefinition doesn't generate jsonschema ConfigMap"
**Cluster information**
- k8s v1.19.1 [kind]

ComponentDefinition

[code]

Describe

[code]