[2022-05-04 07:58] hprotzek opened #3805 "[BUG] vela up segmentation violation"
Running:
CLI Version: 1.3.3
Core Version: 1.3.3
GitRevision: 45e1de19dc736b10b3eb2d908d809210f470b24f
GolangVersion: go1.18.1

On `vela up -f ./vela.yaml` the command fails with:
[code]

Possible thats this dependency thats not updated?
https://github.com/modern-go/reflect2/issues/26

[2022-05-04 08:10] hprotzek commented on #3805
Reverting vela cli to 1.3.2 fixes the problem.

[2022-05-04 09:21] oeular opened #3806 "[Feature] Support the multi-cluster capacity can be configured to the related trait controller"
For the trait CR can be installed in the hubcluster with the specified description, there are some problems to be solved.
- how the trait controller to control the managed cluster on its needs
- if each trait controller is implemented on different ways, there will be much redundancy codes in many addons
- so is there some way to open the vela multi-cluster capacity to its addons
- maybe abstract t

[2022-05-04 09:28] Carmendelope opened #3807 "Kustomize v3.8.2 not available for darwin-arm64"
**Describe the bug**

When trying to compile kube-vela in a darwin-arm64 machine, the compilation fails receiving the following error: `Version v3.8.2 does not exist.` I already have kustomize installed:
[code]
Reviewing the kustomize versions, it seems that  support for darwin arm starts from [v4.2.0](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.2.0)

**To Reproduce**

[2022-05-04 11:18] wonderflow opened #3808 "[Feature] support chart value to disable conversation on application crd"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/2173670/166671113-f5870981-9113-4945-9aa3-ecf0ddb9cc20.png)

By default, the conversation section of application CRD will be patched a tls certificate by helm job on installation.
The conversion section is used to convert CRD application v1alpha2 to v1beta1, it's used only by user

[2022-05-04 11:21] jinnjwu opened #3809 "Enable vela cli log level args, like INFO, DEBUG"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-04 11:22] wonderflow commented on #3807
You can edit the makefile to your version to avoid this issue. And Yes, we also need to upgrade the kustomize version to v4.2.0.

Would you like to help with that?

[2022-05-04 11:27] wonderflow commented on #3805
@hprotzek Thanks for reporting, we'll fix it ASAP.

[2022-05-04 11:31] barnettZQG commented on #3803
@JarHMJ The secret with name admin is exist in vela-system namespace.

[2022-05-04 11:34] #3803 closed

[2022-05-04 11:36] jinnjwu commented on #1662
Orgnization/Company: HSBC
Location: Guangzhou, China
Contact: [jinn.j.wu@hsbc.com](jinn.j.wu@hsbc.com)
Purpose/Scenario: Plan to adopt kubevela terraform controller capability for multi-cloud resource provisioning

[2022-05-04 13:12] Carmendelope commented on #3807
Sure, I will send a PR with the latest kustomize revision

[2022-05-05 00:52] zzxwill commented on #3679
@quintonm Will it help with the upgrade issue?

[2022-05-05 02:07] barnettZQG commented on #3806
@oeular Can we discuss this at the next community meeting?

[2022-05-05 02:09] wangyikewxgm commented on #3618
Yes, definitely right . Your proposal are also my planning things to do. The `vela addon package` command can generate the `Chart.yaml ` file from metadata.yaml. Do you have interest to implement this feature? We can discuss some details ：）

[2022-05-05 02:31] Somefive commented on #3805
@hprotzek Thanks for the reporting. Could you give an example of your ./vela.yaml so that we can diagnose the bug?

[2022-05-05 02:34] Somefive commented on #3797
@JarHMJ Great!

[2022-05-05 02:45] FogDong commented on #3798
There should be some logs in vela core if the schema is not generated, can you show me the logs?

[2022-05-05 02:49] FogDong commented on #3583
Hi, you can take a look at [here](https://github.com/dexidp/dex/blob/master/web/themes/light/logo.png)

BTW, I think we should fork dex for this issue. /cc @wonderflow

[2022-05-05 02:58] wangyikewxgm commented on #3745
As for fluxcd addon, I propose a  feature of dynamic enable a part of addon by parameter.For example `vela addon enable fluxcd onlyHelm=true` would only enable helm controller and source controller. Please note that parameter should be work with addon's resource sand definitions.

[2022-05-05 03:11] wangyikewxgm commented on #3141
Can you regenerate the bug in latest version? I think this bug have already be fixed.

[2022-05-05 04:29] charlie0129 commented on #3583
Well, is editing the source code of `dex` a must? If it is, we might also need a fork, helm chart, changes to the dex addon , etc.

One question, why is editing configuration entry not considered:

[code]

[2022-05-05 04:30] wangyikewxgm commented on #3097
Have been fixed by #3457. Closing.

[2022-05-05 04:30] #3097 closed

[2022-05-05 04:31] wangyikewxgm commented on #2983
I think this issue have been fixed. Can you try again with the latest version? @zzxwill

[2022-05-05 04:47] wangyikewxgm commented on #3182
IMO this issue have been fixed. Closing，feel free if the issue still exist.

[2022-05-05 04:47] #3182 closed

[2022-05-05 05:22] wonderflow commented on #3583
[code]

If this works, we should use this configuration instead of fork the dex repo.

[2022-05-05 05:43] charlie0129 commented on #3583
An example with KubeVela logo using the above configuration looks like this:

![Screen Shot 2022-05-05 at 1 42 47 PM](https://user-images.githubusercontent.com/55270174/166868625-d3bb5e16-9e3e-4153-85a6-10f4a9d69a5f.png)

[2022-05-05 06:00] oeular commented on #3806
@barnettZQG OK, we discuss this at the next meeting.

[2022-05-05 06:15] charlie0129 commented on #3219
Cannot reproduce with KubeVela v1.3.3, Kubernetes v1.23.3.

As `100.0.0.0/8` is an internal IP address used by ISPs in China, probably you should check whether you have proper internet connections.

[2022-05-05 06:40] hprotzek commented on #3805
@Somefive
[code]
[code]

[code]

[2022-05-05 06:40] wonderflow commented on #3583
@charlie0129  Great, that's what we expected. Please send a PR. BTW, is that possible to replace the icon.

![image](https://user-images.githubusercontent.com/2173670/166873856-50243029-ddb5-4547-b3fe-df749182a7f3.png)

[2022-05-05 07:40] #2321 closed

[2022-05-05 07:48] charlie0129 commented on #3583
AFAIK, changing favicon is not possible without changing web static files in dex. Configuration file alone is not enough.

Will investigate.

[2022-05-05 09:02] shikingram opened #3813 "[Feature]about webservice cue templete"
We encountered some scenarios when using custom X-Definition, In some cases we need to use configuration properties of extended resources, E.g:
[code]
The current template does not support such a setting method, we can modify it as follows
[code]
In this way, we can configure resource properties more flexibly

The above are just suggestions

[2022-05-05 09:16] barnettZQG commented on #3813
@shikingram You can customize your definition. If the change is suitable for other users, welcome to contribute to core definitions.

[2022-05-05 13:58] cloorc commented on #3799
Could it be the RBAC rule issue? My applications were deployed in other namespace, such as `develop` or `test`. What should be the right `ClusterRole` for `kubevela`? I've only found a role named `kubevela-vela-core:leader-election-role`. Is it enough?

[2022-05-05 18:32] diego-milhomes commented on #3771
This works for me.

In the managed cluster:

[code]

I used krew plugin view-serviceaccount-kubeconfig to generate kubeconfig for this serviceaccount.
[code]

After this in the hub cluster:
[code]

[2022-05-06 00:40] fourierr commented on #3806
At present, our addon and VelaCore use the same SA to access clustergate, we want VelaCore and addon to use different authorization

[2022-05-06 02:16] #3583 closed

[2022-05-06 09:00] FogDong opened #3817 "[Feature] Add `SourceToImage` workflow step in KubeVela"
**Is your feature request related to a problem? Please describe.**

KubeVela now has the strong capability in CD but lacks in CI, we can first add `s2i` (sourceToImage) workflow step to start.

**Describe the solution you'd like**

We can refer to:
1. kaniko: https://github.com/GoogleContainerTools/kaniko
2. s2i: https://github.com/openshift/source-to-image
3. buildkit: https://github.com/moby/bui

[2022-05-06 12:03] fourierr opened #3818 "[Feature] Can traits take effect independently of workflow?"
# Can traits take effect independently of workflow?
### The scenario is as follows:
Two components are serially dispatched to the cluster through two worflowsteps and running normally;
Then the application is modified and deployed again with some errors and the first component is dispatched incorrectly, the user wants to modify the replicas of the second component through the scaler.
However, the

[2022-05-07 03:28] FogDong commented on #3818
That's because the workflow will not be executed if the first step is failed.
I guess if we can use `substeps` in this case, and wrap the two steps in one step, then the second step can deploy no matter the first step is failed or not.

[2022-05-07 03:58] fourierr commented on #3818
@FogDong Yes, if the user uses substeps, it can cover this issue, but the orchestration of the workflow is exposed to the user, who may not use substeps. We will first continue to clarify this problem within our team, and then we will give a detailed proposal about this issue.

[2022-05-07 05:20] wangyikewxgm opened #3822 "[Feature] dynamic install only parts of components when enable an addon."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Some addons are rely on helm delivery capability. But our fluxcd addon is too huge, which need to install five controller(helm, source, imageUpdater, kustomize) but most user only need the capability of helm delivery. So I propose a feature of dynamic installing parts of components of an addon

[2022-05-07 05:38] wonderflow commented on #3818
In this case, we can update the workflow to reverse the steps.

[2022-05-07 06:45] FogDong commented on #3818
I think the point of this case is that our workflow is running in `StepByStep` mode.
And in this case, we don't want the latter step to have some dependency on the former one, so if we can set the workflow mode to `DAG`, we can solve the case.

[2022-05-07 07:02] hairongGao commented on #3798
I've placed the logs in post, " Screenshots " part.

[2022-05-07 07:03] hairongGao commented on #3798
I've placed the logs in post, " Screenshots " part.

[2022-05-07 07:05] wangyikewxgm commented on #3745
Have submited a proposal https://github.com/kubevela/kubevela/issues/3822 to reduce the number of components of fluxcd addon by dynamic ignore parts of files by parameter. Please give some advice @StevenLeiZhang @cezhang

[2022-05-07 07:09] wonderflow commented on #3818
This could be a good scenario for #3399

[2022-05-07 07:24] fourierr commented on #3818
@wonderflow @FogDong I think modifying replicas is just a simple `operation` And make it as easy as possible for users to use these `operations`. There are many `operations` like this, replicas, env, domian, etc. Under the above case, users must update their workflow to achieve the purpose of modifying replicas, which undoubtedly increases the burden of users.

[2022-05-07 08:36] rainwolf01 opened #3825 "[Feature] workflow support get application status for notification after `apply-application`"
**Is your feature request related to a problem? Please describe.**

no

In my CD workflow:
- use  `apply-application`, I want to know application status for notification
  - if application health, send notification success message
  - if some error or application unhealthy within a certain time , send notification  failed message.

**Describe the solution you'd like**

no

**Describe alternatives

[2022-05-07 12:44] wonderflow commented on #3287
closing, feel free to reopen it if you still have this issue.

[2022-05-07 12:44] #3287 closed

[2022-05-07 14:07] StevenLeiZhang commented on #3822
How does user know the relationship between x-definition and  the install switch? Maybe addon provider need more document for user to describe which switch should be "true" to enable x-definition.
For example: If user want to use Component "Helm", he has to know " onlyHelm=true".

Can we provide some dynamic addons? It looks like FaaS.  When user uses some Component, Vela can dynamicly launch its

[2022-05-07 15:39] #3618 closed

[2022-05-08 01:41] oeular commented on #3818
If traits can take effect independently, it will bring much more efficiency to application operation, and make the complexity of application controller lower , and even more,  the architecture may be much more extensible.

[2022-05-08 01:46] wonderflow commented on #3818
@fourierr @oeular Do you have any idea about how this could work?

[2022-05-08 03:13] fourierr commented on #3818
We think it can be implemented via a new policy type.
The purpose is to make the update to component properties or traits can take effect directly under any circumstances and without changing the workflow, it seems to a optional and independent dispatcher at the component level, and we will post a detailed plan about this proposal in the comment later.

[2022-05-08 04:10] oeular commented on #3745
For the flexibility of the fluxcd addon for different scenarios, somethings want to be:
- when helm-controller is needed, only the related resources are needed to install, and at the most can be install with specified ns
- At the most, all controllers in fluxcd addon can be installed on their own according to the different scenarios

[2022-05-08 13:56] Somefive commented on #3805
@hprotzek Thanks for the example. I will look into it soon.

[2022-05-09 01:53] wangyikewxgm commented on #3822
Sorry, I don't get your point. The `onlyHelm=true` will used for both definition and controller. User need't get the knowledge about this, this will be defined by addon's maker. And the readme of addon would tell user: If you want only use `helm component` you can run `vela addon enable fluxcd onlyHelm=true`.

[2022-05-09 01:57] Echo-Van opened #3831 "The patchKey annotation of the strategy patch does not support multiple keys"
When I define a trait, I want to use patchKey annotation to achieve the following effect:

- if a duplicated key is found, the patch data will be merge with the existing values;
- if no duplication found, the patch will append into the array list.

However, the value of envFrom is an array, and the key of each item are configMapRef.name or secretRef.name. I tried to do it using patchKey annotation

[2022-05-09 02:20] wonderflow commented on #3831
It has been implemented in https://github.com/kubevela/kubevela/pull/3826

[2022-05-09 02:43] #3831 closed

[2022-05-09 03:07] #3797 closed

[2022-05-09 03:12] leejanee commented on #3818
I recommend that support new trait types: `placeholder`,It work after rendering and before apply the `resource`.
For example as bellow
[code]

[2022-05-09 03:37] wangyikewxgm commented on #3795
Do we need to set sync interval smaller?

[2022-05-09 03:40] barnettZQG commented on #2221
I will close this issue.

[2022-05-09 03:40] #2221 closed

[2022-05-09 04:02] wonderflow commented on #3795
* for the new helm type addon registry, the sync duration could be in less than 10s.
* for the old type, please keep 10min.

[2022-05-09 04:51] fourierr commented on #3822
FYI, one config.cue at root dir witch to define both parameter block and ignore is much better and more clear to user

[2022-05-09 06:56] wonderflow opened #3832 "[Feature] gateway trait should support https protocol"
**Is your feature request related to a problem? Please describe.**

The ingress behind of the gateway trait support  tls configuration but we didn't expose the arguments.

https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

We should support it to support https route.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-09 07:01] FogDong commented on #3825
Although we can make some special policies like `error-notification` to send notifications every time the workflow fails, but this solution lacks flexibility.

I think it's better if we extend our `dependsOn` to support more expressions like:

[code]

The `<step>.error` can be a special built-in expression that we'll reckon it as the failure ot the step.

We can also support some more like cue exp

[2022-05-09 07:04] wonderflow commented on #3825
good idea @FogDong

[2022-05-09 07:31] wonderflow opened #3834 "[Feature] run image scan CI for every pull request and fix CVEs in time"
**Is your feature request related to a problem? Please describe.**

Now we already have image scan in github action: https://github.com/kubevela/kubevela/blob/master/.github/workflows/codeql-analysis.yml#L9-L30

But it only run when PR is merged, this makes us don't catch CVEs in time.

**Describe the solution you'd like**

We should separate the image scan check out and run the check for every pu

[2022-05-09 08:06] cezhang commented on #3822
I prefer the second one. Since the "ignore" part is optional,  config.cue is enough for addon dev to know the meaning is about how to configurate the addon.

[2022-05-09 08:53] StevenLeiZhang commented on #3795
Investigation:
It is caused by https://github.com/kubevela/kubevela/blob/7bfcd6acc52192d8cdb9ffa075b1b1d4e90b0d00/pkg/addon/cache.go#L89

It does not retrieve cached data from versionedRegistry cache

[2022-05-09 09:04] JarHMJ commented on #3808
@wonderflow hi, I want to do this job.

[2022-05-09 09:04] JarHMJ commented on #3834
@wonderflow hi, I want to do this job.

[2022-05-09 09:06] wonderflow commented on #3834
great

[2022-05-09 09:07] wonderflow commented on #3808
@JarHMJ sure, you could comment `/assign` next time

[2022-05-09 09:08] wonderflow commented on #3808
/assign

[2022-05-09 09:09] JarHMJ commented on #3808
ok, thanks!

[2022-05-09 09:10] wonderflow commented on #3822
I think we can just use the `parameter.cue` to be the `config.cue` to avoid incompatiblilty

[2022-05-09 09:33] wangyikewxgm commented on #3822
Before the `parameter.cue` in the resource dir which only be used for resources, in this plan `config.cue` is in root dir. And the code will consider the compatibility. I'm concern about put ignore block in parameter.cue would make developer confused.

[2022-05-09 09:45] StevenLeiZhang commented on #3822
My concern is that:
For addon provider, he must very clearly know the relationship between X-Definition and controllers, in order to define "ignore.cue"
For addon user, he must very clearly know the relationship between X-Definition and switch parameter before he enable addon.

My idea is that: We don not change struct of addon package, vela can treat controller as FaaS, and automatically launch i

[2022-05-09 11:21] wonderflow commented on #3822
It's really great idea, it's not conflict with the current proposal. It means by defaut, every X-definition has a switch to the related controller. So we can make the command like this:

[code]

[2022-05-09 11:31] oiar commented on #3832
@wonderflow hi, I want to try it. And what about this?
`outputs: ingress: {
  spec: {
    if parameter.tls {
      tls: [{
        if parameter.hosts == _|_ {
          hosts: parameter.hosts
        }
        if parameter.secretName == _|_ {
          secretName: parameter.secretName
        }
      }]
    }
  }
}

parameter: {
  tls: *false | bool
  hosts?: [...string]
  secretName?: string
}`

[2022-05-09 13:35] StevenLeiZhang opened #3836 "sensitive field of addon registry is exposed"
**Describe the bug**
api "/api/v1/addon_registries" returns "Token", "username", "password" to caller.

**To Reproduce**
1. go to VelaUX webpage
2. go to Chrome's developer tool, and check the response of api  "/api/v1/addon_registries"
3.  this api returns "Token", "username", "password"

![image](https://user-images.githubusercontent.com/14890978/167426771-1e79fccc-828f-4903-94e1-1a1855a5f52f.pn

[2022-05-09 13:53] FogDong opened #3838 "[Bug] Failed to patch traits"
**Describe the bug**

We missed all the comments in cue(including the patch comment) in `value.lookupScript` since v1.2, so now all of our patched traits will fail.

For example, in the istio example, the patch in destination rule will fail: https://github.com/kubevela/catalog/blob/master/experimental/addons/istio/definitions/canary-rollout-wf-def.yaml#L49

**To Reproduce**

**Expected behavior**

[2022-05-09 14:09] fourierr opened #3840 "[Feature] Extend apply-once policy to allow the specified path configuration to drift"
## Extend apply-once policy to allow the specified path configuration to drift

**Is your feature request related to a problem? Please describe.**
One component contains both the scaler and the cpuscaler(hpa) trait. The initial replicas are set by the scaler, and the deployment is scaled by the hpa. However, now that hpa adjusts the replicas of the deployment, the scaler will also change the repli

[2022-05-09 15:41] ZhongsJie96 opened #3841 "[Bug]Failed to get trait list information"
**Describe the bug**

Error parsing capability will appear when using `vela trait`
<img width="396" alt="image" src="https://user-images.githubusercontent.com/62382570/167453116-3b8ad42f-cb55-45e4-8a9f-dcb2b845bc62.png">

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

[code]
**Additional context**

[2022-05-10 01:34] StevenLeiZhang commented on #3795
I think 10min is ok for production scenario.
Only dev scenario needs less duration, because you are both platform admin, who push addon , and platform user, who use the addon.

[2022-05-10 01:42] wonderflow commented on #3840
The proposal generally LGTM, how do you prepare to implement this partially statekeeper feature?

[2022-05-10 02:02] #3795 closed

[2022-05-10 02:08] #3836 closed

[2022-05-10 02:12] wonderflow commented on #3832
@oiar you should merge the parameters with the existing one:

https://github.com/kubevela/kubevela/blob/master/vela-templates/definitions/internal/trait/gateway.cue

[2022-05-10 02:13] fourierr commented on #3840
Keep the logic of the original statekeeper is first, and add a reassignment operation on resourceKeeper.Managerdresource.data.
The detailed operation is that
- Firstly resourceKeeper queries the specific resource in corresponding cluster,
- Secondly, get the value corresponding to ApplyOncePath from the resource,
- Thirdly, then sets the value to resourceKeeper.managedResource.Data, a
- Finally, c

[2022-05-10 02:14] barnettZQG commented on #3841
Related issue: #3578

[2022-05-10 03:55] oiar commented on #3832
@wonderflow ok, I made some changes:
[code]

[2022-05-10 04:58] wonderflow commented on #3832
the domain should be one of the hosts

[2022-05-10 05:36] #3838 closed

[2022-05-10 06:49] wonderflow commented on #3840
BTW, we should add a diff mechanism for the advanced apply-once policy, to avoid the following case:

1. one has an application and define apply-once polciy

[code]

2. this user modify the replica of deployment directly

3. next time, the user deploy the application with new image version but didn't align the replica with the real production instace.

What will happen to it? Will it override the

[2022-05-10 07:11] fourierr commented on #3840
I'm not get the point of diff mechanism, and i think this situation is normal. Since the replicas field is released, the app should not take care of the change of this field.

[2022-05-10 07:40] oeular commented on #3840
It is a good extension for apply-once.
About the diff, we can show it to user on UX. When using vela CLI, we can provide a "vela diff" to compare the objects of application in hub-cluster and the objects in managed-cluster.

[2022-05-10 08:08] FogDong commented on #3825
After discussing with @leejanee and @yangsoon , we noticed that `dependsOn` is not a good way to specify error state, because if the state in `dependsOn` is not satisfied, we'll wait for it until it's ready, which is kinda confused in this case.

Instead, we can add `onFailed` in workflow steps like below:
[code]

For the case @rainwolf01  mentioned：
* if some error or application unhealthy within

[2022-05-10 08:59] cnfatal opened #3847 "[Feature] (charts) add cert-manager support for "cluster-gateway" tls certs and APIService"
**Is your feature request related to a problem? Please describe.**

in chart "vela-core",component "admission-webhooks" has a support of cert-manager **but "cluster-gateway" not**.

**Describe the solution you'd like**

Add cert-manager support for component "cluster-gateway".

**Describe alternatives you've considered**

Noop

**Additional context**

Noop

[2022-05-10 08:59] wonderflow commented on #3825
I propose onFailed => onFailure, and like this design.

To the `if condition` design, I'm a bit confused on your example.

[2022-05-10 09:04] FogDong commented on #3847
/cc @Somefive

[2022-05-10 12:11] fourierr commented on #3840
After offline talk with @wonderflow ,the VelaUX's diff was already implemented by cmb team,  and the code related with `diff` will be contributed to KubeVela repo by @Yidan Jin

[2022-05-10 12:29] oeular opened #3853 "[Feature] Support different meta info stored in different namespace (when use kubeapi )"
- At present, many resources are stored in configmaps (when use kubeapi), such as application, component, env, target, env-binding, and etc.
- BUT they are in the SAME namespace, it will be more hard to manage.
- So, different resources at best can be stored in different namespace (when use kubeapi), which will be clearer and more convenient to manage.

[2022-05-10 12:34] FogDong commented on #1851
As @oiar said, the first point, also is the main point of this issue, is already implemented in the form of `patch: context: outputs: resourcename`. However, the `context` here can override the global context in our cue files, so I'll submit a PR to fix that.
As for the second point, I think we can discuss that in another issue, and this issue can be closed when my PR is merged.

And the patch is

[2022-05-10 12:39] Somefive commented on #3840
The proposal generally LGTM. One suggestion to consider. In GarbageCollect policy, there are resource selector. I think the ApplyOnce policy could "reuse" the resource selector spec, in order to have a unified spec across different clusters. If we can make this alignment, users would not need to learn twice for configuring different policies.

[2022-05-10 12:48] FogDong commented on #3853
There're some resources that don't have namespace like user info, etc.
Should these data all stored in some default namespace?

/cc @barnettZQG

[2022-05-10 14:24] jinnjwu opened #3856 "More status 'vela addon ls', and add 'vela addon fluxcd log' to check if addon is really started, failed, what is error[Feature]"
**Is your feature request related to a problem? Please describe.**
When we run vela addon ls,  output only showing enabled, acuttally, addon is not started successfully backend, we would like to request more status on 'vela addon ls', and can print log on that.
From below log, it shows successfully, but backend fluxcd is not started

vela addon enable fluxcd/
enable addon by local dir: fluxcd/
I05

[2022-05-11 02:15] wonderflow commented on #3841
To fix this issue, we need to create x-definition yaml for these inner policies and traits. @ZhongsJie96

[2022-05-11 02:21] wangyikewxgm commented on #3856
The reason is components  of fluxcd addon is `k8s-objects`, this type of component cannot check the status ready.I think we can introduce a component type like `controller` witch means a backend long-running worker but needn't expose service, then configure the health check status.

[2022-05-11 02:50] wonderflow opened #3859 "DNS rebinding vulnerability found in etcd dependency"
| Package | Affected versions | Patched version |
| -----| ---------------- | ------------ |
| go.etcd.io/etcd(Go) | < 3.4.0 | 3.4.0|

DNS rebinding vulnerability found in etcd 3.3.1 and earlier. An attacker can control his DNS records to direct to localhost, and trick the browser into sending requests to localhost (or any other address).

We need to upgrade the dependency.

[2022-05-11 02:54] wangyikewxgm opened #3860 "[Feature] vela addon status shows more detail info."
**Is your feature request related to a problem? Please describe.**

The command `addon status` showing info  is too simple which only shows the addon whether  has been enabled. We can show more detail info about this addon.

**Describe the solution you'd like**

These info must be showed.

1. The addon's readme witch tell user how to use this addon.
2. All available versions of this addon.
3. Depe

[2022-05-11 02:56] FogDong commented on #3860
Similar issue: #3856

[2022-05-11 03:00] fourierr commented on #3840
Let me consider the GarbageCollect policy to "reuse" the resource selector spec and give feedback later

[2022-05-11 03:03] wangyikewxgm commented on #3860
Not exactly. This proposal is want to show verbose info. The solution of #3836 should change the component type and add health check for it. let the mechanism of health check in application controller to tell the status of addon.

[2022-05-11 03:04] fourierr commented on #3840
Yeah, a diff operator between cluster'real resource and app'record rsource was more clear for user. @oeular

[2022-05-11 03:30] charlie0129 commented on #3860
/assign

[2022-05-11 03:33] hzliangbin commented on #3859
@wonderflow but latest version is [v3.3.27+incompatible](https://pkg.go.dev/go.etcd.io/etcd@v3.3.27+incompatible?tab=versions)

[2022-05-11 03:53] Somefive commented on #3805
@hprotzek Sorry I wasn't able to reproduce the reported problems correctly. The vela 1.3.3 with the described environment actually works properly. It works as follows

[code]

There are several things that we could explore more.
1. Although I tried the vela-1.3.3 CLI for testing, it is a bit weird that the GoLang version in your vela-v1.3.3 is 1.18.1, since KubeVela now mainly uses 1.17 for build

[2022-05-11 03:57] wangyikewxgm commented on #3856
We can use the `worker` to implement the fluxcd's controller component type.

[2022-05-11 04:41] #3698 closed

[2022-05-11 05:09] fourierr commented on #3853
The meta resource was supported to store in different ns, but just the configration variable was not exposed to env or arguments

[2022-05-11 05:24] ZhongsJie96 commented on #3841
This bug may be caused by the definition of cue template

[2022-05-11 05:24] wonderflow commented on #3859
@hzliangbin  I  think `>3.3.1` is fine

[2022-05-11 06:09] hzliangbin commented on #3704
/assign

[2022-05-11 06:27] #3769 closed

[2022-05-11 06:28] ZhongsJie96 commented on #3841
Regarding issue #3578, since `json-merge-patch` is a relatively open trait, its parameters are empty and therefore cannot be edited temporarily. Is it possible to provide a general edit box for special processing, and `containers-image` cannot be displayed due to its complex parameter structure. I want to know how the front end takes parameter as the scheme.

[2022-05-11 07:30] #3384 closed

[2022-05-11 07:36] StevenLeiZhang commented on #3860
Is these informations covered by "status" or we need another command, such as "view", "show", to print them?

[2022-05-11 07:40] StevenLeiZhang commented on #3856
my proposal:
 let "vela addon status xxx" print the Application name of this addon, then user could execute " vela -n vela-system status xxxx" to show more details

[2022-05-11 07:50] StevenLeiZhang commented on #3853
I don't think it is reasonable to distribute meta info to different namespace。 What is the disadvantage of centralized store?

[2022-05-11 08:13] StevenLeiZhang commented on #3834
patch 'RUN apk update && apk upgrade' to Dockfile, it will resolve most of CVE issues.
As you know, most of solutions of CVE issues is to upgrade OS libraries.
But, it will cost more time for image build

[2022-05-11 08:40] StevenLeiZhang commented on #3818
Maybe, we need enhance `workflow`, allow user to describe the followed action.

[code]

[2022-05-11 09:06] JarHMJ commented on #3808
<img width="467" alt="image" src="https://user-images.githubusercontent.com/34236536/167812779-1502a177-7324-4912-962a-06fa3e9bcc16.png">

Should I disable the job together? @wonderflow

[2022-05-11 09:06] FogDong commented on #3825
The point of this issue is to send `notification` if the former step is failed.

It's kinda like the situation you commented on the #3818 and we can discuss here.

I think it's clear to add action in workflow like you described:
[code]

But still, it may lack some extendability.

[2022-05-11 09:12] StevenLeiZhang commented on #3817
Why not Kaniko?

[2022-05-11 09:16] wonderflow commented on #3834
Yeah, we have added the check for very pull request , it will remind us ASAP. Closing this issue.

[2022-05-11 09:16] #3834 closed

[2022-05-11 09:29] wonderflow commented on #3808
yes, this job is just for patching tls secret for the conversation.

[2022-05-11 10:24] YourTechBud opened #3865 "[Feature] Add a "template" command to the vela cli"
**Is your feature request related to a problem? Please describe.**
Its important to template out the k8s resources in the CI Pipeline to run tools like Datree for policy management. Currently there is a `vela dry-run` but it requires access to a k8s cluster (kube api server to be more precise). This isn't possible in most ci layers.

**Describe the solution you'd like**
A `vela template` command t

[2022-05-11 10:28] charlie0129 commented on #3860
Displaying the entire readme document in command line is probably hard to read.
Might just display addon description instead.

[2022-05-11 10:58] wonderflow commented on #3865
I think you can refactor the `vela dry-run` command , if the definition and other related things are provided, it can avoid access to K8s cluster.

[2022-05-11 15:10] dhiguero commented on #1662
Organization/Company: NAPPTIVE
Website: https://napptive.com
Country: Spain
Contact: daniel@napptive.com
Usage scenario: We provide a SaaS that simplifies the process of deploying applications on Kubernetes infrastructure leveraging the OAM standard. We currently support OAM v2 but are actively migrating to OAM 3 with kubevela as the underlying runtime.
Status: Production
Project Name and URL: Nap

[2022-05-11 23:57] scarlet25151 opened #3867 "[Feature] Autoscaling of application"
**Is your feature request related to a problem? Please describe.**

for some scenario in games, we would like to bind a game pod and some IaaS resource as a whole application, in some time we need to autoscaling these applications.

**Describe the solution you'd like**

I've noticed that there is a solution of using [KEDA for the autoscaling](https://kubevela.io/docs/platform-engineers/keda) of so

[2022-05-12 02:11] wonderflow commented on #3867
This is related with https://github.com/kubevela/kubevela/issues/3840 by @fourierr , he's working on that. After that issue finished, I think fourierr will give a solution on autoscaling.

[2022-05-12 02:14] StevenLeiZhang commented on #3860
I don't think description should be print by 'vela addon status', because it is not status. It should be print by 'vela addon show'

[2022-05-12 02:25] wangyikewxgm commented on #3856
Yes the current logic is just like this. But the  `helm-release controller` of fluxcd addon is applied by `k8s-objects` component, and this type component cannot wait unit all the pods are ready. So we should change it to `worker` component.

[2022-05-12 02:25] YourTechBud commented on #3865
Let me try making the necessary modifications. Any help in directing me to the right file / function would be great

[2022-05-12 02:27] fourierr commented on #3867
- In my scenario, the autoscaler is working on workload(deployment), just like HPA or KEDA.
- From your description, the autoscaler needs to autoscaling the application, it seems that a group of workload will be autoscaling simultaneously.
- I think this is a brand-new scene is different from KEDA or k8s HPA

[2022-05-12 02:35] wonderflow opened #3868 "[Addon] integrate Pyroscope for continueis profiling"
**Is your feature request related to a problem? Please describe.**

Here's a demo about Pyroscope for continueis profiling:  https://www.infracloud.io/blogs/continuous-profiling-kubernetes-pyroscope/

The demo code: https://github.com/infracloudio/microservices-demo-dev

KubeVela didn't have such capability yet.

**Describe the solution you'd like**

We can make [pyroscope](https://github.com/pyro

[2022-05-12 02:48] FogDong commented on #3817
I referenced Kaniko in the first solution.

[2022-05-12 02:49] YourTechBud opened #3869 "[Feature] Create a Template and Instance CRD for allowing Kubevela to template the Application object itself"
**Is your feature request related to a problem? Please describe.**
The component and trait system kubevela suggests is great, but an application manifest can turn out to be very large and complex since everything is in a single file. Many developers might not have the necessary skills to even use the right components and pass the write arguments to it.

I suggest we make another CRD called "Applic

[2022-05-12 02:50] wonderflow opened #3870 "[Addon] rework for istio addon"
**Is your feature request related to a problem? Please describe.**

We used to have a canary-blue-green use case: https://kubevela.io/docs/case-studies/canary-blue-green/ .

After we have upgraded to new version of kubevela, this demo seems not working good and should be refactored for better usage.

**Describe the solution you'd like**

1. We need to re-work this addon, make the canary-blue-green

[2022-05-12 02:54] wonderflow commented on #3869
Good suggestion, this is in our roadmap. Welcome for detail design including following questions:

1. how would the ApplicationTemplate crd looks like?
2. what will the rending mechanism work? it should works in CUE align our current mechanism.
3. how could the current Application be exported as an ApplicationTemplate?
4.  and many more related considerations are welcome to discuss.

[2022-05-12 02:58] barnettZQG commented on #3869
The ApplicationTemplate is like the addon, we could base the ApplicationTemplate to define some SaaS or typical applications. So, CRD maybe is not the best shape.

[2022-05-12 03:06] YourTechBud opened #3871 "[Feature] Create an "OverrideApplication" CRD to manipulate an existing Application in the cluster"
**Is your feature request related to a problem? Please describe.**
Many times you would want to modify an application without having to change the backing "Application" object. For example, to create a preview environment for an application , i may want to deploy an additional deployment and modify the ingress defined by that application. I can do that by modifying the backing "Application" object

[2022-05-12 03:07] wonderflow commented on #3865
The basic code of vela dry-run is here: https://github.com/kubevela/kubevela/blob/master/references/cli/dryrun.go

The mechanism is read from K8s for Definition and other information, finally it will revoke the function same with the controller and do the rendering.

The work here is to avoid connect to K8s cluster, provide the basic information from local.

[2022-05-12 03:10] wonderflow commented on #3871
Do you mean the `OverrideApplication` won't affect the current application and it will run as another application in another K8s cluster or namespace?

[2022-05-12 03:13] scarlet25151 commented on #3867
Thank you for providing the information. And I think the situation is a little bit different.
Just as @fourierr mentions

Yes, here we indeed have some terraform/crossplane cr that is composed together, and there is some topology mapping with the workload so they should be scaled up simultaneously.

because it's comes from our internal demand, I will do some POC first. After that I'm glad if we ca

[2022-05-12 03:14] YourTechBud commented on #3869
I'll put my thoughts down shortly.

I was suggesting that we use a CRD for two reasons
- each "ApplicationTemplate" will most likely have a few input variables to template based on and can change. Kubevela operator will most likely have to keep a hot cache of all these templates in memory.
- A deployable manifest should be able to refer to this template at run time whenever the 'kubectl apply` com

[2022-05-12 03:19] YourTechBud commented on #3871
No no. "ApplicationOverrides" will be merged with the existing Application which it is overriding. Whether it creates a new deployment or not is completely upto its contents.

I imagine the "ApplicationOverrides" object will be used to achieve one or more of the following:
- Add new components to an existing Application
- Add new traits to an existing component of the Application
- Modify the para

[2022-05-12 03:22] wonderflow commented on #3871
If the main goal of `ApplicationOverrides` is to modify the current application and takes affect to the underlying resources, it can cause lot's of confusion and make the ecosystem hard to integrate especially for the observability.

[2022-05-12 03:23] YourTechBud commented on #3817
This would be great!

[2022-05-12 03:30] YourTechBud commented on #3871
Yes. That makes sense. But we can have a command to print the current active version of the Application with all the Overrides applied?

Thinking about it, Kustomise can solve this problem as well since it has the concept of a base and layers too. Adding the "ApplicationOverrides" featute will add Kustomise like functionality to Kubevela.

I was hoping i didn't have to use another tool and get tho

[2022-05-12 03:38] zhiyuone commented on #3869
Is it possible to reference other components in component, to implement the ApplicationTemplate?

[2022-05-12 03:43] zhiyuone commented on #3871
This looks like a multi-environment configuration feature, we have [Override](https://kubevela.net/zh/docs/next/end-user/policies/references#override) policy, can it meet this need?

[2022-05-12 03:44] vigoss1944 commented on #1662
Orgnization/Company: HUOLALA
Location: Shenzhen, China
Contact: capa.liu@huolala.cn
Purpose/Scenario: Ablity to manage complex application template.
Features wanted: update cue to latest version.

[2022-05-12 03:46] basuotian commented on #1662
Orgnization/Company: (小鹏汽车)[https://www.xiaopeng.com/]
Location: Guangzhou, China
Contact: [tians1@xiaopeng.com](mailto:tians1@xiaopeng.com)
Purpose/Scenario: Using Kubevela to build Enterprise Microservice PAAS product

[2022-05-12 04:06] charlie0129 commented on #3860
Might also consider `vela addon info`, just like some widely used tools `brew info` or `apt info`.

And we can make `vela addon info` a synonym of `vela addon status`, which displays the same infomation.

[2022-05-12 04:39] YourTechBud commented on #3871
I think this will work. Thanks for sharing @zhiyuone!! Can we use this to even add a component or can i just patch an existing one?

[2022-05-12 05:10] wonderflow opened #3872 "[Addon] integrate vegeta for Application benchmark report"
**Is your feature request related to a problem? Please describe.**

We can have some trait to do benchmark for vela application. Using the tools like: https://github.com/tsenart/vegeta

**Describe the solution you'd like**

1. build a K8s job for vegeta that can adopt app url as input and report the benchmark result.
2. create a vela addon about vegeta that including a trait or policy, or workflow

[2022-05-12 05:10] #3847 closed

[2022-05-12 05:57] wonderflow opened #3873 "[Feature] create vela fig spec for CLI auto-completion"
**Is your feature request related to a problem? Please describe.**

Fig (https://fig.io/) adds IDE-style autocomplete to your existing terminal. We can create fig spec for vela CLI , so users using fig and vela can also enjoy this fast CLI experience.

**Describe the solution you'd like**

* Follow the guide to learn how to build customize spec  https://fig.io/docs/getting-started
* Send a PR to t

[2022-05-12 06:04] Somefive commented on #3871
Adding new component is possible if the component to override in the policy has a name different than all the existing components.

[2022-05-12 08:07] justxi1 opened #3874 "ApplicationRevision.spec.referredObjects array should have exactly one sub-item"
**Describe the bug**
get error when apply application
[code]
**To Reproduce**

yaml
[code]
I uninstall the kubevela v1.1.11 and reinstall kubevela v1.3.4
I have execute command to clear CRD before reinstall
[code]
**Expected behavior**
**Screenshots**
![image](https://user-images.githubusercontent.com/39458411/168021971-d20d3588-221d-4a52-b286-92bb2dd74d19.png)

**KubeVela Version**

CLI Version:

[2022-05-12 08:08] FogDong commented on #3874
/cc @Somefive

[2022-05-12 09:36] wonderflow commented on #3873
great @basuotian

[2022-05-12 10:38] #1851 closed

[2022-05-12 13:27] YourTechBud commented on #3869
Thats a good idea. But wouldn't that make things a bit too convoluted? The end-goal I had in mind was to make an "Application" reproducible with the smallest set of inputs. Also, since components are designed to be byte sized anyways, referencing other components wouldn't really help in reducing verbosity. This is just my opinion.

[2022-05-13 01:42] zhiyuone commented on #3869
I'm not sure, but my experience with helm sub chart is very good. In helm, you can directly reference other charts as sub-charts, and you can configure all charts with just one values file.
Indeed, this is too complicated for vela.

[2022-05-13 02:44] barnettZQG opened #3879 "[Feature] create the definition for built-in policies"
**Is your feature request related to a problem? Please describe.**
Currently, there are no definitions for built-in policies, so, we can not get the API schema and UI schema. This led to we can not generate the Doc and can not configure the policy in VelaUX.

**Describe the solution you'd like**
Create the definition for built-in policies, they only are used to generate API schema and UI schema.

[2022-05-13 02:52] #3841 closed

[2022-05-13 03:08] Somefive commented on #3874
This could be a potential problem for k8s 1.19. Try to run the following command and see if it can help.
[code]

[2022-05-13 03:09] Somefive commented on #3874
Seems should be fixed after k8s v1.19.5. https://github.com/kubernetes/kubernetes/pull/96562

[2022-05-13 03:18] FogDong commented on #3825
After discussion with the team offline, we think that the `onFailure` in the workflow may be too complicated for users.
Instead, we can add a policy like:

[code]

[2022-05-13 03:39] ZhongsJie96 commented on #3879
/assign

[2022-05-13 06:52] zhiyuone opened #3881 "[Bug] VelaQL fail to parse query result to json format"
**Describe the bug**

[code]
**To Reproduce**

any pod

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

err occur
[code]
in cue value
[code]
error
[code]

[code]

[2022-05-13 07:02] justxi1 commented on #3874
thanks, it work

[2022-05-13 07:35] wonderflow opened #3882 "[Feature] component types not added after addon installed"
**Is your feature request related to a problem? Please describe.**

For example, after fluxcd addon installed, the `helm` component type didn't show up immediately in velaux. I have to  refresh the whole page to see.

It's hard to realize we need to refresh to see the capability， so user's may wonder what's happening if there's any error even the addon seems working normally.

**Describe the solut

[2022-05-13 07:50] Krish-bhardwaj commented on #3882
Hi, i  am new to open source contribution, can you assign me this issue. i want to contribute to your open source org.

[2022-05-13 07:52] FogDong commented on #3882
Cool! Welcome to contribute!

[2022-05-13 07:54] #3874 closed

[2022-05-13 08:03] basuotian commented on #3873
https://github.com/withfig/autocomplete/pull/1226

[2022-05-13 08:06] wonderflow commented on #3873
@basuotian  great!!

Is there anything we need to do if the CLI is upgraded, can you help provide some developer guide for this.

[2022-05-13 08:11] basuotian commented on #3873
The autocomplete script need to be update if some subcommand or options of the CLI are changed.
I can provide a develper guide about how to maintain the autocomplete script, after the pr merged

[2022-05-13 08:12] barnettZQG commented on #2082
Released by #3136

[2022-05-13 08:12] #2082 closed

[2022-05-13 08:17] wonderflow opened #3883 "[Feature] enhance helm chart deploy to provide readme in velaux"
**Is your feature request related to a problem? Please describe.**

When deploy a helm chart in velaux, it's hard to fill the form as I don't know the parameters I should use. The prompt argumenets didn't help because I don't know what's the usage.

![image](https://user-images.githubusercontent.com/2173670/168240534-563bd724-ebbd-4a19-a854-456467ea34ff.png)

I hope there's can have a readme which

[2022-05-13 08:35] barnettZQG commented on #3883
I think this proposal is great, we should parse the readme body and show it in UI, and provide a button in the Values card.

[2022-05-13 09:13] wonderflow opened #3885 "vela port-forward not working for webservice component"
**Describe the bug**

I have deployed an app like below:

[code]

It has ports specified in component properties.

But the command `vela port-forward` report an error.

[code]

**To Reproduce**

Apply the yaml above and run

[code]

**Expected behavior**

Hope there can be normal port-forward

**Screenshots**

**KubeVela Version**

latest version

**Additional context**

The reason is the port-for

[2022-05-13 09:20] barnettZQG commented on #3885
Correct usage:
[code]
There is no valid validation of the parameters

[2022-05-13 09:40] wangyikewxgm opened #3886 "[Feature] Proposal: show the resource-tree of application"
**Is your feature request related to a problem? Please describe.**

We should show the resource-tree of an application. Here are some principles of the requirement.

1. show all managed resources of an application and their children-resources
2. show some basic status of the resource such as  `running or pending` of a pod
3. must support in both velaux and cli
4. resources in all cluster should be

[2022-05-13 09:44] barnettZQG commented on #3886
refer to kubevela/velaux#250

[2022-05-13 09:54] wangyikewxgm commented on #3886
A question:  the result of  a resource should belong to a cluster or env ? Because the cli side have no concept of  the `env`.

[2022-05-13 10:01] barnettZQG commented on #3886
@wangyikewxgm
[code]

[2022-05-13 11:14] oeular opened #3887 "[Feature] Provide the ability to monitor all the components of vela"
For now, all the components of the vela is deployed in ONE hub-cluster, so the hub-cluster is a must to provide more high SLA.
- The apiserver and the core controller are needed to monitored with some metrics, e.g: cpu, memoery, netIO, diskIO and QPS and etc
- The components of the hub-cluster are needed to monitored, e.g: etcd, k8s-apiserver, controller-manager, scheduler and kubelet
- And more,

[2022-05-13 11:28] Somefive opened #3888 "[Feature] Configmap not corrected mounted when deployment and configmap are updated together"
**Is your feature request related to a problem? Please describe.**

Though we have dependencies across different components, there are still resource problems along within one component.

For example, if we have one deployment as the main workload of a component, then we use ConfigMap as a trait to mount. If we update the deployment and the configmap at the same time, the configmap might be update

[2022-05-13 11:35] oeular commented on #3853
@StevenLeiZhang
As we own more and more applications, it will be more difficult to manage the related resources for they are all in one namespace.
And on the side of K8s，the number of the resoruces in one namespace will low down the efficiency of the resources creation and updating.

[2022-05-13 11:37] barnettZQG commented on #3888
Whether we need to intelligently sort the resources delivered by the same component is an open question. However, we need to ensure the atomicity of application updates.

[2022-05-13 11:40] oeular commented on #3806
There will be more and more user-defined Controllers, and the upcoming version will also support the deployment of Trait CR in hub- clusters.
So all the CR controllers will face the same problem: how to develop the multi-cluster capabilities of the controller, such as how to standardize the control of the managed-cluster resources.
Therefore, it is a hope that vela's own multi-cluster capabilities

[2022-05-13 12:02] barnettZQG commented on #3853
@oeular The DB driver with Configmap is a sample implement, for a production platform that manages many applications we recommend using MongoDB or a planned MySQL driver.

[2022-05-14 05:44] barnettZQG commented on #3883
Another way, like:
[code]
show the content in values.yaml

[2022-05-14 06:57] StevenLeiZhang commented on #3882
available Components come from api  '/api/v1/definitions?type=component', so we don't need one new api

[2022-05-14 07:20] StevenLeiZhang commented on #3883
readme file in Chart is not structured data, but text document.

Maybe we proposal Helm Community to enhance Values.yaml.
For example, chart author specify the usage in Values.yaml
[code]

After that, we can parse Values.yaml and show usage of parameters exactly.

[2022-05-14 15:54] wonderflow commented on #3825
@FogDong  Will the `if` keyword be able to get and check CRD exists? My scenario is to check whether a CRD exists in workflow and judge if the next step should deploy a helm chart for that CRD with Controller.

[2022-05-14 15:57] wonderflow opened #3891 "[Feature] addon should check CRD and ignore installation of controller if already exists"
**Is your feature request related to a problem? Please describe.**

Currently, addon will install CRD controller along with X-Definition for users. It works well when users use an empty clusters. But when user already has these CRD Controller as Infrastructure running, it will cause some conflicts.

**Describe the solution you'd like**

Addon should provide some mechanism to check CRD, and allow s

[2022-05-15 02:59] wonderflow opened #3892 "[Addon] integrate Netlify as an addon"
**Is your feature request related to a problem? Please describe.**

Netlify is a SaaS platform that can serve website especially for frontend service, it provides free allowances that was pretty cool to be used for demo and test. We can create an addon which provides a netlify component type for frontend service.

**Describe the solution you'd like**

The general architecture could be like below:

[2022-05-15 04:26] hzliangbin commented on #3859
@wonderflow already fix by [commit](https://github.com/kubevela/kubevela/commit/967bc7786dece7f8c494220786ce6a5c84265dc6),  issue could be closed

[2022-05-15 05:46] wonderflow commented on #3859
@hzliangbin  Thanks

[2022-05-15 05:46] #3859 closed

[2022-05-15 12:05] ZhongsJie96 commented on #3888
I think this proposal is great, we also face that dependency order when using the same Secret.

[2022-05-16 02:29] FogDong commented on #3825
That's too complicated if we let `if` to check the CRD in the cluster, I think it's better to write a workflow step do check it.

[2022-05-16 02:33] wonderflow commented on #3825
@FogDong We have this scenario, how could the yaml like if you use a workflow step for this need?

[2022-05-16 02:34] FogDong commented on #3825
You can use `#op.Read` to check if the CRD exists in the definition.

[2022-05-16 02:59] wonderflow commented on #3825
In this case, anyone build a new addon MUST learn how to write a definition in CUE, this is un-acceptable.

You can learn this use case in https://github.com/kubevela/kubevela/issues/3891

[2022-05-16 03:02] barnettZQG opened #3896 "client-side throttling in api server"
**Describe the bug**

The VelaUX page is slow, find many `client-side throttling` errors in logs.

[code]

**To Reproduce**
1. Install the KubeVela in the ASK.
2. Create a complex application.
3. Open the status page or instances page.

**Expected behavior**

The page loads at the normal speed.

**KubeVela Version**
1.3.4

**Cluster information**

Server Version: version.Info{Major:"1", Minor:"22+

[2022-05-16 03:31] FogDong commented on #3825
We can write a workflow step called `checkCRD` or `checkResource`, and users can use it like:

[code]

[2022-05-16 03:49] shikingram opened #3897 "Could not generate definitionRevision"
After installing kubevela using helm, the definitionrevisions.core.oam.dev resource is missing in the cluster, and the error log is as follows:

[code]

get definitionrevisions
[code]

full vela-core logs:
[code]

What could be the cause of the error?

my kubernetes version:
v1.17

vela version:
The version with this problem is vela-core:v1.2.0-rc.2, and other clusters use v1.2.1 and have the same

[2022-05-16 04:10] wonderflow opened #3898 "[Scenario] Build static site and serve it on OSS"
**Is your feature request related to a problem? Please describe.**

KubeVela has the capability to launch cloud service and workflow for customization. I hope this can help me build a static site. To build a static site, I need to do following things:

1. Write frontend code in github, for example we have a document site: https://github.com/kubevela/kubevela.io
2. Create a OSS bucket, I can create

[2022-05-16 05:10] #3879 closed

[2022-05-16 05:15] wonderflow commented on #3825
[code]

This would be better for me.

[2022-05-16 05:17] ZhongsJie96 commented on #3888
To solve this problem, is it possible to rebind a ConfigMap after the configuration content changes, which can fundamentally solve the problem of dependency order, but it will face the complexity of resource recovery in the implementation process.

[2022-05-16 05:57] barnettZQG commented on #3898
This proposal is typical, we need some basic features:

* The workflow step for code pull and build.
* The workflow step for syncing the files to OSS.
* Copy files across the two steps, maybe we should share the cache dir in the step which includes multiple sub-steps.
* This kind of application does not need to hold the state.

So, it's more like a CI process.

[2022-05-16 06:02] barnettZQG commented on #3897
@shikingram Can you provide the YAML of the node-affinity trait definition?

[2022-05-16 06:16] barnettZQG opened #3900 "There is no region field in Configuration spec"
**Describe the bug**

In VelaUX, users could set the region in target, and the application with cloud service could be deployed to the region defined in every target.

[code]
Currently, the region field in component properties does not take effect. Others, we can not get the region from the Configuration.

**Expected behavior**
Support set the region in component properties and could get the regio

[2022-05-16 06:20] shikingram commented on #3897
@barnettZQG
[code]

[2022-05-16 06:25] barnettZQG commented on #3897
@shikingram You can try to delete the `status.latestRevision` in this definition.

[2022-05-16 07:12] shikingram commented on #3897
@barnettZQG  I delete `status.latestRevision` but it will automatically generate, and no `definitionrevisions.core.oam.dev` created

[2022-05-16 07:35] wonderflow opened #3902 "[Feature] refine the output of velaux addon installation"
**Is your feature request related to a problem? Please describe.**

Currently, the installation of velaux addon is long but full of information like below:

[code]

Howerver, it's not clear that we want user to use the following commands:

[code]

and

[code]

**Describe the solution you'd like**

We need to add some space around the import infomation, maybe we should add some color in the command

[2022-05-16 07:44] shikingram commented on #3897
@barnettZQG  If the resource is not found here, `return true,nil`is it reasonable？
https://github.com/kubevela/kubevela/blob/4d69027300a444e2a6c0c489a9069d27256bf1d0/pkg/controller/core.oam.dev/v1alpha2/core/revison.go#L172-L210

[2022-05-16 07:49] wonderflow opened #3903 "[Feature] render color for outputs of vela up command"
**Is your feature request related to a problem? Please describe.**

The command prints plain text:

[code]

We need some colorful prints for the important message.

**Describe the solution you'd like**

Add some color for the prints.

**Describe alternatives you've considered**

**Additional context**

[2022-05-16 08:28] justxi1 opened #3904 "no such cluster when join cluster with engine ocm"
**Describe the bug**

vela cluster join with engine ocm. when apply application which with polic topology, I get error 【no such cluster】

**To Reproduce**

[code]
[code]

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/39458411/168550370-fe087269-5093-48aa-85f7-c54de16e0e4c.png)
![image](https://user-images.githubusercontent.com/39458411/168550442-37cd04a

[2022-05-16 08:36] jefree-cat commented on #1662
Organization/Company: 招商银行
Location: Shenzhen, China
Contact: jiahang_xu@cmbchina.com
Purpose/Scenario:  build hybrid cloud-native application platform by kubevela
Status: development & testing
Can we use your logo on the kubevela.io website? Yes.

[2022-05-16 08:50] wonderflow opened #3905 "[Feature] views in addon should be deployed like definition instead of nested in application"
**Is your feature request related to a problem? Please describe.**

KubeVela uses [VelaQL](https://kubevela.io/docs/platform-engineers/system-operation/velaql) for query resources, the instance of velaql is called view, it exists as K8s Configmap in hub cluster and **ONLY** used in hub cluster.

The basic mechanism is almost the same with `x-definition` and `uiSchema`, they're [installed Independe

[2022-05-16 08:54] hprotzek commented on #3805
Not sure how I installed the not functional version, but installing it now with brew, the 1.3.3 works and also show the correct git revision.
[code]
in comparison to my faulty one
[code]

I can't remember that I build it locally, but I tried it now and the build failed because of lint errors, so I don't think it was a locally build version. Anyway, the version installed with brew works now.

[2022-05-16 08:54] #3805 closed

[2022-05-16 09:31] barnettZQG opened #3907 "Enabling the GithubBlocked for the terraform controller is invalid"
**Describe the bug**

![image](https://user-images.githubusercontent.com/18493394/168561988-2479cb5d-038d-46cb-ae7e-ee9f6e94bed9.png)

I enable the GithubBlocked parameter, the terraform controller print the following log in an infinite loop:
[code]

**KubeVela Version**

1.4.0-alpha.3

[2022-05-16 09:37] barnettZQG opened #3908 "field "name" not allowed in closed struct in the deploy-cloud-resurce step"
**Describe the bug**

Error status:
[code]

workflow:

[code]

This application has two components(alibab-rds, webservice).

**To Reproduce**

1. create and deploy an application with both cloud service component and webservice component.
2. use the deploy-cloud-resource workflow step.

**KubeVela Version**

master

[2022-05-16 10:01] wonderflow opened #3909 "[Scenario] depoy helm component in different environment with different value.yaml"
**Is your feature request related to a problem? Please describe.**

Here's an example chart for production:

[code]

Usually we will have one or more `values.yaml`, in this example, we have `values.yaml` and `values-production.yaml`.

The working process should be:

1. deploy the chart to develop environment with values.yaml.
2. check the helm works normally with manuel approval.
3. deploy to helm

[2022-05-16 11:01] fourierr opened #3910 "[Feature] webservice support health-check with https"
**Is your feature request related to a problem? Please describe.**

Webservice componentDefinition needs to support health-check via https.

**Describe the solution you'd like**

Add the https mode in here
![image](https://user-images.githubusercontent.com/35767528/168578910-03e867c7-5478-488b-a858-6bdac96bf4b6.png)

[2022-05-16 11:06] ivyilike commented on #3910
@fourierr  i want to fix it

[2022-05-16 11:10] wonderflow commented on #3870
It install as a helm chart, the helm capability is provided by fluxcd in kubevela. We can also change it to argocd, or deploy it in pure yaml without any dependency.

[2022-05-16 14:40] oiar commented on #3832
/assigned

[2022-05-16 18:29] kethavathsivanaik commented on #3870
Will work on this, Need some suggestion.

[2022-05-17 00:53] wonderflow commented on #3870
Welcome! Ping @wangyikewxgm for more advice.

[2022-05-17 03:02] StevenLeiZhang opened #3914 "wrong description of api list enabled addon"
**Describe the bug**

wrong description of api list enabled addon

![image](https://user-images.githubusercontent.com/14890978/168719574-d051da8d-85b1-409f-9804-df7509130717.png)

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-05-17 03:23] Somefive commented on #2092
Waiting for CUE to upgrade. This is a bug in CUE 0.2.2. Upgrading to 0.4.0 should will fix it.

[2022-05-17 03:53] #3914 closed

[2022-05-17 06:23] wangyikewxgm commented on #3886
Since we should implement this feature in both UX and CLI, I propose implement by adding a new velaql as `application-resource-tree-view`. And We found out many resource info have been contained in velaql: `"listAppliedResources`, so  I think we can reuse this struct add a new filed `resourceTree` to every managedResource.

So the `AppliedResource` will be like this:

[code]
every managedResource

[2022-05-17 06:29] fourierr opened #3916 "[Bug] velaql `component-pod-view` return the several same pod when there was several versioned RT"
**Describe the bug**

velaql `component-pod-view` return the several same pod when there was several versioned RT

**To Reproduce**

- lt31-04-adooption1-dev-dev.yaml
[code]

- lt31-04-adooption1-dev-dev-v1-lt31-04-dev.yaml
[code]

- lt31-04-adooption1-dev-dev-v2-lt31-04-dev.yaml
[code]

**KubeVela Version**

VelaCLI 1.3.0
VelaCore 1.3.0

**Cluster information**

Kubernetes Version 1.20.0

**Addit

[2022-05-17 07:05] wangyikewxgm commented on #3886
I propose we can care about only several stable relationShip between different types of resources. For example, deployment will be replicaSet's parent, rs will be pod's parent. Helm release will be the parent of `deployment, statefulset, configmap, secret`. But I think we can let user add cared type of resource by add line of in one configmap to care about more types of resources.

[2022-05-17 08:29] #3840 closed

[2022-05-17 08:33] cnfatal opened #3917 "[Bug](addon): `context` not available in trait's outputs section"
**Describe the bug**

Example trait:

[code]

Error on application:
[code]

**To Reproduce**

[code]
Sample application:

[code]

**Expected behavior**

context can be used at outputs section.

**Screenshots**

**KubeVela Version**

release-1.3

**Cluster information**

**Additional context**

[2022-05-17 09:20] cnfatal commented on #3917
it caused by https://github.com/kubevela/kubevela/blob/9642ed9d9e66dddd0c14343d8d528ae7f8297b98/vela-templates/definitions/internal/component/webservice.cue#L164-L166 component `webservice` render result without a `metadata` field.

use `context.name` and `context.namespace` instead

[2022-05-17 09:31] barnettZQG commented on #3916
@fourierr This issue maybe is already fixed by #3650

[2022-05-17 12:43] liykfrank opened #3920 "Can not install VelaUX on windows"
**Describe the bug**

I followed the guide https://kubevela.net/docs/install#4-install-velaux to install vela UI.
However the addon cannot be enabled due to some system requriement miss match.

**To Reproduce**

Steps to reproduce the behavior:
Follow this guide https://kubevela.net/docs/install#4-install-velaux :
1. install vela cli on windows
2. install kube vela core with the installed Cli.
3.

[2022-05-17 12:56] barnettZQG commented on #3920
@liykfrank Please reinstall the vela core with the latest version 1.3.4.

[code]

[2022-05-17 13:25] fourierr commented on #3916
yes, it is fixed via https://github.com/kubevela/kubevela/pull/3650

[2022-05-17 13:25] fourierr commented on #3916
fixed via https://github.com/kubevela/kubevela/pull/3650

[2022-05-17 13:25] #3916 closed

[2022-05-17 13:32] liykfrank commented on #3920
@barnettZQG , thank you for your prompt response. I did a quick test it works well with 1.3.4.
I guess it's something related with the latest version.
BTW, I tried to manually downgrade vela cli, it seems the artifact downloaded from the release notes page doesn't have a proper file extension.
I have to rename the cli from vela to vela.exe.
Why not do this in the build pipeline?
![image](https://u

[2022-05-17 14:16] barnettZQG commented on #3920
Here https://github.com/kubevela/kubevela.io/blob/main/static/script/install.ps1 is the script for installing vela, this script will rename the binary name. there is a historical reason, we do not change the binary name in CI progress.

[2022-05-18 02:26] barnettZQG commented on #3825
why do we need to create a hook policy?  In general, systems without pipeline capability will provide some fixed hook capability, the pipeline(workflow) should be more flexible, and users can accomplish similar things.

For example:
[code]

[2022-05-18 02:34] FogDong commented on #3825
We'll also support `if` in the near future. The `hook` policy is to handle the failure of the workflow, what you said is to handle the failure of the step.

[2022-05-18 02:45] wonderflow commented on #3825
[code]

[2022-05-18 02:56] wonderflow commented on #3825
I have another proposal:

[code]

[2022-05-18 07:00] basuotian commented on #3873
Thr pr has been merged, here is a demo
![vela-fig](https://user-images.githubusercontent.com/93654253/168975748-e3411b66-5c9c-4ede-8a85-882308032065.gif)

[2022-05-18 07:12] wonderflow commented on #3873
@basuotian wow, great, please add some docs about how to use and maintain it.

[2022-05-18 08:36] FogDong commented on #3825
We can use `inputs` & `outputs` to pass the parameters like:

[code]

[2022-05-18 09:20] zzxwill commented on #3898
To be a topic for Alibaba Summer of Code, the two steps `build` and `upload` should be generic.
The step should
- also accept other commands
- prepare the necessary command and environment to run the command
- [if necessary] access Terraform provider to use its cloud credentials.

[2022-05-18 11:21] barnettZQG commented on #3920
@liykfrank I will close this issue, thanks for your contribution.

[2022-05-18 11:21] #3920 closed

[2022-05-18 11:56] Somefive opened #3924 "[Feature] System Info & Diagnose"
**Is your feature request related to a problem? Please describe.**

In KubeVela, there are multiple deployments running in the vela-system namespace in the control plane, including
- vela-core
- cluster-gateway
- vela-prism
- vela apiserver
- velaux

Although in vela CLI we have `vela version` command which shows the version of kubevela running in the control plane, it is still laborious to check

[2022-05-18 13:00] zzxwill commented on #3898
The Chinses version of the topic for Alibaba Summer of Code.

KubeVela具有启动云服务和工作流的能力，可以进行定制。我希望这能帮助我建立一个静态网站。为了建立一个静态网站，我需要做以下事情。

1. 在github上写前端代码，例如我们有一个文档网站：https://github.com/kubevela/kubevela.io
2. 创建一个OSS bucket，我可以手动创建它，但对于自动化，我们需要通过terraform-controller来配置它：https://github.com/oam-dev/terraform-controller
     - 静态页面设置默认是禁用的，所以我们需要启用它。
      ![image](https://user-images.githubusercontent.com

[2022-05-18 13:32] StevenLeiZhang opened #3927 "fail to enable VelaUX by version mismatch"
**Describe the bug**
fail to enable VelaUX by version mismatch

**To Reproduce**

Steps to reproduce the behavior:
1. install vela v1.4.0-alpha.3
2. enable velaux
4. See error
[code]

**Expected behavior**
1. enable velaux successfully

**Screenshots**

**KubeVela Version**

➜  chart vela version
CLI Version: v1.4.0-alpha.3
Core Version: 1.4.0-alpha.3
GitRevision: git-f447e6c
GolangVersion: go1.17

[2022-05-18 13:35] StevenLeiZhang commented on #3927
investigation:
please note here
https://github.com/hashicorp/go-version/blob/82485a6d3d05fff8fa8b838334676ee6ab8e6364/constraint.go#L193

go-version can not compare v1.4.0-alpha.3 and  v1.3.0-beta.2

[2022-05-19 08:21] #3860 closed

[2022-05-19 11:28] Somefive opened #3933 "[Feature] vela auth grant-privileges"
**Is your feature request related to a problem? Please describe.**

Currently, admin can only manage privileges through native Kubernetes objects, such as ServiceAccount/ClusterRole/Role/ClusterRoleBinding/RoleBinding. It is also not very convenient to configuring privileges in each cluster. It would be better if we can have a model layer to alleviate the burden of assigning roles for user, like u

[2022-05-19 12:20] fourierr opened #3934 "[Feature] Support to get the runtime information of application.policy via context keyword"
**Is your feature request related to a problem? Please describe.**

At present, when using trail with CR, users can only explicitly declare cluster and ns information in `trait.properties`, which is similar and duplicate to `policy.topology` .

**Describe the solution you'd like**

The solution that I prefer is to preset the value of `policy.topology` in the cue context, and fill in the properties

[2022-05-19 12:54] #3910 closed

[2022-05-19 13:05] oeular commented on #3934
It will be a good extension.

[2022-05-19 13:13] oeular commented on #3924
@Somefive Is there any solution for the above issue in detail? We want to join this issue.

[2022-05-19 13:21] oeular commented on #3902
Why  not use a k8s-object type to deploy?
Here I have met a problem, when we change the ComponentDefition for webservice, the velaux can not work any more.

[2022-05-19 13:29] tangoliu opened #3935 "[Feature] Support link tracking"
**Is your feature request related to a problem? Please describe.**
Use opentracing to track the request calling link, so as to understand the execution process and provide reference for performance optimization. Does the community consider it?

**Describe the solution you'd like**
Use `Jaeger` or `Zipkin` to realize, or other opentracing schemes

**Describe alternatives you've considered**

**Addi

[2022-05-19 13:39] oeular commented on #3892
It‘s a nice addon.’

[2022-05-19 13:41] oeular commented on #3935
ping @wonderflow  Is there any solution for us to discuss.

[2022-05-19 13:48] wangyikewxgm commented on #3886
@barnettZQG Have change some fields. Add resource health status in resourceTreeNode:

[code]

[2022-05-19 13:53] oeular commented on #3872
It will extend the ability of the webservice or frontend service for user.

[2022-05-19 14:03] alisson276 opened #3936 "Improve `vela provider add` response"
**Describe the bug**

When calling `vela provider add` twice or more times, the error message is generic and only says `Error: failed to authenticate Terraform cloud provider terraform-<provider>`. The error should be passed back to the CLI. In the case you run it more than once, the `err` on https://github.com/kubevela/kubevela/blob/master/references/cli/provider.go#L194 is `terraform provider <n

[2022-05-19 15:00] victor-amsantos opened #3937 "Error when processing more than one Trait with import "enconding/json""
**Describe the bug**
We are facing the error:
[code]
When trying to apply this two `Traits` to our `Application`.
Our application:
[code]
And our Traits are:
`dynamodb-attachment`
[code]
`sqs-attachment`
[code]

This error only occurs when we put both Traits together and order does't matter. We validate that applying each Trait individually to our Application everything works perfectly, which brin

[2022-05-20 01:59] wonderflow commented on #3934
`context.policies` looks good to me

[2022-05-20 02:21] fourierr commented on #3934
yeah, i will give the concrete idea to implement it in next week

[2022-05-20 02:51] wonderflow opened #3938 "vela reports error when apply configmap: annotations: Too long: must have at most 262144 bytes"
**Describe the bug**

When submit a grafana configmap by using kubevela, it reports “metadata.annotations: Too long: must have at most 262144 bytes”.

This is also a common issue in kubectl, but we can use `kubectl replace` to workaround, in kubevela, how can I fix that?

**To Reproduce**

Write an application with long configmap nested by using `ref-objects` component type.

**Expected behavior**

[2022-05-20 03:20] linktimecloud commented on #3938
### 测试样例
[test-huge-dashboards.zip](https://github.com/kubevela/kubevela/files/8735649/test-huge-dashboards.zip)

* 先 `vela def apply dashboard.cue`
* 再 `kubectl apply -f dashboard.yaml`

[2022-05-20 04:03] linktimecloud commented on #3938
抱歉YAML文件有格式问题，请用这个：
[test-huge-dashboards.zip](https://github.com/kubevela/kubevela/files/8735833/test-huge-dashboards.zip)

[2022-05-20 05:32] wonderflow commented on #3937
Yes, this must be a bug, we should trime the same statement before we excute CUE. I think there could be some function like `format` or `trim` to fix this, if not, we can trime it manually in code, just check every line of the CUE file and trim the redundant line has the `import(` prefix.

Would you like to help?

[2022-05-20 06:05] #3667 closed

[2022-05-20 06:20] barnettZQG opened #3940 "[Feature] convert the oneOf field in api schema to ui schema"
**Is your feature request related to a problem? Please describe.**

One parameter has a multiple value structure, such as the `container-image` trait:
[code]
This cue script will generate an API schema with the `oneOf` type:
[code]

For this case, currently can not generate UI schema, users can not use this trait in UI. refer to #3578.

**Describe the solution you'd like**

We should support conve

[2022-05-20 07:30] zzxwill commented on #3900
Use `customRegion` please due to the issue https://github.com/kubevela/kubevela/pull/3503.

[2022-05-20 09:08] #3938 closed

[2022-05-20 09:28] #609 closed

[2022-05-20 12:58] victor-amsantos commented on #3937
Yes!
There is some documentation of how to test kubevela locally or something like this?
We tried to test it in our cluster and looking for logs in the `kubevela-vela-core` pod but we didn't found any reference to this error (even when we changed the log level to debug).

[2022-05-20 16:25] #2208 closed

[2022-05-20 16:25] #3927 closed

[2022-05-21 06:12] StevenLeiZhang commented on #3936
my proposal:
1.  `vela provider add ` does not return any details, it is just "add" operation, which means store the config to databases. It does not care the status of provider
2. add `vela provider status` command to check the status and result. If the provider is in abnormal status, it prints error details.

[2022-05-21 08:12] fourierr commented on #3940
I want to fix it and learn more about that converts api schema to the ui schema

[2022-05-21 14:59] #3832 closed

[2022-05-21 15:00] #3865 closed

[2022-05-21 15:28] wonderflow commented on #1694
Hi @Dorsivan , are you still working on this issue? We really need help.

[2022-05-21 15:29] wonderflow commented on #1897
I think this should be supported in v1.3.x. please have a try. Feel free to re-open this issue if there's still any probelm.

[2022-05-21 15:29] #1897 closed

[2022-05-22 07:44] fourierr opened #3947 "[Bug] `vela env init env-application` return an error"
**Describe the bug**

![1e171e819b670f18c9a27802268848d](https://user-images.githubusercontent.com/35767528/169684393-dd71d99a-13cc-455c-a46e-588fc2f9738b.png)

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**
vela cli 1.3.3
vela core 1.3.3

**Cluster information**

Kubernetes Version 1.20
**Additional context**

The error message is not clear, and confuses me

[2022-05-22 08:14] barnettZQG opened #3948 "Runtime error: slice bounds out of range"
**Describe the bug**

![image](https://user-images.githubusercontent.com/18493394/169685353-61ea76d3-a30b-4768-94bb-154d482ef20a.png)

**KubeVela Version**

master branch

[2022-05-22 12:43] JarHMJ commented on #3903
/assign

[2022-05-22 17:37] s4rd1nh4 opened #3950 "Wrong version check for EKS clusters"
**Describe the bug**

Wrong version check for EKS clusters.

`version v1.21.9-eks-14c7a48 require: >=v1.19`
**To Reproduce**

Set in metadata.yaml any kubernetes version check.
[code]
From EKS cluster run `vela addon enable <addon>`.

**Expected behavior**

Addon installed.

**Screenshots**

<img width="705" alt="image" src="https://user-images.githubusercontent.com/26822325/169708124-f19f8f95-fdb

[2022-05-22 20:23] s4rd1nh4 commented on #3896
https://github.com/kubernetes/kubernetes/pull/107131

[2022-05-23 02:26] #3460 closed

[2022-05-23 02:31] Somefive commented on #3924
It needs design and further discussion. If you have any idea for this issue, feel free to discuss it here.

[2022-05-23 02:53] StevenLeiZhang commented on #3947
the default namespace is already  assigned to env "default". You can not override it.

[2022-05-23 02:54] wonderflow commented on #3947
Yes, this is not a bug, but we need refine the output.

[2022-05-23 03:41] StevenLeiZhang commented on #3950
v1.21.9-eks-14c7a48  does not follow the standard https://semver.org/

[2022-05-23 05:25] YourTechBud commented on #3871
Hey @Somefive & @zhiyuone. Unfortunately the override policy does not solve my problem. Here is my scenario in more detail:

- All kubevela `Applications` are being deployed via kubectl. Each  Kubevela `Application` creates a `Deployment`, `Service` and `Istio VirtualService`
- My developer wants to debug an application directly in the development environment. We use [telepresence.io](https://www.

[2022-05-23 06:06] #3948 closed

[2022-05-23 08:41] #3886 closed

[2022-05-23 09:13] oeular commented on #3924
- Can output the runtime configuration information for each component of vela independently via vela CLI, including addons
- Can output the runtime environment information, including k8s, container engine, os
- Can output the topologies for all component of vela, including logical topology and network topology
- Support the component of vela (maybe addon)registry to the topology
- Maybe the topolo

[2022-05-23 09:23] wangyikewxgm commented on #3141
I think this bug has been fixed by latest version. Feel free to reopen this issue if the bug still exist.

[2022-05-23 09:26] zzxwill opened #3954 "[Feature] KubeVela supports virtual machines"
**Is your feature request related to a problem? Please describe.**

Some traditional applications are running in virtual machines, and containerization costs are high. So it would be better to support provision applications in virtual machines and operate them as KubeVela Components.

**Describe the solution you'd like**

KubeVela should have the ability to

- define a traditional business applica

[2022-05-23 09:29] wonderflow commented on #3954
What's the difference with nomad https://github.com/hashicorp/nomad if we did this?

[2022-05-23 09:29] wangyikewxgm commented on #3421
You can try this feature by use argocd addon: https://github.com/kubevela/catalog/tree/master/experimental/addons/argocd

[2022-05-23 09:32] wangyikewxgm commented on #3421
Good news is the fluxcd have support OCI registry . We can wait until this commit be released.https://github.com/fluxcd/source-controller/pull/690

[2022-05-23 09:36] wangyikewxgm commented on #2913
this istio rollout demo has been fixed by https://github.com/kubevela/kubevela/pull/3839, Closing  and feel free if some find out thei issue still exist.

[2022-05-23 09:36] #2913 closed

[2022-05-23 09:40] Somefive commented on #3440
This feature is supported by multiple PRs. Thanks for the proposal.
##### Controller
#3713
#3824
#3849
#3906
##### CLI
#3911
#3923
#3931
#3943
#3953

[2022-05-23 09:40] #3440 closed

[2022-05-23 09:57] oeular commented on #3954
Maybe we need the nomad as an addon.
Of course, maybe we need virtual-kubelet to implement application deployment between k8s and other kind of virtual machines.

[2022-05-23 09:57] alisson276 opened #3955 "Terraform provider "add" doesn't work using v1.3.5"
**Describe the bug**

It seems that the current CRDs (or other thing) from master are different of those are in use on the v1.3.5.

**To Reproduce**

`vela provider add terraform-azure --ARM_CLIENT_ID $ARM_CLIENT_ID --ARM_CLIENT_SECRET $ARM_CLIENT_SECRET --ARM_SUBSCRIPTION_ID $ARM_SUBSCRIPTION_ID --ARM_TENANT_ID $ARM_TENANT_ID --name <some-name>` returns
[code]

**Expected behavior**

Message `Suc

[2022-05-23 10:42] alisson276 commented on #3955
Even after having the provider successfully created using kubevela from `master` instead of `v1.3.5` I receive an error when listing the providers from vela CLI:
[code]

If I use my compiled version from master I got the correct result:
[code]

[2022-05-23 11:02] wonderflow opened #3957 "[Addon] Integrate trivy for security scan trait"
**Is your feature request related to a problem? Please describe.**

Trivy has announced some new features in kubecon EU: https://blog.aquasec.com/trivy-cloud-native-security-scanner

I think we can Integrate it as KubeVela addon for  following scenarios:

1. A trait that can scan pod in development environment and report the results, leveraging the `Kubernetes security scanning` capability from tr

[2022-05-23 11:31] fourierr commented on #3934
There is a simple forms to complete this issue
We put the whole`appliction.policy` to `context.policies`, as follows
We can define a trait `anno` for testing, it will put the value of policy to deployment's annotations
[code]

And the deployment just like this.
[code]

[2022-05-23 11:51] wonderflow opened #3959 "[deprecate] remove applicationconfigration controller and related code"
**Is your feature request related to a problem? Please describe.**

Since we haven't maintain oam-runtime for more than one and a half years, we should clean up the code.

The oam-runtime chart is deprecated and removed here: https://github.com/kubevela/kubevela/pull/3958 .

In this issue, we need to delete the remaining code of the controller.

**Describe the solution you'd like**

**Describe alt

[2022-05-23 15:47] diego-milhomes commented on #3950
Tks @StevenLeiZhang , in this case, if it's not the semver version it should skip the kubernetes version check?
https://github.com/kubevela/kubevela/blob/eb5f416e4e264513e3fa7358a9795b378b29048d/pkg/addon/addon.go#L1398-L1411

[2022-05-23 15:52] s4rd1nh4 commented on #3950
Tks @StevenLeiZhang , in this case, if it's not the semver version it should skip the kubernetes version check?
https://github.com/kubevela/kubevela/blob/eb5f416e4e264513e3fa7358a9795b378b29048d/pkg/addon/addon.go#L1398-L1411

[2022-05-24 01:40] wonderflow commented on #3950
@s4rd1nh4 agree If we don't have better way

[2022-05-24 01:58] #3896 closed

[2022-05-24 03:38] Somefive commented on #3917
In future, we could probably add `context.output.name`  in the context. Currently, we can use
- `context.name` which refers to the component's name
- `context.output.metadata.name` which refers to the output's k8s object's name (this could cause errors because by default, webservice type do not have metadata output)

So it will be convenient if we have `context.output.name` in context, or other si

[2022-05-24 05:57] zzxwill commented on #3955
@alisson276 Thanks for reporting the problem. @barnettZQG has fixed it in master per https://github.com/kubevela/kubevela/pull/3878/files#diff-34b55c11ab5300d3a9d50547854bd984e45aa35cacc4b1289221bddb717502c6.
I am fixing it for v1.3.5.

[2022-05-24 08:27] leason00 opened #3966 "Self-nominating @leason00 as a Review member"
I have been actively contributing to KubeVela cloud resource, and the three pr have been merged

https://github.com/oam-dev/terraform-controller/pull/307
https://github.com/oam-dev/terraform-controller/pull/300
https://github.com/oam-dev/terraform-controller/pull/262

[2022-05-24 08:43] Somefive opened #3967 "Changing owner of project will not add member to the project"
**Describe the bug**

First set the owner of project to "user-x". The project member page can see "user-x".
Then set the owner of project to "admin". The project member page can see "user-x".

Should see "user-x, admin".

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-05-24 11:14] #3870 closed

[2022-05-24 11:14] wonderflow commented on #3870
fixed by https://github.com/kubevela/catalog/pull/349

[2022-05-24 12:30] zzxwill commented on #3954
@forcoder,can you append your requirements or thoughts?

[2022-05-24 16:35] ZhongsJie96 opened #3972 "[Feature] Add trait definition to support pod affinity"
**Is your feature request related to a problem? Please describe.**

add trait definition to support pod affinity.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-24 16:35] ZhongsJie96 commented on #3972
/assign

[2022-05-25 02:25] wonderflow opened #3974 "vela install -v v1.3.5 error: SchemaError(dev.oam.core.v1beta1.ApplicationRevision.spec.referredObjects)"
### Discussed in https://github.com/kubevela/kubevela/discussions/3971

<div type='discussions-op-text'>

<sup>Originally posted by **skyshaokai** May 25, 2022</sup>
minikube install vela:
vela install -v v1.3.5

my k8s  verison : 1.19.1

error message:
`Check Requirements ...
Installing KubeVela Core ...
Helm Chart used for KubeVela control plane installation: https://charts.kubevela.net/core/vel

[2022-05-25 02:30] Somefive commented on #3974
This is a known issue for Kubernetes version <= v1.19.5. See https://github.com/kubevela/kubevela/issues/3874 for solutions.

[2022-05-25 02:30] #3974 closed

[2022-05-25 06:33] Somefive opened #3977 "[Feature] Enforce Impersonation for ref-objects"
**Is your feature request related to a problem? Please describe.**

In KubeVela v1.4, we have authentication and authorization based on Kubernetes Impersonation and RBAC mechanism. The impersonation will be triggered when application wants to get/create/update/delete resources in clusters, which are all managed from `resourceKeeper` and those resources are tracked in `ResourceTracker`.

For system

[2022-05-25 06:51] yonget opened #3978 "trait env 新增环境变量工作流执行失败"
**Describe the bug**
在应用中使用默认env trait，添加不存在的key会导致工作流失败。
**To Reproduce**

1. 使用的trait
[code]
2. 部署的Application
[code]
3. 部署应用
`vela up -f env-patch.yaml -n default`
`vela status env-patch -n default`
7. error
[code]
**Expected behavior**
期望工作流apply成功

**Screenshots**

<img width="589" alt="image" src="https://user-images.githubusercontent.com/16254612/170198007-a9c6561f-8abc-4252-acb0-0ea76ca3bb

[2022-05-25 06:59] yonget opened #3979 "trait env两个以上的env会触发error"
**Describe the bug**

在application添加两个以上type为env的trait，部署不成功
**To Reproduce**

- trait env yaml
[code]
- applicatoin yaml
[code]
`vela up -f env-patch.yaml -n default`
- error
[code]
**Expected behavior**

期望application apply 成功
**Screenshots**

**KubeVela Version**

[code]
**Cluster information**

[code]
**Additional context**

[2022-05-25 07:30] StevenLeiZhang opened #3980 "delete Project fail on VelaUX"
**Describe the bug**

**To Reproduce**
1. go to VelaUX
2. add one Project
3. click the delete button to delete it
4. one error is raised "resource name may not be empty"

**Expected behavior**
1. the Project can be deleted without error

**Screenshots**

**KubeVela Version**

➜  ~ vela version
CLI Version: v1.4.0-beta.1
Core Version: 1.4.0-beta.1
GitRevision: git-1d82378
GolangVersion: go1.17.10
➜

[2022-05-25 09:00] wonderflow commented on #3979
apply the same trait more than once is not supported, why don't use as below:

[code]

[2022-05-25 09:08] yonget commented on #3979
有些场景可能需要这样使用，比如自定义三种trait：日志采集  jvm监控  skywalking注入的开关。三个自定义trait都有可能需要修改env。

[2022-05-25 09:33] wonderflow commented on #3979
自定义trait换个名字是可以patch env的

[2022-05-25 09:51] yonget commented on #3979
我复制了env.cue的源码到env1.cue env2.cue并重新命名trait type为env1和env2，然后使用下面的env-patch.yaml部署
[code]
`vela up -f env-patch.yaml -n default`
output:
[code]

[2022-05-25 11:19] barnettZQG opened #3983 "[Feature] support multiple drivers application gateway rule management"
**Is your feature request related to a problem? Please describe.**

In the Kubernetes ecosystem, there are two most widely used application north-south traffic (gateway) management APIs, namely Ingress and [Gateway API](https://github.com/kubernetes-sigs/gateway-api).

The Ingress mainly covers the HTTP protocol, and the Kubernetes SIG currently drives the latter in order to implement a standard A

[2022-05-25 13:09] StevenLeiZhang opened #3987 "add Target fail by fetch terraform-provider error"
**Describe the bug**

![image](https://user-images.githubusercontent.com/14890978/170269451-bc66570f-8272-483d-88fd-428124cb7e4c.png)

**To Reproduce**
1. go to VelaUX
2. go to menu Targets
3. click button Add Target
4. select one Project, such as Default
5. one error is raised

**Expected behavior**
1. no error is raised

**Screenshots**

**KubeVela Version**

CLI Version: v1.4.0-beta.1
Core Vers

[2022-05-25 21:13] victor-amsantos commented on #3937
Update:
We found that if we change the parameter `accountId` from `context.parameter.accountId` (which is a value in our Application) to some concrete value (e.g `accountId: "some-value") the error ceases to exist.
We still looking for some fix but as a workaround, it is possible to use.

[2022-05-26 02:15] zzxwill commented on #3672
@anoop2811 We have supported this feature in Terraform Controller and verified with a simple tool https://github.com/kubevela/terraform-controller/tree/master/hack/tool/backup_restore. @loheagn and I are working to bring it to KubeVela CLI.

[2022-05-26 02:19] #3967 closed

[2022-05-26 02:27] #1392 closed

[2022-05-26 02:35] wonderflow commented on #3937
Do you mean that the error is not caused by the statement `import("enconding/json")` used more than once ?

[2022-05-26 03:28] chivalryq opened #3994 "Avoid older version became latest version when release"
When release KubeVela, CI script will update a file named `latest_version` in Aliyun OSS.

If we release 1.3.6 after 1.4.0, 1.3.6 release process will update this file. But 1.4.0 is "latest_version" actually.

We should add some logic when release, like comparing remote release according to semver then decide whether to update the `latest_version` file.

[2022-05-26 03:30] #3980 closed

[2022-05-26 05:29] BinaryHB0916 opened #3997 "🏕 Alibaba Summer of Code (ASOC) 2022"
Welcome to the open-source world! If you haven't planned how to spend this summer, come to the Alibaba Summer of Code and code with us! 💻

Alibaba Summer of Code is a global program focused on engaging students directly in open source software development. Under the guidance of the mentor in the Alibaba open source project, students can experience software development in the real world. Alibaba Su

[2022-05-26 07:45] #3987 closed

[2022-05-26 09:14] zzxwill opened #4002 "A Terraform application could be deleted when there is no provider"
**Describe the bug**

From Slack.

An application failed to delete.

[code]

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-05-26 11:30] #3950 closed

[2022-05-26 11:44] oeular commented on #3935
Maybe tracing-information can be added in one annotation of the k8s-object
and the corresponding controller get the tracing-information from the k8s-object, and then do some work
and then the controller dispatches to the cluster-gw
and then the k8s-obejcts fly to the managed cluster

the 1st tracing-info injected by vela-apiserver---> attach it to application CR--->the 2nd tracing-info  processed

[2022-05-26 13:23] fourierr commented on #3947
I will refine the the output for more clear.

[2022-05-27 02:46] zengqinglie opened #4015 "apply application.yaml后部署延迟严重"
**Describe the bug**

提交application.yaml成功后，到application部署成功，延迟超过5分钟。
**To Reproduce**

1. Components&traits:
comp: cy-deploy(与webservice类似)
trait: scaler
policy: env-binding-policy

2. application yaml:
[code]

**Expected behavior**

立即部署demo-nginx application, 生成deployment&pod
**Screenshots**

无

**KubeVela Version**

**版本:**
CLI Version: v1.3.2
Core Version: 1.3.2
GitRevision: git-d08aa7d
Golan

[2022-05-27 02:55] oeular commented on #3872
here is a demo：
apiVersion: batch/v1
kind: Job
metadata:
  name: vegeta
  namespace: vela-system
spec:
  parallelism: 10
  completions: 10
  backoffLimit: 0
  template:
    metadata:
      name: vegeta
    spec:
      containers:
      - name: vegeta
        image: quay.io/karansingh/vegeta-ubi
        command: ["/bin/sh","-c"]
        args: ["echo 'GET http://172.21.192.69:80' | vegeta attack -du

[2022-05-27 02:57] oeular commented on #3872
And the report is:
kubectl logs  vegeta--1-sv566  -n vela-system
Requests      [total, rate, throughput]         813, 13.52, 0.00
Duration      [total, attack, wait]             1m3s, 1m0s, 3.006s
Latencies     [min, mean, 50, 90, 95, 99, max]  1.061s, 4.799s, 3.006s, 8.016s, 9.018s, 20.987s, 30s
Bytes In      [total, mean]                     0, 0.00
Bytes Out     [total, mean]

[2022-05-27 03:02] clarechu opened #4017 "repeated application of the same resource results in delete deployment"
**Describe the bug**
When I updated the application resource of vela, I found that the deployment resource application was deleted by vela-core.

**To Reproduce**

[code]

1. apply application
[code]

2. get pod

[code]

3. Apply the same again yaml

[code]

4. get po

[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**
vela-core : v1.3.2

**Cluster information**

Kubernetes Versi

[2022-05-27 03:04] captainroy-hy commented on #4015
https://github.com/kubevela/kubevela/blob/6bef810dc33e4c4fc61b740b6943c10dfc1784bf/pkg/utils/apply/apply.go#L169

[2022-05-27 03:11] oeular commented on #3872
And the report is
kubectl lgos   vegeta--1-k2klb  -n vela-system
E0527 11:10:05.609129   27262 run.go:120] "command failed" err="unknown command \"lgos\" for \"kubectl\"\n\nDid you mean this?\n\tlogs\n"
[root@yxl 5-25]# kubectl logs   vegeta--1-k2klb  -n vela-system
Requests      [total, rate, throughput]         1031645, 17193.84, 17193.63
Duration      [total, attack, wait]             1m0s, 1m0

[2022-05-27 03:15] FogDong opened #4018 "[Feature] Upgrade golangci-lint to a higher version"
**Is your feature request related to a problem? Please describe.**

The golangci-lint in KubeVela repo is `v1.38.0` which is kinda outdated, it's nice to upgrade it to a higher version.

At the same time, some codes in the repo don't meet the lint requirement in the higher version, so please fix them in the upgrading.

You can use the command `make lint` to check all the results.

**Describe the s

[2022-05-27 03:16] FogDong opened #4019 "[Feature] Support `retries` in workflow step"
**Is your feature request related to a problem? Please describe.**

For a failed step, we can add `retries` to let the users control the max retry times like:

[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-27 03:23] FogDong opened #4020 "[Feature] Support timeout in workflow step"
**Is your feature request related to a problem? Please describe.**

If the workflow step is `wait healthy`, in some cases we don't want it wait forever, we can add `timeout` in that step like:

[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-27 03:23] chivalryq commented on #4017
This is quite strange. Is this app still reconciling? And the new Deployment haven't been created?

[2022-05-27 03:30] oeular commented on #3872
So maybe vegeta is just as a trait addon.

[2022-05-27 03:38] clarechu commented on #4017
yes， Very strange

[2022-05-27 03:39] wonderflow commented on #3872
Yes, we can make it as a trait in the first step.

[2022-05-27 03:43] wonderflow commented on #4018
Along with the upgrade, we should fix the potential lints detected in the new version.

[2022-05-27 03:57] chivalryq commented on #4017
You mentioned that the second time you apply the same application. If the app.spec are the same, kubectl report "app unchanged" instead of "app configured"

[code]

Could you please check:
1. If the second app are the same with before.
2. What minimal properties and traits in application to reproduce.

[2022-05-27 04:01] clarechu commented on #4017
The current file I did not do task changes

[2022-05-27 06:56] ivyilike opened #4022 "[Feature] the command `vela def apply` support directory"
**Is your feature request related to a problem? Please describe.**
- It is hoped that the command  like `kubectl apply -f ./xx` can apply all the cue files in one directory at a time.
- Currently, `vela def apply xx.cue` only supports to  apply one cue file.

[2022-05-27 07:01] chivalryq commented on #4017
I'm try environment below. The second time when I apply the app.yaml kubectl just report "unchanged".

- Same vela-core version
[code]
- app.yaml like
[code]

If you are free, please check the what are the perperties are needed in minimal to reproduce the error. That will helps a lot for tracking the issue.

[2022-05-27 07:19] fourierr commented on #4020
Is the `timeout`  a field of step, or a independent step?

[2022-05-27 07:30] chivalryq commented on #4017
About Pod restart problem, it is duplicated with https://github.com/kubevela/kubevela/issues/3751. And it has been fixed here: https://github.com/kubevela/kubevela/pull/3758 which is included in v1.3.3. You can upgrade your vela-core and retry, see if problem still exists.

If upgrade don't solve it, feel free to post more information here.

[2022-05-27 07:32] clarechu commented on #4017
@chivalryq Thank you！ I'll try the latest version first.

[2022-05-27 07:57] wonderflow commented on #4022
good idea! Pleas go ahead.

[2022-05-27 08:04] wonderflow opened #4024 "[Feature] support apply Traits with Helm Component"
### Discussed in https://github.com/kubevela/kubevela/discussions/3918

<div type='discussions-op-text'>

<sup>Originally posted by **MaharaJothi** May 17, 2022</sup>
Hi

I want to apply a helm package using `Helm Component` and deploy ingress service for the same via `Trait`.

## Issue Description:
I'm installing a helm package using `Helm` component which doesn't expose its service.  So in order

[2022-05-27 08:05] wonderflow commented on #4024
Anyone who needs this feature can comment about which kinds of trait you want to apply to helm componnet.

[2022-05-27 08:23] #3881 closed

[2022-05-27 08:27] FogDong commented on #4020
`timeout` should be a field of steps so that we can control the running time of the steps.

[2022-05-27 09:14] #3885 closed

[2022-05-27 09:34] #3947 closed

[2022-05-27 09:36] #3972 closed

[2022-05-27 10:49] phantomnat opened #4035 "[Feature] Parallel deploy step in Golang"
**Is your feature request related to a problem? Please describe.**

In an Application, we deploy around 20 clusters with a combination of parallel like 2 -> 4 -> 4 and so on with a custom parallel deploy step.

<details>
<summary>parallel-deploy.cue</summary>

[code]
</details>

<details>
<summary>example workflows</summary>

[code]
</details>

**Describe the solution you'd like**

As the project

[2022-05-27 11:26] rainwolf01 opened #4037 "env trait always fail"
**Describe the bug**

**To Reproduce**

**Expected behavior**

examples in repo apply success.
- https://github.com/kubevela/kubevela/blob/master/docs/examples/advanced-cue/env-patch.yaml
- https://github.com/kubevela/kubevela/blob/master/docs/examples/traits/env/single-container.yaml

- copy `env-patch.yaml` and modify it,  **it's success**
[code]

- copy `single-container.yaml` and modify it, **

[2022-05-27 12:17] Somefive commented on #4015
Upgrading cluster-gateway to v1.4.0 generally solved this problem. It is largely caused by the rate limit of cluster-gateway.
The patch enhancement is encouraged and let's make it for future.

[2022-05-27 13:07] #4037 closed

[2022-05-27 13:08] Somefive commented on #3978
Fixed in #4038

[2022-05-27 13:08] #3978 closed

[2022-05-27 13:42] #3955 closed

[2022-05-27 14:01] #3825 closed

[2022-05-27 17:55] alisson276 opened #4045 "Fail to delete applications due lack of dependency between components when using terraform"
**Describe the bug**

When deleting a bunch of components in the same application using the terraform addon, the controller decides to delete them in order of creation, however, depending of the provider (in my case is Azure) it requires some order (delete all resources under a resource group and after this deleting the resource group itself).

**To Reproduce**

1. Configure the terraform and terr

[2022-05-27 22:36] jcooklin commented on #1400
@wonderflow Do you think this issue will be resolved in milestone 1.5 and not pushed again?

[2022-05-28 01:01] wonderflow commented on #1400
@jcooklin I think we will! It's really sorry to be delayed. We have communicate with the CUE team recently and we're eager to upgrade it.

[2022-05-28 02:02] wonderflow opened #4046 "[velaux] get an authorized kubeconfig file in velaux for the user"
**Is your feature request related to a problem? Please describe.**

We already have multi-cluster authorization, and by using VelaUX, admin can authorize for users integrate from LDAP( or other channels from dex). These users may also want to use it by using vela cli while they don't have a kubeconfig.

The admin can't manually create kubeconfig for every authorized user.

**Describe the solution

[2022-05-28 09:16] fourierr commented on #4015
Is there a specific time to upgrade cluster-gateway to v1.4.0?

[2022-05-28 09:16] fourierr commented on #4015
Is there a specific time to upgrade cluster-gateway to v1.4.0? @Somefive

[2022-05-28 09:44] barnettZQG opened #4047 "fail to get the endpoints via the VelaQL"
**Describe the bug**

[code]
Maybe, if the application does not exist in the cluster or the application without the endpoints, the VelaQL API will return this error.

**KubeVela Version**

1.4.0-beta.2

[2022-05-28 09:52] barnettZQG opened #4048 "The policies belonging to the env were not clear successfully after the env binding was deleted."
**Describe the bug**

The policies belonging to the env were not clear successfully after the env binding was deleted.

**To Reproduce**

1. bound a new environment, the policies will be created.
![image](https://user-images.githubusercontent.com/18493394/170820147-30a2b42e-6a80-4f0b-83e4-3eab1b9c9c4e.png)

2. delete the environment binding, the policies still exist, but miss the env name.

![imag

[2022-05-28 09:57] wxuedong opened #4049 "Describe the bug*"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-05-28 09:57] #4049 closed

[2022-05-28 11:57] barnettZQG opened #4051 "A brief error occurred when deploying the helm application"
**Describe the bug**

![image](https://user-images.githubusercontent.com/18493394/170824219-427a1380-eab7-40ba-b57f-1d68cb6aeb8e.png)

This error will disappear as the application is deployed. there should be a bug in helm's CUE script. The previous version did not appear, it should be related to the recent modification.

**To Reproduce**

1. Deploy an application with helm type component.
2. Watc

[2022-05-28 13:27] barnettZQG opened #4052 "[Feature] Add the web shell API"
**Is your feature request related to a problem? Please describe.**

There are three basic ways to troubleshoot the application delivery process.

* Pod Status
* Logger
* Remote Shell.

Currently, Pod Status and Logger are already supported in the API server. Remote Shell is ready in vela CLI, and it is running via the cluster gateway.

We should add a secure web shell API and support the web termi

[2022-05-28 15:57] anoop2811 commented on #3672
awesome! Thank you!

[2022-05-28 16:16] wonderflow commented on #4046
Are there any possibilities that the endpoint of this kubeconfig point to the prism server which actually connect to kubevela apiserver, from which we can make the data synchronized from ux to k8s api. /cc @Somefive @barnettZQG

[2022-05-29 12:02] StevenLeiZhang commented on #4051
I hit this error when I enable addon terraform, but  I can not reproduce it

[2022-05-30 02:06] #4017 closed

[2022-05-30 02:27] Somefive commented on #4015
KubeVela v1.4.0-beta.2 uses cluster-gateway v1.4.0 by default. As far as I see, you can upgrade cluster-gateway to v1.4.0 at any KubeVela version you want.

[2022-05-30 02:28] Somefive commented on #3977
Solved in #4031

[2022-05-30 02:28] #3977 closed

[2022-05-30 02:29] barnettZQG commented on #4024
@wonderflow I can't reproduce it, for example, http://demo.kubevela.net/applications/redis/envbinding/hongkong/status

[2022-05-30 03:20] Somefive opened #4054 "[Feature] Add vela-prism as an addon"
**Is your feature request related to a problem? Please describe.**

Now we can install vela-prism with `helm install`. We should support vela-prism as an addon so that users can install it by using `vela addon enable vela-prism`.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-30 07:18] wonderflow commented on #3771
@BartvdBerkHU Hi, would you please try the solution @diego-milhomes  provides? We don't have any EKS cluster for test. Thanks.

[2022-05-30 07:48] #4047 closed

[2022-05-30 08:21] #4048 closed

[2022-05-30 16:37] StevenLeiZhang opened #4069 "Can not delete terraform provider"
**Describe the bug**

Can not delete terraform provider

**To Reproduce**
1. add it
[code]

2.delete it
[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-05-31 01:52] zzxwill commented on #4045
@alisson276 Thanks for reporting this issue.
Did the application `vm-1` fail to delete?
When deleting the application, three jobs will be created to delete each of the comments. Of course, as you said, two of them will fail, but they will retry later until there is no dependency.

As you mentioned the order to ensure the deletion for the dependent components, @FogDong implemented the mechanism to

[2022-05-31 02:00] barnettZQG opened #4071 "failed to upgrade from 1.3.3 to 1.4.0-beta.1"
Hello team,
I tried to update my kube-vela installation and it failed.
Previously, I installed kube-vela with the following command:
[code]
It was running without any problem. Today, I tried to update it executing:
[code]
And it failed because the secret has no the key required:
[code]
Error: open /etc/k8s-cluster-gateway-certs/tls.crt: no such file or directory

[code]

Has anybody had the same p

[2022-05-31 02:01] chivalryq commented on #4015
Closing.
@zengqinglie If the upgrading cluster-gateway didn't solve your problem, feel free to reopen this issue.

[2022-05-31 02:01] #4015 closed

[2022-05-31 03:04] lunarwhite commented on #3898
Hi @zzxwill, sry to bother you, I'm very interested in KubeVela and find this issue on ASoC. And I've sent you an email to say hello:) My Email address: dwcn22@outlook.com

Any feedback would be grateful, thanks in advance!

[2022-05-31 03:10] FogDong commented on #4045
It is fixed in #4063 , you can check to docs here to check if it meets your requirements: https://github.com/kubevela/kubevela/blob/master/docs/examples/app-with-policy/gc-policy/reverse-dependency.md

[2022-05-31 04:03] wonderflow commented on #3900
[code]

=> region align with provider by default, you can also set it in `properties.customRegion`,  it should be reported in `status.region`

[code]

[2022-05-31 06:23] wonderflow commented on #4071
Anyone who meet this issue, please delete the secret and rolebinding before upgrade:

[code]

[2022-05-31 07:01] #4069 closed

[2022-05-31 07:40] barnettZQG commented on #3900
Fixes by kubevela/velaux#538

[2022-05-31 08:04] #4071 closed

[2022-05-31 08:12] #3361 closed

[2022-05-31 08:14] #3936 closed

[2022-05-31 08:17] #3900 closed

[2022-05-31 09:28] alisson276 commented on #4045
@zzxwill, it's applied serially as far as I see, because all there was just one job running and other ones were pending. The problem is the first one got stuck, because the resource group never gets deleted. I needed to deleted the virtual machine through the Azure Portal then the resource group could be deleted, but the next jobs never was completed, because I deleted the virtual machine manually

[2022-05-31 11:30] FogDong commented on #4045
Yes, this feature will be released in v1.4 and it is not released yet, you can use the master branch to give it a try.

[2022-05-31 11:33] wonderflow commented on #4045
It's released just now. https://github.com/kubevela/kubevela/releases/tag/v1.4.0

[2022-06-01 01:43] zzxwill commented on #3898
@lunarwhite Great.

[2022-06-01 02:06] zzxwill commented on #4045
@FogDong In theory, these should be three jobs running to delete the resource respectively. Was the components deleted one by one?

[2022-06-01 02:53] FogDong commented on #4045
If you specify components with `dependsOn` in Application like:

[code]

the order of creation is:  A, B -> C -> D -> E

the order of gc (with the gc dependency policy specified) is: E -> D -> C -> A, B

[2022-06-01 07:30] alisson276 commented on #4045
I tested the dependsOn changing the order of the components and it worked.
[code]

Now the deletion is running parallel, don't know what happen before on my setup that only one was running at a time. But you can consider it closed.

[2022-06-01 07:30] #4045 closed

[2022-06-01 07:41] FogDong opened #4087 "[Feature] Support more expressions in if"
**Is your feature request related to a problem? Please describe.**

Right now we support `if` in the workflow step, we can support more expressions in if like:

[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-01 07:44] FogDong opened #4088 "[Feature] Support cue actions like `op.Failed`"
**Is your feature request related to a problem? Please describe.**

In some cases, we may want this step to fail if the fields in the resource are not what we want.

That's when we need a new cue action like `op.Failed`, we can use this to set the steps' phase to fail to control the workflow.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-01 08:11] xueliangyang-oeuler opened #4089 "[Feature] vela logs support specified the resource kind with parameter --kind"
vela logs
-k, --kind string   specify the Kubernetes resource kind to use

e.g
vela logs show-vegeta -k deployment  -n default
+ show-vegeta-57b6885545-spvdq ? show-vegeta
show-vegeta-57b6885545-spvdq show-vegeta 2022-06-01T08:04:51.203325241Z /docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
show-vegeta-57b6885545-spvdq show-vegeta 2022-06-01T08:04:5

[2022-06-01 08:26] wangyikewxgm commented on #4089
What if there are many deployment in an application? So I think letting user choose the resources now is better.

[2022-06-01 14:45] StevenLeiZhang opened #4093 "vela provider delete command's example is wrong"
**Describe the bug**

**To Reproduce**
1.   print the help doc of.  vela provider delete
[code]

2. follow the example to delete it
[code]
but this command raises error

3. try --name

[code]
it works now

**Expected behavior**

[code]

**Screenshots**

**KubeVela Version**
[code]

**Cluster information**

**Additional context**

[2022-06-02 02:19] fourierr commented on #4020
In the next few days, I'll finish it. @FogDong @wonderflow

[2022-06-02 02:33] wonderflow commented on #4089
i'm sorry but users shouldn't have the background about the kind of resources.

[2022-06-02 02:38] wonderflow commented on #4020
great ! @fourierr

[2022-06-02 02:41] FogDong commented on #4020
Great! We can have some discussions in the community.

[2022-06-02 02:53] FogDong commented on #4020
After discussing with @fourierr , I'll take this issue and he will take a look at the retry issue #4019

[2022-06-02 02:55] fourierr commented on #4020
yes, it is

[2022-06-02 02:55] SQGE opened #4098 "通过VelaUX扩展能力进行操作启用禁用都不生效"
![image](https://user-images.githubusercontent.com/30278569/171543195-df562d68-9ab5-4187-9112-d74ec86e9f30.png)

### KubeVela Version

[code]

[2022-06-02 03:02] #4093 closed

[2022-06-02 03:10] oeular commented on #4089
If there are more different kind resource, we cannot directly output the logs, especially  cannot use pipe(‘|’) to do some other work. And 'vela logs new-vegeta -n vegeta l grep error',  here happens 'Error: accepts 1 arg(s), received 4'

The other side, when some component logs are needed to output the some files, e.g use '> output.logs', it will output all pods logs

[2022-06-02 03:18] wonderflow commented on #4089
it's fine for me to use the --resources instead of -k.

[code]

[2022-06-02 03:18] oeular commented on #3868
@wonderflow  Can the trait be used to vela components, such as velaux(especially apiserver), core and cluster-gw.
I think it can make vela better for system diagnose and observablility.

[2022-06-02 03:24] wonderflow commented on #3868
@oeular Of course, we should use it as dog food！

[2022-06-02 03:25] FogDong commented on #4018
If your `golangci-lint` is higher than `v.1.38.0`, the code won't pass all the lints.

So yes if you want to get started with this issue, you can fix all the lints problem when you use a higher version of `golangci-lint`.

[2022-06-02 03:26] wonderflow commented on #4089
Here's the use-case : https://github.com/kubevela/catalog/pull/359

[2022-06-02 03:36] oeular commented on #4052
It will be like this ?
velaux-ui ----> the web shell api: gotty --port 90 <vela command>, and the gotty will be as another endpoint for velau-ui

[2022-06-02 03:37] oeular commented on #3868
OK. we will work on this issue this month.

[2022-06-02 03:48] barnettZQG commented on #4098
@SQGE The reason for this issue is that the query list is preferentially got from the cache, After the definition status changes, it will delay entering the cache. In fact, it has already been changed.

[2022-06-02 04:05] rgaoistheone opened #4102 "Can't upgrade to 1.4.0 using both vela install or helm upgrade"
**Describe the bug**
Can't upgrade to 1.4.0 using both vela install or helm upgrade

**To Reproduce**
[code]
![image](https://user-images.githubusercontent.com/5696899/171550605-f15cd7a8-00f1-47db-9080-6ebc4c036605.png)
[code]
And got this error:
![image](https://user-images.githubusercontent.com/5696899/171550544-975f521c-61f3-4b71-8daa-57815a1086c0.png)

And then try to upgrade by helm upgrade
[

[2022-06-02 04:25] fourierr commented on #3868
+1，It's good way to diagnose the application

[2022-06-02 04:56] fourierr commented on #4089
- I think the question point is that user usually don't view the log one by one line, he want to search for some specific information via  pipeline `|` .
- e.g `kubeclt logs <pod-name> -n <ns-name> | grep <bussiness-code>`
- But  when using package `survey` to select deploy, it is not support pipeline.

[2022-06-02 07:20] barnettZQG commented on #4052
@oeular

The web shell API should upgrade to the WebSocket protocol, and reuse the existing endpoint.

[2022-06-02 09:01] fengkang01 opened #4104 "use mongoDB datastorage to integration sso fail"
**Describe the bug**

我希望使用dex插件集成ldap来实现单点登录的功能，按照官方的文档进行配置并已经将admin账号的邮箱设置为和ldap账号邮箱相同
当使用ldap中和admin配置的邮箱相同的账号登录时，并没有继承原本的admin的,并且在登出再次登录同样的账号时页面显示“data record is exist”，但是我将存储方式改为kubeAPI后则可以正常的使用并可以继承原本本地账号的权限

I hope use dex addon integration ldap to implementa sso function,i had config admin account email same as ldap account.When i login ,this account not inheritance the local admin accoun

[2022-06-02 09:06] FogDong commented on #4104
That's because we replace some symbols like `@` to `-` to meet the requirement of `kubeapi`, see the code here: https://github.com/kubevela/kubevela/blob/master/pkg/apiserver/domain/model/user.go#L76

But in mongoDB, we shouldn't do the replacement.

[2022-06-02 19:09] h7kanna opened #4106 "[Feature] Show component health status in graph view"
**Is your feature request related to a problem? Please describe.**
Need component health status in Graph view

**Describe the solution you'd like**
Display Healthy status in graph view of the components in addition to the Overview tab (Green dots)

**Describe alternatives you've considered**
Use Overview tab

**Additional context**

[2022-06-02 19:10] h7kanna commented on #4106
Oops may be duplicate of https://github.com/kubevela/velaux/issues/536

[2022-06-03 05:12] barnettZQG commented on #4102
@rgaoistheone

Can you try the 1.4.1 version? This issue is fixed by #4092

[code]

[2022-06-03 08:11] fourierr commented on #3822
Is it supported now？

[2022-06-03 10:44] wonderflow commented on #3822
not yet

[2022-06-03 13:36] fourierr commented on #3872
https://github.com/kubevela/catalog/pull/359 supported

[2022-06-03 13:36] #3872 closed

[2022-06-04 04:18] Hanmengnan commented on #3905
Hello, I am interested in contributing to this feature. Is there any new progress in this feature?

[2022-06-04 04:38] wonderflow commented on #3905
Welcom! @Hanmengnan There's nobody working on that, please go ahead.

[2022-06-04 06:18] barnettZQG commented on #3905
Maybe we should add a new dir `hub-resources` in the addon. only apply the resources to the hub cluster when enabling the addon.

[2022-06-04 12:53] fourierr opened #4114 "[Feature] add a `note.cue` file in the addon"
**Is your feature request related to a problem? Please describe.**

- As we discussed in https://github.com/kubevela/kubevela/pull/4108
- Hardcode for every add-on is a disaster. e.g
https://github.com/kubevela/kubevela/blob/05b45fa52cb1727cc8b9f1148126b19dd21841a3/references/cli/addon.go#L203

**Describe the solution you'd like**
- Refer to helm and align with helm chart Note.txt https://helm.sh/

[2022-06-04 14:38] wonderflow commented on #4114
what about align with helm chart? A separated file named `notes.cue`?

[2022-06-04 15:38] wonderflow opened #4116 "[Feature] support archive addon as a helm chart that can be installed by `helm install`"
**Is your feature request related to a problem? Please describe.**

We must use `vela addon enable` to install an addon, while it seems everything can be done by using `helm install` ?

We add  burden to end user that they must know the concept of addon.

**Describe the solution you'd like**

1. Add a `vela addon archive` command that can convert current addon to a helm chart, which can be uploade

[2022-06-05 01:49] fourierr commented on #4114
I quite agree with you

[2022-06-06 03:07] wangyikewxgm commented on #4114
A `note.cue` file is SMTG. But unlike the go-template, a `output` filed should add in this file.

[2022-06-06 03:16] basuotian commented on #3873
## Installation
- Homebrew: brew install --cask fig
- DMG: Download from our website: [fig.io](https://fig.io/welcome)

## Maintain

- fork this git repo [withfig/autocomplete](https://github.com/withfig/autocomplete)
- Clone your forked repo
[code]

- edit vela-cli spec in `src/vela.ts`, the spec is easy to understand
- run dev mode to review your change, use `npm run dev`
- send a PR to the main

[2022-06-06 06:58] barnettZQG opened #4118 "Fail to query the application logs if the log with the special characters"
**Describe the bug**

There is an application created by the image "lissy93/dashy". The API will return an error when we view this application log.

Maybe there are some special characters in the logs that caused the error:

[code]

API logs:

[code]

**To Reproduce**

1. Create an application with the image `lissy93/dashy`.
2. View the logs.

**KubeVela Version**

1.4.1

[2022-06-06 07:01] FogDong commented on #4045
Hi, please add gc policy in your application like:

[code]

Docs here: https://github.com/kubevela/kubevela/blob/master/docs/examples/app-with-policy/gc-policy/reverse-dependency.md

[2022-06-06 07:05] barnettZQG opened #4119 "The instance status is not clear in the VelaUX"
**Describe the bug**

![image](https://user-images.githubusercontent.com/18493394/172111832-49ca437b-2390-437b-97f9-9f16713fa79d.png)

In the VelaUX, the instance status is `Running`, but the real status is `CrashLoopBackOff `. We need a clear status show and help users more quickly find errors.

**KubeVela Version**

1.4.1

[2022-06-06 07:19] rgaoistheone commented on #3798
I think I've found the root cause for this issue. Turns out that my "mock data" in the same file will affect vela to generate schemas even they're already commented out.

[2022-06-06 07:20] #3798 closed

[2022-06-06 07:21] barnettZQG commented on #4102
If the upgrade process is terminated abnormally, the system prompts you to wait 18 minutes for the next upgrade. You can delete the release with the status `pending-install` or `pending-upgrade` or `pending-rollback`.

[code]

[2022-06-06 12:43] charlie0129 commented on #3856
After experimenting with a prototype (`fluxcd` addon with `worker` component), we think this would cause a breaking change (due to how addons work currently), which is not ideal for users.

Using a breaking change to fix this issue is probably not worth it.

If the addon mechanism allows us to fix this issue without breaking changes in the future, we can start fixing this again.

<details>

The co

[2022-06-06 13:16] jinnjwu opened #4122 "[Feature] Trust self signed certificate on private helm repo, docker registry, addon registry"
**Is your feature request related to a problem? Please describe.**

Our internal helm docker registry , tls is self signed, when we add to kubevela, it will be failed with below error, we would like kubevela supports self signed certificate
Found 1 errors. [(download index file from https://github.systems/raw/test/helm-chats/master/addons failure Get "https://github.systems/raw/test/helm-chats/mas

[2022-06-07 09:52] wangyikewxgm commented on #4116
I propose add "vela addon create create" subcommand in cli for user to generate a addon scaffold base  a helm chart's url
eg: run `vela addon create mongodb --helm-repo-url=https://marketplace.azurecr.io/helm/v1/repo  --helm-chart=mongodb --version=12.1.16`

this command will generate a dir along with base files of an adddon, eg:

[code]

And the mongodb.cue is:
[code]

By doing this, would help u

[2022-06-07 10:41] MimicTester1307 commented on #4018
/assign

[2022-06-07 12:56] barnettZQG opened #4124 "[Feature] Create a trait for auto creating the default domain for the component."
**Is your feature request related to a problem? Please describe.**

If the component is mounted with this trait, the access domain will be automatically generated for it after deployment.

**Describe the solution you'd like**

1. We should create an addon for this trait.
2. This trait could depend on the traefik addon, working with generating the HTTPRoute resource.
3. The domain generation rule:

[2022-06-08 01:45] Hanmengnan commented on #3905
My idea is to add a `views` folder in the outermost directory of addon. The addon directory structure is:
[code]

The view in the `views` folder are organized in a cue file format. Each view is placed in a cue file. An example of a view file is as follows:
[code]

We can render the contents of the cue file as the value of the configmap, and the corresponding key is `template`. This is to ensure co

[2022-06-08 01:53] oudi opened #4127 "doc of installation for windows not working with 1.4.1"
**Describe the bug**

install in Windows 10 in a pure evnironment. according to the doc https://kubevela.io/docs/install , there are some practices not fit with the doc. But kubevela running successfully(with other commands instead).

* There is no velad.exe under C:\vela after install powershell script. use `vela install` works.
    * powershell not under administrator
* `vela addon enable ~/.vel

[2022-06-08 02:07] StevenLeiZhang commented on #4127
Please refer to  https://github.com/kubevela/velad/releases。 Velad seems do not work on windows。So need update doc to clarify it.

[2022-06-08 02:08] viggo-whh commented on #1662
Orgnization/Company: T3出行
Location: Nanjing, China
Contact: wuhh@t3go.cn

Status: development & testing
Purpose/Scenario: Planning to use OAM model

[2022-06-08 02:28] oudi commented on #4127
download velad-v1.4.1-windows-amd64.zip and unzip under c:\vela, copy velad under windows-amd64 to parent path named velad.exe,  there has an error when run `velad install`

[code]
seems it need gzip which is not installed and included in windows's path.

But I think there is no need velad(vela in k3d?) because vela detected my k3s cluster and runs sucessful. closed!

[2022-06-08 02:28] #4127 closed

[2022-06-08 02:40] FogDong commented on #3205
FYI, @MimicTester1307 will take care of this issue.

[2022-06-08 02:51] chivalryq commented on #4127
Script has been fixed here: https://github.com/kubevela/kubevela.io/pull/710

VelaD support Windows.

We are using gzip in terminal PATH, maybe it should be replaced with a Go lib.

[2022-06-08 03:05] #3229 closed

[2022-06-08 03:05] #3421 closed

[2022-06-08 03:40] wonderflow commented on #3905
+1 for @Hanmengnan

1. The addon can render it as configmap automatically.
2. Vela CLI can provide capability for users to test view with CUE

[2022-06-08 04:23] Hanmengnan commented on #3905
If I understand correctly, you are reminding me of the capabilities that kubevela already has.

[2022-06-08 04:25] huangyanhong opened #4128 "topological graph can't show the service in the remote cluster"
**Describe the bug**

I create the app in the local and remote cluster ,topological graph can show the service and deployment  in the local cluster,but
topological graph can't show the service topological graph,only show the deployment topological graph;
<img width="734" alt="EDCF7FE0-50E1-4896-B764-1EE7C7F325A9" src="https://user-images.githubusercontent.com/26728869/172534722-c9124472-55dd-4c5a-

[2022-06-08 06:00] StevenLeiZhang commented on #4122
possible solution: add one boolean argument for api-server, if it is true, let api-sever skip TLS check.

[2022-06-08 06:02] barnettZQG commented on #4128
@huangyanhong Please confirm whether the services exist in the remote cluster.

[2022-06-08 06:43] huangyanhong commented on #4128
remote service is exist
<img width="1046" alt="service" src="https://user-images.githubusercontent.com/26728869/172549382-f35b9d9c-7a14-4b42-9dff-ed706409cbf5.png">
@barnettZQG

[2022-06-08 08:52] wonderflow opened #4131 "[Feature] vela def support list version and get detail for definition revision"
**Is your feature request related to a problem? Please describe.**

We have version control for definition, but they can only be used by `kubectl` which is not unified with `vela` cli.

https://kubevela.io/docs/platform-engineers/x-def-version

**Describe the solution you'd like**

I propose we should align with `vela def` command:

1. list versions
[code]

2. get detailed parameters with specifie

[2022-06-08 09:05] dongwenjuan opened #4132 "Panic to get addon registry"
**Describe the bug**
Panic to get addon registry

**To Reproduce**

# vela addon registry list
Name            Type    URL
KubeVela        helm    https://addons.kubevela.net

# vela addon registry get KubeVela
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x24cfd8a]

goroutine 1 [running]:
github.com/oam-dev/ku

[2022-06-08 09:09] wangyikewxgm commented on #4132
Do you use `vela addon registry list` command?

[2022-06-08 10:13] lgj101 opened #4134 "Connect to an existing cluster，`insecure-skip-tls-verify` parameter does not seem to work"
**Describe the bug**

集群列表-连接已有集群，连接不成功，报错信息：Message: "failed to join cluster: failed to ensure vela-system namespace installed in cluster cce-business: failed to check if namespace vela-system exists: x509: certificate signed by unknown authority"

**To Reproduce**

我使用的yaml文件如下：
![image](https://user-images.githubusercontent.com/29968308/172583665-bff5ddd1-9e22-4fdc-a5b8-a5175a21a30d.png)
其中："in

[2022-06-08 11:31] wangyikewxgm commented on #4122
Since we should support this in cli side. An option when add registry is proper. eg:

[code]

[2022-06-08 11:36] ZhongsJie96 commented on #4132
This is caused by KubeVela is a Helm registry.

[2022-06-08 12:58] TIEDPAG commented on #4122
Or whether it can support private ca at the same time. cli use
[code]

[2022-06-09 00:23] dongwenjuan commented on #4132
ok, thanks for everyone~

[2022-06-09 02:00] TIEDPAG commented on #4122
I understand the reason for this support, can you assign this issue to me

[2022-06-09 02:07] wonderflow commented on #4122
@TIEDPAG Assigned , you can also assign by yourself with the comment `/assign`

[2022-06-09 02:15] #3903 closed

[2022-06-09 02:15] #4132 closed

[2022-06-09 03:36] #4128 closed

[2022-06-09 05:40] wangyikewxgm opened #4138 "[Feature] Create chart-museum addon"
**Is your feature request related to a problem? Please describe.**

[Chart-museum](https://chartmuseum.com/) is project helm for store helm chart. So this addon can help user store their own private helm chart.
Since by using "vela addon package" can package an addon as helm-chart format package which can be stored in chart-museum. this chart-museum can be used to store addon too.So this can help

[2022-06-09 07:33] SQGE opened #4139 "[Feature]集成配置新增配置能否支持可编辑的形式"
![1111](https://user-images.githubusercontent.com/30278569/172790968-fcc3e426-d016-48d8-a40f-d51734839ab4.png)

[2022-06-09 09:13] wonderflow opened #4140 "[Feature] add label to definition to identify which addon install them"
**Is your feature request related to a problem? Please describe.**

More and more definitions are installed with addon enabled, we can hardly check every definition by list all of them.

I hope we can have some convenience way to list , such as:

[code]

Then it will list all definitions from fluxcd addon.

**Describe the solution you'd like**

1. add a label to all definitions enabled by addon, e

[2022-06-09 09:16] charlie0129 commented on #4140
/assign

[2022-06-09 09:57] barnettZQG commented on #3909
Refer to https://fluxcd.io/docs/components/helm/helmreleases/

[code]

[2022-06-09 11:53] StevenLeiZhang commented on #4138
Is Harbor or chart-museum? since Harbor already integrated museum.

[2022-06-09 12:08] StevenLeiZhang commented on #4131
1. refer to `vela addon list`, how about show x-definition's versions, when user list them.
2. `vela def get` still get the details of specified x-definition, if user specify `--version`, show the details of specified version. Show the latest version, if version is not specified explicitly

[2022-06-09 12:50] fourierr opened #4143 "[Feature] Dispatch resource within a component sequentially"
**Is your feature request related to a problem? Please describe.**
In our scenario, we define several traits to generate `Custom Resource` for completing specific tasks.
- In some cases, trait-A need to dispatch before trait-B and workload.
- In k8s's case, when we modify pod parameter and configmap parameter, the cm should be dispatched before deployment.
So, the ability that dispatch resource wi

[2022-06-09 14:45] wonderflow commented on #4140
/assign

[2022-06-09 14:54] wonderflow commented on #4131
The result between `vela def get` and `vela show` are different:

[code]

[code]

Users may need the result of the parameters they can use.

[2022-06-09 16:25] ZhongsJie96 commented on #4143
Some traits do not have `outputs`. Without considering the dependencies between traits, whether it is possible to consider adding attributes at the trait level to complete such scenario, which mainly implements the priority of `outputs`.

[2022-06-09 16:41] fourierr commented on #4143
How should this attribute be defined? Can you describe it in detail or give an example？ @ZhongsJie96

[2022-06-09 16:42] Somefive commented on #4143
1. IMO, placing step (or inOrder) in component part is very aggressive. It is mixing the workflow and component parts. I know there are scenarios need the feature since I was also dealing it before. The proposed spec, though seems to be able to solve this problem, is relatively controversial and confusing.
2. We have steps in workflow and now we even have the powerful and amazing subSteps feature,

[2022-06-09 16:56] fourierr commented on #4143
Got it, at the beginning, I wanted to find a way to cover more scenarios. And just as you say, we actually only need to pre apply config trait. @Somefive

[2022-06-09 17:00] fourierr commented on #4143
yeah, only dispatching Deployment after ConfigMap is not be enough for it，We solve this problem in two steps, with priority given to preapply.

[2022-06-10 01:44] wonderflow commented on #4131
Yes. We're on the same side. The only difference is we already have vela show. I don't deny to add a  vela def show but we should still keep vela show.

[2022-06-10 02:21] idealceo opened #4145 "workflow step-group have three sub step, one sub step do not deploy when depend on two sub steps phase is succeeded"
[code]

KubeVela Version：1.4.1

工作流step-group有3个subStep，deploy-task-lxc020201-hb7-parallel0-7c4fc67， deploy-task-lxc020201-hb7-parallel0-7c4fc68已经成功部署，但是deploy-task-lxc020201-hb7-parallel0-7c4fc69一直不能部署

[2022-06-10 02:50] charlie0129 commented on #4131
/assign

[2022-06-10 03:23] FogDong commented on #4145
The `dependsOn` should be `subStep's name` like:

[code]

[2022-06-10 03:52] wonderflow commented on #4143
We're facing the same issue before like @Somefive mentioned. https://github.com/crossplane/oam-kubernetes-runtime/issues/222

In general, we need to pass the `generation` or `version` of application for **every newly updated** resource to determine whether they're updated.

Actually, even we have done this, it's still not enough for CRD controller, so Kubernetes community introduce the `observedGe

[2022-06-10 03:55] wonderflow commented on #4143
For the solutions mentioned above, I can agree the solution:

The end user SHOULD NOT understand the Implementation detail about the deploy order just to make sure the configmap is updated before workload mounting it.

I quite agree with @Somefive that we **MUST think what a Serverless Application would be like in the future** to decide the interface of Application.

[2022-06-10 04:45] fourierr commented on #4143
According to add a field in traitdefinition, I will reorganize the implementation details.

[2022-06-10 04:49] fourierr commented on #4143
Thanks a lot, the field `observedGeneration` is very useful for us  @ZhongsJie96

[2022-06-10 04:56] barnettZQG commented on #4143
same with #3888

[2022-06-10 05:01] ZhongsJie96 commented on #4143
Yes, I need to learn more about `observedGeneration` later.

[2022-06-10 07:26] #4104 closed

[2022-06-10 09:29] #3909 closed

[2022-06-11 11:48] oeular commented on #3892
I have a try for this issue. The k8s job is described like this.
apiVersion: batch/v1
kind: Job
metadata:
  name: netlify
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 10
  template:
        metadata:
          name: netlify
        spec:
          containers:
          - name: netlify
            image: an-image:latest
            env:
            - name: SITE_NAME
              value:

[2022-06-11 11:50] oeular commented on #3892
And the result is like this.
[root@yxl-abc ~]# kubectl create ns netlify
namespace/netlify created
[root@yxl-abc ~]# kubectl apply -f deploy-by-netlify.yaml -n netlify
job.batch/netlify created
[root@yxl-abc ~]# kubectl get po -n netlify --watch=true
NAME            READY   STATUS    RESTARTS   AGE
netlify-n67xq   1/1     Running   0          27s
netlify-n67xq   0/1     Completed   0          38s

[2022-06-11 11:57] Somefive commented on #2371
JSPolicy is cool. The use of TS does makes the expression of rules pretty straightforward and easy understanding. But as for the configuration ways for "policies" (the rules for validating/mutating), it might be more consistent if we could leverage the power of CUE (which on the other hand does not have any existing implementation by far). Otherwise, asking user to understand TS/JS could be some e

[2022-06-11 15:21] fourierr opened #4155 "[Feature] integrate a kubernetes policy management tool into KubeVela"
# integrate a kubernetes policy management tool into KubeVela

`Kyverno` and `gatekeeper` are the two header kubernetes policy management projects of CNCF.
As for kubernetes policy management tool, we focus on `Kyverno` and `Gatekeeper` and prefer `Kyverno`.

## Why we need Kyverno?
Kyverno is a kubernetes policy management tool, it runs as a dynamic admission controller in a Kubernetes cluster.
K

[2022-06-11 15:25] fourierr commented on #3868
supported by https://github.com/kubevela/catalog/pull/361

[2022-06-11 15:25] #3868 closed

[2022-06-11 15:38] Somefive commented on #4155
There are multiple problems for this proposal.
1. By far, I still have questions for the scope of Kyverno Policy while applied into KubeVela application. From my view, the Kyversno Policy is more of a system-level configuration, like ComponentDefinition & TraitDefinition. I think it is not application-level configuration. So how would you like to use it if you make KubeVela PolicyDefinition on top

[2022-06-11 15:40] Somefive commented on #4155
Also, `vela policy` is confusing as well. KubeVela also uses the name of Policy, but not completely aligned with the "policy" in Kubernetes Policy Management. An alternative name is strongly recommended.

[2022-06-13 02:13] zzxwill commented on #4139
@SQGE We did not support the `update` operation as we didn't want to expose sensitive information. If the operation is supported, you have to retry all sensitive fields. Is that what you want?

[2022-06-13 02:31] Somefive commented on #4155
https://www.youtube.com/watch?v=9gSrRNmmKBc Gives some comparisons between OPA GateKeeper & Kyverno.
Generally, Kyverno has more advantages over OPA GateKeeper
1. Examples are clearer.
2. Do not need additional "policy definition" for extra abstraction.
3. Do not need user to learn another language like REGO.
4. "Enforcing" is more powerful. For example, it can prevent user to create deployment th

[2022-06-13 03:58] rainwolf01 opened #4158 "[Feature]how to impl it one application delivery difference cluster and notify diff msg"
**Is your feature request related to a problem? Please describe.**

same application:
- deploy `dev`  notify dev deploy ok
- deploy `test`  notify test deploy ok

[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-13 04:15] Somefive commented on #3904
Probably you need to check if the `--ocm-integration` flag is enabled in cluster-gateway. You can check it by `kubectl get deploy kubevela-cluster-gateway -n vela-system -oyaml`.

[2022-06-13 05:14] #4134 closed

[2022-06-13 05:24] #4098 closed

[2022-06-13 05:38] ZhongsJie opened #4161 "[Feature] Updating the data field of the ConfigMap in the storage trait can cause the pod to update"
**Is your feature request related to a problem? Please describe.**

Currently, when using VelaUX or CLI, it is simply just updating the data field of the configMap in the `storage`. e.g.

[code]
->
[code]
Will not cause pod updates, resulting in inability to mount to the latest env data.

**Describe the solution you'd like**

Add extra label to `spec.template`

**Describe alternatives you've consi

[2022-06-13 06:30] #4020 closed

[2022-06-13 07:01] wonderflow commented on #3892
You should be able to exposte the URL for `vela status`

[2022-06-13 08:16] justxi1 commented on #3904
thanks for reply
I have checked and add the flag `--ocm-intergration` in deploy kubevela-cluster-gateway.
but I get the other wrong
![XZQGRZ%H{WL97SOLW7TBWMF](https://user-images.githubusercontent.com/39458411/173307136-56783def-c59a-4739-ad77-c158ec007b45.png)
[code]

I check the service in targect cluster. which in namespace[open-cluster-management, open-cluster-management-agent, open-cluster-ma

[2022-06-13 08:37] zzxwill opened #4163 "No need to display access endpoints for a normal chart"
**Describe the bug**

Locally installed a Chart `crossplane`, and there is access endpoints shown after the installation, which is not necessary as we don't access it from anywhere.

[code]

**To Reproduce**

1. Apply the addon

In file `crossplane/resources/crossplane.cue`, it shows as below.

[code]

2. vela addon enable ./crossplane

**Expected behavior**

**Screenshots**

**KubeVela Version**

[2022-06-13 08:46] barnettZQG commented on #4161
If you use the webservice component type, you could set the addRevisionLabel is true:

[code]

[2022-06-13 08:49] wonderflow commented on #4163
Yes, we can omit the table if the results is empty.

[2022-06-13 08:51] barnettZQG commented on #4158
@rainwolf01 you could configure the workflow like:

[code]

[2022-06-13 09:07] ZhongsJie96 commented on #4161
After adding this parameter. When I change the data of `storage` trait and apply it, the label  `app.oam.dev/revision`  does not change.
` app.oam.dev/revision: zsj-comp-1-v1`

[2022-06-13 09:08] rgaoistheone opened #4164 "Patch doesn't behave as expected"
**Describe the bug**
Recently we are playing around with vela patch features and found that some misbehaviors.

**To Reproduce**
lets say we have a virtualservice like this
[code]
And we define a patch wf like
[code]
**Expected behavior**
So the expected behaviour should be the `http-route-c` added to http[0] , but the result is that the element is appened to the list.

And also I didn't find any

[2022-06-13 09:32] wangyikewxgm commented on #4161
What's the vela's version?

[2022-06-13 10:33] ZhongsJie96 commented on #4161
CLI Version: master
Core Version: 1.4.1
GitRevision: git-b3ef120f
GolangVersion: go1.17.7

[2022-06-13 11:11] rainwolf01 commented on #4158
I got it, thanks.

[2022-06-13 11:11] #4158 closed

[2022-06-13 12:07] #3905 closed

[2022-06-13 14:33] charlie0129 commented on #4163
/assign

[2022-06-14 02:09] rgaoistheone commented on #4102
Thanks to @barnettZQG , finally got it fixed. Much appreciated !

[2022-06-14 02:09] #4102 closed

[2022-06-14 03:22] fengkang01 opened #4168 "enable dex addon failure"
**Describe the bug**

when i enable dex addon，the addon status is keep rendering,and i found the addon-dex applicaiton Applied Conditions display
[code]
**To Reproduce**

**Expected behavior**

**Screenshots**

<img width="960" alt="lQLPJxZmSyU6lE7NA2LNB4Cwf0Fwc8JTsxQCqKn-AcCUAA_1920_866" src="https://user-images.githubusercontent.com/103910304/173486462-42e2886c-ca59-48bd-a994-f23befb1541a.png">

[2022-06-14 04:10] wangyikewxgm commented on #4168
have you modified the addon?

[2022-06-14 05:54] fengkang01 commented on #4168
I'm not modify the dex addon ,i jsust execute the command "vela addon enable dex"

[2022-06-14 06:18] foursevenlove commented on #3924
I'm very interested in this issue and would like to get involved. Regarding the system info command, my understanding is that this command should output some parameters of deployment under the namespace of vela-system. I'm going to write some code to implement it with this understanding, but don't know if they are correct.

[2022-06-14 06:19] barnettZQG commented on #4161
With this issue, we should rethink the version controller mechanism. After investigation, only by changing the component
parameter, the component revision number will change.

In this case, you only change the storage trait(Configmap), then the Configmap object will be changed. If we mount the Configmap to the pod as a volume, the pod will be remounted. But, if mount to env, the pod does not rebui

[2022-06-14 06:20] FogDong commented on #4164
You can check all of our patch strategies here: https://kubevela.io/docs/platform-engineers/cue/patch-strategy#replace
If you want to replace the array, you can use `+patchStrategy=replace`.

[2022-06-14 06:25] barnettZQG commented on #4161
BTW, This issue related to #4143

[2022-06-14 07:01] fengkang01 commented on #4168
I may have found the reason,i found the pod status keep pedding ,and i see the reason,that display the cpu resource isInsufficient，maybe is this reason

[2022-06-14 07:51] barnettZQG commented on #3902
@oeular What mean? you change the webservice definition with the error configuration, then the VelaUX application become to not work?

[2022-06-14 08:15] haozileung opened #4169 "[Feature] add multiple domain supports for gateway trait"
**Is your feature request related to a problem? Please describe.**
In our company, we build an online order center for multiple brand of company products.
We use different domain to id brand info in our system, it's some kind of SaaS application.
When deploy with default gateway trait, multiple domain cannot be config in one gateway trait.
We can add multiple gateway trait, but it's better not to

[2022-06-14 08:48] barnettZQG commented on #4169
@haozileung

This solution is maybe useful for you:
https://kubevela.io/docs/tutorials/access-application#use-traefik

For Ingress, you could quickly custom a trait to support multi domains.

[2022-06-14 08:57] barnettZQG commented on #4119
@TIEDPAG The key issue here is that the pod status calculation may be incorrect, we do not need to build the table column in the server.

[2022-06-14 08:58] haozileung commented on #4169
Thanks for quick reply. I will look into that. It seems we need deploy new components for cluster entry.

[2022-06-14 09:19] haozileung commented on #4169
I think in most cases we do have one exists gateway. Maybe I will just custom the trait myself if I learn those cue things.

[2022-06-14 11:38] Hanmengnan opened #4171 "Handle of files of type ".yml" miss in the readviewfile function"
**Describe the bug**

Handle of files of type ".yml" miss in the  `readviewfile` function.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-06-14 11:40] oeular commented on #3902
We modified the original webservice to a customized webservice,  but the velaux depends on the original webservice to deploy.
So the velaux app cannot work when restart.

[2022-06-14 12:48] oeular commented on #3957
Here I propose an addon. https://github.com/kubevela/catalog/pull/380#issue-1270753555

[2022-06-14 15:23] wonderflow opened #4175 "Trait中执行Http请求解析Json响应失败"
### Discussed in https://github.com/kubevela/kubevela/discussions/4173

<div type='discussions-op-text'>

<sup>Originally posted by **Echo-Van** June 14, 2022</sup>
验证官方文档提供的自定义运维特征里执行-http-request（https://kubevela.io/zh/docs/platform-engineers/traits/advanced#%E8%87%AA%E5%AE%9A%E4%B9%89%E8%BF%90%E7%BB%B4%E7%89%B9%E5%BE%81%E9%87%8C%E6%89%A7%E8%A1%8C-http-request）。

验证发现，Trait里面的http请求正常返回，但是当返回内容中

[2022-06-14 16:29] #4171 closed

[2022-06-15 01:39] maobuji opened #4176 "[Feature]组件存储共享需求"
场景：用户可以上传图片到后端应用中，为此会给这个后端应用挂载一个存储。出于性能考虑，前端希望直接挂载这个存储文件夹。
实现前后端存储目录的共享。
同样的，部分后端应用，也可能会进行彼此的存储共享。

问题：在kubevela中，可以给一个微服务组件挂载存储，但实际上是为每个组件生成了一个PVC，这样虽然方便，但共享起来就会较为麻烦。因为底层的PV的名称是随机的，其它组件在配置期，无法挂载到对应的存储上，也就无法实现存储的共享。
若单独创建一个PV，然后再配置到组件上，实际上将组件和存储配置割裂了。

期望：提供一个可共享的存储命名配置，使用共享存储的组件，会使用相同的PV实现，存储共享使用。

[2022-06-15 02:15] Somefive commented on #4054
Added in https://github.com/kubevela/catalog/pull/364.

[2022-06-15 02:15] #4054 closed

[2022-06-15 02:20] Somefive commented on #3924
It's okay. You can implement it in a PR, or make proposal in a separated issue (and reference that issue here). We can discuss and review.

[2022-06-15 02:31] wangyikewxgm commented on #4168
Ok. please let us know if you solved this problem in order to we can close this issue.

[2022-06-15 03:23] fengkang01 commented on #4168
yes,i had solved this problem .

[2022-06-15 03:25] wangyikewxgm opened #4179 "[Feature] Show description of values of helm chart"
**Is your feature request related to a problem? Please describe.**

Many helm chart provide a `schema.json` file to define the structure on values. eg: https://artifacthub.io/packages/helm/bitnami/rabbitmq?modal=values-schema . So I propose leverage this mechanism to display more info (description,type) about chart's value. This can help user set value in velaux more easily.

Refer to: https://hel

[2022-06-15 03:40] wonderflow opened #4180 "support `vela env set --labels` for K8s namespace"
this command should be something like  :

[code]

Then we can tell users that this is a environment for development which can scan vulnerabilities.

Under the hood, we are labeling the k8s namespace.

_Originally posted by @wonderflow in https://github.com/kubevela/catalog/pull/380#discussion_r897503638_

[2022-06-15 04:01] wangyikewxgm opened #4181 "[Feature] Search useful addon version automatically."
**Is your feature request related to a problem? Please describe.**

Since when enable an addon, if not set version flag will enable the latest version of addon. But if the system version cannot meet the requirement will generate an error. This is bad user experience, os propose we can search the useful addon version automatically when the  latest version cannot meet version constraint.

**Describe

[2022-06-15 04:23] liangyongzhenya commented on #4180
/assign

[2022-06-15 05:23] wonderflow commented on #4181
Good proposal, let me add more details for this issue：

1. we can use the "annotation" field of the `index.yaml` to store the verison and dependency info. https://github.com/helm/helm/blob/main/pkg/repo/index.go#L92
2. we should recommand like this:

One user has a vela core with version "v1.3.0" which the "velaux"(v1.4.0) is the latest addon. When user install addon like this:

[code]

The the cl

[2022-06-15 06:32] #4168 closed

[2022-06-15 06:37] wonderflow opened #4182 "[Feature] make kpack/Kaniko as an addon for source to image"
**Is your feature request related to a problem? Please describe.**

We don't have source to image capability for now, we can make the kpack as an addon follow this tutorial:

https://github.com/pivotal/kpack/blob/main/docs/tutorial.md

**Describe the solution you'd like**

1. make the addon for installation of kpack.
2. Besides the addon, we should make a demo for the whole process.
    - 2.1 make

[2022-06-15 06:38] wonderflow commented on #3817
refer to #3817

[2022-06-15 06:39] barnettZQG opened #4183 "[Feature] Proposal about the Pipeline"
## In what area(s)?

/area core/workflow

## What?

### What is a Pipeline?

The role of the pipeline is to drive multiple applications to continuous delivery in multiple environments. One pipeline consists of multiple stages, One stage is running one workflow.

### What is different with Workflow

Workflows are designed to describe a single, deterministic process, such as publishing Application A

[2022-06-15 09:06] wonderflow opened #4184 "[Feature] vela def should support generate trait definition without CUE schematic"
**Is your feature request related to a problem? Please describe.**

We have a special usage that if we define a trait without any CUE schematic, users can embed the whole spec information into the trait properties. **If we use vela def, we can't generate this kind of trait.**

A trait in KubeVela can be defined by simply reference a existing Kubernetes API resource.
[code]
Let's attach this trait

[2022-06-15 11:54] wonderflow commented on #4182
another option is [Kaniko](https://github.com/GoogleContainerTools/kaniko), refer to https://devopscube.com/build-docker-image-kubernetes-pod/

[2022-06-15 12:51] barnettZQG opened #4188 "The runningWorkflow status application reconcile at intervals of 1 second"
**Describe the bug**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/18493394/173830975-e26847f1-9aaa-4465-87f2-62b174aba169.png)

**KubeVela Version**

Core: 1.4.1

[2022-06-15 15:05] ccs-warrior opened #4189 "[Feature] Create tfstate in the namespace of the application not the namespace of the controller"
**Is your feature request related to a problem? Please describe.**

We have a component that is using the Terraform controller. When using this component to create applications in different namespace we notice the Terraform state is being overwritten each time. Here is our component and two application kinds that are applied to two different namespaces.

**Describe the solution you'd like**

We wo

[2022-06-16 02:38] rgaoistheone commented on #4164
What I'm trying to do here is add an element to a list (head or tail)so the first questions is , in cue [ “foo”, ...,] means "foo" will be treated as the first element in list . That's why I expect the behaviour in `Expected behavior` field in thread.

And for json patch refference , I found this https://github.com/kubevela/kubevela/blob/master/pkg/cue/definition/template_test.go#L417 which I pres

[2022-06-16 03:00] FogDong commented on #4164
Right, we don't have documentation for `json merge patch` right now, but you can take a look at this example: https://github.com/kubevela/kubevela/blob/master/vela-templates/definitions/internal/trait/json-merge-patch.cue

Also, the `+patchKey=name` can not support the order of the indexes for now.

[2022-06-16 03:20] barnettZQG opened #4192 "[Feature] Proposal about stopping the application"
## In what area(s)?

/area api/lifecycle

## What?

In application lifecycle management, a very important operation is stopping the application. From the knowledge of most developers, stopping the application releases the computing resources occupied by the application, and the application service no longer runs, but the persistent data should not be lost, and the application can be restored after

[2022-06-16 03:23] barnettZQG commented on #4192
BTW, This proposal is also a solution to manual scaler application.

[2022-06-16 03:33] barnettZQG commented on #4189
@ccs-warrior The Configuration resource should be deployed to the namespace of the application. Didn't your test result look like this?

[2022-06-16 03:42] barnettZQG commented on #4176
我们可以做如下实践：

1. storage trait 支持配置动态 PVC 生成 PV。
2. 新增 share-storage trait，可选择已存在的组件存储（PV）。可通过观测体系查询到目标组件正在使用的 PV 名称。

[2022-06-16 05:25] linjunjianbaba opened #4194 "GitOps app image无法回滚"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-06-17 02:43] Hanmengnan commented on #4181
I will try to advance this issue, please assign the issue to me.

@wonderflow

[2022-06-17 03:17] zzxwill opened #4198 "[Feature] Support Crossplane provider authentication via `vela provider`"
**Is your feature request related to a problem? Please describe.**

We use the command line `vela provider` to authenticate a Terraform provider https://kubevela.io/docs/v1.3/reference/addons/terraform#authenticate-terraform-provider.

[code]

For a Crossplane provider, we support [authenticating it by an Application](https://github.com/kubevela/catalog/tree/master/experimental/addons/crossplane-a

[2022-06-17 07:36] zzxwill opened #4199 "Error: addon terraform-alibaba system requirement miss match: deployments.apps "kubevela-vela-core" not found"
**Describe the bug**

[code]

**To Reproduce**

1. install kubevela chart with another release name like `ack-kubevela`
2. enable add-on terraform-alibaba

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

The root cause might lie in https://github.com/kubevela/kubevela/blob/a9210487fa5fcf623e4345055aaa6c9def288d80/pkg/addon/addon.go#L15

[2022-06-17 07:42] wangyikewxgm commented on #4199
Have you installed the vela core?

[2022-06-17 07:53] wangyikewxgm commented on #4199
A possible solution is use label to select the controller deployment. No matter what helm-release name specified when install, the deployment always has a same label is `app.kubernetes.io/name: vela-core`.

[2022-06-17 08:24] zzxwill commented on #4199
Yes, that should work.

[2022-06-17 08:52] Carmendelope commented on #3219
Any information about this issue? I have the same problem...

I have deployed kube-vela v1.4.0. Reviewing the logs I saw the following message:
[code]
Has anybody idea about what is happening??

Thanks!

[2022-06-17 10:02] wonderflow opened #4200 "[Addon] make kpt-config-sync as a gitops addon"
**Is your feature request related to a problem? Please describe.**

It allows us to sync configs in OSI storage.

https://github.com/GoogleContainerTools/kpt-config-sync

The demo here: https://www.youtube.com/watch?v=PZSNn080W6g

**Describe the solution you'd like**

1. build an addon for installation.
2. make a component definition for sync task.

**Describe alternatives you've considered**

**A

[2022-06-18 06:28] StevenLeiZhang commented on #4200
only 48 stars, is it production ready?

[2022-06-18 06:51] StevenLeiZhang commented on #4199
I think we should change the Chart.

kubevela-controller.yaml as below
[code]

helpers.tpl as below
[code]

The Deployment name of vela-core is one variable, I think it should be one fixed value: "kubevela-vela-core".

The labels are variables too.
[code]

[2022-06-18 06:58] Hanmengnan commented on #4181
The original code logic is: get the latest version of the addon when `version` is not specified, and get the corresponding version when `version` is specified.
Therefore, the version verification logic can be designed as:
- Verify whether the current addon version meets the system version requirements according to the obtained specified version. There are two system version requirements: Vela core

[2022-06-18 07:44] StevenLeiZhang commented on #4116
"vela addon package" command is already done by https://github.com/kubevela/kubevela/pull/3787. It package addon directory to Helm Chart package.

[2022-06-18 07:47] StevenLeiZhang commented on #4116
This feature is partly implemented by https://github.com/kubevela/kubevela/pull/3787
"vela addon package" command is already done by https://github.com/kubevela/kubevela/pull/3787. It package addon directory to Helm Chart package.

[2022-06-18 07:48] wonderflow commented on #4200
It can be a experimental addon.

[2022-06-18 09:21] wonderflow commented on #4199
@StevenLeiZhang Agree, but will it cause incompatible issues for users who upgrade from old ones?

[2022-06-18 09:30] wonderflow commented on #4181
The general proposal for install process LGTM. But for the annotations, every addon version will have its own annotations, I propose to be like:

[code]

[2022-06-18 09:34] Hanmengnan commented on #4181
OK, i get it.

[2022-06-18 14:45] lienegotliba commented on #4024
Slightly different use-case and looking that the current implementation uses Flux, may be not feasible, but still would like to mention this - very powerful trait type would be patch.
It would be extremely valuable if it was possible to patch helm generated resources. Helm charts from 3rd parties not always comes exactly in the form required, sometimes even as simple as a label or an annotation is

[2022-06-19 07:44] lqs429521992 opened #4202 "Jfrog Webhook Handler Cannot Get Right Image"
**Describe the bug**

jfrog webhook is not friendly to users, we cannot get the full image easily.
For example, `puti/pensieve/pensieve/master` is the full image path, but get `master`.

**To Reproduce**

1. Trig the JFrog trigger
![image](https://user-images.githubusercontent.com/29119089/174470868-55cfa40d-6c67-46d5-ac73-83c96d96e14c.png)

2. Watch your application image
![image](https://user-im

[2022-06-19 08:09] lqs429521992 commented on #4202
Here is what I changed: [fork/lqs429521992/kubevela](https://github.com/lqs429521992/kubevela/commit/922e6ddbf0e9818e8868e876fb8a7318a2eb58bd)
I'm not good at coding, so it is just an example.
And I don't know why the image type is set to `PayloadTypeHarbor` type in `jfrogHandlerImpl` function
[webhook.go](https://github.com/kubevela/kubevela/blob/release-1.4/pkg/apiserver/domain/service/webhook.g

[2022-06-20 02:37] #4163 closed

[2022-06-20 04:33] ZhongsJie96 commented on #4183
I understand that the `pipeline` is an application-level orchestration. Will the `workflow` in the `stage` reuse the workflow defined inside the application?

[2022-06-20 05:18] yucw01 opened #4203 "traits env/annotations conflict, invalid patch trait env into workload: field "env" not allowed in closed struct"
**Describe the bug**

[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

[code]

**KubeVela Version**

[code]

**Cluster information**

**Additional context**

[2022-06-20 06:08] RainElohim opened #4204 "Old ReplicaSet Not deleted"
deploy a new application version，the old ReplicaSet was not deleted
![image](https://user-images.githubusercontent.com/34337869/174535867-5278f73c-a1fb-460a-8837-97ec48f1703b.png)

[2022-06-20 06:12] RainElohim opened #4205 "[Feature] Trait supports custom annotations"
AWS ALB Ingress need set up annotations，but trait is not support

[2022-06-20 06:13] wonderflow commented on #4204
What's your version of vela? Can you describe more details about how to re-produce?

[2022-06-20 06:27] barnettZQG commented on #4204
@RainElohim This is the Deployment version mechanism, you can set the `spec.revisionHistoryLimit`, and the default value is 10.
refer to : https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#clean-up-policy

In Kubevela, the webservice component type can not support this field, you can custom the definition and refer to the document:  http://kubevela.net/docs/platform-engineers/o

[2022-06-20 07:12] RainElohim commented on #4204
thanks for your reply

[2022-06-20 07:12] #4204 closed

[2022-06-20 10:11] chwetion commented on #4202
this is a bug, my mistake, could you commit a PR for this issue?

[2022-06-20 11:31] wonderflow commented on #4202
@lqs429521992 You could send your changes as a pull request, thanks!

[2022-06-20 12:30] barnettZQG commented on #4205
@RainElohim What trait do you mean?

[2022-06-20 12:34] barnettZQG commented on #4202
@lqs429521992 you could create a pull request, and we could provide you with some advice about the code.

[2022-06-20 12:38] barnettZQG commented on #4194
@FogDong  Do you provide some help messages? What expected behavior for this scenario.

[2022-06-21 02:14] barnettZQG commented on #3578
This issue is fixed by kubevela/velaux#545

[2022-06-21 02:14] #3578 closed

[2022-06-21 05:17] #3904 closed

[2022-06-21 06:03] RainElohim commented on #4205
http://kubevela.net/docs/end-user/traits/references

[2022-06-21 06:46] chwetion commented on #4192
we do stop app through workflow, but manual scaling will use trait.
this can preserves the number of instances of the app before stopping the app.
workflow as follow:
[code]

[2022-06-21 07:09] rgaoistheone opened #4212 "The user can't be modified in dex mode"
**Describe the bug**
Ldap user can't be assigned to roles in ux after login.

**To Reproduce**
1. Enable sso login (ldap)
2. Login with ldap credentials (user1)
3. admin user can't assign user1 to role, see screenshot below

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/5696899/174737974-52594af5-a46a-40d1-93b9-2d59dcbbf3bc.png)

**KubeVela Version**

**

[2022-06-21 07:16] barnettZQG commented on #4212
For the auto-generate users, we should support changing the roles and alias, etc.

[2022-06-21 09:35] oupinghao commented on #4212
Ldap user include space not a valid name and can't changing the roles.also cant's modify the username.
<img width="831" alt="image" src="https://user-images.githubusercontent.com/16694954/174767763-848af150-35ad-4694-9249-a287378a32c4.png">

[2022-06-21 10:06] RainElohim commented on #4205
gateway need custom annotaions,and may be all traits need this feature

[2022-06-22 03:05] FogDong commented on #4194
Our GitOps is now based on FluxCD, and if you have used `image policy` to update your image automatically, then yes, the `image policy` will check the differences between the code repository and the latest image and modify it, that's because `FluxCD` is a pull-based GitOps. Currently, we can't roll back our GitOps app, maybe need some workarounds, e.g., add a `roll back` step in your application i

[2022-06-22 04:46] zzxwill opened #4215 "When using Terraform component to create applications in different namespaces, Terraform state is being overwritten each time"
**Describe the bug**

https://cloud-native.slack.com/archives/C01BLQ3HTJA/p1655243809506389

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-06-22 06:26] barnettZQG opened #4218 "[Feature] Support the Gateway API to build the application endpoints."
**Is your feature request related to a problem? Please describe.**

Currently, there is the Traefik addon to provide the cluster gateway service. It includes the `http-route`, `https-route` and `tcp-route` traits, all base on the [Gateway API](https://github.com/kubernetes-sigs/gateway-api). But, KubeVela can not build the endpoints for it.

**Describe the solution you'd like**

Developer could re

[2022-06-22 06:39] wonderflow opened #4219 "[Feature] provide defualt namespace for dry-run"
**Is your feature request related to a problem? Please describe.**

The example apps usually don't have namespace like:
[code]

But it reports an error that we don't have namespace.
[code]

It shouldn't be an error， just add default namespace for the dry-run result.

**Describe the solution you'd like**

add `default` namespace for the dry-run result.

**Describe alternatives you've considered**

[2022-06-22 06:51] #4087 closed

[2022-06-22 06:51] #4088 closed

[2022-06-22 07:05] huangyanhong opened #4220 "the components in the application create different deployment name in the different k8s cluster or in the different namespace in the same k8s cluster"
**Describe the bug**

the components  in the application create  the same deployment name in the different k8s cluster or in the different  namespace the same k8s cluster

**To Reproduce**

[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**
1.4.2

**Cluster information**

1.20.11
**Additional context**

[2022-06-22 07:16] yuchang01 opened #4221 "some trait error, maybe conflict"
**Describe the bug**

[code]

**To Reproduce**

**Expected behavior**

[code]

**Screenshots**

**KubeVela Version**

[code]

**Cluster information**

**Additional context**

[2022-06-22 07:29] wonderflow commented on #4221
You can use `vela def edit` to change the component definition, to make the image field optional.

[2022-06-22 07:42] wonderflow commented on #4220
you can update the webservice definition, add a `random` field in parameter and add it in the output:

[code]

Then you can use it like:

[code]

[2022-06-22 07:43] wonderflow commented on #4220
The component name is a identity field of the override policy, you can't change it.

[2022-06-22 08:13] idealceo commented on #4145
thanks!

[2022-06-22 08:18] opswfit opened #4222 "[Feature] kubevela support to rollback ,use velaux console"
Now, if I want to rollback history version, I should to excute shell command ,follow:
[root@iZj6c8l1o9y83oohkrljirZ ~]# vela workflow rollback vela-nginx -n vela-test
Find succeeded application revision vela-nginx-v11 (PublishVersion: workflow-vela-test-20220622032156928) to rollback.
Application spec rollback successfully.
Application status rollback successfully.
Application rollback completed.

[2022-06-22 08:19] FogDong opened #4223 "[Feature] Support WorkflowRun to separate workflow execution from the application"
**Is your feature request related to a problem? Please describe.**

Our Workflow is now bonded with the Application, which means if you want to execute another version of the workflow, you have to either edit the original Application or create a new one. And Application's garbage collection will recycle all the resources if you edit the original Application.

That's the reason we need WorkflowRun

[2022-06-22 08:24] barnettZQG commented on #4223
We need to clearly define the difference and connection between Workflow and WorkflowRun.

[2022-06-22 08:27] FogDong commented on #4223
`Workflow` is only a template, `WorkflowRun` is an execution. If we want to execute a `Workflow`, a `WorkflowRun` will be generated based on the `Workflow` with its steps.

[2022-06-22 08:27] #4145 closed

[2022-06-22 08:42] barnettZQG commented on #4223
Maybe we do not need more fields in WorkflowRun, such as:

[code]

After the WorkflowRun resource is created, the controller read the step definition from the workflow or application and saves it to status. Then execute all steps and no longer accept changes in the workflow definition.

[2022-06-22 08:48] FogDong commented on #4223
In this way, we can not run a `WorkflowRun` without Workflow or Application.

In my opinion, `WorkflowRun` can have the field `steps`, and if it's generated from Application or Workflow, its steps should come the source data.

[2022-06-22 08:55] wonderflow commented on #4223
https://github.com/oam-dev/spec/issues/461 ping @dhiguero , let's discuss here.

[2022-06-22 09:53] Somefive commented on #4221
1. storage trait used with webservice carrying env is not available now.
2. annotations need to be placed after container-image & env for now.
These are two problems with the KubeVela rendering mechanism. We will look into it.

[2022-06-22 10:07] wonderflow opened #4224 "[Feature] ref-objects support load yaml objects from url"
**Is your feature request related to a problem? Please describe.**

most of the k8s resources are installed by the command:

[code]

Such as:
https://github.com/Altinity/clickhouse-operator/blob/master/docs/quick_start.md

**Describe the solution you'd like**

I hope we can have a way to apply a url by ref-objects.

**Describe alternatives you've considered**

**Additional context**

[2022-06-22 10:11] wonderflow opened #4227 "[Feature] support ignore deploy component when CRD exists"
**Is your feature request related to a problem? Please describe.**

When I install an addon which contains a CRD operator my cluster already exists, the addon created failed.

I want to ignore this installation only make my definitions installed, but I can't, there's no convenient way.

**Describe the solution you'd like**

Hope we can have some policies to ignore if there's condition.

**Describe

[2022-06-22 10:58] FogDong commented on #4223
For the WorkflowRun that is generated from applications or workflows, it can have `ownerReference`, so that we can get the data from the source, but still, references in spec are redundant.

[2022-06-22 11:36] xlyslr opened #4228 "Component设置externalRevision Pod的app.oam.dev/revision不会被替换"
**Describe the bug**
Component设置externalRevision，Pod的label “app.oam.dev/revision”不会被替换为版本。而且，第一次Apply会直接产生两个controllerrevisions.apps，其中第一个controllerrevisions的label被替换了，而第二个controllerrevisions的label没被替换。

**To Reproduce**

- Application
[code]
- 产生的statefulset
[code]
- 产生的controllerrevisions
[code]
  rss-lr-coor-6b6fd6454c:
[code]
  rss-lr-coor-7d68ddc459:
[code]

**Expected behavior**
externalRevi

[2022-06-22 11:40] dhiguero commented on #4223
Hi all, for me it is still a bit confusing, so I think we should try clarify what will be the use cases for both the current `Application.spec.workflow` and the newer `WorkflowRun`, and how those entity will coexist in the future.

Based on this:

I have the following questions:

* **Q1**: If the user changes the `WorkflowRun` (assuming this is possible) that has participated in the deployment of

[2022-06-22 13:34] FogDong commented on #4223
Hi @dhiguero

To make things clear, this `WorkflowRun` is the underlying executor for `Application` so that we can separate all the workflow codes in the application controller into a new workflow controller. And users can use the Application in the old way, the only difference of it is that a `WorkflowRun` CR will be automatically created after the Application is created or updated just like Appl

[2022-06-23 02:10] opswfit opened #4230 "Failed to submit application deployment when sidecar was injected"
1、error log:

 I0623 01:37:20.817505       1 apply.go:107] "patching object" name="vela-nginx" resource="core.oam.dev/v1beta1, Kind=Application"
#### {"level":"error","ts":1655948241.0011442,"caller":"service/application.go:716","msg":"deploy app vela-nginx failure cannot patch object: admission webhook \"validating.core.oam.dev.v1beta1.applications\" denied the request: field \"schematic\": Inval

[2022-06-23 02:34] wonderflow commented on #4199
We also need to provide some way to work around, in case the version check fail again. @wangyikewxgm

[2022-06-23 03:13] ZhongsJie96 commented on #4223
IMO, I am more in favor of generating `WorkflowRun` from applications to reduce break change. What I'm more confused about is that the `WorkflowRun` exists independently of the application and just moves `Application.spec.workflow` to a `WorkflowRun`, how to solve the problem that was first raised.

If a validating webhook is introduced to avoid modifying the `WorkflowRun`, it will also result in

[2022-06-23 03:18] ZhongsJie96 commented on #4219
/assign

[2022-06-23 03:24] FogDong commented on #4223
Hi @ZhongsJie96

There are two cases when we use WorkflowRun

1. Use the WorkflowRun independently without Applications like:
[code]

2. Applications use the WorklfowRun for execution, the WorklfowRun is generated from Application automatically like:
[code]

If the users want to use the Application, then they can use the Application like before. But if they don't want to use the Application's comp

[2022-06-23 05:41] wonderflow opened #4233 "[Feature] show difference and add API for sync once from CLI to VelaUX"
**Is your feature request related to a problem? Please describe.**

In #4197 , we have supported to manage application created from CLI  in VelaUX. But if the user still modify and upgrade from CLI, it will cause configuration conflict due to the different metadata storage.

**Describe the solution you'd like**

We should add some notification of the difference and add a sync API allow user to syn

[2022-06-23 05:58] wonderflow commented on #4230
You can use `kubectl get application vela-nginx -o yaml` to check.

[2022-06-23 06:07] wonderflow opened #4235 "[Feature] how to display vela application yaml from CLI?"
**Is your feature request related to a problem? Please describe.**

In #4230, when we need to get the application yaml, we have no way but using kubectl.

**Describe the solution you'd like**

I think we can have a command such as:

[code]

This can display the whole application with status.

**Describe alternatives you've considered**

**Additional context**

[2022-06-23 06:26] Somefive commented on #4235
Is it just an alternative for `kubectl get app <myapp> -n <ns>`? Or more functions like pretty format / coloring / subcommand would be supported?

[2022-06-23 06:45] opswfit commented on #4230
[root@iZj6c8l1o9y83oohkrljirZ ~]# kubectl get app vela-nginx -o yaml -n vela-test
Error from server (NotFound): applications.argoproj.io "vela-nginx" not found

[2022-06-23 07:09] FogDong commented on #4223
FYI, I have updated the description of this issue to try to make things clear.

[2022-06-23 07:18] wonderflow commented on #4230
[code]

[2022-06-23 07:27] wonderflow commented on #4235
Just an alternative is fine.

[2022-06-23 07:44] opswfit commented on #4230
apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  annotations:
    app.oam.dev/appAlias: vela-nginx-test
    app.oam.dev/appName: vela-nginx
    app.oam.dev/deployVersion: "20220622115518859"
    app.oam.dev/last-applied-configuration: '{"kind":"Application","apiVersion":"core.oam.dev/v1beta1","metadata":{"name":"vela-nginx","namespace":"vela-test","resourceVersion":"98707570","creati

[2022-06-23 07:46] opswfit commented on #4230
[nginx-test.txt](https://github.com/kubevela/kubevela/files/8965119/nginx-test.txt)

[2022-06-23 08:54] Somefive opened #4237 "[Feature] Integrating KubeVela multi-cluster with Clusterpedia"
**Is your feature request related to a problem? Please describe.**

[Clusterpedia](https://github.com/clusterpedia-io/clusterpedia/issues/185) provides great multi-cluster resource discover and search capabilities. It would be cool if we can integrate it through some mechanism, like addon. But it might require extra integration beyond the addon mechanism we have for now.

**Describe the solution y

[2022-06-23 11:17] StevenLeiZhang opened #4238 "vela status print wrong Application STATUS"
**Describe the bug**

**To Reproduce**
1. enable addon terraform
2. check the status of its Applicaion
[code]

3. " not-deployed" message is printed

**Expected behavior**

1. print write status message

**Screenshots**

**KubeVela Version**

CLI Version: v1.4.3
Core Version: 1.4.3
GitRevision: git-5e3ab73
GolangVersion: go1.17.11

**Cluster information**

**Additional context**

[2022-06-24 00:44] sbdtu5498 commented on #3983
@barnettZQG, I am really interested in this project, If you permit I would like to draft a proposal for the issue to participate in ASoC 2022.

[2022-06-24 00:50] sbdtu5498 commented on #3983
@barnettZQG, Sir I am really interested in this issue and if you permit, I would like to draft a proposal for the issue to participate in ASoC 2022. I have sent you a message on CNCF Slack as well to introduce myself properly. Also, as the last date of proposal submission is approaching, I would be grateful if you can answer at the earliest.

[2022-06-24 02:17] zxbyoyoyo opened #4244 "bugs caused by cluster distribution policy modification"
**Describe the bug**

**To Reproduce**
1. register the cluster, using the same kubeconfig
[code]
2. apply a demo, dispatch to cluster01
[code]
4. update the demo, dispatch to cluster02
[code]
3. in target cluster, apps are constantly being launched and destroyed
![image](https://user-images.githubusercontent.com/20168048/175448655-8aa8060d-c4fb-4062-aeed-470d38555341.png)

**Expected behavior**

[2022-06-24 02:38] Somefive commented on #4244
Why do you have the same cluster as different names in KubeVela? You want to rename the cluster?

[2022-06-24 02:39] Somefive commented on #4244
The underlying mechanism here is rather complex. I'm not sure if we will support this kind of usage in the future.

[2022-06-24 02:43] zxbyoyoyo commented on #4244
yes

[2022-06-24 03:07] opswfit opened #4245 "[Feature] About applications, whether deployed applications can be displayed in a list"
The following layout, the experience is not good, when there are many applications, the screen is full of ICONS, not simple enough .It is recommended that you display them in a list, which is intuitive and concise

![image](https://user-images.githubusercontent.com/13762962/175453606-0093b197-e1b0-4e82-a62c-3979c4a3fe79.png)

[2022-06-24 03:09] barnettZQG commented on #4245
@opswfit This is a good proposal, can you contribute to it?

[2022-06-24 03:15] Somefive opened #4246 "[Feature] add policy definitions for advanced internal policy"
**Is your feature request related to a problem? Please describe.**

Previous PR(https://github.com/kubevela/kubevela/pull/3894) adds topology and override policy definition for schema.

Advanced policies' are also welcomed, including apply-once, garbage-collect, shared-resouece.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-24 03:17] Somefive commented on #4244
Okay, so the background is to rename a cluster with applications already using it?

[2022-06-24 03:55] FogDong commented on #4223
Thanks for the reply @dhiguero

For the first question, if the application set the replica to 3 and then users create a `WorkflowRun` to set the replica to 5, notice that `WorkflowRun` will only execute **once** while `Application` will try to keep the resource status consistent with its spec, so after a while, `Application` will re-set the replica to 3.

For the confusing part, `Workflow` and `Wo

[2022-06-24 04:13] wonderflow commented on #4223
I need to add some details from my point of view.  @FogDong

There're actually two scenarios:

1. Application generated workflow as the real execution engine for Workflow.
2. Run Workflow independently.

## Application generated workflow

For the application generated case, the general idea of using owenerReference is to reuse spec from apprevision, the idea is fine but the spec is not good enough

[2022-06-24 06:11] #4199 closed

[2022-06-24 06:31] wonderflow opened #4248 "[Addon] create a clickhouse addon for data house"
**Is your feature request related to a problem? Please describe.**

Clickhouse is a  popular data house, we can build an adon for it based on the operator: https://github.com/Altinity/clickhouse-operator .

**Describe the solution you'd like**

The addon should contain:
- [ ] installation of the crd and operator https://github.com/Altinity/clickhouse-operator
- [ ] Useful and reliable ComponentDef

[2022-06-24 06:54] FogDong commented on #4223
Thanks for the addition @wonderflow

## Application generated workflow

In this part, I still think that adding `fromApplication` in `WorkflowRun.spec` is not a good way to clarify the connection between Application and WorkflowRun.

If we add `fromApplication` in `WorkflowRun.spec`, it will make the user feel that he can change this field. The other way is to add `generatedFrom` in `WorkflowRun.s

[2022-06-24 07:41] wonderflow commented on #4223
I don't agree adding too much concept just because we're not thinking the future for design.

[2022-06-24 07:46] wonderflow commented on #4223
[code]

Looks good for me.

For the "Run Workflow independently" part, the only different is do we separate the `mode` outside. I think it should be in outside from the spec.

[2022-06-24 08:26] StevenLeiZhang commented on #4245
maybe add one button, let user to select Card or Table style.

[2022-06-24 08:59] FogDong commented on #4223
FYI @wonderflow @dhiguero

There's another plan for `WorkflowRun` with `Application`, if the application only wants to use the execution logic of workflow, in fact, there's no need to generate a `WorkflowRun` CR from `Application`. Instead, we can use the execution logic as a lib in the application controller, so that there will be no `WorkflowRun` resources if you're just using Application.

Stil

[2022-06-24 09:00] #4238 closed

[2022-06-24 09:02] FogDong commented on #4223
We can now set `mode` in `workflow`, so it will be confused if we can set the `mode` in both `workflow` and `workflowRun.Spec`, does it mean that the mode in workflowRun will override the mode in workflow?

[2022-06-24 09:30] wonderflow commented on #4223
Yes, actually it's rarely to say the control mode is part of the template.

[2022-06-24 10:13] wonderflow commented on #3195
1.4 支持了，参考这个文档： https://kubevela.net/docs/tutorials/helm#specify-different-value-file

安装或者升级 vela 到 1.4.3 即可。

[2022-06-24 10:13] #3195 closed

[2022-06-24 10:14] wonderflow commented on #1038
Now it's already supported in v1.4, you can use `vela def` command to check, see https://kubevela.net/docs/platform-engineers/cue/definition-edit

[2022-06-24 10:14] #1038 closed

[2022-06-24 10:15] wonderflow commented on #3496
supported in v1.4

[2022-06-24 10:15] #3496 closed

[2022-06-24 10:15] wonderflow commented on #3496
refer to https://github.com/kubevela/kubevela/pull/3925

[2022-06-24 10:17] wonderflow commented on #1378
Check the policy for this feature： https://kubevela.net/docs/platform-engineers/policy/custom-policy

It's implemented in v1.4

[2022-06-24 10:17] #1378 closed

[2022-06-24 13:57] dhiguero commented on #4223
I agree with the proposal to better reference the parent/associated application with a WorkflowRun. However, I still have some doubts about the overall lifecycle and triggers. I think that some of the issues could be solved if we define a trigger mechanism for a workflow, and having a workflow that can execute other workflows if needed. Consider the following entities:

[code]

With this approach

[2022-06-24 14:19] opswfit opened #4250 "Add another Components deploy failure,"
1、this is configurion
![image](https://user-images.githubusercontent.com/13762962/175553448-7c07545a-db28-47e4-bad0-1788f8251ea2.png)

2、errror log
![image](https://user-images.githubusercontent.com/13762962/175553619-8d5ccbae-994e-4ff4-a834-293f4c6db9d0.png)
{"level":"error","ts":1656079604.9065309,"caller":"service/application.go:716","msg":"deploy app vela-nginx failure cannot patch object: adm

[2022-06-25 01:46] wonderflow opened #4255 "[Feature] omit service output if there's nothing"
**Is your feature request related to a problem? Please describe.**

In some cases, we have errors in outputs , it don't generate anything but have a services field with nothing.
[code]

**Describe the solution you'd like**

We should not print that `Services` or print `no available service` after it.

**Describe alternatives you've considered**

**Additional context**

[2022-06-25 10:19] wonderflow opened #4257 "[Feature] support apply definition yaml in `vela def apply`"
**Is your feature request related to a problem? Please describe.**

In this docs for extend cloud resources, the componentdefinition is generated in yaml format, we have to use `kubectl` to apply the definition.

https://kubevela.io/docs/next/platform-engineers/components/component-terraform#apply-componentdefinition

It's not consistent.

**Describe the solution you'd like**

The command should a

[2022-06-25 10:56] wonderflow opened #4258 "[Feature] don't ask for confirm when delete --force"
**Is your feature request related to a problem? Please describe.**

I delete an application with --force, it still ask for confirm.
[code]

The same issue for `-y` is that the ask information printed.

[code]

**Describe the solution you'd like**

Don't ask/print for confirm when delete `--force`  and `--yes` .

**Describe alternatives you've considered**

**Additional context**

[2022-06-25 14:29] sumit-tembe commented on #4258
@wonderflow I would like to work on this.

[2022-06-25 15:33] Somefive commented on #4258
this behavior is a design by @barnettZQG
please do not fix it unless all of you agree to that.

[2022-06-26 07:04] aashimgarg commented on #3898
is @lunarwhite working on this issue?

[2022-06-26 08:36] lunarwhite commented on #3898
Hi @aashimgarg, yeah. But feel free to plan a proposal and contribute to the community:)

[2022-06-27 02:18] #4255 closed

[2022-06-27 03:33] #4215 closed

[2022-06-27 03:53] zzxwill commented on #4189
@ccs-warrior This issue has been fixed by https://github.com/kubevela/kubevela/issues/4215.

[2022-06-27 05:24] wonderflow commented on #4189
You can upgrade the terraform addon to 1.0.9 for this fix. Closing

[2022-06-27 05:24] #4189 closed

[2022-06-27 05:26] wonderflow commented on #1365
It's supported in velaux now.

[2022-06-27 07:29] ZhongsJie opened #4264 "[Feature] Support business configuration management at the application level"
**Is your feature request related to a problem? Please describe.**

In the actual enterprise implementation process, in order to reduce application size and effectively improve maintainability, it is necessary to abstract business-level configuration, provide application-level configuration management capabilities, and complete configuration content sharing between applications.

The current probl

[2022-06-27 07:52] ZhongsJie96 opened #4265 "[Feature]Aware of incorrect configuration changes"
**Is your feature request related to a problem? Please describe.**

[code]
The annotated code is a misconfiguration. If I use an error configuration to complete the apply operation directly, the application will provide the following error message:
[code]

This error message can be bypassed by the following operations, first apply a correct yaml file, which will be a correct operation. But when I

[2022-06-27 08:44] wonderflow opened #4268 "[Feature] Add `vela ql create <view.cue>` to create velaql view"
**Is your feature request related to a problem? Please describe.**

We have a great velaql to help query K8s resources from CUE: https://kubevela.io/docs/platform-engineers/system-operation/velaql

We have supported using `vela ql` command to query in https://github.com/kubevela/kubevela/pull/4196

[code]

But we can't share the view in cue format to others.

**Describe the solution you'd like**

[2022-06-27 10:10] wonderflow opened #4271 "[Feature] support delete several applications in one command"
**Is your feature request related to a problem? Please describe.**

When I want to delete more than one apps, I have to do it one by one.
[code]

It's annoying when I have many apps.

**Describe the solution you'd like**

I hope we can delete them together at once:

[code]

**Describe alternatives you've considered**

**Additional context**

[2022-06-27 12:34] StevenLeiZhang commented on #4271
It sounds a little dangerous. Do you think user should double confirm batch delete?

[2022-06-27 12:53] wonderflow commented on #4271
yes, user need confirm.

[2022-06-27 15:21] dhiguero commented on #4223
Thanks @FogDong for the feedback, I will try to answer the different questions:

Q1:

The first idea that comes to mind would be a use case where we are using a workflow to deploy an application in different remote clusters (assume cluster1 and cluster2), and we add a new one (cluster 3) to the existing workflow once a new cluster becomes available. In that scenario it is likely that the user does

[2022-06-28 01:37] wonderflow commented on #4265
Yes. That could cause bugs.

[2022-06-28 01:57] barnettZQG commented on #4258
I think `--force` doesn't means no need to ask for confirmation. It simply means that the dependency is ignored for application deletion.

In a test or demo scenario, we might find double-checking troublesome. However, the deletion itself is a dangerous action for a formal environment. On the other hand, there is a local environment parameter that determines the target namespace. If without confir

[2022-06-28 02:16] wonderflow commented on #4220
closing， feel free to re-open it if there any issues.

[2022-06-28 02:16] #4220 closed

[2022-06-28 02:18] wonderflow commented on #4224
fixed in #4240

[2022-06-28 02:18] #4224 closed

[2022-06-28 02:46] barnettZQG commented on #4218
@TIEDPAG I'm happy to view your contribution.

[2022-06-28 02:50] wangyikewxgm commented on #4228
Since the `v1.1.13 ` is too stale, can you reproduce this bug in latest version?

[2022-06-28 02:51] Somefive commented on #4264
What do you mean for "`ResourceTracker` monitor secondary resources"? Like patterns like ResourceTracker->Deployment->Pod?

[2022-06-28 04:15] ZhongsJie96 commented on #4264
Yes, if config works independently as a controller, it will need to monitor the resources generated by config and support effective recycling.

[2022-06-28 08:30] jingliming opened #4273 "The webservice component definition would fail in repeated volume conditions"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. The YAML files of Component/Trait I used.
webservice component
3. The YAML file of Application I applied.
[code]
5. Other operations I have done.
pv
[code]
pvc
[code]
6. See error
[code]

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/9865050/176131969-61ca9483-4b32-4790-b9f5-c5bb9

[2022-06-29 02:55] #4140 closed

[2022-06-29 09:46] #4181 closed

[2022-06-29 10:05] TIEDPAG commented on #4218
And I use the traefik plugin on vela to create a TCPRoute for a service. There is no related route display on the traefik dashboard. My operations are as follows:
1. enable traefik on velaux
![image](https://user-images.githubusercontent.com/24646612/176408890-9e22d989-4832-4fd7-914d-ecc9cf366947.png)
2. configure TCPRoute for my app
![image](https://user-images.githubusercontent.com/24646612/1764

[2022-06-29 15:06] charlie0129 commented on #4131
Do we need revisions on doc site as well (`vela show webservice --web --version v1`)? Although I don't think that's much needed.

CLI might just be enough, for history versions.

[code]

[2022-06-30 01:21] wonderflow commented on #4131
Yes CLI is enough for now.

[2022-06-30 01:54] wonderflow commented on #4258
Yes, I agree we should ask for permission when use `--force`, while we should at least omit the output when we already specify `--yes`. The following case should be avoided. \cc @sumit-tembe

[code]

[2022-06-30 03:17] wangyikewxgm opened #4283 "[Feature] Addon Install resources in needNamespace"
**Is your feature request related to a problem? Please describe.**

Proposal about addon installing resources into specified namespace：
Because of the mechanism of application applying resources, resource with one specified namespace defined in `raw` or `k8s-objects` type component can be deployed into it (such as [fluxcd addon](https://github.com/kubevela/catalog/blob/master/addons/fluxcd/resourc

[2022-06-30 03:19] wonderflow commented on #3179
yes, we should set it as `string` by default in `vela show`.

[2022-06-30 03:25] wonderflow commented on #4283
Why do we still a policy while we already define the namespace as component?

[2022-06-30 03:35] wonderflow commented on #4283
What if users already define an application template? What will happen if conflicts occur?

[2022-06-30 04:04] wonderflow commented on #4283
I think the addon should not modify the application in runtime, instead, it should only use the parameter of application template of addon. As a result, the flow can be:

1. generate application template first according to the metadata.yaml in addon.
[code]

2. The application template should be in format of CUE, so we can use something like parameters.cue to define runtime variables for addon. **

[2022-06-30 04:10] charlie0129 commented on #4131
I would suggest using `--revision` over `--version`, since it is called DefinitionRevision literally

[2022-06-30 04:12] wonderflow commented on #4131
Yes, better

[2022-06-30 07:12] dengqian opened #4286 "Delete resourcetracker failed"
**Describe the bug**

![image](https://user-images.githubusercontent.com/6399971/176614783-190ea768-07ba-4695-9057-da5455336cb6.png)
After Application deleted, resourcetracker deleting failed, so next time we create application  again will fail with:

[code]

![image](https://user-images.githubusercontent.com/6399971/176619761-ea5d6c52-9e04-49ff-9da5-00a9cdc4972d.png)
![image](https://user-images.

[2022-06-30 07:50] #3994 closed

[2022-06-30 08:50] wonderflow opened #4288 "[Addon] Create redis add with redis-operator"
**Is your feature request related to a problem? Please describe.**

Redis is famous as a cache middleware.

**Describe the solution you'd like**

The addon should contain:
- [ ] installation of the crd and operator https://github.com/spotahome/redis-operator
- [ ] Useful and reliable ComponentDefinition
    - [ ] Health check of redis cluster
    - [ ] Expose an endpoint for using
    - [ ] Suppor