[2021-03-31 02:22] wonderflow commented on #1361
Oh, I see, can you try delete the old pod and check again? maybe the error `Error from server: conversion webhook for core.oam.dev/v1alpha2, Kind=Application failed: Post "https://vela-core-webhook.vela-system.svc:443/convert?timeout=30s": dial tcp 10.105.231.130:443: connect: connection refused while run kubectl get applications`  is caused by that.

[2021-03-31 02:42] rapkey commented on #1361
@wonderflow `helm uninstall -n vela-system kubevela` seems cant remove all the resources. After run this, the follow resources remain.
[code]

[2021-03-31 02:45] wonderflow commented on #1361
Thanks! We'll try to re-produce and investigate the issue that `helm uninstall` didn't clean up the resources ASAP.

[2021-03-31 02:50] rapkey commented on #1361
@wonderflow ok.
I have manually deleted the resources. Then reinstall the kubevela by helm.
[code]

But still get error while running `kubectl get applications`
[code]

[2021-03-31 03:03] rapkey commented on #1361
Meanwhile `kubectl get applicationconfigurations` work well.

[2021-03-31 03:06] wonderflow commented on #1361
It seems the certficate of the webhook created by cert-manager is not working properly. Maybe it's caused by manuelly deleting some resources.

For a fast fix, I think you could delete the related resources and create again https://github.com/oam-dev/kubevela/blob/master/charts/vela-core/templates/certmanager.yaml

[2021-03-31 03:43] wangyikewxgm opened #1372 "Cross namespace workload cannot update"
Workload  in a namespace that is different with application  cannot be updated. An reconcile error will set in appContext status.
![image](https://user-images.githubusercontent.com/77846369/113087502-52bd3700-9216-11eb-95bf-b2acf23389ed.png)

[2021-03-31 06:55] yangsoon commented on #1367
Note, we should also keep some infrequently changed config files like ` index.js`, `docusaurus.config.js` keep in repo kubevela.io. only overwrite frequently changed files.

[2021-03-31 07:00] #1372 closed

[2021-03-31 07:25] ghostbody opened #1378 "How to make multipe components (web-services) share an ingress instance?"
Suppose I have multiple web-service components, and many of them need a route trait to expose the ports.

[code]

It seems like kubevela will create as many ingress instance as services. How can I acheive one ingress instance which is shared by all these components?

[2021-03-31 07:26] rapkey opened #1379 "W0331 15:25:30.781623 17117 warnings.go:70] admissionregistration.k8s.io/v1beta1 MutatingWebhookConfiguration is deprecated in v1.16+, unavailable in v1.22+; use admissionregistration.k8s.io/v1 MutatingWebhookConfiguration"
Always show the warning msg while install kubevela by helm.

[2021-03-31 07:56] wonderflow commented on #1379
what's your K8s cluster version?

[2021-03-31 07:57] rapkey commented on #1379
@wonderflow
[code]

[2021-03-31 08:08] wonderflow commented on #1379
Thanks, we need to update the apiVersion in chart.

[2021-03-31 08:45] sunny0826 opened #1381 "Flux cannot start running"
**Describe the bug**

After installing `Flux` successfully, I found that it was not working properly and was restarting constantly.

**To Reproduce**

install flux
[code]

check status
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/24563928/113116592-2b7b5f80-9240-11eb-8c14-db43b37186b8.png)

**Cluster information**

- ACK v1.18.8-aliyun.1

**pod log**

`source-control

[2021-03-31 09:26] rapkey commented on #1361
@yangsoon
[code]

[2021-03-31 09:31] #1369 closed

[2021-03-31 11:56] #1379 closed

[2021-03-31 13:00] wonderflow commented on #1361
I've figured out the reason that `kube-webhook-gen` won't patch the CRD for certificate CA. So it will fail all the time.

[2021-03-31 13:21] #1361 closed

[2021-03-31 14:20] hongchaodeng commented on #1144
Already included in v1.0 release.

[2021-04-01 00:27] wonderflow opened #1387 "support package discover refresh in trait/component definition registration"
[pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition/componentdefinition_controller.go:L46](https://github.com/oam-dev/kubevela/blob/0629049e1f9fd1529a2e285f569258896296a566/pkg/controller/core.oam.dev/v1alpha2/core/components/componentdefinition/componentdefinition_controller.go#L46)

[pkg/controller/core.oam.dev/v1alpha2/core/traits/traitdefinition/traitdefinition_controller

[2021-04-01 00:28] wonderflow opened #1388 "Code Refactor: remove all the duplicate fields in parser above as template contains now"
[pkg/appfile/parser.go:L78](https://github.com/oam-dev/kubevela/blob/0629049e1f9fd1529a2e285f569258896296a566/pkg/appfile/parser.go#L78)

[2021-04-01 00:30] wonderflow opened #1389 "do we still need to apply helm resource if spec no difference"
[pkg/controller/core.oam.dev/v1alpha2/application/apply.go:L135](https://github.com/oam-dev/kubevela/blob/0629049e1f9fd1529a2e285f569258896296a566/pkg/controller/core.oam.dev/v1alpha2/application/apply.go#L135)

[2021-04-01 01:18] Ghostbaby commented on #1388
@wonderflow pls assign to me

[2021-04-01 02:06] wonderflow commented on #1388
@Ghostbaby Sure,thanks

[2021-04-01 02:06] #1367 closed

[2021-04-01 02:21] captainroy-hy commented on #1381
Hi @sunny0826 I cannot reproduce the issue on my local env(kind 1.16,1.18,1.19) and ack 1.16. And I have no ack 1.18 env to test...
So could you please enable "--log-level=debug" flag of helm-controller as below? Then maybe we can get better insight into the problem.
[code]

[2021-04-01 02:24] charles-woshicai opened #1391 "Wrong command in docs of Getting started"
**Describe the bug**

[code]

Install the client via `brew`
[code]

[code]

**To Reproduce**

Just execute the command line `vela components` by client in version of 0.3.6 could reproduce, I think.

**Expected behavior**

Fix the docs, I think it should be `vela workloads` in version of 0.3.6

[code]

**Screenshots**

**Cluster information**

[code]

**Additional context**

[2021-04-01 02:25] zzxwill commented on #1128
Here are some items we need to consider on improvising the current design of cloud resource provisioning and consuming https://kubevela.io/docs/platform-engineers/cloud-services in upcoming releases.

# Limitations

- The namespace of a cloud resource provisioning application has to be the same as that of the consuming one

KubeVela 1.0 doesn't support cross-namespace cloud resource secret consumi

[2021-04-01 02:28] wonderflow commented on #1391
Please also upgrade your cli to v1.0.0

[2021-04-01 02:33] charles-woshicai commented on #1391
OK, 0.3.6 is the latest version via brew, let me install client of v1.0.0 via relase page.

[2021-04-01 02:34] wonderflow commented on #1391
ping @sunny0826  please check

[2021-04-01 02:38] charles-woshicai commented on #1391
Client of v1.0.0 works fine.

[code]

[2021-04-01 02:41] charles-woshicai commented on #1391
Double confirmed the client of 0.3.6 is the latest version via brew in my side:

[code]

[2021-04-01 02:45] sunny0826 commented on #1391
kubevela v1.0.0 already merged, please execute the command: `brew update`

![image](https://user-images.githubusercontent.com/24563928/113236269-22899d00-92d7-11eb-9ed3-5ed7a499bb06.png)

[2021-04-01 02:45] sunny0826 opened #1392 "[Feature]Using the Kubevela CLI as docker image"
**Describe the solution you'd like**

Run kubevela cil with docker.

**Additional context**

Reference : [Using the official AWS CLI version 2 Docker image](https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-docker.html)

[2021-04-01 02:55] charles-woshicai commented on #1391
Works for me, thx!

[2021-04-01 02:56] #1391 closed

[2021-04-01 02:57] sunny0826 commented on #1381
`helm-controller` yaml

[code]

[2021-04-01 02:58] sunny0826 commented on #1381
pod log

[code]

[2021-04-01 02:58] wonderflow commented on #1391
@sunny0826 thanks! Do we still need to send a PR is we release to `v1.0.1`?

[2021-04-01 02:59] sunny0826 commented on #1381
pod describe

[code]

[2021-04-01 02:59] sunny0826 commented on #1391
These are automatic and are synchronized every time a new version is released.

[2021-04-01 03:19] sunny0826 opened #1394 "`vela show` can not find component of helm"
**Describe the bug**

Declare Helm charts as app components via `ComponentDefinition`.

[code]

However, it cannot be viewed with the `vela show` command.

**Screenshots**

![image](https://user-images.githubusercontent.com/24563928/113238384-3b944d00-92db-11eb-9c6d-41f73dc19145.png)

![image](https://user-images.githubusercontent.com/24563928/113238524-87df8d00-92db-11eb-9fdb-8f538b9da38c.png)

*

[2021-04-01 03:24] wonderflow commented on #1394
Yes, the vela show should integrate with the value in configmap. Would you like to fix @sunny0826

[2021-04-01 03:32] rapkey opened #1397 "Run manager in pod get running error msg."
Run manager in pod get running error msg:
[code]

[2021-04-01 03:51] #1368 closed

[2021-04-01 03:55] wonderflow commented on #1397
It seems it's a normal error about concurrent modify the definition file. Is there any real affect?

[2021-04-01 04:54] sunny0826 commented on #1394
Sure, I will fix it.

[2021-04-01 05:36] wonderflow opened #1400 "[Feature] Upgrade our CUE lib to v0.4.x"
CUE is going to release v0.3.0 very soon https://github.com/cuelang/cue/releases/tag/v0.3.0-beta.8

It contains much of great features that really needed in KubeVela, we should upgrade from 0.2.2 to 0.3.0 after it released.

[2021-04-01 07:13] wonderflow commented on #1064
Currently we have implemented an [AppRevision Object](https://github.com/oam-dev/kubevela/blob/master/apis/core.oam.dev/v1beta1/applicationrevision_types.go) to reflect all the information(including Application/ComponentDefinition/TraitDefinition...) related to the state of the deploying period of the App. In other word, AppRevision is a quick snapshot of the Application.

What's more, [AppDeploy]

[2021-04-01 07:23] wonderflow commented on #1397
* The `8080` is the metrics port of the controller, it reports the promethus metrics for runtime monitoring.  https://github.com/oam-dev/kubevela/blob/master/cmd/core/main.go#L137
* The `9440` is the health address, for doing readiness/liveness probe.

[2021-04-01 07:39] captainroy-hy commented on #1093
May I help with this issue? If @Cweiping is busy with other tasks.

[2021-04-01 07:46] wonderflow commented on #1093
Sure, please carry on @captainroy-hy Thanks!

[2021-04-01 07:55] rapkey commented on #1397
@wonderflow Thanks for your help.

[2021-04-01 08:14] wonderflow opened #1403 "Umbrella Issue for examples in Hands-on lab and ecosystem integration"
Now we have released the KubeVela 1.0.0, the next most important thing is to give more and more examples of how to use it.

We could add more examples into the into the [hands-on labs](https://kubevela.io/docs/platform-engineers/keda) sections and create more sections such as `Ecosystem Integration`, `Examples`, `Demos`, etc...

We have two aspects of examples could add.

## The existing examples

[2021-04-01 08:54] wonderflow opened #1404 "Request for CLI command "vela system cue-packages" to list inner CUE packages supported by KubeVela"
**Is your feature request related to a problem? Please describe.**

KubeVela has supported some inner packages and will add more in the new future, while the users don't know what are these packages.

So we should add a CLI command to show what are the inner packages supported in cluster.

**Describe the solution you'd like**

[code]

[2021-04-01 09:18] zzxwill commented on #1069
Fixed by a community contributor https://github.com/oam-dev/kubevela/pull/1068

[2021-04-01 09:18] #1069 closed

[2021-04-01 09:18] #1039 closed

[2021-04-01 09:20] #675 closed

[2021-04-01 09:24] zzxwill commented on #341
This has been solved by OpenAPI v3 schema and all fields are marked with required/optional flag.

[2021-04-01 09:24] #341 closed

[2021-04-01 11:54] wonderflow opened #1406 "write a helm chart test for vela-core chart"
Now we don't have any test for the installation of the helm chart. https://github.com/oam-dev/kubevela/tree/master/charts/vela-core/templates/tests removed in https://github.com/oam-dev/kubevela/pull/1405

We should follow the docs:  https://helm.sh/docs/topics/chart_tests/

And write a test that include creating an application and get the status to be running.

[2021-04-01 18:28] resouer commented on #1403
Please split these samples into two categories:

### P0: `End User Guide`

This section is only about using `Application` `AppRollout` and `AppDeployment`, no definitions should be declared in this section (and all needed definitions should be pre-installed in KubeVela). This is P0 and we will list this category at top of sidebar.

[code]

### P1: More samples in `Platform Builder - Hands-on Lab`

[2021-04-02 02:24] #1388 closed

[2021-04-02 05:35] charles-woshicai commented on #1406
/assign

[2021-04-02 17:54] resouer opened #1416 "[Feature] Consider a sub-project to provide user/team/project abstraction"
**Is your feature request related to a problem? Please describe.**

Consider a plugin in KubeVela that provides abstraction of user/team/project out-of-box, configurable by CRD and integrated with authz add-ons by default.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-02 19:11] ryanzhang-oss commented on #698
It seems that all we need to do to support any Terraform plugins is to add those modules into the base image of the job, right?

Is there any downside to use configMap/secret to store the terraform state versus using a volume?

[2021-04-06 02:25] zjq123456 opened #1418 "approllout Bug"
Rollout Example
Here is an example of how to rollout an application with a component of type deployment.

Rollout steps

Install deployment based workloadDefinition
kubectl apply -f docs/examples/deployment-rollout/webservice-definition.yaml
Apply an application
kubectl apply -f docs/examples/deployment-rollout/app-source.yaml
Wait for the application's status to be "running"

Prepare the applicat

[2021-04-06 03:17] zzxwill commented on #698
It could be. And in some situations, it should.

Adding Terraform plugin binaries into the base image of job will 1) speed the Terraform execution time as `terraform init` is not needed, 2) support offline situations, like hybrid cloud cluster.

Currently, the job will check the latest binary and download it each time, which will 1) support any plugins supported by Terraform.

That's a good questi

[2021-04-06 03:45] charles-woshicai commented on #1406
Please help to review.

[2021-04-06 11:35] kinsolee opened #1422 "Annotations in TraitDefinition outputs are overwritten"
**Describe the bug**
The annotations in `TraitDefinition` outputs now will be overwritten once the `Application` is created.

**To Reproduce**
1. Purely install kubevela following [Official Docs](https://kubevela.io/docs/install)
2. Modify the build-in `ingress.yaml` traitdefinition, add an annotation `konghq.com/override` in the `outputs:service` section:
[code]
3. Apply the demo Application from

[2021-04-07 09:13] kinsolee commented on #1422
This was caused by a wrong cue grammar, fields must be included in braces or they will be seen as the same hierarchy as the parent field.

This works as expected:
[code]

[2021-04-07 09:13] #1422 closed

[2021-04-07 10:46] wonderflow commented on #1422
https://kubevela.io/docs/platform-engineers/debug-test-cue i think the  `dry-run` command could help next time

[2021-04-07 11:19] wonderflow opened #1424 "[Feature] Add k8s event for Application Object on every step"
We should add events for every step of the application object state in Application controller.

Currently, the events is null when we use `kubectl describe` to see the application object.

[code]

We should record all important state into events, such as `parsed successfully`, `rendered successfully`, `applied successfuly`, `health checked healthy`

[2021-04-07 11:20] wonderflow commented on #1400
pending on https://github.com/cuelang/cue/issues/867

[2021-04-07 11:34] wonderflow commented on #1416
I think there're many questions on this issue here:

1. What's the relationship between user/team with the project we're planning to design? Do you mean there're admin and normal user? The admin could create a team and then,
2. What kind of authorization do we want to privilege to the normal user that differ from the admin?
3. Will a user have different teams？ Does projects in a team in different

[2021-04-07 11:48] kinsolee commented on #1422
I did use `dry-run` command, but it printed out the correct outputs even though I used the wrong grammar.

The cue template:

![cue template](https://user-images.githubusercontent.com/5144108/113861055-5aae4580-97d9-11eb-86bf-63acb8cd5fbf.png)

The `dry-run` output:

![image](https://user-images.githubusercontent.com/5144108/113861277-9b0dc380-97d9-11eb-97cf-aae81a7a5644.png)

That made me think t

[2021-04-07 12:11] wonderflow commented on #1422
I tried your example, it turned out:

[code]

The annoutations is out of the metadata. The `dry-run` command is right.

[2021-04-07 13:34] #1339 closed

[2021-04-07 21:23] hongchaodeng opened #1425 "[Observability] Provide access to application metrics/tracing/logs/health"
When deploying applications, it is important for developers to understand how they are behaving in order to better operate/improve them. This includes understanding the applications' metrics, tracing, logs, health endpoints.

From system level perspective, we can only collect infra metrics like CPU/Mem. But that doesn't provide good insights in the applications per se. More "application-aware" met

[2021-04-07 21:24] hongchaodeng commented on #609
ref: https://github.com/oam-dev/kubevela/issues/1425

We are considering to adopt Dapr to support observability features.

[2021-04-08 00:48] Ghostbaby commented on #1424
pls, assign it to me.

[2021-04-08 05:39] #1123 closed

[2021-04-08 06:12] wonderflow opened #1428 "Automatically sync vela api code to the repo(kubevela-core-api)"
The deploy key has been added named `VELA_API_DEPLOY`.

It should be something similar to the release docs workflow: https://github.com/oam-dev/kubevela/blob/master/.github/workflows/release-docs.yaml

The api sync script: https://github.com/oam-dev/kubevela-core-api/blob/main/sync.sh

[2021-04-08 07:17] wonderflow opened #1429 "[Feature] add a periodically image clean action for e2e runner"
Run the command on `aliyun` runner.

[code]

[2021-04-08 07:54] #1404 closed

[2021-04-08 12:04] wonderflow commented on #1360
@sunny0826 is working on this issue

[2021-04-08 12:35] #1387 closed

[2021-04-08 15:09] wonderflow opened #1438 "[Feature] Add garbage collection mechanism for AppRevision"
**Is your feature request related to a problem? Please describe.**

Currently, our apprevisions will increase Infinitely, this will cause out of memory if running long time.

**Describe the solution you'd like**

We need to add a GC mechanism for it.

By default the limitations of AppRevisions for one App could be 10. And it should be an args which could configure it in vela-core charts.

**Descri

[2021-04-08 15:12] wonderflow opened #1439 "TraitDefinition won't work when contains "_|_" in value"
**Describe the bug**

![image](https://user-images.githubusercontent.com/2173670/114051594-cc60bf00-98bf-11eb-94c3-bb5f94f1ad57.png)

**To Reproduce**

**Expected behavior**

In fact, there's nothing wrong.

**Screenshots**

**Cluster information**

**Additional context**

[2021-04-09 02:17] #1429 closed

[2021-04-09 04:48] wonderflow opened #1443 "collect test coverage for e2e-test"
# Background

We have many test cases in e2e but they are not counted in coverage. So I think it will be very cool if we can add them.

# Solution Reference

After some research, I found there's a solution: https://www.cyphar.com/blog/post/20170412-golang-integration-coverage

And the pounch team have followed the blog and tried successfully https://github.com/alibaba/pouch/pull/1338

# What Shoul

[2021-04-09 05:13] sunny0826 commented on #1360
Translation event url: https://i.cloudnative.to/oam/event/translation

[2021-04-09 05:35] charles-woshicai commented on #1351
/assign

[2021-04-09 05:49] #1360 closed

[2021-04-09 06:16] #1406 closed

[2021-04-09 06:18] wonderflow commented on #1351
@charles-woshicai  We can list the componentName only like below:

[code]

[2021-04-09 06:57] charles-woshicai commented on #1351
Is this sample the expectation?

[2021-04-09 07:48] wonderflow commented on #1351
@charles-woshicai  Not very sure, you can also check the current status and find a better place to record.

[2021-04-09 09:07] chengshiwen opened #1448 "[Docker] Docker base image discussion"
@wonderflow @shikanon
After comparison and discussion as follows, `alpine` base image will be a better choice. And the `BASE_IMAGE` argument can be used for users to override the base image. So the current known needs have been met.

|                                            | Ubuntu   | Debian  | Alpine  | Distroless |
| ------------------------------------------ | -------- | ------- | -------

[2021-04-09 09:57] wangyikewxgm opened #1451 "update application will see appContext update failed error-log"
**Describe the bug**
update a application, vela-core will print a applicationContext update status error

**To Reproduce**
1. create application
2. update application
3. check vela-core log See error

**Screenshots**
![image](https://user-images.githubusercontent.com/77846369/114163436-c4a32800-995c-11eb-808b-49c791665f77.png)

**Cluster information**
Describe your kubernetes cluster information.

[2021-04-09 12:12] #1448 closed

[2021-04-09 13:46] #1439 closed

[2021-04-09 20:53] ryanzhang-oss commented on #698
Have you looked at using Terraform built-in k8s backend  to store the state (https://www.terraform.io/docs/language/settings/backends/kubernetes.html)

[2021-04-09 21:05] ryanzhang-oss commented on #698
Why is the api version start from "v1beta1"?

[2021-04-09 21:19] hongchaodeng commented on #1425
Here's my proposed solution for metrics:

- When deploying application, add 'metrics' trait:

[code]

- After rendered, its pods should have the following annotations:

[code]

- The Dapr sidecar will detect above annotations, and collect metrics and export them to [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector).
  - Note that this doesn't exist yet AFAICT. We

[2021-04-09 21:24] hongchaodeng commented on #1425
Here's my proposed solution for metrics:

- When deploying application, add 'metrics' trait:

[code]

- After rendered, its pods should have the following annotations:

[code]

- The Dapr sidecar will detect above annotations, and collect metrics and export them to [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector).
  - Note that this doesn't exist yet AFAICT. We

[2021-04-09 21:34] hongchaodeng commented on #698
Where does the `tf apply` output go to? Like the following:

[code]

How could users get these outputs to use?

[2021-04-09 23:24] zzxwill commented on #698
Nope. But solution you refer to seems better than creating a ConfigMap to store the state file in-cluster Pod. I will make a PoC. Thanks a lot:)

I just intend to align with oam-dev/kubevela. I also wanna use some utils from the repo, and here is an upgrade request for KubeVela #1295, or go.mod will confilict.

[2021-04-09 23:27] zzxwill commented on #698
User could not run `tf apply` directly. It's executed in a Job behind the the controller when users apply Configuration to create or update cloud resource.

Users get it be `kubectl get ConfigurationName -o yaml`, for example.

[code]

[2021-04-09 23:33] ryanzhang-oss commented on #698
So the main advantage of having server-side terraform is to mitigate configuration drifting (aka, reconcile loop). AFAIK, the controller implementation may or may not revisit the configuration after the initial apply (depends on some controller runtime configuration). Is that by design?

[2021-04-10 00:26] wonderflow commented on #698
@zzxwill  We'd better use terraform HCL as the first example, that's easier to be understood by terraform ecosystem users.

@ryanzhang-oss  The main advantage is we have a serverside terraform that can provision cloud resources for almost every kinds of cloud resources from any provider. Then, we can automatically bind the resources provisioned and let the webservice consume better. For now, if we

[2021-04-10 00:35] ryanzhang-oss commented on #1425
I thought the exporter is for the prometheus to write to to OpenTelemetry collector. Did I read it wrong? Also just curious, why OpenTelemetry instead of Grafana?

[2021-04-10 01:10] ryanzhang-oss commented on #1448
Who uses this base image and where?

[2021-04-10 01:12] wonderflow commented on #1448
@ryanzhang-oss  KubeVela Controller

[2021-04-10 01:19] ryanzhang-oss commented on #1451
this error should be transiant

[2021-04-10 02:23] hongchaodeng commented on #1425
Sorry but the answer is nope. The exporter is a plugin of OpenTelemetry collector which exports data to Prometheus.

They are not equivalent. Think of OpenTelemetry as another "neutral" prometheus.

[2021-04-10 06:49] rapkey opened #1454 "Healthy status is healthy, but vela status appname show error msg."
[code]
[code]
[code]

The healthy status in applications are also ture.
[code]
Meanwhile, the applications,components are created but no deployment,pod,service is created. There is no error or warning msg by kubectl describe applications,components.

**The enviroment info:**
kubevela version v1.0.2
vela version
[code]

[2021-04-10 06:59] rapkey opened #1455 "The latest version of kubevela is 1.1.0-rc-master but the vela cli is still 1.0.2. Do they match？"

[2021-04-10 08:58] rapkey opened #1456 "I think it's bug in 1.1.0-rc-master"
applicationcontexts
[code]
applicationrevisions
[code]

[2021-04-10 09:02] #1456 closed

[2021-04-10 09:04] rapkey commented on #1456
I am too careless, the format of deployment is error.

[2021-04-10 20:02] shikanon commented on #1448
Great!

[2021-04-11 00:26] chengshiwen opened #1457 "[Improvement] Use kind cmd code to load docker image instead of local kind binary"
The dependency on the kind binary needs to be removed as follows:
[code]

The related issue: #413

[2021-04-11 00:32] chengshiwen commented on #1457
The `docker` command will be resolved after `kind`

[2021-04-11 06:26] wonderflow commented on #1455
Yes, they can work.

[2021-04-11 06:29] wonderflow commented on #1454
From the status log, it seems the `resource tracker` has error. ping @wangyikewxgm please check.

[2021-04-11 07:16] wangyikewxgm commented on #1454
Can you show the `stateless` componentDefinition ?

[2021-04-11 07:47] #1389 closed

[2021-04-11 12:59] #1457 closed

[2021-04-12 02:25] wonderflow commented on #1454
@rapkey please paste the yaml out so we can re-produce it

[2021-04-12 06:08] rapkey commented on #1455
@wonderflow ok，thanks.

[2021-04-12 06:08] #1455 closed

[2021-04-12 06:21] rapkey commented on #1454
@wangyikewxgm @wonderflow I have fixed the error by upgrade kubevela from 1.0.2 to 1.1.0. Also the yaml has been changed many times. I am not sure of the version at that time.Maybe it's
[code]

But there is still an status error with kubevela 1.1.0.Follow is the info.`vela ls` show the HEALTHY is healthy while `vela status` show the correct status with a service unhealthy.

[code]

[code]

[2021-04-12 07:57] wonderflow opened #1468 "[Feature] introduce `vela` as a kubectl plugin"
**Is your feature request related to a problem? Please describe.**

Now the `vela` command is a standalone command line. And the story is appfile oreinted.

While for k8s end users who love to use `Application` Yaml , they also need some killer features such as:

1. dry-run
2. live-diff
3. check status
4. rollout
5. ..

**Describe the solution you'd like**

I think we can build a kubectl plugin( h

[2021-04-12 08:14] mayocream commented on #1313
Same problem.
[code]

[2021-04-12 12:24] zzxwill commented on #698
@ryanzhang-oss I've made a PoC. It worked and the solution is better for my solution of manually setting tfstate file to ConfigMap and mounting it to Pod when create/updating cloud resources.

As `terraform apply` will run in a in-cluster Pod, so a service cloud will be need to read/write secret, like I did on Secret.

Thanks a lot for providing this solution:)

The controller has supported config

[2021-04-12 12:28] zzxwill commented on #698
@wonderflow Your suggestion is reasonable. I have supported it and updated the example in [README.md](https://github.com/zzxwill/terraform-controller). Thanks.

[2021-04-13 04:29] #733 closed

[2021-04-13 04:33] wonderflow commented on #1064
We also keep the GC rule for this revision. Keep 10 revisions per by default.

[2021-04-13 06:24] yangsoon commented on #1313
it looks like this crd definition use the incorrect openapi schema, the items keyword is required in arrays.
while `expandMode` is a `string` type.

[code]
and I find the source crd file generate by controller-gen, the keyword `items` should be added by other operations.

https://github.com/kubesphere/kubesphere/blob/a9a0be79d1528b4ead02e23018f84bd2b7a4aed4/config/crds/storage.kubesphere.io_provis

[2021-04-13 06:34] yangsoon commented on #1313
@mayocream did you use the same crd as cnbailian

[2021-04-13 07:01] mayocream commented on #1313
@yangsoon After edit K8s CRD `provisionercapabilities.storage.kubesphere.io` and `storageclasscapabilities.storage.kubesphere.io`

from
[code]
to
[code]

KubeVela now running normally.

These 2 files:
https://github.com/kubesphere/ks-installer/blob/d7b5e81dc5fd6b253f3d04d9cdcfb92258a69e51/roles/common/files/ks-crds/storage.kubesphere.io_provisionercapabilities.yaml#L86
https://github.com/kubespher

[2021-04-13 07:13] cnbailian commented on #1313
@yangsoon
虽然我不知道 kubesphere 是如何生成的这个错误文件，但 apiserver 没有响应错误。这就导致一个问题，我们很难知道是哪个 CRD 的问题。
如果 cue 一直不兼容，那是不是应该提供一个更好的错误提示？毕竟很难保证是不是有下一个错误文件。

Although I don't know how kubesphere generated this error file, apiserver is not responding to the error. This leads to the problem that it is difficult to know which CRD is the problem.
If cue is consistently incompatible, shouldn't there be a better error mes

[2021-04-13 07:26] yangsoon commented on #1313
We really need to improve cue’s error alerting ability to give a better error message, we will fix it.

[2021-04-13 08:41] yangsoon opened #1473 "[Feature] Add webhook to check the WorkloadTypeDescriptor field of ComponentDefinition"
**Is your feature request related to a problem? Please describe.**

ComponentDefinition‘s field `WorkloadTypeDescriptor` has `Type` and  `Definition` to refer a workload, while now the
2 fields are all omitempty. It will be dangerous if the user does not fill in both fields.

1. Both `definition` and `type` are empty: Reject request
2. `definition` is not empty, `type` is empty:
[code]
MutatingWeb

[2021-04-13 08:49] #1178 closed

[2021-04-13 08:51] wonderflow commented on #1178
@xiqiu618 Hi, does this issue resolved?

[2021-04-13 09:03] chengshiwen commented on #416
@wonderflow @hongchaodeng

**Conclusion: we cannot use `buildkit` as library**

Now we use `docker build -t image` and `docker push image` commands in code, which need `docker cli client` and `docker daemon server` (using a VM to build docker images on a MAC or windows).

As for `buildkit`, it is composed of the `buildkitd` daemon and the `buildctl` client. While the `buildctl` client is available

[2021-04-13 09:25] zzxwill commented on #416
@chengshiwen Very elaborated research, nice!

Specifically, do you mean `buildx`? AFAIK, docker could not build cross-platform images. And we use docker buildx
https://github.com/oam-dev/kubevela/blob/master/.github/workflows/registry.yml#L48

[2021-04-13 09:32] chengshiwen commented on #416
@zzxwill `buildx` is a Docker CLI plugin for extended build capabilities with [BuildKit](https://github.com/moby/buildkit). And this issue we discuss is the [code lines](https://github.com/oam-dev/kubevela/blob/d8eb7d687c4e50f3e79bc726eeaf81ff08a3b899/pkg/builtin/build/build.go#L104):
[code]

More details, please refer to `https://docs.docker.com/buildx/working-with-buildx/#build-with-buildx`

Bui

[2021-04-13 11:18] #1093 closed

[2021-04-13 11:34] wonderflow opened #1476 "[Feature] add app name as label for AppRevision"
**Is your feature request related to a problem? Please describe.**

I hope we can list revision for specifed application:

[code]

Now we don't have this label, so we can only list all.

**Describe the solution you'd like**

Add a label `app.oam.dev/name=app-basic` into appRevision when we create an appRev.

**Describe alternatives you've considered**

**Additional context**

[2021-04-13 11:50] wonderflow commented on #416
@chengshiwen Thanks! Very appreciate for this research! As a result, I think we don't need to change for now. And we should replace the TODO to refer to this issue, so the conclusion can be seen by others. After that, we may close this issue.

[2021-04-13 12:14] chengshiwen commented on #416
Got it

[2021-04-13 14:47] xiqiu618 commented on #1476
/assigned

[2021-04-13 14:50] xiqiu618 commented on #1476
/assign

[2021-04-13 15:26] xiqiu618 commented on #1476
/assign

[2021-04-14 03:26] #416 closed

[2021-04-14 04:37] yangsoon opened #1484 "[Feature] AppDeployment support internal SVC traffic management"
**Is your feature request related to a problem? Please describe.**

Suppose such a scenario:

Component `M` in Application `A` use the service provided by Component `N` in Application `B`, But there are multiple versions of Application `B`: `B-v1`, `B-v2`.

For Components in Application `A`, they don't need to care about the request was sent to which version of the Component `N`. So they just need

[2021-04-14 04:38] yangsoon commented on #1484
\cc @hongchaodeng

[2021-04-14 09:39] rapkey opened #1491 "[Feature] Why the service name must be unique under one env other than application？"
I have severral applications with many services for each aplication. Got error when there are the same service name even if they are not under the same applicaion.

[2021-04-14 09:41] rapkey commented on #1454
@wonderflow @wangyikewxgm Did you follow up?

[2021-04-14 10:58] wonderflow commented on #1491
Yes, this is a known issue as we use the service name to create underlying resources. These resources should have unique name.

App myapp -- (service: mysvc) -- K8s Deployment(mysvc)

[2021-04-14 10:59] wonderflow commented on #1454
Yes, it seems a CLI issue, we'll try to reproduce and fix.

[2021-04-14 14:02] xiqiu618 commented on #1451
/assign

[2021-04-15 00:46] hongchaodeng opened #1495 "UX Improvement Roadmap"
What's the background? KubeVela controller provides the engine to encapsulate resources, deploy applications, and handle some of basic application operations (health, logs, rollout). But on top of that users still need to go over a few manual steps to setup the platform and manually write the Application yaml.

What's the proposal? Since v1.0 is released, the internal is stable. For the next steps

[2021-04-15 00:48] hongchaodeng commented on #987
Closing in favor of https://github.com/oam-dev/kubevela/issues/883

[2021-04-15 00:48] #987 closed

[2021-04-15 07:41] #1476 closed

[2021-04-15 08:47] wonderflow opened #1499 "[Feature] flaky test case collection"
Let's collect all flaky test case here and kill them one by one.

[2021-04-15 08:49] wonderflow commented on #1499
[code]

[2021-04-15 10:25] #1468 closed

[2021-04-15 11:23] wonderflow commented on #1499
[code]

[2021-04-15 12:30] charles-woshicai commented on #1491
It's the limitation of `kubernetes`, the name of k8s resources like `Deployment` is an attribute of its `metadata`.

Docs ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

[code]

[2021-04-15 12:39] xiqiu618 opened #1502 "fail to create a application with trait , error message : evaluate customStatus.message: value "message" not found'"
**Describe the bug**
create a application with trait, application status conditions will print  error

**To Reproduce**
1.  create application
[code]
2.  describe application object

**Screenshots**

![image](https://user-images.githubusercontent.com/73998049/114869568-b86e0d80-9e29-11eb-96a7-d617bb975add.png)

**Cluster information**
- Kubernetes Version [e.g. 1.16.9]

**Additional context**

rem

[2021-04-15 15:15] charles-woshicai commented on #1502
Have you installed `ingress` successfully?

[Doc for how to install ingress](https://kubevela.io/docs/install#1-choose-kubernetes-cluster)

[2021-04-15 15:17] charles-woshicai commented on #1357
What does traffic management means?

[2021-04-15 19:16] dhiguero opened #1504 "HealthScope CRD is missing"
**Describe the bug**

On a fresh installation of Kubevela, the `HealthScope` CRD has not been registered.

**To Reproduce**

1. Follow the [Getting Started](https://kubevela.io/docs/install) to install Kubevela on Kind.
2. List scopes

[code]

**Expected behavior**

Since the runtime implements an operator for the _HealthScope_, the CRD should be generated and registered in the system during the i

[2021-04-16 00:37] zzxwill commented on #1504
@dhiguero Thanks for reporting this issue.

The healthscope in KubeVela is in namespaced scope https://github.com/oam-dev/kubevela/blob/master/charts/vela-core/templates/definitions/healthscopes.yaml#L5, while it is in cluster scope in OAM Kubernetes Runtime https://github.com/crossplane/oam-kubernetes-runtime/blob/master/charts/oam-kubernetes-runtime/templates/scopedefinitions.yaml.

So you may c

[2021-04-16 01:39] xiqiu618 commented on #1502
ingress traits  and ingress controller It has been installed successfully

![image](https://user-images.githubusercontent.com/73998049/114959319-6237b380-9e97-11eb-95c9-bbf4c01f389f.png)

![image](https://user-images.githubusercontent.com/73998049/114959440-ab880300-9e97-11eb-8010-f65288b07f89.png)

[2021-04-16 02:12] LeoLiuYan commented on #1357
@wonderflow

Does AppRollout still need `Traffic Management`? AppDeployment already has it.

[2021-04-16 02:29] charles-woshicai commented on #1502
It seems that kubevela use cue to get message from triat failed:
https://github.com/oam-dev/kubevela/blob/e76992df8779e0e43a3ca901cbec46344ce28ce3/pkg/dsl/definition/template.go#L248-L251

[2021-04-16 02:33] charles-woshicai commented on #1502
Would you mind to provide below information:

[code]

[2021-04-16 02:35] captainroy-hy commented on #1502
[code]
According to the cue file to check status, missing `ingress.status.loadBalancer.` caused the evaluation error.
On one hand, we should check why the status.loadBalancer is empty.
On the other hand, we may improve the cue template to handle this exceptional issue. @wonderflow

[2021-04-16 05:05] #1451 closed

[2021-04-16 05:13] wonderflow commented on #1502
@captainroy-hy Yes, would you like to help improve it.

[2021-04-16 05:14] captainroy-hy commented on #1502
Sure. /assign

[2021-04-16 05:21] wonderflow commented on #1357
Specifically, I mean the traffic driven rollout. The current rollout is driven by replica, while we can use HPA and let the traffic percent to  drive the rolling.

[2021-04-16 05:22] #1351 closed

[2021-04-16 08:46] #1438 closed

[2021-04-16 15:14] wonderflow opened #1518 "[Feature] docs sync shell should check the command succeed before push"
[code]

[2021-04-16 15:14] xiqiu618 commented on #654
@wonderflow In my opinion, first of all, the user may need to complete the switch of the specified environment, and then operate the creation/update/delete of the application. Is it necessary to associate the appfile with env

[2021-04-17 00:04] zzxwill opened #1520 "[Feature] Enable vela show to support parameter type "envMappings: [string]: [string]: string""
**Is your feature request related to a problem? Please describe.**

`vela show` can generate parameter table for complicated type, like `envMappings: [string]: [string]: string`. A complete TraitDefinition is as below.

[code]

[2021-04-17 00:06] zzxwill commented on #1520
@wangyikewxgm It seems that you fixed a similar one, So you can take up this feature if you like:)

[2021-04-17 01:07] wonderflow commented on #1520
the labels and annotations trait also can't be showed.

\cc @yangsoon

[2021-04-17 01:55] rapkey commented on #1491
@charles-woshicai
why not add a app-name prefix before the service and deployment or other resources under app while they are created by kubevela?
For ex:
app name: demo-app1
service name: service1

then the service name in k8s is `demo-app1-service1`

[2021-04-17 02:04] rapkey commented on #1491
@wonderflow
So, it's not an `enhancement` in the nearest release but a `question` need to be discussed？

[2021-04-17 02:11] wonderflow commented on #1491
Yes, we need to discuss more. `a app-name prefix` doesn't fix the issue, it makes the underlying resource has complex name and can't be understood clearly.

[2021-04-17 06:32] rapkey commented on #1491
@wonderflow
There are many apps develop by different engineer running in one k8s cluster. Name conflict  is bothered.
Is there any recommend solution for this?

[2021-04-17 06:38] rapkey commented on #1491
@wonderflow
Also I cant specify the namespace of the application except for change env.But if specify different env for each applicaton, also need create all the workloads and traits under every env.

[2021-04-17 10:31] xiqiu618 commented on #1520
/assign

[2021-04-17 11:15] xiqiu618 commented on #1520
reasons for not showing is trail discovery is vela-system, switching to vela-system verification is normal

![image](https://user-images.githubusercontent.com/73998049/115110908-3b20d500-9fb0-11eb-88d5-d2208f4aa828.png)

![Uploading image.png…]()

[2021-04-17 13:41] xiqiu618 commented on #1520
I can improve it  /assign

[2021-04-17 14:00] xiqiu618 commented on #1520
it may involve the priority. when the trait has the same name, the definition local env has priority over to  in vela-system

[2021-04-17 15:12] zzxwill commented on #1520
Per the offline discussion with @xiqiu618 and my verification, xiqiu pointed out the root cause. Thanks. Trying to fix it in #1521.

[2021-04-18 01:57] xiqiu618 opened #1522 "[Feature] Supply advanced capabilities are deployed by plugin (vela plugin install xxx) to improve scalability"
**Is your feature request related to a problem? Please describe.**
currently, Vela's capabilities have been greatly enriched, including: cluster management, multi cluster rollout...  as a result, it will become larger and larger. At present, at least 22 CRDs need to be deployed, and the dependence will also increase. but not all users need full capacity.
[code]
**Describe the solution you'd like**

[2021-04-18 04:43] resouer commented on #1403
The existing doc looks confusing, please consider below format:

[code]

[2021-04-18 12:50] xiqiu618 commented on #1378
I can try to improve this ability, please assign to me
/assign

[2021-04-18 13:04] wonderflow commented on #1378
@xiqiu618 can you explain something about your solution

[2021-04-18 14:17] xiqiu618 commented on #1378
after i thinking about it,  separate create ingress instance  for each component. can be better managed ,merge rules by host may be more affect.

[2021-04-19 02:19] wonderflow commented on #1491
Will it be confuse for users to see their underlying component resources has a prefix of app-name? And was it possible for the user add the prefix by themselves?

[2021-04-19 02:22] wonderflow commented on #1378
Yes, that's why we don't support this case. And I don't even know why we need to use one ingress instance to share? It doesn't cost anything to create multiple instances.

[2021-04-19 02:34] charles-woshicai commented on #1357
/assign

I can have a try.

[2021-04-19 02:58] charles-woshicai commented on #1491
How about add a random hash to the end of name? Just like what pod was doing.

We could add `owner-reference` to bind the service and application.

E.g:
[code]

[2021-04-19 03:09] charles-woshicai commented on #1491
And I think it could be an opitional feature, only the application with specific annotaion like `vela.io/randomName: 'enable'` would enable it

[2021-04-19 03:20] rapkey commented on #1491
It's more confuse for users, cos I can't  konw which ones belong to my app except get more info by `kubectl describe` for ex.

[2021-04-19 05:07] wonderflow commented on #1491
yes, I won't vote for the random suffix design

[2021-04-19 05:24] wonderflow commented on #1522
Totally agree, and currently we have already moved out some of the CRDs and  controllers.

And thanks for raise the issue. Let me classify them a bit.

## Basic User Interface CRDs

These are the basic UI CRD Objects for KubeVela users.

[code]

## Advanced User Interface CRDs

These CRDs provide advanced feature in KubeVela and they are also UI Objects.

[code]

## Necessary Implementation Detail

[2021-04-19 05:28] wonderflow opened #1529 "clean the docs that `applicationdeployments.core.oam.dev` not exist any more"
applicationdeployments.core.oam.dev   was a legacy CRD that already not exist in the project, we should clean the docs and remove the legacy CRDs.

ref #1522

[2021-04-19 05:40] #1428 closed

[2021-04-19 05:57] wonderflow opened #1530 "[Feature] design K8s irrelevant Restful API and migrate the implementation `refrences/apiserver` into velacp"
**Is your feature request related to a problem? Please describe.**

https://github.com/oam-dev/velacp is the control plane that provide K8s irrelevant Restful API / UI experience. So we should migrate the implementation there and design the stable API ASAP.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-19 07:32] captainroy-hy commented on #1499
[code]

[2021-04-19 08:02] #1502 closed

[2021-04-19 15:13] charles-woshicai commented on #1100
So it will require a `WebhookMutation` to convert `raw workload` like `deployment` with specific label to `Application` when APIServer receving a request?

[2021-04-19 18:44] resouer commented on #1403
/cc @wonderflow

[2021-04-20 03:27] #1529 closed

[2021-04-20 04:05] #1424 closed

[2021-04-20 04:29] zzxwill opened #1534 "[Feature] Helm ComponentDefinition supports setting chart values"
**Is your feature request related to a problem? Please describe.**

@xiqiu618 would like to use helm ComponentDefinition, but needs helm chart values to be settable. /cc @captainroy-hy

[code]

**Describe the solution you'd like**

Parse Values of the chart and display all variables (name, structure, type) by `vela show`. Then users can set it in `properties` field in an Application.

**Describe a

[2021-04-20 05:05] wonderflow commented on #1534
I think it's duplicate with #1394

[2021-04-20 05:09] zzxwill commented on #1534
Yes, showing the definition is duplicated. But we also needs Values in values.yaml to be settable.

[2021-04-20 05:10] wonderflow commented on #1534
It's settable now.

[2021-04-20 05:12] yangsoon commented on #1394
@sunny0826  Per the offline discussion, I take cover this issue.

[2021-04-20 05:13] zzxwill commented on #1534
Great! Any examples links to @xiqiu618

[2021-04-20 06:24] zzxwill commented on #1499
`license_finder` failed several times though all licensers are approved.

[code]

[code]

[2021-04-20 08:22] suraciii opened #1536 "Vela CLI installation PowerShell script error: Cannot convert 'System.Object[]' to the type 'System.Uri'..."
**Describe the bug**

There's an error when executing the PowerShell script to install vela cli:

iex : Cannot convert 'System.Object[]' to the type 'System.Uri' required by parameter 'Uri'. Specified method is not
supported.
At line:1 char:52

**To Reproduce**
[code]

**Expected behavior**
The installation script should run to end without errors.

**Additional context**
It seems like the newest (

[2021-04-20 08:41] wonderflow commented on #1534
https://kubevela.io/docs/helm/component @zzxwill

[2021-04-20 08:55] zzxwill commented on #1534
@wonderflow Great! /cc @xiqiu618

[2021-04-20 08:55] #1534 closed

[2021-04-20 08:57] wonderflow commented on #1100
@charles-woshicai We don't need a webhook. We can use to tool to convert.

[code]

Then we automatically generate the Application:

[code]

And we can add trait for it and patch to the orignal Deployment.

[2021-04-20 09:08] wonderflow commented on #1100
The same mechanism also works for trait

[2021-04-20 09:09] captainroy-hy commented on #1100
I would like to help with this issue. And let me kick off fulfilling adopting existing workloads and traits, as for rollout related work, maybe deserve further consideration.

[2021-04-20 09:09] zzxwill commented on #1536
@suraciii Thanks for reporting this problem.

It seems like the newest (v1.0.3) release breaks the script, the following query results to two assets:
https://github.com/oam-dev/kubevela.io/blob/b3342150744a60ac0fb428ba88a946941a4e215b/static/script/install.ps1#L67
[code]

@yangsoon Do you any idea why this happened?

[2021-04-20 09:23] zzxwill commented on #1536
I've reproduced this issue in a Windows server. I need more time to investigate.

[2021-04-20 09:30] suraciii commented on #1536
@zzxwill I think it's because the v1.0.3 release has both "kubectl-vela" and "vela" assets, and it impacts the filter `"*${os_arch}.zip"`.
So change the filter to `"vela-*${os_arch}.zip"` may solve this issue.

[2021-04-20 11:11] Camel9527 opened #1537 ""message": "cannot apply components: cannot apply scope \"core.oam.dev/v1alpha2\" \"HealthScope\" \"demo-app-default-health\": Operation cannot be fulfilled on healthscopes.core.oam.dev \"demo-app-default-health\": the object has been modified; please apply your changes to the latest version and try again","
Got error with `k get applicationcontexts.core.oam.dev -o json`

vela-core version `1.1.0-rc-master`
vela cli version `v1.0.2`

ComponentDefinition
[code]

Appfile
[code]

k get applicationcontexts.core.oam.dev demo-app -o json
[code]

[2021-04-20 13:19] xiqiu618 commented on #1537
whether there was an update to the resource before reporting an error ? kubernetes objects have a resource version that is unique for each update. If an update comes in that has an out of date resource version, it is rejected to prevent racing updates clobbering each other.

modifying UPDATE to PATCH will solve this problem

[2021-04-20 14:38] charles-woshicai commented on #1518
/assign

Check whether above command run successfully or not?

[2021-04-20 18:59] resouer commented on #1416
xref: https://github.com/sighupio/permission-manager

[2021-04-20 21:07] dhiguero commented on #1504
Thanks for the clarification, I have tried again from a fresh install, and this is the output I get:

[code]

It is true that the definition is installed in vela-system, but I would expect `healthscopes.core.oam.dev` to be "available" as `scopedefinitions.core.oam.dev` in every namespace as with the previous oam-kubernetes-runtime given that it is a default core scope.

Could you please elaborate

[2021-04-21 00:24] allenhaozi commented on #609
Dapr trait is responsible for rendering a `Dapr Componet` ?  any other tasks ?
If I already have Dapr Operator installed, the second can be ignored ?
I recently designed a Service Binding and am learning about Dapr

[2021-04-21 00:50] hongchaodeng commented on #609
Hi @allenhaozi .

Yes. The Dapr trait will have a backing controller which automatically creates the resources needed and fills the necessary metadata (e.g. redisHost, redisPassword).

What's the Dapr Operator you meant here? If you mean [the one from Dapr project](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/), they are for different purposes. They won't conflict.

Cool!

[2021-04-21 02:09] wonderflow commented on #1518
@charles-woshicai yes, thanks. Maybe we need to abort the shell if any command error

[2021-04-21 03:13] wangyikewxgm commented on #1454
Because vela cli status will check HealthyScope.Healthy scope controller will check if all pods are ready, but the application only check user's `cue healthy config`.We have make it more clear in application `status.service.scopes`, let user know check healthy scope status @rapkey

[2021-04-21 03:50] ghostbody commented on #1378
In my case, some services need the same entrypoint (like traditional reverse proxy server).

i.e. some-product.kubevela.com -> same ingress instance -> multiple services

[2021-04-21 05:38] wonderflow commented on #1378
Does these services belong to the same application?

[2021-04-21 06:56] wonderflow commented on #1403
@resouer Yes, planning to do a second round refactor for our doc site

[2021-04-21 07:05] rapkey commented on #1537
@xiqiu618 I just delete the old application and create it by vela up again.

[2021-04-21 07:06] wonderflow opened #1544 "[Feature] doc site will fail to build for release branch update"
**Is your feature request related to a problem? Please describe.**

Now we have configured the v1.0 as the current website version in https://github.com/oam-dev/kubevela.io/blob/main/docusaurus.config.js#L150

When the release-1.0 updated, the doc of website will be deleted(https://github.com/oam-dev/kubevela/blob/master/hack/website/release.sh#L88-L91 and https://github.com/oam-dev/kubevela/blob/

[2021-04-21 07:06] rapkey commented on #1454
@wangyikewxgm Okey, which release will cover this?

[2021-04-21 07:07] rapkey commented on #1537
There is only one version for this application.
[code]

[2021-04-21 07:15] wonderflow commented on #1504
@dhiguero Hi, the definitions in  `vela-system` can work in any namespace. This change was introduced in https://github.com/oam-dev/kubevela/pull/1085

And the issue is https://github.com/oam-dev/kubevela/issues/918

In the design, `vela-system` is the KubeVela system level namespace, any definitions there can be widely used in any namespaces as system built-in capability. While other namespaces a

[2021-04-21 07:41] rapkey opened #1546 "There is no warning or error msg to show while create an application without serviceaccout it specifies."
While create application with the following workload without the serviceaccount created before, there is no pod created without no error or warning msg in its applicationcontexts.core.oam.dev and applicationrevisions.core.oam.dev.

[code]

[2021-04-21 07:47] wonderflow commented on #1546
Thanks for reporting, this is a good suggestion. KubeVela must report the basic errors when the workload failed to run.

[2021-04-21 08:13] wonderflow opened #1547 "[Feature] deprecate vela dashboard and remove the apiserver code related"
**Is your feature request related to a problem? Please describe.**

Now we have [velacp](https://github.com/oam-dev/velacp) to continue this work, so we should remove the legacy code to avoid confusion.

**Describe the solution you'd like**

Remove the code and test.

The code are mainly in https://github.com/oam-dev/kubevela/tree/master/references/apiserver
Note we should still keep the `vela` cl

[2021-04-21 11:33] #1520 closed

[2021-04-21 13:51] charles-woshicai commented on #1518
Does  line 18 `set -e` not work?  I think it will abort the shell if command exit with an error.

[2021-04-21 19:06] resouer commented on #1122
FYI, a Helm templates based solution for Istio. It also makes sense to me: https://github.com/salesforce/helm-starter-istio

[2021-04-21 20:13] resouer opened #1549 "[Feature] Consolidate rollout, traffic, placement etc in Application?"
Consider using `Application` as entry point to declare app level strategies (global traits). For example:

[code]

This UX seems to have more clarity and when `strategies` is present, vela can assume `revision-only: "true"` by default.

[2021-04-22 01:09] captainroy-hy commented on #1499
Test application containing kube module
/home/github/actions-runner/_work/kubevela/kubevela/test/e2e-test/kube_app_test.go:42
  Test deploy an application containing kube module [It]
  /home/github/actions-runner/_work/kubevela/kubevela/test/e2e-test/kube_app_test.go:156

  Timed out after 60.000s.
  Expected
      <bool>: false
  to be true

  /home/github/actions-runner/_work/kubevela/kubevela/t

[2021-04-22 02:42] resouer opened #1551 "[Feature] Manage the DAG of the component"
Consider generating an Argo workflow to apply if `dependsOn` is present in `Application`. Also, it's simpler than reusing data input/output IMO.

[2021-04-22 03:15] wonderflow commented on #1518
It seems it doesn't work for `yarn run docusaurus docs:version $version`

[2021-04-22 03:20] wangyikewxgm opened #1552 "[Feature] Embed rollout in an application"
**Is your feature request related to a problem? Please describe.**
Support embedded rollout settings in an application. In this way, any changes to the
application will naturally roll out in a controlled manner instead of a sudden replace.

**Describe the solution you'd like**
IMO we can split the solution to 2 pr
1.refactor rollout Reconcile func to let it could be called by application. Guarante

[2021-04-22 05:05] charles-woshicai commented on #1518
Got it

[2021-04-22 06:42] wonderflow commented on #1499
[code]

[2021-04-22 13:02] wangyikewxgm commented on #1454
@rapkey  release 1.0.4

[2021-04-22 16:25] charles-woshicai commented on #1551
Not sure what's the exact situation, in my understanding `argo workflow` requires `argo runtime` that argo crds to be installed and related controllers to run .

[2021-04-22 16:26] charles-woshicai commented on #1551
Is this expected?

[2021-04-22 16:27] charles-woshicai commented on #1544
Is related to #1518 ?

[2021-04-22 16:35] resouer commented on #1551
@charles-woshicai yes, or we can also import argo lib, this is not a blocker.

[2021-04-22 22:00] ryanzhang-oss commented on #1499
it's hard to debug those tests with few clues, is there way to restore the server logs?

[2021-04-22 22:51] ryanzhang-oss commented on #1552
There might be a few problems with this approach

- appRollout has finalizer logics that won't apply when it's not the entire object
- appRollout reconciler has defer functions that might not apply when it's not the entire object

[2021-04-23 02:06] wonderflow commented on #1544
yes, they're related @charles-woshicai

[2021-04-23 04:40] #759 closed

[2021-04-23 05:56] wonderflow commented on #1549
[code]

[2021-04-23 07:03] wonderflow commented on #1552
Let me clarify the design:

[code]

Then:

[code]

Then we will create the rollout object, the name of the rollout is automatically generated:

[code]

[2021-04-23 07:24] wonderflow commented on #1549
Good idea but I found rollout not satisfy it.

[2021-04-23 08:50] #1394 closed

[2021-04-23 19:03] artursouza commented on #609
Dapr installation (sidecar injector, placement service, operator, etc) is a cluster concern, so an app does not "install Dapr for itself". There are some conversations about making Dapr installation scoped per app but that is an ongoing matter and not sure if we will make that change in Dapr.

Just to make it clear that the Dapr sidecar is per app (Pod) once Dapr is installed in the cluster.

[2021-04-23 19:15] resouer commented on #1100
@wonderflow Nope, this is unexpected, the whole process should happen in webhook and unknown to user.

[2021-04-23 19:59] resouer commented on #1552
@wonderflow The whole point of having component + trait model is we should be able to attach capabilities to a component and then get a self-contained app deployment entity, CUE and Helm are the glue that make this happen, `Application` is the UI to assemble these capabilities and declare user parameters.

If there's an app mgmt capability that can't fit in this model, we need to revisit why. Note

[2021-04-24 00:39] Ghostbaby commented on #1546
@wonderflow Let me confirm

[2021-04-24 01:05] resouer opened #1562 "[Feature] Git repo component"
With raw kube approach, we can easily have a built-in `ComponentDefinition` to reference a Git repo as a component (using Flux Kustomization as example but there're many approaches indeed):

[code]

[2021-04-24 17:41] resouer opened #1563 "[Bug] The unneeded workload definitions"
There're `webservice`, `worker`, `task` workload definitions in fresh installed vela, this is confusing. They should be cleaned up or renamed as `deployments.apps`, ` jobs.batch`.

[code]

Note that we did have "reserved" or [core workload types](https://github.com/oam-dev/spec/blob/v0.1.0/3.component_model.md#core-workload-types) before, but their names are `server`, `task` etc, should not overla

[2021-04-25 09:05] leejanee opened #1564 "Support the traitDefinition of dynamic template mode"
**Is your feature request related to a problem? Please describe.**
At present, the conversion of resource templates is carried out through the static mode of dsl

It is more difficult to realize some complex logic in this way
In addition, there are major restrictions when interacting with peripheral systems, such as the scenario of binding cloud resources rds

Need to complete the following logic

[2021-04-25 10:35] bigdimple opened #1566 "failed install kubevela from helm"
helm   install --create-namespace -n vela-system kubevela kubevela/vela-core

error message：
Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "ScopeDefinition" in version "core.oam.dev/v1beta1", unable to recognize "": no matches for kind "TraitDefinition" in version "core.oam.dev/v1beta1", unable to recognize "": no matches for kind "Wo

[2021-04-25 12:17] bigdimple commented on #1566
I found the reason，and how I resolve this problem.
here is cmd:

 kubectl -n vela-system get  crd |awk '{print $1}'|xargs kubectl  -n vela-system delete crd

then reinstall.

[2021-04-25 12:17] #1566 closed

[2021-04-26 02:07] #1064 closed

[2021-04-26 06:49] zzxwill commented on #1499
This is caused by out-fo-date go.sum. Try to update it in this way.
[code]

[2021-04-26 21:26] seankhliao opened #1570 "admissionReviewVersions duplicated in ValidatingWebhookConfiguration"
duplicate key in helm chart

https://github.com/oam-dev/kubevela/blob/f625877eb1ec1eabfcfabc9668ea4d6da32ab22f/charts/vela-core/templates/admission-webhooks/validatingWebhookConfiguration.yaml#L106-L119

[2021-04-27 03:15] wonderflow commented on #1563
This is for compatible, maybe we can remove the compatibility in the next release 1.1  \cc @yangsoon

[2021-04-27 03:16] wonderflow commented on #1562
Cool, this is a good practice, hope some one can help write this and add a demo doc.

[2021-04-27 04:12] #1570 closed

[2021-04-28 07:29] #1443 closed

[2021-04-28 08:15] wonderflow commented on #1499
[code]

[2021-04-28 09:20] zzxwill opened #1578 "Locally run unittest in debug mod hit "nil dereference""
**Describe the bug**

The `update or create app revision` test case is as below.
https://github.com/oam-dev/kubevela/blob/9fa237721e023cf92e6c00d15f6c6ef38828902a/pkg/controller/core.oam.dev/v1alpha2/application/apply_test.go#L207-L239

It will hit the issue when locally running it **in debug mode** as below.

![image](https://user-images.githubusercontent.com/2805315/116383464-7097af00-a849-11eb-

[2021-04-28 09:54] zzxwill commented on #1578
This code sample can reproduce the issue.

[code]

[2021-04-28 11:06] wonderflow commented on #1313
the  3rd party CRD should not block kubevela start up \cc @yangsoon

[2021-04-28 11:25] #1578 closed

[2021-04-29 02:27] wonderflow commented on #1048
We're going to re-visit this issue and @hongchaodeng will send a PR about the design.

[2021-04-29 02:40] wonderflow opened #1581 "Increase our code coverage standard"
https://github.com/oam-dev/kubevela/blob/master/codecov.yml

Strategy：

1. the patch coverage of PR should larger than 70%
2. the decrease of the coerage can't larger than  0.1%

[2021-04-29 03:58] #1581 closed

[2021-04-29 10:35] wonderflow commented on #1048
@hongchaodeng My draft Solution:

## Application Template Object

[code]

## Env Object

[code]

## Application Group Object

[code]

[2021-04-29 14:25] hongchaodeng commented on #1048
ref: https://github.com/oam-dev/velacp/issues/85

Based on our discussion we are moving env to CRD as well. Generally there are two ways to do env-based config management. We can use either kustomize patch style or CUE template style. I would include both in the design that I am writing.

[2021-04-30 07:17] #1552 closed

[2021-04-30 08:28] #698 closed

[2021-04-30 09:10] zzxwill commented on #1499
A compatiblity-test case:

[code]

[2021-04-30 11:08] zzxwill opened #1594 "Terraform application hit issue "status.currentBatch: Required value, status.rollingState: Required value""
**Describe the bug**

Applying the application `terraform-webapp` https://github.com/oam-dev/samples/pull/59, it hit the following issue.

`
{"level":"error","ts":1619780692.9016252,"logger":"Application","msg":"[Update] application status","application":"default/terraform-webapp","error":"Application.core.oam.dev \"terraform-webapp\" is invalid: [status.currentBatch: Required value, status.rollin

[2021-04-30 11:51] wonderflow commented on #1594
please try:
[code]

[2021-04-30 14:01] captainroy-hy opened #1595 "no warning or error msg when CUE error occurs"
**Describe the bug**

**To Reproduce**

For below application, by mistake, I assign an int to a field requiring string type value in CUE template.
[code]
To reproduce it quickly, just use `dry-run`.
As a result, the `env` is not rendered.
[code]
If apply the app into the cluster, the workload will be created successfully, everything looks like good except the `env` is missing.
There's no warning n

[2021-04-30 15:15] wonderflow commented on #1595
Yes do you know why the error message is ommited？ @captainroy-hy /cc @yangsoon

[2021-05-03 13:31] zzxwill commented on #1594
Thanks, by applying this latest application CRD, the issue went away.

[2021-05-03 13:31] #1594 closed

[2021-05-03 13:48] zzxwill opened #1599 "Could not get components from an application by `status.components`"
**Describe the bug**

Applying the application terraform-webapp oam-dev/samples#59, no components could be seen by `status.components`.

[code]

**To Reproduce**

Follow readme steps https://github.com/oam-dev/samples/pull/59/files#diff-581ea7feb97b57c66b5ad10b1c47976ff168261020de218a35fcb8d28f7eff68.

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2021-05-03 13:50] zzxwill commented on #1599
@charles-woshicai I noticed you have implemented the feature of retrieving components from application in https://github.com/oam-dev/kubevela/pull/1471, could you please take a look at this problem? Thanks.

[2021-05-03 19:41] resouer opened #1600 "[Bug] The cloud service part is confusing and should be cleaned up"
Issue 1: I am still not sure how we expect user to use the `webconsumer` component .

If we assume it's the way we expect user to consume cloud services, we should make it default and make all existing components work like that (this is challenging considering components are brought by users).

If not, we should remove it and focus on making service binding trait work (it definitely work for "clou

[2021-05-04 02:27] charles-woshicai commented on #1599
OK, /assign

[2021-05-04 05:23] resouer commented on #1403
@wonderflow I've sent a PR #1601 to fix the doc. Please add further docs following the new structure.

[2021-05-04 05:31] resouer opened #1602 "The doc generation is out-of-date"
The `vela show --web` feature is awesome but its content is significantly out-of-date.

In https://github.com/oam-dev/kubevela/pull/1601/, I proposed a simplified structure:
1. No need to have capability reference docs on kubevela.io.
2. All reference docs are move to `docs/end-user/{components, traits}` and they are now end user docs.

So as the next step, `doc-gen` just need to update [the speci

[2021-05-04 06:07] resouer opened #1603 "[Feature] Revisit Helm based component"
Ref: #864

Today the Helm based component need to add a `ComponentDefinition` for every chart, this is still verbose.

Should we consider this format?

[code]
[code]
The drawback is we lose a way to define workload type (which is important). A solution is we could have components such as: helm, helm-worker, helm-task (similar to https://github.com/oam-dev/spec/blob/v0.1.0/3.component_model.md#core

[2021-05-04 06:12] resouer commented on #1403
Please note do NOT mix tutorials with docs. Right now what we need are docs, e.g. `/docs/end-user/components/*` in PR #1601 , the are very simple, only spec + sample is enough, no need to tell stories with long sentences. The tutorials should be more end to end can be placed in separate dir.

[2021-05-05 00:51] resouer commented on #1603
Note that in any way we should focus on Helm based components and placement for them in next releases of KubeVela.

[2021-05-06 00:20] resouer opened #1605 "[Feature] Defer Rollout Plan to runtime cluster"
I'd propose make KubeVela work on control plane only. The AppRollout (since it only works with a single component), could be deferred to runtime cluster, i.e. it track workload instance and upgrade it in rolling manner.

I am not sure if we want it to rollout Helm chart as a whole on runtime cluster, seems not a critical requirement to me.

[2021-05-06 03:45] zzxwill opened #1606 "[Feature] Alibaba Cloud load balancer as a Kubernetes Ingress controller"
**Is your feature request related to a problem? Please describe.**

Supporting Alibaba Cloud [load balancer as a Kubernetes load balancer, which can work as an alternative [route trait](https://github.com/oam-dev/catalog/tree/master/traits/routetrait) in KubeVela.

**Describe the solution you'd like**

## Implement Alibaba Cloud load balancer as Ingress controller

### Requirements

#### 1.support

[2021-05-06 09:17] wonderflow commented on #1599
output of workload website: _|_ // value "output" not found'

I found the error above, it seems the workload failed to render. @zzxwill

[2021-05-06 09:40] captainroy-hy opened #1608 "[Feature] Enhance apply option "MustBeControllableBy""
**Is your feature request related to a problem? Please describe.**

Related to the [discussion](https://github.com/oam-dev/kubevela/discussions/1574).

**Describe the solution you'd like**

In that apply option, if the resource being applied already exists in the cluster and has a controller owner,
we should check whether the controller resource is already deleted.
If already deleted, we should co

[2021-05-06 09:54] #1544 closed

[2021-05-06 09:55] wonderflow commented on #1536
@suraciii Hi, can you help send a PR and check?

[2021-05-06 09:57] wonderflow commented on #1454
It's released now, let me close

[2021-05-06 09:57] #1454 closed

[2021-05-06 09:58] #1113 closed

[2021-05-06 09:58] wonderflow commented on #1113
it's fixed now

[2021-05-06 11:33] wonderflow commented on #1595
related with #1546

[2021-05-06 11:49] wonderflow commented on #1606
https://kubernetes.io/blog/2021/04/22/evolving-kubernetes-networking-with-the-gateway-api/

[2021-05-06 11:50] #1606 closed

[2021-05-07 02:34] hongchaodeng opened #1613 "[Feature] Support App-Level Policies and Custom Control-Logic Workflow"
The current model of Component-Trait has some limitations:

- No application level configuration across components. We should have app-level policies. Here are some use cases:
  - Provide RBAC rules, SSO integration, audit trailts, secret backends for application.
  - Provide deployment insights like lead time, frequence, mttr, etc. metrics for application.
  - Set GitOps pipelines for application

[2021-05-07 05:08] wonderflow opened #1614 "Can't re-use pv (retain) after deleting vela app"
### Discussed in https://github.com/oam-dev/kubevela/discussions/1574

<div type='discussions-op-text'>

<sup>Originally posted by **hprotzek** April 27, 2021</sup>
Hi there, I am trying to create a gcs bucket trait with the `csi-gcs` driver. Using existing buckets, forces me to use `Retain` policy on the pv. When I delete the vela app, the pc get in state `Released` but still have the old owner r

[2021-05-07 06:24] #1518 closed

[2021-05-07 06:56] wonderflow commented on #1603
The value for this pattern is users don't need to register anything before using helm based component in Applicaion. But the drawback is also very significant that it can't work with trait system.

I think we can make the `helm` ComponentDefinition in the flux chart https://github.com/oam-dev/catalog/blob/archives/helm-flux2-0.1.0.tgz so when users install the flux chart, they can use the Applicat

[2021-05-07 07:44] yangsoon opened #1615 "[Feature] add new label for configmap which store the parameter json schema of the Definition"
**Is your feature request related to a problem? Please describe.**

Now, vela support generate different versions of Component/Trait Definition, refer to #1531.
We will store the parameter information of different versions of Definition in the configMap.

This ConfigMap will have a common label `definition.oam.dev=schema`, so you can find easily by:

[code]

But we still need to specify a unified

[2021-05-07 08:44] #1536 closed

[2021-05-07 09:27] zzxwill opened #1618 "The properties table for "vela show annotations" is empty"
**Describe the bug**

Applying [annotation trait](https://github.com/oam-dev/kubevela/blob/3be63bba91117272b2704953d2255d73ddbd304f/charts/vela-core/templates/defwithtemplate/annotations.yaml), "vela show annotations" display none of properties.

[code]

[2021-05-07 09:32] captainroy-hy commented on #1603
@wonderflow Got it.
As for the drawback that it can't work with trait system, how about add a parameter in cue template for users to specify workload GVK.

[2021-05-07 09:36] wonderflow commented on #1603
How did it work? Do you mean hack a lot?

[2021-05-08 05:59] sunny0826 opened #1620 "[Feature]List what workloads are included in Component."
**Is your feature request related to a problem? Please describe.**

Show information about Component workload resources (which pods are included)

Example:

[code]

**Describe the solution you'd like**

It is easy to see what resources are included in the components.

**Describe alternatives you've considered**

**Additional context**

This feature can be built into `vela` and `kubectl vela`.

[2021-05-08 06:32] captainroy-hy commented on #1614
Solution: Use `ResourceTracker` to record the cluster-scoped workload/trait generated by Application. Use `ResourceTracker` rather than AppContext as these resources' controller owner .

[2021-05-08 07:20] wonderflow commented on #1605
Yes, I agree, we should make kubevela as pure control plane and let the runtime controller work in runtime cluster.

So the architecture should be like:

![image](https://user-images.githubusercontent.com/2173670/117530603-99216500-b010-11eb-97a2-f3c6a74722fa.png)

In this architecture, the Rollout in runtime cluster can be work as Application level（AppRollout） or Component level (Trait).

[2021-05-08 07:59] Alpacius commented on #1605
Deferred rollout and plans seem nice since there are real-world cases where components (i.e. microservices in an application) are separately rolled out or back for quick recover of emergent failures, forming up a temporary unstable application revision which could be fixed later. Such cases could be handled by apply rollout to components instead of the entire application.

However, it may be worth

[2021-05-09 00:50] #1602 closed

[2021-05-10 02:24] zzxwill opened #1625 "[Feature] Automatically generate samples for "vela show xxx --web""
**Is your feature request related to a problem? Please describe.**

Per the discussion in #1602 , samples of a ComponentDefinition/TraitDefinition should be automatically generated when running `vela show xxx --web`.

Currently all samples are manually stored in inline code.

[2021-05-10 02:42] captainroy-hy commented on #1603
Is it possible to allow users to specify workload type in component's properties through the below CUE template?

[code]

[2021-05-10 05:14] wonderflow commented on #1603
Good idea! @captainroy-hy  But the `workloadApiVersion ` and `workloadKind` must be able to be optional cause users won't understand it.

[2021-05-10 05:19] wonderflow commented on #1613
What will this scenario （https://github.com/oam-dev/kubevela/pull/1596） like if we use policy and workflow here?
In other word, how to descirbe ApplicationTemplate and ApplicationSettings here?

[2021-05-10 05:51] captainroy-hy commented on #1603
Sure. Then the trait system doesn't work if these two are omitted, right?

[2021-05-10 08:26] Alpacius opened #1628 "Incompatible OAM v1alpha2 ApplicationConfiguration"
**Describe the bug**

Error "cannot get workload definition of component "nginx-component": WorkloadDefinition.core.oam.dev "deployments.apps" not found" occurs when applying a certain v1alpha2 ApplicationConfiguration.

**To Reproduce**

Apply the yaml below:
[code]

**Expected behavior**

OAM ApplicationConfiguration should be created and the correspond component launched.

**Screenshots**

[cod

[2021-05-10 09:18] wangyikewxgm opened #1629 "Rollout failed when targetSize=totalRolloutSize"
**Describe the bug**

Rollout failed, and pod cannot be created

**To Reproduce**
1.apply the application yaml
[code]

2. apply rollout yaml
[code]
3. verify the approllout

[code]

[2021-05-10 09:28] wangyikewxgm opened #1631 "[Bug]vela-core will crash when rolloutBatches is empty"
**Describe the bug**
Now, AppRollout's `spec.rolloutPlan.rolloutBatches` is optional but if we create a AppRollout without rolloutBatches
KubeVela controller will crash

**To Reproduce**
1. apply the appRollout yaml
[code]
2. vela core will crash, check the log
[code]

**Expected behavior**

**Screenshots**

**Cluster information**

**Additional context**

[2021-05-10 09:44] wangyikewxgm opened #1632 "[Bug] application "app.oam.dev/rollout-template": "false" annotation don't works"
**Describe the bug**

**To Reproduce**
apply the application yaml
[code]
application controller still assume the app is not  inplace one.  And don't create appContext for it

[2021-05-10 11:29] wangyikewxgm commented on #1628
It's seem to be a bug of webhook, you can try again by disable the webhook

[2021-05-10 14:25] hongchaodeng commented on #1613
I will submit a design doc to cover more cases in details including the env one.

[2021-05-10 15:37] LeoLiuYan commented on #1605
Agree with @resouer.  Currently we use `AppRollout` only in runtime cluster.

By the way, `AppDeployment`  which management multiple runtime clusters should support more features.

[2021-05-10 20:36] resouer commented on #1603
@captainroy-hy @wonderflow This issue is basically about how to make component provider's life easier, i.e. as a component provider, can I reference a chart as component without declaring a component definition?

Hence, the workload type information should be automatically detected from Helm chart. Throwing the burden back to end users is definitely not acceptable - how the system knows whether a

[2021-05-11 04:08] wonderflow opened #1635 "clean up traitdefinition appliesTo configuration"
A off-topic issue is today we still have `appliesTo=webservice,worker` on traits - they should apply to workload types (`WorkloadDefinition`).

_Originally posted by @resouer in https://github.com/oam-dev/kubevela/issues/1603#issuecomment-837470257_

1. clean up existing traitdefinition yamls
2. refactor some of the webhook logic

[2021-05-11 04:09] wonderflow commented on #1635
@captainroy-hy can you help with this

[2021-05-11 06:59] resouer opened #1637 "[Bug] Worker component should not expose port"
It's wrong to add a `port` to worker to demo definition revisions: https://kubevela.io/docs/next/end-user/definition-revision#usage-of-definition

For example, copied from https://docs.digitalocean.com/products/app-platform/concepts/worker/:

- (Web) Service: a type of component that is accessible via public or internal ports, and running server-side code written in a supported programming languag

[2021-05-11 07:45] Alpacius opened #1638 "[Feature] Reuse existing v1alpha2 Component in v1beta1 Application"
**Is your feature request related to a problem? Please describe.**

Currently OAM v1alpha2 components could be defined with freestyle spec, offering compatibility with kubernetes resources available. However, kubevela Application specification does not allow reuse of existing components.
For example, given the component yaml below:
[code]
There is no way to reuse the component with its name. Compo

[2021-05-11 08:35] wangyikewxgm opened #1641 "KubeVela sign up Summer 2021 of Open Source Promotion Plan"
### Discussed in https://github.com/oam-dev/kubevela/discussions/1640

<div type='discussions-op-text'>

<sup>Originally posted by **wangyikewxgm** May 11, 2021</sup>
I propose our  KubeVela project  could sign up Summer 2021 of Open Source Promotion Plan.
Here is  introduction of this event.[reference](https://summer.iscas.ac.cn/help/en/)
In order to submit out project, here are several things mu

[2021-05-11 09:43] Alpacius commented on #1629
It seems this bug comes from initial replicas calculation. Attempt to rollout `N` replicas with exact `N` total replicas in AppRollout `rolloutBatches` causes failure.
And if we apply `N-1` replicas in `rolloutBatches`, everything goes well, except that the first two batches are merged with `replicas=1` for the first batch. For example, we boot an Application with:
[code]
and an AppRollout:
[code]

[2021-05-11 11:12] #1632 closed

[2021-05-12 01:55] Alpacius commented on #1629
From an example where `targetSize`=3 with 3 batches (`replicas`=1 for each batch):
[code]

[2021-05-12 02:27] wonderflow commented on #1631
even without webhook, we should also prevent the controller crash, please fix it ASAP @wangyikewxgm

[2021-05-12 03:33] wangyikewxgm commented on #1631
Yes, I found I have disabled the AppRollout webhook. And the application webhook don't verify  `spec.rolloutPlan`, I will fix it.

[2021-05-12 05:43] #1637 closed

[2021-05-12 05:51] yangsoon commented on #1546
I regitser the ComponentDefinition `stateless1 `, and use `stateless1 ` in Application `testapp`.

[code]

[code]

[2021-05-12 07:23] wangyuan249 opened #1644 "[Bug] Rollout failed when execute cloneset-rollout examples in docs"
**Describe the bug**
Rollout failed when execute cloneset-rollout examples in docs

**Steps to reproduce the behavior**
1.  Follow the instructions in docs/examples/cloneset-rollout/README.md
![image](https://user-images.githubusercontent.com/35907099/117934839-a8b4ec80-b335-11eb-8f64-3cdb31fba0cb.png)
2. When executed instructions in step 2, the approllouts will failed.
![image](https://user-imag

[2021-05-12 08:25] wangyuan249 commented on #1644
@wangyikewxgm

[2021-05-12 11:00] #1631 closed

[2021-05-12 12:38] wangyikewxgm commented on #1644
Does the issue be same with #1629 ?

[2021-05-12 13:09] Alpacius commented on #1644
I think so. Both cloneset and deployment application bootstrap use their scaler controller with [the very same logic for batch verification](https://github.com/oam-dev/kubevela/blob/58b3fffa36991a0d8504ae5ad70e70baa0749483/pkg/controller/common/rollout/workloads/common.go#L59), which has an initial size of 1.

When all batches are represented in percentage, target size could be alway filled exactl

[2021-05-12 20:03] ryanzhang-oss commented on #1629
It should be an easy fix but there is not really a need to "rollout" in this case either, right? Why do you want to "scale" from N to N?

[2021-05-12 23:30] ryanzhang-oss commented on #1644
@wangyuan249  the example is not updated, please try

[code]

[2021-05-13 02:42] Alpacius commented on #1629
The problem here is about deployments rather than clonesets.
On a bootstrap rollout with rollout template enabled, no deployment or pods are created. Thus RolloutPlanController [chooses to use DeploymentScaleController](https://github.com/oam-dev/kubevela/blob/eefc8c13ce98475d28f6c7e52a4f753fc5d6857d/pkg/controller/common/rollout/rollout_plan_controller.go#L357), which treats initial rollout as sc

[2021-05-13 03:00] captainroy-hy commented on #1629
`paused` field behaves differently on CloneSet and Deployment.
For CloneSet, "paused indicates that Pods updating is paused, controller will not update Pods but just maintain the number of replicas."
For Deployment, an initial Deployment with `paused: true` will not create any replicas until `paused` is switched to `false`.

[2021-05-13 04:15] captainroy-hy commented on #1629
I think this may be not a bug, but just an unreasonable end-user behavior.
While a user is authoring the rollout plan for his application, he must be aware of the original number (or the initial number, starting number, whatever it's named) of replicas of his application, then takes the expected final number of replicas into account, and finally design the batches.
Current logic uses `.spec.replic

[2021-05-13 06:52] Alpacius commented on #1629
When we apply an Application with rollout template but no AppRollout for the first time, there is no replicas.
It is rendering logic that creates a deployment, and such rendering should not be users' concern since it is kubevela's way of implementation.

By now, the implementation thinks the initially rendered deployment with 0/1 replicas has a `replicas`=`1`. In my opinion it is not natural and f

[2021-05-13 07:45] captainroy-hy commented on #1629
That's not true.  As the comments show, the logic is aware that the `.spec.replicas` doesn't represent the real number of pods. It follows k8s API convention that, fields in `spec` represent desired state by users but not current status. So it's intended to behave consistently with users' opinions.
https://github.com/oam-dev/kubevela/blob/9772907d667053cfc5b9e7c480d510ceea9ef4ea/pkg/controller/com

[2021-05-13 08:25] Alpacius commented on #1629
It's ok for `.spec.replicas` to show the desired number of pods because that's what k8s does.
The point is, the deployment resource is not directly created by the user, and doesn't exist until AppRollout triggers the further reconcilation.
Considering about internal affairs such as "a deployment shall be launched later and it causes difference between first-time rollout and further rollouts becaus

[2021-05-13 09:52] captainroy-hy commented on #1629
A sample scenario for rolling update not scale. Deploying a Deployment with `replicas: 5`, when it comes to 2/5 ready, users apply a Rollout plan to bring it to v2. Namely, the rollout starts from 2/5. And user expects the target v2 replicas number is 8. What should the batches plan be? [1,1,1] or [2,2,2]?(just assuming 3 rounds of rolling) A natural way for user is [1,1,1], because he is always a

[2021-05-13 10:16] Alpacius commented on #1629
Both [1, 1, 1] and [2, 2, 2] imply a "base" progression of 2 replicas. However, rolling out is about all replicas shall be updated to the given revision, thus the initial size of 2 might be not so important.

Btw, scaling is the implementation of kubevela's choice when no source target revision is specified, not what I'm expecting.

[2021-05-13 10:21] wangyikewxgm opened #1653 "[Feature] implementation more workloads rollout plugin"
**Is your feature request related to a problem? Please describe.**
Currently, our rollout plugin have supported deployment and cloneSet workload.I think implement more workload controllers such as statefulSet and daemonSet and so on

**Describe the solution you'd like**
1.Implement  rollout controller for statefulSet and daemonSet
2.write unit-test integration-test and e2e-test for logic. test  co

[2021-05-13 10:30] captainroy-hy commented on #1629
It's important to permit users to get each round of batching in a controllable state. That's the reason why users choose progressive rollout. If just update all to the given revision, rollout is redundant.

initial size (not real size) and batches plan work together to determine the result of each round rolling.

[2021-05-13 11:19] Alpacius commented on #1629
Yes, initial size matters. However it should be emit by users directly.
In this case, initial size visible to the user before AppRollout starts should be 0, not 1 created in the rendering phase, for it's not user's intention of doing so.
It might be more reasonable if ihe borderline for initial size is "before the applied AppRollout triggered". Otherwise, users would have to adjust their plans to

[2021-05-13 11:41] wangyikewxgm opened #1654 "[Feature] support more Alibaba cloud resources"
**Is your feature request related to a problem? Please describe.**
Current, our Alibaba cloud-resource provider have supported several type of resource, rds, redis etc. we can support more resource such as VPC,SLB,DRDS,MongoDB.

**Describe the solution you'd like**
1. contribution code for [crossplane/alibaba-provider](https://github.com/crossplane/provider-alibaba), include unit-test and e2e-test

[2021-05-13 11:55] captainroy-hy commented on #1629
As for the example, it depends on users' expectations or requirements for each round of rolling.
To author a rollout plan, users should have a clear goal of the final target, in your example, it's 3.
Then, users should think about how many rounds they want to reach the destination, and more importantly, they should think about how many replicas they need at the end of each round rolling.

If you e

[2021-05-13 12:08] Alpacius commented on #1629
Let's assume that the user expects 3 rounds with 1 pod per round. S/he have to write the plan [0, 1, 1] and is confused: why 0 pod launch in the first round, and there is still 1 pod running at the end of the round?
Thus we have to answer: kubevela would launch a deployment for them which is counted into total replicas, and such behavior comes from the underlying controllers -- you have to beware

[2021-05-13 12:24] captainroy-hy commented on #1629
While defining the batch plan, if use `.spec.replicas` as baseline, users just keep one thing  in mind:

That's straightforward because they are also the author of `.spec.replicas`. They don't have to know how kubevela or diverse workload controllers work under the hood. No matter what kind of workload. What they write is what they finally get.

But if use the real number of replicas rather than `

[2021-05-13 12:32] Alpacius commented on #1629
Such rule exists because rollout is coupled to kubernetes stories where resources are created with desired state, and further guided to a kubevela story where workloads are created and then scaled.

Although the rule is simple, IMHO it's not ideal, being different from "rollout" concept without underlying machine equivalent specified.

[2021-05-13 12:45] captainroy-hy commented on #1629
`properties.replicas` is not a valid parameter of `worker`.
Try cmd `vela show worker` to check configurable point of worker or any other kind workload/trait.

[2021-05-13 12:52] Alpacius commented on #1629
Well that might be critical since I gave unexpected replica number myself?
I'll check it out.

[2021-05-13 13:05] Alpacius commented on #1629
It's just a little twisted when we try to create applications. See the example below:
[code]
and it AppRollout:
[code]
With 3 replicas initially, we could launch a successful rollout by plan [0, 0, 0].
That means we have no control over batches on the first rollout but have to see the total replicas rush out. Sometimes such mess is acceptable. However is it what we want?

[2021-05-13 13:28] captainroy-hy commented on #1629
The deployment defined in kube-schematic template should not have `.spec.replicas: x`,  otherwise kubevela will fix its replicas to x forever. So rollout makes no sense for such a workload...
Indeed, rollout is exclusive to scaler trait and any others that can set `.spec.replicas: x`

That's true we need to refine and add more doc.

[2021-05-13 13:44] #1595 closed

[2021-05-13 13:45] Alpacius commented on #1629
Sorry made a mistake in the `"app.oam.dev/rolling-components"` annotation just now and I have to rerun my example.
To be brief, rollout still works for the first and the second time:
* For the first time, I have to specify plan [0, 0, 0]. Otherwise the rollout plan will fail.
* For the second time, plan [1, 1, 1] works, which is against the `.spec.replicas` rule because of `.spec.replicas` is now

[2021-05-13 13:46] #1599 closed

[2021-05-13 16:43] wangyuan249 commented on #1644
@ryanzhang-oss thanks for your advice!  It can rollout success with changing : apply app-scale.yaml.  But the only difference between  the  app-scale.yaml  and app-source.yaml  is an replicas value statement.  May be I should  read carefully about the strategy of rolling-out in kubevela code.  It seems that the rollout plan is not absolutely correct or not, we should consider it with the combinati

[2021-05-13 17:45] ryanzhang-oss commented on #1644
The scale operation needs to manipulate the replicas fields. Therefore, the component itself cannot set the replica value. That's the fundamental point.

[2021-05-13 17:48] ryanzhang-oss commented on #1629
yep, that's the fundamental problem with the cloneset. Deployment behavior is more reasonable (or expected) from an end user's point of view.

[2021-05-13 20:49] ryanzhang-oss commented on #1629
the resource initialization is a particularly thorny issue that the community standard rollout solution don't even handle. I.e Argo rollout simply works after the resource is created  (https://github.com/argoproj/argo-rollouts/blob/master/docs/getting-started.md). It doesn't even try to handle the initial rollout.

[2021-05-14 08:18] llhuii opened #1659 "[website] all relative urls link error when current page url ends with slash"
**Describe the bug**

All relative urls link error when current page url ends with slash.

**To Reproduce**

For example:
1. Go to the [install page](https://kubevela.io/docs/install).
2. Click the [upgrade guide] link.
3. It shows "Page Not Found" error.

**Expected behavior**

Step 3 should show the truly [upgrade-guide page](https://kubevela.io/docs/advanced-install#upgrade)

**Screenshots**

!

[2021-05-14 08:56] wangyikewxgm commented on #1629
The conclusion is the issue isn't bug in fact. Key points  for users are:
1.While a user is authoring the rollout plan for his application, he must be aware of the original number (or the initial number, starting number, whatever it's named) of replicas of his application, then takes the expected final number of replicas into account, and finally design the `spe.RolloutBatches` field.
2.It's reaso

[2021-05-14 09:40] Alpacius commented on #1629
"Original number" is somehow complicated here on the first glance. To keep it consistent, it might be defined as desired replicas upgraded to the target revision.

As for Point 2, it describes how kubevela manages the first rollout, with details such as "trivial instantiation first then scaling up". While contributing much to people who want to understand kubevela better, it exposes the internals.

[2021-05-14 09:42] wonderflow commented on #1659
@llhuii Hi, thanks for reporting, would you like to fix it? I think we need to trime the slash.

[2021-05-14 09:50] wonderflow opened #1662 "Wanted: Who is using KubeVela | 如果贵司正在使用 KubeVela"
# Who is using KubeVela

First of all, thanks sincerely for constantly using and supporting KubeVela. We will try our best to keep KubeVela better, and keep community and eco-system growing.

## The purpose of this issue

- We’d like to listen to the community to make KubeVela better.
- We want to attract more people to contribute to KubeVela.
- We're willing to learn more KubeVela use scenarios f

[2021-05-14 10:04] allenhaozi commented on #1662
Orgnization/Company: 4Paradigm
Location: Beijing, China
Contact: mahao@4paradigm.com
Purpose/Scenario: A machine learning platform for AIOS is built by using Kubevela and OAM standards
Features wanted:  Service Binding and HealthScope that overrides the business logic

[2021-05-14 10:07] Ghostbaby commented on #1662
Orgnization/Company: Shein
Location: NanJin, China
Contact: zhuhuijun@shein.com
Purpose/Scenario: Using KubeVela can help us reduce custom resource workload docking time.
Features wanted: Support multiple clusters (environment) and Workflow.

[2021-05-14 10:14] zzxwill opened #1663 "There is no chance to add a success healthcheck event"
**Describe the bug**

If healthcheck failed, an failed event warning will be logged. But there is no chance to write a success one currently.

**To Reproduce**

1. Create an Kubernetes cluster in Alibaba Cloud ACK.
2. Apply the following application.

[code]

We can see the failed event.

[code]

**Expected behavior**

When the service `helloworld` is created, a success event should be appended.

[2021-05-14 12:38] LeoLiuYan commented on #1662
Orgnization/Company: YOUZAN
Location: Hangzhou, China
Contact:  liuyan@youzan.com
Purpose/Scenario:  Build Cloud Native application management platform.
Features wanted:   1.  AppRollout working in runtime clusters.   2.  KubeVela running in Control Plane mode.

[2021-05-14 17:08] llhuii opened #1665 "[Makefile] the issues of `make docs-build`"
Tracking some issues I found when `make docs-build`
## issue 1:
Error msg:
[code]
Reason: In my linux machine(ubuntu 18.04), /bin/sh is the symbolic of `/bin/dash` having no `source` builtin command

How to fix: replace sh of `sh hack/website/test-build.sh`  to bash.

## issue 2:
When kustomize/node/yarn command are missed, add some hints or install-links-or-commands wouble be more friendly ​for n

[2021-05-14 17:18] llhuii commented on #1659
@wonderflow Hi, any hint to where to trim the slash? It seems not trivial to me.

[2021-05-15 03:34] #1614 closed

[2021-05-15 03:43] #1473 closed

[2021-05-15 03:53] wonderflow commented on #1659
ping @yangsoon @sunny0826  please help

[2021-05-15 03:55] wonderflow commented on #1665
Thanks for reporting. All good catches!

[2021-05-15 15:43] llhuii commented on #1665
In the bash function checkDocusaurus, ` [ --d $1 ]` should be ` [ -d $1 ]`
https://github.com/oam-dev/kubevela/blob/a11ae2f95d3f1023e65a6355905da2f6852f7da1/hack/website/helpers.sh#L21

[2021-05-16 16:05] LeoLiuYan commented on #1629
[code]
It’s also confusing to me of the behavior set to 1 other than 0 of this code.   From the discussion above, there is no compelling reason to set it to 1.

[2021-05-17 02:37] Alpacius commented on #1629
By default, `Deployment.spec.replicas` = 1.

[2021-05-17 03:52] lxd5866 commented on #1662
Orgnization/Company: [deepexi](https://www.deepexi.com/)
Location: Guangzhou, China
Contact: lixudong@deepexi.com
Purpose/Scenario: Build Cloud Native application management platform.
Features wanted: 1. AppRollout working in runtime clusters. 2. Support multiple cluster(environment) and Workflow （important！）. 3. kubevela-core-api for java  to docking old java business

[2021-05-17 09:23] xishengcai commented on #1662
Orgnization/Company: Launcher
Location: Hangzhou, China
Contact: caixisheng@xlauncher.io
Purpose/Scenario:  Build Cloud Native application management platform by using OAM standards
Features wanted: Support multiple cluster(environment) and Workflow.

[2021-05-17 11:09] #1665 closed

[2021-05-17 12:22] #1663 closed

[2021-05-17 14:23] wangyikewxgm opened #1674 "How to scale an application applied with AppRollout?"
### Discussed in https://github.com/oam-dev/kubevela/discussions/1670

<div type='discussions-op-text'>

<sup>Originally posted by **Alpacius** May 17, 2021</sup>
Initially, I've got a kubevela Application:
[code]
and its corresponding AppRollout:
[code]
The rollout went well.
[code]

Now I want to scale the replicas to 5. Since AppRollout conflicts with scaler traits and `Deployment.spec.replicas

[2021-05-17 14:35] wangyikewxgm commented on #1674
Have reproduced this issue, As far as I can see this  is a bug of AppRollout  scale operation.Because of the handleRollingTerminated didn't check the `targetSize`.Pass `targetSize` in the func and check it weather equal to `status.rolloutTargetSize` would fix this bug.Please help check. Ping @ryanzhang-oss  @captainroy-hy

[2021-05-17 14:47] #1563 closed

[2021-05-17 14:55] wangyikewxgm commented on #1674
I addressed this issue.This isn't a bug, user should create a new AppRollout rather than update a existed AppRollout.I think we should tell user this in docs.

[2021-05-17 14:58] wonderflow commented on #1674
yes , please add this to docs ASAP.

[2021-05-18 08:52] shikanon commented on #1662
Orgnization/Company: [52tt.com](https://52tt.com/)
Location: GuangZhou, China
Contact: shienming@52tt.com
Purpose/Scenario: Build MLOps public platform by using OAM standards
Features wanted: Support Pipeline and Workflow.

[2021-05-18 09:29] lxd5866 opened #1681 "[Feature] add AppDeployment conditioned status"
when i use AppDeployment and my AppDeployment file contains  an undeclared application version, kubevela-vela-core will logs error like :
[code]

### would like
reference type AppStatus add status description field  like runtimev1alpha1.ConditionedStatus，and add  the results of reconcile .

### alternatives

when apply AppDeployment，validate appRevisions .

### config yaml
[code]

[2021-05-18 10:07] lxd5866 opened #1682 "[Feature] add version describe in ComponentDefinition and TraitDefinition"
### when i apply ComponentDefinition or TraitDefinition to k8s,  kubevela will generate definitionrevisions and set definitionrevisions data in status field。then end-user can list versions of  definition and use  it in application file like :
[code]
but version generation depends on the time you apply definition to k8s ,  so when i apply two  version in different order for two cluster （a.yaml, b.y

[2021-05-18 10:35] wonderflow commented on #1682
[code]

Let's add a special annotation `definition.oam.dev/version` for this feature, if this annotation is marked, then we don't generate the revision instead by create/update the revision with the specified name.

[2021-05-18 10:43] wonderflow commented on #1682
@lxd5866  would you like to send a PR for this?

[2021-05-18 10:51] lxd5866 commented on #1682
ok～

[2021-05-18 10:59] wonderflow commented on #1681
yes， we should add webhook validation for this case

[2021-05-18 13:10] #1615 closed

[2021-05-19 01:20] yangsoon opened #1683 "[Feature] vela show should support to list the paramters for KUBE model ComponentDefinition"
**Is your feature request related to a problem? Please describe.**
Now, the vela show not support show the paramters of KUBE model ComponentDefinition

[code]

**Describe the solution you'd like**
like deal with helm model ComponentDefinition, read the configMap which store the paramters info of Kube model ComponentDefinition.

[2021-05-19 02:51] yangsoon opened #1684 "vela cannot store parameter to configMap for traitDefinition annotations"
**Describe the bug**

refer to https://github.com/oam-dev/kubevela/pull/1560

1. when apply a traitdefinition like `annotations`, which parameter is a non-structure type

[code]

2. vela controller will fail to store configMap.

[code]

[2021-05-19 03:10] yangsoon opened #1685 "[Feature] support patch data-pass object in CUE"
**Is your feature request related to a problem? Please describe.**

Sometimes we want to patch some objects by way of data-pass.

## User case

[code]

[code]

We hope `patch-demo` can patch annotations to the service object in ComponentDefinition `microservice` by `context.outputs.service`

[2021-05-19 06:36] cnbailian opened #1688 "validating expand resources in webhook by dry-run in kube apiserver"
**Describe the bug**
The error message is unsharp when TraitDefinition template is wrong

**Expected behavior**
Displayed in application events

**Additional context**
TraitDefinition.yaml
[code]
`ports` => `port`

Application.yaml
[code]

[2021-05-19 12:08] #1684 closed

[2021-05-20 06:48] ghost opened #1694 "Install of kubevela in OpenShift fails"
**Describe the bug**

The installation of kubevela into an OpenShift cluster fails, even though a successful Crossplane self-hosted install with OAM is in place in the same cluster.

**To Reproduce**

Install Crossplane into an OpenShift cluster as per Crossplane docs and using this install command to ensure security context with OAM enabled

`helm install crossplane --namespace crossplane-system

[2021-05-20 08:42] wonderflow commented on #1694
@cg2p  Don't enable oam when install crossplane, it already contained in KubeVela

[2021-05-20 11:03] #1235 closed

[2021-05-20 11:06] #1635 closed

[2021-05-20 11:15] wonderflow commented on #240
will be supported by the design #1642

[2021-05-20 11:15] #240 closed

[2021-05-20 11:16] wonderflow commented on #111
It's done

[2021-05-20 11:16] #111 closed

[2021-05-20 11:16] wonderflow commented on #37
It's done by AppRollut

[2021-05-20 11:16] #37 closed

[2021-05-20 11:18] wonderflow commented on #417
https://github.com/oam-dev/kubevela/pull/1667

[2021-05-20 11:18] #417 closed

[2021-05-20 11:18] wonderflow commented on #883
Will not sync, and now oam-k8s-runtime was contained in KubeVela.

[2021-05-20 11:18] #883 closed

[2021-05-20 11:23] #730 closed

[2021-05-20 11:28] yangsoon commented on #1288
sorry, this PR was fixed in https://github.com/oam-dev/kubevela/pull/1689

[2021-05-20 11:28] #1288 closed

[2021-05-20 11:46] wonderflow commented on #1638
We suggest use `ComponentDefinition` to be `Component` in this case, closing

[2021-05-20 11:46] #1638 closed

[2021-05-20 11:47] wonderflow commented on #1549
will resolve by workflow design: #1613

[2021-05-20 11:47] #1549 closed

[2021-05-20 11:54] #1059 closed

[2021-05-20 11:56] #234 closed

[2021-05-20 11:59] wonderflow commented on #1620
What's the real use case?

[2021-05-20 12:01] #1504 closed

[2021-05-20 12:02] wonderflow commented on #1418
It should be fixed in https://github.com/oam-dev/kubevela/releases/tag/v1.0.4

[2021-05-20 13:06] hongchaodeng opened #1697 "Use CUE to describe a Definition"
## Background

Currently, the Definition object is a pure YAML file but blended with CUE raw string:

https://github.com/oam-dev/kubevela/blob/b124873fd73b8c1ca02a351fc8d4dbb2ee00fca1/charts/vela-core/templates/defwithtemplate/webservice.yaml#L2-L19

This is not very user-friendly. We shouldn't let user write such YAML.

## Proposal

We should use CUE to describe a Definition, and then provide CLI

[2021-05-21 02:07] cnbailian opened #1699 "How to use the for expression in healthPolicy.isHealth"
ComponentDefination.yaml
[code]

The TaskRun printer columns：
[code]

[2021-05-21 02:08] zzxwill commented on #1697
- Seems the way how our built-in templates are assembled is more friendly

[code]

Everyone is familiar with the yaml section.

- Should definitions like helm or Terraform use CUE?

This is a ComponentDefinition of Terraform OSS, currently it has nothing to do with CUE.

[code]

[2021-05-21 02:48] sunny0826 commented on #1620
This feature allows you to quickly find the pods managed by a component（or workload）, which is very helpful for operations staff.

[2021-05-23 06:21] wonderflow commented on #1699
@leejanee  please help

[2021-05-23 13:17] leejanee commented on #1699
status:
    healthPolicy: |
      isHealth: *false | bool
      for k, v context.output.status.conditions {
          {
                 if  (v.type == "Succeeded") && (v.status == "true"){
                         isHealth: true
                }
          }
      }

[2021-05-24 00:27] cnbailian commented on #1699
@leejanee Thanks, I get. There’s something wrong with my example, this is correct:
[code]

[2021-05-24 00:27] #1699 closed

[2021-05-24 03:31] cg2p commented on #1694
@wonderflow I still get the same error when trying to install KubeVela into an OpenShift cluster.

I rebuilt my cluster and installed Crossplane without enabling OAM and checked crossplane working ok.

Then I tried Kubevela option 1 and 2 above:
[code]
and
[code]

in the events log for vela-system you see
[code]

[2021-05-24 03:48] wonderflow commented on #1694
Thanks for reporting, it seems because kubevela doesn't provide the right security context parameter. Does it the constraint of OpenShift Cluster?

[2021-05-24 03:56] cg2p commented on #1694
ok first point I've just realised, I copied and pasted the set security contexts for Crossplane on OpenShift install
[code]

what these do for the install of Crossplane in OpenShift is pass through the security privileges of the logged in cluster user (in this case admin rights)

so I think we need to set the security contexts of the [KubeVela helm chart](https://github.com/oam-dev/kubevela/blob/m

[2021-05-24 04:04] cg2p commented on #1694
see this thread around Crossplane and OpenShift https://github.com/crossplane/crossplane/issues/2080#issuecomment-761517463

[2021-05-24 06:01] wonderflow commented on #1694
@cg2p Yes, indeed, it does the root case, we will fix it ASAP, thanks again!

[2021-05-24 06:36] chenbilong commented on #1662
Orgnization/Company: [HarmonyCloud(谐云)](http://www.harmonycloud.cn/)
Location: Hangzhou, China
Contact: garyxu@harmonycloud.cn, weishunchen@harmonycloud.cn, bilongchen@harmonycloud.cn
Purpose/Scenario: Build Paas application model management platform by using OAM standards.
Features wanted:
- (1) More standardized application configuration upgrade definition.
- (2) Uniform standard one-time operat

[2021-05-24 07:57] wonderflow opened #1702 "Sync Definition files to Cloud Storage and make it as default Registry"
1. sync definitions files in this repo to Alibaba Cloud OSS just like our charts. @zzxwill
2. Configure `registry.kubevela.net` as the OSS custom domain.
3. Make `registry.kubevela.net` as the default regisrty

Bucket name: kubevela-registry
kubevela-registry.oss-cn-beijing.aliyuncs.com

[2021-05-24 08:17] lxd5866 opened #1703 "[BUG] cannot parser same resource"
### when i use ComponentDefinition ,i find i cannot export 2 same gvk resource beacuse it will be parsered same name:

### Demo
[code]
### Appfile
[code]

### result
[code]
### want
i want have two serviceAccount: sa-redis-redis-dev and sa-redis22-redis-dev

[2021-05-24 08:25] wonderflow opened #1705 "[Umbrella Issue] Refactor Application to deploy resources directly without AppContext layer"
Currently the Application object(OAM v0.3) still relies on AppContext which is actually AppConfig(OAM v0.2).
As we want to make KubeVela as control plane, we should refactor the Application controller and remove the dependency of AppContext.

## Here's the working items that we have to finish:

- [ ] 1. AppRollout should not rely on AppContext and should be able to work in runtime cluster. #1605
-

[2021-05-24 08:44] zzxwill commented on #1694
@cg2p I wonder whether it's possible you can provide me a Openshift 4.5 environment for bug reproducing and verification. I also failed to install it in the process of `terms and conditions` by AWS/GCP account. Or is there an alternative way to install OpenShift 4.5? Will an IBM cloud subscription help with the installation? Thanks.

[2021-05-24 09:23] #1644 closed

[2021-05-24 09:26] cg2p commented on #1694
I am sorry I cannot provide you to my IBM cloud account for this purpose (I work at IBM). The simplest way is to install Code Ready Containers on your laptop - which is a fully working OpenShift install.

https://developers.redhat.com/products/codeready-containers/overview

Or an alternative, if you want me to pull the code changes and I can test it. You would just have to walk me through the enha

[2021-05-24 09:27] cg2p commented on #1694
You need to register for a free Red Hat account to do the install.

[2021-05-24 11:47] wangyikewxgm opened #1706 "[Feature] AppRollout get rid of appContext"
**Is your feature request related to a problem? Please describe.**
Now, the appRollout rely on appContext to prepare workload.
By deprecating appContext appRollout should get rid of appContext too.

**Describe the solution you'd like**
1.application controller take the responsibility to prepare workload for appRollout
2.modify appRollout logic to update application's annotation to trigger prepare

[2021-05-25 04:28] #1685 closed

[2021-05-25 05:24] wonderflow opened #1709 "Support a general CUE controller which can glue more than K8s CRDs"
Support a general CUE controller which can glue more than K8s CRDs:

1. It should support more protocol such as docker image call, standard restful API call, go function call, etc.
2. We can glue more cloud native capabilities with only writing CUE configs and rely on the CUE controller.
3. The capabilities should specify input/output so users can still use it easily by using Application.
4. It co

[2021-05-25 06:20] captainroy-hy commented on #1705
Here is a basic proposal for the logic workflow of app controller after refactor. The core opinion is aggregating closely-relevant logic into independent and reusable modules.
Accordingly, the logic of app controller is generally divided into several phases as shown below.

#### 1. render phase
- generate appfile from application
- generate ac & comps from appfile (let's call these resources as ra

[2021-05-25 06:38] wonderflow commented on #1705
@captainroy-hy LGTM

[2021-05-25 07:04] wangyikewxgm commented on #1706
I found out updating application annotation to trigger might not work, because our rollout embed application controller  logic will call appRollout reconcile func.

[2021-05-25 07:58] wangyikewxgm commented on #1705
@captainroy-hy Agree with you, our current AppDeploy controller logic implement duplicating apply logic.After refactor in the feature App AppRollout and AppDeployment could use same serial functions.

[2021-05-25 13:32] hongchaodeng commented on #1705
@captainroy-hy
In PR https://github.com/oam-dev/kubevela/pull/1708, I also add a `resources` in AppRev which includes rendered resources including Comps, Traits, Policies.

[2021-05-26 03:33] zzxwill commented on #1694
@cg2p I till hit many issues for installing OpenShift either on my local macOS or on managed cloud providers. So could you please help verify the code changes? Thanks.

- Clone the repo from PR #1713
- Install the chart by `helm install --create-namespace -n vela-system kubevela charts/vela-core`

Much appreciated:)

[2021-05-26 03:35] captainroy-hy commented on #1705
Got it. @hongchaodeng Thx for reminding! I will check that.

[2021-05-26 04:39] cg2p commented on #1694
Still in error.

I followed these steps, cleaning up my vela-system namespace and tried helm install a number of ways.

**clone PR 1713**
[code]
clean up
[code]

clean up and then try each of these install
[code]

Check event log
[code]

[2021-05-26 11:21] wonderflow commented on #1703
@ryanzhang-oss  @wangyikewxgm   Maybe be we should relax the restrictions on the name? Or just check if it's controlled by RolloutPlan?

[2021-05-26 11:22] wonderflow commented on #1703
It seems you have already achieved your goal, the result is two SA that you want but not the same name.

[2021-05-26 11:41] wangyikewxgm commented on #1703
I think KubeVela treat your first SA as a component and override it's name as component name. @lxd5866

[2021-05-26 13:16] #1683 closed

[2021-05-26 14:39] charles-woshicai commented on #1681
Any update about this issue?

[2021-05-27 07:16] captainroy-hy opened #1719 "[Feature] replace ResourceTracker with GC/Finalizer mechanism of Application"
**Is your feature request related to a problem? Please describe.**

Currently, we use `ResourceTracker` to track cluster-scoped and cx-namespace resources because these resources cannot be cascadingly deleted with the deletion of their owner application.
Along with the refactor work #1705 , application should have GC/Finalizer mechanism instead of purely cascading deletion.
GC/Finalizer will treat

[2021-05-27 10:11] wangyikewxgm commented on #1719
You mean delete all related cluster/cx-namespace resources in finalizer phase?

[2021-05-27 10:16] wangyikewxgm commented on #1719
I think this make sense.

[2021-05-28 02:52] wonderflow opened #1721 "kubectl plugin install page doesn't have any sidebar link"
https://kubevela.io/docs/kubectl-plugin/

We should merge it into docs https://kubevela.io/docs/advanced-install

And add some links in docs which refer to this tool

[2021-05-28 03:03] zou2699 opened #1722 "request for right status for different trait instance with same type"
**Is your feature request related to a problem? Please describe.**

Suppose we have a trait called config, this trait corresponds to a crd,

then a component needs to define multiple config trait (corresponding to multiple crd),

The status of the Application does not show the status of the corresponding crd.

As shown below：

[code]

[code]

**Describe the solution you'd like**
can we obtain the

[2021-05-28 03:05] wonderflow commented on #970
Another case on this issue is our status check.

Our trait has status check：

[code]

But after deployed, the ingress didn't respond the loadBalancer IP so it reports:

[code]

After a while, the ingress repond the right loadBalancer IP, but because kubevela didn't reconclie frequently, so it didn't show the right status in time.

We can also define a standalone health check, then it relates with

[2021-05-28 03:13] wonderflow commented on #1719
I hope we still keep the `ResourceTracker ` object and write a controller to handle all the GC job, it will be more clean and the main Application controller will be more robust

[2021-05-28 03:57] lxd5866 commented on #1703
yes ,  when i use component render complex content, the name of first k8s object in output:{ } will be changed to component name。

When I want to use all the prefixes for a name，such component is com_A, i want to make my sa name was mypre_com_A,
i will use cue `"mypre_" + parameter.name` .

if i have two sa and my component is "redis-dev" ,
    first : `"sa-redis-" + parameter.name`
    second: `"

[2021-05-28 04:12] wangyikewxgm commented on #1703
IMO It's not a bug, KubeVela treat `output:{ } ` in componentDefinition as workload, and will override with component's name.I think it's reasonable.You can change componentDefinition  to traitDefinition and put all SA in `outputs:{ } ` to meet you expectation.To be honest a SA isn't a workload truly.

[2021-05-28 06:46] lxd5866 commented on #1703
i agree your opinion， but in my opinion Application component name may  composition with appliication

example ：
[code]

error logs
[code]

error mean the first application component `myweb` will effect the second application .  i think name with 'application_name'-'component_name' maybe batter, the deployer don't konw has same name component in the cluster

[2021-05-28 06:57] lxd5866 commented on #1703
![image](https://user-images.githubusercontent.com/10388914/119942813-d3a17080-bfc4-11eb-8db4-f7c5fc10a7eb.png)

and when you use vela ls ,you can see two applications is running, but only one deploy was up for

[2021-05-28 07:51] #1702 closed

[2021-05-28 08:47] captainroy-hy commented on #1499
[code]

[2021-05-28 09:02] captainroy-hy opened #1725 "[BUG] should not add AppRevision to workload's label during renderring"
Currently, in the render by appfile, it [adds AppRevision as a label to workloads](https://github.com/oam-dev/kubevela/blob/181bcda66a859cc74ce8561b8e9176d814d16021/pkg/appfile/appfile.go#L315-L319).
Afterward, while `createOrUpdateComponent` in app controller, it will [use component's spec (including raw data of workload) to compute a new revision](https://github.com/oam-dev/kubevela/blob/181bcda

[2021-05-28 11:08] wonderflow commented on #1703
let's keep open until we finsh the validater

[2021-05-28 11:21] yangsoon commented on #1722
Could you provide the yaml code for the `config` trait.

[2021-05-28 13:26] kminder opened #1726 "Ingress trait definition uses old Ingress CRD version"
Was working through the KubeVela 1.0 install and quick start docs. Tried both KinD and minikube versions. The health check is reporting an error.

[code]
The ingress appears to be present.
[code]
The app is working.
[code]
Looks like a version mismatch (i.e. v1 vs v1beta1)? Does the ingress trait definition need to be updated or a different ingress-nginx version installed?
[code]

[2021-05-28 16:06] wonderflow opened #1727 "refactor the CUE related code package"
Our main CUE libs relies in:

[code]

We should make it integrate with unity
(https://github.com/cue-sh/unity) for long time compatible assurance.

So we should finish the following things:

1. make the test clean, do not rely on external dependencies.
2. make sure all CUE related logic and usage are in these libs, and add more tests to cover our cases. Maybe we should rename the package to `githu

[2021-05-28 16:30] kminder opened #1728 "Rollout not working for webservice components"
With KubeVela 1.0 I can't make this app roll the pods from image stefanprodan/podinfo:5.2.0 to stefanprodan/podinfo:5.2.1 with these two versions of the application YAML.  This may be related to https://github.com/oam-dev/kubevela/issues/1726
First version
[code]
Second version
[code]
The kubevela-vela-core pod logs don't contain a specific error.
[code]

[2021-05-29 01:38] captainroy-hy opened #1730 "embedded metadata schema in CRD is not generated"
`appRevision.Spec.Application` [use Application as field type.](https://github.com/oam-dev/kubevela/blob/181bcda66a859cc74ce8561b8e9176d814d16021/apis/core.oam.dev/v1beta1/applicationrevision_types.go#L31), because of the upstream issue [kubernetes-sigs/controller-tools#448](https://github.com/kubernetes-sigs/controller-tools/issues/448), embedded metadata schema [cannot be generated](https://gith

[2021-05-29 05:16] captainroy-hy commented on #1728
As shown in AppContext status, while emitting resources of v2, existing trait resources (ingress & service) of v1 have the same name as v2's resources. (Because Ingress trait uses component name as ingress&service name according to its cue template.)
AppContxt will try to apply config to these resources. There's an ApplyOption that requires the target resource must be controlled by current AppCont

[2021-05-29 05:22] captainroy-hy commented on #1728
A refactor work is still in progress. #1705 . I think this problem can be fixed in it.

[2021-05-29 08:40] #1721 closed

[2021-05-30 13:47] captainroy-hy commented on #1728
rollout controller should change owner-ref of traits before applying.

[2021-05-30 14:19] captainroy-hy commented on #1730
After discussion with @wonderflow. Upgrading dependency is too heavy now. As a workaround, currently we can get app's lables/annots from `appRevision.Spec.ApplicationConfiguration`.

[2021-05-30 14:34] wonderflow commented on #1730
We should still keep the issue open, until we finally upgrade the dependency.

[2021-05-31 02:28] captainroy-hy commented on #1705
After removing AppCtx, we need someone to do GC jobs. An idea is to encapsulate GC logic into `dispatch phase`, the same place where we emit resources into clusters. And we can employ `ResourceTracker` into `dispatch phase`. `ResourceTracker` will record the resources applied into the clusters.

#### Here's a basic workflow of `dispatch phase`.

- input an array of resources, an `AppRevision`, and

[2021-05-31 06:11] wangyikewxgm commented on #1728
Can you provide your k8s cluster version? @kminder

[2021-05-31 10:44] #1722 closed

[2021-05-31 13:20] hprotzek commented on #1662
Organization/Company: Springer Nature
Location: Berlin/London/Dordrecht/Lisbon/Wiesbaden/Wien
Contact: engineering-enablement@springernature.com
Purpose/Scenario: Building new PaaS on the side of our main infrastructure with CloudFoundry. Maybe future replacement for CF.
Features wanted:
- better debug workflow when developing components and traits, sometimes it's a pain to find errors related to

[2021-05-31 17:05] emanuelr93 opened #1736 "Cannot store capability alibaba-rds in ConfigMap: failed to generate OpenAPI v3 JSON schema for capability alibaba-rds: capability alibaba-rds doesn't contain section `parameter`"
**Describe the bug**

I tried to follow the steps to create a Terraform component at this link (https://kubevela.io/docs/platform-engineers/terraform)
but I have the error during reconciliation

**To Reproduce**
Follow this guide (https://kubevela.io/docs/platform-engineers/terraform) and try to describe the alibaba-rds component

[code]

This is the log of controller:
[code]

**Expected behavior*

[2021-06-01 01:55] p-null opened #1737 "Unify the recommended way to install KubeVela CLI"
**Is your feature request related to a problem? Please describe.**

In the vela installation section, it would be more intuitive if the doc shows installing vela as a kubectl plugin as a recommended way.
Since in most part of the doc, the command used is `kubectl vela` instead of `vela`.

If you install the cli, you may be confused to find the corresponding command from `kubectl vela`.
e.g. those

[2021-06-01 01:59] wonderflow commented on #1737
Sorry for the confusion, I think we should align the commands and experience.

`vela` is for App-Centric developer which uses `Appfile`, while `kubectl vela` is a plugin for k8s centric users.

[2021-06-01 02:32] zzxwill commented on #1736
@emanuelr93 Thanks for reporting the issue. I am looking into it.
Did you hit any issues when deploying an application based on the ComponentDefinition.

[2021-06-01 05:58] wonderflow commented on #1060
It seems we can't define the readiness and liveness very well now, and the current configure works well, let's hold this issue.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

[2021-06-01 09:50] emanuelr93 commented on #1736
I am not able to deploy an application based on this ComponentDefinition. So, it is blocking issue.

[2021-06-01 10:36] wonderflow commented on #1736
@zzxwill this should be a bugfix, please cherry-pick into release-1.0 after PR merged, thanks

[2021-06-01 16:15] kminder commented on #1728
Hopefully this provides the details.
[code]

[2021-06-01 17:57] resouer commented on #1737
@wonderflow this dosen't make sense to me, please clearly define *what is the user interface of KubeVela* and fix this issue ASAP.

The users (application team) are expected to use `vela CLI` (including Appfile) and GUI console to interact with KubeVela, and Kubernetes API resources are designed for systems to consume only.

We need to consider making `Appfile` a CUE object, this will be natural.

[2021-06-02 02:12] wangyikewxgm commented on #1728
Sorry for this bug.We will fix it ASAP @kminder

[2021-06-02 02:47] cnbailian opened #1744 "Makefile fmt command error: template files in the .idea directory are detected"
**Describe the bug**
The Makefile fmt command will detect the template files in the .idea directory.

**To Reproduce**
[code]

**Expected behavior**
Ignore the .idea directory.

**go information**
[code]

[2021-06-02 07:47] cnbailian opened #1746 "[Question] How to use Tekton in KubeVela | 请问我该如何在 KubeVela 中使用 Tekton"
**问题描述**
我想在 KubeVela 中使用 Tekton 来完成 CI，最初的想法是 Tekton 的各个 CRD 会作为 Component 在 Application 中被组合，最后通过 Trait 部署另一个 Appplication 来达成 CD 的需求。但这个想法有很多不完善的地方，比如一个应用会有两个 Application，一个是 CI，一个是真正的应用。而且描述文件会显得有些混乱。

在钉钉群里请教之后，得知新特性 Workflow 可能会匹配这个场景，所以我在发现有相关 PR 后尝试了一下，发现也不能解决我的需求。主要的困难是不能在 Workflow 中输出没有状态的资源。Tekton 的很多组件都是没有状态的，只是等待 TaskRun 等资源应用时读取，所以我没有办法在 Application.Workflow 中使用 Tekton。
在 PR 中提出了我的困惑

[2021-06-02 09:19] rapkey opened #1747 "message: 'cannot create or update DefinitionRevision stateless-v1: no matches for kind "DefinitionRevision" in version "core.oam.dev/v1beta1"'"
Error occur when create `ComponentDefinition`

message: 'cannot create or update DefinitionRevision stateless-v1: no matches for kind "DefinitionRevision" in version "core.oam.dev/v1beta1"'

vela version
[code]
core version
[code]

[code]

[2021-06-02 09:40] #1747 closed

[2021-06-02 10:31] #1744 closed

[2021-06-02 13:12] hongchaodeng commented on #1746
@cnbailian 你好。感谢你的提问，这次的描述非常具体，让我也有更仔细的思考。

个人认为，如果是 CICD 的场景，是需要用 Workflow 来描述的。首先我先指出一点，那就是 Tekton TaskRun 等组件并不是你所说的无状态的。它也有 [conditions 和 steps 等状态](https://tekton.dev/docs/pipelines/taskruns/) 来汇报运行进展。这里面问题在于 Tekton native resource 像 TaskRun 等没法适配 Workflow 里对 status.conditions 的要求。为此，我们需要额外再加一个 adaptor CRD，来将 TaskRun 等信息包住，并把状态 translate 成 Workflow 能够理解的信息。

[2021-06-02 23:56] cnbailian commented on #1746
@hongchaodeng 感谢回复，同时也感谢您指出我的错误。我上面的表述不清晰，我想说的不是 Tekton 的 TaksRun 组件无状态，而是说 TaskRun 所引用的 Task 和 PipelineResource 等资源是无状态的，它们只有 Spec，没有 Status 结构。在这种情况下我没有办法让这些资源在 Workflow 中创建。如果是在 trait 或 component 中，也没有办法让在 Workflow 中创建的 TaskRun 资源引用到，因为它们此时还没有创建。
这是我目前所遇到的困境。

[2021-06-03 03:23] #1736 closed

[2021-06-03 04:03] hongchaodeng commented on #1746
@cnbailian

如果是这样的话，你只需要把他们 model 成一个 component 或者 policy。然后 workflow 里面跑两步：1. 第一步是把这些 CI steps 跑起来；2. 第二步才是部署真正的 Application 里的资源。这里可能需要定制一下 applier 操作，这个我们可以设计下相应的 applier filter 。

[2021-06-03 05:00] cnbailian commented on #1746
@hongchaodeng 也就是说我现在的使用方式是有问题的，我要在 workflow 第一步输出一个 application（包含 CI 的全部资源） 用于执行 CI？而不是在这个 Application 资源本身的 component 中设置。然后第二步是输出真正的用于部署的 appdeployment。
这样做合适吗？输出 application 作为 CI 的执行抽象。

[2021-06-03 07:44] wonderflow opened #1754 "we should add some `keyword` such as `//+ignore` to let the user can't see the parameter and only be used by system."
we should add some `keyword` such as `//+ignore` to let the user can't see the parameter and only be used by system.

_Originally posted by @wonderflow in https://github.com/oam-dev/kubevela/pull/1748#r644563466_

[2021-06-03 08:14] chivalryq commented on #1754
The parameters are truely increasing, though I think all paramaters should be offered to end-user(otherwise it shouldn't become a param). Internal component definitions should be use, but not for all.
Someone need more params. Also they don't want create their own component def. I think that's the problem.

[2021-06-03 09:01] #1746 closed

[2021-06-03 14:46] yangsoon opened #1757 "[Feature] Use vela-cli to simplify the process of deploy OCM"
**Is your feature request related to a problem? Please describe.**

Use kubectl vela to simplify the process of deploy OCM.

1. Use  kubectl vela to specify the master cluster

[code]

2.  Register slave cluster

[code]

**Describe the solution you'd like**

ocm already has an installation tool https://github.com/open-cluster-management-io/clusteradm, We can import and use the functions in this re

[2021-06-04 03:47] wonderflow commented on #1291
We need to revisit this:

Now the built-in webservice and worker has volumes, but the type is implementation detail which include "pvc","configMap","secret","emptyDir", these details should be trait.

[code]

As I expect, the component part should only contains:

[code]

Then we should use trait to patch the real data:

[code]

[code]

[2021-06-04 04:04] wonderflow commented on #1038
Now I think the webhook has already verified, @captainroy-hy @yangsoon  please check

[2021-06-04 04:08] wonderflow commented on #677
I suppose we could implement some policy Controller to allow users to define policies, alternative choices:

1. integrate with OPA https://www.openpolicyagent.org/
2. define our own policy by CUE

[2021-06-04 05:51] wonderflow commented on #1757
we will just write a doc to do that

[2021-06-04 05:54] Chwetion commented on #1726
could you provider your k8s version, kubevela version and provider detail use command `kubectl describe traitdefinitions.core.oam.dev -n vela-system ingress`

[2021-06-04 08:07] wonderflow commented on #1726
We should use `networking.k8s.io/v1` to replace `networking.k8s.io/v1beta1` in the ingress trait.

[2021-06-04 08:08] #1727 closed

[2021-06-04 08:21] Chwetion commented on #1726
This api resource version is used since k8s 1.19, Does this mean that the ingress trait is no longer supported for versions below 1.19, or the ingress trait is modified to provide a trait compatible with the old version? @wonderflow

[2021-06-04 08:45] wonderflow opened #1760 "[Feature] An easy way to list and install system addons"
**Is your feature request related to a problem? Please describe.**

Now KubeVela has an ecosystem that could support much more features. However we are lacking of a way to install these system controllers(let's call them `addons`), for example:

- flux https://fluxcd.io/
- ocm  https://open-cluster-management.io/
- terraform controller  https://github.com/oam-dev/terraform-controller
- keda https:

[2021-06-04 08:54] wonderflow commented on #1357
@charles-woshicai Hi, are you still working on that?

[2021-06-04 08:59] wonderflow commented on #1703
Hope someone could volunteer to add a webhook for Application that checks the component name(of resources rendered) should be unique in the K8s namespace.

[2021-06-04 09:15] wonderflow commented on #1694
HI @cg2p can you help try:

[code]

I notice you haven't set value for the runAsUser.

[2021-06-04 09:34] wonderflow commented on #1688
Yes, we should do something like `kubectl dry-run` in webhook for the rendered results.

[2021-06-04 09:40] #378 closed

[2021-06-04 09:54] #1313 closed

[2021-06-04 09:57] #499 closed

[2021-06-04 09:57] wonderflow commented on #499
prefer #1760

[2021-06-05 08:06] charles-woshicai commented on #1357
No, actually I don't start to work for this issue even for I not being assigned.

I will be willing to help after being assigned, recently I am free.

[2021-06-07 08:15] zzxwill opened #1770 "Refine KubeVela add-on support and extend Terraform typed ComponentDefinitions"
# Background
As more and more developers are contributing to [Terraform Kubernetes controller](https://github.com/oam-dev/terraform-controller), Alibaba Cloud, AWS, Azure, GCP, and VMware vSphere are supported. We plan to refine the KubeVela add-on support to help install Terraform controller chart in a simple way. At the same time, we plan to extend the number of supported Terraform ComponentDefi

[2021-06-07 10:09] yangsoon opened #1773 "TraitDefinition which contains context parameter in CUE Template fail to generate ConfigMap"
**Describe the bug**

When apply traitDefinition which use `context` in CUE Template, It will fail to generate openapi json schema to ConfigMap

[code]

[code]

**To Reproduce**

[code]

[2021-06-07 10:11] wonderflow commented on #1773
We should only parse the parameter field

[2021-06-07 12:15] wonderflow commented on #1188
We should remove the lastTransitionTime in status, and let the error return

[2021-06-08 00:28] cg2p commented on #1694
I tried this a couple of times - the number for `runAsUser` changes.

I do not believe this is the way to fix this.

The nature of OpenShift is how it secures containers. The convention of `--set securityContext.runAsUser=null` is that the OpenShift session will pass through the privileges of the admin user of the cluster. The figure that appears in this error message `Invalid value: 2000: must be

[2021-06-08 02:42] wonderflow commented on #1694
@cg2p By reading the issue you mentioned in Crossplane, I know we should create some external config?
But KubeVela don't have a controller-config like crossplane, what should we provide?

[code]

[2021-06-08 02:59] cg2p commented on #1694
I'll reach out to my Red Hat friends.

So at the moment when `runAsUser=null` is that overriding `runAsUser: 60000` in kubevela's values.yaml - but the Helm implementation doesn't  know what to do about it ... i.e. nothing being passed through from upstream (i.e, no controller config)?

[2021-06-08 06:28] wonderflow commented on #1694
I revisit the issue in crossplane, I think the following command may help with #1713 .

Because in that PR we make the securityContext configurable, so you can manually specify the runAsUser instead of setting it with null .

[code]

[2021-06-08 07:19] wonderflow commented on #1760
We should eat our own dog food, so we must deploy them in Application follow OAM spec powered by KubeVela.

[2021-06-08 07:56] cg2p commented on #1694
Have you tried this and got working on your OpenShift install yet?

When I try it with a number (inside a range suggested by the error message), then the error message comes back with a different number range. I can only assume that each helm install build in OpenShift runs under a different id.

[2021-06-09 09:36] zzxwill opened #1781 "[Feature] Workaround to enable re-run single jobs"
Many Github users are expecting Github to enable the ability to re-run single jobs in workflow https://github.com/actions/runner/issues/432, so do we as it's cost another twenty minutes to rerun a failed e2e or unit-test job. But the feature hasn't come out.

Here is a workaround from @salem7 to fix the problem by splitting workflow https://hsalem.com/posts/ability-to-rerun-single-jobs-in-github-a

[2021-06-10 02:29] #1754 closed

[2021-06-10 02:34] wonderflow commented on #1781
I doubt it's really save time. Now the time cost of unit test is ~15min while the e2e cost ~20min. In fact what fails most is the e2e test. Rerun e2e test will cause rerun all the other test jobs but they run concurrently.

[2021-06-10 03:06] ghostbody commented on #1662
Orgnization/Company: netease game
Location: Guangzhou, China
Contact: yejq1994@gmail.com
Purpose/Scenario:  Game Cluster Deployment, Istio App Deployment
Features wanted:

- native istio support
- dependencies management
- uniform operations && workflow +1
- on-premises (not k8s) infrastructure modeling support

[2021-06-10 03:11] captainroy-hy opened #1783 "[Feature] Add image build args to record semver of kubevela for latest image"
Currently, if use latest image of kubevela, we will get `github.com/kubevela/version.velaversion=latest`.
`latest` doesn't provide any helpful information except the user was using the latest version when he pulled the image.
Only when user specify a specific tag while deploying vela, we can a specific version of vela.

Consider adding a new field `VELASEMVER` to track the latest git tags while bu

[2021-06-10 05:57] zzxwill commented on #1781
@wonderflow Splitting the workload into the current one, unit-test, and e2e-test, won't do bad for the CI, right?
You mention `what fails most is the e2e test`, I agree with you. But sometimes, re-running all jobs will fail the job which passed before, and sometimes, unit-test failed, in which situations, it saves time and improve the user experience.

But I have to admin re-running success jobs s

[2021-06-10 05:59] rapkey opened #1784 "Why the comprehensions not supported when define workloads by cue?"
[code]

[2021-06-10 06:09] rapkey commented on #1784
@wonderflow

[2021-06-10 06:10] leejanee commented on #1784
cue 0.2.x version does not support this writing
Because some features used by vela are not yet supported in the higher version of cue

[2021-06-10 06:43] rapkey commented on #1784
@leejanee Got it. Will supported in the nearest version?

[2021-06-10 07:23] wonderflow commented on #1784
#1400  We're discussing with CUE team with this issue.

[2021-06-10 07:27] #1781 closed

[2021-06-10 09:20] kinsolee commented on #1662
Orgnization/Company: Forchange
Location: Shenzhen, China
Contact: lijingzhao@forchange.tech
Purpose/Scenario: Application Management Platform integrated with gitlab-CI
Features wanted:
Custom gateway applicable
Flexible capability definition without coding
Multi-version application deployment
Traffic management
Multi-cluster management

[2021-06-10 12:29] kinsolee opened #1786 "[Feature] Add Application Version"
**Is your feature request related to a problem? Please describe.**

Now kubevela uses incremental number to name application version, e.g, v1, v2,v3. But it is irrelevant to application's version (releasing new version of the application, usually with a new release tag and image tag). It's just snapshots or deployment history of the application.

There is no way to know which application version a

[2021-06-11 08:09] BinaryHB0916 commented on #1786
Thanks for bring this up. Let me sync with the team to see how we could address it.

[2021-06-12 06:59] #1659 closed

[2021-06-12 07:04] wonderflow commented on #1629
We should provide a unified UX, it's really confused that I must apply total batchSize = total replica -1

[2021-06-12 21:46] shikanon opened #1792 "raise `invalid template of trait xxx after merge with parameter and context` for use the same label in dry-run"
**Describe the bug**
when I use the same labels in traits. Use `dry-run` and it raise the error of "invalid template of trait xxx after merge with parameter and context".

**To Reproduce**

the trait like this:
[code]
and the component is like webservice, it this:
[code]
I create the appfile and use `dry-run` the error is raise.
appfile:
[code]
command:
[code]

**Expected behavior**

it will work

[2021-06-13 15:32] shikanon commented on #1792
it resolved, it is the cue syntax error, I use it like helm and think the type:
[code]
is equal the grammar：
[code]

[2021-06-13 15:32] #1792 closed

[2021-06-15 03:13] shikanon opened #1795 "Bug for vela dry-run when the components not in the vela-system namespace"
**Describe the bug**

I create a components for the default namespace and  use for dry-run it raise error ` workloaddefinitions.core.oam.dev "xxx" not found`. And when I change it to the `vela-system` namespace, It can run well.

**To Reproduce**

1. create a cumstom components
2. apply it to the default namespace
3. the error occurred

![image](https://user-images.githubusercontent.com/7250620/12

[2021-06-15 03:22] wangyikewxgm commented on #1706
Has been fixed by https://github.com/oam-dev/kubevela/pull/1774

[2021-06-15 03:22] #1706 closed

[2021-06-15 03:24] wangyikewxgm commented on #1728
@kminder  This issue has been fixed by #https://github.com/oam-dev/kubevela/pull/1774

[2021-06-15 03:24] #1728 closed

[2021-06-15 03:38] shikanon commented on #1795
the application yaml:
[code]

[2021-06-15 03:48] wonderflow commented on #1792
@shikanon we're trying to let vela cli to format and write CUE , so you won't bother with format #1697

[2021-06-15 03:59] shikanon commented on #1792
@wonderflow yes, it good idea, I now have two file to manage the cue file and component yaml file. The new feature is goold.

[2021-06-15 04:24] wonderflow commented on #1795
Yes, by default, vela dry-run will find definition from vela-system, but I think we should find both the specified namespace and `vela-system`. So if user not specify namespace, we should search both `default` and `vela-system`

[2021-06-15 05:36] #1773 closed

[2021-06-15 07:02] wonderflow opened #1796 "remove implementation of vela install"
Now `vela install` was not supported and users should use `helm install` instead. We should remove the implementation.

![image](https://user-images.githubusercontent.com/2173670/122007599-aa694880-cdea-11eb-9f56-f6dad68e2bdf.png)

[2021-06-15 07:02] shikanon commented on #1795
@wonderflow I think the components whether affect the creation of application. When we create a application, we can not set the components namespace (or it can ?). If like this, can we delete namespace for the components CRD?

[2021-06-15 07:04] wonderflow commented on #1795
yes, in dry-run , the namespace of componentDefinition should be ignored.

[2021-06-15 07:25] shikanon commented on #1795
@wonderflow And if only not use in `dry-run`, how to dealing the different namespace of `componentDefinition`  in the `Application` in the vela-core?
For example, I have a `componentDefinition`  in namespace of `test1` and namespace of `test2`. The `Application` how to set to use  specified namespace.

[2021-06-15 08:03] Chwetion commented on #1703
@wonderflow The validatewebhook needs to solve the following situation:
1. components created by no appfile/application
2. application resources that have been created overwrite components that have not yet been created
3. concurrency access to webhook as mentioned by @lxd5866
4. multiple components in one application resource

Does this make the webhook too heavy? It should list/watch application

[2021-06-15 12:12] wonderflow commented on #1703
@Chwetion You don't need to list components, just list all application in the same namespace and check is fine.

[2021-06-15 13:52] leejanee commented on #1697
It is good idea that Use cue to manage the definition through the command line

Solution 1:
The ‘definition’ sub-command should be supported, for example
[code]
Solution 2:
Users can extend the capabilities of vela command line by customizing tasks
[code]

[2021-06-16 02:03] #1796 closed

[2021-06-16 03:07] leejanee commented on #1613
首先trait应该是跟(环境、component)一一对应的， 是component在某个环境下的独立的运维入口
那么我觉得它就应该不依赖流水线，描述在workflow里感觉是不太合适的，修改trait没必要重新执行流水线的

单一个环境的发布过程里，流水线要完成patch、datapassing、rollout等等功能
在此条件下，拿扩缩容的运维操作举例

case1: 用户修改在某个环境下的replicas trait，replicas从2调到3，不希望触发流水线，期望应用副本数修改就对了
case2: 用户修改了trait，replicas从2调到10，扩容规模较大，这个过程希望分步操作，比如先从2到5再从5到10，但不希望触发该环境流水线的其他节点
case3: 接case2的例子，因为安全的原因，这次扩容(同样2->10)需要分4步完成

包含workflow的applicati

[2021-06-16 05:59] wonderflow opened #1801 "mechanism for filter annotations or labels that should not be passed through workloads/traits"
**Is your feature request related to a problem? Please describe.**

Now annotations and labels from Application（and AppConfig） will be passed through workloads and traits.

But these annotations and labels are not all necessary and some of them may contain sensitive information that should be filtered.

**Describe the solution you'd like**

We should provide an mechanism to filter. I suggest we sh

[2021-06-16 06:20] leejanee opened #1803 "Expect that traits can be expressed by environment in application"
Now,The traits are written in the configuration of the component, as shown below
[code]
But, The traits of the component may be different in different environments. For example, Trait scaller completes the operation  of controlling the replicas of the component ，So the replicas  maybe different in the testing environment and the production environment
[code]
It is expected that traits can be expre

[2021-06-16 06:29] wangyikewxgm commented on #1674
We should allow user restart completed  rollout(succeed/failed) by just modifying targetSize.

[2021-06-16 07:21] #772 closed

[2021-06-16 07:22] hongchaodeng commented on #1613
Closing this since it is implemented.

@leejanee Your issue is moved to https://github.com/oam-dev/kubevela/issues/1803, right?

[2021-06-16 07:22] #1613 closed

[2021-06-16 08:47] hongchaodeng commented on #1803
This problem is actually in the scope of configuration management. To solve this problem, we should make use of community tooling like Kustomize or Helm.

First of all, Vela should support deploying Helm chart or Kustomize dir Components via GitOps. Similar to the following:

[code]

In the git repo of the apps, it would look like:

[code]

- For app1, deployment to different env will use differen

[2021-06-16 09:13] leejanee commented on #1803
1. Should I need to define different applications in different environments? as shown below
[code]
2. I think there is a difference between traits and variables. Trait is the entry point for operation and maintenance of the application. So I don’t agree that the differences of the apps in various environments are realized through variable differences.

[2021-06-16 09:52] leejanee opened #1805 "Trait change in one environment of the application should not affect the application status in other environments"
An example is shown below
[code]
Trait scaller completes the operation of controlling the replicas of the component. and the replica of scaller trait is different in testing and production environments

When only adjusting the replicas from 2 to 3 in the testing environment, I except that the application status in the production environment will not change in any way

[2021-06-16 10:03] wonderflow opened #1806 "[Feature] create github action bot for issue triage"
Follow the Grafana way: https://github.com/grafana/grafana/blob/main/.github/bot.md
Using the grafana-github-actions:  https://github.com/grafana/grafana-github-actions

TBD：

* https://github.com/oam-dev/kubevela/blob/main/.github/commands.json
* https://github.com/oam-dev/kubevela/blob/main/.github/commands.json

[2021-06-16 11:37] #1805 closed

[2021-06-16 11:42] leejanee commented on #1803
Application does not correspond to multiple environments，so the problem mentioned in this issue will not happen. I will close this issue

[2021-06-17 01:14] hongchaodeng commented on #1786
Thanks for raising this issue. This problem is quite common.

Nonetheless, I don't think we should add a new "version" besides the current revision concept. We should make a solution based on existing revision-mechanism.

Instead, we should add Component revision and use them in the rollout and traffic split config. Additionally, we should add a new feature to TraitDefinition that indicates changi

[2021-06-17 14:30] #1674 closed

[2021-06-18 09:14] shikanon opened #1816 "Update kubevela version from 0.3.2 to 1.0.6, my custom definition is loss"
**Describe the bug**

when I upgrade the kubevela from 0.3.2 like the doc of official website, it raise error, my definition of workload and trait is loss.

**To Reproduce**

1. My definition workloadefintion and application run in the 0.3.2
2. upgrade the version as the doc: https://kubevela.io/docs/advanced-install/#upgrade

when I finish `helm upgrade --install`, I find application it can not u

[2021-06-18 09:22] wonderflow commented on #1816
We have upgrade workloadDefinition to ComponentDefinition, and in V1.0.0, we make it compatible by automatically create. Please try upgrade to v1.0.0 first

[2021-06-18 23:46] wonderflow opened #1817 "[Feature] Application status should have observedGeneration"
**Is your feature request related to a problem? Please describe.**

The deployed resources should not be affected if it's deployed successfully, but now we don't have the mechanism to avoid it. Currently we also don't reconcile it by intend, but the controller will reconcile periodically.

**Describe the solution you'd like**

1. we should add `observedGeneration` field in status of Application, a

[2021-06-19 00:00] wonderflow commented on #1816
The definition loss is caused by upgrade the CRD scope. In v0.3.2 the workloadDefinition and traitDefinition CRD scope is cluster while in v1.0.x, the scope is Namespaced. You can keep cluster scope for the CRD by change it locally before apply it. But we'd suggest you align with the community, you can keep the definition locally and after upgrade, apply them to `vela-system` namespace.

[2021-06-19 00:15] wonderflow commented on #1100
To achieve this goal:

We should first support run `Rollout` inplace like flagger. Or we just use flagger in this case.

[2021-06-19 00:17] wonderflow commented on #1719
Can we close this issue? I think it's finished

[2021-06-19 00:20] wonderflow commented on #970
By revisiting this issue, I think we should keep reconcile when there's an error but after succeed, the reconcile should become a check and notify process just as I said in #992

[2021-06-19 03:08] wonderflow commented on #1786
I think for a quick fix, we can allow revision created by outside system. So we should add a mechanism to check if the revision already exist.

The quick solution could be:

1. calculate the revision hash
2. list all revision related(label selector app name)
3. check if there's existing revision with same hash and compare the spec. If they are deep equal, don't generate.

[2021-06-19 03:09] wonderflow opened #1818 "allow revision created by outside system"
The background is in #1786 .

We should allow revision created by outside system. So we should add a mechanism to check if the revision already exist.

The quick solution could be:

1. calculate the revision hash
2. list all revision related(label selector app name)
3. check if there's existing revision with same hash and compare the spec. If they are deep equal, don't generate.

_Originally poste

[2021-06-19 03:13] LeoLiuYan commented on #1818
/assign

[2021-06-20 04:14] kinsolee commented on #1786
I think the quick fix mentioned by @wonderflow can solve this issue by this time.
Also, adding an indicator to decide if it should generate a new trait version in TraitDefinition is a feature we should implement.

[2021-06-21 02:10] wonderflow commented on #1818
Not only apprevision but also ComponentRevision and TraitRevision as metioned in https://github.com/oam-dev/kubevela/issues/1786#issuecomment-864496947

[2021-06-21 02:10] wonderflow commented on #1786
@kinsolee Yes, also commented in #1818

[2021-06-21 03:06] zzxwill commented on #1350
Thanks for fixing it @wangyikewxgm.

[2021-06-21 05:28] wonderflow commented on #1795
The `Application` should use the definition in the same namespace.

[2021-06-21 07:03] shikanon commented on #1795
@wonderflow yes, and when Application follow the component namespace, the application and component is coupled together if not use in the `vela-system`. In this way he loses the concept of being an application. I think the component should like the CRD,  it is a resource and not include the namespace scope.

[2021-06-21 07:59] wonderflow commented on #1795
@shikanon Why not use the `vela-system`?

[2021-06-21 08:32] shikanon commented on #1795
@wonderflow Because the `vela-system` not for the default if we not set namespace for namespace, people will feel troubled for it. Besides we have component with namespace scope, and the componet definition also have namespace. Do this like set all CRD for namespace scope and some common CRD for special namespace.

[2021-06-21 09:27] wonderflow commented on #1795
Here's the reason why we change the CRD scope: https://github.com/oam-dev/kubevela/issues/918

If component-def don't have namespace, then the application shouldn't have namespace, then they can match.

[2021-06-21 10:24] shikanon commented on #1795
@wonderflow  Yes, we should have system level definition and user level definition in application and component but not component definition. Is need to make the component definition to the normal user? maybe is not. We can control normal users to prohibit to publish and update components definition on RBAC. They are only use the application combine of components and traits. The components and tra

[2021-06-21 10:47] wonderflow commented on #1795
Then just create the `testcomponent` ComponentDefinition in `vela-system` namespace.

[2021-06-22 07:10] zackzhangkai opened #1830 "error converting YAML to JSON: yaml: line 11"
**Describe the bug**

[code]

[2021-06-22 09:05] chivalryq commented on #1830
ref to #1823 when migrating official registry, there are some mistakes. Now it's been fixed

[2021-06-22 09:32] #1803 closed

[2021-06-22 10:22] zackzhangkai opened #1834 "Failed to update application status" err="Application.core.oam.dev \"first-vela-app\" is invalid"
**Describe the bug**

[code]

After create applictation, the pod cannot be created.

[2021-06-22 10:39] zackzhangkai commented on #1834
1. The controller cannot do the reconcile to create workload, same in the version 1.0.4 1.0.5 and 1.0.6 .
2. If the controller cannot do the reconcile, the log level should be `error` instead of `info`.
3. The controller can do the reconcile, but the sidecar trait has error, though it has been fixed in the newer version, this version has not fixed.

[2021-06-23 02:41] wangyikewxgm commented on #1834
I think the issue is duplicated  with https://github.com/oam-dev/kubevela/issues/1594. Please try update your application crd
by
`kubectl apply -f https://raw.githubusercontent.com/oam-dev/kubevela/master/charts/vela-core/crds/core.oam.dev_applications.yaml`

[2021-06-23 02:54] ljn55966005 opened #1835 "fail to install vela-core-legacy with kubernetes v1.15.3"
**Describe the bug**

[code]
the same error occured when i apply dev_workloaddefinitions , dev_traitdefinitions, dev_componentdefinitions, dev_traitdefinitions and dev_applicationrevisions

[2021-06-23 03:29] hongchaodeng commented on #873
Closing this. We are moving the Data Passing feature into a Workflow. We will come up with more specific design shortly.

[2021-06-23 03:29] #873 closed

[2021-06-23 04:17] wonderflow opened #1836 "[Feature] refactor vela cli env command to use Initializer"
**Is your feature request related to a problem? Please describe.**

Currently the vela cli just use local files, and create resources such as namespace directly by client.

And now we have [iniitializer](https://github.com/oam-dev/kubevela/blob/master/design/vela-core/environment.md) design and [implementation](https://github.com/oam-dev/kubevela/pull/1829).

We should refactor vela cli to use the

[2021-06-23 07:31] #1830 closed

[2021-06-23 14:50] zackzhangkai commented on #1834
Thanks for your warning reply.

[2021-06-23 14:50] #1834 closed

[2021-06-24 06:09] captainroy-hy commented on #1499
in compatiblity unit test.
[code]

[2021-06-24 08:47] #1703 closed

[2021-06-25 03:08] captainroy-hy opened #1846 "[Feature] support secret config for helm repository"
**Is your feature request related to a problem? Please describe.**

Currently, we employ flux2/helm-controller to enable helm-support in kubevela.
Because flux2 API is based on k8s 1.20+ and kubevela is based on k8s 1.18+, we cannot use flux2 API as a dependency module directly.
So we make an overlay upon flux2 API in kubevela and omit several fields including [helm repository's secret reference](

[2021-06-25 08:27] shikanon opened #1848 "Create two same type component in a appillcation, only one created."
**Describe the bug**

When I create a application which has tow same components, that the application is running and HEALTHY is ture. But I find only one components created.
If we split two application, they all will be created and running well.

**To Reproduce**

1. A custom components which is make by service, like the above of end.
2. create the application which has two same components. It is

[2021-06-25 08:42] chivalryq commented on #1848
Maybe you just simply misspell the `output` as `outputs`? As I fix that, they create two svc.
![image](https://user-images.githubusercontent.com/47812250/123396767-49a0f380-d5d4-11eb-9217-7d2bd3ead996.png)

[2021-06-25 08:55] shikanon commented on #1848
@chivalryq I create two application split it will done.

[2021-06-25 08:57] shikanon commented on #1848
@chivalryq  can you output your fix yaml file? thx.

[2021-06-25 09:04] shikanon commented on #1848
@chivalryq the components it supports the `output` and `outputs`, your can try this application yaml:

[code]
or :
[code]
it will created well.

[2021-06-26 03:36] wonderflow commented on #1760
Use initializer to support built-in addons:

* flux helm/kustomize https://fluxcd.io/
* ocm hub cluster https://open-cluster-management.io/
* terraform controller https://github.com/oam-dev/terraform-controller
* openkruise cloneset https://github.com/openkruise/kruise

By default, they are installed as the kubevela helm chart installed. So we should add built-in initializer object into vela chart

[2021-06-26 03:46] wonderflow commented on #1760
@chivalryq Users can also use vela CLI to list.

### List

[code]

### Install

[code]

### Uninstall
[code]

[2021-06-26 04:08] shikanon commented on #1848
@wonderflow I find the problem through the vela-core logs:
[code]
it is my spell error! the version is `v1` and not `V1`. and the version no match the kind.

But some suggestion, I think if this apply error appear to the describe event is well.
And now the application describe event can not find the problem
[code]

[2021-06-26 04:08] #1848 closed

[2021-06-26 12:57] captainroy-hy commented on #1719
@wonderflow Sure. Close for it's fixed in #1763 .

[2021-06-26 12:57] #1719 closed

[2021-06-26 12:58] captainroy-hy commented on #1725
Fixed in #1814

[2021-06-26 12:58] #1725 closed

[2021-06-28 05:58] YourTechBud opened #1851 "[Feature] Add support for a trait to patch to any outputs defined before it and not just the output defined by the corresponding component."
**Is your feature request related to a problem? Please describe.**
Currently, traits can patch the workload of the corresponding components only. It is not possible for traits to patch workloads of other traits. This tends to make a trait overly complex when its targeting a fairly complex resource. For e.g. in Istio, a `DestinationRule` is responsible for several related activities like loadbalanc

[2021-06-28 06:52] wonderflow commented on #1851
Can you give some yaml example about this case?

[2021-06-28 07:12] #1801 closed

[2021-06-28 08:53] YourTechBud commented on #1851
Lets take the example of deploying a normal workload in a service mesh like Istio. Ideally the workload component need to be changed if the service was deployed in a service mesh or not. Its just a k8s deployment after all.

The OAM Application may look something like this:

[code]

[code]
I understand that the service mesh trait can be a separate component all together. But even in that case, a s

[2021-06-28 09:58] wonderflow commented on #1851
Yes, it makes sense.

By default, our patch trait only patches to workload which is output in CUE.

[code]

And we should support the cases like:

[code]

The keyword should be `patch` and inside word `outputs` and then the `resourceName` defined in other outputs resources.

Would you like to send a PR ? @YourTechBud

[2021-06-30 14:07] YourTechBud commented on #1851
I would love to contribute this feature. I would, however, require some assistance to navigate the code repository to identify the areas which will have to be updated.

[2021-07-01 04:56] yangsoon opened #1865 "Failed to aggregate status if application use a kube type componentdefinition"
**Describe the bug**

The KubeVela will failed to aggregate status if application use a kube type componentdefinition

**To Reproduce**
1. The YAML files of Component/Trait I used.
[code]

2. The YAML file of Application I applied.
[code]

3. Other operations I have done.

[code]

4. error info
[code]

[code]
[code]

**Expected behavior**
Application can be correctly reconciled.

[2021-07-01 08:10] hprotzek commented on #1400
Any idea if the the problem with cuelang can get fixed in a foreseeable future? This is blocking us quite a lot, as we can't use multiple comprehensions per list, which make the trait development and configuration unnecessary very complicated.

@wonderflow Or can you recommend a workaround for this problem with multiple comprehensions per list?

[2021-07-01 11:11] wonderflow commented on #1400
@hprotzek  CUE maintainers said they're fixing it.

 @leejanee Do you have any suggestion for it?

[2021-07-01 11:41] wonderflow commented on #1305
fixed by #1842

[2021-07-01 11:41] #1305 closed

[2021-07-01 11:53] chivalryq opened #1868 "Fail to deploy a Application using helm as component"
**Describe the bug**

I define a componentDefinition and an Application. The componentDef uses keda helm chart. when applied, pods and CRDS are rendered correctly. But there are error logs in controller.

**To Reproduce**

1. Component YAML: keda-comp.yaml
[code]
2. Application YAML : keda-app.yaml
[code]
3. Install KubeVela and [Flux Helm chart](https://kubevela.io/docs/install#4-enable-helm-supp

[2021-07-01 11:59] wonderflow commented on #1868
You should not specify workload on helm chart case, so:

[code]

[2021-07-01 12:05] chivalryq commented on #1868
It can't work. Seems workload is a required field:
![image](https://user-images.githubusercontent.com/47812250/124121635-b4a46b80-daa7-11eb-8347-f7f5d85dbb55.png)

[2021-07-02 07:09] #1350 closed

[2021-07-02 07:14] #1806 closed

[2021-07-02 09:22] wangyuan249 commented on #1806
/needsMoreinfo

[2021-07-02 09:34] #1562 closed

[2021-07-02 09:51] wangyuan249 commented on #1806
/needsMoreinfo

[2021-07-02 10:05] wangyuan249 commented on #1806
/needsInvestigation

[2021-07-02 11:01] yangsoon commented on #1806
/needsInvestigation

[2021-07-02 15:06] wonderflow commented on #1806
/needsInvestigation

[2021-07-04 13:39] #1846 closed

[2021-07-05 01:20] kinsolee commented on #1818
Any progress to this issue ?

[2021-07-05 01:47] LeoLiuYan commented on #1818
I will create a PR about this feature in this afternoon.    @kinsolee   cc  @wonderflow

[2021-07-05 04:05] wonderflow opened #1873 "[Feature] Upgrade target K8s cluster version to 1.20"
**Is your feature request related to a problem? Please describe.**

Since the majority community users are using K8s v1.20+ now, we should upgrade our target K8s  cluster version to 1.20+

**Describe the solution you'd like**

1. upgrade our CI settings and test cases if related
2. upgrade our definition template
3. upgrade our dependency lib

**Describe alternatives you've considered**

**Additio

[2021-07-05 06:01] wangyuan249 commented on #1806
/assign  yangsoon

[2021-07-05 06:57] wonderflow commented on #1873
Kubernetes Version skew policy  https://kubernetes.io/releases/version-skew-policy/

[2021-07-05 14:52] wonderflow opened #1880 "[Feature] Create and register K8s cluster by initializer"
With the help of Initializer, we can even create a cluster and register to KubeVela control plane.

1. Create initializer

[code]

2. The Initializer will create an application for the initialization

[code]

3. The Application will actually do the following jobs.
  - Create a K8s cluster by [terraform controller](https://github.com/oam-dev/terraform-controller): https://registry.terraform.io/prov

[2021-07-05 15:34] wonderflow opened #1881 "[Feature] EnvBinding Controller for Multi cluster deploy and Configuration Management"
In this proposal we will allow users to deploy to multi clusers and do configuration management in exact one Application.

1. Create the application

[code]

2. When there's a policy and workflow, the application controller will not apply the resources immediately. It will always deploy policy first and then execute the workflow step.

3.  The policy will create a `EnvBinding` object.

[code]

4.

[2021-07-05 15:39] wonderflow commented on #1048
I raised a new proposal for this issue, please refer to #1881

[2021-07-06 04:33] wonderflow commented on #1726
I add a ingress-1-20 for work around

[2021-07-06 05:54] #1726 closed

[2021-07-06 05:54] #1188 closed

[2021-07-06 07:39] wonderflow opened #1884 "[Feature] Allow users to specify component revision name"
**Is your feature request related to a problem? Please describe.**

Now our component revision is automatically generated with incremental number. It has some drawbacks:

1. Real users has their own version standard, some version number is business related. They hope the version in kubvela can match with their own revision. So they can have end to end consistency.
2. Users need to apply applicatio

[2021-07-06 09:47] wonderflow commented on #1605
Here's the plan:

1. Allow specify externalRevision for Component revision #1884
2. Create a Rollout Controller based on the rolloutPlan code base.
  - the controller should be able to deploy in runtime cluster without kubevela
  - the controller receive the component revision as source and target
  - the controller should support both inplace mode and two workload rolling mode

[code]

[2021-07-06 12:32] wangyuan249 commented on #1806
/needsInvestigation

[2021-07-06 12:34] BinaryHB0916 commented on #1806
/assign BinaryHB0916

[2021-07-06 12:37] wangyuan249 commented on #1806
/needsMoreInfo

[2021-07-06 12:38] wangyuan249 commented on #1806
/priority/important-soon

[2021-07-06 12:39] wangyuan249 commented on #1806
/area/component

[2021-07-06 12:40] wangyuan249 commented on #1806
/bot/question

[2021-07-06 12:44] wangyuan249 commented on #1806
/type/enhancement

[2021-07-06 12:46] wangyuan249 commented on #1806
/duplicate #1830

[2021-07-06 13:04] wonderflow commented on #1806
/assign BinaryHB0916

[2021-07-08 07:16] #1865 closed

[2021-07-08 08:26] #1530 closed

[2021-07-08 08:26] #1491 closed

[2021-07-08 08:28] #1295 closed

[2021-07-08 08:33] wonderflow commented on #176
Now Env is a logic concept, it will mostly exist as a label. The initilizer object will help install system dependency.

[2021-07-08 08:33] #176 closed

[2021-07-08 08:51] wonderflow commented on #1836
[code]

[2021-07-08 08:54] wonderflow commented on #31
As we already has Initializer now, we should align vela secrets with the Initializer, refer to #1836 .

But secrets are sensitive data, so we should not create by an initializer object, it should be created locally and just add a metadata is fine.

[code]

[2021-07-08 09:17] o-otte opened #1897 "[Bug] Issues when not using vela-system namespace"
**Describe the bug**
Upstream Chart can not be installed into custom namespace.

We are using a quite strict naming policy for the namespaces used in our clusters, e.g. `app-some-name` for application namespaces and `sys-some-name` for cluster services. This implies we can not use the preferred namespace name `vela-system` as described in the installation guide.

With some manual tweaking of the h

[2021-07-08 11:45] #1629 closed

[2021-07-08 14:31] #1817 closed

[2021-07-09 02:50] zzxwill commented on #31
@wonderflow Will all secrets come from the same namespace `test-namespace` in type `ConfigMap`?

[2021-07-09 06:38] chivalryq commented on #1868
/assign chivalyq

[2021-07-09 07:33] wangyuan249 commented on #1868
/assign  chivalryq

[2021-07-09 09:23] chivalryq commented on #1806
/assign chivalryq

[2021-07-09 09:45] whichxjy commented on #1653
![3](https://user-images.githubusercontent.com/33963637/125058924-539b1a00-e0dd-11eb-9cae-52402911bb5c.png)

[2021-07-09 16:32] rfkeith opened #1903 "Kubevela Helm Chart Target isn't accepting connections from UK"
When trying to install KubeVela I am getting a connection closed error from: kubevelacharts.oss-cn-hangzhou.aliyuncs.com

λ helm --debug install --create-namespace -n vela-system kubevela kubevela/vela-core
install.go:173: [debug] Original chart version: ""
Error: Get "https://kubevelacharts.oss-cn-hangzhou.aliyuncs.com/core/vela-core-1.0.7.tgz": EOF
helm.go:81: [debug] Get "https://kubevelacharts

[2021-07-10 02:00] wonderflow commented on #1903
Please try this repo:
[code]

[2021-07-10 09:06] rfkeith commented on #1903
I did add that repository as described in the installation guide. Unfortunately the hosts that have the helm package (tgz) file are not responding and just dump the connection

λ helm repo list
NAME            URL
kubevela        https://charts.kubevela.net/core

λ helm --debug install --create-namespace -n vela-system kubevela kubevela/vela-core
install.go:173: [debug] Original chart version: ""

[2021-07-12 08:14] LeoLiuYan commented on #1884
/assign

cc @wonderflow

[2021-07-12 08:30] LeoLiuYan commented on #1653
Hi @wangyikewxgm ,  I'm interesting in implement the [Sidecarset](https://openkruise.io/en-us/docs/sidecarset.html) workload.

[2021-07-12 08:37] LeoLiuYan commented on #1653
Hi, @wangyikewxgm. I'm interesting in implement the [SidecarSet](https://openkruise.io/en-us/docs/sidecarset.html) workload.

[2021-07-12 10:52] woodgear opened #1904 "empty components crash kubevela"
**Describe the bug**

**To Reproduce**

## yaml of component/trait i used
## yaml of application
[code]
## other step i do
no
## see error
[code]
**Expected behavior**

create the application/or report warning,at least not crash
i did find the code in https://github.com/oam-dev/kubevela/blob/d7950063c3d4907922bac03905f83c5f00c3b61a/pkg/controller/core.oam.dev/v1alpha2/applicationconfiguration/appl

[2021-07-13 02:28] wonderflow commented on #1904
I have talked with @woodgear offline and he's going to send a PR to fix it.

[2021-07-13 10:51] fanzhihai0215 opened #1909 "Cannot place application across multiple clusters via AppDeployment"
**Describe the bug**
Try to place application across multi-clustsers, but some problems occurred while deploying AppDeployment. I created Cluster CRD and its kubeconfig SecretRef, but nothing seems to happen.

I followed [this tutorial](https://kubevela.io/docs/v1.1/end-user/scopes/appdeploy) to operate.

I see "Multi-Cluster Application Deployment was supported by the object called AppDeployment"

[2021-07-13 12:09] chivalryq commented on #1868
workload should be autodetects.core.oam.dev
[code]

[2021-07-13 12:10] #1868 closed

[2021-07-14 06:37] zou2699 opened #1913 "conflicting values when multiple traits patch an array"
**Describe the bug**

I have two traits, one provider redis secret, another provider MySQL secret, each of them have a patch template that patch  envFrom array to the component.

**To Reproduce**

Steps to reproduce the behavior:

1. The YAML files of Component/Trait I used.

   rds trait

[code]

   redis trait

[code]

2. The YAML file of Application I applied.

[code]

3. Other operations I hav

[2021-07-14 06:50] leejanee commented on #1913
The element of the `envFrom`  array  is
[code]
,it does not contain the name field

[2021-07-14 06:58] zou2699 commented on #1913
but how can I achieve this function
[code]

[2021-07-14 07:44] #1760 closed

[2021-07-14 07:44] leejanee commented on #1913
@zou2699 patchKey does not support value such as "a.b" now.

But,I think this is a general appeal. I will submit a pr to support it.

[2021-07-14 07:59] wonderflow commented on #1897
Thanks for reporting, I assume KubeVela should be able to deploy in any specified namespace. Maybe it's a bug and needs to be investigated

[2021-07-14 08:06] hongchaodeng commented on #1909
Hi. Let me help answer your questions:

Entire kubeconfig

We are planning to use Open-Cluster-Management and Karmada as a Workflow Task plugin to deal with multi-cluster deployments. So you should be able to get cluster status via their APIs.

Let me provide more context: The AppDeployment will be broken into three Workflow Task definitions in the upcoming release which corresponds to its 3 featu

[2021-07-14 08:10] #1705 closed

[2021-07-14 08:26] chivalryq commented on #1897
Let me provide more info: All files in ./charts/vela-core/templates/addons are ConfigMap for vela CLI.

And now the namespace of configMap will change to helm chart style( {{.Values.systemDefinitionNamespace}} ). ref to #1915

Some of the addon like fluxcd as you see. The plenty `vela-system` string are data in configMap, which doesn't have any effect for helm (and now it's was move to flux-system

[2021-07-14 08:38] yangsoon commented on #1881
/assign

[2021-07-14 08:45] wonderflow commented on #1913
It was fixed in #1916 and you should write like this:

[code]

[2021-07-14 08:49] wangyuan249 commented on #1897
/assign

[2021-07-14 09:03] #1913 closed

[2021-07-14 10:02] wonderflow opened #1918 "[Feature] implement a"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-07-15 02:42] wangyuan249 commented on #1897
@o-otte  Hi, I try to reproduce your problem and found you did't specify the systemDefinitionNamespace field.
Therefore, to run kubevela normally, you can install as bellow:

[code]

[2021-07-15 02:54] chivalryq opened #1921 "[Feature] Export Initializer Status"
**Is your feature request related to a problem? Please describe.**

Now we can only get Initializer's status by `kubectl describe`, like dependsOn doesn't fulfilled.

**Describe the solution you'd like**

1. Intializer should export the status like: "initialzing"，"success". This can be get both go-client and `kubectl get`
2. We should add a webhook to check if all initializer dependencies are fulf

[2021-07-15 02:54] wangyuan249 commented on #1897
And the vela show CLI currently only support show namespace in "vela-system" and "default"
We intend to fix it to support kubectl vela plugin works as a namespace can be specified as a parameter.
like "vela show -n namespace-name ingress".
Or would you like to contribute a PR to fix this so that other people in community will be able to solve this similar scene problems more smoothly.  @o-otte

[2021-07-15 06:39] o-otte commented on #1897
@wangyuan249 Hi and thank you for hint with the systemDefiinitionNamespace field! I wasn't aware of it. Nevertheless, I have a question regarding the hardcoded "vela-system" namespace inside the `./charts/vela-core/crds/core.oam.dev_applications.yaml` CRD on lines 5 and 15. For us it seems to produce errors if cert-manager related resources (Issuers, certificates) are deployed in another namespace

[2021-07-15 06:45] hongchaodeng commented on #1881
For the beginning, we can implement the Render() in controller.
After the workflow work is finished, we can support `op.#Render`:
[code]

[2021-07-15 08:10] fanzhihai0215 commented on #1909
Great! The entire kubeconfig file works.

In my test, there may be a little defect. After spinning up kind clusters, the API server address is like _127.0.0.1:xxxxx_ in kubeconfig. In order to deploy application across multi-clusters, should set container IP address as kube API endpoint in order for kind clusters to reach kube API servers in other kind clusters. Also the configuration of all kind

[2021-07-15 09:26] yangsoon commented on #1921
/assign

[2021-07-15 10:11] wonderflow opened #1923 "[Feature] Create controller for GC(resource tracker) mechanism"
Currently, we create resourceTracker for every revision, and blindly delete the old revision resource tracker to let the GC mechanism of K8s to do the real GC. This mechanism has some drawbacks:

1. It's not flexible enough for different GC strategies, we always rely on application controller to do GC
2. It could cause resources leak when the revision increase but the reconcile fail. For example,

[2021-07-15 15:06] mrmartan opened #1924 "getCPUInfo for OS darwin"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

no error

**Screenshots**
<img width="920" alt="image" src="https://user-images.githubusercontent.com/2376580/125810830-b4ba38c8-be96-4fbf-9734-3db997a72a78.png">

**KubeVela Version**

1.0.7

**Cluster information**
client: 1.21.2
server: 1.19.11

**Additional context**

MacOS bigSur
Apple M1 (ARMv8)

[2021-07-16 03:29] wonderflow opened #1925 "[Feature] handle replica in Application controller should not hard code"
![image](https://user-images.githubusercontent.com/2173670/125887274-834becf8-efe1-45c6-8ba9-dfd4cbe15748.png)

KubeVela is flexible for almost every workload and resources, we should define the replica field path in workloadDefinition.

[2021-07-16 03:30] wonderflow commented on #1835
I'm sorry the community is not going to support K8s version < v1.18, I hope you can upgade your cluster. Thanks.

[2021-07-16 03:31] wonderflow commented on #1835
KubeVela will also clean the legacy support.

[2021-07-16 03:32] wonderflow commented on #1400
Refer to https://github.com/cue-lang/cue/issues/867

[2021-07-16 07:31] kinsolee commented on #638
Is there a temporary solution for A/B test or traffic management at this stage? My team is currently working on an application platform (integrated with a UI dashboard like [kiali](https://github.com/kiali/kiali)) which is based on Kubevela. A/B test and traffic management are significant features of it.

Before `ApplicationScope` is being released, we'd like to find a makeshift to generate one cr

[2021-07-16 07:39] dongwangdw opened #1927 "The quick start does not work for kind node version 1.21.1"
I followed the quick start from here https://kubevela.io/docs/install, with kind version 0.11.0, kind node version 1.21.1.

And I followed the book to deploy vela-app.yaml.
Then the app keeps pending:
[code]

I get error log from kubevela-vela-core:
[code]
I get the log from nginx controller:
[code]

Did I miss anyting? Please help.

[2021-07-16 09:24] wonderflow commented on #1927
What is your K8s version, is it v1.21?

I think it's because the ingress API is changed.

You can apply this ingress trait https://raw.githubusercontent.com/oam-dev/kubevela/master/charts/vela-core/templates/defwithtemplate/ingress-1-20.yaml

It's name is `ingress-1-20` to distinguish with `ingress`. And you can change the application like this:

[code]

[2021-07-18 12:33] captainroy-hy commented on #1923
After an off-line discussion with @wonderflow, new ideas are recorded as below:

 1. In an app upgrading scenario, “Create(new resources)” and “GarbageCollect(old resources)” must be coupled and synchronized.
 Once new revision’s resources are created, it must garbage collect old revision’s resources immediately.
 And further upgrading on this app must be blocked until previous garbage collection

[2021-07-18 12:42] captainroy-hy commented on #1923
Currently, we just fix below issue with minor changes:

[2021-07-19 02:53] wangyuan249 commented on #1897
@o-otte  thanks for your feedback.
When installing a helm chart, the first step is to install pre-resource such as crd or other Dependent sub-chart, the second step is our def template.  While in the first step, the crd could not perceive this variable `systemDefinitionNamespace`
![image](https://user-images.githubusercontent.com/35907099/126095247-197d4382-d26c-425b-9fff-d5cc8e99aebe.png)

Theref

[2021-07-19 02:59] wangyuan249 commented on #1897
![image](https://user-images.githubusercontent.com/35907099/126096336-da445d80-0b57-47f7-b645-31d6ca89a945.png)
And the specific logic for `vela show` in shown in figure.

[2021-07-19 06:57] dongwangdw commented on #1927
@wonderflow
Thanks for the info. But it does not work either. The error is as below:

Maybe the ingress API should be upgraded.

[2021-07-19 07:07] wonderflow commented on #1927
@dongwangdw Have you ever apply the yaml:

[code]

[2021-07-19 09:04] #1603 closed

[2021-07-20 03:10] dongwangdw commented on #1927
@wonderflow
I deployed this traitDefinition to vela-system namespace.
Then I deployed the example app. But I got the same error.
Did I miss anything?

[code]

The app pends on ```HealthChecking``` status.
Description of the APP.

[2021-07-20 05:26] wonderflow commented on #1927
What's your k8s cluster version?

[2021-07-20 07:43] dongwangdw commented on #1927
My cluster is Kind cluster 1.21.1.
[code]

[2021-07-20 09:32] chivalryq opened #1939 "Error log about generate OpenAPI v3 JSON schema when run KubeVela"
**Describe the bug**

There are lots of error log when start KubeVela controller about generate OpenAPI v3 JSON schema

**To Reproduce**
1. install kubevela using helm
2. `kubectl logs` the pod, get log:
[code]

**Expected behavior**

no error log

**Screenshots**

![image](https://user-images.githubusercontent.com/47812250/126297657-9c439209-938a-4d82-bb38-79ebe80367df.png)

**KubeVela Version**

[2021-07-20 12:40] #1921 closed

[2021-07-20 21:26] resouer opened #1940 "Converging community docs"
**Describe the bug**

There are now multiple community documentations (https://github.com/oam-dev/kubevela/blob/master/community.md, https://github.com/oam-dev/spec/blob/master/governance.md) across projects, please consider converging them into a centralized `community` repo.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional con

[2021-07-21 02:40] BinaryHB0916 commented on #1940
/assign BinaryHB0916

[2021-07-21 03:07] luotian-github opened #1941 "[Feature] Support to place an application to the cluster in private network"
How to deploy an application to a cluster in private network by Kubevela? Will Kubevela implement any proxy/agent feature to support the private network cluster?

[2021-07-21 08:02] tossmilestone opened #1947 "`patch` in TraitDefinition cannot read `context.output`"
**Describe the bug**

The `patch` in `TraitDefinition` cannot read `context.output`, and error occurs if reference the `context.output`.

**To Reproduce**
Created the `TraitDefinition` as follow:
[code]
This is a trait designed to start or stop the component. Then create an application to use the trait:
[code]
the creation failed with error:
[code]

**Expected behavior**

In the `patch` struct, th

[2021-07-21 08:49] leejanee commented on #1947
It may be that metadata.annotations is not defined in component definition.

[2021-07-21 09:18] tossmilestone commented on #1947
@leejanee I use `context.output.metadata.name`, it still report `reference "context" not found`.

[2021-07-21 09:26] tossmilestone commented on #1947
@leejanee I got it, the `output` do not represent the current state of the component.

[2021-07-21 13:19] leejanee commented on #1947
Your request is actually closer to our design of trigger, and the trigger  mechanism will be supported  in the future.

[2021-07-21 13:27] tossmilestone commented on #1947
- [ ] @leejanee Is there a design doc of the trigger mechanism?

[2021-07-22 02:25] dongwangdw commented on #1927
I cofirmed that the quick start can not work in kind1.21.1. But work well for 1.18.15.

https://github.com/oam-dev/kubevela/issues/1927#issuecomment-883017020
If there is no miss from my this comment. This will be a bug.

[2021-07-22 02:31] wonderflow commented on #1941
Can you explain more about the architecture? I'd like to know your use case.

[2021-07-22 02:32] wonderflow commented on #1927
We're investigating it, thanks for reporting

[2021-07-22 10:23] alexis-wefight opened #1958 "Compatibility with Linkerd 2.10.0"
**Describe the bug**

The kubevela-vela-core pod has error: Back-off restarting failed container when service mesh Linkerd (tested with version 2.10.0) is installed.  I also have status OOMKilled for this pod. I checked the log, and the only difference I notice is this error:

[code]

I tried to delete the pod several times, but I got the same error.

When I uninstall Linkerd and restart the pod,

[2021-07-22 11:47] #1904 closed

[2021-07-22 12:22] woodgear opened #1959 "make core-run report error ""Could not capability in ConfigMap""
**Describe the bug**

**To Reproduce**

1. following [develop guide](https://github.com/oam-dev/kubevela/blob/master/contribute/developer-guide.md) to prepare dev env
2. make core-install && make check-install-def
**Expected behavior**

without any error.
**Screenshots**

![image](https://user-images.githubusercontent.com/16863223/126637797-42ca973b-f84e-4a5a-b97f-daef1b579536.png)

**KubeVela Ver

[2021-07-22 12:39] chivalryq opened #1960 "[Feature] Add Capability Catalog Concept"
Currently, our capability system is chaotic. We should build an open and easy-to-use catalog system for KubeVela users.

We have three place to hold capabilities/definitions/addons, they are for different tools and contains different contents.

1. [catalog repo](https://github.com/oam-dev/catalog):This is a place for out vela CLI (use `vela cap` to sync and install) (note this "catalog" isn't the

[2021-07-23 03:05] chivalryq commented on #1960
That's because nowadays we don't have "other capability" implemented. We only have addon stored in configMap and definition group doesn't even exist. There are only **definitions**. And definitions' GVK natually identify its type so no need for label. But a unified way is needed in catalog.

[2021-07-23 03:21] hongchaodeng commented on #1960
**Updated the title a bit**. This should go beyond the UI and provide catalog concepts in the Vela core.

I think it has two sides:
- For us, we should unify the way to manage catalogs and caps to provide discovery and installation services.
- For the community, it is perfectly normal that there are multiple ways to provide catalogs (e.g. git repo, OSS bucket, ConfigMap) and plugin to the Vela pla

[2021-07-23 05:18] leejanee commented on #1958
Vela obtains the crd information in the cluster by accessing openapi, and generates the `cuelang` vendor  in the X-Definition.
Maybe due to network reasons, `vela-core` cannot access the openapi(path=/openapi/v2) of kubernetes cluster after installing linkerd.

[2021-07-24 13:48] vijay-dcrust opened #1966 "[Feature] global env variables in Application definition"
I want to define a bunch of env variables in Application definition which can be used across all the components defined in that application.

[2021-07-26 01:58] wonderflow commented on #1966
Can you describe more about your scenario, in which case you need this global variable?

[2021-07-26 02:01] wonderflow commented on #1958
Maybe the CRD of linkerd is not standard. We should refine the CUE function for crd json schema generation.

1. Try skip the invalid CRD only and throw warning message instead of error.
2. We should tell more clean message info.

\cc @leejanee @yangsoon

[2021-07-26 03:55] withlin opened #1967 "cannot dispatch application manifests"
### Apisix yaml
[code]

###  Apisix trait
[code]

### kubevela APP
[code]

### APP status ERROR
[code]

### kubeve version
[code]

[2021-07-26 03:57] withlin commented on #1967
@hongchaodeng  @wonderflow cc

[2021-07-26 09:03] alexis-wefight commented on #1958
Is there any workaround so we can use both Linkerd and Kubevela?

[2021-07-26 09:19] wonderflow commented on #1958
@alexis-wefight It must be that there's some invalid format in CRD of Linkerd, we can help investigate it. \cc @leejanee @yangsoon

[2021-07-26 09:40] alexis-wefight commented on #1958
The linkerd installation creates 2 CRDs:

[code]

[2021-07-26 09:49] alexis-wefight commented on #1958
I confirm it comes from the linkerd CRDs. I tried to install Linkerd without the 2 CRDs, and the vela-core pod is able to start without the `parse json schema` error.

[2021-07-26 11:27] chivalryq commented on #1967
spec.http.backend.servicePort: Required value,
spec.http.match.hosts: Invalid value: "array": spec.http.match.hosts in body must be of type string: "array", spec.http.match.paths: Required value
]

As you can see, there are something wrong in you cue template. Remember Cuelang don't treat same indent as same level (YAML does. That could be confusing sometime. Maybe we should develop an simple YAML

[2021-07-26 11:40] chivalryq commented on #1967
Before we think of a convient method to  thansform a yaml to cue template. Here not bad debug check list for your cue template in X-definition
1. Make sure install cue executable file.
2. copy-and-paste your cue template seperately out of your X-definition(Or always test cue template is right for the first time).
3. Add a simulated parameter block
4. Add a simulated context block
5. excute `cue ev

[2021-07-26 16:44] vijay-dcrust commented on #1966
For instance this is my manifest, I am creating an rds and elasticache redis in dev env and  frontend account. How can i reuse the env and account variable.

apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: argocd-test-cloud-resources
spec:
  components:
    - name: frontend-dev-rds-aws-argocd-test-01
      type: rds-aws
      properties:
        service_name            :  argo

[2021-07-27 02:08] withlin commented on #1967
@chivalryq  Thank you for your guidance, this is caused by my carefulness.
/close

[2021-07-27 02:08] #1967 closed

[2021-07-28 01:33] resouer commented on #1697
@wonderflow , @zzxwill follow up comments regarding to your thoughts on Terraform components:

Yes, exactly. All components, traits, workflow steps should be CUE modules, and I don't even think a K8s entity wrapper is needed for X-Definitions (could be fixed later of course).

Also, I don't think embedding  HCL in `ComponentDefinition` is a reasonable approach for long run. The Terraform component

[2021-07-28 02:20] hongchaodeng commented on #1697
There have been some offline discussion I had with @Somefive . Let me sum it up here:

- Previously we want to unify them in a single format, and we think CUE can do that. But over time we found users have difficulty in understanding CUE well enough to do anything. We think that using CUE is a bad way to unify it.
- There are two parts in a Definition: CUE glue code and the metadata.
- The CUE com

[2021-07-28 05:16] wonderflow commented on #1924
Thanks for reporting. It should be something related with `Apple M1 (ARMv8)`, and it doesn't affect the function.

[2021-07-28 16:53] wangyuan249 commented on #1927
@dongwangdw  Hi~,  I follow your way to reproduce the problem. The conclusions I have so far are as follows:
1. The ingress-nginx controller provided by official which support Kubernetes >= v1.19 still have some problems.
In kind pre-release version ![v1.0.0 Alpha 2](https://github.com/kubernetes/ingress-nginx/blob/controller-v1.0.0-alpha.2/deploy/static/provider/kind/deploy.yaml).
![image](https:

[2021-07-29 05:25] hongchaodeng opened #1980 "[Feature] Add `op.#ApplyRemaining` to apply remaining resources"
## Background

In application workflow, user can specify what resource to apply via `op.#Apply`. While this is very flexible, there are some cases it could solve elegantly:

- Conventionally, all resources are applied automatically and users might not be aware of any specific resources. Users would prefer not to write down all names of the resources to apply
- In workflow steps, while some steps m

[2021-07-29 05:35] wonderflow commented on #1980
The user experience looks pretty good! Let's see how to implement it.

[2021-07-29 10:15] chivalryq commented on #1836
Maybe it's better to keep matadata in Initializer's metadata. Then we only have to add one componentDefinition: namespace, like:
[code]

[2021-07-29 10:37] leejanee commented on #1980
Realized by cue configuration
[code]

[2021-07-29 12:42] tossmilestone opened #1981 "The deployment of webservice will be updated failed with `addRevisionLabel: true`"
**Describe the bug**
If the `addRevisionLabel` of component in `webservice` is `true`, once the component is updated to a new revision, the workload will be updated failed due to the immutateable `selector` field.

**To Reproduce**
Create an application as follow:
[code]
then update the application to:
[code]
The `vela-core controller` will report error message:
[code]
**Expected behavior**
The wo

[2021-07-29 13:12] wonderflow opened #1982 "[Feature] add reconcile timeout(1min) for all kubevela controllers"
https://github.com/oam-dev/kubevela/blob/master/pkg/controller/core.oam.dev/v1alpha2/applicationcontext/applicationcontext_controller.go#L66-L67

Some all the controllers already have, but some were not. We should add the timeout for all controllers.

[2021-07-29 13:24] neinkeinkaffee opened #1984 "[Feature] Options to access to component properties and other component information in a trait"
**Is your feature request related to a problem? Please describe.**
In my `TraitDefinitions` and `ComponentDefinitions` I would like to be able to access values from the objects that enclose the given trait or component. For example, I would like to access the properties of the enclosing component in a trait so that I can attach the trait resources to the component resources.
All my `TraitDefinitio

[2021-07-29 13:40] wonderflow commented on #1981
Then why do you  use ` addRevisionLabel: true`  as properties?

[2021-07-29 15:45] tossmilestone commented on #1981
To distinguish the pods of different revisions.

[2021-07-30 02:02] #1881 closed

[2021-07-30 05:24] TaylorHere commented on #1662
Orgnization/Company: lilithgame.com
Location: ShangHai, China
Contact: taylorherelee@gmail.com
Purpose/Scenario: Using Kubevela to build Machine Learning PaaS
Features wanted:  None for now

[2021-07-30 05:28] TaylorHere opened #1987 "kubevela-vela-core crash after apply a CompoentDefine which workload is a CRD"
**Describe the bug**
apply a CompoentDefine then vela core crashed

**To Reproduce**
[code]
related CRD
[code]

[code]
**KubeVela Version**
Version: 1.0.7
GitRevision: git-44e8352d
GolangVersion: go1.16.5

**Cluster information**
v1.18.8-aliyun.1

[2021-07-30 05:55] TaylorHere commented on #1987
changing cue script to this, fix the bug, but the core should crash by such reason
[code]

[2021-07-30 05:57] TaylorHere commented on #1987
looks like the empty list cause the crash
[code]

[2021-07-30 10:39] #1924 closed

[2021-07-31 00:45] wonderflow opened #1998 "the minimal K8s version should be at least >= v1.18"
we should update all our docs and related environments（tests、dependency）

[2021-08-01 14:41] chivalryq commented on #1959
It's about generating OpenAPI JSON schema. That logs won't affect vela-core's function. If you are trying KubeVela you can simply ignore that by now.
Expectedly it will be fix after workflow feature finished. :)

[2021-08-02 02:14] TaylorHere opened #2000 "[Feature] Components Domain management"
**Is your feature request related to a problem? Please describe.**

in our use case many components can be assigning into one domain, like
defining Ingress + Service + Deployments as a Component called **Ingress Service**, also
defining Istio stuffs + Service + Deployments as a Component called **Service Mesh**
but **Ingress Service** and **Service Mesh** are all belong to a Domain called **Web Se

[2021-08-02 04:25] jingliming opened #2004 "The upgrade action failed after only domain of application trait Ingress was modified"
**Describe the bug**
The upgrade action failed after only domain of application trait Ingress is modified

**To Reproduce**

Steps to reproduce the behavior:
1. The YAML files of Component/Trait I used.
webservice/ingress
2. The YAML file of Application I applied.
[code]
3. Other operations I have done.
3.1 modify the domain of ingress trait
3.2 create an approllout for new apprev
4. See error
4.1

[2021-08-02 05:04] #1987 closed

[2021-08-02 07:36] chivalryq commented on #1836
Considering our `vela config` command, we should also define a config type component. So a more complete Initializer about env will be:
[code]

[2021-08-02 08:36] #1981 closed

[2021-08-02 11:08] #1984 closed

[2021-08-02 11:10] neinkeinkaffee opened #2007 "Pass information from component into trait in the case of Terraform configurations"
### Discussed in https://github.com/oam-dev/kubevela/discussions/2006

<div type='discussions-op-text'>

<sup>Originally posted by **neinkeinkaffee** August  2, 2021</sup>
Hello,

I have a `ComponentDefinition` and a `TraitDefinition` that both output a Terraform configuration. The component is supposed to create an S3 bucket, while the trait is supposed to create an IAM policy and role with read

[2021-08-02 11:31] #1982 closed

[2021-08-02 12:03] wonderflow commented on #1984
@neinkeinkaffee Why closed, have you fixed your issue?

[2021-08-02 12:15] wonderflow commented on #2007
In CUE template, we can use `context.<xxx>` for the context information include workload object. But the HCL format object was not well supported for now. I think we should support `context.paramters` for a quick support for this case, what do you think? \cc @leejanee

[2021-08-02 13:15] leejanee commented on #2007
I think this’s a data sharing issue, we need support it in subsequent development.
@wonderflow vela implemented this function in workflow, we have to consider whether to transplant existing capabilities or refactor the rendering process like workflow

[2021-08-02 13:17] neinkeinkaffee commented on #2007
Having access to the parameters passed to the component via `context.parameters` would be excellent and cover all our current use cases.

[2021-08-02 13:18] neinkeinkaffee commented on #2007
@leejanee Is that true for both options (`context.output` and `context.parameters`)? Are the changes to support either one for HCL rather involved?

[2021-08-02 13:34] leejanee commented on #2007
@neinkeinkaffee We hope to solve a kind of problem fundamentally.

[2021-08-02 14:28] neinkeinkaffee commented on #2007
Would you see any other ways currently that would help me get around the duplication I'm currently having in my `ApplicationDefinition` from above, where I pass the same properties twice?

[code]

[2021-08-03 02:34] zjq123456 opened #2008 "applicationcontext status.conditions patch nothing"
**Describe the bug**
ApplicationContext status patch data fail, because data is empty.

**To Reproduce**
file: pkg/controller/core.oam.dev/v1alpha2/applicationcontext/applicationcontext_controller.go
line 99: appConfig.Status = appContext.Status
Solution Suggestion:  appContext.Status.DeepCopyInto(&appConfig.Status)

**Expected behavior**
Expect ApplicationContext status patch success.

**Screensh