[2022-06-30 08:54] FogDong commented on #4286
/cc @Somefive

[2022-07-01 01:27] opswfit opened #4292 "[Feature]关于traits插拔的形式直接让应用发布者去使用"
一、背景
现在的traits的模板是通用的，在发布应用后，再根据需要添加对应的特征模板，填写参数后最终成为一个完整application一部分

二、建议
对于一个完整的项目来说包含很多不同的应用，每个应用的运维特征tratis基本上是可复用的。能否实现tratis的模块化。即统一管理运维特征(通用参数都由平台运维已经定义好，发布应用时拿来就用)。部署应用的时候，直接拖动附加到需要这些运维属性的application。现在这种运维特征模式，做的很多是重复性工作(即不同的应用，附加相同的trait每次需要编辑填写一次)

![image](https://user-images.githubusercontent.com/13762962/176804215-4f1a1d07-6a25-4ff8-8bc2-ca68e6f41c16.png)

[2022-07-01 01:30] barnettZQG commented on #4292
@opswfit 实现你说的效果比较容易，你只需要自定义没有参数或没有必填参数的TraitDefinition即可。

[2022-07-01 01:51] dongwenjuan opened #4293 "App with error healthy status"
**Describe the bug**
1. use k8s cli to get app info, the filed "HEALTHY" is true:
[code]
2. Get the details of the app, workflow runs failed:
[code]

**To Reproduce**
Deploy the app with helm component to multi-clusters, but the managed cluster doesn't installed fluxcd addon.

**Expected behavior**
The app "HEALTHY" filed is not true.

**Screenshots**

**KubeVela Version**
`# vela version
CLI Vers

[2022-07-01 01:58] wonderflow commented on #4292
最简单的办法就是通过 `vela def` 修改一个已经存在的 trait，然后重命名成 `s1-scaler-temp` 这种，直接就可以让用户复用。

[2022-07-01 03:53] chivalryq commented on #4293
This is because `.status.services` only contains one item at that time.

[code]

And `kubectl get` collect the additional column is defined here: https://github.com/kubevela/kubevela/blob/master/charts/vela-core/crds/core.oam.dev_applications.yaml#L32

[2022-07-01 04:32] wonderflow commented on #4293
You should install fluxcd addon for the managed clusters.

[code]

[2022-07-01 04:45] phantomnat opened #4294 "Goroutines leak if the server don't close the connections"
**Describe the bug**

goroutines keep increasing when doing a get request in workflows

**To Reproduce**

- Start server that don't close the connection (infinity read, write and idle timeout)
- Create the WorkflowStep.
- Create some Applications and leave it running.
- Request to metric endpoint to see the number of goroutines
[code]

    the result after let it running for a while and then delet

[2022-07-01 05:54] dongwenjuan commented on #4293
Thanks~ But I think the "HEALTHY" field means the whole app's status. As one of the service in the app is healthy doesn't mean the app is healthy, espically the workflow runs failed.

[2022-07-01 05:59] dongwenjuan commented on #4293
So i think it's not reasonable for the 'HEALTHY' filed, as it's not represent the whole services in the app.

[2022-07-01 06:22] wonderflow commented on #4294
Thanks for report, we're investigating:

1. create the missing service for fiber image:

[code]

2. The workflow report the following errors, seems not connected

[code]

[2022-07-01 06:26] wonderflow commented on #4294
The service should be:
[code]

And the workflow runs in my env.

[2022-07-01 06:28] wonderflow commented on #4294
I didn't reprodue, the gorutine is always 231.

[2022-07-01 06:40] phantomnat commented on #4294
Not sure why there is the error about timeout.

I think the workflow should be in running forever.
[code]

[2022-07-01 06:46] wonderflow commented on #4294
@phantomnat Yes, I have produced, the goroutine keeps growing. We're investigating now.

[2022-07-01 06:55] phantomnat commented on #4294
Got it.

My guess is because we create the client every time we do the request.

Normally, I would create it once and reusing it.

https://github.com/kubevela/kubevela/blob/master/pkg/builtin/http/http.go#L53

[2022-07-01 06:59] wonderflow commented on #4294
Yes, that's quite possible.

[2022-07-01 07:18] Carmendelope opened #4296 "[Bug] export2config and export2secret auth"
**Describe the bug**
Trying to deploy an example of an application with an `export2config` and `export2secret` workflowsteps,  the application is not correctly deployed as the user does not have permissions to update the `resourcetrackers`.
[code]
**To Reproduce**

Application YAML file:
[code]

After deploy it, the application fails:
[code]

**Expected behavior**

**Screenshots**

**KubeVela Vers

[2022-07-01 07:23] wonderflow commented on #4294
Yes, seems exactly the reason @phantomnat  Thanks.

[2022-07-01 07:51] wonderflow commented on #4296
@Somefive Will it work if we enable vela-prism in this case?

https://github.com/kubevela/prism

[2022-07-01 08:09] Somefive commented on #4296
No, it's a bug for kube.#Apply.

[2022-07-01 08:43] FogDong commented on #4294
Thanks for the detailed reproduction steps and great catch!
The reason is that we use a nil transport `&http.Transport{}` in every client so the idle connections explode :(

[2022-07-01 09:30] #4296 closed

[2022-07-01 09:52] #4294 closed

[2022-07-01 12:14] #4118 closed

[2022-07-01 14:11] #4052 closed

[2022-07-01 15:17] charlie0129 opened #4310 "Suggest the removal of an inappropriate binary file"
There is a large binary file at project root: https://github.com/kubevela/kubevela/blob/master/vela

Commit: https://github.com/kubevela/kubevela/commit/2772f0311b35c98ea42267db0d6b6b2deb2e3b84

We should delete it to prevent Git repo getting too large. **Preferably, remove it from Git history.**

[2022-07-01 15:25] wonderflow commented on #4310
MUST removed, thanks

[2022-07-01 15:31] wonderflow commented on #4310
fixed

[2022-07-01 15:31] #4310 closed

[2022-07-02 06:06] charlie0129 commented on #4122
What about storing the certificate in the registry config? Just like username and password does. When the user wants to access the registry, the certificate is automatically loaded.

[2022-07-02 07:31] barnettZQG opened #4311 "`vela addon upgrade` missing the history args"
**Describe the bug**

The different `vela addon upgrade`  with `vela addon enable` should keep the history args and support override it with new args. But, currently, it is not.

**To Reproduce**

1. `vela addon enable velaux --version=v1.4.2 repo=acr.kubevela.net`
2. `vela addon upgrade velaux --version=v1.4.5`

The `repo=acr.kubevela.net` will be missing

**KubeVela Version**

1.4.5

[2022-07-02 09:10] charlie0129 commented on #4311
BTW, the usage about adding args like `repo=acr.kubevela.net` is not documented in command help text (only on web doc). The user have no way of knowing this only using CLI. We should add it to CLI command help.

[2022-07-02 14:07] wonderflow commented on #4122
Yes. That should be good experience

[2022-07-02 14:16] wonderflow commented on #4311
Yes, definitely. The command help text should be the best document.

[2022-07-03 14:46] opswfit opened #4314 "应用回收之后，UI界面一直显示删除中，实际系统上没有这个应用了，是个bug么?"
![image](https://user-images.githubusercontent.com/13762962/177045152-1497b722-1dcf-45f0-94c8-ee593f1e424c.png)

[root@iZj6c8l1o9y83oohkrljirZ ~]# vela ls -n vela-test
APP       	COMPONENT 	TYPE      	TRAITS                                    	PHASE   	HEALTHY	STATUS                                                      	CREATED-TIME
vela-nginx	vela-nginx	webservice	scaler,gateway,annotations,stora

[2022-07-04 02:45] FogDong commented on #4314
Is the status of Application is `deleting` in the cluster?

[2022-07-04 03:24] yucw01 opened #4316 "mutil cluster with override, workflow `deploy` trigged if yaml not changed"
**Describe the bug**

**To Reproduce**

[code]

**Expected behavior**

skip ??

**Screenshots**

**KubeVela Version**

[code]

**Cluster information**

**Additional context**

[2022-07-04 04:14] #4138 closed

[2022-07-04 07:12] bxiiiiii opened #4317 "Installation fails on Ubuntu 20.04"
**Describe the bug**

Installation fails on Ubuntu 20.04
**To Reproduce**

I am using the Installation from the documentation until using **sudo velad install**

**Screenshots**

![2022-07-04 15-04-39 的屏幕截图](https://user-images.githubusercontent.com/75570810/177100971-652ef647-f773-4891-8f57-845952ae2d61.png)

[2022-07-04 07:13] FogDong commented on #4317
cc @chivalryq

[2022-07-04 07:14] jiangshantao-dbg opened #4318 "ref-objects component parameter invalid field cause validating webhook failed or application failed"
**Describe the bug**
when use ref-objects, the invalid field of the parameter cue cause webhook or application deploy failed.

**To Reproduce**
1. application yaml file (vela.yaml) i use:
[code]
2. `kubectl apply -f vela.yaml` with the error:
[code]
3. add `apiVersion and kind field`,
[code]
4. still have error:
[code]
**Expected behavior**

ref-objects should be worked with resource and name fiel

[2022-07-04 07:15] bxiiiiii commented on #4317
What more information is needed?

[2022-07-04 07:32] bxiiiiii commented on #4317
Error from server (NotFound): deployments.apps "kubevela-vela-core" not found

[2022-07-04 07:42] chivalryq commented on #4317
Oh, sorry, installation fails at "pre-install" stage.

Try get jobs at pre-install stage:

[code]

[code]

[2022-07-04 07:46] bxiiiiii commented on #4317
![2022-07-04 15-46-03 的屏幕截图](https://user-images.githubusercontent.com/75570810/177106991-b1c0ac67-203f-482e-be33-e003c824de45.png)

[2022-07-04 07:46] chivalryq commented on #4317
Actually you can try
- `velad uninstall` and `velad install` again to see if it is reproducable.
or
- `vela install --version=1.4.5`

[2022-07-04 07:47] chivalryq commented on #4317
try `kubectl get job -n vela-system -o yaml kubevela-vela-core-admission-create`

[2022-07-04 07:56] Somefive commented on #4318
I failed to reproduce your error. Could you run `vela def get ref-objects` and show what is the definition for `ref-objects`? Have you been upgrading KubeVela?

P.S.
1. For your application, to use the ref-objects for an object outside the app's namespace and re-apply it in the app's namespace, please use explicit topology (there's something bad for now).
2. Do not use `resource` and `apiVersion`

[2022-07-04 08:02] Somefive opened #4320 "ResourceKeeper delete resource not belong to the current application"
**Describe the bug**

**To Reproduce**

When deploying resources to locations where resource already exists, although the APPLY will failed, the resource will still be recorded in the ResourceTracker, which will let the resource to be recycled when the application is deleted.

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-07-04 08:14] jiangshantao-dbg commented on #4318
- run `vela def get ref-objects`:

[code]
- when i change it to this, it works. i check the src code, found the `#K8sObject` is not consistent with the [ObjectReferrer](https://github.com/jiangshantao-dbg/kubevela/blob/92fa67cd6961a28fd388298a9bb8b5162b301271/apis/core.oam.dev/v1alpha1/component_types.go#L33) structure, so i create a PR.
[code]

[2022-07-04 08:20] Somefive commented on #4318
That makes sense. Thanks for the PR.

[2022-07-04 08:30] bxiiiiii commented on #4317
still fails

[2022-07-04 08:31] bxiiiiii commented on #4317
![2022-07-04 16-28-29 的屏幕截图](https://user-images.githubusercontent.com/75570810/177115238-c2924b10-9ade-4ee7-85fe-469aab5246ff.png)

[2022-07-04 08:33] chivalryq commented on #4317
Sorry but you didn't show all the infomation of `kubectl get job`, could you paste all as text?

[2022-07-04 08:44] bxiiiiii commented on #4317
No resources found in default namespace.

[2022-07-04 08:46] bxiiiiii commented on #4317
when using kubectl get job -A

kube-system            helm-install-traefik-crd              0/1           33m        33m
kube-system   helm-install-traefik                  0/1           33m        33m
vela-system   kubevela-vela-core-admission-create   0/1           33m        33m

[2022-07-04 09:07] bxiiiiii commented on #4317
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
  creationTimestamp: "2022-07-04T08:10:37Z"
  labels:
    app: vela-core-admission-create
    app.kubernetes.io/instance: kubevela
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: vela-core
    app.kubernetes.io/vers

[2022-07-04 09:24] chivalryq commented on #4317
What about `kubectl describe job -n vela-system kubevela-vela-core-admission-create`?

[2022-07-04 09:26] bxiiiiii commented on #4317
Name:           kubevela-vela-core-admission-create
Namespace:      vela-system
Selector:       controller-uid=c1ed86a7-757a-4632-8484-72cdac16c968
Labels:         app=vela-core-admission-create
                app.kubernetes.io/instance=kubevela
                app.kubernetes.io/managed-by=Helm
                app.kubernetes.io/name=vela-core
                app.kubernetes.io/version=v1.4.3

[2022-07-04 09:31] chivalryq commented on #4317
The pod is running, check the pod status:
[code]
and
[code]

Also a tip: GitHub support Markdown syntax, try wrap code like

\``` yaml
yaml here
\```

[2022-07-04 09:39] bxiiiiii commented on #4317
kubectl get pod -n vela-system
[code]
kubectl get pod -n vela-system kubevela-vela-core-admission-create-s644k -oyaml
[code]
kubectl describe pod -n vela-system kubevela-vela-core-admission-create-s644k
[code]

[2022-07-04 10:25] charlie0129 commented on #4317
Do you have enough disk space available?

[2022-07-04 10:59] bxiiiiii commented on #4317
got it.

[2022-07-04 13:43] huiwq1990 opened #4326 "[Feature] support edge application delivery"
**Is your feature request related to a problem? Please describe.**

[openyurt application delivery proposal](https://github.com/huiwq1990/openyurt/blob/feat-app-delivery/docs/proposals/20220611-openyurt-application-delivery.md)

[openyurt application delivery proposal chinese version](https://github.com/huiwq1990/openyurt/blob/feat-app-delivery/docs/proposals/20220611-openyurt-application-delivery

[2022-07-04 14:18] FogDong commented on #4326
It would be nice if you can comment on the community meeting agenda issue here kubevela/community#34 so that you can share your proposal and we can discuss this in the community meeting.

[2022-07-04 15:01] opswfit commented on #4314
![image](https://user-images.githubusercontent.com/13762962/177177190-77d2e1f4-1f81-4e9f-b623-e5f1b9f0b1b0.png)
![image](https://user-images.githubusercontent.com/13762962/177177281-c70c8396-ff90-4cef-9c8d-bc138e786fa4.png)

[2022-07-05 02:44] FogDong commented on #4314
You can check out the resource tracker of the Application in which you can see what resources are not deleted with:

[code]

[2022-07-05 03:14] charlie0129 commented on #4288
/assign

[2022-07-05 05:56] opswfit commented on #4314
kind: Configuration
    name: vela-nginx-rds-vela-test

是这个资源没删除，但是一直删除不了，我强制删除也没有删除掉
![image](https://user-images.githubusercontent.com/13762962/177259206-52fbbdab-fa12-442b-8166-2037cbe038d3.png)

[2022-07-05 06:17] opswfit opened #4327 "[Feature]terraform provider支持云资源按需配置"
一、背景
现在使用阿里云terraform provider创建出来的云资源，都是默认配置的。但是实际生产中，业务申请资源会有不同的规格要求和依赖的关联特性。这一块不知如何控制的

二、阿里云需求举例如下
1、申请redis自定义配置选择，必填字段如下
(1)交换机id或网段
(2)redis版本
(3)集群类型(主从、集群)
(4)集群规格
2、申请RDS自定义配置选择，必填字段如下
(1)交换机id或网段
(2)mysql版本
(3)规格
(4)存储类型
(5)存储空间
3、mongodb自定义配置选择，必填字段如下（这里字段有点多，我用表格代替）
(1)交换机id或网段
![image](https://user-images.githubusercontent.com/13762962/177261882-c72306e6-189e-48df-950c-4870889d2fb4.p

[2022-07-05 09:44] unionhu opened #4328 "尝试使用terraform alibaba插件，授权异常"
报错日志：
Error: failed to authenticate Terraform cloud provider terraform-alibaba err: failed to authenticate Terraform cloud provider alibaba for terraform-alibaba: context canceled

文档链接：
https://kubevela.net/zh/docs/reference/addons/terraform

**Screenshots**
![Uploading Snip20220705_7.png…]()

**KubeVela Version**

1.4.5

**Cluster information**
k8s 1.19

[2022-07-05 10:12] wonderflow commented on #4328
Does your cli version matches 1.4.5？ It's a known issue of CLI fixed in 1.4.5.

[2022-07-05 13:24] chivalryq commented on #4317
Closing since we have found the problem. Feel free to reopen it if you still have problem about VelaD installation @bxiiiiii  :D

[2022-07-05 13:24] #4317 closed

[2022-07-06 02:44] Mcduller commented on #4271
I was wondering  if user can delete app in different namespace by this new feature ?

[2022-07-06 03:10] unionhu commented on #4328
No, cli version is 1.4.3
1.4.5 is work, thanks!

[2022-07-06 03:12] #4328 closed

[2022-07-06 06:09] #4318 closed

[2022-07-06 07:34] #4258 closed

[2022-07-06 07:41] #4131 closed

[2022-07-06 07:43] #3536 closed

[2022-07-06 07:48] wonderflow commented on #3679
The annotation of configmap and secret is removed, https://github.com/kubevela/kubevela/pull/3939

[2022-07-06 07:56] #1343 closed

[2022-07-06 07:57] #2207 closed

[2022-07-06 07:58] wonderflow commented on #2501
supported in v1.4

[2022-07-06 07:58] #2501 closed

[2022-07-06 08:01] wonderflow commented on #3180
we already have gateway trait in v1.4 now

[2022-07-06 08:06] wonderflow commented on #3343
Closing as the `spec.workload` is a required value now.

[2022-07-06 08:06] #3343 closed

[2022-07-06 08:22] #1403 closed

[2022-07-06 09:42] #3902 closed

[2022-07-06 09:42] #3679 closed

[2022-07-06 15:43] huiwq1990 commented on #4326
We are happly to attend the meeting.

[2022-07-07 02:26] zzxwill commented on #3251
It's implemented by @Nicola115 .

[2022-07-07 02:26] #3251 closed

[2022-07-07 03:08] FogDong commented on #3180
This issue is not fixed yes, the gateway trait will always create a service, so if the user creates the service in webservice, it will be overridden.

[2022-07-07 04:21] #4122 closed

[2022-07-07 05:59] #4268 closed

[2022-07-07 07:48] wonderflow opened #4339 "[Feature] support pass data from Terraform cloud resource to helm component"
**Is your feature request related to a problem? Please describe.**

Below is my application that the RDS component will generate a secret name `db-conn`, it has a  `DB_PUBLIC_HOST` key with the valueI want to pass to helm component.

[code]

**Describe the solution you'd like**

Add a velaql into component definition.

[code]

The status of velaql should be passed into the `context.velaql`.

Then

[2022-07-07 08:04] barnettZQG commented on #3908
Can not reproduce.

[2022-07-07 08:04] #3908 closed

[2022-07-07 08:53] barnettZQG commented on #4339
This is a simple proposal, we could combine with configuration management requirements

[code]

[2022-07-07 13:01] crazychengmm opened #4340 "[Feature]关于阿里云资源rds使用"
https://kubevela.net/zh/docs/end-user/components/cloud-services/terraform/alibaba-rds

想以账号为单位，申请database，我们的应用有以下的场景，
多个应用，单个实例，多个database，多个账号，目前上面只能支持单账号访问多个database

[2022-07-08 01:38] #4233 closed

[2022-07-08 03:30] wangyikewxgm commented on #4283
Discussed  offline  with @wonderflow and @Somefive, we plan to provide a new render solution for addon's application template. The purpose  of this plan is to avoid add any render magic in code, we will allow user define application template with cue file, then user can write the render logic with cue. For example if an addon developer want to let user set the target namespace and cluster , he can

[2022-07-08 10:31] tommy1199 opened #4342 "[Feature] Enhance label and annotation feature to all managed resources not only pods"
**Is your feature request related to a problem? Please describe.**

When using kubevela with ArgoCD, ArgoCD will track all resources created by Kubevela which leads to problems, as the created resources are dynamically created and not known to ArgoCD. So it could happen that ArgoCD prunes these resources. This can be prevented by setting the following annotations

[code]

If using the annotations

[2022-07-08 10:44] barnettZQG commented on #4342
@tommy1199
I'm curious Argo will delete resources it doesn't know, is this the default behavior?

[2022-07-08 11:07] tommy1199 commented on #4342
ArgoCD can be configured to "self-heal". In this case it would auto-prune everything which is linked to an app, but not found in the yaml files.

Also it happens when running a sync with prune activated which is not the default, but often used. It is quite helpful to remove unwanted resources when they are removed from git.

[2022-07-08 11:08] tommy1199 commented on #4342
I also tried to create an own trait to handle these annotation, but as far as I can see, it then just works with the defined workload resource like deployment. Could it work when I define an own policy for that?

[2022-07-08 11:13] wonderflow commented on #4342
What kind of component are you using? I think we can just define a custom trait for fix.

[2022-07-08 11:23] tommy1199 commented on #4342
Currently webservice, but I think this would fit to all. If you could provide an example for a custom trait, that would be great.

[2022-07-08 11:40] tommy1199 commented on #4342
I tried the following

[code]

But this only adds the annotations to the deployment, but not e.g. to the Service, HPA, Ingress, etc...

[2022-07-08 13:11] wonderflow commented on #4342
Try like the following:

[code]

Use patch for workload while use `patchOutputs` for the rest resources. https://kubevela.net/docs/platform-engineers/traits/patch-trait#patch-in-traits

I think we can even use `for loop` in the patch trait, not sure if it works. \cc @FogDong
It could be something like below:

[code]

[2022-07-08 20:50] tommy1199 commented on #4342
I tried both now and it seems to work with the for-loop. Thanks for the tip. Only thing I have to keep in mind is that the argocd trait has to be the last in the list, so that outputs contains all resources also created by the other traits.

But this looks feasible to me :)

[2022-07-08 20:53] #4342 closed

[2022-07-09 00:41] wonderflow commented on #4342
Yes. It Must be the last trait to patch for other trait. Thanks for the reminds.

[2022-07-09 01:16] wonderflow commented on #4342
@tommy1199 Would you like to share something more about how you use KubeVela with ArgoCD? I'm also thinking of write some blog for that.

[2022-07-09 10:45] achanceofsunshine opened #4344 "在使用op.#Fail的时候发现和component的健康检查冲突"
我们自己开发了一个workflow：
[code]
这个workflow的功能就是，如果用户配置了when条件，会根据when条件判断是否部署这个component，没有配置when条件功能就是部署这个component。

现在用户有个需求，不想因为某一个component部署失败，整个应用的状态是一直在等component健康。所以我在11-13加上了状态判断去调用op.#Fail，发现这段代码是不会执行的。除非在调用op.#ApplyComponent的时候加上waitHealthy: false。这样又会带来另外一个问题，成功部署的component，APP的状态是unhealthy，而且components部署变成了并行了，我们要的是串行。

app.yaml
[code]

[2022-07-10 13:53] tommy1199 commented on #4342
Sure,

in several projects I already used ArgoCD which brings the benefits of GitOps, but also has a nice UI showing all resources which are part of an "App" (not the same as the kubevela app). Most of these benefits are more in the direction of the platform team, but a developer still has to handle the complexity of pure K8s resources. They have to understand how a deployment works, how to setup

[2022-07-11 02:54] FogDong commented on #4344
这个看起来是因为前面还在调用 apply component，所以根本没执行到 op.Fail

这个 when 能不能用 workflow 的 if 功能去覆盖？

[2022-07-11 07:03] chivalryq commented on #4340
Working on this

[2022-07-11 08:05] wonderflow commented on #4326
Typo: subnet -> subset

[2022-07-11 14:23] huiwq1990 commented on #4326
@wonderflow  I think it works fine for deploy helm to a specific nodepool. If we want to deploy helm to all nodepools, did we should write override policy for all nodepools?

[2022-07-11 15:11] tommy1199 opened #4359 "Missing ownerReference information in created resources by the kubevela operator"
**Describe the bug**

Kubernetes has the concept of ownership of resources (see [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/owners-dependents/)). It is meant to avoid interfering of objects that do not belong to a controller, e.g. it can happen that based on the label selector two deployments think they own a ReplicaSet and start to modify it. To avoid that to controll

[2022-07-12 07:55] tommy1199 commented on #4359
Thanks for the very detailed answer. The multicluster deployment support is the topology feature, right?

I think I misunderstood Kubevela, or didn't read in detail as I limited it to an operator which just simplifies the resources needed for a deployment to a more application centric view. I didn't give much thought on the topology and workflow part as it overlaps with a lot of tools for workflow

[2022-07-12 07:55] #4359 closed

[2022-07-12 08:02] Somefive commented on #4359
Thanks for the raised discussion. :)

The multicluster deployment support is the topology feature. Compared to simple multicluster delivery, KubeVela application manages the lifecycle of resources, which makes it much harder since it needs to track the dispatched resources across clusters. It is true that in limited scenarios OwnerReference can work very well.

[2022-07-12 08:37] wonderflow commented on #4359
@tommy1199 BTW, what is the particular scenario that without ownerreference you can't accomplish?

[2022-07-12 09:04] tommy1199 commented on #4359
@wonderflow it is not that I can not accomplish something with the current setup, but as @Somefive already mentioned, some tools are using the ownerreference for the object graph e.g. for visualization (like ArgoCD).

I can just imagine that it could interfere with other tools if it is missing as the ownership is not clear and tools would expect the ownerReference to check if a resource is owned b

[2022-07-12 09:13] wonderflow commented on #4359
Thanks for clarification. I think we can somehow add a feature flag (when users only use single cluster scenario for abstraction) if there're some important scenarios that were blocked.

[2022-07-12 10:05] tommy1199 commented on #4359
That would be awesome if this is possible. Thanks

[2022-07-12 11:19] StevenLeiZhang commented on #4311
because it is argument of VelaUX addon, not vela cmd

[2022-07-13 03:05] barnettZQG opened #4368 "[Feature] Build some observability addons"
Observability is a crucial feature for KubeVela. The community is working on this. There are some very useful utils that could become add-ons and join the KubeVela world.

## Exporters

- [ ] Mysql Exporter
- [ ] Redis Exporter
- [ ] JVM Exporter
- [ ] MongoDb Exporter

More refer to: https://prometheus.io/docs/instrumenting/exporters/#exporters-and-integrations

## Service Discover

- [ ] Service

[2022-07-13 06:01] wonderflow opened #4371 "support dry-run for addon to print all yamls"
Addon is actually a bunch of yaml, it will help you deploy. What if we have a command that help render these yamls:

[code]

And it prints all those yamls, then you can apply them?

[code]

_Originally posted by @wonderflow in https://github.com/kubevela/kubevela/discussions/4366#discussioncomment-3134551_

[2022-07-13 06:58] chivalryq opened #4373 "CLI delete provider error: context exceed"
**Describe the bug**

Use vela CLI to delete a provider
[code]

**To Reproduce**

1. vela addon enable fluxcd
2. vela addon enable terraform
3. vela addon enable terraform-alibaba
4. vela provider add terrafom-alibaba
5. vela provider delete terraform-alibaba --name=provider

**Expected behavior**

Provider deleted successfully

**Screenshots**

**KubeVela Version**

[code]

**Cluster information*

[2022-07-13 09:24] jiangshantao-dbg opened #4376 "ref-objects component apply object to namespace different from app namespace causes CollectHealthStatus failed"
**Describe the bug**
when i add ref-objects component to the application with an object which namespace different from application, the component apply success but health status failed.

i check the source code and find out that when CollectHealthStatus vela use application's namespace to get object instead of the ref-object's namespace. so the object is not found.

error message as follows:
[code

[2022-07-14 02:13] #4245 closed

[2022-07-14 03:14] foursevenlove commented on #3924
I've submitted a PR https://github.com/kubevela/kubevela/pull/4379, please review it, thanks @Somefive

[2022-07-14 08:25] Aimeerrhythm opened #4382 "关于VelaUX安装addon-istio问题"
1. ### VelaUX上安装平台自带的的addon-istio，在自有集群有istio且与平台版本不一致情况下，无法使用
![image](https://user-images.githubusercontent.com/34757054/178937209-fdea0c8c-80b6-46bb-b645-266b90d5d0f9.png)

2.结合问题1，当前的安装过程无法取消
![image](https://user-images.githubusercontent.com/34757054/178937371-10c50893-4b54-40b2-a4cd-06d881ef5a00.png)

[2022-07-14 14:30] MimicTester1307 commented on #4018
@FogDong One of the checks from `golangci-lint`  states that `strings.Title`  has been deprecated. It suggests using [cases]( golang.org/x/text/cases instead).

However, `cases.Title` requires a language tag to specify which language it should parse. I used English at first, but since KubeVela is used in Chinese, I may have to check for that too. This could mean modifying function parameters, whic

[2022-07-15 02:54] FogDong commented on #4018
@MimicTester1307 You can use English directly, some of the core contributors of KubeVela are from China but they're all good with both English and Chinese, the project itself is a worldwide project so we can just use English in the code.

[2022-07-15 04:01] barnettZQG commented on #4382
@Aimeerrhythm CRD(Operator) 冲突是正确考虑要解决的问题之一，如果需要取消启用过程目前可以通过 命名行 `vela addon disable addon-istio` 来卸载。

[2022-07-15 05:03] barnettZQG commented on #3300
This issue is not fixed.

[2022-07-15 09:56] barnettZQG opened #4389 "[Feature] Allow work together with multiple policies of the same type."
**Is your feature request related to a problem? Please describe.**

We can define some common scenario policies in advance, such as:

[code]

This policy means allowing the replicas of the workloads(Deployment, StatefulSet, Job) configuration to drift.

[code]
This policy means allowing the labels of the pod template(Deployment) configuration to drift.

Then, we could create an application to refe

[2022-07-15 10:45] TIEDPAG commented on #4218
I see this pr https://github.com/kubevela/kubevela/pull/4378 seems to have resolved this issue, but TCPRoute still seems to be an issue

[2022-07-15 12:09] #4273 closed

[2022-07-15 12:54] barnettZQG commented on #4389
Here: https://github.com/kubevela/kubevela/blob/master/pkg/resourcekeeper/resourcekeeper.go#L61

[2022-07-15 13:38] #4314 closed

[2022-07-15 15:08] oeular opened #4392 "[Feature] Support resourcetracker can be stored after compressing"
For saving the capacity of the etcd cluster in the hub cluster, some resources are expected to less size.

For the resourcetrackers with more versions and  within all resources specifications, compressing them before saving will save much capacity, and improving usability of the hub cluster.

For implematation, we can set a parameter --feature-gate when core-controller work

[2022-07-15 15:14] oeular opened #4393 "[Feature] vela apiserver supports the mysql driver for storing the metadata stored in k8s configmap now"
For solving the problem of the limited capacity of the etcd cluster, there is need to provide a new storage driver for vela apiserver.

[2022-07-15 15:29] oeular opened #4394 "[Feature] resourcekeeper provides control capacity on the application level"
The main implementation of the resource management logic locates at [pkg/resourcekeeper](../../pkg/resourcekeeper).
The **ResourceKeeper** takes charge of the dispatching, tracking, and recycling of all resources.
- **Dispatch**: First record resources in **ResourceTracker**, then apply resources. Depending on the life-cycle of resources, either **Versioned ResourceTracker** or **Root ResourceTrac

[2022-07-15 15:34] oeular opened #4395 "[Feature] Provide the backup capacity for vela metadatas and resources"
Now all data of vela is stored in the hub cluster when vela apiserver with kube-api to store, it is needed to backup the data to avoid the fault of the hub cluster.

[2022-07-15 15:36] oeular opened #4396 "[Feature] Integrate the kube-mark as an addon for vela performance testing"

[2022-07-15 15:38] barnettZQG commented on #4393
Current already supports the MongoDB, For the Mysql, there is Issue #3666

[2022-07-15 15:38] #4393 closed

[2022-07-15 15:52] oeular opened #4397 "[Feature] ResourceInfo in GetGetKubeCluster can be optional"
There is much data in ResourceInfo, some performance problem will happen when the managed cluster with lots of nodes.
So the ResourceInfo is needed to be optional, or update the ResourceInfo in period (not  by every function call).

[2022-07-16 07:28] fourierr commented on #4392
Not only rt  but also apprev.

[2022-07-17 09:59] chivalryq commented on #4392
Let's talk this in #4395

[2022-07-17 14:17] wonderflow commented on #4395
Yes, i would also thinking of some solutions:

1. The simpliest way is to use vela app(cronjob) for this. Just write an image to load applications from the hub cluster and sync to a database.
2. Make the https://velero.io/ as addon , ref https://github.com/kubevela/kubevela/discussions/1645#discussioncomment-797504

[2022-07-18 02:38] Somefive commented on #4394
Capacity of resourcekeeper? Do you mean capability of resourcekeeper? Or the size of the resourcekeeper?

[2022-07-18 02:49] Somefive commented on #4376
The bug you describe is solved in https://github.com/kubevela/kubevela/pull/4349. The next release version will fix them.

BTW, the topology policy you use should add `namespace: "dev-test"` because you are referencing an object from another namespace. If you do not add this flag, the application will try to dispatch the configmap into the original namespace ("default" in your case).

[2022-07-18 02:49] Somefive commented on #4376
Feel free to reopen this issue if you find further bugs.

[2022-07-18 02:49] #4376 closed

[2022-07-18 02:53] Somefive commented on #4316
The application for now, as a whole, cannot rerun only part of the workflow. If any of the application spec changes, it will trigger the rerun of the whole workflow (except when you use the PublishVersion mechanism).

However, you do not need to worry about the re-deploy of the "dev" environment, if the declared resources in "dev" environment does not change. Although the notification will be sent

[2022-07-18 02:53] #4316 closed

[2022-07-18 03:48] h7kanna opened #4400 "Unable to enable CloudShell addon"
**Describe the bug**

Unable to enable CloudShell addon

Error: https://release.daocloud.io/chartrepo/cloudshell/index.yaml": dial tcp 113.31.108.245:443:

**To Reproduce**

Steps to reproduce the behavior:
1. Enable VelaUX
2. Go to Platform Setting
3. Go to Enable CloudShell

**Expected behavior**
CloudShell addon enabled.

**Screenshots**
<img width="1767" alt="Screen Shot 2022-07-17 at 10 47 21

[2022-07-18 03:54] wangyikewxgm commented on #4400
The reason might be your network has some problems. Can you access the helmRepo?

[2022-07-18 04:21] oeular commented on #4394
@Somefive  You're right, I mean the capability of resourcekeeper.

[2022-07-18 04:22] Somefive commented on #3979
Should be fixed in https://github.com/kubevela/kubevela/pull/4207 .
I tried the application below
[code]
It works in v1.5.0-alpha.2.

Feel free to reopen it if there is any further bug / feature requests.

[2022-07-18 04:22] #3979 closed

[2022-07-18 04:44] oeular commented on #4397
Vela components access the managed clusters through the cluster-gateway, and the GetGetKubeCluster is called to get the resources' profile data from the managed cluster, and then write then to a configmap, so there will be trigger performance problem for costing much time to get profile data when vela controls many clusters.

The method is  here——ws.Route(ws.GET("/{clusterName}").To(c.getKubeClust

[2022-07-18 05:44] jiangshantao-dbg commented on #4376
thanks for reply. what i want is to just apply one of the ref-objects to another namespace "dev-test" and others stay the same in "default" namespace. this fix may not help?  topology policy may cause all objects to apply to the specified namespace?

[2022-07-18 05:48] Somefive commented on #4394
How do you do the conversion? External CLI tools or operators on server?

Is there any way for KubeVela controller to know whether the conversion goes well or not?

[2022-07-18 06:10] StevenLeiZhang commented on #4400
https://github.com/kubevela/catalog/blob/95182838e0685a8c06e5405d25cce3e5e43c735a/addons/cloudshell/template.yaml#L12

I think it is better to expose one input parameter, and let user set the Chart's URL.

[2022-07-18 06:22] Somefive commented on #4396
For anyone who is interested in this issue, you can refer to https://hub.docker.com/r/oamdev/kubemark and https://github.com/kubevela/kubevela/tree/master/hack/pressure-test.

P.S. The above doc might be a bit outdated.

[2022-07-18 07:53] jiangshantao-dbg commented on #4376
i have try this fix, and i can help. i don't need to specify the namespace in topology policy. thank you.

[2022-07-18 09:17] lgj101 opened #4404 "Error in Vela cli enabling velaux additional DEX parameters"
**Describe the bug**
When velaux is enabled with Vela cli, the following error occurs when you want to configure the DEX parameter to true，

**To Reproduce**

vela addon enable velaux dex=true
{"level":"info","ts":1658135083.7932477,"caller":"addon/versioned_registry.go:210","msg":"Not specified any version, so use the latest version v1.4.6"}
Error: render addon application fail: fail to render cu

[2022-07-18 09:20] chivalryq commented on #4404
cc @FogDong

[2022-07-18 09:30] barnettZQG commented on #4404
@lgj101 There is a way to bypass this issue. You can enable the VelaUX first, then set the DEX parameter via UI.

[2022-07-18 09:41] lgj101 commented on #4404
Thank you, I saw this in the document, but I want to start single sign on by default. After all, DEX parameters are also allowed to be configured here

[2022-07-18 09:51] barnettZQG commented on #4046
@wonderflow All users could exec `vela` and `kubectl` in the environment created by CloudShell. Can we close this issue?

[2022-07-18 15:07] chivalryq commented on #4397
cc @barnettZQG

[2022-07-18 17:12] dhiguero opened #4407 "[Feature] detect platform options when installing addons"
**Is your feature request related to a problem? Please describe.**

While installing the flux addon, we came up with an issue that may be solved by introducing some level of parametrization. Currently, it is not possible to pass parameters when installing an addon which may result in inconsistent installations. As example use cases, consider:

* **Multi-tenant installations**: Some addons are by d

[2022-07-18 18:42] charlie0129 commented on #4407
Would you take a look at [addon parameters](https://kubevela.io/docs/next/platform-engineers/addon/intro#define-parameter-for-addon)? From my first glance, it serves the same purpose as you suggested. Let me know if it suits your needs or is there anything needs to be improved.

For example, `chartmuseum` addon have several parameters that the user can customize:

[code]

[2022-07-19 01:28] lgj101 commented on #4404
Can you do this over there? I still show the same error here

[2022-07-19 02:27] Somefive commented on #4407
Unlike helm, `vela addon enable` currently does not use --set for setting parameters for now. The parametrization is implemented through cue rendering process. Therefore, not all addons support parametrization by now.

For example, the addon of fluxcd uses native YAML files, which means it does not support parametrization.
https://github.com/kubevela/catalog/tree/master/addons/fluxcd/resources

Bu

[2022-07-19 02:30] #3933 closed

[2022-07-19 07:18] dhiguero commented on #4407
Thanks @charlie0129, @Somefive for the extra information. I was not aware of the current parametrization capabilities for addons. With this I think the first problem of being able to pass parameters to addons is already solved.

I think what remains to be addressed is how to ensure the consistency of the installation with topics such as multi-tenancy, security, etc. once addons are installed.

[2022-07-19 08:40] wonderflow opened #4410 "[Feature] vela dry-run render results should be affected by override policy and deploy workflowstep"
**Is your feature request related to a problem? Please describe.**

Now `vela dry-run` didn't take policy and workflow into consideration. But it will not show the real results especially for override policy.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-07-19 09:03] #4404 closed

[2022-07-19 14:56] ixxeL2097 commented on #2608
I'm using Kubevela `1.4.6` and Argocd `2.4.6` and I also have a problem with when creating Kubevela `Application` from ArgoCD.
Actually ArgoCD create the Kubevela `Application` but instantly deletes the associated resources (deployment, configMap, secrets...), so I end up with only a Kubevela `Application` Synced and healthy but nothing really deployed !

![image](https://user-images.githubusercon

[2022-07-19 15:16] Somefive commented on #2608
@ixxeL2097 One of the key question is who deleted the associated resources? I haven't encountered similar problems before, but seems that in your case KubeVela created the resources and then deleted?

If it is KubeVela who deletes the associated resources (which means KubeVela creates them and deletes them), then you can try to use the apply-once policy as a workaround temporarily (which means Kub

[2022-07-19 15:23] ixxeL2097 commented on #2608
@Somefive from my understanding, it's ArgoCD deleting the resources created by Kubevela. You can see the inline diff on the outOfSync resources telling that desired manifest is actually empty so resource should not exist according to ArgoCD
![image](https://user-images.githubusercontent.com/19793672/179787654-a7812ad9-9740-4430-aa7b-2c4dd50e7be5.png)

When I turn off Prune on ArgoCD, resources are

[2022-07-19 15:30] Somefive commented on #2608
I see. Seems this issue needs to be dealt with from the perspective of ArgoCD. Could you try add "argocd.argoproj.io/tracking-id" annotation to resources created by KubeVela application and see if ArgoCD wants to prune them? If it works, then I think it could be some workarounds as mentioned by @wonderflow above.

[2022-07-19 16:01] ixxeL2097 commented on #2608
Ok, seems like it works this time. I mean ArgoCD doesn't display OutOfSync status for resources created by Kubevela, but it still sees a full inline diff for the the manifest. At least it doesn't delete the resource but it's not a very clean setup IMO.
Any idea on a future update maybe ?
Anyway, thanks for the help, much appreciated !

[2022-07-20 02:20] Somefive commented on #2608
@ixxeL2097 Well, if the annotation "argocd.argoproj.io/tracking-id" works, I guess it would be helpful if the abstraction of resources in KubeVela, like ComponentDefinition and TraitDefinition also adds the annotation to the resources, although I think it is still not very convenient. We will look into the issue of leveraging ArgoCD and KubeVela to manage resources and see if there are any alterna

[2022-07-20 02:39] barnettZQG commented on #2608
@ixxeL2097 Mabe this issue is useful for you. https://github.com/kubevela/kubevela/issues/4342

[2022-07-20 07:45] #4188 closed

[2022-07-20 08:01] wonderflow commented on #3882
@Krish-bhardwaj Hi, any progress?

[2022-07-20 08:02] #4320 closed, assigned to Somefive

[2022-07-20 08:13] charlie0129 commented on #4235
/assign

[2022-07-20 08:14] wonderflow commented on #3887
@Somefive is working on part of this issue.

[2022-07-20 08:19] wonderflow commented on #3940
Hi @fourierr Are you still working on this?

[2022-07-20 08:24] FogDong commented on #3818
This issue can be closed since we have support `if` and `mode` in workflow.

We can now use:
[code]

or:
[code]

[2022-07-20 08:24] #3818 closed

[2022-07-20 08:38] wonderflow commented on #3219
Hi @Carmendelope , have you solved your issue about the `tls: bad certificate` ? Does it relate with this one?

[2022-07-20 08:52] wonderflow commented on #4392
@chivalryq They're not the same thing, so I removed the dup label. I think compress the data should be important as the data can be large and exceed the etcd limit(2MB) that make the vela core not work.

[2022-07-20 14:31] fourierr commented on #3940
I haven't been working on this lately

[2022-07-21 02:04] #4219 closed

[2022-07-21 03:01] jiangshantao-dbg opened #4418 "ref-objects component don't dispatch updates to managedCluster when ref-objects modified in hubCluster"
**Describe the bug**
i use ref-objects component in my application, ref-object is created and modified in hub cluster and then dispatch to managed clusters. when application first applied, everything is ok. but when i modified the ref-object in hub cluster, i want this modification should be dispatch to managed cluster as expected, it doesn't work.

**To Reproduce**
- the first apply in hub cluste

[2022-07-21 03:26] wonderflow commented on #4418
You need to update the application after the configmap modified to trigger the deploy happen.

You can change the annotation:

[code]

[2022-07-21 03:47] barnettZQG commented on #4418
Reference document: http://kubevela.net/docs/end-user/version-control

[2022-07-21 06:10] jiangshantao-dbg commented on #4418
i don't think this is what i want.
i will have many ref-objects component in an application, some of ref-objects is shared-resources. if the ref-objects is modified, and then i must know which application i should add annotation to trigger the dispatch action. i think this is too complicated for end user to do this.
what i expect the vela-core to do is that vela monitor the modification of the ref

[2022-07-21 07:03] chivalryq commented on #4326
Here is another solution with trait. There is one trait for webservice (will introduce trait for helm later) if you want to deploy them to two node pool.
[code]

Note that It needed a replication policy in Application. Replication policy do two things:
1. It will replicate a component to two with different suffix.
2. Replication policy will assign different `context.replica-key` when component ren

[2022-07-21 07:19] chivalryq commented on #4024
Perhaps we could make use of [Fluxcd PostRender](https://fluxcd.io/docs/components/helm/api/#helm.toolkit.fluxcd.io/v2beta1.PostRenderer) Feature to provide another set of trait.
Pro: No need to change the vela-core render process
Con: A whole different group of trait. maybe difficult to maintain.

[2022-07-21 08:18] 519859716 opened #4421 "Vela CLI 纳管集群后，无法通过APi接口对该集群创建namespace"
版本信息：
KubeVela 1.4.6
问题现象：
1、通过后台 CLI  vela cluster join 128config --name work001
![image](https://user-images.githubusercontent.com/40968187/180164221-8699f97b-b2ad-4bf1-8ea8-ec10458f651b.png)
2、通过APiserver 向该work001集群创建namespace时报错“cluster not found in data store”
![image](https://user-images.githubusercontent.com/40968187/180164332-33d0ff74-3445-48fa-8a53-cfcba123c0b1.png)
3、根据解决方式 ，通过 list clu

[2022-07-21 08:37] barnettZQG commented on #4421
@519859716 Currently, VelaUX syncs the cluster metadata from the cluster only in Detail API. So you can create the namespace after you click the edit button.

This really should be improved. @Somefive  What do you think?

[2022-07-21 11:42] wonderflow commented on #4271
I think they shouldn't

[2022-07-21 17:05] huanghantao commented on #4180
/assign

[2022-07-22 01:40] wonderflow commented on #4421
@barnettZQG We should directly read the underlying secret in the vela apiserver instead of sync for a copy.

[2022-07-22 02:24] huanghantao commented on #4371
/assign

[2022-07-22 06:05] #3907 closed

[2022-07-22 06:09] barnettZQG commented on #4418
@jiangshantao-dbg   This is beyond the capabilities of `ref-objects`. Maybe we could have another solution for your scene.  Are you mostly syncing Configmaps?

[2022-07-22 06:24] maobuji commented on #3300
我没有使用存储，也报了类似的错误。但不是每种镜像都会出错，只有特定镜像，增加了ENV以后才会出错
vela version 1.4  使用的image继承于adoptopenjdk:8-jre

错误如下：
type:apply-component
    phase:failed
    message:step apply: run step(provider=oam,do=component-apply): GenerateComponentManifest: evaluate base template component=aidm-back app=aidmtest: failed to have the workload/trait unstructured: cue: marshal error: spec.template.spec.containers.0.env: fr

[2022-07-22 06:35] jiangshantao-dbg commented on #4418
Not just Configmaps. We consider to use kubevela to manage lifecycle of all the resources related  to an application, such as deployment, service, istio config etc. some of this resources is shared between applications, such as service, istio config. so need ref-objects to dispatch these shared objects. create these shared objects in hub cluster, and ref-objects them in application.

ref-objects c

[2022-07-22 06:36] #4235 closed

[2022-07-22 06:39] #4311 closed

[2022-07-22 07:00] Hanmengnan opened #4424 "[Feature] Add a UI based CLI tool to improve the convenience of user querying resource status."
## Background

In kubevela, we can use the ability of VelaQL to query the status of application related resources. At present, the existing `vela ql` and `vela status` commands in kubevela realize the query of resource status through the ability of VelaQL.

## Questions

However, the convenience of the current query method is limited. When users and developers are querying the resource status, the

[2022-07-22 07:28] dhiguero commented on #4407
Hi @wonderflow, I will to try rephrase the issue. The main problem I see with the current approach if we do not add any consistency mechanism is that by adding a new addon we may be conceptually breaking part of the installation. To illustrate this with an example, let us assume that we have installed Kubevela with multi-tenant, RBAC compliant options. As such, I would like to ensure that if I add

[2022-07-22 09:08] wonderflow commented on #4326
1. normal apply without replication

[code]

2. Deploy with replication policy
[code]

[2022-07-22 09:42] barnettZQG commented on #4326
@wonderflow What are keys? The application replication should set the node affinity？

[2022-07-22 09:58] #4283 closed

[2022-07-22 10:10] Hanmengnan commented on #4424
/assign

[2022-07-22 21:37] diego-milhomes opened #4427 "cross namespace definitions reference"
**Describe the bug**

Following the spec, I tried to use cross namespace definitions reference. [Spec](https://github.com/oam-dev/spec/blob/master/7.application.md#component)

_Optionally a namespaced component may be referenced as "namespace/component_name"_

**To Reproduce**

1. The YAML files of Component/Trait I used.
[code]
3. The YAML file of Application I applied.
[code]
4. Create app witho

[2022-07-23 14:15] fourierr commented on #4395
Velero is a way to look good.

[2022-07-23 20:39] h7kanna opened #4430 "Addons with names containing certain keywords not visible in VelaUX"
**Describe the bug**
Addon is not displayed in VelaUX if it has certain words in the addon name.

Example :  kube-worker-operator

This will be filtered out in the UI as it has 'worker' in the name.

Change the name in metadata will allow it  name: kube-wkr-operator

**To Reproduce**
1. Create an addon with name containing 'worker' in it.
2. Go to Velaux Addon page (home)

**Expected behavior**
Ad

[2022-07-24 03:18] h7kanna commented on #4400
I am able to enable addon now, may be a network issue.
But it did occure repeatedly before.

[2022-07-24 08:34] #4022 closed

[2022-07-24 13:11] wonderflow commented on #1958
I think this issue has already be resolved in v1.3.0+, closing. Feel free to re-open this issue if there's still any issue.

[2022-07-24 13:11] #1958 closed

[2022-07-24 15:32] sheldon-yan commented on #4421
/assign

[2022-07-25 03:59] ArenaSu commented on #4271
/assign

[2022-07-25 06:42] nashtsai opened #4438 "English term correction - "hack/pressure-test" show rename to "hack/load-test""
English term correction -  "hack/pressure-test" show rename to "hack/load-test"

[2022-07-25 06:48] wangyikewxgm commented on #4430
Have tested can it displayed right without this word?

[2022-07-25 07:01] wonderflow commented on #4438
yes, thanks for pointing out !

[2022-07-25 08:27] ArenaSu opened #4442 "[Feature] Remove --svc flag from vela delete command"
**Is your feature request related to a problem? Please describe.**

It's unnecessary to support svc flag args from vela delete command.

**Describe the solution you'd like**

Remove svc flag args from vela delete command.

**Describe alternatives you've considered**

**Additional context**

[2022-07-25 08:28] Somefive commented on #4442
/lgtm

[2022-07-25 14:08] h7kanna commented on #4430
Yes,I changed name to kube-wkr-operator to make it displayed

[2022-07-25 14:17] #4442 closed

[2022-07-26 07:43] Somefive opened #4469 "[Feature] Support updating resources through replace"
**Is your feature request related to a problem? Please describe.**

KubeVela controller now uses three-way-merge-patch to calculate patch for resource updates, and use MergePatch/StrategyMergePatch to update resources.

However, it will let the StateKeep allow merges of unintended data, like malicious sidecar being injected into pods. This is due to the patchStrategy defined by [Kubernetes API](ht

[2022-07-26 09:51] Somefive opened #4470 "Component HealthCheck do not check the existence of the resource if there is no healthPolicy in ComponentDefinition"
**Describe the bug**

The health check will not check if the resource exists if the component definition has no healthPolicy. TraitDefinition also has this problem.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

v1.5.0-beta.4

**Cluster information**

**Additional context**

[2022-07-27 03:48] #4438 closed

[2022-07-27 10:11] barnettZQG opened #4485 "The `vela exec` command can not find the pod generated by HelmRelease"
**Describe the bug**

The `vela exec` command can not find the pod generated by HelmRelease

[code]

**To Reproduce**

1. Deploy an app with the helm-type component, such as the `dex` addon.
2. Execute `vela exec`

**Expected behavior**

Provide the pod list to be selected.

**Screenshots**

**KubeVela Version**

1.5.0-beta.4

[2022-07-27 10:58] #4271 closed

[2022-07-27 10:59] barnettZQG opened #4487 "Repeat query configuration type"
**Describe the bug**

![image](https://user-images.githubusercontent.com/18493394/181230795-c1d3d2df-eabb-44ef-9ebb-462c30255b7e.png)

![image](https://user-images.githubusercontent.com/18493394/181230864-1a01dc9e-3ebb-4afa-8a9d-b62fbac2822d.png)

`custom.definition.oam.dev/catalog.config.oam.dev: velacore-config`: This is the old label.
`catalog.config.oam.dev: velacore-config`: This is new label

[2022-07-27 11:01] barnettZQG opened #4488 "`vela port-forward` provides the duplicate options."
**Describe the bug**

![image](https://user-images.githubusercontent.com/18493394/181231646-2ebb2b3b-3398-4534-bb79-790d7f5f0fc7.png)

**To Reproduce**

[code]

**KubeVela Version**

1.5.0-beta.3

[2022-07-27 11:14] barnettZQG opened #4489 "CloudShell read-only authorization is not automatically revoked."
**Describe the bug**

If a user has read-only permission in a project, when he first opens the CloudShell, the role binding will be created. But if remove this user from the project, the role binding still exists. So, this user still can view the resource in the project via CloudShell.

![image](https://user-images.githubusercontent.com/18493394/181233789-a0e74e1c-d0ca-444a-ac6a-d6cf72fca47a.png)

[2022-07-27 11:24] barnettZQG commented on #4430
@h7kanna There is no filtering policy. If you enable the custom addon from local dir, it can not be shown in UI. Currently, only show the addon from the addon registry.

@wangyikewxgm Maybe we should add the addon enabled from local dir to the addon list.

[2022-07-27 15:08] ghostloda commented on #4489
/assign

[2022-07-27 15:08] ghostloda commented on #4487
/assign

[2022-07-28 06:12] #4487 closed

[2022-07-28 06:40] #3856 closed

[2022-07-29 05:46] wonderflow opened #4498 "Following enhancements for system diagnose"
As a first initial PR, looks good to me. Following possible enhancements in later PR:
1. For system info, the list of arguments in the demo gif looks to be truncated due to the width of the terminal. Multi-line display might be more helpful.
2. For demo gif, it is clear that when everything is right, the command works pretty well. Let's make some fake broken scenarios, for example, let controller

[2022-07-29 05:46] wonderflow commented on #4498
refer to https://github.com/kubevela/kubevela/issues/3924

[2022-07-29 06:23] Somefive commented on #4498
/cc @foursevenlove

[2022-07-29 07:32] clcc2019 opened #4501 "install error on kubernete 1.22.11"
![image](https://user-images.githubusercontent.com/46099295/181708086-fbcfebd2-0c1e-4a81-ad4f-7d8ef98f3c1e.png)

Ubuntu 21.04

[2022-07-29 07:35] barnettZQG commented on #4501
@clcc2019 What is your machine's CPU architecture?

[2022-07-29 07:37] clcc2019 commented on #4501
amd64

[2022-07-29 07:49] clcc2019 commented on #4501
v1.4.0-amd64 tag is ok

[2022-07-29 08:08] barnettZQG commented on #4501
OK, let's close this issue.

[2022-07-29 08:42] #4489 closed

[2022-07-29 11:14] #4180 closed

[2022-07-29 12:25] ShirokumaBearHouse opened #4508 "type suspend with duration doesn't resume after passed the duration when working with subSteps"
**Describe the bug**
type suspend with duration doesn't resume after passed the duration when working with subSteps

**To Reproduce**
Steps to reproduce the behavior:
1. Having type suspend inside a subSteps with a duration

**Expected behavior**
To resume workflow after pass the duration periods

**KubeVela Version**
v1.4.3

**Example**
[code]

[2022-07-31 01:51] wonderflow opened #4509 "[Addon] make minio as an addon to provide multi-cloud object storage"
**Is your feature request related to a problem? Please describe.**

https://github.com/minio/minio

minio operator: https://github.com/minio/operator/blob/master/README.md

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-07-31 01:54] wonderflow opened #4510 "[Addon] make ChaosBlade as an addon for chaos engineering"
**Is your feature request related to a problem? Please describe.**

There's an operator for doing so: https://github.com/chaosblade-io/chaosblade-operator

**Describe the solution you'd like**

1. make a trait to an vela app for chaos engineering
2. report to grafana for the chaos report.

**Describe alternatives you've considered**

**Additional context**

[2022-08-01 07:17] dhiguero commented on #4407
I think that for a `multitenant` installation only admins should be able to install addons as creating cluster-wide entities and/or operators will be restricted.

[2022-08-01 07:30] weiy730 commented on #4212
/assign

[2022-08-01 07:52] barnettZQG commented on #4212
@weiy730 Thanks, but this issue is fixed.

[2022-08-01 07:52] #4212 closed

[2022-08-01 11:34] #4340 closed

[2022-08-01 11:44] #4485 closed

[2022-08-01 11:44] #4488 closed

[2022-08-02 00:54] clcc2019 opened #4519 "Canary Rollout on helm chart error"
![image](https://user-images.githubusercontent.com/46099295/182268669-6952ceb9-893b-47e8-aceb-00bd0178b075.png)

All pods are updated directly and cannot achieve the expected effect

vela-core v1.5.0-beta4
fluxcd 2.0

[2022-08-02 00:55] #4501 closed

[2022-08-02 01:00] wonderflow commented on #4519
Can you describe the application here?

[2022-08-02 01:07] clcc2019 commented on #4519
![image](https://user-images.githubusercontent.com/46099295/182269957-b1e5e111-2d01-47d4-916b-9845f40a8b67.png)
[code]

[2022-08-02 02:56] #4470 closed

[2022-08-02 03:14] Somefive commented on #3300
Could you show a complete configuration for your application? We can try to debug in detail for your case.

[2022-08-02 03:59] wonderflow commented on #1400
Sorry to say that we will delay the upgrade to v1.6 millstone as we need lots of compatible work and still trying to fix some of them as following:

- https://github.com/cue-lang/cue/issues/1826
- https://github.com/cue-lang/cue/issues/1815
- https://github.com/cue-lang/cue/issues/1816
- https://github.com/cue-lang/cue/issues/1813
- https://github.com/cue-lang/cue/issues/1806

Fortunately, the CUE

[2022-08-02 04:02] wonderflow commented on #3887
all metrics addons are available now in the catalog, please refer to https://github.com/kubevela/kubevela.io/pull/882.

I'm going to close this issue, feel free to create a new one if there's new features request.

[2022-08-02 04:02] #3887 closed

[2022-08-02 08:16] #3157 closed

[2022-08-02 08:47] ghostloda commented on #2982
/assign

[2022-08-02 09:28] ArenaSu commented on #4427
/assign

[2022-08-02 10:19] wonderflow commented on #4427
@ArenaSu Please hold this issue as the cross-namespace definition will cause security issues.

ping @dhiguero @Somefive , what do you think? Shall we change the OAM spec?

@diego-milhomes Despite the OAM spec, do you have some real scenarios that needs this feature?

[2022-08-02 13:07] oiar commented on #4509
I'm interested in this. Can I have a try?

[2022-08-02 14:35] wonderflow commented on #4509
Sure! @oiar  Next time, you can use the following script to mark this issue:

/assign

[2022-08-02 14:36] wonderflow commented on #4509
/assign @oiar

[2022-08-02 15:03] BartNetJS opened #4542 "Vela CLI not installed and gzip issue"
I've followed the documentation here https://kubevela.io/docs/install to install on a windows system with the latest docker desktop.

First when running "velad install" I got an error message "Fail to set up cluster: failed to setup k3d: failed to extract k3d images: exec: "gzip": executable file not found in %PATH%"
I've installed cygwin and added the bin folder to the user environment variables

[2022-08-02 15:10] chivalryq opened #4544 "[Feature] Enhance vela def for definition validation"
**Is your feature request related to a problem? Please describe.**

Now `vela def` can not detect definition format like below:
[code]

**Describe the solution you'd like**

Several built-in definition schema for ComponentDefinition, TraitDefinition, WorkflowDefinition

**Describe alternatives you've considered**

**Additional context**

[2022-08-02 15:14] charlie0129 commented on #4542
This is because velad unzip the image tarball before loading it in docker, and can be resolve by loading the tarball directly into docker.

cc @chivalryq

[2022-08-02 15:19] diego-milhomes commented on #4427
In the context of the control plane, many SREs teams need to be able to publish their definitions. To avoid conflicts of name in the vela-system namespace, using  namespaced definitions appeared a great way. Other applications in other namespaces will use these definitions.

[2022-08-02 15:55] dhiguero commented on #4427
Thanks @wonderflow for the ping-back. To give some context, when this was discussed in the OAM spec, AFAIK the main use case was the ability to store component definitions in a namespace that can be reused among other. For example, an organization may have a namespace with some definitions that could be reused among all their applications.

From the point of view of a multi-tenant scenario, I thin

[2022-08-03 04:58] oeular commented on #4509
Here is the helm repo for minio-operator: https://artifacthub.io/packages/helm/wenerme/minio-operator

[2022-08-03 05:51] #2982 closed

[2022-08-03 06:43] BartNetJS commented on #4542
About the Vela CLI, how do I install it manually?

[2022-08-03 06:51] wcollin opened #4548 "image pull secret use the cache?"
**Cluster information**
k8s version：v1.22.10
kubevela version：v1.4.8

**To Reproduce**
1. add a new image registry in kubevela ui
2. use this as the image pull secret and publish app
3. update image-registry in kubevela ui（delete and create a same name）
4. delete step 2 app and pull secret in namespace and create a same app again
5. image pull secret use the old image secret

image pull secret use

[2022-08-03 06:59] wonderflow commented on #4542
A quick install can be:
[code]

You can refer to the detail doc here: https://kubevela.io/docs/platform-engineers/advanced-install#2-install-kubevela-cli

[2022-08-03 07:01] charlie0129 commented on #4542
For Windows users, `powershell -Command "iwr -useb https://kubevela.net/script/install.ps1 | iex"`. See the doc posted by @wonderflow

[2022-08-03 08:04] chivalryq commented on #4542
Yes, it can be unusual for Windows user have `gzip` in their cmd PATH. We should either try if it's possible to load tarball to docker or use gzip golang lib to decompress the image file.

[2022-08-03 08:32] charlie0129 commented on #4542
Yes, the docker daemon can read compressed data.

https://github.com/moby/moby/blob/9100e3c087216343e4149887d43f1e7ae272968a/daemon/images/image_import.go#L95

[2022-08-03 16:14] #4542 closed

[2022-08-03 16:31] chivalryq commented on #4542
We finally remove the dependency for `gzip` in PATH! 🎉

[2022-08-04 04:34] oiar opened #4555 "Failed to use velad install"
**Describe the bug**
E0804 12:28:28.875499   27279 reflector.go:138] pkg/mod/k8s.io/client-go@v0.23.6/tools/cache/reflector.go:167: Failed to watch *unstructured.Unstructured: an error on the server ("apiserver not ready") has prevented the request from succeeding (get jobs.batch)

[code]
[code]
**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**
[code]

**Docker Version

[2022-08-04 05:08] chivalryq commented on #4555
What is the velad version?

[2022-08-04 05:43] chivalryq commented on #4555
Investigating, you can walk around as follows:
1. Use [kind](https://kind.sigs.k8s.io/docs/user/quick-start/) to setup cluster.
2. download latest Vela CLI: `curl -fsSl https://static.kubevela.net/script/install-vela.sh | bash`
3. run `vela install`

[2022-08-04 07:38] chivalryq opened #4558 "CLI provider command failed"
**Describe the bug**

There are incompatibility for Vela CLI v1.5.0 and terraform-xxx in newer version. After enable terraform-alibaba, provider type componentDefinition can't be found.

[code]

**Reason**

Removal of `custom.definition.oam.dev` prefix effect the `vela provider` command. It uses labels to select components.

**KubeVela Version**

Vela CLI 1.5.0
terraform-alibaba Addon: v1.0.3

**C

[2022-08-04 11:55] oiar commented on #4555
No.

And my docker is running on amd64 MAC, I find some error log in container <k3d-velad-cluster-default-serverlb>.

[code]

[2022-08-04 15:52] chivalryq commented on #4555
But your docker client and server's ARCH are arm64. Do you misspell the word?

[2022-08-05 02:24] oiar commented on #4555
You're right.

[2022-08-05 04:56] oeular commented on #4200
The examples of kpt-config-sync will come in some time. Here I provide an issue to keep tracked. https://github.com/GoogleContainerTools/kpt-config-sync/issues/5

[2022-08-05 06:05] #4558 closed

[2022-08-05 06:13] chivalryq commented on #4555
Will fixed here: jhttps://github.com/kubevela/velad/pull/76

[2022-08-05 06:28] oiar commented on #4555
I see. Thank you.

[2022-08-05 06:32] oiar commented on #4509
Thank you. I'll take a look.

[2022-08-05 10:01] oeular commented on #4510
There is no helm repo url for ChaosBlade  now. Here I propose an issue for this: https://github.com/chaosblade-io/chaosblade-operator/issues/167

[2022-08-05 10:01] aliuq opened #4567 "[Feature] 官方文档能否添加一些偏实际应用的例子"
官方文档上面的大多是碎片式的，缺少能够实际参考的案例，尤其是添加应用这一块

[2022-08-06 03:30] StevenLeiZhang commented on #4567
VelaUX上创建应用的操作指导还是编写Application的yaml文件的更多实例？

[2022-08-06 03:32] StevenLeiZhang commented on #4548
How do you create Application? VelaUX or yaml file?

[2022-08-06 03:56] aliuq commented on #4567
@StevenLeiZhang 希望能多一些像图片上这样有参考意义的案例
![image](https://user-images.githubusercontent.com/11707934/183232594-fdd09c8c-beb7-473a-85bb-fbe9e71061ef.png)

[2022-08-06 04:21] wonderflow commented on #4567
I would regard this issue as a feature request for a mysql or postgresql addon.

With these addons enabled, one user could create an app to deploy postgresql or mysql and visit it from outside.

[2022-08-06 04:28] aliuq commented on #4567
@wonderflow 需要的并不是单单一个插件，而是一篇可用的教程，将数据库部署当作案例，来参考其他应用的部署、访问等等

[2022-08-06 15:58] charlie0129 opened #4568 "Useful and reliable ComponentDefinition"

[2022-08-06 15:59] #4568 closed

[2022-08-07 06:07] fourierr commented on #4510
helm charts is convenient， but it's not necessary for addon

[2022-08-07 06:22] fourierr commented on #4395
Usually velero is a tool to  backup and restore for application. if it's an addon, how should it service for kubevela's resource itself.

[2022-08-07 07:57] wonderflow commented on #4510
Yes, helm chart is not necessary for addon, you can refer to https://github.com/kubevela/catalog/blob/master/experimental/addons/clickhouse/resources/ck-op.cue

[2022-08-07 07:59] wonderflow commented on #4395
Here's a trigger https://github.com/kubevela/kube-trigger

What about a cron to trigger the use of velero backup or watch events to trigger backup?

[2022-08-07 08:00] wonderflow commented on #4395
Anyway, it's not a MUST to be addon.

[2022-08-07 08:27] opswfit opened #4569 "[Feature] 应用的serviceType 选择LoadBalancer时默认创建的公网负载均衡，怎么能创建内网的负载均衡"
![image](https://user-images.githubusercontent.com/13762962/183282146-f81284fa-35bd-4aaa-9cdb-94a8317f2e45.png)
我们私用的k8s集群是云厂商的，创建应用时，应用的serviceType 选择LoadBalancer默认创建的公网负载均衡，怎么能创建出内网的负载均衡

[2022-08-07 10:30] oeular commented on #4510
For future upgrade with the capacity provider，the way for installing with helm charts is better.

[2022-08-07 10:39] oeular commented on #4395
Maybe the way that watches the application events, and then writes the application yaml to mysql, is efficient and high-realtime.

[2022-08-07 11:06] fourierr commented on #4395
Accuratly this can save the application cr, what bout the k8s resource of kubevela?

[2022-08-07 11:06] fourierr commented on #4395
Accuratly this can save the application cr, what bout the k8s resource of kubevela?

[2022-08-07 14:38] fourierr commented on #3934
This issue has been partly solved by https://github.com/kubevela/kubevela/pull/4291

[2022-08-08 02:17] barnettZQG commented on #4569
@opswfit What means about the Intranet load banlancer? Maybe you should select ClusterIP?

[2022-08-08 02:23] barnettZQG commented on #4519
@clcc2019 What is your Kruise-Rollout addon version? The advised version is 1.2.0.

[2022-08-08 02:25] barnettZQG commented on #4508
/cc @FogDong

[2022-08-08 04:02] #4421 closed

[2022-08-08 07:54] FogDong commented on #4508
Thanks for the report, this is fixed in v1.5.0. Please try to upgrade your vela version and give it a try.

[2022-08-08 08:13] chivalryq commented on #4555
This has been fixed, you can run installation script to install newest version. :) @oiar

[2022-08-08 08:13] #4555 closed

[2022-08-08 10:11] StevenLeiZhang commented on #1662
Orgnization/Company: 京东云
Location: Beijing, China
Contact: zhanglei1306@jd.com
Status: development & testing
Purpose/Scenario: Planning to use OAM addon to be application market

[2022-08-08 13:38] ysicing commented on #4569
一样的场景，有些服务只能对内部开放(非k8s环境)由于安全或者调用链路的问题

[2022-08-09 00:41] chivalryq commented on #4569
Can you do that by using cloud vendor console? Creating a LB can be only accessed by other cloud resources.

[2022-08-09 01:12] wonderflow commented on #4569
I'm also thinking of that, maybe kubevela user can use terraform to create a intranet LB which can't be done by K8s itself.

[2022-08-09 02:10] victory460 opened #4581 "What are the differences compared to kubesphere？"
This project is awesome and perfect.
What are the differences, advantages/feature and disadvantages compared to [kubesphere](https://kubesphere.com.cn/)？

[2022-08-09 02:21] barnettZQG commented on #4581
@victory460  Refer to: http://kubevela.net/docs/next/#kubevela-vs-other-software

[2022-08-09 02:29] barnettZQG commented on #4569
I think the gateway service that the private and only listened Intranet is suitable. We could use the `gateway`, `http-route`, and `tcp-route` traits to configure the load balancer rule.

[2022-08-09 02:56] #4424 closed

[2022-08-09 03:28] barnettZQG opened #4582 "Workflow records are not deleted after the application deleted"
**Describe the bug**

After the application was deleted, the workflows and the workflow records should be deleted. But the workflow records are not deleted.

**To Reproduce**

1. Create an application.
2. Deploy it.
3. Delete the application.
4. Open the MongoDB server and query the workflow records.

**KubeVela Version**

1.5.0

Database: MongoDB

[2022-08-10 06:21] lunarwhite commented on #3337
/assign

[2022-08-10 07:02] Somefive opened #4594 "ApplyOnce ResourceSelector ambiguous and not aligned with other ResourceSelector"
**Describe the bug**

The implementation for FindStrategy in apply-once policy is confusing.

https://github.com/kubevela/kubevela/blob/436ff916b65fcf3e57e7043904343e9db6bbcec1/apis/core.oam.dev/v1alpha1/applyonce_types.go#L62

The major problem is that it misuses `componentNames` and `resourceNames`.

The minor problem is that this selector is not aligned with selector in other policies (garbage-

[2022-08-10 08:01] fourierr commented on #4594
Thx for reminding me, I see it and fix

[2022-08-10 09:18] Somefive commented on #4469
This feature is implemented from the controller level, not exposed to application level by far.

[2022-08-10 09:19] Somefive commented on #4469
This feature is implemented from the controller level, not exposed to application level by far.

[2022-08-10 11:27] fourierr opened #4596 "[Feature] Enhanced horizontal scaling of app controller"
**Is your feature request related to a problem? Please describe.**
Due to the leader-election of the controller, when there are thousands of application CRs in the hubcluster,
the new application will be delayed for updating longer and longer time.

**Describe the solution you'd like**
For this issue, i have made some experimental solution.
We want to dispatch several deployment of app controller

[2022-08-10 11:31] Somefive commented on #4596
Great! This solution looks good and is similar to what I have been thinking for sharding. Would you like to make a PR for that?

[2022-08-10 11:33] barnettZQG opened #4597 "The pod list is duplicated when the application is upgrading."
**Describe the bug**

![deploy](https://user-images.githubusercontent.com/18493394/183890135-c841d701-ec96-41c8-b9ce-51da19f820b0.gif)

As shown in GIF.

**Expected behavior**

1. Old and new instances are displayed normally.
2. The version of the instance is correct.

**KubeVela Version**

1.5.0

[2022-08-10 11:41] fourierr commented on #4596
Of course, i will make a PR.

[2022-08-10 12:51] fourierr opened #4599 "[Feature] Support to inject custom runtime context"
**Is your feature request related to a problem? Please describe.**
In context definition, some runtime context information can be obtained through the context variable.
It's real convenient for wirting cue template of component, trait or workflowstep.
However, some private business concept can't be inject into context without hacking app controller.
So we want to find a way to inject some custom c

[2022-08-10 13:30] #4469 closed

[2022-08-10 13:34] wonderflow commented on #4599
lgtm

[2022-08-10 13:38] wonderflow commented on #4596
lgtm

[2022-08-11 02:23] Somefive commented on #4599
So if I'm understanding it correct, there is another one setting the context annotation to the workload? It is not very clear about the order of using these annotations. Is it like:

vela-core render resource -> vela-core dispatch resource -> another controller update resource context annotation -> vela-core re-render resource -> vela-core re-dispatch resource?

I guess it is not the way you propo

[2022-08-11 02:24] Somefive commented on #4599
BTW, if you add context annotation to application, it looks more reasonable to me.

[2022-08-11 02:26] wonderflow commented on #4599
The annotation should be in the application CR.

[2022-08-11 02:57] wonderflow opened #4601 "[Feature] vela revision support read the apprevision details in yaml format"
**Is your feature request related to a problem? Please describe.**

We already have a `vela revision` command now:
[code]

I can see the revision is succeed release or not and it's publish version. However, I can't check the application yaml details and I can't now which definitions contained in it.

**Describe the solution you'd like**

We should add some args to print details, like:

1. show app

[2022-08-11 03:13] wonderflow commented on #4508
closing as it's fixed in v1.5.0 and this version is alread released. Feel free to reopen it if there's still any issues.

[2022-08-11 03:13] #4508 closed

[2022-08-11 03:14] wonderflow commented on #4418
@charlie0129  is working on this issue with the new project https://github.com/kubevela/kube-trigger

[2022-08-11 03:30] wonderflow commented on #4407
@dhiguero According to the `addonRuntimeOptions` , do you mean we should also add these options on vela controller side to let `vela addon` command to know how to judge the addon metadata?

The process should be like:

1. Install kubevela core with `multitenant` runtime options, make it security enough.
2. Vela CLI  will check runtime options when installing Addon, report warning.
3. webhook of ku

[2022-08-11 03:31] wonderflow commented on #4400
closing as it's not reproducable.

[2022-08-11 03:31] #4400 closed

[2022-08-11 03:39] wonderflow commented on #4569
@opswfit 钉钉或微信上联系下我们，我看到你提了蛮多issue

[2022-08-11 03:40] wonderflow commented on #4246
already added

[2022-08-11 03:40] #4246 closed

[2022-08-11 03:43] wonderflow commented on #4223
Repo are created now https://github.com/kubevela/workflow

[2022-08-11 03:45] wonderflow commented on #4183
The pipeline will be something related with this Implementation https://github.com/kubevela/workflow

[2022-08-11 03:49] wonderflow commented on #4175
ping @FogDong , please check if exists

[2022-08-11 04:46] wonderflow commented on #3934
@fourierr  Does this issue duplicate with this one #4599 ？

[2022-08-11 04:56] wonderflow opened #4605 "[Feature] Add Severice Endpoint Discovery mechnism"
**Is your feature request related to a problem? Please describe.**

Currently we have `vela status --endpoint` to check all Kubernetes Service/Ingress, this is really useful. But some scenarios especially for SaaS and Cloud Services, they're not always work as Kubernetes Service/Ingress.

For example:

* Netlify SaaS, we already have an addon: https://github.com/kubevela/catalog/tree/master/addons

[2022-08-11 04:57] wonderflow commented on #3892
closing as we already have this addon https://github.com/kubevela/catalog/tree/master/addons/netlify

[2022-08-11 04:57] #3892 closed

[2022-08-11 05:01] wonderflow commented on #3891
dup with https://github.com/kubevela/kubevela/issues/4179

[2022-08-11 05:04] wonderflow commented on #3873
@basuotian Great, please add to our developer guide https://kubevela.net/docs/contributor/cli-ref-doc

![image](https://user-images.githubusercontent.com/2173670/184067801-fd927528-1904-4876-b987-71ba2d0ca044.png)

[2022-08-11 05:11] wonderflow commented on #3869
As we already have the addon system, the application template feature will be more like the addon ( https://github.com/kubevela/catalog/tree/master/addons ).

1. Written in CUE, have parameters and all kinds of templating&validating features leveraged with CUE.
2. Leverage OCI Infrastructure and align with Helm Charts format.

\cc @wangyikewxgm

[2022-08-11 05:13] wonderflow commented on #3867
@scarlet25151 Hello, are there any progress on your PoC?

[2022-08-11 05:15] #3808 closed

[2022-08-11 05:16] wonderflow commented on #3806
This could be interesting feature, would you like to design more details? @oeular

[2022-08-11 05:18] wonderflow commented on #3799
ping @barnettZQG , do we fix it in v1.5?

[2022-08-11 05:20] wonderflow commented on #3783
This should be an interesting feature but against the Kubernetes design, the principle is the declarative spec only manage the final state, you're managing the progress here.

But we can add a workflowstep for this "sub-resource" update, you can run it in workflow which provide the flexible capability for you. \cc @FogDong

[2022-08-11 05:23] wonderflow commented on #3765
related https://github.com/kubevela/kubevela/issues/4106

[2022-08-11 05:27] wonderflow commented on #3745
It's now supported in v1.5.

[code]

You can define addon with CUE and it's supported for defining parameter to decide parts of the controllers were installed.

[2022-08-11 05:27] #3745 closed

[2022-08-11 05:31] wonderflow commented on #3527
Let's make the frontend workload as addon.

[2022-08-11 05:34] wonderflow commented on #3552
I'm planning to make it a feature of vela in v1.6. Not only deployment, but also for all Kubernetes CRD with [resource topology](https://kubevela.net/docs/reference/topology-rule) defined.

[2022-08-11 05:35] #3521 closed

[2022-08-11 05:38] wonderflow commented on #3483
CUE 0.4 is merged in master of KubeVela, please give it a try! https://github.com/kubevela/kubevela/pull/4425

[2022-08-11 05:38] #3483 closed

[2022-08-11 05:41] #3262 closed

[2022-08-11 05:41] wonderflow commented on #3262
supported in v1.5.0

[2022-08-11 05:43] wonderflow commented on #3127
maybe this is a issue of this helm chart. closing

[2022-08-11 05:43] #3127 closed

[2022-08-11 05:44] wonderflow commented on #3010
@tangwz Hi, any progress on this issue?

[2022-08-11 05:46] wonderflow commented on #3001
suported in v1.5 refer to the doc https://github.com/kubevela/kubevela.io/pull/907

[2022-08-11 05:46] #3001 closed

[2022-08-11 05:46] wonderflow commented on #2987
it's visble in velaux now, thanks for reporting

[2022-08-11 05:46] #2987 closed

[2022-08-11 05:51] wonderflow commented on #2784
implemented in 1.5

[2022-08-11 05:51] #2784 closed

[2022-08-11 05:51] barnettZQG commented on #3799
@cloorc Please upgrade to v1.5.0 and retry.

[2022-08-11 05:51] #3799 closed

[2022-08-11 05:51] #2634 closed

[2022-08-11 05:52] wangyikewxgm commented on #2983
I think this bug has been fixed. Closing.

[2022-08-11 05:52] #2983 closed

[2022-08-11 05:54] #2344 closed

[2022-08-11 05:54] barnettZQG commented on #3802
We added a test authentication button on the platform setting page in the v1.5.0 version.

[2022-08-11 05:56] #2096 closed

[2022-08-11 05:56] barnettZQG commented on #3669
We already support it in the new version, please upgrade and retry.

[2022-08-11 05:56] #3669 closed

[2022-08-11 05:57] wonderflow commented on #1400
The main upgrade has been done by #4425 , while work still needed for the issues above. I'll keep this issue open.

[2022-08-11 05:58] wonderflow commented on #2092
Closing as the master branch has been upgraded to the CUE 0.4 https://github.com/kubevela/kubevela/pull/4425

[2022-08-11 05:58] #2092 closed

[2022-08-11 05:59] wonderflow commented on #2090
Refer to https://kubevela.net/docs/next/end-user/workflow/inputs-outputs

[2022-08-11 05:59] #2090 closed

[2022-08-11 05:59] jefree-cat commented on #3527
will handle it.

[2022-08-11 06:00] #2067 closed

[2022-08-11 06:00] jefree-cat commented on #3527
will handle it.

[2022-08-11 06:00] wonderflow commented on #2067
closing as we're not using initializer now

[2022-08-11 06:01] wonderflow commented on #2062
We're using fluxcd for this now https://kubevela.net/docs/next/case-studies/gitops

[2022-08-11 06:01] #2062 closed

[2022-08-11 06:02] wangyikewxgm commented on #3566
In vela 1.4+ addon will apply the application(contain CRD) firstly, then apply X-definitions.So the bug has been fixed. Closing.

[2022-08-11 06:02] #3566 closed

[2022-08-11 06:12] wonderflow commented on #1365
We still need some way to use vela ql to read the pod event, this can be related with o11y.

[2022-08-11 06:18] wonderflow commented on #3573
We need a more concrete design before Implementation.

[2022-08-11 06:57] nicoloxu opened #4607 "Can't add cluster by "Connect Existing Cluster""
**Describe the bug**
Can't add cluster by "Connect Existing Cluster"

**To Reproduce**
MacBook-Pro .kube % vela cluster join ./staging --name=cluster-staging
Error: failed to ensure vela-system namespace installed in cluster cluster-staging: failed to check if namespace vela-system exists: no such cluster cluster-staging

Apiserver error log:
{"level":"error","ts":1660190564.089943,"caller":"bcode

[2022-08-11 07:28] dhiguero commented on #4407
I think that will work from the point of view of Kubevela core. From the point of view of the addon developer, i think we should make this type of platform options available to be consumed when the addon template is being processed. This could follow the existing approach that is used in component definitions, where the template has access through the [`context`](https://kubevela.io/docs/next/plat

[2022-08-11 07:37] fourierr commented on #3552
For all Kubernetes CRD is difficult but worthwhile.

[2022-08-11 07:40] fourierr commented on #3934
not complete, this issue describes context.namespace and context.cluster for `ComponentDefination` ,#4599 describes the custom context

[2022-08-11 07:50] barnettZQG commented on #4407
I agree with this proposal. We should add some useful information to the context, which currently only includes the metadata. There are some options:

1. Platform info(version, architecture ...)
2. Cluster info(version...)

[2022-08-11 07:54] #4581 closed

[2022-08-11 09:16] wangyikewxgm commented on #4227
Since we already have support enabling addon to specific clusters by parameters.  User have way to ignore the cluster  that already installed `CRD` with helm . But if user only have one cluster, he cannot choose to not install addon in local cluster. I'm considering can be support a flag like "only-control-plane-resources" to only apply definition and UI-schema .etc to control-plane?

[2022-08-11 12:45] oeular commented on #4395
For application cr to backup, we may use --feature-gates=backup2db=true

[2022-08-11 12:49] oeular commented on #4395
For resources in configmap, we may backup to db with the method like recording the workflow-record.

[2022-08-11 13:23] wtaylor-ovo commented on #4359
We actually have the same use case, the team is very used to using the ArgoCD graph visualisations for seeing the result of an app deployment as well as performing basic operations like restarting a Deployment.

Having that convenient visualisation back would be fantastic.

[2022-08-12 02:45] #4594 closed

[2022-08-12 02:48] Somefive commented on #4607
Is your managed cluster to join is connectable from the hub cluster? (Are they in the same VPC or use the public IP for the apiserver)

[2022-08-12 02:52] nicoloxu commented on #4607
use the public IP  for the apiserver

[2022-08-12 02:54] Somefive commented on #4607
Could you run `kubectl get secret -n vela-system -w` aside while running `vela cluster join` command? There should be a secret named `cluster-staging` created.

[2022-08-12 03:03] nicoloxu commented on #4607
cluster-staging                                               Opaque                                4      0s
cluster-staging                                               Opaque                                4      5s

[2022-08-12 03:38] Somefive commented on #4607
I see. Seems the creation of cluster-staging is okay. Try `vela cluster join ./staging --name=cluster-staging --create-namespace=""`. This should not block in your case (seems you are blocked during creating namespace in managed cluster). But you need an additional post verification for the connection. `vela cluster probe cluster-stage` could help you check that.

[2022-08-12 06:22] FogDong commented on #3010
Yes, you can refer to this doc: https://kubevela.io/docs/next/platform-engineers/addon/intro

[2022-08-12 06:27] FogDong commented on #3783
You can use workflow steps to init the status of sub-resource. Workflow allows you to control the order of deploying: https://kubevela.io/docs/next/end-user/workflow/overview

[2022-08-12 06:48] nicoloxu commented on #4607
MacBook-Pro .kube % vela cluster join ./staging --name=cluster-staging --create-namespace=""
Successfully add cluster cluster-staging, endpoint: https://106.xxx.xxx.xxx:xxxx.
MacBook-Pro .kube % vela cluster probe cluster-staging
Error: failed connect cluster cluster-staging: an error on the server ("unknown") has prevented the request from succeeding

[2022-08-12 08:41] Hanmengnan opened #4611 "[Feature] Add filtering features to the `Application` view and `K8S object` view of `vela top`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

## Add launch parameters to `vela top` command

- When `vela top` is started, the user can specify the namespace of the presentation application in the following way: `vela top -n <namespace>`
![vela top -n](https://user-images.githubusercontent.com/30918851/184315776-4fc6e43b-c886-4a4b-8f27-d

[2022-08-12 09:23] Somefive commented on #4607
Okay, there might be several possible problem with your case.
1. You need to make sure `cluster-gateway` is working correctly. Try to run `kubectl get clustergateway` and see if it works. If not, cluster-gateway is not working well. You should see your `cluster-staging` in the clustergateway list now.
2. If `cluster-gateway` works, then it might be an issue for your provided KubeConfig. You can tr

[2022-08-12 09:31] chivalryq opened #4614 "Useless log when enabling addon"
**Describe the bug**

When enable addon in cluster without gateway CRDs addon is enabled successfully. But there are some useless error logs. Like tt was searching the addon access endpoint.

[code]

**To Reproduce**

1. `velad install`
2.  `vela addon enable terraform`

**Expected behavior**

No error logs

**Screenshots**

**KubeVela Version**

v1.5.0

**Cluster information**

**Additional conte

[2022-08-12 09:33] justxi1 opened #4615 "[Bug] Cue hiddenValue key lost"
**Is your feature request related to a problem? Please describe.**

cue hideValue may cause some key lost

I create a traitDefinition to create a configMap
some codes are as follows
[code]
finally I success to create deployment and configMap but lost some key which start with char "_"
![image](https://user-images.githubusercontent.com/39458411/184325813-b4f96e8c-3bc4-483c-aa95-a70aef62cc21.png)

*

[2022-08-12 09:36] RainElohim commented on #1662
Orgnization/Company: OceanBase
Location: Beijing, China
Contact:
Status: dev/sit/pre/prod
Purpose/Scenario: Planning to use OAM

[2022-08-13 08:20] lunarwhite opened #4617 "[Feature] Extend Elastic Cloud as a Terraform addon"
**Is your feature request related to a problem? Please describe.**

[Elastic Cloud](https://www.elastic.co/) as a cloud provider has been supported by KubeVela [Terraform Controller](https://github.com/kubevela/terraform-controller#supported-cloud-providers), but not by KubeVela yet.

**Describe the solution you'd like**

We can convert it to a Terraform addon in KubeVela, per this guide: https://

[2022-08-13 08:22] lunarwhite commented on #4617
/assign

[2022-08-14 04:46] oeular commented on #4605
Exactly, Add Service Endpoint Discovery mechnism (a bit spelling error, ^_^)

[2022-08-15 00:24] wonderflow opened #4621 "[Feature] Add issue stale bot for issues that not active"
**Is your feature request related to a problem? Please describe.**

As we run a Milestone for 60 days, if two milestone has no active events, the issue can be staled.

[code]

When an issue is staled, I think we can close it in 7 days if no further activity.

[code]

Examples are here:  https://github.com/crossplane/crossplane/blob/master/.github/stale.yml

Issue bot is installed https://github.co

[2022-08-15 02:36] #4611 closed

[2022-08-15 07:15] qinjia127 opened #4623 "[Feature] workflowstepdefinition webhook"
webhook: op.#Steps & {
if parameter.url.value != _|_ {
	http: op.#HTTPPost & {
		url: parameter.url.value
		request: {
			body: data.value
			header: "Content-Type": "application/json"
		}
	} @step(4)
}
if parameter.url.secretRef != _|_ && parameter.url.value == _|_ {
	read: op.#Read & {
		value: {
			apiVersion: "v1"
			kind:       "Secret"
			metadata: {
				name:      parameter.url.secretRef.na

[2022-08-16 10:00] #4392 closed

[2022-08-17 02:03] scarlet25151 commented on #3867
Hi @wonderflow, for now we have a dedicate controller named applicationset controller internally to managed the autoscaling of applications. And we are in the refactor so it would be adoption to the latest version, it may need some time for the refactor.

[2022-08-17 03:36] RainElohim opened #4628 "[Feature] [UX]Add custom annotations in the Gateway Trait"
We often need to configure annotations within Ingress to achieve some purpose.We want to be able to add custom annotations on UX like WebServices.

![image](https://user-images.githubusercontent.com/34337869/185029204-0bab40bc-038e-46c4-be74-e22c8f627f03.png)
![image](https://user-images.githubusercontent.com/34337869/185029251-c0856281-796b-4804-8038-c1bdadfc06c2.png)

[2022-08-17 06:06] chivalryq commented on #4326
Let's keep this open until we build a case using vela and yurt.

[2022-08-17 06:16] barnettZQG commented on #4628
@RainElohim There are two ways:

1. If the annotations are specific to all your rules, you could change the gateway trait definition and add the annotation in the outputs.
2. If the annotations are different, you also should change the gateway trait definition. Add a field named annotations and use it in the outputs.

[code]
This field will auto showed in UI. Refer to http://kubevela.net/docs/plat

[2022-08-18 01:45] #4519 closed

[2022-08-18 03:21] RainElohim commented on #4628
I think adding custom annotations to ingress is a common scenario just like WebServices, so I recommend making it the default capability to UX

[2022-08-22 02:31] Hanmengnan opened #4639 "[Feature] add more system info to system info component in `vela top`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add more system performance info to the system info board including:
1. application running number / application number
2. vela core  performance:
   - CPU usage / CPU limit
   - CPU usage / CPU request
   - MEM usage / MEM limit
   - MEM usage / MEM request
3. vela core cluster gateway perfor

[2022-08-22 07:09] cezhang commented on #4601
/assign

[2022-08-22 10:00] #4639 closed

[2022-08-22 13:26] oeular opened #4642 "[Feature] Support the configurable resync for application controller"
Support the resync control can be enable or disable.

For now, Only can set the period for the resync.

[2022-08-22 13:41] oeular opened #4643 "[Feature] Support the workflow in application can be optinal."
If there is a way that application CR without workflow declared in can apply normally or not ?
If yes, there is in some degree to improve the performance, and decrease the complexity of application controller.

[2022-08-22 13:44] lunarwhite opened #4644 "[Bug] terraform provider vsphere not supported when using vela def init"
**Describe the bug**

Refer to https://github.com/kubevela/terraform-controller#supported-cloud-providers, `vsphere` as a terraform provider has been supported by terraform controller. But when using `vela def init` to [create the ComponentDefinition](https://kubevela.net/docs/platform-engineers/components/component-terraform), It got following error.

[code]

**KubeVela Version**

[code]

[2022-08-23 04:12] RainElohim opened #4647 "[UX] The options under the Persistent Storage of the WebService are lost"
![image](https://user-images.githubusercontent.com/34337869/186061891-ea081133-8c2f-4812-bc75-01a1f9a95d9b.png)
When I hit the switch twice,the options under the Persistent Storage of the WebService are lost
CLI Version: v1.5.2
Core Version: 1.5.0
GitRevision: git-3df1776
GolangVersion: go1.17.13
ux v1.5.2

[2022-08-23 06:29] barnettZQG commented on #4647
Yes, this is a bug. we will fix it, before this you could close the dialog and reopen it. @RainElohim

[2022-08-23 13:15] #4644 closed

[2022-08-23 14:51] loheagn commented on #4614
/assign

[2022-08-24 02:52] lunarwhite opened #4655 "[Bug] Vela CLI: `vela logs <app>` failed with cue marshal error"
**Describe the bug**

When using `vela logs <app>` to check the app log, it will pop up with `cue: marshal error` error.

**To Reproduce**

To easily reproduce, just using `first-app.yaml` on official doc: https://kubevela.net/docs/quick-start.

`vela up` and then `vela logs`, more details:

[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**

Tested on macOS and Ubuntu and got sa

[2022-08-24 03:15] chivalryq commented on #4655
I've test this application and I didn't reproduce the bug. Can you run `velad uninstall` and `velad install` and try again?

[2022-08-24 03:22] lunarwhite commented on #4655
`velad uninstall` helps! Thanks

[2022-08-24 03:22] #4655 closed

[2022-08-24 06:06] #4647 closed

[2022-08-24 11:09] #4617 closed

[2022-08-24 11:19] barnettZQG commented on #4628
@RainElohim That's very good if you could make a PR to add the annotations for the gateway trait definition.

[2022-08-24 11:22] barnettZQG commented on #4628
@RainElohim Only needs to change the definition, the UI will auto render.

[2022-08-24 13:32] barnettZQG commented on #4643
@oeular  The workflow is optional, but there is a default workflow.

[2022-08-24 20:18] kferrone opened #4658 "[Feature] deploy step supports Input/Output Variables"
**Describe the bug**

If your components use input output steps, then those will not resolve if you use the deploy workflow step.

**To Reproduce**

Try this one out:

[code]

**Expected behavior**

The values key should ultimately have the items value.

**Screenshots**

**KubeVela Version**

1.5

**Cluster information**

1.22 eks

**Additional context**

If you apply the components one by one wit

[2022-08-24 20:51] kferrone commented on #4658
I even played around with `op.#ApplyComponent` in a worklow-step definition. The inputs and outputs nor the DAG seems to work when components are applied manually

[2022-08-25 01:32] wonderflow commented on #4642
Use apply once policy can turn off the resync. http://kubevela.net/docs/end-user/policies/apply-once

[2022-08-25 02:34] Somefive commented on #4658
`deploy` workflowstep has some different internal implementation mechanism, therefore it does not support the input/output for components and workflow steps by far. This is a feature that we planned to do but haven't done yet.

One of the major difficulty for using input/output in `deploy` workflowstep is that it uses multi-cluster deploy, which means there are multiple inputs & outputs for a sing

[2022-08-25 08:09] Mcduller commented on #4410
/assign

[2022-08-25 08:59] chivalryq commented on #4642
It seems this is solved, or at least have work around. Closing. Feel free to reopen it there are further questions about this.

[2022-08-25 09:02] wonderflow commented on #4642
@chivalryq After offline talk with @oeular , he wants a feature flag to disable resync for the whole controller.

[2022-08-26 07:56] Mcduller commented on #4410
@wonderflow  I have some questions, can I contact you via DingTalk？

[2022-08-26 13:54] wtaylor-ovo commented on #4359
Slightly off-topic but may help your use case @tommy1199. We mitigated this entirely by switching ArgoCD's tracking method to "annotation" based on https://argo-cd.readthedocs.io/en/stable/user-guide/resource_tracking/#choosing-a-tracking-method. That combined with this recently merged bugfix https://github.com/argoproj/argo-cd/issues/8683, has completely resolved this use case. Effectively, ArgoC

[2022-08-27 00:40] wonderflow commented on #4410
Sure. You're welcome

[2022-08-27 08:37] Hanmengnan opened #4660 "[Feature] Add a new resource level view: `pod view` to `vela top`"
**Is your feature request related to a problem? Please describe.**

At present, there are only two levels in the resource level of `vela top`, namely `Application view` and  `Managed resource view`. However, in fact, there is a pod level under the managed resource. The status of the pod may be an information that users are very concerned about. Therefore, it is very necessary to continue to explor

[2022-08-27 08:37] Hanmengnan commented on #4660
/assign

[2022-08-27 13:22] cloorc commented on #3799
Thanks! It works fine on v1.5.0.

[2022-08-29 02:30] #4660 closed

[2022-08-29 06:23] Hanmengnan opened #4664 "[Feature] Load the Yaml text of resource in `vela top`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add a new feature that users can get the yaml text of the resource, by this they can understand resource specifications.

![yaml](https://user-images.githubusercontent.com/30918851/187135428-137a484b-932c-4bfd-bf0e-7aa34fd37205.gif)

**Describe alternatives you've considered**

**Additional co

[2022-08-29 07:35] #4642 closed

[2022-08-29 11:10] tommy1199 commented on #4359
@wtaylor-ovo Thanks for the information. As far as I can see, this solves "only" the issue that resources created by Kubevela get auto-pruned by ArgoCD, but not the visualization, right? So resources created by Kubevela are not linked to the Kubevela Application, but directly to the root ArgoCD application. Nevertheless, I will try it out.

[2022-08-30 02:20] #4664 closed

[2022-08-30 05:58] #4601 closed

[2022-08-30 09:15] skyshaokai opened #4667 "kubevela app exist ，but commponent in k8s cluster disappear"
**bug description:**
kubevela app exist  ,in all  k8s  cluster , workloads  SidecarSet exist  at first, but they disappeared after a few days.

**app yaml ：**

[code]
**component cue:**
[code]

**log:**

[code]
**My troubleshooting process**
I found that this app lacks the following logs compared with other normal apps.
[code]

[2022-08-30 09:19] wangyikewxgm commented on #4667
Please provide more information about this issue. @skyshaokai

[2022-08-30 10:56] skyshaokai commented on #4667
done

[2022-08-30 11:29] Somefive commented on #4667
It is a bit weird. Is there any idea if there is any other things that would delete the SidecarSet? BTW, the StateKeep should be able to bring them back in 5 minutes (by default).

[2022-08-31 06:05] Somefive commented on #4667
Could you check the ResourceTracker object and see if the desired object still exists in it?

[2022-08-31 08:22] barnettZQG opened #4671 "The application can not render resources without the clusters in the topology."
**Describe the bug**

The application can not render resources without the clusters in the topology.

**To Reproduce**

[code]
[code]

**Expected behavior**

This application should be deployed to the e2e-test namespace in hub cluster.

**KubeVela Version**

1.5.3

[2022-08-31 08:28] barnettZQG opened #4672 "The `vela system info` command can not work"
**Describe the bug**

[code]

There is no API resource `pods.metrics.k8s.io` in my test cluster.

**Expected behavior**

We should tolerate this error.

**KubeVela Version**

1.5.3

**Cluster information**

kind

Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.7", GitCommit:"132a687512d7fb058d0f5890f07d4121b3f0a2e2", GitTreeState:"clean", BuildDate:"2021-05-27T23:27:49Z", GoV

[2022-08-31 09:19] #3338 closed

[2022-08-31 09:52] skyshaokai commented on #4667
At that time, it was an online problem. The kubevela app was deleted and rebuilt without looking at the resourcetrackers information at that time. However, it can be seen from the missing log that the apply function is not executed.

[2022-09-01 06:34] Hanmengnan commented on #4672
What do you think of the bug, i also have met this problem, i think this is because metrics-server misses in the cluster.
metrics-server:  https://github.com/kubernetes-sigs/metrics-server

[2022-09-01 07:22] chivalryq opened #4675 "`vela auth gen-kubeconfig` incompatibility in K8s 1.24"
**Describe the bug**

In k8s v1.24+. The SA's secret won't be generated automatically by default per https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#no-really-you-must-read-this-before-you-upgrade

In `vela auth gen-kubeconfig --serviceaccount`, it read this secret and generate kubeconfig.

**To Reproduce**

run `vela auth gen-kubeconfig --serviceaccount` in K8s v1

[2022-09-01 08:03] barnettZQG commented on #4672
If there is no metric server, do not show metrics, but should show other information.

[2022-09-01 08:29] wonderflow commented on #4223
It's now migrated #4631 as a separated repo now https://github.com/kubevela/workflow

[2022-09-01 08:29] #4223 closed

[2022-09-01 11:39] Hanmengnan opened #4678 "Refactor: refactor the code of resource view abstraction of `vela top`"
**Describe the bug**

the code of abstraction of resource view is a little ugly. So need to refactor the code so that coding is writed smoothly in the futrue.

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-09-02 03:26] codingknees opened #4683 "1.5.0在k8s 1.19.0 上无法安装"
**Describe the bug**
vela-core 安装失败，版本信息：
kubevela：
[code]
k8s:
[code]

**To Reproduce**
执行文档命令进行安装：
[code]

**Expected behavior**
成功安装

**Screenshots**
[code]

**Additional context**
minikube version
minikube version: v1.26.0
commit: f4b412861bb746be73053c9f6d2895f12cf78565

(MacOS) sw_vers
ProductName:	macOS
ProductVersion:	12.3.1
BuildVersion:	21E258

[2022-09-02 03:28] Somefive commented on #4683
Probably duplicate with https://github.com/kubevela/kubevela/issues/3874.

[2022-09-02 08:54] Hanmengnan opened #4685 "[Feature] Highlight the Yaml text of `vela top`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

I  want to add the feature that the Yaml text will be highlighted like this:

![image](https://user-images.githubusercontent.com/30918851/188102663-34979334-6cd9-49c3-86b0-6a4190fdcf94.png)

**Describe alternatives you've considered**

About the highlight color I don't have some good idea, if

[2022-09-02 09:29] #4678 closed

[2022-09-02 10:06] skeetwu opened #4688 "get issue when enable fluxcd addon after one cluster was delete."
**Describe the bug**

after delete a cluster which has been attached to vela, when want to enable fluxcd again for new clusters, will get error.

**To Reproduce**
1. join two clusters to vela.
[code]
2. enable fluxcd for there 2 clusters.
[code]
3. delete cluster 1, then detach it from vela, then join cluster 3
[code]
4. enable fluxcd for cluster 3, got error.
[code]
5. error detail.
[code]

**Exp

[2022-09-02 10:10] wangyikewxgm commented on #4688
Can you provide the topology policy of this application?

[2022-09-02 10:14] wangyikewxgm commented on #4688
In fact, you can enable this addon without any clsuters args, It's will be installed to all exsiting clusters by default.

[2022-09-03 06:33] #3983 closed

[2022-09-03 06:42] Hanmengnan opened #4690 "Collect pods in HelmRespoitory and HelmRelease will display many error log."
**Describe the bug**

When use the  `CollectPods`  method in `velaQL` to get the pods in HelmRespoitory and HelmRelease will display many error log.

And this will cause the error log will display in `vela top`,  and the view will disorderly.

**To Reproduce**

**Expected behavior**

**Screenshots**

![helm bug](https://user-images.githubusercontent.com/30918851/188259180-a16f26c5-abb4-47c1-b1e8-6

[2022-09-04 01:39] skeetwu commented on #4688
thx for your comments, i did not use any policy, just use the commands in issue describe. if one cluster was deleted and detached, how to skip it when enable add-on for other new clusters?

[2022-09-04 15:56] chivalryq commented on #2054
closing since it's too stale and add-on render logic has been re-write with CUE.

[2022-09-04 15:56] #2054 closed

[2022-09-05 02:32] wangyikewxgm commented on #4688
This command will generate a KubeVela application for addon to install components to clusters, so can you use `k get -n vela-system app addon-fluxcd` and show the how's the app's policy field looks like?

[2022-09-05 02:35] wangyikewxgm commented on #4688
There is no need to enable the addon to all clusters one by one. You can just use `vela addon enable fluxcd` to install it to all existing clusters.

[2022-09-05 05:27] #4614 closed

[2022-09-05 06:36] wonderflow commented on #4596
Just FYI, there's another solution for this issue, which don't need change the controller code: https://github.com/openkruise/controllermesh

[2022-09-05 08:49] skeetwu commented on #4688
Hi @wangyikewxgm ,

this is the result of the command.
[code]
Maybe I need to introduce my work briefly. I work in a common service team, in our business group, we maintained a lot of open source components(istio, mariadb, keycloak, nginx, tomcat, ...) for other production groups in our company.
my team is focused on maintaining a tool to provide k8s env easily and quickly include of several k8s d

[2022-09-05 08:59] skeetwu commented on #4688
btw, here is the document I followed.
https://kubevela.net/zh/blog/2022/07/07/helm-multi-cluster

[2022-09-05 09:34] #4675 closed

[2022-09-05 11:03] wangyikewxgm commented on #4688
Can you paste this application detail info? I want to have a look of this application's `spec.policies` field.

[2022-09-05 12:19] codingknees opened #4694 "[Feature] orphan删除app时，detach资源与app关联"
orphan delete app时，发现k8s资源，包括rt都被删掉了，但是app还留着，只是状态被标记为deleting：
[code]

原因经社区大佬@Somefive 定位，是k8s添加的orphan这个finalizer覆盖了vela-core的app.oam.dev/resource-tracker-finalizer的行为，导致资源删除异常。
作为验证，当删除orphan这个finalizer时，命令立即退出，完成删除操作。

当前vela设计并未考虑orphan删除app的情况。建议，orphan删除app是不是可以实现成detach操作？即，接触app对底层资源的管控？

[2022-09-06 01:43] skeetwu commented on #4688
looks like there are 3 policies.

[code]

[2022-09-06 04:02] wangyikewxgm commented on #4688
As the result shows, the configuration is right. Maybe the controller cannot handle this situation. ping @Somefive

[2022-09-06 12:03] ZhongsJie96 opened #4697 "[Bug] vela show webservice --format markdown error"
**Describe the bug**

`vela show webservice --format markdown`

<img width="1422" alt="image" src="https://user-images.githubusercontent.com/62382570/188629490-0cec78d1-88c4-4cc6-8344-de7040dee32a.png">

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**
CLI Version: master
Core Version: 0.1.0
GitRevision: git-d7f57ed1
GolangVersion: go1.17.7

**Cluster information**

*

[2022-09-07 06:26] Somefive opened #4699 "[Feature] Support selecting only managed cluster"
**Is your feature request related to a problem? Please describe.**

Support selecting all managed cluster and exclude the hub cluster.

Currently `clusterLabelSelector: {}` will select all clusters.

**Describe the solution you'd like**

Several ways
1. Support regex matching for cluster names in topology.
2. Support `exclude` in topology.
3. Support special labelSelector.

NOTE: This feature shou

[2022-09-07 06:27] Somefive commented on #4694
Great idea! Will look into it soon.

[2022-09-07 06:36] skeetwu commented on #4688
thx for your help @wangyikewxgm.
@Somefive  would you please help us to pass over this issue?

[2022-09-07 08:57] TommyHwang opened #4700 "delete application containing forbidden object is failed due to FailedGC"
**Describe the bug**

When attempt to delete an application that performs a forbidden action(e.g. create ConfigMap in `kube-system`) with vela-core that uses `authentication-with-user` option, it is failed to delete the resourcetracker and stopped indefinitely.

**To Reproduce**

1. Run vela-core with `authentication-with-user` option
2. Create user and rbac

<details>

[code]

[code]

</details>

[2022-09-07 10:39] TommyHwang commented on #4700
@Somefive Thank you for your comment on [#4701](https://github.com/kubevela/kubevela/pull/4701#pullrequestreview-1098879271)

I am currently providing Kubernetes runtime to users in Namespace units.

When we enabled and tested authentication in v1.5.4 version, we checked that service was successful except when the user intentionally created an object in the Forbidden namespace.

Currently, when th

[2022-09-07 10:51] Somefive commented on #4700
@TommyHwang Thanks for raising this issue. I can see this problem could block some unintended usage but will leave side-effect which prevent users withdrawing the forbidden operations.

As you said, adding check in validating webhook can help a lot. But I guess the real underlying issue here is that when the application fails to create ConfigMap, it miswrites the record to ResourceTracker, which w

[2022-09-07 10:56] zxbyoyoyo opened #4702 "[Feature] Support when the template content is changed, the update of a single component only affects its own k8s resources"
**Describe the bug**

Scenario description:

now we will put multiple microservice components in an Application, each release is a single microservice component release
YAML example:
[code]
When the content of the micro-service component template is changed, the parameters of s2 are modified at this time, and when the Application update is triggered, the k8s resources associated with the s1 and s2

[2022-09-08 01:24] TommyHwang commented on #4700
Thank you. 👍

I agree with what you said.
It seems better to change that the managed resource contains content that the resourcetracker is not actually managing.

I would like to ask your opinion carefully what do you think about dryruning objects once just before creating the resource tracker in the record stage.

[2022-09-08 02:42] Somefive commented on #4700
Dry-run objects once could work. It could be a possible solution. But the side-effect is that the traffic of requests to apiserver will be doubled. We can reserve this solution and adopt it if there is no other better solutions.

[2022-09-08 05:18] wonderflow commented on #4702
In your example case, why don't use two apps for this work?

[2022-09-08 06:10] zxbyoyoyo commented on #4702
Our platform design is that an application contains multiple microservices. So we use KubeVela like this:
- Application = KubeVela Application
- Microservice = KubeVela Component
When publishing, you can publish the application, or a microservice under the application.

If KubeVela can't achieve that the components do not affect each other, we need to create a KubeVela Application for each microse

[2022-09-08 08:49] wonderflow commented on #4702
Thanks @zxbyoyoyo

Now I understand this case better. I have a question, will you need to update all component at once? If your issue here is implemented, it will mean any changes on the application spec won't trigger the component to upgrade if the component/trait not updated.

1. Should change the metadata of application CR affect any component to upgrade?
2. Should change policy/workflow step a

[2022-09-08 08:51] zbqyexingkong commented on #1662
Orgnization/Company: DIDI
Location: Nanjing, China
Contact: [zbqzhangbaoqing@didiglobal.com](mailto:zbqzhangbaoqing@didiglobal.com)

Status: development & testing
Purpose/Scenario: Planning to use OAM model，and set up company-level PAAS platform

[2022-09-08 09:07] chivalryq commented on #4697
Testing with velad v1.6.0-alpha.1
[code]

[2022-09-08 11:51] Somefive commented on #4688
@skeetwu After you detached the cluster, could you run `vela cluster list` and `kubectl get clustergateway` to validate if the cluster has already been deleted?

[2022-09-09 01:33] #4685 closed

[2022-09-09 03:59] Tranceh2 commented on #4342
@wonderflow I have a question related to the proposed solution. How could I apply it to an "appfile" type file? I tried in the following way.

[code]
but it doesn't work and it only works by applying it in the following way in an application type manifest
[code]

I apologize if this is not the place to ask, but I have searched and cannot find the correct way to apply your traitDefinition.

Thanks

[2022-09-09 04:24] wonderflow commented on #4342
@Tranceh2 Let's raise an discussion for this.

[2022-09-09 06:18] skeetwu commented on #4688
Hi @Somefive
thx for your response. it looks like cluster kind-skeet-test1(10.69.90.138) has been deleted.
[code]

and I tried to enable the fluxcd again, the error still exists.
[code]

[2022-09-12 03:44] oeular opened #4707 "[Addon] make Nacos as an addon"
Is your feature request related to a problem? Please describe.

There's an operator for doing so: https://github.com/harmonycloud/nacos-operator

Describe the solution you'd like

make traits to an vela app for dynamic service discovery, configuration and service management.

[2022-09-12 04:02] xueliangyang-oeuler opened #4708 "[Feature] Via the application controller to write workflow-records instead of vela-apiserver"
For some main reasons
- make the vela apiserver stateless
- make the vela apiserver deploy in multiple clusters
- make workflow recording better performance

[2022-09-12 04:15] chivalryq commented on #4339
## Final target

passing data from a cloud resource components to other components

## Background

1. We are using `deploy` workflow step to manage all resource dispatching. At least we hope to use it in all scenairos. For now we are using both `apply-component` and `deploy`.

| Name                 |    deploy    |  apply-component  |
|-----------------|:------------:|:--------------:|
| multiclu

[2022-09-13 02:16] Hanmengnan commented on #4672
/assign

[2022-09-13 02:38] barnettZQG commented on #4708
/cc @FogDong

[2022-09-13 02:42] barnettZQG commented on #4707
@oeular This operator repo may be in bad repair. We only need traits to set and get configuration from the Nacos.

[2022-09-13 02:52] barnettZQG commented on #4690
We should make the logs as multiple levels. The `vela top` do not show these logs.

[2022-09-13 02:53] barnettZQG commented on #4683
@codingknees There are no more updates. I will close this issue.

[2022-09-13 02:53] #4683 closed

[2022-09-13 02:55] oeular commented on #4707
OK. Some more notes are needed in README.md for how to deploy a Nacos server.

[2022-09-13 02:56] barnettZQG commented on #4643
@oeular Do you have more updates?

[2022-09-13 03:31] FogDong commented on #4708
APIserver and controller are decoupled, we don't have a resource called `workflow record` in controller. Its status is from application revision and application.

[2022-09-13 08:18] #4672 closed

[2022-09-13 10:08] zxbyoyoyo commented on #4702
Thanks @wonderflow

This is a nice solution

The Controller logic is that if the app.Spec(Components\Policies\Workflow) changes, the workflow will be re-executed, which I think is reasonable.

now:
Component template changed || Component properties changed => Update k8s underlying resources.

want:
Component properties changed && component template changed => Update k8s underlying resources.

So I

[2022-09-13 10:11] chivalryq opened #4719 "CLI fail to upgrade addon if disable multi-cluster"
**Describe the bug**

*Original posted at https://cloud-native.slack.com/archives/C01BLQ3HTJA/p1662661491621009*

If user pass `multicluster.enabled=false` in values.yaml, cluster-gateway is not installed.

`vela addon upgrade/enable` will fail because after applying application it will check the endpoint of addon application, which uses cluster-gateway.

**To Reproduce**

**Expected behavior**

*

[2022-09-13 14:40] oeular commented on #4643
On my side, is there any way to apply an app without the default workflow step?
Actually an app with the topology is enough to apply.

[2022-09-14 03:32] wonderflow commented on #4643
Can you list the performance bottleneck in details comparing to your solution？

[2022-09-14 03:43] zxbyoyoyo commented on #4702
you get it

[2022-09-14 05:10] wonderflow commented on #4708
@oeular Why do you rely on the workflow record generated from vela-apiserver?

AFAIK, we don't use the records, we use the application revision. \cc @FogDong

[2022-09-14 05:15] #4582 closed

[2022-09-14 06:10] oeular commented on #4510
Here I make a helm repo on https://artifacthub.io/packages/helm/chaosblade-operator/chaosblade-operator,  and  provide it to the issue.

https://github.com/kubevela/catalog/pull/471#issue-1372396923

[2022-09-14 06:10] Somefive commented on #4702
By far, the deploy of application is treated as a whole. We recommend to split your application into multiple applications if you need to handle your "components" separately. There are scenarios that component dispatch is intended even if the properties of the component is not changed.

The example you raised where multiple components use the same component definition but want them to update diffe

[2022-09-14 08:05] yuchu01 opened #4725 "kubevela upgrade from 1.4.x->1.5.x, the workflow rerun, but if from 1.5.1 to 1.5.4 not"
**Describe the bug**

Upgrade version from 1.4.x -> 1.5.x trigger workflow rerun , 1.5.1 to 1.5.4 not .

This bug still in 1.2.x -> 1.3.x, etc. Keep  the `MINOR version`  different .

**To Reproduce**

1. add `notification` , such as:
[code]

2. keep application workflow **running**

3. upgrade kubevela version, from 1.4.x -> 1.5.x , the `MINOR version` need different , will trigger notification

[2022-09-14 08:28] #2262 closed

[2022-09-14 08:29] #4697 closed

[2022-09-14 09:12] weiy730 commented on #4139
/assign

[2022-09-14 09:55] zhiyu0729 opened #4728 "[velaux] cloudshell vela exec error"
**Describe the bug**

project admin or project member use cloudshell exec will get error:
[code]
**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-09-14 10:01] barnettZQG commented on #4728
This auth problem also affects the following commands:

* vela port-forward
* vela status --pod --endpoint
* vela logs

[2022-09-15 02:29] zxbyoyoyo commented on #4702
In this way,  we need to additionally maintain the components of the application and the version it uses

[2022-09-15 02:33] weiy730 commented on #4139
@zzxwill Is this feature necessary or not ?

[2022-09-15 03:38] barnettZQG commented on #4139
@weiy730 Hi, There are some changes to this demand. Please wait for me to update the designs.

[2022-09-15 07:00] weiy730 commented on #4139
OK.

[2022-09-15 07:39] momofish opened #4732 "通过velaux部署helm组件，value不识别boolean类型"
value字段为boolean类型时，部署后提示”Expected: boolean, given: string“

[2022-09-15 07:49] Adri2000 opened #4733 "`vela def show` always opens a browser"
Even without the `--web` flag, `vela def show` will open a browser.

When I just need to generate the doc, but don't want to display it in a browser, it'd be nice to not have the browser open automatically.

I believe this is where the behavior is defined: https://github.com/kubevela/kubevela/blob/master/references/cli/show.go#L91-L96

[2022-09-15 07:56] barnettZQG commented on #4732
@momofish 可以先从原生表单切换为代码模式，将 value 从 "true" 修改为 true

[2022-09-15 07:58] wonderflow commented on #4733
You can specify a capability to avoid the opening of the browser, e.g.

[code]

[2022-09-15 08:03] Adri2000 commented on #4733
But that doesn't generate all the doc in `~/.vela/reference/docs/`, does it?
I'd like to be able to generate all the doc in order to re-use it somewhere else, in an automated fashion (hence why I don't want a browser opening up automatically...).

[2022-09-15 09:20] wonderflow commented on #4733
@Adri2000 I got it,  in the previous version, `vela def show` will report an error, I think we can generate all docs silently as you expect.

[2022-09-15 09:32] #4699 closed

[2022-09-15 09:32] #4671 closed

[2022-09-15 09:37] wonderflow commented on #4410
ping @Mcduller Hi, are you still working on this?

[2022-09-15 09:48] zxbyoyoyo commented on #4702
@wonderflow @Somefive
I tried to modify the multicluster.#Deploy logic to implement the Apply operation only when the properties of a component changed, but found that it would conflict with the GC logic.

GC logic: Kubevela will generate a new tracking object (ReouceTracker) every time the App is updated to record the applied resources. For example, the first time ReouceTrackerV1: ["serviceA", "s

[2022-09-15 09:48] #4702 closed

[2022-09-15 10:59] Mcduller commented on #4410
I haven't had time to deal with it lately, I will unassign this .

[2022-09-16 01:35] skeetwu commented on #4688
Hi @Somefive , this issue has blocked us for a long time, if available, please help us.
Big thx!

[2022-09-16 07:24] miyoosan opened #4737 "Upgrade fluxcd addon from 1.0.0 to 2.1.0 failed"
**Describe the bug**
After I upgrade kubevela 1.2 -> 1.3 -> 1.4 -> 1.5, I try to upgrade fluxcd addon from 1.0.0 to 2.1.0, it succeed, but went into many errors says:
the server could not find the requested resource (get helmreleases.helm.toolkit.fluxcd.io)
the server could not find the requested resource (get imagepolicies.image.toolkit.fluxcd.io)
the server doesn't have a resource type "kustomiz

[2022-09-17 09:47] ceekay47 commented on #4371
/assign

[2022-09-17 12:17] Hanmengnan opened #4741 "[Bug] Stuck occurs when switching resource views in `vela top`."
**Describe the bug**

Stuck occurs when switching resource views in `vela top`.

**To Reproduce**

**Expected behavior**

Refer to the [tview's concurrency principle](https://pkg.go.dev/github.com/rivo/tview#hdr-Concurrency), all UI change actions will execute in the main goroutine, so when the UI action need data rendering which needs long time network transmit, the stuck will happen.

**Screensh

[2022-09-17 12:17] Hanmengnan commented on #4741
/assign

[2022-09-17 12:23] Hanmengnan opened #4742 "[Feature] add the feature of refreshing resource view in `vela top`"
**Is your feature request related to a problem? Please describe.**

Now the resource view won't refresh after rendering first. But state of resource will update, so we need add the refresh feature.

**Describe the solution you'd like**

Add the key action **R** related to the refresh action.

![view refresh](https://user-images.githubusercontent.com/30918851/190856484-cbc93191-79b7-499e-b4c5-b11af

[2022-09-17 12:23] Hanmengnan commented on #4742
/assign

[2022-09-17 13:36] oeular opened #4744 "[Feature] "vela def vet" can support the input "dir" and many cue files"
Now "vela def vet" only can vet on cue file, it is necessay to support the specified dir, the local dir and many cue files, such as:
- vela def vet /home/dir/*
- vela def vet dir/*
- vela def vet *
- vela def vet a.cue b.cue c.cue

And output the vet results of all the input cue files.

[2022-09-17 13:48] oeular commented on #4708
@wonderflow  On velaUX, the workflow-record stored in configmap is used to store the workflow configuration and vela apiserver update it periodically. So is it suitable to let vela-core update or not ?

[2022-09-17 13:51] oeular commented on #4708
@wonderflow  On velaUX, the workflow-record stored in configmap is used to store the workflow configuration and vela apiserver update it periodically. So is it suitable to let vela-core update or not ?

[2022-09-17 13:56] oeular commented on #4643
@wonderflow  The performnace testing results are on the way. It will cost some time to list the difference.

[2022-09-19 02:10] wonderflow commented on #4744
Good idea! Would you like to contribute this feature?

[2022-09-19 02:23] #4597 closed

[2022-09-19 02:52] haiyuanhe opened #4746 "Can't not open cloudshell on RKE"
**Describe the bug**

I found an exception error after clicking the button

`Failed:failed to prepare the kubeconfig for the user: [certificatesigningrequests.certificates.k8s.io](http://certificatesigningrequests.certificates.k8s.io/) "kubevela-csr-admin" already exists`

**KubeVela Version**

CLI Version: v1.5.4
Core Version: 1.5.4
GitRevision: git-17872f9
GolangVersion: go1.17.13

**Cluster inf

[2022-09-19 03:06] barnettZQG commented on #4746
@haiyuanhe  Can you delete the "kubevela-csr-admin" CSR and retry?

[code]

[2022-09-19 06:25] 0x0034 opened #4752 "[BUG] 使用Application 创建 MySQL Operator 出现vela secret 过大的错误"
## 问题描述

使用如下的Yaml 创建Mysql Operator Application .

[code]

## 报错信息

[code]

[2022-09-19 06:28] wangyikewxgm commented on #4752
这个 app 创建之后，当前的运行状态是什么？

[2022-09-19 07:27] 0x0034 commented on #4752
@wangyikewxgm fluxcd 显示已经安装完成, 但是 其实innodbcluster 是写入crd 再由 operator 创建具体资源

[2022-09-19 07:30] wangyikewxgm commented on #4752
这个 CRD 对象是什么状态呢？有报错信息吗？

[2022-09-19 07:38] wonderflow commented on #4544
ref to #4744

[2022-09-19 07:39] 0x0034 commented on #4752
@wangyikewxgm

## vela Application 状态

[code]

## CRD innodbclusters 状态

[code]
CRD因为有依赖资源没有创建成功 , 所以pendiing了, 日志就是上面 报错

[2022-09-19 08:48] chivalryq commented on #4002
Already implemented:
[code]

## Some Background

Issue created before this post: https://cloud-native.slack.com/archives/C01BLQ3HTJA/p1653556538146979?thread_ts=1653492993.689669&cid=C01BLQ3HTJA

But he already delete the application controller before. https://cloud-native.slack.com/archives/C01BLQ3HTJA/p1653901016064719?thread_ts=1653492993.689669&cid=C01BLQ3HTJA. However we don't know it when cr

[2022-09-19 08:49] #4002 closed

[2022-09-19 09:24] #4371 closed

[2022-09-19 09:25] FogDong commented on #4708
Application revision also stores the config of workflow. All the source data of workflow record in VelauUX is from Application and its revision, you can checkout the code here: https://github.com/kubevela/kubevela/blob/master/pkg/apiserver/domain/service/workflow.go#L325

[2022-09-19 09:26] #3873 closed

[2022-09-19 10:34] zxbyoyoyo opened #4757 "The apply-once strategy has inconsistent behavior in the state maintenance phase and the republishing phase"
**Describe the bug**

The apply-once strategy will only take effect during the state maintenance phase

**To Reproduce**
1. I deployed this example first, scaler.replicas is set to  1, and the number of copies of the underlying Deployment is 1.
[code]

2. Then I manually or through HPA changed the number of copies of the underlying Deployment to 4 --- this 4 is the number of drift copies I want to

[2022-09-20 03:28] #4741 closed

[2022-09-20 03:28] #4742 closed

[2022-09-20 07:18] #4733 closed

[2022-09-20 07:22] Somefive opened #4761 "[Feature] ref-objects use user impersonation"
**Is your feature request related to a problem? Please describe.**

`ref-objects` needs to read resources in cluster, it now uses the controller identity. It should use the user's identity.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-20 07:59] hprotzek commented on #4728
We have the same error, but not in velaux, just our normal users using the vela cli 1.5.4 running vela logs or vela exec.
[code]

[2022-09-20 08:09] barnettZQG commented on #4728
@hprotzek  As a temporary solution, you could bind a new role to the normal users to grant permission that reads the ConfigMap from the vela-system namespace.

[2022-09-20 08:15] cezhang commented on #4410
/assign

[2022-09-20 09:19] wonderflow commented on #2155
We'll deprecate SkipRevisionAffect in v1.6.  Any spec change must generate a immutable revision.

All vela core features won't be effected on this change.

 https://github.com/kubevela/kubevela/pull/4760

[2022-09-20 09:22] wonderflow commented on #2155
ping @Somefive  please remove it, thanks

[2022-09-20 09:25] wonderflow commented on #4757
Yes, the apply-once now has ambiguity, we need add more on the strategy, such as:

[code]

[2022-09-20 11:55] Somefive commented on #4761
Found implemented in #4031.

[2022-09-20 11:55] #4761 closed

[2022-09-20 20:22] xiaocode opened #4765 "Can we use private docker registry in config image registry?"
I have a private docker harbor registry, I try to put the url(such as xxx.xxx.xxx.xxx:30002) into the Image registry FQDN field.But it shows "Invalid value: "xxx.xxx.xxx.xxx:30002": a valid label must be an empty string or consist of alphanumeric characters"

[2022-09-21 02:19] barnettZQG opened #4766 "The `vela def edit` command loss the labels"
**Describe the bug**

If we use the `vela def edit` command to edit the definition, the labels of the definition will be lost.

**To Reproduce**

[code]
![image](https://user-images.githubusercontent.com/18493394/191399271-0e1514d1-699c-4f43-aca0-716323d6e2bc.png)

The `config-image-registry` definition has some labels, when we edit it, the labels are lost. We add some labels and save it, but thes

[2022-09-21 02:29] wonderflow commented on #4766
It's fixed here: https://github.com/kubevela/kubevela/pull/4666

[2022-09-21 03:40] Somefive commented on #4725
Fixed in #4754.

[2022-09-21 03:40] #4725 closed

[2022-09-21 08:12] skeetwu commented on #4688
Hi @wangyikewxgm @Somefive ,

I used these steps as a workaround to pass this issue.

1.  get all clusters `vela cluster ls`
2.  probe these clusters one by one `vela cluster probe $cluster-name`
3.  detach the clusters which can not be reached `vela cluster detach  $cluster-name`
4.  delete addon fluxcd application `vela delete addon-fluxcd -n vela-system -y --force`

after these steps, we can de

[2022-09-21 08:16] Hanmengnan opened #4770 "[Bug] exist empty row in cluster view of `vela top`"
**Describe the bug**

when we select cluster to filter managed resource, exist empty row in cluster view.

![image](https://user-images.githubusercontent.com/30918851/191452070-2ce26b08-f9af-4b5b-8e9e-48e1f75b4f71.png)

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Cluster information**

**Additional context**

[2022-09-21 08:16] Hanmengnan commented on #4770
/assign

[2022-09-21 18:47] 26tanishabanik commented on #4765
@barnettZQG , can I work on this issue?

[2022-09-21 18:49] 26tanishabanik commented on #4744
@wonderflow , can I work on this issue

[2022-09-22 00:25] wonderflow commented on #4744
Sure, Please go ahead. Thanks.

[2022-09-22 02:28] FogDong commented on #4765
Sure!
/assign @26tanishabanik

[2022-09-22 02:44] #4746 closed

[2022-09-22 05:29] 26tanishabanik commented on #4765
@FogDong, can you guide me, where I can start with in the repo for this issue?

[2022-09-22 05:36] 26tanishabanik commented on #4744
@wonderflow , can you guide me, what would be the starting point for this issue in the repo?

[2022-09-22 08:35] barnettZQG commented on #4765
@26tanishabanik I think only need to delete a label from the definition. Of course, it's best if you do a full test after the change.
https://github.com/kubevela/kubevela/blob/db3249a0b51730b5684ce6913793d18d893ed3f7/vela-templates/definitions/internal/component/config-image-registry.cue#L33

[2022-09-22 08:48] wonderflow commented on #4744
You can focus on the code starting from here: https://github.com/kubevela/kubevela/blob/master/references/cli/def.go#L1037-L1063

[2022-09-23 07:50] nuclearwu opened #4776 "The env list obtained through velaux is out of sync with the env list obtained through vela cli"
**Describe the bug**
The environment list obtained through velaux is out of sync with the environment list obtained through vela cli. I created an env through vela cli, but I can't see it in velaux's environment list. Instead, I created the env via velaux, which is visible via the vela cli，but when I delete it via vela cli, it is still in velaux's env list

![image](https://user-images.githubuserc

[2022-09-23 08:30] nuclearwu commented on #4776
I checked the source code, and the env list obtained by velaux actually queries the configmap under the kubevela namespace, while the environment list obtained by vela cli actually queries the namespace with the env label. Is this a bug or is it designed that way?

[2022-09-25 00:48] fourierr commented on #4757
In using hpa and kubevela, we modify the the values of `application.scale`r and `deployment.spec.replicas` at the same time. @zxbyoyoyo

[2022-09-25 01:00] fourierr opened #4779 "[Addon] make holmes as an addon"
**Is your feature request related to a problem? Please describe.**
Holmes can remain on-site in the event of an application performance failure.
The monitoring method of Holmes is different from the Pyroscope solution. It only collects profiles when the application performance is abnormal And the performance loss is small and the implementation speed is fast.
https://github.com/mosn/holmes

[2022-09-25 05:00] Hanmengnan opened #4780 "[Feature] Add more data field to application view and managed resource view in `vela top`"
**Is your feature request related to a problem? Please describe.**

At present, the data in the app view and managed resource view are relatively thin. We should add some fields to these fields.

**Describe the solution you'd like**

About application, we can add:
- workflow step mode
- finished workflow / total workflow
- running service / total service

About managed resource, we can add:
- of w

[2022-09-25 05:00] Hanmengnan commented on #4780
/assign

[2022-09-25 08:26] wonderflow commented on #4776
@nuclearwu Thanks for pointing that, I think we need to fix it, both velaux and vela CLI should align with the K8s namespace and label mechanism without using extra Configmap.  \cc @barnettZQG

[2022-09-26 01:04] nuclearwu commented on #4776
If this is a problem, I'm happy to fix it

[2022-09-26 01:12] nuclearwu commented on #4776
/assign

[2022-09-26 01:44] yuezhimi opened #4784 "[Feature] Migrate the helm release applications to KubeVela"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-26 01:53] nuclearwu commented on #4776
I also have a problem that velaux has the concept of delivery target (actually created configmap), and velaux's env is bound to delivery target, but vela cli does not, so if both velaux and vela cli are are align with the k8s namespace and label mechanism, what about the delivery target? Delivery target related commands not found in vela cli.

[2022-09-26 02:05] barnettZQG commented on #4784
@yuezhimi Please provide more info for this issue. For examples:

* Your use cases or an example.
* The effect you want to achieve.

[2022-09-26 02:22] wonderflow opened #4785 "[Feature] gracefully handle Kubernetes api deprecations in Kubevela trait definitions"
**Is your feature request related to a problem? Please describe.**

https://www.openfaas.com/blog/ingress-api-deprecation/

KubeVela lacks some mechanism that could allow uses to deprecate legacy API gracefully.

What does gracefully mean in this case? End user and all application should not be affected, they don't need to aware of this change, the application spec should also has no changes.

**D

[2022-09-26 02:32] Somefive commented on #4785
1. `vela/ql` in ComponentDefinition/TraitDefinition is relatively hard to be implemented. We only have provider mechanism in the CUELang render process of WorkflowStepDefinition. Besides, introducing the provider mechanism currently will increase the load of rendering basic resources greatly, so I do not recommend to add the provider mechanism in Component/Trait unless we make sure the repeated re

[2022-09-26 02:32] #4766 closed

[2022-09-26 02:35] barnettZQG commented on #4785
`pass the Kubernetes Version in context.` This is a lightweight and helpful way.

[2022-09-26 06:23] Hanmengnan opened #4787 "[Feature] Add resource topology view in `vela top`"
**Is your feature request related to a problem? Please describe.**

Resource topology is an important part of resource observation. Users can find out whether resources are deployed correctly by checking the resource topology.
There are two resource topologies in KubeVela, namely **App topology** and **Resource topology**. The former shows the topology from the OAM perspective, showing the compone

[2022-09-26 06:23] Hanmengnan commented on #4787
/assign

[2022-09-26 06:46] wonderflow commented on #4776
Yes, we don't have delivery target in CLI, it's a special concept of velaux

[2022-09-26 06:49] #4770 closed

[2022-09-26 07:11] Somefive commented on #4688
Sorry for the late response. We are recently fixing another fluxcd addon upgrade issue and I have just finished fixing that one. I reviewed this issue and found you were blocked at an error in `HandleComponentsRevision`. There is a parameter named `--optimize-disable-component-revision` in controller, which you can add to the vela-core controller and disable the feature. I think if you are not usi

[2022-09-26 07:29] Somefive commented on #4688
@wangyikewxgm There is something weird for the describe process. @skeetwu Firstly enable addon for cluster 1 and then enable addon for cluster 2. Will the second enable operation override the first enable? I think it should cause the addon to use cluster 2 and treat cluster 1 as outdated.

[2022-09-26 08:23] wonderflow commented on #4785
Yes, we can support the following case first to make it work.

[code]

[code]

[2022-09-26 13:50] wonderflow commented on #4599
According to `context.runtime` mentioned in #4785 . I'll propose the custom context to be:

[code]

act as:

[code]

[2022-09-27 02:14] barnettZQG commented on #4785
Maybe we need to set the `context.runtime.kubernetesVersion` as a number.

[2022-09-27 03:13] nuclearwu commented on #4776
VelaCLI initializes the env's NAME and NAMESPACE when the env is created, while VelaUX initializes the Name, Project, Namespace, Description and Targets when the env is created. So in the process of synchronizing the env of velaux and velacli, are all these information(such as Project, Description and Targets) bound in the annotation of NAMESPACE?

[2022-09-27 03:13] nuclearwu commented on #4776
VelaCLI initializes the env's NAME and NAMESPACE when the env is created, while VelaUX initializes the Name, Project, Namespace, Description and Targets when the env is created. So in the process of synchronizing the env of velaux and velacli, are all these information(such as Project, Description and Targets) bound in the annotation of NAMESPACE?

[2022-09-27 04:00] wonderflow commented on #4785
No, as a number, `1.18` is less than `1.2` .

[2022-09-27 04:40] wonderflow commented on #4776
I think that could be fine. WDYT? \cc @barnettZQG

[2022-09-27 07:54] miyoosan commented on #4737
[code]

在以上问题的基础上，碰到了另一个问题：按升级路线 1.5.4 -> 1.5.5 -> 1.5.6 来升级vela-core之后，应用工作流里的钉钉通知没有发送成功。

请看上面贴的yaml代码，正常来说，工作流执行完后，我会受到钉钉消息通知 “Demo生产环境:busybox-demo部署成功”，但实际上没有收到。

我查看了 busybox-demo-prod这个Application的状态，workflow里所有步骤却是执行成功的状态。

而在1.5.5里，这个通知是正常的。

**完整的复现流程如下：**

**准备上述贴出来的yaml文件(取名 busybox-demo.yaml)，把手机号和钉钉hooks替换成自己的，镜像替换成可用的**

1. 新建K8s集群local
2. 在local集群里安装vela 1.2.0-beta.3
3. 新建K8s集群demo

[2022-09-27 09:15] wangyikewxgm opened #4791 "[Feature] Proposal of supporting to add context info when render application."
**Is your feature request related to a problem? Please describe.**

Senarior:

Assume that I'm a cluster operator, and I had installed a Loki server in my cluster.  I want make a traitDefinition to help  users to sink  the application log to  the loki server without caring about what the loki endopint is. Because the loki server was installed by me, users don't know neither. User just create  an a

[2022-09-27 10:23] linclin opened #4792 "[Feature] checkname validator in apiserver should has max length 64 to make it more proper"
Our use cases have application that has name longer than 32 that fails to run.

[code]

[2022-09-27 11:10] nuclearwu opened #4793 "it does not check the same name for "vela env init""
**Describe the bug**
When an env is created through "vela env init", the same name of env is not checked, resulting in the existence of an env with the same name in the env list obtained through ‘’vela env ls‘’.
![image](https://user-images.githubusercontent.com/37976659/192510445-9c1df59a-ae3c-4ebe-9047-093814609cc2.png)

**To Reproduce**

**Expected behavior**
it should not exist env with the sa

[2022-09-27 11:58] wonderflow commented on #4791
Good idea, this is also related with #4785 and https://github.com/kubevela/kubevela/issues/4407  , especially the #4407

[2022-09-27 11:59] wonderflow commented on #4791
Also related with this one: https://github.com/kubevela/kubevela/issues/4605

[2022-09-27 12:01] wonderflow commented on #4793
Good catch, you're welcome to send a PR to fix. Thanks

[2022-09-28 00:53] nuclearwu commented on #4793
/assign

[2022-09-28 01:57] barnettZQG commented on #4791
@wangyikewxgm The integration feature makes registering and discovering the service more simple. #4794
 We could get the service endpoints by the workflow dynamically.

[2022-09-28 01:59] nuclearwu commented on #4793
done

[2022-09-28 02:15] barnettZQG commented on #4785
Versions judging is usually like this:
[code]

[2022-09-28 02:18] zhiyu0729 opened #4797 "[Feature]Apiserver webhook deploy return workflow name and revision name"
**Is your feature request related to a problem? Please describe.**

After call apiserver application deploy interface, can't get triggered workflow info, then can't get triggered workflow status by apiserver.
**Describe the solution you'd like**

return workflow name and revision name.
**Describe alternatives you've considered**

**Additional context**

[2022-09-28 02:19] zhiyu0729 commented on #4797
/cc @barnettZQG

[2022-09-28 02:27] barnettZQG commented on #4797
@zhiyu0729 Currently, you could call the API that details the revision. The response data include the workflow name.

 The deployed API should return the workflow name. Could you help to change it?

[2022-09-28 02:33] wonderflow commented on #4792
The main reason is kubeapi driver uses K8s configmap to store the data, it only allows resource name length less than 64 chars. If users use mongodb, the strict can be 64.

So if we want to fix this issue, we need to write validation for different datastore drivers.

[2022-09-28 02:57] barnettZQG commented on #4776
@nuclearwu We could get all env namespaces in listing the environments API, and create a target base on the same namespace default.

[2022-09-28 02:58] #4793 closed

[2022-09-28 03:40] zhiyu0729 commented on #4797
workflow name in deploy args,so it seems that there is no problem with deploy.
so we can add workflow name to webhook resp.

[2022-09-28 07:52] nuclearwu commented on #4776
I agree with you, but at present, the code of ENVService involves methods such as GetEnv, ListEnvs, ListEnvCount, DeleteEnv, CreateEnv, UpdateEnv, etc. that need to be rewritten, more like a feature needs to be submitted.  @wonderflow @barnettZQG

[2022-09-28 16:22] tangoliu opened #4804 "[Feature]Add a new patch strategy annotation that can Ignore some values while overriding or merging values"
**Is your feature request related to a problem? Please describe.**
In the actual production environment, the platform may have its own system environment variables, which are usually used for other management platforms, such as the log platform. However, these environment variables are transparent to users, so users do not know that these environment variables exist. As a result, users may use env

[2022-09-29 03:05] wonderflow commented on #4114
the file name should be `NOTES.cue`

[2022-09-29 07:07] kekeDanny commented on #4792
/assign

[2022-09-30 02:45] #4780 closed

[2022-09-30 08:03] aoreki opened #4816 "Can't query workflow execution records of Application with PublishVersion annotation"
**Describe the bug**
When annotation `app.oam.dev/publishVersion: xx` is added to Application,I can't query application workflow execution records using kubevela HTTP API. Thus can't use API to resume or rollback workflow record. Not sure if this a feature or a bug.

**To Reproduce**
nginx-app.yaml
[code]

[code]
Then delete app
[code]
Remove the publish annotation
[code]

[code]
But can't use thi

[2022-09-30 08:59] chengleqi opened #4818 "Unit test failed when testenv version is 1.24"
**Describe the bug**

Hi guys, I saw that kubevela supports kubernetes 1.24 on the official website. And I setup the env test via `setup-envtest use 1.24.2`.Then, I run `make test`. It failed.

See also: https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest

**To Reproduce**

Setup the envtest version to 1.24.x and execute `make test`.

**Expected behavior**
Pass un

[2022-10-01 15:50] miyoosan opened #4820 "[Feature]对GitOps应用来说，如果url,pullInterval,git.branch这三个参数的值相同，希望共用同一个gitRepo CR"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/25057968/193416235-1b44bcbe-8ff4-4ea8-a7c2-8964b874ea3e.png)

如上图所示，我有56个GitOps应用(参考`https://kubevela.net/zh/docs/end-user/gitops/fluxcd`)，都是监听同一个git仓库(url)，监听频次(pullInterval)与仓库分支(git.branch)完全一样，只是目录(path)不一样。

统计了一下，频次设为1分钟的时候，平均要10分钟才能走完一次r

[2022-10-03 04:58] chengleqi commented on #4820
情况应该是这样的，官方的[FluxCD插件](https://github.com/kubevela/catalog/tree/master/addons/fluxcd)提供了[Kustomize](https://github.com/kubevela/catalog/blob/master/addons/fluxcd/definitions/kustomize.cue)的ComponentDefinition，当你创建一个Kustomize应用时，会生成对应FluxCD的一个[Repository](https://github.com/kubevela/catalog/blob/9196c149d24ed4644efeec363dcc9b7915d47841/addons/fluxcd/definitions/kustomize.cue#L40)和一个[Kustomization](

[2022-10-04 01:34] jamesdobson opened #4821 "[Feature] Expose force deletion as an API"
**Is your feature request related to a problem? Please describe.**

The force delete feature is great; it allows many of our consumers to get their applications unstuck when Terraform fails under a variety of error conditions. But some of our consumers do not use the KubeVela CLI at all; instead, they have built higher-level abstractions (microservices and even UIs) that interact directly with the

[2022-10-04 14:21] suzuki-shunsuke opened #4822 "Asset name in sha256sums.txt is wrong"
**Describe the bug**

https://github.com/kubevela/kubevela/releases/download/v1.5.6/sha256sums.txt includes checksums and file names,
but file names are different from GitHub Releases asset names.

https://github.com/kubevela/kubevela/releases/tag/v1.5.6

[code]

Assets in GitHub Releases have the version `v1.5.6` (e.g. [kubectl-vela-v1.5.6-darwin-amd64.tar.gz](https://github.com/kubevela/kubevela

[2022-10-05 02:51] oeular commented on #4804
Can you work with this issue? You can assign yourself by "/assgin".

[2022-10-05 03:03] oeular commented on #4779
It is pretty good for application in abnormal to collect the related information.

[2022-10-05 03:08] oeular opened #4823 "[Feature] Make mongodb as an addon"
Is your feature request related to a problem? Please describe.

There's an operator for doing so: https://ot-container-kit.github.io/helm-charts/

Describe the solution you'd like

make two kinds of components, such as mongodb-standalone and mongodb-cluster.

[2022-10-05 03:09] oeular commented on #4823
/assign

[2022-10-05 03:21] oeular opened #4824 "[Feature] vela-apiserver supports mysql driver"
In vela-apiser, there are two drivers (kubeapi and mongodb) to save the metadata, and now mysql driver is needed.

[2022-10-05 03:36] oeular commented on #4824
For some reasons, mysql driver is needed:
- the LIST operation for configmaps will get all configmaps in namespace which makes request pressure for k8s apiserver, and this is high latency, but mysql driver can low the latency by db index.
- the configmaps for metadata will increase highly with the increasing of applications and components, but mysql can scale up easily and in safety.
- with mysql

[2022-10-05 03:38] oeular commented on #4824
@[tangoliu](https://github.com/tangoliu)

[2022-10-05 03:57] oeular commented on #4820
You can assign the issue to yourself by commenting "/assign"

[2022-10-05 04:06] oeular commented on #4816
Maybe the best way to rollback is to use the application revision.

[2022-10-05 04:09] chengleqi commented on #4820
/assign

[2022-10-05 04:16] oeular commented on #4824
In this issue, it will be much better to provide the API or vela-cli for migrating the metadata from kube-api to mysql, and it's optional for migrating from mongodb to mysql.

[2022-10-05 05:25] miyoosan commented on #4820
@chengleqi  解法很nice！期待您的改进~ 谢谢~

[2022-10-06 03:09] chivalryq commented on #4820
@chengleqi Nice idea! You can add new parameters like `sourceName`. when this parameter is not empty, skip  outputting the Source resource. So that you can keep the backward compatibility.

[2022-10-06 03:13] chivalryq commented on #4824
duplicate with #3666

[2022-10-07 00:33] #4818 closed

[2022-10-07 00:39] wonderflow commented on #4822
Thanks for reporting @suzuki-shunsuke , it must be a bug about generating the checksum file, we'll fix it ASAP.

[2022-10-07 00:49] wonderflow commented on #4804
Please pend this issue, the CUE community is proposing us [a new patch way](https://docs.google.com/document/d/1rSZ5BJwO8D34xP4Z-V_kEC0hljTQEtcHTd-vJBt7w60/edit) to define a more straight-forward patch method .

I'm not sure if this scenario can be covered \cc @FogDong @Somefive .

[2022-10-08 02:15] wonderflow commented on #4820
This solution could work, please keep the backward compatibility and make it simple in default case.

[2022-10-08 02:19] wonderflow commented on #4816
Hi, @aoreki , the workflow execution records is used for showing the status. Maybe it's a but that you should be able to find it, but yes, just as @oeular said, please use apprevision for rolling back. The doc is here: https://kubevela.net/docs/end-user/version-control

[2022-10-08 02:23] #4787 closed

[2022-10-08 02:38] #3888 closed

[2022-10-08 02:38] #4143 closed

[2022-10-08 03:12] wonderflow commented on #4161
fixed by https://github.com/kubevela/kubevela/pull/4570 , we can define the storage trait to be:

[code]

We need to add **`  stage: PreDispatch`** field, and open the feature gate `MultiStageComponentApply`.

[2022-10-08 06:53] wonderflow commented on #4785
@wangyikewxgm  metioned above.

[2022-10-08 07:02] wonderflow commented on #2155
already remove in v1.6

[2022-10-08 07:02] #2155 closed

[2022-10-08 07:02] wonderflow commented on #2155
https://github.com/kubevela/kubevela/pull/4774

[2022-10-08 14:13] oeular commented on #4823
Here is the PR: https://github.com/kubevela/catalog/pull/466#issue-1369212595

[2022-10-08 23:59] wonderflow commented on #4823
Merged, great job

[2022-10-08 23:59] #4823 closed

[2022-10-09 02:09] #4822 closed

[2022-10-09 03:24] FogDong commented on #4804
You can use `replace` like: https://kubevela.io/docs/platform-engineers/cue/patch-strategy#replace

[2022-10-09 06:12] aoreki commented on #4816
Thank you for your time. I've read this doc before posting the issue. As mentioned before, I can rollback with vela cli. But I want to integrate Kubevela with our existing system, so I prefer using Kubernetes client or Kubevela HTTP API. I wonder if there is any solution or workaround, or did I miss any documentation?

[2022-10-09 07:18] wonderflow commented on #4816
@aoreki Got it. Currently we don't support this API yet, but this should be in our roadmap. \cc @barnettZQG

[2022-10-09 22:35] tangoliu commented on #4804
`+patchStrategy=replace` cann't cover this scenario, the entire array of environment variables will be replaced directly.

[2022-10-10 02:16] wonderflow commented on #1365
/assign

[2022-10-10 02:29] miyoosan commented on #4820
@chengleqi 我看了一下提交的代码，有点没太看懂。该怎么使用sourceName呢？是按我设想的那样吗？

我举个例子：
现在有A、B、C三个应用，它们打算共用一个git respository，先部署A，再部署B、C。
在我的认知里，B与C里面，肯定要使用sourceName的，值为A的名称。假设A的yaml如下：

[code]
那么，B的yaml应该长这样：

[code]
C的跟B类似，只是把yaml里的 fluxcd-app-b改成了 fluxcd-app-c，这里就不贴出来了。

这样使用sourceName的方式是否正确？

假设B跟C还在running，A应用如果被执行删除，是直接删除失败吗？还是会把A删除了，并保留fluxcd-app-a这个git repository？

[2022-10-10 02:41] chengleqi commented on #4820
这个sourceName是指A创建出来的GitRepository的名称，并且B直接可以是这样的：
[code]
`url`、`git.branch`、`secretRef`其实是可以省略的，因为这些信息已经包含在fluxcd-app-a的GitRepository里了。

我想如果要删除A应用，应该会成功删除掉GitRepository和Kustomization，但是B和C应用会找不到GitRepository，会在下次的Reconcile中报错。

[2022-10-10 02:44] wonderflow commented on #4820
这么看这种场景准确的用法应该是使用 shared-resource policy，把  source 作为单独的组件创建，并设置为 shared-resource。

https://kubevela.net/docs/end-user/policies/shared-resource

[2022-10-10 02:45] miyoosan commented on #4820
@chengleqi 好的，谢谢~ 了解了！直接删除比较干净，需要再创建一个新的也可以，短暂的错误应该不怎么影响业务。

[2022-10-10 02:47] chengleqi commented on #4820
嗯嗯 我看下 我也准备创建source的ComponentDefinition，选择生成GitRepository、HelmRepository、OCIRepository和Bucket中的其中一种。

[2022-10-10 02:48] miyoosan commented on #4820
使用shared-resource的话，只有删除最后一个应用才会把git repository删除?  还是说，一经创建，它就是独立的了，应用删除与否，跟它没有关系？

[2022-10-10 02:49] wonderflow commented on #4820
@miyoosan 细节可以看下文档，是最后一个app删除才会删除shared-resource

[2022-10-10 02:50] miyoosan commented on #4820
嗯嗯，刚刚看完了，明白，谢谢！

[2022-10-10 02:54] miyoosan commented on #4820
@chengleqi 我还有个疑问，A是在default命名空间创建的，C是在demo命名空间创建的，C能使用A的gitRepository吗？我的业务场景想跨命名空间共用同一个gitRepository。

[2022-10-10 02:58] chengleqi commented on #4820
这个应该不能，默认创建在一个名称空间了。不过以后要是有source的ComponentDefinition，你就直接可以把GitRepository创建在demo名称空间了，而不用使用A附带创建出来的GitRepository。

[2022-10-10 03:03] miyoosan commented on #4820
了解。单独创建source的话，path参数也是必须的吧？让它指向一个永远不会更新的目录，是否是比较好的做法? 只有业务应用里的path，才需要指向应用对应的目录。source作为公用资源，空转就好了。

[2022-10-10 04:02] chengleqi commented on #4820
这个Path参数是[Kustomization](https://github.com/fluxcd/kustomize-controller/blob/ce46ec8f78922f39cd22b92cb3194d7a077a324c/api/v1beta2/kustomization_types.go#L77)的，创建GitRepository的source是不需要path的。

一个GitRepository应该只负责维护一个gitrepo的内容，比如branch等，path这种参数应该是应用层面的比如Kustomization和HelmRelease。所以可以引用同一个GitRepository但设置不同的path来创建两个不同的Kustomization或者HelmRelease。

[2022-10-10 04:14] miyoosan commented on #4820
@chengleqi  啊，是我想差了，抱歉！那这样就比较好了！

btw，对于已经存在的应用D来说，如果给它加上resourceName，值为fluxcd-app-a，然后apply。那么D原来的GitRepository是会被自动删除吧？应用D的path下面有1个业务应用在running，我担心的是，该业务应用是否会受影响？

[2022-10-10 04:21] chengleqi commented on #4820
原来的应用D的GitRepository虽然不被引用了，但是不会被自动删除会一直存在，可以手动删除掉这个GitRepository。
不会影响业务，因为D会引用到新的source，D应用中的Kustomization可以从你设置的sourceName对应的GitRepository那里获得Artifacts。

[2022-10-10 04:54] miyoosan commented on #4820
好的，非常nice!

我总结一下，你看看对不对：

1. GitRepository有两种创建方式：

    (1) 依据相应的ComponentDefinition手动创建。
    (2) 创建Component类型为kustomize的Application时，指定repoType为git。

2. 可通过sourceName来引用相同Namespace下已有的GitRepository。

3. 对于kustomize的Application来说，升级fluxcd addon版本后，使用sourceName引用其它GitRepository不影响path关联的应用，但它原有的GitRepository不会被自动删除，需要手动清理。（当然，前提条件是这2个GitRepository的url与branch保持一致）

4. 删除任何一个GitRepository之前，最好先确认有哪

[2022-10-10 04:58] chengleqi commented on #4820
我觉得没问题

[2022-10-10 07:36] Somefive commented on #4804
Try this trait:
[code]

[2022-10-10 07:40] Somefive commented on #4821
This feature is taken into consideration but it might need some time. Sorry for the late response.

We are discussing making an force deletion API in velaux apiserver / prism. But for the prism library, there is repo dependency issue so it might be a bit hard to deal with it.

[2022-10-10 07:46] wonderflow opened #4842 "[Feature] integrate with backstage to register backstage catalog automatically"
**Is your feature request related to a problem? Please describe.**

Backstage (https://backstage.io) is very popular.

KubeVela can integrate with backstage to register kubevela apps as backstage catalog to manage IT resources, the ownership, relationship and developer portal.

**Describe the solution you'd like**

1. make backstage as an addon
2. integrate with backstage API and build a workflows

[2022-10-10 13:28] cloorc opened #4844 "Lark notification workflow is not working"
Lark notification workflow is not working

**To Reproduce**
1. Add notification workflow to application with values:

[code]

Lark got nothing after previous step done.

**Expected behavior**
Lark will got a message after the deployment step.

**Screenshots**

![image](https://user-images.githubusercontent.com/13597105/194876960-17f84936-0a1f-437f-b4c2-c21749c5fa77.png)

**KubeVela Version**

v1.5

[2022-10-11 01:41] miyoosan opened #4846 "[BUG][Addon] Failed to enable grafana addon"
**Describe the bug**
failed to enable grafana addon

**To Reproduce**
[code]

**Expected behavior**
success

**Screenshots**
<img width="1432" alt="image" src="https://user-images.githubusercontent.com/25057968/194977958-e79ba55d-c926-4269-9c28-973d40c92513.png">

**KubeVela Version**

[code]

**Cluster information**

- Kubernetes Version 1.22.3

[2022-10-11 01:47] barnettZQG commented on #4846
@miyoosan Can you try:

[code]

[2022-10-11 02:12] miyoosan commented on #4846
@barnettZQG 谢谢，可以了。不过命令应该是
[code]

[2022-10-11 02:15] wonderflow commented on #4846
Because the dependent addons also need to follow v0.1.0. While the version of dependency addon is defined, which is causing this problem. Dependency addons can be installed manually in this case.

\cc @wangyikewxgm

[2022-10-11 02:28] cloorc commented on #4844
Sorry, `text` message has been tested. No message is resulted from failure of previous deployment step.

[2022-10-11 02:28] #4844 closed

[2022-10-11 02:41] miyoosan commented on #4846
Thanks very much, it works for me.

[2022-10-11 03:51] wonderflow commented on #4846
I'll keep this issue open untinl we fixed this.

[2022-10-11 03:52] wonderflow commented on #4844
@cloorc Does it work now?

[2022-10-11 04:06] wangyikewxgm commented on #4846
The reason is addon's dependency hasn't supported to specify version, always use the latest version by default.

[2022-10-12 03:32] yincyx commented on #1662
Orgnization/Company: 铭师堂
Location: Hangzhou, ### **China**
Contact: yinchao@mistong.com

Status: development & testing
Purpose/Scenario: Planning to build Devops using OAM

[2022-10-12 12:13] fly3366 commented on #4509
lgtm

[2022-10-12 18:49] uningan commented on #3954
I thought kubevela/oam key point was model application deployments in whatever scheduler (k8s, nomad, systemd, ...). Is it not anymore? Or maybe I misunderstand OAM target?

[2022-10-13 01:52] cloorc commented on #4844
Yes, it is actually works. The official example https://kubevela.io/docs/end-user/workflow/built-in-workflow-defs#examples-notification works fine.

[2022-10-13 02:13] wonderflow commented on #3954
@uningan We can integrate nomad as an addon for this support instead of writing new wheels.

[2022-10-13 07:36] prasadpatil25 opened #6117 "Unable to install KubeVela on Windows OS"
Hi Everyone,

I tried installing KubeVela on Windows by following this document:
https://kubevela.io/docs/installation/standalone#local

This is the command I tried and it shows the following error:

[code]

When I manually hit [velad-windows-amd64-v1.5.6.zip](https://static.kubevela.net/binary/velad/v1.5.6/velad-windows-amd64-v1.5.6.zip), that zip was not getting downloaded.

[2022-10-14 00:50] tangoliu commented on #3666
/assgin

[2022-10-14 01:30] chengleqi opened #4861 "[Feature][Addon] Add KubeFlow and Volcano addons"
Hi guys. As we know [Kubeflow](https://www.kubeflow.org/) is a one-stop solution has many [components](https://www.kubeflow.org/docs/components/) and its installation is painful. I want to add some ComponentDefinition such as **PyTorchJob** or **TFJob**. I think it'll make us run AI workloads more Lightly and flexibly.

[2022-10-14 01:58] wonderflow commented on #4861
Great!

[2022-10-14 02:04] chengleqi commented on #4861
/assign

[2022-10-14 12:56] wonderflow opened #4863 "[Feature] support parameter in health evaluation cue template"
**Is your feature request related to a problem? Please describe.**

I need to define multiple traits of the SAME TYPE to the same component. Thus I need to get the output of that specific trait by its name. Something the folllowing `healthPolicy` but it is not working… What can I do?

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

**Additional context**

[2022-10-14 12:58] manuelcoppotelli commented on #4863
Thank you @wonderflow for opening the feature request on my case

[2022-10-14 21:43] hernanpl opened #4868 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for KubeVela](https://clomonitor.io/projects/cncf/kubevela#kubevela) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

##

[2022-10-15 06:15] Hanmengnan opened #4869 "[Feature] add a new feature of viewing Pod log in `vela top`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

We can use the log functions implemented in `vela logs` to view the pod logs in `vela top`.

![demo](https://user-images.githubusercontent.com/30918851/195972118-9e0fe54b-5ad5-4ec3-b30e-f0a5b3c78a39.gif)

**Describe alternatives you've considered**

**Additional context**

[2022-10-15 08:20] unionhu opened #4871 "[Feature]support velaux workflow api timeout paramter"
**Is your feature request related to a problem? Please describe.**
through terraform deploy cloud  resource services，sometime it may fail，we want fail info through webhook notify us，but found velaux api do not support workflow timeout

**Describe the solution you'd like**
velaux api support workflow timeout paramter

vela version：1.5.6

[2022-10-17 08:17] wonderflow commented on #4822
@suzuki-shunsuke Hi, it's fixed in the new release https://github.com/kubevela/kubevela/releases/tag/v1.5.7

[2022-10-17 08:47] suzuki-shunsuke commented on #4822
Thank you!

[2022-10-17 12:13] wonderflow commented on #1400
Finally, we have finished the upgrade in the master branch! Thanks to the CUE community!

#4851
#4786
#4758
#4739
#4734

Thanks for your great effort! @FogDong @Somefive

[2022-10-17 12:13] #1400 closed

[2022-10-17 12:15] wonderflow commented on #1784
Hi, @rapkey It's really really sorry for the long time upgrade process, Finally we have managed to fix it. The CUE upgrade has been done in the master banch and will be released in the v1.6. Hope you're still interested in it.

Thanks!

[2022-10-17 12:15] #1784 closed

[2022-10-17 12:20] wonderflow commented on #4106
Closing, it's dup with https://github.com/kubevela/velaux/issues/536, and please refer to https://github.com/kubevela/velaux/pull/615

[2022-10-17 12:20] #4106 closed

[2022-10-17 18:09] Hyperbolic007 commented on #4792
As kekeDanny hasn't raised any PR. Can I work on this issue?? @wonderflow

[2022-10-17 23:55] wonderflow commented on #4792
@Hyperbolic007 thanks, let me confirm once again.
@kekeDanny hi, are you still work on this?

[2022-10-18 01:06] kekeDanny commented on #4792
Sorry, it's taking up resources. I'm a little busy recently. Not enough time to do it. If you are ready, you can confirm it.

---Original---
From: "Jianbo ***@***.***&gt;
Date: Tue, Oct 18, 2022 07:55 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [kubevela/kubevela] [Feature] checkname validator in apiservershould has max length 64 to make it more proper (Issue #4792)

@Hype

[2022-10-18 09:16] #4863 closed

[2022-10-18 09:23] wonderflow commented on #4792
@kekeDanny Thanks for your confirmation! @Hyperbolic007 I've assigned to you.

[2022-10-18 11:38] xueliangyang-oeuler opened #4882 "[Feature] make nomad as an addon"
Is your feature request related to a problem? Please describe.

There's a repo for making an addon : https://github.com/hashicorp/nomad

Describe the solution you'd like

make some kinds of component, such as nomad-job.

[2022-10-18 11:39] oeular commented on #3954
Here is an issue for nomad addon: https://github.com/kubevela/kubevela/issues/4882#issue-1413064449

[2022-10-18 11:47] #4869 closed

[2022-10-18 14:22] lilei20200726 opened #4884 "[Feature]对于使用 terraform的组件申请云资源，job拉起的pod中运行provider的调用云资源申请失败，目前是无线重试资源申请，能否支持重试次数，或者单次调用即可"
**Is your feature request related to a problem? Please describe.**
kubevela使用terraform组件申请云资源失败后，目前job会无限次重新拉起pod，调用云资源的申请。
**Describe the solution you'd like**
kubevela使用terraform组件申请云资源失败后，可根据实际情况配置k8s的job的pod资源，设置重试次数或者失败则不重试。

**Describe alternatives you've considered**
可通过修改terraform-controller的job的pod资源定义文件，修改pod的重启策略，可设置重试次数或者失败则不重试。
**Additional context**

[2022-10-19 01:29] unionhu commented on #4871
sorry, we also need velaux api support workflow if paramter

[2022-10-19 01:36] liulei08 opened #4885 "[Feature]想在1.3.3版本添加使用op.#Fail功能"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-19 01:51] wonderflow commented on #4885
You can upgrade to vela 1.5.x for this feature, we won't add features to past releases, just bug-fixes will be backport for the last two minor releses.

[2022-10-19 01:52] wonderflow commented on #4871
@unionhu Would you like to contribute this feature?

[2022-10-19 03:23] FogDong commented on #4861
Hi, we already have KubeFlow addon in [model-training](https://github.com/kubevela/catalog/blob/master/addons/model-training/readme.md). You can use this definition to train your model with different frameworks: https://github.com/kubevela/catalog/blob/master/addons/model-training/definitions/training-comp-def.yaml#L220

[2022-10-19 04:48] chengleqi commented on #4861
Oh, thanks. That's great. I'll look into it.

[2022-10-19 06:13] FogDong commented on #4861
You can also checkout our machine learning blog here: https://kubevela.io/blog/2022/03/02/kubevela-with-machine-learning

[2022-10-19 08:56] wonderflow commented on #4785
I'll make the API more easy to use, so it should be :

[code]

[code]

[2022-10-19 09:26] seedsunrise1 opened #4887 "application's PHASE is running and status is healthy,but have no any resource ,such as pod ,svc ,pvc."
application's status
![QQ图片20221019170655](https://user-images.githubusercontent.com/73209573/196652043-b8cab9d9-43ee-4cb0-88d9-e283803d5cdc.png)
application's yaml
![QQ图片20221019170929](https://user-images.githubusercontent.com/73209573/196652155-0fda4e1a-7be0-4ef0-8e78-7227ac568ae3.png)
application's revision
![QQ图片20221019171212](https://user-images.githubusercontent.com/73209573/196652262-ee9c

[2022-10-19 09:28] huangyanhong opened #4888 "[Feature] webservice cpu"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-19 11:14] Somefive commented on #4887
This is a known issue. Probably due to the re-run of workflow. We will handle it recently. Thanks for the reporting.

[2022-10-20 02:21] wonderflow commented on #4605
Need to check this idea:

1. create an empty ingress with the URL inside and mark it as sub-resource in the topology.
2. use vela status --endpoint to get the ingress object

\cc @barnettZQG

[2022-10-20 04:30] Hanmengnan opened #4891 "[Feature] add the container view to `vela top`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

add a new view named container view to vela top which display container info

<img width="1901" alt="image" src="https://user-images.githubusercontent.com/30918851/196856743-4a9ec3ed-4627-4e0e-af7d-f89946a5bcfd.png">

**Describe alternatives you've considered**

**Additional context**

[2022-10-20 06:58] #4891 closed

[2022-10-20 07:10] wonderflow commented on #4744
@26tanishabanik Hi, are you still working on it?

[2022-10-20 07:13] huangyanhong commented on #4888
webservice  cpu  mem  config is necessary，if I  I want config cpu  limit and request is different, how i can config?

[2022-10-20 07:19] wonderflow commented on #4888
I'm a bit confused, can you paste the error case?

[2022-10-20 07:25] 26tanishabanik commented on #4744
@wonderflow , yah, I am working on it. I got some personal emergency. Will resume again soon

[2022-10-20 08:05] henkuaifacai opened #4893 "invalid argument "LegacyComponentRevision=false" for "--feature-gates" flag: unrecognized feature gate: LegacyComponentRevision"
目前用的是1.4.1,准备升到1.5.7但是报错了，按着这个部署升级 的
https://kubevela.io/zh/docs/platform-engineers/system-operation/migration-from-old-version

执行到这一步的时候报错，然后看了下新建的pod启动报错
[root@master01 ~]# helm upgrade -n vela-system --install kubevela kubevela/vela-core --version 1.5.7 --wait
Error: UPGRADE FAILED: timed out waiting for the condition

![image](https://user-images.githubusercontent.com/111876424/196896256-bf87

[2022-10-20 08:11] huangyanhong commented on #4888
![image](https://user-images.githubusercontent.com/26728869/196893452-0a6903d5-e600-4ced-aaf2-65e6ae40e400.png)

[2022-10-20 08:36] miyoosan commented on #4820
@chengleqi 你好，我还有个疑问，vela暴露的pullInterval参数，是[GitRepository](https://github.com/chengleqi/kubevela-catalog/blob/f75ab6242ed398481b21e6d03a10dfa413ed7bfe/addons/fluxcd/definitions/kustomize.cue#L19)、[ImageRepository](https://github.com/chengleqi/kubevela-catalog/blob/f75ab6242ed398481b21e6d03a10dfa413ed7bfe/addons/fluxcd/definitions/kustomize.cue#L91)、[ImageUpdateAutomation](https://github.com/cheng

[2022-10-20 08:44] huangyanhong commented on #4888
backend apply  application   can  only use one of them ，but ui can't  only use one of them

[2022-10-20 09:01] miyoosan commented on #4820
@chengleqi 谢谢~  那就好，我怕共用Interval的时候，interval设小了ImageRepository会消息多到积压得爆炸，毕竟有多少个应用就有多少个ImageRepository，这个好像还不能跟GitRepository一样复用。 这种优化类的issue不是很着急，你按你的节奏来

[2022-10-20 13:16] ouweijun1 opened #4897 "velaux更新到1.5.6时，从页面上打开看应用的实例会有一个报错：view query failed"
![image](https://user-images.githubusercontent.com/111876424/196958693-26d4d176-b1be-43c0-8877-f69193cb22c9.png)
页面上报错是这样子的
日志报错：
{"level":"error","ts":1666270229.1308448,"caller":"service/velaql.go:74","msg":"fail to query the view fail to get view template vela-system/component-pod-view from configMap: configmaps \"component-pod-view\" not found

[2022-10-20 13:18] ouweijun1 commented on #4897
解决方式：下载下面的文件,修改下格式还有命令空间，然后apply一个就可以解决这个问题
https://github.com/kubevela/kubevela/blob/master/charts/vela-core/templates/velaql/component-pod.yaml

[2022-10-21 04:06] ouweijun1 commented on #4897
后面发现少了不止这个配置，还有好几个，解决方法就是再更新到1.5.0这个版本，然后再更新回1.5.6就可以了，1.5.6没有把1.5.0新加的一些配置带上
![image](https://user-images.githubusercontent.com/111876424/197109321-96c1c0d6-f546-4fd9-8d0d-85cc39c9a60f.png)

[2022-10-21 06:48] shikingram opened #4900 "[Feature]Why not make vela CLI a separate project"
RT

[2022-10-22 12:04] yxxhero opened #4907 "[Feature] helmfile support"
**Describe the solution you'd like**

https://github.com/helmfile/helmfile

Declaratively deploy your Kubernetes manifests, Kustomize configs, and Charts as Helm releases in one shot.

helmfile base helm. He can better manage the helm. Currently, it has been integrated by jenkins and gitlab.

[2022-10-23 15:54] willzhang commented on #3412
same with v1.5.7
[code]

[code]

nothing else do
[code]

[2022-10-23 16:10] willzhang commented on #3412
1. Kubernetes Requirements:
Kubernetes cluster >= v1.19 && <= v1.24

[code]

[2022-10-24 02:21] wonderflow commented on #3924
## check cluster-gateway APIService

[code]

![image](https://user-images.githubusercontent.com/2173670/197435989-e1ea5de0-6575-4709-8d45-704c25826def.png)

CaBundle should be injected by a job but it's missing, that's the reason.

![image](https://user-images.githubusercontent.com/2173670/197436083-5fb00ad5-d41c-4b0e-9cb0-029227128ef2.png)

The `vela system diagnose` could show the result, ask th

[2022-10-24 02:40] wangyikewxgm commented on #4907
As far as I can see, this project dose same thing that fluxcd can do better. But still interested in how can it integrated with KubeVela.

[2022-10-24 03:01] willzhang commented on #3412
helm debug
[code]

[2022-10-24 03:04] willzhang commented on #3412
fixed by:
[code]

[code]

[2022-10-24 12:42] apmartins85 commented on #4846
I also see a typo, init?
`Install grafana-definitions(vv0.1.0) which is the latest version that suits current version requirements`
`vv`

[2022-10-25 02:26] Hanmengnan opened #4914 "[Bug] For a `Cron-Task` component, cannot get its Pod."
**Describe the bug**

we can't get Pods generated by a `Cron-Task` component, if `labels` parameter isn't added.

**To Reproduce**

I use the YAML to run an application:

[code]
But I can't get the pod generated by it.

<img width="978" alt="image" src="https://user-images.githubusercontent.com/30918851/197667529-495c2ab3-b159-4aaa-a674-89c9c0c2d91c.png">

**Expected behavior**

**Screenshots**

*

[2022-10-25 02:30] Hanmengnan commented on #4914
I think this issue is because default method of generating selector is to copy labels from `spec.selector` field, but labels in `CronJob` are not in this place.

So, I think we should add an additional method to get the labels in `CronJob`.

[2022-10-25 03:39] wonderflow commented on #4914
can we add the cronjob definition to add the label?

[2022-10-25 06:23] Hanmengnan commented on #4914
Sorry, I don't know how you plan to update the definition of cronjob, because I know the `selector` field doesn't exist in cronjob's `spec`, instead the `selector` is in `spec.jobTemplate.spec`. So, I think it seems that we need to use a different method to get the labels in CronJob.

[2022-10-25 13:15] #4757 closed

[2022-10-26 07:12] nuclearwu opened #4921 "'vela dry-run' error when installing kubevela to non-vela-system namespace"
**Describe the bug**

'vela dry-run -f guestbook-app.yaml' error when installing kubevela to non-vela-system namespace, the error message is workloaddefinitions.core.oam.dev “k8s-objects” not found. but specifying namespace like this 'vela dry-run -f guestbook-app.yaml -n karmada-system' works well. So I wonder if this is a problem, In theory, no matter which namespace kubevela is installed in, it

[2022-10-26 07:19] Young-Zen opened #4922 "[Bug] Fail to get vela Application status using jsonpath filter expression"
**Describe the bug**

We can't get vela Application status using jsonpath filter expression:
[code]

But kubectl can do it successfully:
[code]

**To Reproduce**

1. Create an environment and deploy the application:
[code]
2. Get vela Application status using jsonpath filter expression:
[code]

**Expected behavior**

**Screenshots**

**KubeVela Version**

[code]

**Cluster information**

**Additio

[2022-10-26 08:35] Hanmengnan commented on #4897
请问你是从哪个版本升级到1.5.6遇到的这个问题？

[2022-10-26 08:36] ouweijun1 commented on #4897
1.4.1

[2022-10-26 08:54] Hanmengnan commented on #4897
我尝试复现了一下您的错误，但并没有成功。
就像你自己所说的，你发现缺少了一些configMap导致报错，这些configMa是在velaUX安装的过程中apply的，所以在存在velaUX的情况下，是一定会存在这些configMap，所以我不太清楚你为何会出现上文中的问题。

[2022-10-26 19:20] hanxinhang opened #4928 "How to enter the value of multi line text in export2config ?"
When I use export2config in the workflow step, I add a key and value to the data, but the value can only be written in one line, not multiple lines. What should I do?

[2022-10-27 02:47] nuclearwu opened #4929 "[Bug] 'vela env init' occasionally reports an error"
**Describe the bug**

'vela env init' occasionally reports an error as "Operation cannot be fulfilled on namespaces "prod": the object has been modified; please apply your changes to the latest version and try again", but actually env was created successfully.
![image](https://user-images.githubusercontent.com/37976659/198178787-b6cdbbb4-6669-4efe-b65e-ed870e2ef64c.png)
![image](https://user-image

[2022-10-27 02:47] #4914 closed

[2022-10-27 06:12] wonderflow commented on #4921
Yes, currently the CLI will use `vela-system` as the system capability namespace, we should support to override it in some mechanism. In your case, we should support somthing such like:

[code]

[2022-10-27 06:21] wonderflow commented on #4928
[code]

[2022-10-27 06:41] #4922 closed

[2022-10-27 07:47] wonderflow commented on #4900
that's good idea! but we haven't scheduled time for that. It takes time to setup all the things such as release binary automatically and CI process.

[2022-10-27 08:16] nuclearwu commented on #4921
I was wondering if it is possible to import the environment variables of the default installation namespace when specifying a non-a namespace to install vela-core, and then read the environment variables directly during vela dry-run, if the environment variables exist, use the environment variables as The default namespace, if it does not exist, the default vela-system namespace is used

[2022-10-27 08:42] nuclearwu commented on #4784
Migrate an already deployed application(such as the application deployed through `helm install` or the application deployed by `kubectl apply yaml`) to kubevela, and then manage the deployed application through the kubevela control plane.

[2022-10-27 09:17] wonderflow commented on #4921
yes, it's also one of the solutions. Vela-core already supports different namespace other than `vela-system`.

[2022-10-27 11:01] #4784 closed

[2022-10-28 02:51] nuclearwu commented on #4929
After adding the relevant logs in the `updateNamespace` stage and rebuilding the binary package and execute `vela env init`, it is located that the error occurs in the `updateNamespace` stage. But the update is based on the changes made after `getNamespace`, it is not clear why the problem of resourceVersion is triggered. In fact, if the namespace does not exist, it can be returned directly after

[2022-10-28 03:38] wonderflow commented on #4929
yes, if the namespace is just created, we don't need to upodate it. Only if the namespace don't have the env label that we need to create it.

[2022-10-28 07:12] Somefive opened #4948 "[Bug] Health check bypass owner check"
**Describe the bug**

When using `deploy` workflow step to dispatch resources, it will
1. do health check for all components to deploy
2. for unhealthy component, execute applyComponent
3. do health check again

For second step, if the resource to create already exists, it will fail due to the incorrect management. This can prevent application from intruding resources created by other system/peopl

[2022-10-29 02:35] #4929 closed

[2022-10-29 02:38] wonderflow commented on #4765
@26tanishabanik Hi, are you still working on this?

[2022-10-29 02:40] wonderflow commented on #4418
It's supported now, refer to this tutorial for this  feature: https://github.com/kubevela/kube-trigger/tree/main/examples

[2022-10-29 02:40] #4418 closed

[2022-10-29 13:12] barnettZQG commented on #374
Now, we have an observability addon suite.

![image](https://user-images.githubusercontent.com/18493394/198833163-78a2eb7c-bcef-4742-8f12-3e8687822928.png)

 Users could enable them by a Pipeline automatically.

![image](https://user-images.githubusercontent.com/18493394/198833210-f1058272-0992-4393-b0f9-4423001dca82.png)

Many Dashboards and Datasources will be created in Grafana automatically.

[2022-10-29 15:23] oeular opened #4956 "[Feature] make spark as an addon"
Is your feature request related to a problem? Please describe.

There's a repo for making an addon : https://github.com/GoogleCloudPlatform/spark-on-k8s-operator

Describe the solution you'd like

make one  component definition called spark.

[2022-10-30 03:40] wonderflow opened #4957 "Using context.revision as object name failed"
**Describe the bug**

Using the following definition with one line added:

[code]

The full definition is:

[code]

It reports error:

[code]

**To Reproduce**

**Expected behavior**

Should generate successfully with Component revision as my name suffix, no errors.

I think just ignore get the object status when there's a placeholder in the name as it won't exist at all.

**Screenshots**
![image]

[2022-10-30 06:18] 13567436138 opened #4958 "type incorrect，when some resource can not be deleted"
**Describe the bug**

type incorrect，when some resource can not be deleted
**To Reproduce**

apply the yaml in order as flowing:
before you should install nfs in some machine:
[code]

[code]

[code]

[code]

vela status task

![lQLPJxbTch4B8oDNAbbNAk2wwG2BtXLQ9PgDW3_B_EDsAA_589_438 png_620x10000q90](https://user-images.githubusercontent.com/31508490/198865358-b0ca1b10-75d8-44f8-b30f-e38ba004c006.j

[2022-10-31 06:31] fly3366 opened #4965 "Workflow may infinity loop when use cue templete."
**Describe the bug**
use notification with any value and inputs.

**To Reproduce**
error:
![image](https://user-images.githubusercontent.com/38378045/198945380-978f84b8-f6fe-4559-898c-ae0c66b3b238.png)

yaml slice:
![image](https://user-images.githubusercontent.com/38378045/198945573-46fe627d-1279-452e-9ab6-17435efdceea.png)

**KubeVela Version**
1.5.8

**Cluster information**
1.24 k3s

[2022-10-31 07:19] FogDong commented on #4965
Can you provide the application status?

You specify the inputs in the step, which means this step will wait for the inputs to execute, and in your case, the `dingding.message.text.content` had filled twice with your input and the value, which will cause conflict.

[2022-10-31 12:50] fly3366 opened #4967 "May "read-object" step use union output?"
**Describe the bug**
Read-object's output return runtime object and mapped with "spec to Sepc" and "status to Status".
If use kind with Service will break mapping. eg. top level "value" will map to "Spec".

**KubeVela Version**
1.5.8

**Cluster information**
1.24 k3s

[2022-10-31 12:58] fly3366 opened #4968 "[Feature] Support error handler when workflow throw error."
**Is your feature request related to a problem? Please describe.**
Now, we use webhook will always success. If network error or other application's error broken hook's request.
Other like read-object step. Sometime we need nullable and someone always not want it.

There is no way to stop workflow and notify user.

**Describe the solution you'd like**
Any step need return their status. like webhook

[2022-10-31 15:09] wonderflow commented on #4967
Can you describe how to re-produce this bug?

[2022-11-01 01:58] #4728 closed

[2022-11-01 02:44] FogDong commented on #4968
You can check the example in doc that write a step definition for send a http request, and fail the step if the status code is >200: https://kubevela.net/docs/next/platform-engineers/workflow/workflow#deliver-a-simple-workflow-step

[2022-11-01 02:46] FogDong commented on #4968
In a short, you can use `op.#Fail` to fail the step: https://kubevela.net/docs/next/platform-engineers/workflow/cue-actions#fail

And use `if: status["stepname"].fail` in your error handling step: https://kubevela.io/docs/end-user/workflow/if-condition#custom-if-conditions

[2022-11-02 02:32] #4968 closed

[2022-11-02 02:32] #4967 closed

[2022-11-02 02:33] #4965 closed

[2022-11-02 06:38] cloorc opened #4982 "v1.6.0-beta.2: "Unable to init builtin imports" err="open actions\\v1\\pkgs: file does not exist""
**Describe the bug**
On Windows 11 22H2 (22621.674) Home Edition, build from source code tag `v1.6.0-beta.2`. On executing the built binary as:

`git-bash $ ./bin/vela`

**NOITE**: `1.6.0-beta.1` works fine.

**To Reproduce**

Steps to reproduce the behavior:
1. Checkout source code: `git checkout v1.6.0-beta.2 -f`
2. Build the cli: `go build -o bin/vela -a references/cmd/cli/main.go`
3. Execute t

[2022-11-02 08:06] cloorc commented on #4982
![image](https://user-images.githubusercontent.com/13597105/199433778-f1074de8-8e1c-4680-9714-d0d809fe3565.png)

![image](https://user-images.githubusercontent.com/13597105/199433746-bafc429e-ff95-4882-b746-7ea7dc107225.png)

[2022-11-02 09:46] chivalryq commented on #4958
I can't re-produce this bug. Can you follow this steps to give more information?

1. Apply application which will cause the problem.
2. Run `vela status` and confirm the type isn't right.
3. **Run `kubectl get app <you-app> -o yaml` and paste the YAML printed**

[2022-11-02 13:22] fly3366 opened #4986 "Multi-Protocol in same port under component's define may duplicate."
**Describe the bug**
If set same port with diff protocol will make yaml parse error.

**To Reproduce**
![image](https://user-images.githubusercontent.com/38378045/199500038-3c3d5ad1-5058-4d58-9446-47c597d174b4.png)

**Expected behavior**
1. set component's port with same port but different protocol.
2. do deploy, fluxcd(gitpos context) will throw error.

**KubeVela Version**
1.5.8

**Cluster infor

[2022-11-02 14:38] #4982 closed

[2022-11-03 00:48] dwctua opened #4989 "[Feature] need to have audit trail for all the change events"
**Is your feature request related to a problem? Please describe.**
lack of audit log for what has been changed in the system such as env added/deleted/updated, work flow approve/reject

**Describe the solution you'd like**
able to log the events and display on the UI with filters, it will be very useful to allow user to export the events to other system like splunk or a message queue

**Describe a

[2022-11-03 09:43] wonderflow opened #4993 "Env trait not work in override scenario"
**Describe the bug**

![image](https://user-images.githubusercontent.com/2173670/199689387-125dc5a6-f6c1-473a-a37e-f2a6a2d8b8a5.png)

![image](https://user-images.githubusercontent.com/2173670/199689196-1581bd82-4fba-46e0-b78d-4fdba241f67d.png)

**To Reproduce**

**Expected behavior**

**Screenshots**

**KubeVela Version**

v1.6.0

**Cluster information**

**Additional context**

[2022-11-03 09:44] nuclearwu opened #4994 "`vela cluster join` reports "resource name may not be empty" error"
**Describe the bug**

`vela cluster join vela cluster join .kube/member2config` reports "resource name may not be empty" error, it works well in previous versions.
![image](https://user-images.githubusercontent.com/37976659/199689056-9af7abef-a91a-45b3-94a6-43a38277fd7a.png)
![image](https://user-images.githubusercontent.com/37976659/199915899-0457f0c9-d5c7-43d4-b4ea-fb8d42874aba.png)

**To Reprod

[2022-11-03 10:56] liutao841204 opened #4995 "不能安装cloudshell"
公司服务器因为使用了网络代理，不能直接上网，所以在安装cloudshell时，出现了如下错误：
<img width="1223" alt="image" src="https://user-images.githubusercontent.com/24605302/199703212-7fee233c-81ba-4840-a05b-27fddd7a056f.png">
使用的命令：vela addon enable cloudshell

是否可以提供一个单独的helm部署方式！！！

[2022-11-03 10:58] liutao841204 commented on #4995
<img width="1463" alt="image" src="https://user-images.githubusercontent.com/24605302/199703847-d9630a9c-6665-4480-999e-e3c6e51d0148.png">
我的插件列表也不能用，可以告诉我在哪里设置代理，您呢个让它上网吗？

[2022-11-03 21:28] saada commented on #4359
I'm also bumping into this issue with ArgoCD+Kubevela. This is one of the main blockers making me skeptical about the kubevela design and divergence from the native k8s API features.

Hey @Somefive, I don't think it is impossible? Kubernetes natively supports [finalizers](https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/) which allow to not get deleted until certain con

[2022-11-04 01:14] liutao841204 commented on #4995
插件列表的事您有什么建议吗？

[2022-11-04 01:26] liutao841204 commented on #4995
您好，给我文件里的这个链接里也没有chart定义啊！
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/24605302/199865419-f9f5564f-6566-4ac3-b2bc-118e17aa9543.png">

[2022-11-04 01:58] barnettZQG commented on #4995
@liutao841204 安装插件涉及需要网络的地方包括：

1. vela-system/vela-apiserver 请求插件列表，域名：addons.kubevela.net
2. flux-system/fluxcd-source-controller 请求 Charts 仓库，域名由具体 Charts 仓库决定。
3. 节点拉取镜像，域名由镜像名称决定。

如果可以设置代理上网，可以考虑在这三个环境设置，HTTP_PROXY 环境变量?

[2022-11-04 03:58] cloorc opened #4996 "`terminate` also mis-terminating new workflow record(current record included) too"
**Describe the bug**
If current workflow record had been suspended and a new workflow record was started too, now we got two workflow records, such as:

`workflow-v1` and `workflow-v2`

then we terminated `workflow-v1`(which was shown in `velaux` prior), now `workflow-v2` would also be terminated. The differences are:

![image](https://user-images.githubusercontent.com/13597105/199882144-526a2e8d-

[2022-11-04 05:53] cloorc commented on #4996
![image](https://user-images.githubusercontent.com/13597105/199900110-578efbc3-d690-414f-b443-b2e8d094fc5e.png)

It seems like the total application will be marked as `terminated `          but left `finished` as `false`.

[2022-11-04 06:10] liutao841204 commented on #4995
我看了vela-apiserver ，ping了
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/24605302/199903591-0130f56b-fbb8-4e30-ba50-bd1fd49b946f.png">
也看了日志：
{"level":"error","ts":1667532870.0720513,"caller":"addon/cache.go:325","msg":"fail to get addons from registry KubeVela for cache updating, download index file from https://addons.kubevela.net failure Get \"https://addons.kubevel

[2022-11-04 06:13] barnettZQG commented on #4995
@liutao841204 这问题非常明显。你需要确保 `curl https://addons.kubevela.net/index.yaml` 可以正常请求。至于如何正确使用代理已经超出了 KubeVela 项目的范围，建议可以关闭该 Issue。

[2022-11-04 06:28] liutao841204 commented on #4995
真遗憾，看来我的环境不能用vela，我暂时放弃吧！

[2022-11-04 07:08] nuclearwu commented on #4994
/assign

[2022-11-04 07:29] wonderflow commented on #4995
@liutao841204 Hi，针对这个问题，你可以自己搭一个内网的插件仓库来解决哈，不需要搭建网络代理  https://kubevela.io/zh/docs/platform-engineers/addon/addon-registry

[2022-11-04 07:31] wonderflow commented on #4995
内外环境下离线同步插件的文档可以参考： https://kubevela.io/zh/docs/platform-engineers/addon/addon-registry#%E5%9C%A8%E7%A6%BB%E7%BA%BF%E7%8E%AF%E5%A2%83%E4%B8%AD%E5%90%8C%E6%AD%A5-addon-%E5%88%B0-chartmuseum

[2022-11-04 09:11] Hanmengnan opened #5001 "[Bug] In `vela top`, the UI interaction will get stuck when interacting with remote clusters with poor network"
**Describe the bug**

In `vela top`, the UI interaction will get stuck when interacting with remote clusters with poor network.

**To Reproduce**

When we try to show the resource topology of applications deployed in overseas clusters, it takes a long time to show the topology, which causes subsequent interactions to get stuck.

**Expected behavior**

**Screenshots**

**KubeVela Version**

**Clust

[2022-11-04 12:39] cloorc opened #5005 "`/view/cloudshell/token` request 401 will terminate new cloudshell session"
**Describe the bug**

On `velaux`, click `cloudshell` to start a new cloudshell session and the `cloudshell` will be terminated rapidly.

**To Reproduce**

1. Login to velaux
2. Choose one application & enter the application dashboard
3. Click cloudshell icon to open a new cloudshell session

**Expected behavior**

1. cloudshell will be opened and will not be terminated in less than 10s

**Screens

[2022-11-04 13:43] oeular opened #5006 "[Feature] make kafka as an addon"
Is your feature request related to a problem? Please describe.

There's a repo for making an addon : https://github.com/strimzi/strimzi-kafka-operator

Describe the solution you'd like

make some kinds of components for kafka cluster

[2022-11-05 02:44] reckless-huang opened #5008 "velaux1.6 with domain setting not work"
use vela addon enable velaux domain=velaux.xxx deploy ux , get error
[code]
my cluster info
[code]
ingress info
[code]
 error happend here?
https://github.com/kubevela/kubevela/blob/master/vela-templates/definitions/internal/trait/gateway.cue#L58

[2022-11-05 03:06] wonderflow commented on #5008
Thanks for reporting, but I didn't reproduce your error in mycluster.

[2022-11-05 03:39] wonderflow commented on #5008
It seems it's not caused by clusterVersion, it possible caused by get endpoint.

My K8s cluster is 1.21 while the issue happen on 1.24, in that version ingress v1beta1 is not supported anymore.

[2022-11-05 03:41] wonderflow commented on #5008
![image](https://user-images.githubusercontent.com/2173670/200099297-97925be2-dc03-4645-b7f5-430c7a44e25c.png)

To he corresponding code is here:

![image](https://user-images.githubusercontent.com/2173670/200099309-246db1bb-e169-4244-b6f1-7c0cda41778d.png)

[2022-11-05 03:42] wonderflow commented on #5008
The code has ingress.SetGroupVersionKind in it but seems not working, still using `v1beta1`.

[2022-11-05 16:04] oeular opened #5009 "[Feature] make rabbitmq as an addon"
Is your feature request related to a problem? Please describe.

There's a repo for making an addon: https://github.com/rabbitmq/cluster-operator

Describe the solution you'd like

make some kinds of components for rabbitmq cluster

[2022-11-06 06:02] oeular opened #5010 "[Feature] make koordinator as an addon"
Is your feature request related to a problem? Please describe.

There's a repo for making an addon : https://github.com/koordinator-sh/koordinator

Describe the solution you'd like

make some kinds of traits, such as  Colocation Profile,
Load Aware Scheduling, Fine-grained CPU Orchestration, Resource Reservation, PodMigrationJob, Device Scheduling, GangScheduling, Multi Hierarchy Elastic Quota Man

[2022-11-06 09:18] 13567436138 commented on #4958
yaml change suggestion
···
          - kind: ClusterRoleBinding
            apiVersion: rbac.authorization.k8s.io/v1
            metadata:
              name: run-nfs-provisioner
            subjects:
              - kind: ServiceAccount
                name: nfs-provisioner
                namespace: prod
            roleRef:
              kind: ClusterRole
              name: nfs-provisioner-run

[2022-11-06 09:25] 13567436138 commented on #4958
[code]

[code]

it seams it is ok now??????

[2022-11-06 09:52] chivalryq commented on #4958
Yes, seems it works as expected. After I checked the code here, I think the problem of showing a completely different type of component is impossible.
The possible situation is you applied a app with `webservice` first and run `vela ls` then you applied app without `webservice`.

I'm gonna closing this issue since it's not reproducible. Thanks for reporting.

[2022-11-06 09:52] #4958 closed

[2022-11-07 03:02] barnettZQG commented on #5005
@cloorc After testing it, the CloudShell environment worked well after this failed request. For this reason, refer to https://github.com/cloudtty/cloudtty/issues/178

[2022-11-07 05:59] cloorc commented on #5005
It seems like there is another problem. In our cluster, the CloudShell won't live more then 5 seconds if nothing has been typed. I'll check it. Maybe a new issue should be reported.

[2022-11-07 08:13] #4994 closed

[2022-11-07 09:29] 13567436138 opened #5017 "[Feature]kubevela installed fluxcd can not use flux command"
A clear and concise description of what you want to happen.
-->
relative issue ：
https://github.com/fluxcd/flux2/issues/3291

**Describe alternatives you've considered**

**Additional context**

[2022-11-07 09:41] Somefive commented on #4986
You are using `webservice` component, is it right? I think it is caused by the duplicated name rendering. Could you try to add explicit name to these two port? Like
[code]

[2022-11-07 09:43] Somefive commented on #4989
Where do you prefer to print the audit log? In apiserver log? Or the vela-core controller log?

[2022-11-07 09:45] Somefive commented on #4993
Caused by CUE 0.5.0 bug as mentioned in https://github.com/cue-lang/cue/issues/2062

[2022-11-07 09:58] chivalryq commented on #5017
How do you want to use flux CLI with vela?

[2022-11-07 11:36] #5017 closed

[2022-11-07 13:22] dwctua commented on #4989
@Somefive , print in the audit trail in serve log  is a good start. but there will be extra work for user to parse the logs. The audit log is important for enterprise to manage and oversee what was happening in the system.  is it possible to implement the following:
1. persistent logs within the system. system can provide APIs to query and filter the logs, the same log should be also displayed on

[2022-11-08 04:03] #5008 closed

[2022-11-08 07:08] 13567436138 opened #5024 "can not connect aliyun oss,head invalid"
**Describe the bug**

can not connect aliyun oss
**To Reproduce**

[code]

[code]
**Expected behavior**

no error
**Screenshots**

**KubeVela Version**

**Cluster information**

1.21.0
**Additional context**

[2022-11-08 07:13] chivalryq commented on #5024
Seems like you didn't configure the authentication secret right.

[2022-11-08 07:13] wangyikewxgm commented on #5024
It's look like the fluxcd controller cannot fetch your bucket with the ak/sk. Not the bug of kubevela

[2022-11-08 07:26] #4993 closed

[2022-11-08 09:20] 13567436138 commented on #5024
how to config：
[code]

[2022-11-08 13:05] chivalryq commented on #5024
have you checked the related documents about the format？

[2022-11-08 14:35] oeular opened #5027 "[Feature] make volcano as an addon"
Is your feature request related to a problem? Please describe.

There's a repo for making an addon : https://github.com/volcano-sh/volcano

Describe the solution you'd like

make some kinds of components, such as vcjob

[2022-11-09 00:56] limary opened #5029 "[Feature]workflow 项目去掉对kubevela主库的依赖"
目前使用workflow没有遇到使用的问题，但workflow包中有对kubevela主库的依赖

workflow 本就是一个可以单独功能的项目